.git/
bin/
dist/
lib/
node_modules/
packages/api/lib/
#assets

Session.vim

*.log

**/*.DS_Store

hancell_test_file.cell

.idea

docs/benchmarks/
src/api/functional
src/executable/migrations

wrtnio-connector-api-*.tgz