{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "version": "0.1.123",
    "title": "@wrtn/connector",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/_health": {
      "get": {
        "description": "health check port",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run": {
      "post": {
        "description": "Run workflow",
        "tags": [
          "Workflow"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRunWorkflowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRunWorkflowOutput"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run/{workflowRunId}": {
      "get": {
        "description": "Return status of one workflow run",
        "tags": [
          "Workflow"
        ],
        "parameters": [
          {
            "name": "workflowRunId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IWorkflowRunStatus"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/runs": {
      "get": {
        "description": "Return all workflow run information",
        "tags": [
          "Workflow"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "워크플로우 id.",
            "description": "지정되지 않으면 모든 실행을 반환."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetWorkflowRunsOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/typeform/workspace": {
      "post": {
        "summary": "타입폼 워크스페이스 생성.",
        "description": "워크스페이스를 생성합니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 워크스페이스 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ICreateWorkspaceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 워크스페이스 ID, 제목, URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.ICreateWorkspaceOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/typeform/workspace/{workspaceId}": {
      "delete": {
        "summary": "타입폼 워크스페이스 삭제.",
        "description": "워크스페이스를 삭제합니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "삭제할 워크스페이스 ID",
            "description": " 삭제할 워크스페이스 ID."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/typeform/get-workspaces": {
      "post": {
        "summary": "타입폼 워크스페이스 정보 가져오기.",
        "description": "워크스페이스 정보를 가져옵니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "워크스페이스 ID, 제목, URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ITypeform.IFindWorkspaceOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/typeform/empty-form": {
      "post": {
        "summary": "타입폼 빈 폼 생성.",
        "description": "워크스페이스에 빈 폼을 생성합니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 폼 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ICreateEmptyFormInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 폼 ID, 제목, 타입.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.ICreateFormOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/typeform/get-forms": {
      "post": {
        "summary": "타입폼 폼 목록 가져오기.",
        "description": "워크스페이스에 존재하는 폼 목록을 가져옵니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "폼 ID, 제목.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ITypeform.IFindFormOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/typeform/duplicate-form": {
      "post": {
        "summary": "타입폼 폼 복사.",
        "description": "워크스페이스에 존재하는 폼을 복사합니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [],
        "requestBody": {
          "description": "복사하여 새로 만들 폼 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.IDuplicateExistingFormInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 폼 ID, 제목, 타입.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.ICreateFormOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/typeform/forms/{formId}/fields": {
      "get": {
        "summary": "타입폼 업데이트 할 폼의 필드 정보 가져오기.",
        "description": "랭킹, 드롭다운, 다중선택 질문의 옵션을 업데이트 할 폼의 필드 정보 가져오기.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "업데이트 할 폼의 ID",
            "description": " 업데이트 할 폼의 ID."
          }
        ],
        "responses": {
          "200": {
            "description": "폼의 필드 ID와 필드명.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ITypeform.IFieldInfoForUpdateFieldValueOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/typeform/forms/{formId}": {
      "put": {
        "summary": "타입폼 폼 필드 옵션 업데이트.",
        "description": "랭킹, 드롭다운, 다중선택 질문의 옵션을 업데이트합니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "업데이트할 폼 필드명과 업데이트 할 값.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.IUpdateFormFieldValueInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.IUpdateFormFieldValueOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      },
      "delete": {
        "summary": "타입폼 폼 삭제.",
        "description": "폼을 삭제합니다.",
        "tags": [
          "Typeform",
          "타입폼",
          "설문조사",
          "온라인",
          "설문지",
          "고객",
          "설문",
          "퀴즈",
          "응답",
          "응답자",
          "질문지",
          "인터뷰",
          "행사",
          "피드백",
          "사용자",
          "이벤트",
          "Survey",
          "Online",
          "Questionnaire",
          "Customer",
          "Quiz",
          "Manage",
          "Response",
          "Share",
          "Create",
          "Interview",
          "Collect",
          "Event",
          "Feedback",
          "User"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "삭제할 폼 ID",
            "description": " 삭제할 폼 ID."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/TypeForm_full.svg"
      }
    },
    "/connector/extract/keyword": {
      "post": {
        "summary": "키워드 추출",
        "description": "주어진 입력과 관련 높은 키워드를 추출합니다.\n\n마케팅 카피를 생성할 때 사용하는 커넥터 입니다.",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "키워드 추출을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추출된 키워드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/keyword.svg"
      }
    },
    "/connector/rank/rank": {
      "post": {
        "summary": "조건 정렬",
        "description": "주어진 아이템의 배열을 점수가 높은 순서대로 정렬합니다.",
        "deprecated": true,
        "tags": [
          "Sort"
        ],
        "parameters": [],
        "requestBody": {
          "description": "정렬할 후보 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRanker.IRankInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "정렬된 후보의 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRanker.IRankOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Sort_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy": {
      "post": {
        "summary": "마케팅 카피 생성",
        "description": "주어진 입력으로부터 마케팅 카피를 생성합니다.",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "마케팅 카피 생성을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 마케팅 카피",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIMarketingCopyComponents"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy-image": {
      "post": {
        "summary": "마케팅 카피 이미지 생성",
        "description": "주어진 입력으로부터 마케팅 카피 이미지를 생성합니다.",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "마케팅 카피 이미지 생성을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyImageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 마케팅 카피 이미지",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMarketingCopyImage"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/aws/file/upload-url": {
      "get": {
        "summary": "파일 업로드 URL 생성",
        "description": "파일 업로드를 하기 위해 필요한 URL을 생성합니다.",
        "tags": [
          "AWS"
        ],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "파일 확장자",
            "description": "파일 확장자입니다."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAws.IGetPutObjectUrlOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/student-report-generator": {
      "post": {
        "summary": "학생 생활 기록부 생성",
        "description": "입력된 정보를 바탕으로 학생 생활 기록부를 생성합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "학생 생활 기록부 생성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 학생 생활 기록부.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/student-report-generator/row": {
      "post": {
        "summary": "학생 생활 기록부 생성",
        "description": "입력된 정보를 바탕으로 학생 생활 기록부를 생성합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "학생 생활 기록부 생성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportRowGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 학생 생활 기록부.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportRowGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/rag/analyze": {
      "post": {
        "summary": "RAG 분석 요청.",
        "description": "입력된 파일에 대해 RAG 분석을 요청합니다.\n\n여러 개의 연구논문을 비교하는 챗봇을 제작할 때 사용될 수 있는 커넥터 입니다.",
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": "분석할 파일 정보.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IRag.IAnalyzeInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/rag/{jobId}/status": {
      "get": {
        "summary": "RAG 분석 상태 조회.",
        "description": "분석 진행 상태를 조회합니다.",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IStatusOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "summary": "RAG 기반 결과물 생성",
        "description": "RAG 분석을 기반으로 요청받은 결과물을 생성합니다.\n\n여러 개의 연구논문을 비교하는 챗봇을 통해 유저가 질문한 내용에 대한 답변을 생성할 때 사용될 수 있는 커넥터 입니다.",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/hwp/parse": {
      "post": {
        "summary": "Hwp 파일 파싱",
        "description": "hwp 파일을 파싱합니다.",
        "tags": [
          "Hwp",
          "한글",
          "한글과",
          "한컴오피스",
          "hwp",
          "문서",
          "파일",
          "표",
          "차트",
          "이미지",
          "페이지",
          "글꼴",
          "글자",
          "PDF",
          "서식",
          "보고서",
          "서류",
          "텍스트",
          "가정통신문",
          "학교",
          "공무원",
          "Hancom",
          "Hangul",
          "HWP",
          "Document",
          "Open",
          "Save",
          "Insert",
          "Create",
          "Page",
          "Change",
          "Adjust",
          "Convert",
          "File",
          "Share",
          "Merge",
          "Write",
          "Enter",
          "Parent",
          "School",
          "Government"
        ],
        "parameters": [],
        "requestBody": {
          "description": "파싱할 hwp 파일",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파싱된 hwp 파일 텍스트 데이터.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/HWP_full.svg"
      }
    },
    "/connector/excel/read": {
      "post": {
        "summary": "엑셀 파일 안의 내용 가져오기",
        "description": "입력된 파일 정보를 바탕으로 해당 엑셀 파일의 내용을 가져옵니다.",
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "내용을 가져올 엑셀 파일 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IReadExcelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/worksheet": {
      "post": {
        "summary": "액셀 워크 시트 목록 가져오기",
        "description": "입력된 파일 url에 존재하는 엑셀 워크 시트 목록을 가져옵니다.",
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크 시트 목록을 가져올 엑셀 파일 url",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IGetWorksheetListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "엑셀 워크 시트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IWorksheetListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows": {
      "post": {
        "summary": "액셀 데이터 추가",
        "description": "데이터를 엑셀시트에 추가합니다.",
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "엑셀 파일에 새로운 데이터를 추가 하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IInsertExcelRowOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/google-docs": {
      "post": {
        "summary": "구글 docs 생성.",
        "description": "구글 docs를 생성합니다.",
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "summary": "구글 docs 권한 부여.",
        "description": "구글 docs에 권한을 부여합니다.",
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 docs 권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "summary": "구글 docs 읽기.",
        "description": "구글 docs의 내용을 읽어옵니다.",
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "구글 docs 고유 ID",
            "description": " 구글 docs 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "summary": "구글 docs 복사.",
        "description": "이미 존재하는 구글 docs를 복사하여 새로운 구글 docs를 생성합니다.",
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "복사할 구글 docs 링크와 생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "summary": "구글 docs 삭제.",
        "description": "구글 docs를 삭제합니다.",
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 구글 docs 고유 ID",
            "description": " 삭제할 구글 docs 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "summary": "구글 docs 목록 가져오기.",
        "description": "구글 docs 목록을 가져옵니다.",
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "summary": "구글 docs 텍스트 추가.",
        "description": "구글 docs에 텍스트를 추가합니다.",
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "구글 access token 재발급 요청",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/connector/google-sheet": {
      "post": {
        "summary": "구글 시트 헤더 정보 가져오기.",
        "description": "구글 시트의 헤더 정보를 가져옵니다.",
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 URL과 가져올 헤더 index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 헤더 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "summary": "구글 시트 권한 부여.",
        "description": "구글 시트에 권한을 부여합니다.",
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "summary": "구글 시트 헤더 추가.",
        "description": "구글 시트에 헤더를 추가합니다.",
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 url과 추가할 헤더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "summary": "구글 시트 워크시트 목록 가져오기.",
        "description": "구글 워크시트 목록을 가져옵니다.",
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크시트 목록을 가져올 구글 시트 url.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "summary": "구글 시트 Row 정보 가져오기.",
        "description": "구글 시트의 Row 정보를 가져옵니다.",
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 Row 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "post": {
        "summary": "구글 캘린더 목록 가져오기.",
        "description": "구글 캘린더 목록을 가져옵니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "summary": "구글 캘린더 생성.",
        "description": "구글 캘린더를 생성합니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 캘린더 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 고유 ID와 캘린더 제목.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "summary": "구글 캘린더 삭제.",
        "description": "캘린더를 삭제합니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "삭제할 캘린더 고유 ID",
            "description": " 삭제할 캘린더 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "summary": "구글 캘린더 이벤트 목록 가져오기.",
        "description": "구글 캘린더에 있는 이벤트 목록을 가져옵니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트 목록을 가져올 캘린더 고유 ID",
            "description": " 이벤트 목록을 가져올 캘린더 고유 ID."
          }
        ],
        "requestBody": {
          "description": "이벤트 목록을 가져오기 위한 조건.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 이벤트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "summary": "구글 캘린더 빠른 이벤트 추가.",
        "description": "구글 캘린더에 빠른 이벤트를 추가합니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더 고유 ID",
            "description": " 이벤트를 추가할 캘린더 고유 ID."
          }
        ],
        "requestBody": {
          "description": "이벤트를 추가할 캘린더 고유 ID, 이벤트 명.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "summary": "구글 캘린더 이벤트 추가.",
        "description": "구글 캘린더에 이벤트를 추가합니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더 고유 ID",
            "description": " 이벤트를 추가할 캘린더 고유 ID."
          }
        ],
        "requestBody": {
          "description": "이벤트 추가를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추가한 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "summary": "구글 캘린더 이벤트 수정.",
        "description": "이벤트를 수정합니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트가 있는 캘린더 고유 ID",
            "description": " 이벤트가 있는 캘린더 고유 ID."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "수정할 이벤트 고유 ID",
            "description": " 수정할 이벤트 고유 ID."
          }
        ],
        "requestBody": {
          "description": "업데이트 할 이벤트 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "업데이트 된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      },
      "delete": {
        "summary": "구글 캘린더 이벤트 삭제.",
        "description": "이벤트를 삭제합니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트가 있는 캘린더 고유 ID",
            "description": " 이벤트가 있는 캘린더 고유 ID."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 이벤트 고유 ID",
            "description": " 삭제할 이벤트 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "summary": "구글 캘린더 이벤트 참석자 추가.",
        "description": "이벤트에 참석자를 추가합니다.",
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트가 있는 캘린더 고유 ID",
            "description": " 이벤트가 있는 캘린더 고유 ID."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "참석자를 추가할 이벤트 고유 ID",
            "description": " 참석자를 추가할 이벤트 고유 ID."
          }
        ],
        "requestBody": {
          "description": "추가할 참석자 이메일 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참석자가 추가된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "summary": "구글 드라이브 폴더 목록 가져오기.",
        "description": "구글 드라이브에 있는 폴더 목록을 가져옵니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 폴더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "summary": "구글 드라이브 파일 목록 가져오기.",
        "description": "구글 드라이브에 있는 파일 목록을 가져옵니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 파일 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "summary": "구글 드라이브 폴더 생성.",
        "description": "구글 드라이브에 새로운 폴더를 생성합니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 폴더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 폴더 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "summary": "구글 드라이브 파일 생성.",
        "description": "구글 드라이브에 새로운 파일을 생성합니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 파일명과 파일을 생성할 폴더 고유 ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 파일 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "summary": "구글 드라이브 파일 삭제.",
        "description": "구글 드라이브에 있는 파일을 삭제합니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 파일 고유 ID",
            "description": " 삭제할 파일 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "summary": "구글 드라이브 폴더 삭제.",
        "description": "구글 드라이브에 있는 폴더를 삭제합니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 폴더 고유 ID",
            "description": " 삭제할 폴더 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "summary": "구글 드라이브 권한 부여.",
        "description": "파일 또는 폴더에 접근하기 위한 권한을 부여합니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/file/{id}/text": {
      "post": {
        "summary": "구글 드라이브 파일 텍스트 추가.",
        "description": "파일에 텍스트를 추가합니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "파일 고유 ID",
            "description": " 파일 고유 ID."
          }
        ],
        "requestBody": {
          "description": "추가할 텍스트.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IAppendTextGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "summary": "구글 드라이브 파일 텍스트 읽기.",
        "description": "파일에서 텍스트를 읽어옵니다.",
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "파일 고유 ID",
            "description": " 파일 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파일 텍스트 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IReadFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "summary": "조건 선택",
        "description": "주어진 후보 중에서 조건에 맞는 것을 선택합니다.",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "후보 선택을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/LLM_full.svg"
      }
    },
    "/connector/gmail/send": {
      "post": {
        "summary": "GMAIL 전송",
        "description": "메일을 전송합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일을 보내기 위해 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "전송된 메일의 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "summary": "GMAIL 초안 생성",
        "description": "메일 초안을 생성 합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일 초안을 생성하기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "summary": "GMAIL 답장",
        "description": "수신된 메일에 답장을 보냅니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "메일 답장에 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "summary": "GMAIL 정보 가져오기",
        "description": "메일의 정보를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "해당 메일의 고유 ID",
            "description": " 해당 메일의 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "해당 메일의 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "summary": "GMAIL 리스트 가져오기",
        "description": "메일 리스트를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일 리스트를 가져오기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "메일 리스트.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "summary": "GMAIL 삭제",
        "description": "메일을 삭제합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "삭제할 메일의 고유 ID",
            "description": " 삭제할 메일의 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/label": {
      "post": {
[...]
