{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "version": "0.1.60",
    "title": "@wrtn/connector",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/extract/keyword": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "키워드 추출을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추출된 키워드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"
                }
              }
            }
          }
        },
        "summary": "키워드 추출",
        "description": "주어진 입력과 관련 높은 키워드를 추출합니다.\n\n마케팅 카피를 생성할 때 사용하는 커넥터 입니다."
      }
    },
    "/connector/rank/rank": {
      "post": {
        "tags": [
          "Sort"
        ],
        "parameters": [],
        "requestBody": {
          "description": "정렬할 후보 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRanker.IRankInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "정렬된 후보의 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRanker.IRankOutput"
                }
              }
            }
          }
        },
        "summary": "조건 정렬",
        "description": "주어진 아이템의 배열을 점수가 높은 순서대로 정렬합니다."
      }
    },
    "/connector/marketing-copy/generate-copy": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "마케팅 카피 생성을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 마케팅 카피",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIMarketingCopyComponents"
                }
              }
            }
          }
        },
        "summary": "마케팅 카피 생성",
        "description": "주어진 입력으로부터 마케팅 카피를 생성합니다."
      }
    },
    "/connector/marketing-copy/generate-copy-image": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "마케팅 카피 이미지 생성을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyImageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 마케팅 카피 이미지",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMarketingCopyImage"
                }
              }
            }
          }
        },
        "summary": "마케팅 카피 이미지 생성",
        "description": "주어진 입력으로부터 마케팅 카피 이미지를 생성합니다."
      }
    },
    "/connector/student-report-generator": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "학생 생활 기록부 생성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 학생 생활 기록부.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportGeneratorResponse"
                }
              }
            }
          }
        },
        "summary": "학생 생활 기록부 생성",
        "description": "입력된 정보를 바탕으로 학생 생활 기록부를 생성합니다."
      }
    },
    "/connector/student-report-generator/row": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "학생 생활 기록부 생성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportRowGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 학생 생활 기록부.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportRowGeneratorResponse"
                }
              }
            }
          }
        },
        "summary": "학생 생활 기록부 생성",
        "description": "입력된 정보를 바탕으로 학생 생활 기록부를 생성합니다."
      }
    },
    "/connector/rag/analyze": {
      "post": {
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": "분석할 파일 정보.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IRag.IAnalyzeInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "summary": "RAG 분석 요청.",
        "description": "입력된 파일에 대해 RAG 분석을 요청합니다.\n\n여러 개의 연구논문을 비교하는 챗봇을 제작할 때 사용될 수 있는 커넥터 입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/rag.svg"
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "RAG 기반 결과물 생성",
        "description": "RAG 분석을 기반으로 요청받은 결과물을 생성합니다.\n\n여러 개의 연구논문을 비교하는 챗봇을 통해 유저가 질문한 내용에 대한 답변을 생성할 때 사용될 수 있는 커넥터 입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/rag.svg"
      }
    },
    "/connector/hwp/parse": {
      "post": {
        "tags": [
          "Hwp",
          "한글",
          "한글과",
          "한컴오피스",
          "hwp",
          "문서",
          "파일",
          "표",
          "차트",
          "이미지",
          "페이지",
          "글꼴",
          "글자",
          "PDF",
          "서식",
          "보고서",
          "서류",
          "텍스트",
          "가정통신문",
          "학교",
          "공무원",
          "Hancom",
          "Hangul",
          "HWP",
          "Document",
          "Open",
          "Save",
          "Insert",
          "Create",
          "Page",
          "Change",
          "Adjust",
          "Convert",
          "File",
          "Share",
          "Merge",
          "Write",
          "Enter",
          "Parent",
          "School",
          "Government"
        ],
        "parameters": [],
        "requestBody": {
          "description": "파싱할 hwp 파일",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파싱된 hwp 파일 텍스트 데이터.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "summary": "Hwp 파일 파싱",
        "description": "hwp 파일을 파싱합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/hwp.svg"
      }
    },
    "/connector/excel/read": {
      "post": {
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "내용을 가져올 엑셀 파일 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IReadExcelOutput"
                }
              }
            }
          }
        },
        "summary": "엑셀 파일 안의 내용 가져오기",
        "description": "입력된 파일 정보를 바탕으로 해당 엑셀 파일의 내용을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/worksheet": {
      "post": {
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크 시트 목록을 가져올 엑셀 파일 url",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IGetWorksheetListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "엑셀 워크 시트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IWorksheetListOutput"
                }
              }
            }
          }
        },
        "summary": "액셀 워크 시트 목록 가져오기",
        "description": "입력된 파일 url에 존재하는 엑셀 워크 시트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows": {
      "post": {
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "엑셀 파일에 새로운 데이터를 추가 하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IInsertExcelRowOutput"
                }
              }
            }
          }
        },
        "summary": "액셀 데이터 추가",
        "description": "데이터를 엑셀시트에 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/google-docs": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 생성.",
        "description": "구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 docs 권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 권한 부여.",
        "description": "구글 docs에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "가져올 docs 파일",
            "description": "가져올 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 읽기.",
        "description": "구글 docs의 내용을 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "복사할 구글 docs 링크와 생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 복사.",
        "description": "이미 존재하는 구글 docs를 복사하여 새로운 구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 docs 파일",
            "description": "삭제할 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 docs 삭제.",
        "description": "구글 docs를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 목록 가져오기.",
        "description": "구글 docs 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 텍스트 추가.",
        "description": "구글 docs에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-sheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 URL과 가져올 헤더 index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 헤더 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 헤더 정보 가져오기.",
        "description": "구글 시트의 헤더 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 권한 부여.",
        "description": "구글 시트에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 url과 추가할 헤더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 헤더 추가.",
        "description": "구글 시트에 헤더를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크시트 목록을 가져올 구글 시트 url.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 워크시트 목록 가져오기.",
        "description": "구글 워크시트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 Row 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 Row 정보 가져오기.",
        "description": "구글 시트의 Row 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 목록 가져오기.",
        "description": "구글 캘린더 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 캘린더 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 고유 ID와 캘린더 제목.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 생성.",
        "description": "구글 캘린더를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "삭제할 캘린더",
            "description": "삭제할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 삭제.",
        "description": "캘린더를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트 목록을 가져올 캘린더",
            "description": "이벤트 목록을 가져올 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트 목록을 가져오기 위한 조건.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 이벤트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 목록 가져오기.",
        "description": "구글 캘린더에 있는 이벤트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더",
            "description": "빠른 이벤트를 추가할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트를 추가할 캘린더 고유 ID, 이벤트 명.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 빠른 이벤트 추가.",
        "description": "구글 캘린더에 빠른 이벤트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더",
            "description": "이벤트를 추가할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트 추가를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추가한 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 추가.",
        "description": "구글 캘린더에 이벤트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 수정할 캘린더",
            "description": "이벤트를 수정할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "수정할 이벤트",
            "description": "수정할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "업데이트 할 이벤트 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "업데이트 된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 수정.",
        "description": "이벤트를 수정합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      },
      "delete": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 삭제할 캘린더",
            "description": "이벤트를 삭제할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 이벤트",
            "description": "삭제할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 이벤트 삭제.",
        "description": "이벤트를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "참석자를 추가할 캘린더",
            "description": "참석자를 추가할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "참석자를 추가할 이벤트를 선택해주세요",
            "description": "참석자를 추가할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "추가할 참석자 이메일 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참석자가 추가된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 참석자 추가.",
        "description": "이벤트에 참석자를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 폴더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 목록 가져오기.",
        "description": "구글 드라이브에 있는 폴더 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 파일 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 목록 가져오기.",
        "description": "구글 드라이브에 있는 파일 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 폴더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 폴더 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 생성.",
        "description": "구글 드라이브에 새로운 폴더를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 파일명과 파일을 생성할 폴더 고유 ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 파일 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 생성.",
        "description": "구글 드라이브에 새로운 파일을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 파일",
            "description": "삭제할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 삭제.",
        "description": "구글 드라이브에 있는 파일을 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 폴더",
            "description": "삭제할 폴더를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 폴더 삭제.",
        "description": "구글 드라이브에 있는 폴더를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 권한 부여.",
        "description": "파일 또는 폴더에 접근하기 위한 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}/text": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "텍스트를 추가할 파일",
            "description": "텍스트를 추가할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "추가할 텍스트.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IAppendTextGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 텍스트 추가.",
        "description": "파일에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "읽어올 파일",
            "description": "읽어올 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파일 텍스트 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IReadFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 텍스트 읽기.",
        "description": "파일에서 텍스트를 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "후보 선택을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "summary": "조건 선택",
        "description": "주어진 후보 중에서 조건에 맞는 것을 선택합니다."
      }
    },
    "/connector/gmail/send": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일을 보내기 위해 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "전송된 메일의 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 전송",
        "description": "메일을 전송합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일 초안을 생성하기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 초안 생성",
        "description": "메일 초안을 생성 합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "답장할 메일",
            "description": "답장할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "메일 답장에 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 답장",
        "description": "수신된 메일에 답장을 보냅니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "가져올 메일",
            "description": "가져올 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "해당 메일의 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 정보 가져오기",
        "description": "메일의 정보를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일 리스트를 가져오기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "메일 리스트.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 리스트 가져오기",
        "description": "메일 리스트를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "삭제할 메일",
            "description": "삭제할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "GMAIL 삭제",
        "description": "메일을 삭제합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/label": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "라벨 생성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ILabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 라벨의 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ILabelOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 라벨 생성",
        "description": "라벨을 생성합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/label/{mailId}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "라벨을 부여할 메일",
            "description": "라벨을 부여할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "부여할 라벨의 고유 ID 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 라벨 부여",
        "description": "메일에 라벨을 부여합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      },
      "delete": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "라벨을 제거할 메일",
            "description": "라벨을 제거할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "제거할 라벨의 고유 ID 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "GMAIL 라벨 제거",
        "description": "메일에 부여된 라벨을 제거합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/tool/{id}/generate": {
      "post": {
        "tags": [
          "Tool"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITool.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITool.IGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "툴 사용",
        "description": "툴을 사용합니다.\n\n이 커넥터는 특수 목적으로 제작된 커넥터로써, 일반적인 상황에는 사용되지 않습니다.\n\n스튜디오 1.0에서 마이그레이션된 툴을 사용할 때만 사용되는 커넥터 입니다.\n\n일반 워크플로우를 만들 때 사용되지 않는 커넥터입니다."
      }
    },
    "/connector/chatbot/generate/easy": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "쉬움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 쉬움 챗봇 사용",
        "description": "쉬움 난이도로 제작된 챗봇을 사용합니다.\n\n이 커넥터는 특수 목적으로 제작된 커넥터로써, 일반적인 상황에는 사용되지 않습니다.\n\n스튜디오 1.0에서 마이그레이션된 챗봇을 사용할 때만 사용되는 커넥터 입니다.\n\n일반 워크플로우를 챗봇으로 만들 때 사용되지 않는 커넥터입니다."
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "어려움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 어려움 챗봇 사용",
        "description": "어려움 난이도로 제작된 챗봇을 사용합니다.\n\n이 커넥터는 특수 목적으로 제작된 커넥터로써, 일반적인 상황에는 사용되지 않습니다.\n\n스튜디오 1.0에서 마이그레이션된 챗봇을 사용할 때만 사용되는 커넥터 입니다.\n\n일반 워크플로우를 챗봇으로 만들 때 사용되지 않는 커넥터입니다."
      }
    },
    "/connector/figma/get-files": {
      "post": {
        "tags": [
          "figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "파일을 가져오기 위한 조건 값.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "피그마 파일 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IReadFileOutput"
                }
              }
            }
          }
        },
        "summary": "피그마 파일 가져오기.",
        "description": "피그마 파일들을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg"
      }
    },
    "/connector/figma/comments": {
      "post": {
        "tags": [
          "figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "댓글을 작성하기 위한 조건 값.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IAddCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "방금 작성된 댓글의 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "summary": "캔버스 내 댓글 작성하기.",
        "description": "댓글을 작성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg"
      }
    },
    "/connector/figma/get-comments": {
      "post": {
        "tags": [
          "figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "댓글을 가져오기 위한 조건 값.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "피그마 댓글 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          }
        },
        "summary": "피그마 댓글 가져오기.",
        "description": "피그마 댓글들을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg"
      }
    },
    "/connector/figma/projects/{id}/get-canvas": {
      "post": {
        "tags": [
          "figma"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/figma/get-projects",
                "jmesPath": "proejcts[].{value:id, label:name}"
              }
            },
            "required": true,
            "description": " 조회할 프로젝트의 아이디"
          }
        ],
        "requestBody": {
          "description": "프로젝트 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.Secret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "프로젝트의 모든 파일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProjectFileOutput"
                }
              }
            }
          }
        },
        "summary": "팀 내 캔버스 조회",
        "description": "특정 프로젝트의 모든 캔버스를 가져옵니다.\n캔버스는 특정 팀에서 관리하고 있는 피그마 파일들을 의미합니다.\n이 커넥터를 통해 사용자는 자신의 피그마 팀 내에 어떤 캔버스들이 관리되고 있는지 캔버스의 이름과 섬네일 링크를 받아 볼 수 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg"
      }
    },
    "/connector/figma/get-statistics": {
      "post": {
        "tags": [
          "figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "팀 단위 통계 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectStatisticsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "팀의 통계 조회 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IFigma.IGetStatisticsOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "팀 단위 피그마 통계 조회",
        "description": "팀 단위의 통계를 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/figma/get-projects": {
      "post": {
        "tags": [
          "figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "프로젝트 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "프로젝트 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProejctOutput"
                }
              }
            }
          }
        },
        "summary": "팀 내 프로젝트 조회",
        "description": "팀 내의 프로젝트를 조회합니다.\n인자로는 teamId를 받아야 하는데, 이 프로퍼티는 팀 아이디를 의미하며 figma의 URL 경로를 보고 파악할 수 있습니다.\n`https://www.figma.com/files/team` 링크 접속 시 `team` 키워드 뒤에 자동으로 숫자가 붙게 되는데 이것이 팀의 아이디입니다.\n유저는 여러가지 팀에 속할 수 있으므로, 만일 이 프로젝트들에 대한 조회를 자동화하고 싶지 않다면 다른 팀 아이디를 가져와야 합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/zoom/meetings": {
      "post": {
        "tags": [
          "zoom"
        ],
        "parameters": [],
        "requestBody": {
          "description": "미팅을 생성하고자 하는 유저 정보 및 조건에 대한 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IZoom.ICreateMeetingInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 zoom 미팅 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIZoom.Meeting"
                }
              }
            }
          }
        },
        "summary": "zoom 미팅 생성.",
        "description": "zoom 미팅을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/zoom.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/get-companies/recommended": {
      "post": {
        "tags": [
          "sweet-tracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "택배사 조회를 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "택배사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListOutput"
                }
              }
            }
          }
        },
        "summary": "송장 번호에 매칭되는 택배사 목록 조회",
        "description": "송장번호에 매칭되는 택배사 목록을 조회합니다\n\n송장 조회를 하기 위해서는 택배사 코드가 필수적입니다.\n따라서 유저가 송장번호는 알고 자신의 택배를 전달해줄 택배사가 어딘지 모르면 송장 조회를 할 수 없습니다.\n이 커넥터는 이러한 문제를 해결하기 위해 송장번호에 맞는 택배사를 추론해주는 기능을 제공합니다.\n다만 이 기능을 호출해도 택배사일 가능성이 있는 여러 개의 택배사로 나올 수도 있기 때문에 어느 회사가 이 택배를 운송해줄지는 알 수 없습니다.\n\n물론, 리스트에 대상이 1개라면 그 택배사일 가능성이 거의 100% 일 것입니다.",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/get-companies": {
      "post": {
        "tags": [
          "sweet-tracker"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "택배사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetCompanyListOutput"
                }
              }
            }
          }
        },
        "summary": "택배사 목록 조회",
        "description": "택배사 목록을 조회합니다\n\n대한민국 국내, 국외의 택배사들을 모두 조회합니다.\n추후 송장번호를 통한 배송 조회를 할 때에는 택배사 코드가 함께 필요하기 때문에 먼저 택배사 목록부터 조회해야 합니다.\n택배사 목록을 조회한 후 자신의 택배사를 찾아서 해당 택배사의 코드를 송장 조회 시에 제공해주면 됩니다.",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/tracking-info": {
      "post": {
        "tags": [
          "sweet-tracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "송장 번호를 조회하기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "택배의 이동 경로",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoOutput"
                }
              }
            }
          }
        },
        "summary": "송장 조회",
        "description": "송장 번호를 조회합니다\n\n송장을 조회하기 위해서는 자신이 조회하고자 하는 송장 번호 외에도 택배사 코드가 필요합니다.\n내 택배를 운송해줄 택배사가 어딘지 안다면 택배사를 조회하여 택배사 이름이 일치하는 택배사로부터 택배사 코드를 가져오면 됩니다.\n만약 송장 번호는 알지만 택배사 코드는 모르는 상태라면 '송장 번호에 매칭되는 택배사 목록 조회' 를 사용하여 자신의 택배를 운송해줄 택배사를 유추해볼 수 있습니다.\n택배를 조회하면 현재 택배가 어디까지 도달하였는지 그 위치와 시간, 그리고 그 택배를 운송해주는 담당자가 누군지를 알 수 있습니다.\n경우에 따라 전화번호가 있을 수도 있지만 절대적인 것은 아닙니다.\n또한, 쿠팡과 같이 커머스 업체에서 직배송하는 경우에는 송장 번호가 있어도 조회할 수 없는 경우도 있습니다."
      }
    },
    "/connector/hancell/sheet": {
      "post": {
[...]
