{"openapi":"3.1.0","servers":[{"url":"https://studio-connector-api.wrtn.ai","description":"Production Server"},{"url":"http://studio-connector-poc","description":"Develop Server"},{"url":"http://localhost:3003","description":"Local Server"}],"info":{"version":"0.1.0","title":"@wrtn/connector","description":"Starter kit of Nestia","license":{"name":"AGPL-3.0-only"}},"paths":{"/connector/arxiv-search":{"post":{"tags":["Arxiv","아카이브","학술","논문","연구","통계","출처","초록","학회지","학술지","피어","연구자","참고","인용","학위","과학","기술","h-인덱스","수학","물리학","생물학","컴퓨터과학","화학","머신러닝","인공지능","HCI","대학원","석사","박사","교수","IEEE","ACM","AAAI","NeurIPS","ICML","CVPR","SIGGRAPH","CHI","ICCV","ECCV","ACL","EMNLP","ICASSP","KDD","WWW","AAAS","ACS","APS","AAS","AGU","GSA","MRS","RSC","ESA","ASCB","ASM","ASHG","AACR","AHA","ADA","SfN","FASEB","ISCB","IUBMB","ASME","ASCE","AIAA","SAE","SPIE","AOM","AMA","AEA","INFORMS","APA","APSA","ASA","MLA","ISA","UNESCO","Academic","Paper","Find","Cite","Research","Statistics","Source","Abstract","Journal","Peer-Reviewed","Download","Write","Researcher","References","Citation","Recommend","Thesis","Scientific","Technical","h-Index","Mathematics","Physics","Biology","Computer","Chemistry","Machine","Artificial","Human-Computer","Graduate","Master's","PhD"],"parameters":[],"requestBody":{"description":"아카이브 논문 검색 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IConnector.ISearchInput"}}},"required":true},"responses":{"201":{"description":"검색 조건을 기반으로 아카이브에서 검색된 논문 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IConnector.ISearchOutput"}}}}},"summary":"아카이브 논문 검색","description":"입력한 검색 조건을 기반으로 아카이브에서 논문을 검색합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/arxiv.svg","x-wrtn-standalone":true}},"/connector/daum/blog":{"post":{"tags":["Daum","다음","블로그","Blog"],"parameters":[],"requestBody":{"description":"다음 블로그 검색을 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IDaum.ISearchDaumInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IDaum.IBlogDaumOutput"}}}}},"summary":"다음 블로그 검색","description":"다음 블로그 컨텐츠를 검색합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg","x-wrtn-standalone":true}},"/connector/daum/cafe":{"post":{"tags":["Daum","다음","카페","블로그","포스트","Cafe","Blog","Post"],"parameters":[],"requestBody":{"description":"다음 카페 검색을 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IDaum.ISearchDaumInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IDaum.ICafeDaumOutput"}}}}},"summary":"다음 카페 검색","description":"다음 카페 컨텐츠를 검색합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg","x-wrtn-standalone":true}},"/connector/naver/cafe":{"post":{"tags":["Naver","네이버","카페","블로그","포스트","Cafe","Blog","Post"],"parameters":[],"requestBody":{"description":"네이버 카페 검색을 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INaver.INaverKeywordInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INaver.ICafeNaverOutput"}}}}},"summary":"네이버 카페 검색","description":"네이버 카페 컨텐츠를 검색합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_cafe.svg","x-wrtn-standalone":true}},"/connector/naver/blog":{"post":{"tags":["Naver","네이버","블로그","Blog"],"parameters":[],"requestBody":{"description":"네이버 블로그 검색을 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INaver.INaverKeywordInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INaver.IBlogNaverOutput"}}}}},"summary":"네이버 블로그 검색","description":"네이버 블로그 컨텐츠를 검색합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_blog.svg","x-wrtn-standalone":true}},"/connector/youtube-search":{"post":{"tags":["Youtube","유튜브","동영상","숏폼","춋츠","밈","구독","좋아요","댓글","라이브","재생","시청자","구독자","알림","커뮤니티","콘텐츠","저작권","조회수","채널","썸네일","인급동","인기","YouTube","Video","Short-form","Shorts","Memes","Upload","Subscribe","Like","Comment","Live","Playlist","Viewer","Share","Subscriber","Notification","Community","Content","Copyright","Download","Views","Promote","View","Channel","Thumbnail","Trending"],"parameters":[],"requestBody":{"description":"유튜브 영상 검색을 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IYoutubeSearch.ISearchInput"}}},"required":true},"responses":{"201":{"description":"유튜브 영상 검색 결과 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IConnector.ISearchOutput"}}}}},"summary":"유튜브 영상 검색","description":"유튜브 영상 검색 결과를 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/youtube.svg","x-wrtn-standalone":true}},"/connector/google-scholar":{"post":{"tags":["Google-Scholar","구글","학술","논문","연구","통계","출처","초록","학회지","학술지","피어","연구자","참고","인용","학위","과학","기술","h-인덱스","수학","물리학","생물학","컴퓨터과학","화학","머신러닝","인공지능","HCI","대학원","석사","박사","교수","ACM","AAAI","NeurIPS","ICML","CVPR","SIGGRAPH","CHI","ICCV","ECCV","ACL","EMNLP","ICASSP","KDD","WWW","AAAS","ACS","APS","AAS","AGU","GSA","MRS","RSC","ESA","ASCB","ASM","ASHG","AACR","AHA","ADA","SfN","FASEB","ISCB","IUBMB","ASME","ASCE","AIAA","SAE","SPIE","AOM","AMA","AEA","INFORMS","APA","APSA","ASA","MLA","ISA","UNESCO","Google","Academic","Paper","Find","Cite","Research","Statistics","Source","Abstract","Journal","Peer-Reviewed","Download","Write","Researcher","References","Citation","Recommend","Thesis","Scientific","Technical","h-Index","Mathematics","Physics","Biology","Computer","Chemistry","Machine","Artificial","Human-Computer","Graduate","Master's","PhD"],"parameters":[],"requestBody":{"description":"구글 스콜라 논문 검색 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleScholar.ISearchInput"}}},"required":true},"responses":{"201":{"description":"구글 스콜라 논문 목록","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IGoogleScholar.ISearchOutput"}}}}}},"summary":"구글 스콜라 논문 목록 검색","description":"구글 스콜라에 있는 논문 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/google_scholar.svg","x-wrtn-standalone":true}},"/connector/csv/read":{"post":{"tags":["CSV","파일","내보내기","다운로드","추출","추출하기","스프레드시트","데이터","엑셀","텍스트","대량","File","Export","Download","Extract","Spreadsheet","Save","Load","Data","Database","Import","Convert","Text","Large","Edit","Split","Integrate","Create","Open","Filter","Merge"],"parameters":[],"requestBody":{"description":"CSV 파일을 읽어 오기 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICsv.IReadInput"}}},"required":true},"responses":{"201":{"description":"CSV 파일 내용.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICsv.IReadOutput"}}}}},"summary":"CSV 파일 읽기","description":"CSV 파일 내용을 읽어옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/csv.svg"}},"/connector/csv/write":{"post":{"tags":["CSV","파일","내보내기","다운로드","추출","추출하기","스프레드시트","데이터","엑셀","텍스트","대량","File","Export","Download","Extract","Spreadsheet","Save","Load","Data","Database","Import","Convert","Text","Large","Edit","Split","Integrate","Create","Open","Filter","Merge"],"parameters":[],"requestBody":{"description":"CSV 파일을 생성하기 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICsv.IWriteInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICsv.IWriteOutput"}}}}},"summary":"CSV 파일 생성","description":"CSV 파일을 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/csv.svg","x-wrtn-standalone":true}},"/connector/csv/csv-to-excel":{"post":{"tags":["CSV","파일","내보내기","다운로드","추출","추출하기","스프레드시트","데이터","엑셀","텍스트","대량","File","Export","Download","Extract","Spreadsheet","Save","Load","Data","Database","Import","Convert","Text","Large","Edit","Split","Integrate","Create","Open","Filter","Merge"],"parameters":[],"requestBody":{"description":"CSV 파일을 엑셀 파일로 변환하기 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICsv.ICsvToExcelInput"}}},"required":true},"responses":{"201":{"description":"excel file url","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICsv.ICsvToExcelOutput"}}}}},"summary":"CSV 파일 Excel 파일 변환","description":"CSV 파일을 엑셀 파일로 변환합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/csv.svg"}},"/connector/notion/page":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[],"requestBody":{"description":"페이지 생성에 필요한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.ICreatePageInput"}}},"required":true},"responses":{"201":{"description":"생성된 페이지 고유 id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.ICreatePageOutput"}}}}},"summary":"페이지 생성","description":"노션 페이지를 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/get/page":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretnotionnever"}}},"required":true},"responses":{"201":{"description":"페이지 정보들","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/INotion.IReadPageOutput"}}}}}},"summary":"페이지 목록 조회","description":"노션 워크스페이스에 존재하는 모든 페이지 목록을 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/get/users":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretnotionnever"}}},"required":true},"responses":{"201":{"description":"유저 정보들","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/INotion.IUserOutput"}}}}}},"summary":"유저 목록 조회","description":"워크스페이스에 있는 유저 목록을 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/page/content/{pageId}":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[{"name":"pageId","in":"path","schema":{"type":"string"},"description":"","required":true}],"requestBody":{"description":"페이지에 추가할 내용 및 추가할 페이지 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IAppendPageToContentInput"}}},"required":true},"responses":{"201":{"description":"void"}},"summary":"페이지에 내용 추가","description":"페이지 끝에 내용을 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/get/database-info":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretnotionnever"}}},"required":true},"responses":{"201":{"description":"데이터베이스 정보 목록","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/INotion.IDatabaseInfo"}}}}}},"summary":"데이터베이스 목록 조회","description":"데이터베이스에 아이템을 생성하기 위해 데이터베이스 목록을 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/get/database-info/{databaseId}":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[{"name":"databaseId","in":"path","schema":{"type":"string"},"description":"데이터베이스 고유 id","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretnotionnever"}}},"required":true},"responses":{"201":{"description":"데이터베이스 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IDatabaseInfo"}}}}},"summary":"데이터베이스 정보 조회","description":"데이터베이스에 아이템을 생성하기 위한 데이터베이스 정보를 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/database-item/{databaseId}":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[{"name":"databaseId","in":"path","schema":{"type":"string"},"description":"아이템을 생성할 데이터베이스 고유 id","required":true}],"requestBody":{"description":"데이터베이스 아이템 생성에 필요한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.ICreateDatabaseItemInput"}}},"required":true},"responses":{"201":{"description":"생성된 데이터베이스 아이템 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IDatabaseItemOutput"}}}}},"summary":"데이터베이스 아이템 생성","description":"노션 테이블 데이터베이스에 아이템을 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/database-item/{pageId}":{"patch":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[{"name":"pageId","in":"path","schema":{"type":"string"},"description":"수정할 데이터베이스 고유 id","required":true}],"requestBody":{"description":"수정할 데이터베이스 아이템 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IUpdateDatabaseItemInput"}}},"required":true},"responses":{"200":{"description":"수정된 데이터베이스 아이템 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IDatabaseItemOutput"}}}}},"summary":"데이터베이스 아이템 수정","description":"데이터베이스에 있는 아이템 정보를 수정합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/get-page-by-title":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[],"requestBody":{"description":"페이지 제목","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IFindPageOrDatabaseItemInput"}}},"required":true},"responses":{"201":{"description":"검색된 페이지 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IFindPageByTitleOutput"}}}}},"summary":"제목으로 페이지 검색","description":"제목으로 페이지를 검색합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/find-item-list/{databaseId}":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[{"name":"databaseId","in":"path","schema":{"type":"string"},"description":"데이터베이스 고유 id","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretnotionnever"}}},"required":true},"responses":{"201":{"description":"조회된 데이터베이스 아이템 목록 정보","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/INotion.IDatabaseItemOutput"}}}}}},"summary":"데이터베이스 아이템 목록 조회","description":"테이블 데이터베이스에 존재하는 아이템 목록을 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/notion/find-item/{databaseId}":{"post":{"tags":["Notion","노션","노트","메모","작업","프로젝트","할","일정","문서","회의록","체크리스트","아이디어","업무","학습","스터디","제품기획","이력서","포트폴리오","협업","Note","Memo","Task","Project","To","Schedule","Document","Meeting","Checklist","Idea","Work","Study","Product","Resume","Portfolio","Collaboration"],"parameters":[{"name":"databaseId","in":"path","schema":{"type":"string"},"description":"데이터베이스 고유 id","required":true}],"requestBody":{"description":"데이터베이스 아이템 조회에 필요한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IFindDatabaseItemInput"}}},"required":true},"responses":{"201":{"description":"조회된 데이터베이스 아이템 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INotion.IDatabaseItemOutput"}}}}},"summary":"데이터베이스 아이템 조회","description":"테이블 데이터베이스에 존재하는 아이템을 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"}},"/connector/extract/keyword":{"post":{"tags":["Llm"],"parameters":[],"requestBody":{"description":"키워드 추출을 위한 입력","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKeywordExtraction.IExtractKeywordInput"}}},"required":true},"responses":{"201":{"description":"추출된 키워드","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"}}}}},"summary":"키워드 추출","description":"주어진 입력과 관련 높은 키워드를 추출합니다."}},"/connector/rank/rank":{"post":{"tags":["Sort"],"parameters":[],"requestBody":{"description":"정렬할 후보 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRanker.IRankInput"}}},"required":true},"responses":{"201":{"description":"정렬된 후보의 인덱스 배열","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRanker.IRankOutput"}}}}},"summary":"조건 정렬","description":"주어진 아이템의 배열을 점수가 높은 순서대로 정렬합니다."}},"/connector/marketing-copy/generate-copy":{"post":{"tags":["Llm"],"parameters":[],"requestBody":{"description":"마케팅 카피 생성을 위한 입력","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyInput"}}},"required":true},"responses":{"201":{"description":"생성된 마케팅 카피","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartialIMarketingCopyComponents"}}}}},"summary":"마케팅 카피 생성","description":"주어진 입력으로부터 마케팅 카피를 생성합니다."}},"/connector/marketing-copy/generate-copy-image":{"post":{"tags":["Llm"],"parameters":[],"requestBody":{"description":"마케팅 카피 이미지 생성을 위한 입력","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyImageInput"}}},"required":true},"responses":{"201":{"description":"생성된 마케팅 카피 이미지","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMarketingCopyImage"}}}}},"summary":"마케팅 카피 이미지 생성","description":"주어진 입력으로부터 마케팅 카피 이미지를 생성합니다."}},"/connector/student-report-generator":{"post":{"tags":[],"parameters":[],"requestBody":{"description":"학생 생활 기록부 생성을 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStudentReportGeneratorRequest"}}},"required":true},"responses":{"201":{"description":"생성된 학생 생활 기록부.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStudentReportGeneratorResponse"}}}}},"summary":"학생 생활 기록부 생성","description":"입력된 정보를 바탕으로 학생 생활 기록부를 생성합니다."}},"/connector/student-report-generator/row":{"post":{"tags":[],"parameters":[],"requestBody":{"description":"학생 생활 기록부 생성을 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStudentReportRowGeneratorRequest"}}},"required":true},"responses":{"201":{"description":"생성된 학생 생활 기록부.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStudentReportRowGeneratorResponse"}}}}},"summary":"학생 생활 기록부 생성","description":"입력된 정보를 바탕으로 학생 생활 기록부를 생성합니다."}},"/connector/rag/analyze":{"post":{"tags":["RAG"],"parameters":[],"requestBody":{"description":"분석할 파일 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRag.IAnalyzeInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRag.IAnalysisOutput"}}}}},"summary":"RAG 분석 요청.","description":"입력된 파일에 대해 RAG 분석을 요청합니다."}},"/connector/rag/generate":{"post":{"tags":["RAG"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRag.IGenerateInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IRag.IGenerateOutput"}}}}},"summary":"RAG 기반 채팅.","description":"RAG 분석을 기반으로 채팅을 합니다."}},"/connector/hwp/parse":{"post":{"tags":["Hwp","한글","한글과","한컴오피스","hwp","문서","파일","표","차트","이미지","페이지","글꼴","글자","PDF","서식","보고서","서류","텍스트","가정통신문","학교","공무원","Hancom","Hangul","HWP","Document","Open","Save","Insert","Create","Page","Change","Adjust","Convert","File","Share","Merge","Write","Enter","Parent","School","Government"],"parameters":[],"requestBody":{"description":"파싱할 hwp 파일","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IHwp.IParseInput"}}},"required":true},"responses":{"201":{"description":"파싱된 hwp 파일 텍스트 데이터.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IHwp.IParseOutput"}}}}},"summary":"Hwp 파일 파싱","description":"hwp 파일을 파싱합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/hwp.svg"}},"/connector/excel/read":{"post":{"tags":["Excel","엑셀","파일","내보내기","다운로드","추출","추출하기","스프레드시트","데이터","텍스트","대량","File","Export","Download","Extract","Spreadsheet","Save","Load","Data","Database","Import","Convert","Text","Large","Edit","Split","Integrate","Create","Open","Filter","Merge"],"parameters":[],"requestBody":{"description":"내용을 가져올 엑셀 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IExcel.IReadExcelInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IExcel.IReadExcelOutput"}}}}},"summary":"엑셀 파일 안의 내용 가져오기","description":"입력된 파일 정보를 바탕으로 해당 엑셀 파일의 내용을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"}},"/connector/excel/worksheet":{"post":{"tags":["Excel","엑셀","파일","내보내기","다운로드","추출","추출하기","스프레드시트","데이터","텍스트","대량","File","Export","Download","Extract","Spreadsheet","Save","Load","Data","Database","Import","Convert","Text","Large","Edit","Split","Integrate","Create","Open","Filter","Merge"],"parameters":[],"requestBody":{"description":"워크 시트 목록을 가져올 엑셀 파일 url","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IExcel.IGetWorksheetListInput"}}},"required":true},"responses":{"201":{"description":"엑셀 워크 시트 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IExcel.IWorksheetListOutput"}}}}},"summary":"액셀 워크 시트 목록 가져오기","description":"입력된 파일 url에 존재하는 엑셀 워크 시트 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"}},"/connector/excel/rows":{"post":{"tags":["Excel","엑셀","파일","내보내기","다운로드","추출","추출하기","스프레드시트","데이터","텍스트","대량","File","Export","Download","Extract","Spreadsheet","Save","Load","Data","Database","Import","Convert","Text","Large","Edit","Split","Integrate","Create","Open","Filter","Merge"],"parameters":[],"requestBody":{"description":"엑셀 파일에 새로운 데이터를 추가 하기 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IExcel.IInsertExcelRowInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IExcel.IInsertExcelRowOutput"}}}}},"summary":"액셀 데이터 추가","description":"데이터를 엑셀시트에 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"}},"/connector/google-docs":{"post":{"tags":["Google-Docs","구글","문서","협업","실시간","클라우드","텍스트","파일","워드파일","PDF로","이미지","차트","표","Google","Collaboration","Real-time","Share","Cloud","Save","Document","Text","Download","Upload","Edit","File","Export","Print","Open","Search","Insert"],"parameters":[],"requestBody":{"description":"생성할 구글 docs 제목.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"}}},"required":true},"responses":{"201":{"description":"생성된 구글 docs 고유 ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"}}}}},"summary":"구글 docs 생성.","description":"구글 docs를 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg","x-wrtn-standalone":true}},"/connector/google-docs/permission":{"post":{"tags":["Google-Docs","구글","문서","협업","실시간","클라우드","텍스트","파일","워드파일","PDF로","이미지","차트","표","Google","Collaboration","Real-time","Share","Cloud","Save","Document","Text","Download","Upload","Edit","File","Export","Print","Open","Search","Insert"],"parameters":[],"requestBody":{"description":"구글 docs 권한 부여를 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"구글 docs 권한 부여.","description":"구글 docs에 권한을 부여합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"}},"/connector/google-docs/get/{id}":{"post":{"tags":["Google-Docs","구글","문서","협업","실시간","클라우드","텍스트","파일","워드파일","PDF로","이미지","차트","표","Google","Collaboration","Real-time","Share","Cloud","Save","Document","Text","Download","Upload","Edit","File","Export","Print","Open","Search","Insert"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-docs/get-list","array":"return ((response) => response.data)(response)","value":"return ((elem) => elem === null || elem === void 0 ? void 0 : elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"구글 docs 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/drivehttps//www.googleapis.com/auth/documents"}}},"required":true},"responses":{"201":{"description":"구글 docs 내용.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"}}}}},"summary":"구글 docs 읽기.","description":"구글 docs의 내용을 읽어옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"}},"/connector/google-docs/template":{"post":{"tags":["Google-Docs","구글","문서","협업","실시간","클라우드","텍스트","파일","워드파일","PDF로","이미지","차트","표","Google","Collaboration","Real-time","Share","Cloud","Save","Document","Text","Download","Upload","Edit","File","Export","Print","Open","Search","Insert"],"parameters":[],"requestBody":{"description":"복사할 구글 docs 링크와 생성할 구글 docs 제목.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"}}},"required":true},"responses":{"201":{"description":"생성된 구글 docs 고유 ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"}}}}},"summary":"구글 docs 복사.","description":"이미 존재하는 구글 docs를 복사하여 새로운 구글 docs를 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"}},"/connector/google-docs/{id}":{"delete":{"tags":["Google-Docs","구글","문서","협업","실시간","클라우드","텍스트","파일","워드파일","PDF로","이미지","차트","표","Google","Collaboration","Real-time","Share","Cloud","Save","Document","Text","Download","Upload","Edit","File","Export","Print","Open","Search","Insert"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-docs/get-list","array":"return ((response) => response.data)(response)","value":"return ((elem) => elem === null || elem === void 0 ? void 0 : elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"삭제할 구글 docs 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/drivehttps//www.googleapis.com/auth/documents"}}},"required":true},"responses":{"200":{"description":""}},"summary":"구글 docs 삭제.","description":"구글 docs를 삭제합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"}},"/connector/google-docs/get-list":{"post":{"tags":["Google-Docs","구글","문서","협업","실시간","클라우드","텍스트","파일","워드파일","PDF로","이미지","차트","표","Google","Collaboration","Real-time","Share","Cloud","Save","Document","Text","Download","Upload","Edit","File","Export","Print","Open","Search","Insert"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/drivehttps//www.googleapis.com/auth/documents"}}},"required":true},"responses":{"201":{"description":"구글 docs 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"}}}}},"summary":"구글 docs 목록 가져오기.","description":"구글 docs 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg","x-wrtn-standalone":true}},"/connector/google-docs/append":{"post":{"tags":["Google-Docs","구글","문서","협업","실시간","클라우드","텍스트","파일","워드파일","PDF로","이미지","차트","표","Google","Collaboration","Real-time","Share","Cloud","Save","Document","Text","Download","Upload","Edit","File","Export","Print","Open","Search","Insert"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"구글 docs 텍스트 추가.","description":"구글 docs에 텍스트를 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"}},"/connector/google-sheet":{"post":{"tags":["Google-Sheet","구글","스프레드","엑셀","데이터","차트","함수","셀","피벗","조건부","파일","CSV","통계","매크로","자동화","시트","Google","Spreadsheet","Excel","Enter","Analyze","Create","Cell","Filter","Pivot","Visualize","Conditional","Export","Import","Load","Sort","Clean","Statistics","Calculate","Macro","Automation","Duplicate","Delete","Rename","Lock","Share","Extract","Merge","Add","Manage"],"parameters":[],"requestBody":{"description":"구글 시트 URL과 가져올 헤더 index.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"}}},"required":true},"responses":{"201":{"description":"구글 시트 헤더 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"}}}}},"summary":"구글 시트 헤더 정보 가져오기.","description":"구글 시트의 헤더 정보를 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg","x-wrtn-standalone":true}},"/connector/google-sheet/permission":{"post":{"tags":["Google-Sheet","구글","스프레드","엑셀","데이터","차트","함수","셀","피벗","조건부","파일","CSV","통계","매크로","자동화","시트","Google","Spreadsheet","Excel","Enter","Analyze","Create","Cell","Filter","Pivot","Visualize","Conditional","Export","Import","Load","Sort","Clean","Statistics","Calculate","Macro","Automation","Duplicate","Delete","Rename","Lock","Share","Extract","Merge","Add","Manage"],"parameters":[],"requestBody":{"description":"권한 부여를 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IPermissionInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"구글 시트 권한 부여.","description":"구글 시트에 권한을 부여합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg","x-wrtn-standalone":true}},"/connector/google-sheet/header":{"post":{"tags":["Google-Sheet","구글","스프레드","엑셀","데이터","차트","함수","셀","피벗","조건부","파일","CSV","통계","매크로","자동화","시트","Google","Spreadsheet","Excel","Enter","Analyze","Create","Cell","Filter","Pivot","Visualize","Conditional","Export","Import","Load","Sort","Clean","Statistics","Calculate","Macro","Automation","Duplicate","Delete","Rename","Lock","Share","Extract","Merge","Add","Manage"],"parameters":[],"requestBody":{"description":"구글 시트 url과 추가할 헤더 이름.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"구글 시트 헤더 추가.","description":"구글 시트에 헤더를 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg","x-wrtn-standalone":true}},"/connector/google-sheet/worksheet":{"post":{"tags":["Google-Sheet","구글","스프레드","엑셀","데이터","차트","함수","셀","피벗","조건부","파일","CSV","통계","매크로","자동화","시트","Google","Spreadsheet","Excel","Enter","Analyze","Create","Cell","Filter","Pivot","Visualize","Conditional","Export","Import","Load","Sort","Clean","Statistics","Calculate","Macro","Automation","Duplicate","Delete","Rename","Lock","Share","Extract","Merge","Add","Manage"],"parameters":[],"requestBody":{"description":"워크시트 목록을 가져올 구글 시트 url.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IGetWorkSheetInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"}}}}},"summary":"구글 시트 워크시트 목록 가져오기.","description":"구글 워크시트 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg","x-wrtn-standalone":true}},"/connector/google-sheet/get-rows":{"post":{"tags":["Google-Sheet","구글","스프레드","엑셀","데이터","차트","함수","셀","피벗","조건부","파일","CSV","통계","매크로","자동화","시트","Google","Spreadsheet","Excel","Enter","Analyze","Create","Cell","Filter","Pivot","Visualize","Conditional","Export","Import","Load","Sort","Clean","Statistics","Calculate","Macro","Automation","Duplicate","Delete","Rename","Lock","Share","Extract","Merge","Add","Manage"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"}}},"required":true},"responses":{"201":{"description":"구글 시트 Row 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"}}}}},"summary":"구글 시트 Row 정보 가져오기.","description":"구글 시트의 Row 정보를 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg","x-wrtn-standalone":true}},"/connector/google-calendar/get-list":{"post":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/calendar"}}},"required":true},"responses":{"201":{"description":"구글 캘린더 목록.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"}}}}}},"summary":"구글 캘린더 목록 가져오기.","description":"구글 캘린더 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg","x-wrtn-standalone":true}},"/connector/google-calendar":{"post":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[],"requestBody":{"description":"생성할 캘린더 제목.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.ICreateCalendarInput"}}},"required":true},"responses":{"201":{"description":"캘린더 고유 ID와 캘린더 제목.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"}}}}},"summary":"구글 캘린더 생성.","description":"구글 캘린더를 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg","x-wrtn-standalone":true}},"/connector/google-calendar/{calendarId}":{"delete":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[{"name":"calendarId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/get-list","array":"return ((response) => response)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"삭제할 캘린더 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/calendar"}}},"required":true},"responses":{"200":{"description":""}},"summary":"구글 캘린더 삭제.","description":"캘린더를 삭제합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"}},"/connector/google-calendar/{calendarId}/get-events":{"post":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[{"name":"calendarId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/get-list","array":"return ((response) => response)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"이벤트 목록을 가져올 캘린더 고유 ID.","required":true}],"requestBody":{"description":"이벤트 목록을 가져오기 위한 조건.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"}}},"required":true},"responses":{"201":{"description":"구글 캘린더 이벤트 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"}}}}},"summary":"구글 캘린더 이벤트 목록 가져오기.","description":"구글 캘린더에 있는 이벤트 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"}},"/connector/google-calendar/{calendarId}/quick-event":{"post":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[{"name":"calendarId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/get-list","array":"return ((response) => response)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"이벤트를 추가할 캘린더 고유 ID.","required":true}],"requestBody":{"description":"이벤트를 추가할 캘린더 고유 ID, 이벤트 명.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"구글 캘린더 빠른 이벤트 추가.","description":"구글 캘린더에 빠른 이벤트를 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"}},"/connector/google-calendar/{calendarId}/event":{"post":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[{"name":"calendarId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/get-list","array":"return ((response) => response)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"이벤트를 추가할 캘린더 고유 ID.","required":true}],"requestBody":{"description":"이벤트 추가를 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"}}},"required":true},"responses":{"201":{"description":"추가한 이벤트 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"}}}}},"summary":"구글 캘린더 이벤트 추가.","description":"구글 캘린더에 이벤트를 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"}},"/connector/google-calendar/{calendarId}/event/{eventId}":{"put":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[{"name":"calendarId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/get-list","array":"return ((response) => response)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"이벤트가 있는 캘린더 고유 ID.","required":true},{"name":"eventId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/{calendarId}/get-events","array":"return ((response) => response.events)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"수정할 이벤트 고유 ID.","required":true}],"requestBody":{"description":"업데이트 할 이벤트 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"}}},"required":true},"responses":{"200":{"description":"업데이트 된 이벤트 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"}}}}},"summary":"구글 캘린더 이벤트 수정.","description":"이벤트를 수정합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"},"delete":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[{"name":"calendarId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/get-list","array":"return ((response) => response)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"이벤트가 있는 캘린더 고유 ID.","required":true},{"name":"eventId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/{calendarId}/get-events","array":"return ((response) => response.events)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"삭제할 이벤트 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/calendar"}}},"required":true},"responses":{"200":{"description":""}},"summary":"구글 캘린더 이벤트 삭제.","description":"이벤트를 삭제합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"}},"/connector/google-calendar/{calendarId}/event/{eventId}/attendees":{"put":{"tags":["Google-Calendar","구글","캘린더","일정","회의","약속","시간","달력","스케줄","반복","시간표","스케줄러","이번","다음","월간","개인","팀","업무","휴가","Google","Calendar","Manage","Add","Create","Share","Event","Time","Schedule","Adjust","Recurring","Sync","Invite","Timetable","Scheduler","This","Next","Monthly","Personal","Team","Work","Vacation"],"parameters":[{"name":"calendarId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/get-list","array":"return ((response) => response)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"이벤트가 있는 캘린더 고유 ID.","required":true},{"name":"eventId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-calendar/{calendarId}/get-events","array":"return ((response) => response.events)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"참석자를 추가할 이벤트 고유 ID.","required":true}],"requestBody":{"description":"추가할 참석자 이메일 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"}}},"required":true},"responses":{"200":{"description":"참석자가 추가된 이벤트 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"}}}}},"summary":"구글 캘린더 이벤트 참석자 추가.","description":"이벤트에 참석자를 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"}},"/connector/google-drive/get/folders":{"post":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/drive"}}},"required":true},"responses":{"201":{"description":"구글 드라이브 폴더 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"}}}}},"summary":"구글 드라이브 폴더 목록 가져오기.","description":"구글 드라이브에 있는 폴더 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg","x-wrtn-standalone":true}},"/connector/google-drive/get/files":{"post":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"}}},"required":true},"responses":{"201":{"description":"구글 드라이브 파일 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"}}}}},"summary":"구글 드라이브 파일 목록 가져오기.","description":"구글 드라이브에 있는 파일 목록을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"}},"/connector/google-drive/folder":{"post":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[],"requestBody":{"description":"생성할 폴더 이름.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"}}},"required":true},"responses":{"201":{"description":"생성된 폴더 고유 ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"}}}}},"summary":"구글 드라이브 폴더 생성.","description":"구글 드라이브에 새로운 폴더를 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg","x-wrtn-standalone":true}},"/connector/google-drive/file":{"post":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[],"requestBody":{"description":"생성할 파일명과 파일을 생성할 폴더 고유 ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveInput"}}},"required":true},"responses":{"201":{"description":"생성된 파일 고유 ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"}}}}},"summary":"구글 드라이브 파일 생성.","description":"구글 드라이브에 새로운 파일을 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"}},"/connector/google-drive/file/{id}":{"delete":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-drive/get/files","array":"return ((response) => response.data)(response)","value":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.id) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.name) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"삭제할 파일 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/drive"}}},"required":true},"responses":{"200":{"description":""}},"summary":"구글 드라이브 파일 삭제.","description":"구글 드라이브에 있는 파일을 삭제합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"}},"/connector/google-drive/folder/{id}":{"delete":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-drive/get/folders","array":"return ((response) => response.data)(response)","value":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.id) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.name) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"삭제할 폴더 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/drive"}}},"required":true},"responses":{"200":{"description":""}},"summary":"구글 드라이브 폴더 삭제.","description":"구글 드라이브에 있는 폴더를 삭제합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"}},"/connector/google-drive/permission":{"post":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[],"requestBody":{"description":"권한 부여를 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"구글 드라이브 권한 부여.","description":"파일 또는 폴더에 접근하기 위한 권한을 부여합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"}},"/connector/google-drive/file/{id}/text":{"post":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-drive/get/files","array":"return ((response) => response.data)(response)","value":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.id) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.name) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"파일 고유 ID.","required":true}],"requestBody":{"description":"추가할 텍스트.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.IAppendTextGoogleDriveInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"구글 드라이브 파일 텍스트 추가.","description":"파일에 텍스트를 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"}},"/connector/google-drive/get/file/{id}":{"post":{"tags":["Google-Drive","구글","드라이브","저장","파일","클라우드","파일명","폴더","폴더명","문서","사진","동영상","협업","자료","설문","팀","Google","Drive","Save","Share","Sync","Update","Download","Create","Rename","Delete","Manage","Add","Search","Collaborate","Set","Encrypt","Edit","Move","Resources","Survey","Team"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/google-drive/get/files","array":"return ((response) => response.data)(response)","value":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.id) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem === null || elem === void 0 ? void 0 : elem.name) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"파일 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//www.googleapis.com/auth/drive"}}},"required":true},"responses":{"201":{"description":"파일 텍스트 내용.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleDrive.IReadFileGoogleDriveOutput"}}}}},"summary":"구글 드라이브 파일 텍스트 읽기.","description":"파일에서 텍스트를 읽어옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"}},"/connector/llm/selector-llm":{"post":{"tags":["Llm"],"parameters":[],"requestBody":{"description":"후보 선택을 위한 입력","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISelectorLlmRequest"}}},"required":true},"responses":{"201":{"description":"선택된 후보 인덱스 배열","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISelectorLlmResponse"}}}}},"summary":"조건 선택","description":"주어진 후보 중에서 조건에 맞는 것을 선택합니다."}},"/connector/gmail/send":{"post":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[],"requestBody":{"description":"메일을 보내기 위해 필요한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.ICreateMailInput"}}},"required":true},"responses":{"201":{"description":"전송된 메일의 ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.ISendMailOutput"}}}}},"summary":"GMAIL 전송.","description":"메일을 전송합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg","x-wrtn-standalone":true}},"/connector/gmail/draft":{"post":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[],"requestBody":{"description":"메일 초안을 생성하기 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.ICreateMailInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"GMAIL 초안 생성.","description":"메일 초안을 생성 합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg","x-wrtn-standalone":true}},"/connector/gmail/reply/{id}":{"post":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/gmail/read-list","array":"return ((response) => response.data)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.subject) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"","required":true}],"requestBody":{"description":"메일 답장에 필요한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.IReplyInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"GMAIL 답장.","description":"수신된 메일에 답장을 보냅니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"}},"/connector/gmail/get/{id}":{"post":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/gmail/read-list","array":"return ((response) => response.data)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.subject) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"해당 메일의 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//mail.google.com/"}}},"required":true},"responses":{"201":{"description":"해당 메일의 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.IFindGmailOutput"}}}}},"summary":"GMAIL 정보 가져오기.","description":"메일의 정보를 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"}},"/connector/gmail/read-list":{"post":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[],"requestBody":{"description":"메일 리스트를 가져오기 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.IFindEmailListInput"}}},"required":true},"responses":{"201":{"description":"메일 리스트.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.IFindGmailListOutput"}}}}},"summary":"GMAIL 리스트 가져오기.","description":"메일 리스트를 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg","x-wrtn-standalone":true}},"/connector/gmail/{id}":{"delete":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[{"name":"id","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/gmail/read-list","array":"return ((response) => response.data)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.subject) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"삭제할 메일의 고유 ID.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretgooglehttps//mail.google.com/"}}},"required":true},"responses":{"200":{"description":""}},"summary":"GMAIL 삭제.","description":"메일을 삭제합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"}},"/connector/gmail/label":{"post":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[],"requestBody":{"description":"라벨 생성을 위한 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.ILabelInput"}}},"required":true},"responses":{"201":{"description":"생성된 라벨의 고유 ID.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.ILabelOutput"}}}}},"summary":"GMAIL 라벨 생성.","description":"라벨을 생성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg","x-wrtn-standalone":true}},"/connector/gmail/label/{mailId}":{"post":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[{"name":"mailId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/gmail/read-list","array":"return ((response) => response.data)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.subject) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"라벨을 부여할 메일의 고유 ID.","required":true}],"requestBody":{"description":"부여할 라벨의 고유 ID 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.IMailLabelOperationInput"}}},"required":true},"responses":{"201":{"description":""}},"summary":"GMAIL 라벨 부여.","description":"메일에 라벨을 부여합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"},"delete":{"tags":["Gmail","지메일","이메일","메일","스팸","첨부파일","필터","자동","답장","중요","구글","메일함","일정","비즈니스","Email","Mail","Send","Check","Manage","Search","Attachment","Set","Auto","Reply","Archive","Mark","Delete","Google","Mailbox","Schedule","Business"],"parameters":[{"name":"mailId","in":"path","schema":{"type":"string","x-wrtn-prerequisite":{"method":"post","path":"/connector/gmail/read-list","array":"return ((response) => response.data)(response)","value":"return ((elem) => elem.id)(elem, index, array)","label":"return ((elem) => { var _a; return (_a = elem.subject) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"}},"description":"라벨을 제거할 메일의 고유 ID.","required":true}],"requestBody":{"description":"제거할 라벨의 고유 ID 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGmail.IMailLabelOperationInput"}}},"required":true},"responses":{"200":{"description":""}},"summary":"GMAIL 라벨 제거.","description":"메일에 부여된 라벨을 제거합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"}},"/connector/tool/{id}/generate":{"post":{"tags":["Tool"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"description":"","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ITool.IGenerateInput"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ITool.IGenerateOutput"}}}}},"summary":"툴 사용","description":"툴을 사용합니다."}},"/connector/chatbot/generate/easy":{"post":{"tags":["Chatbot"],"parameters":[],"requestBody":{"description":"쉬움 난이도로 제작된 챗봇을 사용하기 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IChatbot.IChatbotEasyGenerateInput"}}},"required":true},"responses":{"201":{"description":"챗봇의 답변","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IChatbot.IChatbotGenerateOutput"}}}}},"summary":"난이도 쉬움 챗봇 사용","description":"쉬움 난이도로 제작된 챗봇을 사용합니다."}},"/connector/chatbot/generate/hard":{"post":{"tags":["Chatbot"],"parameters":[],"requestBody":{"description":"어려움 난이도로 제작된 챗봇을 사용하기 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IChatbot.IChatBotHardGenerateInput"}}},"required":true},"responses":{"201":{"description":"챗봇의 답변","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IChatbot.IChatbotGenerateOutput"}}}}},"summary":"난이도 어려움 챗봇 사용","description":"어려움 난이도로 제작된 챗봇을 사용합니다."}},"/connector/figma/get-files":{"post":{"tags":["figma"],"parameters":[],"requestBody":{"description":"파일을 가져오기 위한 조건 값.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IFigma.IReadFileInput"}}},"required":true},"responses":{"201":{"description":"피그마 파일 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IFigma.IReadFileOutput"}}}}},"summary":"피그마 파일 가져오기.","description":"피그마 파일들을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg"}},"/connector/figma/comments":{"post":{"tags":["figma"],"parameters":[],"requestBody":{"description":"댓글을 작성하기 위한 조건 값.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IFigma.IAddCommentInput"}}},"required":true},"responses":{"201":{"description":"방금 작성된 댓글의 정보.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}}},"summary":"캔버스 내 댓글 작성하기.","description":"댓글을 작성합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg"}},"/connector/figma/get-comments":{"post":{"tags":["figma"],"parameters":[],"requestBody":{"description":"댓글을 가져오기 위한 조건 값.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IFigma.IReadCommentInput"}}},"required":true},"responses":{"201":{"description":"피그마 댓글 목록.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCommentsResponse"}}}}},"summary":"피그마 댓글 가져오기.","description":"피그마 댓글들을 가져옵니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/figma.svg"}},"/connector/zoom/meetings":{"post":{"tags":["zoom"],"parameters":[],"requestBody":{"description":"미팅을 생성하고자 하는 유저 정보 및 조건에 대한 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IZoom.ICreateMeetingInput"}}},"required":true},"responses":{"201":{"description":"생성된 zoom 미팅 정보 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartialIZoom.Meeting"}}}}},"summary":"zoom 미팅 생성.","description":"zoom 미팅을 생성합니다.","x-wrtn-standalone":true}},"/connector/sweet-tacker/get-companies/recommended":{"post":{"tags":["sweet-tracker"],"parameters":[],"requestBody":{"description":"택배사 조회를 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISweetTracker.IGetRecommendedCompanyListInput"}}},"required":true},"responses":{"201":{"description":"택배사 목록","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISweetTracker.IGetRecommendedCompanyListOutput"}}}}},"summary":"송장 번호에 매칭되는 택배사 목록","description":"송장번호에 매칭되는 택배사 목록을 조회합니다.","x-wrtn-standalone":true}},"/connector/sweet-tacker/get-companies":{"post":{"tags":["sweet-tracker"],"parameters":[],"responses":{"201":{"description":"택배사 목록","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISweetTracker.IGetCompanyListOutput"}}}}},"summary":"택배사 목록 조회","description":"택배사 목록을 조회합니다.","x-wrtn-standalone":true}},"/connector/sweet-tacker/tracking-info":{"post":{"tags":["sweet-tracker"],"parameters":[],"requestBody":{"description":"송장 번호를 조회하기 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISweetTracker.IGetTrackingInfoInput"}}},"required":true},"responses":{"201":{"description":"택배의 이동 경로","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ISweetTracker.IGetTrackingInfoOutput"}}}}},"summary":"송장 조회","description":"송장 번호를 조회합니다."}},"/connector/hancell/read":{"post":{"tags":["Hancell 엑셀 파일","엑셀","파일","내보내기","다운로드","추출","추출하기","스프레드시트","데이터 저장","데이터 불러오기","데이터 분석","데이터 베이스","데이터 내보내기","데이터 가져오기","엑셀 변환","텍스트 파일","데이터 처리","대량 데이터","데이터 편집","파일 분할","데이터 통합","엑셀 만들기","엑셀 파일 열기","데이터 추출","데이터 필터링","데이터 병합","Hancell","File","Export","Download","Extract","Spreadsheet","Save Data","Load Data","Data Analysis","Database","Export Data","Import Data","Convert to Hancell","Text File","Data Processing","Large Data","Edit Data","Split File","Integrate Data","Create Hancell","Open Hancell File","Extract Data","Filter Data","Merge Data"],"parameters":[],"requestBody":{"description":"읽을 한셀 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IHancell.IReadHancellInput"}}},"required":true},"responses":{"201":{"description":"한셀 파일 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IHancell.IReadHancellOutput"}}}}},"summary":"한셀 파일 읽기","description":"한셀 파일을 읽습니다.","x-wrtn-standalone":true}},"/connector/kakao-talk/message/text":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"메시지를 보내기 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"}}},"required":true},"responses":{"201":{"description":"응답 및 실패 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"}}}}},"summary":"카카오톡 친구에게 메시지 쓰기","description":"친구에게 메시지를 카카오톡 메시지를 보냅니다","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg"}},"/connector/kakao-talk/memo/commerce":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"메시지를 보내기 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"}}},"required":true},"responses":{"201":{"description":"응답 코드","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IMemoOutput"}}}}},"summary":"카카오톡 내게 쓰기","description":"카카오톡 내게 쓰기로 메시지를 보냅니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/memo/location":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"메시지를 보내기 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"}}},"required":true},"responses":{"201":{"description":"응답 코드","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IMemoOutput"}}}}},"summary":"카카오톡 내게 쓰기","description":"카카오톡 내게 쓰기로 메시지를 보냅니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/memo/list":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"메시지를 보내기 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"}}},"required":true},"responses":{"201":{"description":"응답 코드","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IMemoOutput"}}}}},"summary":"카카오톡 내게 쓰기","description":"카카오톡 내게 쓰기로 메시지를 보냅니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/memo/feed":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"메시지를 보내기 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"}}},"required":true},"responses":{"201":{"description":"응답 코드","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IMemoOutput"}}}}},"summary":"카카오톡 내게 쓰기","description":"카카오톡 내게 쓰기로 메시지를 보냅니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/memo/text":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"메시지를 보내기 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ISendKakaoTalkTextInput"}}},"required":true},"responses":{"201":{"description":"응답 코드","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IMemoOutput"}}}}},"summary":"카카오톡 내게 쓰기","description":"카카오톡 내게 쓰기로 메시지를 보냅니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/calendars/events":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"일정 생성을 위한 입력 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ICreateEventInput"}}},"required":true},"responses":{"201":{"description":"생성된 일정 ID DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.ICreateEventOutput"}}}}},"summary":"카카오톡 캘린더 일정 추가.","description":"카카오톡 캘린더에 일정을 추가합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/get-friends":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"친구 목록 조회 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IGetFriendsInput"}}},"required":true},"responses":{"201":{"description":"조회한 친구 모록","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IGetFriendsOutput"}}}}},"summary":"카카오톡 친구 목록 조회","description":"카카오톡 친구 목록을 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/get-events":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"일정 조회를 위한 DTO.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ISecretkakaotalk_calendarcalender_idstringundefinedpresetConstantTODAYtitle조회당일ConstantTHIS_WEEKtitle일요일로시작하는조회일이포함된한주Constant...undefinedtime_zonestringundefinedlimit(number...2more...Maximum...)undefined..."},{"$ref":"#/components/schemas/ISecretkakaotalk_calendarcalender_idstringundefinedpresetConstantTODAYtitle조회당일ConstantTHIS_WEEKtitle일요일로시작하는조회일이포함된한주Constant...undefinedtime_zonestringundefinedlimit(number...2more...Maximum...)undefined....o1"}]}}},"required":true},"responses":{"201":{"description":"일정 정보 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IGetEventOutput"}}}}},"summary":"카카오톡 캘린더 일정 조회.","description":"카카오톡 캘린더 일정을 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-talk/get-calendars":{"post":{"tags":["카카오톡"],"parameters":[],"requestBody":{"description":"캘린더를 조회하기 위한 요청 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICommon.ISecretkakaotalk_calendar"}}},"required":true},"responses":{"201":{"description":"캘린더 목록 객체.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoTalk.IGetCalendarOutput"}}}}},"summary":"카카오톡 캘린더 목록 조회.","description":"카카오톡 캘린더 목록들을 모두 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg","x-wrtn-standalone":true}},"/connector/kakao-map/search":{"post":{"tags":[],"parameters":[],"requestBody":{"description":"검색 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoMap.SearchByKeywordInput"}}},"required":true},"responses":{"201":{"description":"검색 결과","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoMap.SearchByKeywordOutput"}}}}},"summary":"카카오 맵 검색","description":"카카오맵으로 검색합니다","x-wrtn-standalone":true}},"/connector/kakao-navi/get-future-directions":{"post":{"tags":[],"parameters":[],"requestBody":{"description":"요청 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKakaoNavi.IGetFutureDirectionsInput"}}},"required":true},"responses":{"201":{"description":"길 찾기 결과","content":{"application/json":{"schema":{}}}}},"summary":"카카오 네비 길찾기","description":"카카오 네비로 길을 찾습니다.","x-wrtn-standalone":true}},"/connector/google-slides/presentations/{id}/export/power-point":{"post":{"tags":["구글 슬라이드","구글 드라이브","프레젠테이션","피피티","피티","슬라이드","슬라이드 디자인","프레젠테이션 만들기","슬라이드 템플릿","슬라이드 공유","이미지 삽입","동영상 삽입","슬라이드 애니메이션","슬라이드쇼","발표 준비","발표 자료","슬라이드 내보내기","슬라이드 인쇄","슬라이드 전환","슬라이드 배경","슬라이드 텍스트","슬라이드 표","슬라이드 차트","슬라이드 그래프","슬라이드 복제","슬라이드 이동","슬라이드 삭제","맞춤법 검사","슬라이드 찾기","슬라이드 저장","프레젠테이션 준비","슬라이드 협업","슬라이드 제목"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"description":"변환할 프레젠테이션 아이디","required":true}],"requestBody":{"description":"인증 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.IExportPresentationInput"}}},"required":true},"responses":{"201":{"description":"파워포인트 파일을 다운로드 가능한 링크","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.IExportPresentationOutput"}}}}},"summary":"프레젠테이션을 PPT 파일로 내보내기","description":"구글 슬라이드 프레젠테이션을 파워포인트 형식으로 내보내요!"}},"/connector/google-slides/get-presentations":{"post":{"tags":["구글 슬라이드","구글 드라이브","프레젠테이션","피피티","피티","슬라이드","슬라이드 디자인","프레젠테이션 만들기","슬라이드 템플릿","슬라이드 공유","이미지 삽입","동영상 삽입","슬라이드 애니메이션","슬라이드쇼","발표 준비","발표 자료","슬라이드 내보내기","슬라이드 인쇄","슬라이드 전환","슬라이드 배경","슬라이드 텍스트","슬라이드 표","슬라이드 차트","슬라이드 그래프","슬라이드 복제","슬라이드 이동","슬라이드 삭제","맞춤법 검사","슬라이드 찾기","슬라이드 저장","프레젠테이션 준비","슬라이드 협업","슬라이드 제목"],"parameters":[],"requestBody":{"description":"프레젠테이션을 조회하기 위한 조건 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.IGetPresentationInput"}}},"required":true},"responses":{"201":{"description":"조회된 프레젠테이션 정보 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.Presentation"}}}}},"summary":"Google Slides 프레젠테이션 조회.","description":"Google Slides 프레젠테이션을 조회합니다."}},"/connector/google-slides/presentations/{id}/image-slide":{"put":{"tags":[],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"description":"","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.AppendSlideInput"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.Presentation"}}}}}}},"/connector/google-slides/presentations":{"post":{"tags":["구글 슬라이드","구글 드라이브","프레젠테이션","피피티","피티","슬라이드","슬라이드 디자인","프레젠테이션 만들기","슬라이드 템플릿","슬라이드 공유","이미지 삽입","동영상 삽입","슬라이드 애니메이션","슬라이드쇼","발표 준비","발표 자료","슬라이드 내보내기","슬라이드 인쇄","슬라이드 전환","슬라이드 배경","슬라이드 텍스트","슬라이드 표","슬라이드 차트","슬라이드 그래프","슬라이드 복제","슬라이드 이동","슬라이드 삭제","맞춤법 검사","슬라이드 찾기","슬라이드 저장","프레젠테이션 준비","슬라이드 협업","슬라이드 제목"],"parameters":[],"requestBody":{"description":"프레젠테이션을 만들기 위한 조건 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.ICreatePresentationInput"}}},"required":true},"responses":{"201":{"description":"생성된 프레젠테이션 정보 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGoogleSlides.Presentation"}}}}},"summary":"Google Slides 프레젠테이션 생성.","description":"Google Slides 프레젠테이션을 생성합니다."}},"/connector/imweb/get-products":{"post":{"tags":[],"parameters":[],"requestBody":{"description":"상품을 조회하기 위한 조건 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IImweb.IGetProductInput"}}},"required":true},"responses":{"201":{"description":"액세스 토큰을 담은 응답 DTO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IImweb.IGetProductOutput"}}}}},"summary":"자신의 상품 조회.","description":"아임웹에서 판매자의 상품들을 불러온다.","x-wrtn-standalone":true}},"/connector/open-data/getRTMSDataSvcSHRent":{"post":{"tags":["주거","단독주택","다가구","월세","전세"],"parameters":[],"requestBody":{"description":"조회 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"}}},"required":true},"responses":{"201":{"description":"조회한 전세, 월세 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.IgetRTMSDataSvcSHRentOutput"}}}}},"summary":"다가구 전세, 월세 정보 조회","description":"[국토교통부] 단독 주택, 다가구 주택 전세, 월세 정보를 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getRTMSDataSvcOffiRent":{"post":{"tags":["주거","오피스텔","월세","전세"],"parameters":[],"requestBody":{"description":"조회 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"}}},"required":true},"responses":{"201":{"description":"조회한 전세, 월세 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.IGetRTMSDataSvcOffiRentOutput"}}}}},"summary":"오피스텔 전세, 월세 정보 조회","description":"[국토교통부] 오피스텔 전세, 월세 정보를 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getRTMSDataSvcAptRent":{"post":{"tags":["공공 데이터","주거","아파트","월세","전세"],"parameters":[],"requestBody":{"description":"조회 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"}}},"required":true},"responses":{"201":{"description":"조회한 전세, 월세 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentOutput"}}}}},"summary":"아파트 전세, 월세 정보 조회","description":"[국토교통부] 아파트 전세, 월세 정보를 조회합니다.","x-wrtn-standalone":true,"x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getLHLeaseInfo":{"post":{"tags":["공공 데이터","LH","주거","임대주택","행복주택"],"parameters":[],"requestBody":{"description":"조회할 임대주택 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ILH.IGetLHLeaseInfoInput"}}},"required":true},"responses":{"201":{"description":"LH 임대주택 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ILH.IGetLHLeaseInfoOutput"}}}}},"summary":"LH 임대주택 조회","description":"[한국토지주택공사] LH 임대주택 단지를 조회합니다.","x-wrtn-standalone":true,"x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getParkingLot":{"post":{"tags":["공공 데이터","주차장","주차"],"parameters":[],"requestBody":{"description":"주차장 조회 조건","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IPaginationInputPickParkingLotrdnmadr"},{"$ref":"#/components/schemas/IPaginationInputPickParkingLotlnmadr"}]}}},"required":true},"responses":{"201":{"description":"주차장 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/INIA.IGetParkingLotOutput"}}}}},"summary":"주차장 조회","description":"[한국지능정보사회진흥원] 주차장 정보를 조회합니다.","x-wrtn-standalone":true,"x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getBuildingInfo":{"post":{"tags":["공공 데이터","건축물","빌딩","내진설계","건축물대장정보"],"parameters":[],"requestBody":{"description":"빌딩 정보를 조회하는 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.GetBuildingInfoInput"}}},"required":true},"responses":{"201":{"description":"빌딩 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IMOLIT.GetBuildingInfoOutput"}}}}},"summary":"건축물대장정보 조회","description":"[국토교통부] 건축물대장정보를 조회합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getStandardRegionCodeList":{"post":{"tags":["공공 데이터","행정구역","지역구","읍면동","시도","시군구"],"parameters":[],"requestBody":{"description":"조회할 지역 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListInput"}}},"required":true},"responses":{"201":{"description":"지역 코드","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListOutput"}}}}},"summary":"행정표준 코드 조회","description":"[행정안전부] 국내 지역의 행정 표준 상 코드를 조회합니다.","x-wrtn-standalone":true,"x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getStockPriceInfo":{"post":{"tags":["공공 데이터","주식","시가총액","기업","자본"],"parameters":[],"requestBody":{"description":"시가총액 조회를 위한 조건","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120Placeholder삼성전자)undefinedbasDt(stringPlaceholder20220919)undefined"},{"$ref":"#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120Placeholder삼성전자)undefinedbeginBasDt(stringPlaceholder20220919)undefinedendBasDt(stringPlaceholder...)undefined"}]}}},"required":true},"responses":{"201":{"description":"시가 총액 및 주식 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IOpenData.FinancialServicesCommission.IGetStockPriceInfoOutput"}}}}},"summary":"시가총액 및 주식 정보 조회","description":"[금융위원회] 시가총액과 주식 정보를 조회합니다.","x-wrtn-standalone":true,"x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getShortTermForecast":{"post":{"tags":["공공 데이터","날씨","기상청","오늘 날씨","기후"],"parameters":[],"requestBody":{"description":"날씨 조회를 위한 위치 정보 DTO","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IOpenData.IKoreaMeteorologicalAdministration.IGetVillageForecastInformationInput"}}},"required":true},"responses":{"201":{"description":"해당 지역의 기상 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IOpenData.IKoreaMeteorologicalAdministration.IGetVillageForecastInformationOutput"}}}}},"summary":"기상청 오늘 날씨 조회","description":"[기상청] 오늘 날씨를 조회합니다.","x-wrtn-standalone":true,"x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/open-data/getCopyRight":{"post":{"tags":["저작권"],"parameters":[],"requestBody":{"description":"저작권 조회를 위한 조건","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KoreaCopyrightCommission.IGetCopyRightInput"}}},"required":true},"responses":{"201":{"description":"저작권 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KoreaCopyrightCommission.IGetCopyRightOutput"}}}}},"summary":"[저작권등록정보서비스(신규)","description":"[한국저작권위원회] 저작권을 검색합니다.","x-wrtn-standalone":true,"x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"}},"/connector/prompt/generate":{"post":{"tags":["프롬프트 노드"],"parameters":[],"requestBody":{"description":"유저의 프롬프트 입력","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPrompt.IRequest"}}},"required":true},"responses":{"201":{"description":"프롬프트를 통한 답변","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPrompt.IResponse"}}}}},"summary":"프롬프트 노드","description":"LLM에게 지시할 요청사항을 입력합니다.","x-wrtn-icon":"https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/prompt_node.svg"}},"/connector/korea-eximbank/exchange":{"get":{"tags":[],"parameters":[],"responses":{"200":{"description":"환율 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IKoreaEximbank.IGetExchangeOutput"}}}}},"x-wrtn-standalone":true}},"/connector/story-generator":{"post":{"tags":["Llm"],"parameters":[],"requestBody":{"description":"스토리 생성을 위한 입력","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStoryGeneratorRequest"}}},"required":true},"responses":{"201":{"description":"생성된 스토리 혹은 추가 정보 요청","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStoryGeneratorResponse"}}}}},"summary":"스토리 생성","description":"유저의 입력을 기반으로 스토리를 짭니다."}},"/connector/story-image-generator":{"post":{"tags":["스토리"],"parameters":[],"requestBody":{"description":"이미지 생성을 위한 입력","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IGenerateStoryImageInput"}}},"required":true},"responses":{"201":{"description":"생성된 이미지","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStoryImage"}}}}},"summary":"스토리 이미지 생성","description":"주어진 입력으로부터 이미지를 생성합니다."}},"/connector/stable-diffusion-beta/generate":{"post":{"tags":["스테이블 디퓨전 이미지 생성기 노드"],"parameters":[],"requestBody":{"description":"이미지 생성을 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStableDiffusionBeta.IRequest"}}},"required":true},"responses":{"201":{"description":"생성된 이미지 URL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IStableDiffusionBeta.IResponse"}}}}},"summary":"스테이블 디퓨전 이미지 생성기 노드","description":"스테이블 디퓨전 모델을 이용하여 이미지를 생성합니다.","x-wrtn-standalone":true}},"/connector/dall-e-3/generate":{"post":{"tags":["dall-e-3 이미지 생성기 노드"],"parameters":[],"requestBody":{"description":"이미지 생성을 위한 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IDallE3.IRequest"}}},"required":true},"responses":{"201":{"description":"생성된 이미지 URL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IDallE3.IResponse"}}}}},"summary":"dall-e-3 이미지 생성기 노드","description":"dall-e-3 모델을 이용하여 이미지를 생성합니다.","x-wrtn-standalone":true}}},"components":{"schemas":{"IConnector.ISearchInput":{"type":"object","properties":{"num_results":{"type":"integer","x-wrtn-placeholder":"10","title":"검색 결과 개수","description":"몇 개의 검색 결과를 가져올지 설정합니다."},"from_date":{"type":"string","format":"date","title":"검색 결과 시작 날짜","description":"검색 결과 시작 날짜를 설정합니다."},"to_date":{"type":"string","format":"date","title":"검색 결과 종료 날짜","description":"검색 결과 종료 날짜를 설정합니다."},"and_keywords":{"type":"array","items":{"type":"string","x-wrtn-placeholder":"biology"},"title":"반드시 포함되어야 하는 키워드","description":"검색 결과에 포함되어야 하는 키워드입니다."},"or_keywords":{"type":"array","items":{"type":"string","x-wrtn-placeholder":"ecosystem"},"title":"포함되면 좋겠는 키워드","description":"검색 결과에 포함되면 좋겠는 키워드입니다."},"not_keywords":{"type":"array","items":{"type":"string","x-wrtn-placeholder":"pollution"},"title":"포함되면 안되는 키워드","description":"검색 결과에 포함되면 안되는 키워드입니다."}},"required":["and_keywords"],"title":"검색 조건","description":"검색 조건을 입력합니다."},"IConnector.ISearchOutput":{"type":"object","properties":{"references":{"type":"array","items":{"$ref":"#/components/schemas/IConnector.IReferenceContent"},"title":"산출물 정보","description":"검색 결과에 대한 산출물 정보를 담고 있습니다."}},"required":["references"]},"IConnector.IReferenceContent":{"type":"object","properties":{"title":{"type":"string","title":"제목","description":"산출물의 제목입니다."},"type":{"$ref":"#/components/schemas/IConnector.ReferenceType","title":"산출물 타입","description":"비디오, 이미지, 뉴스기사, 논문.."},"source":{"$ref":"#/components/schemas/IConnector.ContentProvider","title":"산출물의 출처","description":"유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스"},"url":{"type":"string","format":"uri","title":"URL 주소","description":"산출물의 URL 주소입니다."},"contents":{"type":"string","title":"산출물 내용","description":"산출물의 내용입니다."},"image":{"type":"string","format":"uri","title":"산출물 이미지 url","description":"산출물의 이미지 URL 주소입니다."},"statistics":{"$ref":"#/components/schemas/PartialRecordIConnector.MetricTypenumberTypeint32","title":"산출물 통계 자료 정보","description":"산출물의 통계 자료 정보입니다."}},"required":["title","type","source","url"]},"IConnector.ReferenceType":{"oneOf":[{"const":"video"},{"const":"image"},{"const":"news_article"},{"const":"research_paper"}],"title":"Connector 산출물 타입","description":"비디오, 이미지, 뉴스기사, 논문.."},"IConnector.ContentProvider":{"oneOf":[{"const":"youtube"},{"const":"facebook"},{"const":"instagram"},{"const":"google_search"},{"const":"arxiv"},{"const":"google_news"}],"title":"Connector 산출물 출처","description":"산출물의 출처입니다."},"PartialRecordIConnector.MetricTypenumberTypeint32":{"type":"object","properties":{"view_count":{"type":"integer"},"like_count":{"type":"integer"},"rank":{"type":"integer"}},"description":"Make all properties in T optional"},"IDaum.ISearchDaumInput":{"type":"object","properties":{"andKeywords":{"type":"string","x-wrtn-placeholder":"뤼튼","title":"꼭 들어가야하는 키워드","description":"다음 검색 결과에 들어가야하는 키워드를 설정합니다."},"orKeywords":{"type":"string","x-wrtn-placeholder":"스튜디오","title":"들어가면 좋은 키워드","description":"다음 검색 결과에 들어가면 좋은 키워드를 설정합니다."},"notKeywords":{"type":"string","x-wrtn-placeholder":"폭력","title":"들어가면 안되는 키워드","description":"다음 검색 결과에 들어가면 안되는 키워드를 설정합니다."},"sort":{"oneOf":[{"const":"accuracy","default":"accuracy","x-wrtn-placeholder":"accuracy"},{"const":"recency","default":"accuracy","x-wrtn-placeholder":"accuracy"}],"title":"결과 문서 정렬 방식","description":"- accuracy: 정확도순 (default)\n- recency: 최신순"},"page":{"type":"number","minimum":1,"maximum":50,"default":1,"title":"결과 페이지 번호","description":"결과 페이지의 번호입니다."},"size":{"type":"number","minimum":1,"maximum":50,"default":10,"title":"한 페이지에 보여질 문서 수","description":"한 페이지에 보여질 문서 수 입니다."}},"required":["andKeywords"]},"IDaum.IBlogDaumOutput":{"type":"object","properties":{"meta":{"type":"object","properties":{"totalCount":{"type":"number","title":"검색된 컨텐츠 수","description":"검색된 문서의 총 개수입니다."},"pageableCount":{"type":"number","title":"검색된 문서 중 노출 가능한 컨텐츠 수","description":"검색된 문서 중 노출 가능한 컨텐츠의 개수입니다."},"isEnd":{"type":"boolean","title":"현재 페이지가 마지막 페이지인지 여부","description":"값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."}},"required":["totalCount","pageableCount","isEnd"]},"documents":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","title":"문서의 제목","description":"검색된 문서의 제목입니다."},"contents":{"type":"string","title":"문서 본문중 일부","description":"검색된 문서의 본문 중 일부입니다."},"url":{"type":"string","title":"문서 URL","description":"검색된 문서의 URL입니다."},"blogName":{"type":"string","title":"블로그의 이름","description":"검색된 블로그의 이름입니다."},"thumbnail":{"type":"string","title":"썸네일 이미지 URL","description":"검색 시스템에서 추출한 대표 미리보기 이미지 URL."},"dateTime":{"type":"string","title":"문서 작성 시간","description":"검색된 문서가 작성된 시간입니다."}},"required":["title","contents","url","blogName","thumbnail","dateTime"]}}},"required":["meta","documents"]},"IDaum.ICafeDaumOutput":{"type":"object","properties":{"meta":{"type":"object","properties":{"totalCount":{"type":"number","title":"검색된 다음 카페 컨텐츠 수","description":"검색된 다음 카페의 총 갯수 입니다."},"pageableCount":{"type":"number","title":"검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠 수","description":"검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠의 개수입니다."},"isEnd":{"type":"boolean","title":"현재 페이지가 마지막 페이지인지 여부","description":"값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."}},"required":["totalCount","pageableCount","isEnd"]},"documents":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","title":"문서의 제목","description":"검색된 문서의 제목입니다."},"contents":{"type":"string","title":"문서 본문중 일부","description":"검색된 문서의 본문 중 일부입니다."},"url":{"type":"string","title":"문서 URL","description":"검색된 문서의 URL입니다."},"cafeName":{"type":"string","title":"카페 이름","description":"검색된 다음 카페 이름입니다."},"thumbnail":{"type":"string","title":"썸네일 이미지 URL","description":"검색 시스템에서 추출한 대표 미리보기 이미지 URL."},"dateTime":{"type":"string","title":"문서 작성 시간","description":"검색된 문서가 작성된 시간입니다."}},"required":["title","contents","url","cafeName","thumbnail","dateTime"]}}},"required":["meta","documents"]},"INaver.INaverKeywordInput":{"type":"object","properties":{"andKeywords":{"type":"string","x-wrtn-placeholder":"뤼튼","title":"꼭 들어가야하는 키워드","description":"검색 결과에 반드시 포함되어야 하는 키워드입니다."},"orKeywords":{"type":"string","x-wrtn-placeholder":"스튜디오","title":"들어가면 좋은 키워드","description":"검색 결과에 포함되면 좋겠는 키워드입니다."},"notKeywords":{"type":"string","x-wrtn-placeholder":"폭력","title":"들어가면 안되는 키워드","description":"검색 결과에 포함되면 안되는 키워드입니다."},"display":{"type":"number","minimum":1,"maximum":100,"default":10,"x-wrtn-placeholder":"10","title":"검색할 개수","description":"검색 결과를 몇 개 받아올 것인지 설정합니다.\n최소 1개, 최대 100개, 기본 10개입니다."},"sort":{"oneOf":[{"const":"date","x-wrtn-placeholder":"sim"},{"const":"sim","x-wrtn-placeholder":"sim"}],"title":"검색 결과 정렬 방법","description":"검색 결과를 어떤 기준으로 정렬할 것인지 설정합니다."}},"required":["andKeywords"],"title":"검색 조건"},"INaver.ICafeNaverOutput":{"type":"object","properties":{"data":{"type":"object","properties":{"lastBuildDate":{"type":"string","title":"검색 결과를 생성한 시간.","description":"검색 결과를 생성한 시간입니다."},"total":{"type":"number","title":"총 검색 결과 개수.","description":"검색 결과의 총 개수입니다."},"start":{"type":"number","title":"검색 시작 위치.","description":"검색 결과의 시작 위치입니다."},"display":{"type":"number","title":"한 번에 표시할 검색 결과 개수.","description":"한 번에 표시할 검색 결과의 개수입니다."},"items":{"type":"array","items":{"$ref":"#/components/schemas/INaver.ICafeNaverItemOutput"},"title":"개별 검색 결과.","description":"개별 검색 결과입니다."}},"required":["lastBuildDate","total","start","display","items"],"title":"네이버 카페 검색 결과물 데이터.","description":"네이버 카페 검색 결과물 데이터."}},"required":["data"]},"INaver.ICafeNaverItemOutput":{"type":"object","properties":{"title":{"type":"string","title":"게시글 제목.","description":"네이버 카페 게시글의 제목."},"link":{"type":"string","title":"게시글 링크.","description":"네이버 카페 게시글의 링크."},"description":{"type":"s
[...]
