{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "version": "0.1.440",
    "title": "@wrtn/connector",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/swal/articles/{id}/sync/dev-to": {
      "post": {
        "summary": "Syncronize article version",
        "description": "upgrade or downgrade version of exported dev.to\n\nSynchronize on a snapshot basis,\nsuch as upgrading or downgrading the version of a document exported to DevTo.\nIf user specify the id of the snapshot in the names from and to among the internal properties,\nfind the exported text from `from` and start synchronizing to the version of `to`.\nIf user want to revert to the past version of the snapshot,\nuser can put the current version in 'from' and the past version in 'to'.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "DevTo Secret and snapshot information to sync",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.ISync.ToDevToInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response of Synchronization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IArticle.ISync.ToDevToOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "sync",
          "dev_to",
          "syncToDevTo"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "dev.to에 동기화해줘"
        ]
      }
    },
    "/connector/swal/articles/{id}/sync/google-docs": {
      "post": {
        "summary": "Syncronize article version",
        "description": "upgrade or downgrade version of exported google docs file\n\nSynchronize on a snapshot basis,\nsuch as upgrading or downgrading the version of a document exported to GoogleDocs.\nIf user specify the id of the snapshot in the names from and to among the internal properties,\nfind the exported text from `from` and start synchronizing to the version of `to`.\nIf user want to revert to the past version of the snapshot,\nuser can put the current version in 'from' and the past version in 'to'.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "GoogleDocs Secret and snapshot information to sync",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.ISync.ToGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response of Synchronization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IArticle.ISync.ToGoogleDocsOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "sync",
          "google_docs",
          "syncToGoogleDocs"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "google docs에 동기화해줘"
        ]
      }
    },
    "/connector/swal/articles/{id}/sync/notion": {
      "post": {
        "summary": "Syncronize article version",
        "description": "upgrade or downgrade version of exported notion page\n\nSynchronize on a snapshot basis,\nsuch as upgrading or downgrading the version of a document exported to Notion.\nIf user specify the id of the snapshot in the names from and to among the internal properties,\nfind the exported text from `from` and start synchronizing to the version of `to`.\nIf user want to revert to the past version of the snapshot,\nuser can put the current version in 'from' and the past version in 'to'.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "Notion Secret and snapshot information to sync",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.ISync.ToNotionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response of Synchronization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IArticle.ISync.ToNotionOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "sync",
          "notion",
          "syncToNotion"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "노션에 동기화해줘"
        ]
      }
    },
    "/connector/swal/articles/{id}/exports/dev-to": {
      "post": {
        "summary": "Exports specified article to dev_to",
        "description": "Export the text to Dev.to\n\nThe exported text is recorded by creating a\n{@link IArticleExport bbs_article_exports} object based on the snapshot.\nYou can upgrade and downgrade the version using\nthe 'POST /connector/swal/articles/:id/exports/sync/dev_to' connector in the future.\nAlso, it doesn't matter if you export the same version of the text multiple times.\n\nBecause each export generates a new text,\nyou must use the `sync` connector if you want to change the version of an already exported text.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "DevTo Secret and snapshot information to export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.IExport.ToDevToInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Article Infomation and dev_to secretKey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IArticle.IExport.ToDevToOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "exports",
          "dev_to",
          "exportsToDevTo"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "dev.to로 내보내줘"
        ]
      }
    },
    "/connector/swal/articles/{id}/exports/google-docs": {
      "post": {
        "summary": "Exports specified article to google_docs",
        "description": "Export the text to GoogleDocs\n\nThe exported text is recorded by creating a\n{@link IArticleExport bbs_article_exports} object based on the snapshot.\nYou can upgrade and downgrade the version using\nthe 'POST /connector/swal/articles/:id/exports/sync/google_docs' connector in the future.\nAlso, it doesn't matter if you export the same version of the text multiple times.\n\nBecause each export generates a new text,\nyou must use the `sync` connector if you want to change the version of an already exported text.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "GoogleDocs Secret and snapshot information to export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.IExport.ToGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Article Infomation and google_docs secretKey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IArticle.IExport.ToGoogleDocsOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "exports",
          "google_docs",
          "exportsToGoogleDocs"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "google docs로 내보내줘"
        ]
      }
    },
    "/connector/swal/articles/{id}/exports/notion": {
      "post": {
        "summary": "Exports specified article to notion",
        "description": "Export the text to Notion\n\nThe exported text is recorded by creating a\n{@link IArticleExport bbs_article_exports} object based on the snapshot.\nYou can upgrade and downgrade the version using\nthe 'POST /connector/swal/articles/:id/exports/sync/notion' connector in the future.\nAlso, it doesn't matter if you export the same version of the text multiple times.\n\nBecause each export generates a new text,\nyou must use the `sync` connector if you want to change the version of an already exported text.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "Notion Secret and snapshot information to export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.IExport.ToNotionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Article Infomation and notion secretKey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IArticle.IExport.ToNotionOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "exports",
          "notion",
          "exportsToNotion"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "notion으로 내보내줘"
        ]
      }
    },
    "/connector/swal/articles/{id}": {
      "patch": {
        "description": "Read an entire contents of article with its every snapshots\n\nAll text content that is not omitted is shown here, so you can also see how the text has been modified at once.\nThis connector reads an article with its every snapshots {@link IArticle.ISnapshot snapshots}\nThis detail contains the entire content created for each version of the document,\nas well as the connection information to the external services from which it was exported.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Article Infomation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrictOmitIArticleIArticle.ISnapshotpassword"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "at"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "글 내용 보여줘"
        ]
      },
      "delete": {
        "summary": "Remove an specified article",
        "description": "Erase an article\n\nPerforms soft deletion to the article.\nThis makes the article no longer available, regardless of the number of snapshots.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target article's {@link IArticle.id }, Not snapshot ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "remove"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "내 글 삭제해줘"
        ]
      },
      "put": {
        "summary": "Updates the specified article with new data",
        "description": "Update an existing article in the User Database\n\nThis function takes the updated article data as input and updates the corresponding\narticle record in the User Database. It uses the DocumentProvider to apply the changes.\nThe input must adhere to the structure defined by `IArticle.IUpdate`.\nReturns the updated document or the result of the update operation.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/articles",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "- The new data to update the article. It must match the `IArticle.IUpdate` type.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.IUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The result of the update operation from the DocumentProvider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IArticle.ISnapshot"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "update"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "내 글 수정해줘"
        ]
      }
    },
    "/connector/swal/articles": {
      "patch": {
        "summary": "List up all summarized articles",
        "description": "List up all summarized articles with pagination and searching options\n\nBecause it is looking at the user's individual writing, user cannot inquire other than your own writing.\nBecause it is a call to a text stored in the connector server's own DB,\nit may be appropriate to call this connector if the user asks to call the text without saying the service name.\nIt is recommended that you first ask the user for the service name.\nIf you are asked to look up the text under the names of `Swal`, `Wrtn Technologies`, `Wrtn`, `user own DB`, `user DB`, etc., you should call this connector.\n\nA list of pageed articles will appear.\nThe article contains abbreviated body content, so you can infer what you have from the title and body.\n\nIf you want to see the full text instead of the omitted text,\nor if you want to see the history of this article being exported to Notion or other services,\nplease look up the details.\nHere, we only show the content of the text up to 100 characters, so if you want to see the latter, you need to look up the details.\nYou can view all the snapshots of this article if you want to look at them in detail.\nThe detailed lookup connector is 'PATCH connector/swal/articles/:id'.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Request info of pagination and searching options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Paginated summarized articles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPageIArticle.ISummary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "index"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "내 글 조회해줘"
        ]
      },
      "post": {
        "description": "Write Article to User Database\n\nPosts are managed in a snapshot-based structure, enabling rollback at any time.\nWhen a post is created, the system automatically generates the first snapshot.\nThe most recent snapshot reflects the current state of the post.\nBy editing the post or exporting it to external services, you can track which version—i.e., which snapshot—was exported and synchronize it using foreign keys.\nThis system is designed to efficiently handle any post-like documents, such as those from Google Docs, Notion, or Reddit.\nUsing Markdown as the standard format for writing and versioning, it identifies changes through a diff algorithm whenever edits are made.\nThis allows you to compare previous and current versions, track changes, and synchronize updates across services.\nAs these APIs store data exclusively in the Wrtn Technologies Ecosystem Team's database without relying on external APIs,\nthis setup serves as an ideal starting point for creating and managing documents efficiently with robust version control.\n\nIf the user asked to edit the text, it would most likely not be this connector.\nThere is a separate connector for the update, so please use it.\n\nIf the user asks you to write without any service names,\nyou may be referring to this connector.\nAsk the user to confirm.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Article Information to Create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IArticle.ICreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrictOmitIArticleIArticle.ISnapshotpassword"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "articles",
          "write"
        ],
        "x-samchon-controller": "ArticleController",
        "x-wrtn-function-select-benchmarks": [
          "내 개인 DB에 글 좀 써줘"
        ]
      }
    },
    "/connector/swal/spreadsheets/{id}/exports/google-sheets": {
      "post": {
        "summary": "Exports specified spreadsheet to GoogleSheets",
        "description": "Export the spreadsheet to GoogleSheets\n\nThe exported spreadsheet is recorded by creating a\n{@link ISpreadsheetExport bbs_spreadsheet_exports} object based on the snapshot.\nYou can upgrade and downgrade the version using\nthe 'POST /connector/swal/spreadsheets/:id/exports/sync/google-sheets' connector in the future.\nAlso, it doesn't matter if you export the same version of the spreadsheet multiple times.\n\nBecause each export generates a new file,\nyou must use the `sync` connector if you want to change the version of an already exported file.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/spreadsheets",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target spreadsheet's {@link ISpreadsheet.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "GoogleSheets export configuration and snapshot information to export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISpreadsheet.IExport.ToGoogleSheetsToInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Spreadsheet Information and GoogleSheets export details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISpreadsheet.IExport.ToGoogleSheetsToOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "spreadsheets",
          "exports",
          "google_sheets",
          "exportsToGoogleSheets"
        ],
        "x-samchon-controller": "SpreadsheetController",
        "x-samchon-human": true
      }
    },
    "/connector/swal/spreadsheets/{id}/exports/excel": {
      "post": {
        "summary": "Exports specified spreadsheet to Excel",
        "description": "Export the spreadsheet to Excel\n\nThe exported spreadsheet is recorded by creating a\n{@link ISpreadsheetExport bbs_spreadsheet_exports} object based on the snapshot.\nYou can upgrade and downgrade the version using\nthe 'POST /connector/swal/spreadsheets/:id/exports/sync/excel' connector in the future.\nAlso, it doesn't matter if you export the same version of the spreadsheet multiple times.\n\nBecause each export generates a new file,\nyou must use the `sync` connector if you want to change the version of an already exported file.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/swal/spreadsheets",
                "jmesPath": "data[].{ value: id, label: snapshot.title }"
              }
            },
            "required": true,
            "description": " Target spreadsheet's {@link ISpreadsheet.id }, Not snapshot ID"
          }
        ],
        "requestBody": {
          "description": "Excel export configuration and snapshot information to export",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISpreadsheet.IExport.SnapshotInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Spreadsheet Information and Excel export details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISpreadsheet.IExport.ToExcelToOutput"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "spreadsheets",
          "exports",
          "excel",
          "exportsToExcel"
        ],
        "x-samchon-controller": "SpreadsheetController",
        "x-samchon-human": true
      }
    },
    "/connector/swal/spreadsheets/{id}": {
      "patch": {
        "summary": "Read individual detailed spreadsheet including full data",
        "description": "Read an entire contents of spreadsheet with its every snapshot\n\nAll data content that is not omitted is shown here, so you can also see how the spreadsheet has been modified over time.\nThis connector reads a spreadsheet with its every snapshot {@link ISpreadsheet.ISnapshot snapshots}.\nThis detailed view contains the full data created for each version of the spreadsheet,\nas well as the connection information to the external services to which it was exported.\n\nBy examining the snapshots, you can track changes made to the spreadsheet, compare versions, and understand its history.\nIf the user is interested in a specific version of the spreadsheet or wants to check its export history to external services like Google Sheets or Excel,\nthis connector is the correct choice.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": " Target spreadsheet's {@link ISpreadsheet.id }, Not snapshot ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Spreadsheet Information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISpreadsheetISpreadsheet.ISnapshot"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "spreadsheets",
          "at"
        ],
        "x-samchon-controller": "SpreadsheetController",
        "x-samchon-human": true
      }
    },
    "/connector/swal/spreadsheets/{id}/cells": {
      "post": {
        "summary": "Insert or update cells in a spreadsheet (snapshot-based structure)",
        "description": "Insert or update cells in a spreadsheet\n\nThis connector allows adding or updating cells in an existing spreadsheet.\nThe spreadsheet is identified by its {@link ISpreadsheet.id}, and the input should include\nthe cell data to be inserted or updated.\n\nSpreadsheets in the system are managed as snapshots, meaning each update creates a new snapshot\nto preserve version history. Cells, like other spreadsheet components, are part of this snapshot\nstructure. This allows tracking changes to the spreadsheet over time and facilitates rollbacks or\ncomparisons between versions.\n\nWhen updating the spreadsheet, it modifies only the provided cells, leaving other\ncells unchanged. This is particularly useful for partial updates without altering the\nexisting structure or data in the spreadsheet.\n\nIf you want to create a new spreadsheet entirely, please use the `POST /connector/swal/spreadsheets` connector instead.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": " Target spreadsheet's {@link ISpreadsheet.id }"
          }
        ],
        "requestBody": {
          "description": "Contains the cells to be inserted or updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequiredPickISpreadsheet.ICreatecells"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Updated spreadsheet data after modifying the cells",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISpreadsheetISpreadsheet.ISnapshot"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "spreadsheets",
          "cells",
          "insertCells"
        ],
        "x-samchon-controller": "SpreadsheetController",
        "x-samchon-human": true
      }
    },
    "/connector/swal/spreadsheets": {
      "patch": {
        "summary": "List up all summarized spreadsheets",
        "description": "List up all summarized spreadsheets with pagination and searching options\n\nBecause it is looking at the user's individual spreadsheets, the user cannot inquire about spreadsheets other than their own.\nBecause it is a call to data stored in the connector server's own DB,\nit may be appropriate to call this connector if the user asks to call the data without saying the service name.\nIt is recommended that you first ask the user for the service name.\nIf you are asked to look up the spreadsheets under the names of `Swal`, `Wrtn Technologies`, `Wrtn`, `user own DB`, `user DB`, etc., you should call this connector.\n\nA list of paged spreadsheets will appear.\nThe spreadsheet contains abbreviated data previews, so you can infer its contents from the title and preview.\n\nIf you want to see the full data instead of the abbreviated preview,\nor if you want to see the history of this spreadsheet being exported to Google Sheets or other services,\nplease look up the details.\nHere, we only show a preview of the data up to 100 cells, so if you want to see the latter, you need to look up the details.\nYou can view all the snapshots of this spreadsheet if you want to look at them in detail.\nThe detailed lookup connector is 'PATCH connector/swal/spreadsheets/:id'.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Request info of pagination and searching options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISpreadsheet.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Paginated summarized spreadsheets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPageISpreadsheet.ISummary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "spreadsheets",
          "index"
        ],
        "x-samchon-controller": "SpreadsheetController",
        "x-samchon-human": true
      },
      "post": {
        "summary": "Create Spreadsheet",
        "description": "Create Spreadsheet in User Database\n\nSpreadsheets are managed in a snapshot-based structure, enabling rollback at any time.\nWhen a spreadsheet is created, the system automatically generates the first snapshot.\nThe most recent snapshot reflects the current state of the spreadsheet.\nBy editing the spreadsheet or exporting it to external services, you can track which version—i.e., which snapshot—was exported and synchronize it using foreign keys.\nThis system is designed to efficiently handle any spreadsheet-like documents, such as those from Google Sheets, Excel, or Airtable.\nUsing a structured data format as the standard for writing and versioning, it identifies changes through a diff algorithm whenever edits are made.\nThis allows you to compare previous and current versions, track changes, and synchronize updates across services.\nAs these APIs store data exclusively in the Wrtn Technologies Ecosystem Team's database without relying on external APIs,\nthis setup serves as an ideal starting point for creating and managing spreadsheets efficiently with robust version control.\n\nIf the user asked to edit the spreadsheet, it would most likely not be this connector.\nThere is a separate connector for the update, so please use it.\n\nIf the user asks you to create a spreadsheet without any service names,\nyou may be referring to this connector.\nAsk the user to confirm.\n\nPlease insert the correct data without omitting the data or adding the phrase that you have omitted it.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Spreadsheet Information to Create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISpreadsheet.ICreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISpreadsheetISpreadsheet.ISnapshot"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "x-samchon-accessor": [
          "connector",
          "swal",
          "spreadsheets",
          "create"
        ],
        "x-samchon-controller": "SpreadsheetController",
        "x-samchon-human": true
      }
    },
    "/connector/marketing-copy/generate-copy": {
      "post": {
        "summary": "Generate marketing copy",
        "description": "Generates marketing copy from given input",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Input for generating marketing copy",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Generated marketing copy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIMarketingCopyComponents"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "marketing_copy",
          "generate_copy",
          "generateCopy"
        ],
        "x-samchon-controller": "MarketingCopyController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy-image": {
      "post": {
        "summary": "Generate a marketing copy image",
        "description": "Generates a marketing copy image from the given input",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Input for generating a marketing copy image",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyImageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Generated marketing copy image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMarketingCopyImage"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "marketing_copy",
          "generate_copy_image",
          "generateCopyImage"
        ],
        "x-samchon-controller": "MarketingCopyController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/rag/analyze": {
      "post": {
        "summary": "Request RAG analysis",
        "description": "Request RAG analysis for the input file\n\nThis connector can be used when creating a chatbot that compares multiple research papers.",
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information about the file to be analyzed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IAnalyzeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "rag",
          "analyze"
        ],
        "x-samchon-controller": "RagController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "summary": "Generate RAG-based results",
        "description": "Generates requested results based on RAG analysis\n\nA connector that can be used to generate answers to user questions through a chatbot that compares multiple research papers.",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "rag",
          "generate"
        ],
        "x-samchon-controller": "RagController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/hwp/parse": {
      "post": {
        "summary": "Parse the Hwp file",
        "description": "Parse the hwp file",
        "tags": [
          "Hwp"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The hwp file to parse",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The parsed hwp file text data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "hwp",
          "parse",
          "parseHwp"
        ],
        "x-samchon-controller": "HwpController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/HWP_full.svg"
      }
    },
    "/connector/excel/read/headers": {
      "patch": {
        "summary": "Get the headers in the Excel file",
        "description": "Based on the input file information, the headers of the corresponding Excel file are retrieved",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "File information to read",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "excel",
          "read",
          "headers",
          "readHeaders"
        ],
        "x-samchon-controller": "ExcelController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg",
        "x-wrtn-function-select-benchmarks": [
          "엑셀 헤더 읽어줘"
        ]
      }
    },
    "/connector/excel/read": {
      "patch": {
        "summary": "Get the contents of the Excel file",
        "description": "Get the contents of the corresponding Excel file based on the input file information",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information on the Excel file to get the contents",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IReadExcelOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "excel",
          "read",
          "read"
        ],
        "x-samchon-controller": "ExcelController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg",
        "x-wrtn-function-select-benchmarks": [
          "엑셀 읽어줘"
        ]
      }
    },
    "/connector/excel/worksheet": {
      "patch": {
        "summary": "Get a list of Excel worksheets",
        "description": "Get a list of Excel worksheets that exist in the input file url",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The url of the Excel file from which to get the list of worksheets",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IGetWorksheetListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of Excel worksheets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IWorksheetListOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "excel",
          "worksheet",
          "worksheetList"
        ],
        "x-samchon-controller": "ExcelController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows/upload": {
      "post": {
        "summary": "Create Excel and add data by uploading Excel files",
        "description": "Upload an Excel file to add data to the file\n\nWhen adding data to Excel, sheet creation precedes if it is a sheet that does not exist yet.\nTherefore, this feature can also be used for sheet creation.\nIf you want to create a sheet only and create an empty file without any data,\nyou just need to specify the name of the sheet without any data.\n\nWhen adding rows to an already existing sheet,\nit is supposed to be added to the lower line, so it is recommended to check the data before adding it.\nIf you provide fileUrl, you can modify it after you work on it. After modification, the file will be issued as a new link.\n\nIt is a connector that allows users to upload files by drag and drop.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for adding new data to Excel files",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowByUploadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "excel",
          "rows",
          "upload",
          "insertRowsByUpload"
        ],
        "x-samchon-controller": "ExcelController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg",
        "x-wrtn-function-select-benchmarks": [
          "엑셀 데이터 올려줘"
        ]
      }
    },
    "/connector/excel/rows": {
      "post": {
        "summary": "엑셀 파일 링크를 가지고 액셀 생성 및 데이터 추가",
        "description": "Add data to the Excel file with an Excel file link\n\nWhen adding data to Excel, sheet creation precedes if it is a sheet that does not exist yet.\nTherefore, this feature can also be used for sheet creation.\nIf you want to create a sheet only and create an empty file without any data,\nyou just need to specify the name of the sheet without any data.\n\nWhen adding rows to an already existing sheet,\nit is supposed to be added to the lower line, so it is recommended to check the data before adding it.\nIf you provide fileUrl, you can modify it after you work on it. After modification, the file will be issued as a new link.\n\nA connector that allows you to update a file without uploading it if you know the link to the file in the previous utterance, or if you receive a file link in the utterance from the user.\n\nSince a link to the Excel file generated immediately after the Excel file is generated, calling this connector is more advantageous in terms of user experience than adding data through upload.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "엑셀 파일에 새로운 데이터를 추가 하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "excel",
          "rows",
          "insertRows"
        ],
        "x-samchon-controller": "ExcelController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg",
        "x-wrtn-function-select-benchmarks": [
          "엑셀 데이터 추가해줘"
        ]
      }
    },
    "/connector/excel": {
      "post": {
        "summary": "Add Excel files and sheet",
        "description": "Add Excel files and sheet\n\nCreate an Excel file and get the link back.\nYou can also forward this link to the following connector to reflect further modifications.\nWhen creating a sheet with this feature, the default name 'Sheet1' is created if the sheet name is not provided.",
        "deprecated": true,
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.ICreateSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "excel",
          "createSheets"
        ],
        "x-samchon-controller": "ExcelController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg",
        "x-wrtn-function-select-benchmarks": [
          "엑셀 파일 만들어줘",
          "엑셀 생성해줘"
        ]
      }
    },
    "/connector/google-docs/markdown": {
      "post": {
        "summary": "Write Google Docs by markdown format string",
        "description": "Generate Google Docs By markdown format string\n\nCreate a document with a markdown, which is the ID of the markdown file and the ID of the document.\nIn the case of Google Docs, URLs are included, so you can open and inquire files directly based on your ID.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Google Docs infomation to write",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created Google Docs and markdown File ids",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IResponse"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "markdown",
          "write"
        ],
        "x-samchon-controller": "GoogleDocsController"
      }
    },
    "/connector/google-docs/contents": {
      "delete": {
        "summary": "erase the entire contents of a file and make it an empty file",
        "description": "Remove entire contents of google docs\n\nMake Google Docs a blank file like you just created.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Google Drive and Docs Secret Key and information to clear file",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IClearInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IClearOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "contents",
          "clear"
        ],
        "x-samchon-controller": "GoogleDocsController"
      }
    },
    "/connector/google-docs": {
      "post": {
        "summary": "Generate Google Docs",
        "description": "Generate Google Docs\n\nSince this is creating a blank page, we recommend that you use\nconnectors that add the content of google-docs in a row.\nAlternatively, we recommend using a different connector because\nthere are other connectors that have the ability to generate\ndocuments with markdown.",
        "deprecated": true,
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Title of Google Docs to generate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Unique ID of generated Google Docs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateEmptyFileOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "createDocs"
        ],
        "x-samchon-controller": "GoogleDocsController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true,
        "x-samchon-human": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "summary": "Grant permission to Google Docs",
        "description": "Grant permission to Google Docs",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for granting permission to Google Docs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "permission"
        ],
        "x-samchon-controller": "GoogleDocsController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "patch": {
        "summary": "Read Google Docs",
        "description": "Read the contents of Google Docs",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Google Docs unique ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google Docs contents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "get",
          "readDocs"
        ],
        "x-samchon-controller": "GoogleDocsController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "summary": "Copy Google Docs",
        "description": "Create new Google Docs by copying existing Google Docs",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Links to Google Docs to copy and titles of Google Docs to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Unique ID of the generated Google Docs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "template",
          "createDocByTemplate"
        ],
        "x-samchon-controller": "GoogleDocsController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "put": {
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Google Docs File ID to update"
          }
        ],
        "requestBody": {
          "description": "Google Secret Key and information to update google docs",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IGoogleDocs.IUpdateTitleInput"
                  },
                  {
                    "$ref": "#/components/schemas/IGoogleDocs.IUpdateContentInput"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated Google Docs file info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IUpdateOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "update"
        ],
        "x-samchon-controller": "GoogleDocsController"
      },
      "delete": {
        "summary": "Delete Google Docs",
        "description": "Delete Google Docs",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the Google Docs to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "deleteById"
        ],
        "x-samchon-controller": "GoogleDocsController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "patch": {
        "summary": "Get a list of Google Docs",
        "description": "Get a list of Google Docs",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "a list of Google Docs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "get_list",
          "list"
        ],
        "x-samchon-controller": "GoogleDocsController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "summary": "Add text to Google Docs",
        "description": "Add text to Google Docs\n\nWhen you pass the input of the markdown format, change the markdown to the appropriate format.\nIt is recommended to check the existing content\nand then use the `update` connector to include the existing content,\nin the case of the 'append' connector, it is not fully Markdown compatible.\nUpdate connector is `PUT /connector/google-docs/:id`.",
        "deprecated": true,
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_docs",
          "append"
        ],
        "x-samchon-controller": "GoogleDocsController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-samchon-human": true
      }
    },
    "/connector/google-sheet": {
      "patch": {
        "summary": "Get the header information of a Google Sheet",
        "description": "Get the header information of a Google Sheet",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google Sheet URL and the header index to get",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google Sheet header information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "getHeaders"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/append": {
      "post": {
        "summary": "Add content to Google Sheets",
        "description": "Add content to Google Sheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information to add content",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IAppendToSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "append",
          "appendGoogleSheet"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg"
      }
    },
    "/connector/google-sheet/create": {
      "post": {
        "summary": "Create a Google Sheet",
        "description": "Create a Google Sheet\n\nThe created sheet will be created in the Google Drive root path.",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The title of the sheet to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created sheet id and Url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "create",
          "createGoogleSheet"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "summary": "Grant permissions to Google Sheets",
        "description": "Grant permissions to Google Sheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for granting permissions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "permission"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "summary": "Add a Google Sheet header",
        "description": "Add a header to a Google Sheet",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The Google Sheet url and the header name to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "header",
          "writeHeaders"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "patch": {
        "summary": "Get a list of Google Sheets Worksheets",
        "description": "Get a list of Google Worksheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The Google Sheets url to get the list of worksheets",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "worksheet",
          "getWorkSheet"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "patch": {
        "summary": "Get Row information from Google Sheets",
        "description": "Get Row information from Google Sheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Row information from Google Sheets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "get_rows",
          "readRows"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "patch": {
        "summary": "Get a list of Google Calendars",
        "description": "Get a list of Google Calendars",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of Google Calendars",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "get_list",
          "readCalenders"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "캘린더 리스트 조회해줘"
        ]
      }
    },
    "/connector/google-calendar": {
      "post": {
        "summary": "Create a Google Calendar",
        "description": "Create a Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The title of the calendar to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The unique ID of the calendar and the title of the calendar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "createCalendar"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "구글 새 캘린더 만들어줘"
        ]
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "summary": "Delete a Google Calendar",
        "description": "Delete a calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the calendar to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "deleteCalendar"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "구글 캘린더 중 이거 삭제해줘"
        ]
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "patch": {
        "summary": "Get a list of Google Calendar events",
        "description": "Get a list of events in Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar to get the list of events"
          }
        ],
        "requestBody": {
          "description": "Condition to get the list of events",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of Google Calendar events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "get_events",
          "readEvents"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "내 구글 캘린더에 등록된 일정 좀 봐줘"
        ]
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "summary": "Add a quick event to Google Calendar",
        "description": "Add a quick event to Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar to add the event to"
          }
        ],
        "requestBody": {
          "description": "Unique ID of the calendar to add the event to, and the event name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "quick_event",
          "createQuickEvent"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "구글 캘린더에 퀵 이벤트 하나 생성해줘"
        ]
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "summary": "Add a Google Calendar event",
        "description": "Add an event to Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar to add the event to"
          }
        ],
        "requestBody": {
          "description": "Information for adding the event",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information about the added event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "event",
          "createEvent"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "구글 캘린더에 이벤트 하나 생성해줘"
        ]
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "summary": "Modify a Google Calendar event",
        "description": "Modify an event",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar that contains the event"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the event to modify"
          }
        ],
        "requestBody": {
          "description": "The event information to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated event information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "event",
          "updateEvent"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "구글 캘린더에 이벤트 하나 수정해줘"
        ]
      },
      "delete": {
        "summary": "Delete a Google Calendar event",
        "description": "Delete an event",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the calendar that contains the event"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the event to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "event",
          "deleteEvent"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "구글 캘린더에 일정 지워줘"
        ]
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "summary": "Add attendees to a Google Calendar event",
        "description": "Add attendees to an event",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar where the event is"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the event to add attendees to"
          }
        ],
        "requestBody": {
          "description": "List of email addresses of attendees to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event information with attendees added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_calendar",
          "event",
          "attendees",
          "addAttendeesToEvent"
        ],
        "x-samchon-controller": "GoogleCalendarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "구글 캘린더에 이벤트 참석자 추가해줘"
        ]
      }
    },
    "/connector/google-drive/get/folders": {
      "patch": {
        "summary": "Get a list of Google Drive folders",
        "description": "Get a list of folders in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of Google Drive folders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_drive",
          "get",
          "folders",
          "folderList"
        ],
        "x-samchon-controller": "GoogleDriveController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "구글 드라이브에 폴더 목록 좀 봐줘"
        ]
      }
    },
    "/connector/google-drive/get/files": {
      "patch": {
        "summary": "Get a list of Google Drive files",
        "description": "Get a list of files in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of Google Drive files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_drive",
          "get",
          "files",
          "fileList"
        ],
        "x-samchon-controller": "GoogleDriveController",
        "x-wrtn-function-select-benchmarks": [
          "드라이브에 파일 좀 조회해줘",
          "드라이브에 파일 좀 찾아줘"
        ],
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "summary": "Create a Google Drive folder",
        "description": "Create a new folder in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The name of the folder to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The unique ID of the created folder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_drive",
          "folder",
          "createFolder"
        ],
        "x-samchon-controller": "GoogleDriveController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "드라이브에 폴더 좀 생성해줘"
        ]
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "summary": "Create a Google Drive file",
        "description": "Create a new file in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The name of the file to be created and the unique ID of the folder where the file will be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IUploadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The unique ID of the created file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_drive",
          "file",
          "createFile"
        ],
        "x-samchon-controller": "GoogleDriveController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "드라이브에 파일 좀 생성해줘"
        ]
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "summary": "Delete a Google Drive file",
        "description": "Delete a file in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the file to be deleted"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
[...]
