{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Airport Information",
    "summary": "항공 정보를 조회해요.",
    "version": "0.1.431",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/airport-information/search": {
      "patch": {
        "summary": "Search for airport information",
        "description": "Search for airport information using the entered search term.\nOnly one item should be requested per request.\nThis connector only processes one search term at a time, so if you want to search for multiple terms, you will need to call this connector separately for each search term.",
        "tags": [
          "Search Airport Information"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for searching for airport information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAirportInformation.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results for airport information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IAirportInformation.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "airport_information",
          "search"
        ],
        "x-samchon-controller": "AirportInformationController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/AirportInformation_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "공항 찾아줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IAirportInformation.IResponse": {
        "type": "object",
        "properties": {
          "country_name": {
            "type": "string",
            "title": "Country",
            "description": "Country Name"
          },
          "city_name": {
            "type": "string",
            "title": "City",
            "description": "City Name"
          },
          "airport_name": {
            "type": "string",
            "title": "Airport",
            "description": "Airport Name"
          },
          "airport_code": {
            "type": "string",
            "title": "Airport Code",
            "description": "Airport Code"
          }
        },
        "required": [
          "country_name",
          "city_name",
          "airport_name",
          "airport_code"
        ],
        "title": "Airport information search results"
      },
      "IAirportInformation.IRequest": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Search term",
            "description": "Enter the name of the country or city you want to search for."
          }
        },
        "required": [
          "keyword"
        ],
        "title": "Airport information search conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Search Airport Information"
    }
  ],
  "x-samchon-emended": true
}