{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "학술 논문 탐색기",
    "summary": "최신 학술 논문을 손쉽게 찾아볼 수 있어요.",
    "description": "아카이브를 통해 다양한 과학 분야의 최신 연구 논문을 효율적으로 검색하고 접근할 수 있어요. 물리학, 수학, 컴퓨터 과학 등 여러 분야의 프리프린트 논문을 찾아볼 수 있어요. 키워드 검색, 저자 검색, 카테고리별 검색 등 다양한 방식으로 원하는 논문을 빠르게 찾을 수 있어요. 최신 연구 동향을 파악하거나 관심 분야의 깊이 있는 정보를 얻는 데 매우 유용해요.",
    "version": "0.1.350",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/arxiv-search": {
      "post": {
        "summary": "Archive Paper Search",
        "description": "Searches the archive for papers based on the search criteria you entered",
        "tags": [
          "Arxiv"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Archive Paper Search Criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IConnector.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A list of papers found in the archive based on the search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Arxiv_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "Output Information",
            "description": "Contains output information for search results"
          }
        },
        "required": [
          "references"
        ],
        "title": "Search Results"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "The title of the output"
          },
          "type": {
            "oneOf": [
              {
                "const": "video",
                "title": "video"
              },
              {
                "const": "image",
                "title": "image"
              },
              {
                "const": "news_article",
                "title": "news_article"
              },
              {
                "const": "research_paper",
                "title": "research_paper"
              }
            ],
            "title": "Output Type",
            "description": "Video, image, news article, research paper\n\nIt must be one of: video, image, news_article, research_paper"
          },
          "source": {
            "oneOf": [
              {
                "const": "youtube",
                "title": "youtube"
              },
              {
                "const": "facebook",
                "title": "facebook"
              },
              {
                "const": "instagram",
                "title": "instagram"
              },
              {
                "const": "google_search",
                "title": "google_search"
              },
              {
                "const": "arxiv",
                "title": "arxiv"
              },
              {
                "const": "google_news",
                "title": "google_news"
              }
            ],
            "title": "Source of output",
            "description": "youtube, facebook, instagram, google_search, arxiv, google_news\n\nIt must be one of: youtube, facebook, instagram, google_search, arxiv, google_news"
          },
          "url": {
            "type": "string",
            "format": "iri",
            "title": "URL address",
            "description": "The URL address of the output"
          },
          "contents": {
            "type": "string",
            "title": "Output Content",
            "description": "Here is the content of the output"
          },
          "image": {
            "type": "string",
            "format": "iri",
            "title": "Output Image URL",
            "description": "The URL address of the image of the output"
          },
          "statistics": {
            "$ref": "#/components/schemas/MyPartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "Output statistics information",
            "description": "Output statistics information\n\nPossible values: view_count, like_count, rank"
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "MyPartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        }
      },
      "IConnector.ISearchInput": {
        "type": "object",
        "properties": {
          "num_results": {
            "type": "integer",
            "x-wrtn-placeholder": "10",
            "title": "Number of search results",
            "description": "Sets how many search results to retrieve"
          },
          "from_date": {
            "type": "string",
            "format": "date",
            "title": "Start date for search results",
            "description": "Set the start date for search results"
          },
          "to_date": {
            "type": "string",
            "format": "date",
            "title": "End date for the search results",
            "description": "Set the end date for the search results"
          },
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "biology"
            },
            "title": "Must be included keywords",
            "description": "Keywords that must be included in search results"
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "ecosystem"
            },
            "title": "Keywords that you would like to see included",
            "description": "Keywords that you would like to see included in your search results"
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "pollution"
            },
            "title": "Keywords that should not be included",
            "description": "Keywords that should not be included in search results"
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "Search criteria",
        "description": "Enter your search criteria"
      }
    }
  },
  "tags": [
    {
      "name": "Arxiv"
    }
  ],
  "x-samchon-emended": true
}