{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "학술 논문 탐색기",
    "summary": "최신 학술 논문을 손쉽게 찾아볼 수 있어요.",
    "description": "아카이브를 통해 다양한 과학 분야의 최신 연구 논문을 효율적으로 검색하고 접근할 수 있어요. 물리학, 수학, 컴퓨터 과학 등 여러 분야의 프리프린트 논문을 찾아볼 수 있어요. 키워드 검색, 저자 검색, 카테고리별 검색 등 다양한 방식으로 원하는 논문을 빠르게 찾을 수 있어요. 최신 연구 동향을 파악하거나 관심 분야의 깊이 있는 정보를 얻는 데 매우 유용해요.",
    "version": "0.1.207",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/arxiv-search": {
      "post": {
        "summary": "아카이브 논문 검색",
        "description": "입력한 검색 조건을 기반으로 아카이브에서 논문을 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "아카이브 논문 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IConnector.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 조건을 기반으로 아카이브에서 검색된 논문 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Arxiv_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "산출물 정보",
            "description": "검색 결과에 대한 산출물 정보를 담고 있습니다."
          }
        },
        "required": [
          "references"
        ],
        "title": "검색 결과"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "산출물의 제목입니다."
          },
          "type": {
            "oneOf": [
              {
                "const": "video",
                "title": "video"
              },
              {
                "const": "image",
                "title": "image"
              },
              {
                "const": "news_article",
                "title": "news_article"
              },
              {
                "const": "research_paper",
                "title": "research_paper"
              }
            ],
            "title": "산출물 타입",
            "description": "비디오, 이미지, 뉴스기사, 논문.\n\nIt must be one of: video, image, news_article, research_paper"
          },
          "source": {
            "oneOf": [
              {
                "const": "youtube",
                "title": "youtube"
              },
              {
                "const": "facebook",
                "title": "facebook"
              },
              {
                "const": "instagram",
                "title": "instagram"
              },
              {
                "const": "google_search",
                "title": "google_search"
              },
              {
                "const": "arxiv",
                "title": "arxiv"
              },
              {
                "const": "google_news",
                "title": "google_news"
              }
            ],
            "title": "산출물의 출처",
            "description": "유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스\n\nIt must be one of: youtube, facebook, instagram, google_search, arxiv, google_news"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "URL 주소",
            "description": "산출물의 URL 주소입니다."
          },
          "contents": {
            "type": "string",
            "title": "산출물 내용",
            "description": "산출물의 내용입니다."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "title": "산출물 이미지 url",
            "description": "산출물의 이미지 URL 주소입니다."
          },
          "statistics": {
            "$ref": "#/components/schemas/MyPartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "산출물 통계 자료 정보",
            "description": "산출물의 통계 자료 정보입니다.\n\n가능한 값: view_count, like_count, rank"
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "MyPartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        }
      },
      "IConnector.ISearchInput": {
        "type": "object",
        "properties": {
          "num_results": {
            "type": "integer",
            "x-wrtn-placeholder": "10",
            "title": "검색 결과 개수",
            "description": "몇 개의 검색 결과를 가져올지 설정합니다."
          },
          "from_date": {
            "type": "string",
            "format": "date",
            "title": "검색 결과 시작 날짜",
            "description": "검색 결과 시작 날짜를 설정합니다."
          },
          "to_date": {
            "type": "string",
            "format": "date",
            "title": "검색 결과 종료 날짜",
            "description": "검색 결과 종료 날짜를 설정합니다."
          },
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "biology"
            },
            "title": "반드시 포함되어야 하는 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "ecosystem"
            },
            "title": "포함되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "pollution"
            },
            "title": "포함되면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "검색 조건",
        "description": "검색 조건을 입력합니다."
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}