{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Studio 1.0 챗봇",
    "version": "0.1.88",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/chatbot/generate/easy": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "쉬움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 쉬움 챗봇 사용",
        "description": "쉬움 난이도로 제작된 챗봇을 사용합니다.\n\n이 커넥터는 특수 목적으로 제작된 커넥터로써, 일반적인 상황에는 사용되지 않습니다.\n\n스튜디오 1.0에서 마이그레이션된 챗봇을 사용할 때만 사용되는 커넥터 입니다.\n\n일반 워크플로우를 챗봇으로 만들 때 사용되지 않는 커넥터입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/Studio1.0Chatbot.svg"
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "어려움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 어려움 챗봇 사용",
        "description": "어려움 난이도로 제작된 챗봇을 사용합니다.\n\n이 커넥터는 특수 목적으로 제작된 커넥터로써, 일반적인 상황에는 사용되지 않습니다.\n\n스튜디오 1.0에서 마이그레이션된 챗봇을 사용할 때만 사용되는 커넥터 입니다.\n\n일반 워크플로우를 챗봇으로 만들 때 사용되지 않는 커넥터입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/Studio1.0Chatbot.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IChatbot.IChatbotEasyGenerateInput": {
        "type": "object",
        "properties": {
          "difficulty": {
            "const": "easy",
            "title": "난이도",
            "description": "챗봇이 제작된 난이도 입니다."
          },
          "role": {
            "type": "string",
            "title": "역할",
            "description": "챗봇의 역할입니다."
          },
          "personality": {
            "type": "string",
            "title": "성격",
            "description": "챗봇의 성격입니다."
          },
          "requirement": {
            "type": "string",
            "title": "요구사항",
            "description": "챗봇의 요구사항입니다."
          },
          "name": {
            "type": "string",
            "title": "이름",
            "description": "챗봇의 이름입니다."
          },
          "description": {
            "type": "string",
            "title": "설명",
            "description": "챗봇의 설명입니다."
          },
          "message": {
            "type": "string",
            "title": "유저 발화",
            "description": "유저의 발화입니다."
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IChatbot.IHistory"
            },
            "title": "채팅 히스토리",
            "description": "채팅 히스토리 입니다."
          }
        },
        "required": [
          "difficulty",
          "role",
          "personality",
          "requirement",
          "name",
          "description",
          "message"
        ],
        "title": "쉬움 난이도 챗봇 사용을 위한 정보"
      },
      "IChatbot.IHistory": {
        "type": "object",
        "properties": {
          "role": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "assistant"
              }
            ],
            "title": "발화자 역할",
            "description": "발화자의 역할입니다."
          },
          "content": {
            "type": "string",
            "title": "발화 내용",
            "description": "발화 내용입니다."
          }
        },
        "required": [
          "role",
          "content"
        ],
        "title": "채팅 히스토리"
      },
      "IChatbot.IChatbotGenerateOutput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "title": "챗봇 응답",
            "description": "챗봇 응답 결과 입니다."
          }
        },
        "required": [
          "content"
        ],
        "title": "챗봇 응답"
      },
      "IChatbot.IChatBotHardGenerateInput": {
        "type": "object",
        "properties": {
          "difficulty": {
            "const": "hard",
            "title": "난이도",
            "description": "챗봇이 제작된 난이도 입니다."
          },
          "prompt": {
            "type": "string",
            "title": "프롬프트",
            "description": "LLM 요청시 필요한 프롬프트입니다."
          },
          "name": {
            "type": "string",
            "title": "이름",
            "description": "챗봇의 이름입니다."
          },
          "description": {
            "type": "string",
            "title": "설명",
            "description": "챗봇의 설명입니다."
          },
          "message": {
            "type": "string",
            "title": "유저 발화",
            "description": "유저의 발화입니다."
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IChatbot.IHistory"
            },
            "title": "채팅 히스토리",
            "description": "채팅 히스토리 입니다."
          }
        },
        "required": [
          "difficulty",
          "prompt",
          "name",
          "description",
          "message"
        ],
        "title": "어려움 난이도 챗봇 사용을 위한 정보"
      }
    }
  },
  "tags": [
    {
      "name": "Chatbot"
    }
  ],
  "x-samchon-emended": true
}