{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "csv",
    "version": "0.1.451",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/csv/read": {
      "patch": {
        "summary": "Read CSV file",
        "description": "Read CSV file contents",
        "tags": [
          "CSV"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for reading CSV file",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICsv.IReadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CSV file contents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICsv.IReadOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "csv",
          "read"
        ],
        "x-samchon-controller": "CsvController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/csv.svg",
        "x-wrtn-function-select-benchmarks": [
          "CSV 좀 읽어줘",
          "CSV 파일 좀 읽어줘"
        ]
      }
    },
    "/connector/csv/write": {
      "post": {
        "summary": "Create a CSV file",
        "description": "Create a CSV file",
        "tags": [
          "CSV"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information to create a CSV file",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICsv.IWriteInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICsv.IWriteOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "csv",
          "write"
        ],
        "x-samchon-controller": "CsvController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/csv.svg",
        "x-wrtn-function-select-benchmarks": [
          "CSV 파일 좀 만들어줘"
        ]
      }
    },
    "/connector/csv/csv-to-excel": {
      "post": {
        "summary": "Convert CSV file to Excel file",
        "description": "Convert CSV file to Excel file.",
        "tags": [
          "CSV"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information to convert CSV file to Excel file",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICsv.ICsvToExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "excel file url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICsv.ICsvToExcelOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "csv",
          "csv_to_excel",
          "csvToExcel"
        ],
        "x-samchon-controller": "CsvController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/csv.svg",
        "x-wrtn-function-select-benchmarks": [
          "CSV 파일 엑셀로 변환해줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ICsv.IReadOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "required": [],
              "additionalProperties": {
                "type": "string"
              }
            },
            "title": "csv data list",
            "description": "Read csv file data."
          }
        },
        "required": [
          "data"
        ],
        "title": "Csv file reading result"
      },
      "ICsv.IReadInput": {
        "type": "object",
        "properties": {
          "s3Url": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "text/csv",
            "title": "file",
            "description": "This is the Csv file to read."
          },
          "delimiter": {
            "type": "string",
            "x-wrtn-placeholder": ",",
            "title": "delimiter",
            "description": "This is the CSV file delimiter to read."
          }
        },
        "required": [
          "s3Url",
          "delimiter"
        ],
        "title": "Csv file information"
      },
      "ICsv.IWriteOutput": {
        "type": "object",
        "properties": {
          "s3Url": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "text/csv",
            "title": "csv file",
            "description": "This is the s3 url of the csv file that was created."
          }
        },
        "required": [
          "s3Url"
        ],
        "title": "Csv file creation result"
      },
      "ICsv.IWriteInput": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "x-wrtn-placeholder": "example.csv",
            "title": "File name",
            "description": "The name of the Csv file to be created."
          },
          "delimiter": {
            "type": "string",
            "x-wrtn-placeholder": ",",
            "title": "delimiter",
            "description": "The Csv file delimiter to be generated."
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "required": [],
              "additionalProperties": {
                "type": "string"
              }
            },
            "title": "File data values",
            "description": "These are the data values to be placed in the Csv file to be created."
          }
        },
        "required": [
          "fileName",
          "delimiter",
          "values"
        ],
        "title": "Information required to create a CSV file"
      },
      "ICsv.ICsvToExcelOutput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "text/csv",
            "title": "s3 url",
            "description": "Here is the s3 url of the converted excel file."
          }
        },
        "required": [
          "url"
        ],
        "title": "Csv file to Excel file conversion result"
      },
      "ICsv.ICsvToExcelInput": {
        "type": "object",
        "properties": {
          "s3Url": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "text/csv",
            "title": "file",
            "description": "This is the file to convert from csv to excel."
          },
          "delimiter": {
            "type": "string",
            "x-wrtn-placeholder": ",",
            "title": "delimiter",
            "description": "This is the file delimiter to convert from csv to excel."
          }
        },
        "required": [
          "s3Url",
          "delimiter"
        ],
        "title": "Information needed to convert a Csv file to an Excel file"
      }
    }
  },
  "tags": [
    {
      "name": "CSV"
    }
  ],
  "x-samchon-emended": true
}