{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "DALL-E 3 고급 이미지 생성",
    "summary": "프롬프트로 AI가 독특한 이미지를 만들어요.",
    "description": "텍스트 설명을 바탕으로 AI가 독특하고 창의적인 이미지를 생성해줘요. 추상적인 개념부터 구체적인 장면까지 다양한 유형의 이미지를 만들 수 있어요. 생성된 이미지의 스타일, 구도, 색감 등을 세밀하게 조정할 수 있어요. 광고 시안 제작, 일러스트레이션, 제품 디자인 아이디어 등 다양한 창작 분야에서 활용할 수 있어요.",
    "version": "0.1.142",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/dall-e-3/generate": {
      "post": {
        "summary": "dall-e-3 이미지 생성기 노드",
        "description": "dall-e-3 모델을 이용하여 이미지를 생성합니다.",
        "tags": [
          "dall-e-3 이미지 생성기 노드"
        ],
        "parameters": [],
        "requestBody": {
          "description": "이미지 생성을 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDallE3.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 이미지 URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDallE3.IResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Dall-e3_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/aws/file/upload-url": {
      "get": {
        "summary": "파일 업로드 URL 생성",
        "description": "파일 업로드를 하기 위해 필요한 URL을 생성합니다.",
        "tags": [
          "AWS"
        ],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "파일 확장자",
            "description": "파일 확장자입니다."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAws.IGetPutObjectUrlOutput"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IDallE3.IResponse": {
        "type": "object",
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "image/*",
            "title": "생성된 이미지 Url",
            "description": "생성된 이미지 url"
          }
        },
        "required": [
          "imgUrl"
        ],
        "title": "이미지 생성 결과"
      },
      "IDallE3.IRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "title": "프롬프트",
            "description": "이미지를 생성하기 위한 프롬프트"
          },
          "image_ratio": {
            "oneOf": [
              {
                "const": "square",
                "title": "정사각형",
                "description": "1024x1024"
              },
              {
                "const": "landscape",
                "title": "풍경",
                "description": "1792x1024"
              },
              {
                "const": "portrait",
                "title": "인물",
                "description": "1024x1792"
              }
            ],
            "title": "이미지 사이즈",
            "description": "생성할 이미지 사이즈 프리셋 입니다.\n\n가능한 값으로는 \"square\", \"landscape\", \"portrait\" 3가지만 가능합니다."
          }
        },
        "required": [
          "prompt",
          "image_ratio"
        ],
        "title": "이미지 생성을 위한 정보"
      },
      "IAws.IGetPutObjectUrlOutput": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "title": "파일 uuid",
            "description": "파일 uuid입니다."
          },
          "uploadUrl": {
            "type": "string",
            "title": "업로드 url",
            "description": "파일을 업로드하기 위한 url입니다."
          },
          "urlExpTsMillis": {
            "type": "number",
            "title": "url 만료 시간",
            "description": "url 만료 시간입니다."
          }
        },
        "required": [
          "uuid",
          "uploadUrl",
          "urlExpTsMillis"
        ]
      },
      "IAws.IGetPutObjectUrlInput": {
        "type": "object",
        "properties": {
          "extension": {
            "type": "string",
            "title": "파일 확장자",
            "description": "파일 확장자입니다."
          }
        },
        "required": [
          "extension"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "dall-e-3 이미지 생성기 노드"
    },
    {
      "name": "AWS"
    }
  ],
  "x-samchon-emended": true
}