{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "dall-e",
    "version": "0.1.456",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/dall-e/generate": {
      "post": {
        "summary": "dall-e-3 image generator node",
        "description": "Generate an image using the dall-e-3 model",
        "tags": [
          "Dall-e"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for image generation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDallE3.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "URL of the generated image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDallE3.IResponse"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "dall_e",
          "generate",
          "generateImage"
        ],
        "x-samchon-controller": "DallEController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/dall_e.svg",
        "x-wrtn-function-select-benchmarks": [
          "dall-e로 그림 그려줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IDallE3.IResponse": {
        "type": "object",
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "image/*",
            "title": "Generated image Url",
            "description": "Generated image url"
          }
        },
        "required": [
          "imgUrl"
        ],
        "title": "Image creation result"
      },
      "IDallE3.IRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "title": "prompt",
            "description": "Prompt to create an image"
          },
          "image_ratio": {
            "oneOf": [
              {
                "const": "square"
              },
              {
                "const": "landscape"
              },
              {
                "const": "portrait"
              }
            ],
            "title": "Image Size",
            "description": "Preset image size to generate.\n\nOnly three possible values are available: \"square\", \"landscape\", and \"portrait\"."
          }
        },
        "required": [
          "prompt",
          "image_ratio"
        ],
        "title": "Information for image creation"
      }
    }
  },
  "tags": [
    {
      "name": "Dall-e"
    }
  ],
  "x-samchon-emended": true
}