{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "DALL-E 3 고급 이미지 생성",
    "summary": "프롬프트로 AI가 독특한 이미지를 만들어요.",
    "description": "텍스트 설명을 바탕으로 AI가 독특하고 창의적인 이미지를 생성해줘요. 추상적인 개념부터 구체적인 장면까지 다양한 유형의 이미지를 만들 수 있어요. 생성된 이미지의 스타일, 구도, 색감 등을 세밀하게 조정할 수 있어요. 광고 시안 제작, 일러스트레이션, 제품 디자인 아이디어 등 다양한 창작 분야에서 활용할 수 있어요.",
    "version": "0.1.253",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/dall-e-3/generate": {
      "post": {
        "summary": "dall-e-3 image generator node",
        "description": "Generate an image using the dall-e-3 model.",
        "tags": [
          "Dall-e-3"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for image generation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDallE3.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "URL of the generated image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDallE3.IResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Dall-e3_full.svg"
      }
    },
    "/connector/aws/file/upload-url": {
      "get": {
        "summary": "Generate File Upload URL",
        "description": "Generate the URL required to upload a file.",
        "tags": [],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "File extension",
            "description": "File extension."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAws.IGetPutObjectUrlOutput"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IDallE3.IResponse": {
        "type": "object",
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "image/*",
            "title": "Generated image Url",
            "description": "Generated image url"
          }
        },
        "required": [
          "imgUrl"
        ],
        "title": "Image creation result"
      },
      "IDallE3.IRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "title": "prompt",
            "description": "Prompt to create an image"
          },
          "image_ratio": {
            "oneOf": [
              {
                "const": "square",
                "title": "정사각형",
                "description": "1024x1024"
              },
              {
                "const": "landscape",
                "title": "풍경",
                "description": "1792x1024"
              },
              {
                "const": "portrait",
                "title": "인물",
                "description": "1024x1792"
              }
            ],
            "title": "Image Size",
            "description": "Preset image size to generate.\n\nOnly three possible values are available: \"square\", \"landscape\", and \"portrait\"."
          }
        },
        "required": [
          "prompt",
          "image_ratio"
        ],
        "title": "Information for image creation"
      },
      "IAws.IGetPutObjectUrlOutput": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "title": "file uuid",
            "description": "This is the file uuid."
          },
          "uploadUrl": {
            "type": "string",
            "title": "upload url",
            "description": "This is the url for uploading the file."
          },
          "urlExpTsMillis": {
            "type": "number",
            "title": "url expiration time",
            "description": "url expiration time."
          }
        },
        "required": [
          "uuid",
          "uploadUrl",
          "urlExpTsMillis"
        ]
      },
      "IAws.IGetPutObjectUrlInput": {
        "type": "object",
        "properties": {
          "extension": {
            "type": "string",
            "title": "File extension",
            "description": "File extension."
          }
        },
        "required": [
          "extension"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Dall-e-3"
    }
  ],
  "x-samchon-emended": true
}