{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "daum-cafe",
    "version": "0.1.456",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/daum-cafe": {
      "patch": {
        "summary": "Search for the following cafe",
        "description": "Search for the following cafe content",
        "tags": [
          "Daum"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for searching the following cafe",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaumCafe.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaumCafe.ICafeOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "daum_cafe",
          "searchCafe"
        ],
        "x-samchon-controller": "DaumCafeController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/daum.svg",
        "x-wrtn-function-select-benchmarks": [
          "다음 카페 검색 해줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IDaumCafe.ICafeOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "Number of searched cafe contents",
                "description": "Total number of searched cafes."
              },
              "pageableCount": {
                "type": "number",
                "title": "The number of contents that can be exposed among the searched cafe contents",
                "description": "The number of contents that can be exposed among the searched cafe contents."
              },
              "isEnd": {
                "type": "boolean",
                "title": "Whether the current page is the last page",
                "description": "If the value is false, you can request the next page by incrementing page."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ],
            "title": "metadata"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "The title of the document",
                  "description": "The title of the document searched."
                },
                "contents": {
                  "type": "string",
                  "title": "Part of the text of the document",
                  "description": "This is part of the text of the document that was searched."
                },
                "url": {
                  "type": "string",
                  "title": "Document URL",
                  "description": "The URL of the document being searched."
                },
                "cafeName": {
                  "type": "string",
                  "title": "Cafe Name",
                  "description": "The following cafe name is searched."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "Thumbnail image URL",
                  "description": "Representative preview image URL extracted from the search system."
                },
                "dateTime": {
                  "type": "string",
                  "title": "Document Creation Time",
                  "description": "The time the document was created."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "cafeName",
                "thumbnail",
                "dateTime"
              ]
            },
            "title": "documents"
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "Next Cafe Search Results"
      },
      "IDaumCafe.ISearchInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "Must-include keywords",
            "description": "Set keywords that must be included in the following search results."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "Good keywords to enter",
            "description": "Set good keywords to enter the following search results."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "Keywords that should not be included",
            "description": "Set keywords that should not be included in the following search results."
          },
          "sort": {
            "oneOf": [
              {
                "const": "accuracy"
              },
              {
                "const": "recency"
              }
            ],
            "title": "Sorting method for result documents",
            "description": "- accuracy: accuracy order (default)\n- recency: most recent order"
          },
          "page": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 1,
            "title": "Results page number",
            "description": "The number of the results page."
          },
          "size": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "title": "The number of documents to be displayed on one page",
            "description": "The number of documents to be displayed on one page."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "Information needed for the next search"
      }
    }
  },
  "tags": [
    {
      "name": "Daum"
    }
  ],
  "x-samchon-emended": true
}