{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "다음 포털 콘텐츠 조회",
    "summary": "다음에서 블로그와 카페 정보를 쉽게 찾아볼 수 있어요.",
    "description": "다음의 블로그와 카페에서 원하는 정보를 효과적으로 검색할 수 있어요. 블로그 검색을 통해 개인의 경험담, 리뷰, 일상 이야기 등을 찾아볼 수 있고, 카페 검색으로 특정 주제에 대한 커뮤니티의 대화를 확인할 수 있어요. 키워드 검색, 최신순/인기순 정렬, 특정 기간 내 검색 등 다양한 옵션을 활용해 원하는 정보를 정확하게 찾을 수 있어요. 트렌드 파악, 제품 리뷰 확인, 여행 정보 수집 등 다양한 목적으로 활용할 수 있어요.",
    "version": "0.1.349",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/daum/blog": {
      "post": {
        "summary": "Search the following blog",
        "description": "Search the following blog content",
        "tags": [
          "Daum"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for searching the following blog",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.IBlogDaumOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/DaumBlog_full.svg"
      }
    },
    "/connector/daum/cafe": {
      "post": {
        "summary": "Search for the following cafe",
        "description": "Search for the following cafe content",
        "tags": [
          "Daum"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for searching the following cafe",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.ICafeDaumOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/DaumCafe_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IDaum.IBlogDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "Number of searched contents",
                "description": "Total number of documents searched."
              },
              "pageableCount": {
                "type": "number",
                "title": "The number of content that can be exposed among the searched documents",
                "description": "The number of content that can be exposed among the searched documents."
              },
              "isEnd": {
                "type": "boolean",
                "title": "Whether the current page is the last page",
                "description": "If the value is false, you can request the next page by incrementing page."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ],
            "title": "meta"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "The title of the document",
                  "description": "The title of the document searched."
                },
                "contents": {
                  "type": "string",
                  "title": "Part of the text of the document",
                  "description": "This is part of the text of the document that was searched."
                },
                "url": {
                  "type": "string",
                  "title": "Document URL",
                  "description": "The URL of the document being searched."
                },
                "blogName": {
                  "type": "string",
                  "title": "The name of the blog",
                  "description": "The name of the blog searched."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "Thumbnail image URL",
                  "description": "Representative preview image URL extracted from the search system."
                },
                "dateTime": {
                  "type": "string",
                  "title": "Document Creation Time",
                  "description": "The time the document was created."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "blogName",
                "thumbnail",
                "dateTime"
              ]
            },
            "title": "documents"
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "Next blog search results"
      },
      "IDaum.ISearchDaumInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "Must-include keywords",
            "description": "Set keywords that must be included in the following search results."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "Good keywords to enter",
            "description": "Set good keywords to enter the following search results."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "Keywords that should not be included",
            "description": "Set keywords that should not be included in the following search results."
          },
          "sort": {
            "oneOf": [
              {
                "const": "accuracy",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              },
              {
                "const": "recency",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              }
            ],
            "title": "Sorting method for result documents",
            "description": "- accuracy: accuracy order (default)\n- recency: most recent order"
          },
          "page": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 1,
            "title": "Results page number",
            "description": "The number of the results page."
          },
          "size": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "title": "The number of documents to be displayed on one page",
            "description": "The number of documents to be displayed on one page."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "Information needed for the next search"
      },
      "IDaum.ICafeDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "Number of searched cafe contents",
                "description": "Total number of searched cafes."
              },
              "pageableCount": {
                "type": "number",
                "title": "The number of contents that can be exposed among the searched cafe contents",
                "description": "The number of contents that can be exposed among the searched cafe contents."
              },
              "isEnd": {
                "type": "boolean",
                "title": "Whether the current page is the last page",
                "description": "If the value is false, you can request the next page by incrementing page."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ],
            "title": "metadata"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "The title of the document",
                  "description": "The title of the document searched."
                },
                "contents": {
                  "type": "string",
                  "title": "Part of the text of the document",
                  "description": "This is part of the text of the document that was searched."
                },
                "url": {
                  "type": "string",
                  "title": "Document URL",
                  "description": "The URL of the document being searched."
                },
                "cafeName": {
                  "type": "string",
                  "title": "Cafe Name",
                  "description": "The following cafe name is searched."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "Thumbnail image URL",
                  "description": "Representative preview image URL extracted from the search system."
                },
                "dateTime": {
                  "type": "string",
                  "title": "Document Creation Time",
                  "description": "The time the document was created."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "cafeName",
                "thumbnail",
                "dateTime"
              ]
            },
            "title": "documents"
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "Next Cafe Search Results"
      }
    }
  },
  "tags": [
    {
      "name": "Daum"
    }
  ],
  "x-samchon-emended": true
}