{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Github",
    "summary": "Github에서 코드를 읽고 분석하고 작성해요",
    "description": "Github에서 유저나 코드를 조회하고 분석할 수 있어요. 직접 코드를 작성하고 커밋하고 PR을 날리거나, 또 코멘트를 남겨줄 수도 있습니다.",
    "version": "0.1.348",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/github/users/get-received-events": {
      "post": {
        "summary": "List events received by the authenticated user",
        "description": "List events received by the authenticated user\n\nThese are events that you've received by watching repositories and following users.\nIf you are authenticated as the given user, you will see private events. Otherwise, you'll only see public events.\nIn this case, the \"received\" event includes the repository that the user is interested in or the activity of the user who is following,\nfor example, if the user has pushed to the repository, or if an issue has been created from the repository that the user is interested in.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetReceivedEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/users/get-pinned-repositories": {
      "post": {
        "summary": "Inquire the user's pinned repository names",
        "description": "Inquire the user's pinned repositories\n\nInquire up to 6 repositories where the user has pinned.\nHere, only the name of the repository is searched, so if necessary, find detailed information about the repository by pageing the user's repository list.\nPlacing a pin in a repository is most likely a repository that users are most confident in.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetUserPinnedRepositoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "repositories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/users/get-repositories": {
      "post": {
        "summary": "Inquire the user's repositories",
        "description": "Inquire the user's repositories\n\nSince it contains only the simplest information of the repository here, there is no way to know the lead me of the repository or detailed information.\nIt is recommended to use additional connectors to explore because other connectors have the ability to read leads or internal files in the repository.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetUserRepositoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "repositories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetUserRepositoryOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/organizations/users/get-events": {
      "post": {
        "summary": "Lists organization events for the authenticated user",
        "description": "Lists organization events for the authenticated user\n\nThis API endpoint retrieves events that have occurred within the organizations\nthe authenticated user is a member of. It includes activities such as issues,\npull requests, commits, and other actions taken within the organization's repositories.\n\nThe events cover all repositories within the organization that the user has access to,\nmaking it useful for tracking the organization's activity or monitoring the progress\nof projects that the user is involved in within the team.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetOrganizationEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A list of events from the organizations the authenticated user is a member of.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/organizations/get-issues": {
      "post": {
        "summary": "List organization issues assigned to the authenticated user",
        "description": "List organization issues assigned to the authenticated user\n\nSimilar to the 'get-issues' connector, it is suitable for inquiring only about issues assigned within a specific organization.\nNaturally, the user will have to be a member of that organization.\n\nHere, the result value can be inquired together with PR because PR on GitHub is essentially an issue-like object.\nIf you want to see the issue separately, you should use a connector that looks up the issue in the repo, not the organization.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetOrganizationAuthenticationUserIssueInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetOrganizationAuthenticationUserIssueOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/organizations/get-repositories": {
      "post": {
        "summary": "List organization repositories",
        "description": "List organization repositories\n\nThis endpoint allows you to list all repositories that belong to a specified organization on GitHub.\nIt's useful for viewing all the repositories under an organization’s account, including both public and private repositories, depending on your access level.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetOrganizationEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetOrganizationRepositoryOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/organizations/get-events": {
      "post": {
        "summary": "List public organization events.",
        "description": "List public organization events\n\nIf you are authenticated as the given user, you will see your private events. Otherwise, you'll only see public events.\n\nThis API endpoint retrieves a stream of public events that have occurred\nwithin a specified organization. These events include activities such as\nrepository creation, issues, pull requests, and other actions taken by members\nof the organization across all its public repositories.\n\nThis is useful for monitoring the public activity within an organization,\nproviding insights into how the organization is managing its projects,\nthe work being done by its members, and the overall public engagement with\nits repositories.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetOrganizationEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repos/get-collaborators": {
      "post": {
        "summary": "List repository collaborators",
        "description": "List repository collaborators\n\nFor organization-owned repositories, the list of collaborators includes outside collaborators,\norganization members that are direct collaborators, organization members with access through team memberships,\norganization members with access through default organization permissions, and organization owners.\nOrganization members with write, maintain, or admin privileges on the organization-owned repository can use this endpoint.\nTeam members will include the members of child teams.\n\nYou can refer to it before specifying a person in charge of the issue or a reviewer for PR.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetCollaboratorInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetCollaboratorOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repos/commits/contents": {
      "delete": {
        "summary": "Delete file content and commit",
        "description": "Delete file content in github repository\n\nTo delete file content is the same as creating a single commit.\nCommit is a hash that must be created in github to save changes, such as uploading, modifying, deleting, and so on.\n\nAs the sha value of the file to be modified, a conflict may occur if it is not the latest sha value among the sha values of the file.\nIt's safe when you look up a list of files through API to check sha and put in a value, or want to re-modify the sha value of a file you just created.\n\nIf the user directly asks you to add, modify, or delete a file for a specific PR or specific branch, this connector should be considered.\nMany repositories are working on commit conventions. Before committing, it's a good idea to look up the commit-list to see how you leave the commit message.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IDeleteFileContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      },
      "put": {
        "summary": "Update File content and commit",
        "description": "Update file content in github repository\n\nUpdating file content is the same as creating a single commit.\nCommit is a hash that must be created in github to save changes, such as uploading, modifying, deleting, and so on.\n\nAs the sha value of the file to be modified, a conflict may occur if it is not the latest sha value among the sha values of the file.\nIt's safe when you look up a list of files through API to check sha and put in a value, or want to re-modify the sha value of a file you just created.\n\nIf you modify a file, it's not like appending the code to the file, it's like overwriting the file.\nGenerally, if a user says he wants to modify it, it means that he wants to add the code to a specific file or refact it,\nso it's right to check the existing code and then change some of the contents to the original to reflect it.\nIn addition, it is recommended to receive confirmation from the user every time about the content and then modify or add it.\n\nIf the user directly asks you to add, modify, or delete a file for a specific PR or specific branch, this connector should be considered.\nMany repositories are working on commit conventions. Before committing, it's a good idea to look up the commit-list to see how you leave the commit message.\n\nThe input property, which means the content of a file, changes to base64 inside that connector when written in human-recognizable natural language. So, do not encode any writing into base64.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IUpdateFileContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IUpsertFileContentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      },
      "post": {
        "summary": "Create File content and commit",
        "description": "Create file content in github repository\n\nIf the file already exists in the same path, you should use the modification API and this connector is only responsible for generation.\nCreating file content is the same as creating a single commit.\nCommit is a hash that must be created in github to save changes, such as uploading, modifying, deleting, and so on.\n\nIf someone says they want to add a file to the repo it's like they want to commit.\nHowever, in this case, you should check which branch you want to add the file to, and you should not create it in the default branch if you do not specify the branch.\nUsers value branches that reflect their commitments.\nIn addition, it is recommended to receive confirmation from the user every time about the content and then modify or add it.\n\nIf the user directly asks you to add, modify, or delete a file for a specific PR or specific branch, this connector should be considered.\n\nThe input property, which means the content of a file, changes to base64 inside that connector when written in human-recognizable natural language. So, do not encode any writing into base64.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.ICreateFileContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IUpsertFileContentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repos/get-folder-structures": {
      "post": {
        "summary": "Review Repository Folder Structure",
        "description": "Review Repository Folder Structure\n\nIt allows you to know the overall folder structure by traversing files in the repository.\nThis feature is intended to navigate like a DFS based on folders.\nIf this function is so vast that you cannot see the entire folder, you can pass the `path` again to inquire.\nThe `path` delivered is treated like a Root folder and continues the navigation from this folder.\nThis feature is designed to navigate to the inside two more times, up to steps 0, 1 at a time, based on the root folder.\n\nIf you want to know the details of the file, it is recommended to use the get-contents connector.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetRepositoryFolderStructureInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/RepositoryFolderchildrenany"
                      },
                      {
                        "$ref": "#/components/schemas/StrictOmitIGithub.RepositoryFilecontentencoding"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "type",
                      "mapping": {
                        "dir": "#/components/schemas/RepositoryFolderchildrenany",
                        "file": "#/components/schemas/StrictOmitIGithub.RepositoryFilecontentencoding"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repos/get-contents/bulk": {
      "post": {
        "summary": "Look up repository files(bulk)",
        "description": "Look up repository files(bulk)\n\nIf the file you want to inquire is a folder, internal files are provided in an array,\nand if it is a file, it inquires about the encoding method of the file and the body content of the file.\nSince there may be countless files and folders in the github repository, there may be many files that exceed the rate limit.\nIn this case, you can try to solve this problem by sequentially finding the folders one by one using the corresponding connector.\nYou can pass multiple file paths to view multiple files at the same time.\nThere is no limit to the number of files.\n\nThis is suitable for viewing files on specific branches, but if the user is for the purpose of viewing details of code reviews or PR, it is recommended to use a different connector.\nThere are connectors that view the list of files changed in PR, or see the changes.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetBulkFileContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/IGithub.RepositoryFolder"
                            },
                            {
                              "$ref": "#/components/schemas/StrictOmitIGithub.RepositoryFilecontentencoding"
                            }
                          ],
                          "discriminator": {
                            "propertyName": "type",
                            "mapping": {
                              "dir": "#/components/schemas/IGithub.RepositoryFolder",
                              "file": "#/components/schemas/StrictOmitIGithub.RepositoryFilecontentencoding"
                            }
                          }
                        }
                      },
                      {
                        "$ref": "#/components/schemas/IGithub.RepositoryFile"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "null",
                            "title": "type"
                          },
                          "size": {
                            "const": 0,
                            "title": "size"
                          },
                          "message": {
                            "const": "No files exist corresponding to the path.",
                            "title": "message"
                          }
                        },
                        "required": [
                          "type",
                          "size",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repos/get-contents": {
      "post": {
        "summary": "Look up repository files",
        "description": "Look up repository files\n\nIf the file you want to inquire is a folder, internal files are provided in an array,\nand if it is a file, it inquires about the encoding method of the file and the body content of the file.\nSince there may be countless files and folders in the github repository, there may be many files that exceed the rate limit.\nIn this case, you can try to solve this problem by sequentially finding the folders one by one using the corresponding connector.\n\nThis is suitable for viewing files on specific branches, but if the user is for the purpose of viewing details of code reviews or PR, it is recommended to use a different connector.\nThere are connectors that view the list of files changed in PR, or see the changes.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetFileContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/IGithub.RepositoryFolder"
                          },
                          {
                            "$ref": "#/components/schemas/StrictOmitIGithub.RepositoryFilecontentencoding"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "dir": "#/components/schemas/IGithub.RepositoryFolder",
                            "file": "#/components/schemas/StrictOmitIGithub.RepositoryFilecontentencoding"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/IGithub.RepositoryFile"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "const": "null",
                          "title": "type"
                        },
                        "size": {
                          "const": 0,
                          "title": "size"
                        },
                        "message": {
                          "const": "No files exist corresponding to the path.",
                          "title": "message"
                        }
                      },
                      "required": [
                        "type",
                        "size",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repos/get-readme": {
      "post": {
        "summary": "Read the README file",
        "description": "Read the README file in the repository\n\nREADME is one of the initial settings of the project and usually records a description of this repository,\nso it's useful if you want to see a rough description of the repository.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetReadmeFileContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "$ref": "#/components/schemas/IGithub.RepositoryFile"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type",
                    "mapping": {
                      "file": "#/components/schemas/IGithub.RepositoryFile"
                    }
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repos/get-events": {
      "post": {
        "summary": "List events for the authenticated user",
        "description": "List events for the authenticated user\n\nIf you are authenticated as the given user, you will see your private events. Otherwise, you'll only see public events.\nYou can check all events surrounding the repository, such as who inquired and who forked.\nIt is used in conjunction with a connector that inquires the activity details and is suitable for checking how active the repository is.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetRepoEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/networks/get-events": {
      "post": {
        "summary": "List public events for a network of repositories",
        "description": "Fetches events across all forks of a specified repository.\n\nThis API endpoint provides a stream of events that occur in any fork\nof the specified repository. It includes actions such as commits,\npull requests, issues, and other activity happening in the forked\nrepositories.\n\nUse this endpoint when you need to monitor the activity not just\nin the original repository, but also in all of its forks. This can\nbe particularly useful for understanding the broader impact or\nactivity surrounding a popular project that has been forked multiple\ntimes.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetRepoEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/users/get-events": {
      "post": {
        "summary": "List events for the authenticated user.",
        "description": "List events for the authenticated user\n\nThis API endpoint retrieves a stream of events related to the authenticated user,\nincluding activities such as issues, pull requests, commits, and repository actions\nthat the user has participated in or been mentioned in. The events reflect the user's\ninteractions across all repositories they have access to, both public and private (if\nthe user has appropriate permissions).\n\nThis is useful for tracking a user's activity on GitHub, allowing you to see a\npersonalized feed of their involvement in various projects and interactions with\nother users.\n\nIf you are authenticated as the given user, you will see your private events. Otherwise, you'll only see public events.\nIt looks up users' public events. Username should be your own nickname because you can usually only see your own events.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetUserEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/users/get-organizations": {
      "post": {
        "summary": "List organizations for a user",
        "description": "List organizations for a user\n\nLook up the user's organization list, but since you can't look up the user's private organization here,\nyou can't really conclude that there isn't an empty array.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetUserOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetUserOrganizationOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-events": {
      "post": {
        "summary": "List public events.",
        "description": "List public events\n\nThis API is not built to serve real-time use cases. Depending on the time of day, event latency can be anywhere from 30s to 6h.\nWhen I look up the events, they may not be of much value to the user because they are events that occurred on github.\n\nIt's looking up public events, and it's looking at events that occur on github regardless of the specific user.\nTherefore, it may not be of much use unless it is a special case.\nIf you want to get your information, it would be more advantageous to use the 'user/get-events' connector.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/get-activities": {
      "post": {
        "summary": "Get Repository' activities",
        "description": "Get repository activities\n\nYou can use it to see how active your contribution is to the repository\nbecause it looks up all the activities that have occurred in the repository.\n\nThe types of activities that can be viewed here are as follows, and you can also find out by which user it was operated.\npush, force_push, branch_creation, branch_deletion, pr_merge, merge_queue_merge",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetRepositoryActivityInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetRepositoryActivityOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests": {
      "put": {
        "description": "Update pull request\n\nUse to change the title or body of a PR, or draft status or open-close status.\nIt can also be used for overwriting labels or modifying them.\nIt can also be used to close or reopen pull request.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Update pull request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IUpdatePullRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IUpdatePullRequestOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      },
      "post": {
        "description": "Create pull request\n\nCreates a pull request from a branch to a particular branch.\nIf the branch has already generated a pull request to the base branch, an error of 422 may occur.\nThis error indicates a collision because only one pull request from branch to another branch can exist open at the same time.\n\nIf the user wants to see each PR unit, this connector will be suitable.\n\nWhen creating a PR, be sure to specify the base branch and the head branch, and even if it can be omitted, be sure to include Titles and bodies as much as possible.\nYou can also create a pull request in draft state if necessary.\n\nIn order to create PR, you may need to refer to the PULL_REQUEST_TEMPLATE.md file that you specified in the .github folder in advance, in which case refer to the connector 'POST /connector/github/repos/get-contents'.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Create pull request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.ICreatePullRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.ICreatePullRequestOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/get-comments": {
      "post": {
        "summary": "List pull request comments",
        "description": "List pull request comments\n\nYou can use the REST API to list comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.\nIn any case, you can also view comments with the number on pull request.\nIssue comments are ordered by ascending ID.\n\nThis is actually the same as connector POST '/connector/github/repositories/issues/get-comments'.\nComments and reviews on PR are separate, you can only see comments on this connector.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetPullRequestCommentsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetIssueCommentsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/comments": {
      "post": {
        "summary": "Create an pull request comment",
        "description": "Create an pull request comment",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.ICreateIssueCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IssueComment"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/get-requested-reviewers": {
      "post": {
        "summary": "Get all requested reviewers for a pull request",
        "description": "Get all requested reviewers\n\nGets the users or teams whose review is requested for a pull request.\nOnce a requested reviewer submits a review, they are no longer considered a requested reviewer.\nTheir review will instead be returned by the List reviews for a pull request operation.\n\nThe requested_reviewers are the ones who have been asked to review, but not yet.\nSo when you see someone who has reviewed a PR, if that person is someone who has already finished a review, he/she will be part of the reviewers, not the requested_reviewers.\nTherefore, when you look at a reviewer, you should look at it separately between someone who has not yet reviewed it and one person who has reviewed it, which you should also call other features to see together.\nRefer to connector `:post /connector/github/repositories/pull-requests/get-reviews`.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IReadPullRequestDetailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IReadPullRequestRequestedReviewerOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/requested-reviewers": {
      "delete": {
        "summary": "Remove requested reviewers from a pull request",
        "description": "Removes review requests from a pull request for a given set of users and/or teams\n\nYou should check the person who has already been requested as a reviewer, i.e., requested_reviewers, and then send out the delete request.\nEven if you don't do that, there will be no error, but it doesn't mean anything if you delete the person who hasn't been requested as a reviewer.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IRequestReviewerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      },
      "post": {
        "summary": "Request reviewers for a pull request",
        "description": "Request reviewers for a pull request\n\nRequests reviews for a pull request from a given set of users and/or teams. This endpoint triggers notifications.\nYou can specify a reviewer by the user's name alone, but not by anyone, so use a connector that looks up collaborators first.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IRequestReviewerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/reviews/get-comments": {
      "post": {
        "summary": "List comments for a pull request review",
        "description": "List comments for a pull request review\n\nLists comments for a specific pull request review.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetReviewCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetReviewCommentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/get-reviews": {
      "post": {
        "summary": "List reviews for a pull request",
        "description": "List reviews for a pull request\n\nPull Request Reviews are groups of pull request review comments on a pull request, grouped together with a state and optional body comment.\nLists all reviews for a specified pull request. The list of reviews returns in chronological order.\nSince github distinguishes requested_reviewers from those who have already completed the review,\nif you want to see a review for any PR, you should look up both of these connectors.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IReadPullRequestReviewInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IReadPullRequestReviewOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/reviews": {
      "post": {
        "summary": "Create a review for a pull request",
        "description": "Create a review for a pull request\n\nPull request reviews created in the PENDING state are not submitted and therefore do not include the submitted_at property in the response. To create a pending review for a pull request, leave the event parameter blank.\nThe position value equals the number of lines down from the first \"@@\" hunk header in the file you want to add a comment. The line just below the \"@@\" line is position 1, the next line is position 2, and so on. The position in the diff continues to increase through lines of whitespace and additional hunks until the beginning of a new file.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IReviewPullRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IReviewPullRequestOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/get-files": {
      "post": {
        "summary": "List pull requests files",
        "description": "List pull requests files\n\nThis is useful to see what files are contained in that PR.\nEach file's patch contains the entire format of the file.\nHowever, if you want to know the changes, you should look up diff, which is implemented with a different connector, so you'd better refer to it.\n\nIf the user wants to see each PR unit, this connector will be suitable.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IReadPullRequestFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IReadPullRequestFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/get-commits": {
      "post": {
        "description": "List commits on a pull request\n\nLists a maximum of 250 commits for a pull request.\nTo receive a complete commit list for pull requests with more than 250 commits, use the List commits endpoint.\n\nIf the user wants to see each PR unit, this connector will be suitable.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IReadPullRequestCommitInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IReadPullRequestCommitOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/get-diff": {
      "post": {
        "summary": "Get a diff of pull request",
        "description": "Get a diff of pull-request info\n\nThis is the same as PR's ability to query files,\nbut the format that this function returns is a string, which is more suitable for identifying changes to each file than viewing each file object,\nand in github, this is called the application/vnd.github.diff format.\nThis helps you see at a glance what codes have disappeared and been added in a form suitable for code review.\n\nIf the user wants to see each PR unit, this connector will be suitable.\n\nIf there are too many changes, the connector can export a 406 error.\nIn this case, it may be difficult to determine each change, but it is recommended to use the List pull requests connector.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IReadPullRequestDetailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/pull-requests/get-detail": {
      "post": {
        "summary": "Get a pull request",
        "description": "Get a deatiled pull-request info\n\nYou can view detailed PR information using the PR number.\nHere, you can see the branch to be merged and the information on the branch it points to, and you can see information such as the status of the PR, the time of each state, and the person who created the PR.\nHowever, it should be used with other connectors because it provides information close to the header of PR and does not provide information about each file or commit of PR.\n\nIf the user wants to see each PR unit, this connector will be suitable.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IReadPullRequestDetailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.PullRequest"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/get-pull-requests": {
      "post": {
        "summary": "Get Repository' pull request",
        "description": "List repository pull requests\n\nQuery pool requests to specific repositories.\nHere, you can filter issues and see only pool requests, and you can sort them by creation and inquiry dates, or filter by open or closed status.\nThe content of the body is omitted, so if you want to see it, you should use the detailed lookup connector.\nIf the user wants to see the body property, '/connector/github/repositories/pull-requests/get-detail' connector must be called.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IFetchRepositoryPullRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IFetchRepositoryPullRequestOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/issues/get-detail": {
      "post": {
        "summary": "Get a issue",
        "description": "Get a deatiled issue info\n\nUnlike the body omitted from the issue list inquiry, it is suitable for viewing details as it can inquire all the contents.\nHowever, this connector alone cannot see all the comments or timelines inside, and other connectors must be used.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetIssueDetailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.DetailedIssue"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/issues/get-comments": {
      "post": {
        "summary": "List issue comments",
        "description": "List issue comments\n\nYou can use the REST API to list comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.\nIn any case, you can also view comments with the number on pull request.\nIssue comments are ordered by ascending ID.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetIssueCommentsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetIssueCommentsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/issues/comments": {
      "post": {
        "summary": "Create an issue comment",
        "description": "Create an issue comment\n\nAdd a comment. If you put an issue number, you can add a comment to the issue, where the issue number is also the number of PR.\nIn other words, both issue and PR can add a comment through this connector.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.ICreateIssueCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IssueComment"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/repositories/get-issues": {
      "post": {
        "summary": "List repository issues",
        "description": "List repository issues\n\nList issues in a repository.\nThis connector is perfect if you want to see the issue of the repository because it can be viewed without being authenticated.\nInformation on the issue comes out, but only 10 people and labels attached to the issue are provided.\nTherefore, if you want more detailed information, it's a good idea to look at it with a connector that looks at the details of the issue.\nWhen looking up an issue, you can view open and closed issues and sort them by creation time, correction time, comment count, and reaction count.\nFor more information, you should check the properties part of the request type.\n\nThe content of the body is omitted, so if you want to see it, you should use the detailed lookup connector.\nIf the user wants to see the body property, '/connector/github/repositories/issues/get-detail' connector must be called.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IFetchRepositoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IFetchRepositoryOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-users": {
      "post": {
        "summary": "Search for users by keyword in github",
        "description": "Search for users by keyword in github",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.ISearchUserInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "list of user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.ISearchUserOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-user-profile": {
      "post": {
        "summary": "Look up the user's detailed profile",
        "description": "Look up the user's detailed profile",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetUserProfileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "detailed profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetUserProfileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-organizations": {
      "post": {
        "summary": "List organizations for the authenticated user",
        "description": "List organizations for the authenticated user\n\nInquire the user's repository.\nHere, the user is an authenticated user, which means a user of that token.\nIf a user does not select an organization at login or ask the organization's admin to link it,\nthe resource might not be viewed even if the token scope has permissions.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetAuthenticatedUserOrganizationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetAuthenticatedUserOrganizationOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-branches": {
      "post": {
        "summary": "Inquire the user's branch",
        "description": "Inquire the user's branch\nYou can look up a list of branches in a specific repository.\nBecause it says what the last commit is, and when and to whom it was made,\nyou can see which of the branches is the latest and managed.\n\nYou shouldn't call the main branch arbitrarily because there may be people who use the master branch.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetBranchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetBranchOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/branches": {
      "post": {
        "summary": "Create branch",
        "description": "Create branch\n\nCreates a reference for your repository. You are unable to create new references for empty repositories, even if the commit SHA-1 hash used exists. Empty repositories are repositories without branches.\nYou need to know the sha of the commit, so if you want to create a branch, you should first call another connector that looks up the commit list or header commitments to find out the sha value.\nIf you want to copy the branch, you should also look up the commit history of the branch and then retrieve the sha value from the branch's HEAD commit.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.ICreateBranchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.ICreateBranchOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-pull-requests-associated-with-a-commit": {
      "post": {
        "summary": "get pull requests associated with a commit",
        "description": "List pull requests associated with a commit\n\nFetches the pull requests (PRs) associated with a specific commit in a GitHub repository.\nThis API endpoint retrieves a list of pull requests that include the specified commit.\nThis can be useful for tracking where and how a particular change was merged into a branch.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetPullRequestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "pull requests associated with a commit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StrictOmitIGithub.PullRequestcommentsmaintainer_can_modifymergeablerebaseablemergeable_statemerged_byreview_commentscommitsadditionsdeletionschanged_files"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-commit-heads": {
      "post": {
        "summary": "Lists all branches that contain the HEAD commit",
        "description": "Lists all branches that contain the HEAD commit of a GitHub repository.\n\nThis function utilizes the GitHub API to retrieve a list of branches where the current\nHEAD commit (the latest commit on the checked-out branch) is included. This is useful for\ndetermining which branches contain the most recent changes.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetCommitHeadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A promise that resolves to an array of branch names that include the specified commit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetCommitHeadOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-commit": {
      "post": {
        "summary": "Inquire the commit details of the user",
        "description": "Inquire the commit details of the user\nIt contains all the history of how the file changed, so you can see the details of a single commit node.\nIf you do not deliver ref, look up based on default_branch.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetCommitInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "detailed commit history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetCommitOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-commit-diff": {
      "post": {
        "summary": "Inquire the commit diff of the user",
        "description": "Inquire the commit diff of the user\ndiff is Github's own content type specification that allows you to identify changes per commit on the Github homepage.\nIf you do not deliver ref, look up based on default_branch.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetCommitInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "commit diff",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-commit-list": {
      "post": {
        "summary": "Look up the list of commitments for a specific repo, a specific branch",
        "description": "Look up the list of commitments for a specific repo, a specific branch\n\nThis function can be used in general because it sees the commit list in units of branches, but if the user wants to see it in units of PR, it is better to use another connector.\nIf the user specifies to view in PR units, use other connectors because there are connectors for viewing files, commit lists, and changes in PR units elsewhere.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetCommitListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "list of commit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetCommitListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-followers": {
      "post": {
        "summary": "Inquire the followers of the user",
        "description": "Inquire the followers of the user\n\nThis value can be viewed by about 100 people at a time because it is a page-nated result.\nIf you have someone you're looking for, it's important to keep looking for the next page, even if you haven't found the value on the first page.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetFollowerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetFollowerOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-followees": {
      "post": {
        "summary": "Inquire the followees of the user",
        "description": "Inquire the followees of the user\n\nThis value can be viewed by about 100 people at a time because it is a page-nated result.\nIf you have someone you're looking for, it's important to keep looking for the next page, even if you haven't found the value on the first page.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetFolloweeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetFolloweeOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/get-labels": {
      "post": {
        "summary": "List labels for a repository",
        "description": "List labels for a repository\n\nView a list of issues created and used in that repository.\nEach issue will only have labels that are already registered in this repository.\nOf course, it doesn't necessarily mean that you have to use only the labels here when creating issues,\nbut it would be beneficial to assign them by referring to the labels here.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IGetLabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.IGetLabelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/github/issues": {
      "patch": {
        "summary": "Update an issue",
        "description": "Update an issue in the repository\n\nUpdate an issue, where you can enter labels and assignes together.\nThe information you must enter is who will create the issue in the owner's repository and under what title.\nThe information in the text should follow the markdown grammar allowed by github.\n\nIn some cases, if you are not the owner of this repository, you may not be able to make any marking on issues such as labels, assignees, milestones, etc.\nIt can also be used to close or reopen issues.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.IUpdateIssueInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.Issue"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      },
      "post": {
        "summary": "Create an issue",
        "description": "Leave an issue in the repository\n\nCreate an issue, where you can enter labels and assignes together.\nThe information you must enter is who will create the issue in the owner's repository and under what title.\nThe information in the text should follow the markdown grammar allowed by github.\n\nIn some cases, if you are not the owner of this repository, you may not be able to make any marking on issues such as labels, assignees, milestones, etc.\n\nIn order to create issue, you may need to refer to the issue template files that you specified in the .github folder in advance, in which case refer to the connector 'POST /connector/github/repos/get-contents'.",
        "tags": [
          "Github"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGithub.ICreateIssueInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGithub.Issue"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/github.svg"
      }
    },
    "/connector/rag/analyze": {
      "post": {
        "summary": "Request RAG analysis",
        "description": "Request RAG analysis for the input file\n\nThis connector can be used when creating a chatbot that compares multiple research papers.",
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information about the file to be analyzed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IAnalyzeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "summary": "Generate RAG-based results",
        "description": "Generates requested results based on RAG analysis\n\nA connector that can be used to generate answers to user questions through a chatbot that compares multiple research papers.",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IGithub.IGetEventOutput": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "id"
                },
                "type": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "const": "CommitCommentEvent",
                      "title": "CommitCommentEvent",
                      "description": "Triggered when a comment is added to a commit."
                    },
                    {
                      "const": "CreateEvent",
                      "title": "CreateEvent",
                      "description": "Triggered when a new branch, tag, or repository is created."
                    },
                    {
                      "const": "DeleteEvent",
                      "title": "DeleteEvent",
                      "description": "Triggered when a branch or tag is deleted."
                    },
                    {
                      "const": "ForkEvent",
                      "title": "ForkEvent",
                      "description": "Triggered when a user forks a repository."
                    },
                    {
                      "const": "GollumEvent",
                      "title": "GollumEvent",
                      "description": "Triggered when a Wiki page is created or updated."
                    },
                    {
                      "const": "IssueCommentEvent",
                      "title": "IssueCommentEvent",
                      "description": "Triggered when a comment is added to an issue."
                    },
                    {
                      "const": "IssuesEvent",
                      "title": "IssuesEvent",
                      "description": "Triggered when an issue is opened, edited, or closed."
                    },
                    {
                      "const": "MemberEvent",
                      "title": "MemberEvent",
                      "description": "Triggered when a user is added as a collaborator to a repository."
                    },
                    {
                      "const": "PublicEvent",
                      "title": "PublicEvent",
                      "description": "Triggered when a private repository is made public."
                    },
                    {
                      "const": "PullRequestEvent",
                      "title": "PullRequestEvent",
                      "description": "Triggered when a pull request is opened, edited, merged, or closed."
                    },
                    {
                      "const": "PullRequestReviewEvent",
                      "title": "PullRequestReviewEvent",
                      "description": "Triggered when a review is submitted for a pull request."
                    },
                    {
                      "const": "PullRequestReviewCommentEvent",
                      "title": "PullRequestReviewCommentEvent",
                      "description": "Triggered when a comment is added to a pull request's review."
                    },
                    {
                      "const": "PullRequestReviewThreadEvent",
                      "title": "PullRequestReviewThreadEvent",
                      "description": "Triggered when a review thread in a pull request has a change."
                    },
                    {
                      "const": "PushEvent",
                      "title": "PushEvent",
                      "description": "Triggered when commits are pushed to a repository."
                    },
                    {
                      "const": "ReleaseEvent",
                      "title": "ReleaseEvent",
                      "description": "Triggered when a release is published."
                    },
                    {
                      "const": "SponsorshipEvent",
                      "title": "SponsorshipEvent",
                      "description": "Triggered when a sponsorship is started or modified."
                    },
                    {
                      "const": "WatchEvent",
                      "title": "WatchEvent",
                      "description": "Triggered when a user stars a repository."
                    }
                  ],
                  "title": "event type\nThere are various events such as `WatchEvent`, `CreateEvent`, `ForkEvent`."
                },
                "actor": {
                  "$ref": "#/components/schemas/MyPickIGithub.Useridlogin",
                  "title": "user"
                },
                "repo": {
                  "$ref": "#/components/schemas/MyPickIGithub.Repositorynameid",
                  "title": "repo"
                },
                "org": {
                  "$ref": "#/components/schemas/MyPickIGithub.Organizationidlogindisplay_login",
                  "title": "org"
                },
                "payload": {
                  "$ref": "#/components/schemas/IGithub.Payload",
                  "title": "payload"
                },
                "public": {
                  "type": "boolean",
                  "title": "whather is public"
                },
                "created_at": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string",
                      "format": "date-time"
                    }
                  ],
                  "title": "created_at"
                }
              },
              "required": [
                "id",
                "type",
                "actor",
                "repo",
                "payload",
                "public",
                "created_at"
              ]
            },
            "title": "event"
          },
          "nextPage": {
            "type": "boolean",
            "title": "true if there is a next page",
            "description": "However, since true and false are judged by comparing the number of requested objects with the number of searched objects,\neven if true, the next page may be empty."
          },
          "after": {
            "type": "string",
            "title": "after\n\nIf this is the response value for cursor-based pagenation, it provides a hash code for the next page."
          },
          "before": {
            "type": "string",
            "title": "before\n\nIf this is the response value for cursor-based pagenation, it provides a hash code for the previous page."
          },
          "prev": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "prev",
            "description": "If this is a response by offset-based pagenation, provide metadata for the next page.\nThis means the previous page."
          },
          "next": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "next",
            "description": "If this is a response by offset-based pagenation, provide metadata for the next page.\nThis means the next page."
          },
          "last": {
            "type": "number",
            "title": "last",
            "description": "If this is a response by offset-based pagenation, provide metadata for the next page.\nThis means the last page."
          },
          "first": {
            "type": "number",
            "title": "first",
            "description": "If this is a response by offset-based pagenation, provide metadata for the next page.\nThis means the first page."
          }
        },
        "required": [
          "result",
          "nextPage"
        ]
      },
      "MyPickIGithub.Useridlogin": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "title": "id\n\nThis means the user's ID."
          },
          "login": {
            "type": "string",
            "title": "login",
            "description": "This means the user's nickname.\nIn github, nicknames are unique at least until that user changes their own nickname.\nThis means that only one person can own the nickname at a time.\nTherefore, it may be important to know the exact nickname because the github API calls the appi using the user's nickname."
          }
        },
        "required": [
          "id",
          "login"
        ]
      },
      "MyPickIGithub.Repositorynameid": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "name"
          },
          "id": {
            "type": "number",
            "title": "id"
          }
        },
        "required": [
          "name",
          "id"
        ]
      },
      "MyPickIGithub.Organizationidlogindisplay_login": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "title": "id"
          },
          "login": {
            "type": "string",
            "title": "login"
          },
          "display_login": {
            "type": "string",
            "title": "display_login"
          }
        },
        "required": [
          "id",
          "login"
        ]
      },
      "IGithub.Payload": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "title": "action",
            "description": "It means what this event means.\nAlthough the type of event usually has a resource or the name of the event,\nit is necessary to view it with this property because it does not specify what actions occurred in that event are modified, deleted, created, etc."
          },
          "issue": {
            "$ref": "#/components/schemas/IGithub.Issue",
            "title": "issue",
            "description": "If it is an event for an issue, contain the issue information."
          },
          "comment": {
            "$ref": "#/components/schemas/IGithub.Comment",
            "title": "comment",
            "description": "If it is an event for an comment, contain the comment information."
          }
        }
      },
      "IGithub.Issue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "title": "issue id"
          },
          "html_url": {
            "type": "string",
            "format": "iri",
            "title": "html_url",
            "description": "If you want to see the issue or pull_request on the web, you can go to this link.\nIf pull is included on this link path, it is pull_request, and if issue is included, it is issue.\nIn essence, pull_request and issue are numbered together from the beginning, so while this connector does not distinguish the two, it can be distinguished by the url path."
          },
          "number": {
            "type": "integer",
            "title": "issue number\n\nNumber uniquely identifying the issue within its repository"
          },
          "state": {
            "type": "string",
            "title": "state\n\nState of the issue; either 'open' or 'closed'"
          },
          "state_reason": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "const": "completed"
              },
              {
                "const": "reopened"
              },
              {
                "const": "not_planned"
              }
            ],
            "title": "state_reason",
            "description": "The reason for the current state"
          },
          "title": {
            "type": "string",
            "title": "title",
            "description": "title of the issue"
          },
          "user": {
            "$ref": "#/components/schemas/MyPickIGithub.Usertypeidlogin",
            "title": "user"
          },
          "body": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "body",
            "description": "Contents of the issue\n\nYou can also render this content because it is in a markdown format."
          },
          "labels": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "title": "id"
                    },
                    "url": {
                      "type": "string",
                      "format": "iri",
                      "title": "url"
                    },
                    "name": {
                      "type": "string",
                      "title": "name"
                    },
                    "description": {
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "title": "description"
                    },
                    "color": {
                      "oneOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "string"
                        }
                      ],
                      "title": "color"
                    },
                    "default": {
                      "type": "boolean",
                      "title": "default"
                    }
                  }
                }
              ]
            },
            "title": "labels\n\nLabels to associate with this issue; pass one or more label names to replace the set of labels on this issue; send an empty array to clear all labels from the issue; note that the labels are silently dropped for users without push access to the repository"
          },
          "assignee": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/MyPickIGithub.Userlogin"
              }
            ],
            "title": "assignee"
          },
          "assignees": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MyPickIGithub.Userlogin"
                }
              }
            ],
            "title": "assignees\n\nIf there are many people in charge, you can be included in the array."
          }
        },
        "required": [
          "id",
          "html_url",
          "number",
          "state",
          "title",
          "user",
          "labels",
          "assignee"
        ]
      },
      "MyPickIGithub.Usertypeidlogin": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": "User"
              },
              {
                "const": "Bot"
              },
              {
                "const": "Organization"
              }
            ],
            "title": "type"
          },
          "id": {
            "type": "number",
            "title": "id\n\nThis means the user's ID."
          },
          "login": {
            "type": "string",
            "title": "login",
[...]
