{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "통합 채용정보 검색",
    "summary": "다양한 채용 사이트의 공고를 한 번에 검색해요.",
    "description": "원티드, 인크루트, 사람인, 점핏, 커리어리 등 다양한 채용 사이트의 공고를 검색할 수 있어요. 직무, 지역, 경력 등으로 검색 조건을 설정할 수 있고, 각 사이트별로 제공하는 상세 정보(연봉, 기업 규모, 복지 등)를 비교해볼 수 있어요. 관심 있는 공고를 저장하거나 지원 현황을 관리할 수 있고, 유사한 공고 추천 기능도 활용할 수 있어요. 이를 통해 취업 준비나 이직을 고려 중인 사용자들이 효율적으로 채용 정보를 탐색하고 관리할 수 있어요.",
    "version": "0.1.352",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-search/wanted": {
      "post": {
        "summary": "Wanted job posting search",
        "description": "Search for job postings on Wanted",
        "tags": [
          "Wanted"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Wanted job posting search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_wanted_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/incruit": {
      "post": {
        "summary": "Search Incruit job postings",
        "description": "Search for job postings on Incruit",
        "tags": [
          "Incruit"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Search results for Incruit job postings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Incruit_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/saramin": {
      "post": {
        "summary": "Search for Saramin job postings",
        "description": "Search for job postings in Saramin",
        "tags": [
          "Saramin"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Search for Saramin job postings results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Saramin_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/jumpit": {
      "post": {
        "summary": "Jumpfit job posting search",
        "description": "Search for job postings on Jumpfit",
        "tags": [
          "Jumpit"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Jumpfit job posting search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/jumpit_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/careerly": {
      "post": {
        "summary": "Careerly Search",
        "description": "Search for posts in Careerly",
        "tags": [
          "Careerly"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Careerly Post Search Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/careerly_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSearch.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Search Results Title"
          },
          "link": {
            "type": "string",
            "format": "iri",
            "title": "Search Results Link"
          },
          "snippet": {
            "type": "string",
            "title": "Search Results Summary"
          },
          "thumbnail": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "image/*",
            "title": "Search Results thumbnail"
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "Search Results"
      },
      "IGoogleSearch.IRequest": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "Must-include keywords",
            "description": "Set keywords that must be included in search results."
          },
          "orKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "Good keywords to enter",
            "description": "Set good keywords to enter the search results."
          },
          "notKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "Keywords that should not be included",
            "description": "Set keywords that should not be included in search results."
          },
          "max_results": {
            "type": "integer",
            "title": "Number of search results",
            "description": "Set the number of search results."
          }
        },
        "required": [
          "andKeywords",
          "max_results"
        ],
        "title": "Conditions for searching"
      }
    }
  },
  "tags": [
    {
      "name": "Wanted"
    },
    {
      "name": "Incruit"
    },
    {
      "name": "Saramin"
    },
    {
      "name": "Jumpit"
    },
    {
      "name": "Careerly"
    }
  ],
  "x-samchon-emended": true
}