{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 이메일 서비스 관리",
    "summary": "지메일로 이메일을 편리하게 관리해요.",
    "description": "지메일을 통해 메일을 보내고, 초안을 만들고, 답장을 할 수 있어요. 메일 정보를 가져오고, 삭제하고, 라벨을 관리할 수 있어요. 대량의 이메일을 자동으로 처리하거나, 특정 조건에 따라 이메일을 분류하고 정리할 수 있어요. 개인 사용자부터 비즈니스 사용자까지 효율적인 이메일 관리와 커뮤니케이션을 할 수 있어요.",
    "version": "0.1.436",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/gmail/send": {
      "post": {
        "summary": "GMAIL Send",
        "description": "Sending mail\n\nGmail is a free web-based email service provided by Google.\n\nThis connector is for sending emails,\nand if you send it as simple text, the sentences will be displayed as one long line, so you need to insert a line break character.\nThe current format uses `text/html; charset=utf-8` as content-type.\nIn some cases, you can use the HTML format.\n\nIf you want to attach a file, you must specify the name of the file and the address at which it is stored.\nThe saved file is read as a GET request inside the function, encoded, and processed.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information needed to send an email.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "ID of the sent email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "send"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "지메일 보내줘",
          "메일 보내줘"
        ]
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "summary": "Create GMAIL Draft",
        "description": "Create a mail draft\n\nGmail is a free web-based email service provided by Google.\n\nThis connector is for sending emails,\nand if you send it as simple text, the sentences will be displayed as one long line, so you need to insert a line break character.\nThe current format uses `text/html; charset=utf-8` as content-type.\nIn some cases, you can use the html format.\n\nIf you want to attach a file, you must specify the name of the file and the address at which it is stored.\nThe saved file is read as a GET request inside the function, encoded, and processed.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for creating a mail draft.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "draft"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "메일 초안 생성해줘"
        ]
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "summary": "GMAIL Reply",
        "description": "Reply to received email\n\nGmail is a free web-based email service provided by Google.\n\nThis connector is for sending emails,\nand if you send it as simple text, the sentences will be displayed as one long line, so you need to insert a line break character.\nThe current format uses `text/html; charset=utf-8` as content-type.\nIn some cases, you can also use the HTML format.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "Information required for replying to emails.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "reply"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "지메일 온 거 답장해줘"
        ]
      }
    },
    "/connector/gmail/get/{id}": {
      "patch": {
        "summary": "Get GMAIL information",
        "description": "Get information about a mail\n\nGmail is a free web-based email service provided by Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "Unique ID of the email",
            "description": " Unique ID of the email."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Information about the email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "get",
          "findEmail"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "메일 상세 조회해줘"
        ]
      }
    },
    "/connector/gmail/read-list": {
      "patch": {
        "summary": "Get GMAIL list",
        "description": "Get mailing list\n\nGmail is a free web-based email service provided by Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for getting mailing list",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mailing list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "read_list",
          "findEmails"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "메일 목록 조회해줘"
        ]
      }
    },
    "/connector/gmail/{id}/hardDelete": {
      "delete": {
        "summary": "Delete mail",
        "description": "Delete mail\n\nGmail is a free web-based email service provided by Google.\n\nThis function requires special attention because it permanently deletes mail instead of moving it to the trash.\n\nMost users will want to delete mail that is already in the trash.\n\nTherefore, if the user wants to delete it, it is better to guide them to move the mail to the trash, but if they still want to delete it, it is right to target the trash.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "hardDelete"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "Gmail에서 메일 하나만 삭제해줘"
        ]
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "summary": "Delete GMAIL",
        "description": "Move mail to trash\n\nGmail is a free web-based email service provided by Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the email to be deleted"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "removeMail"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "메일 삭제해줘"
        ]
      }
    },
    "/connector/gmail/label": {
      "post": {
        "summary": "Create GMAIL label",
        "description": "Create a label\n\nGmail is a free web-based email service provided by Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for creating a label",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ILabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Unique ID of the created label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ILabelOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "label",
          "createLabel"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "메일 라벨 생성해줘"
        ]
      }
    },
    "/connector/gmail/label/{mailId}": {
      "post": {
        "summary": "GMAIL Label Assignment",
        "description": "Assign a label to a mail\n\nGmail is a free web-based email service provided by Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the mail to assign a label to"
          }
        ],
        "requestBody": {
          "description": "A list of unique IDs of labels to assign",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "label",
          "addLabelToMail"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "메일에 라벨링해줘"
        ]
      },
      "delete": {
        "summary": "Remove GMAIL labels",
        "description": "Remove labels assigned to mail\n\nGmail is a free web-based email service provided by Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "Unique ID of the mail from which to remove labels",
            "description": " Unique ID of the mail from which to remove labels."
          }
        ],
        "requestBody": {
          "description": "A list of unique IDs of labels to remove.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "label",
          "removeLabelFromMail"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "메일에 라벨 제거해줘"
        ]
      }
    },
    "/connector/gmail": {
      "delete": {
        "summary": "Delete multiple mails",
        "description": "Delete multiple mails\n\nGmail is a free web-based email service provided by Google.\nThis function requires special attention because it permanently deletes mail instead of moving it to the trash.\nMost users will want to delete mail that is already in the trash.\nTherefore, if the user wants to delete it, it is better to guide them to move the mail to the trash, but if they still want to delete it, it is right to target the trash.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IDeleteMailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "gmail",
          "deleteMailList"
        ],
        "x-samchon-controller": "GmailController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-function-select-benchmarks": [
          "메일 삭제해줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IGmail.ISendMailOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "The ID of the sent email",
            "description": "The ID of the sent email."
          }
        },
        "required": [
          "id"
        ],
        "title": "Mail transmission result"
      },
      "IGmail.ICreateMailInput": {
        "type": "object",
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Recipient's email address",
            "description": "The email address of the recipient."
          },
          "subject": {
            "type": "string",
            "title": "Email subject",
            "description": "Subject of the email to be sent."
          },
          "body": {
            "type": "string",
            "title": "Email body.</a>",
            "description": "The body of the email to be sent. It must be written in html. Otherwise, the body may not be displayed properly. Please apply the CSS format applicable to gmail. Please write the html length so that it is not too long. If it is too long, it may not be sent. If there is a link or url <a>, be sure to use the title attribute of the html tag to provide a link."
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Email address of the person to be referenced",
            "description": "Email address of the person to be referenced."
          },
          "Bcc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Bcc email address",
            "description": "Bcc email address."
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "title": "filename"
                },
                "fileUrl": {
                  "type": "string",
                  "format": "iri",
                  "title": "file uri"
                }
              },
              "required": [
                "filename",
                "fileUrl"
              ]
            },
            "title": "files"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "to",
          "subject",
          "body",
          "secretKey"
        ],
        "title": "Information required to send email"
      },
      "IGmail.IReplyInput": {
        "type": "object",
        "properties": {
          "replyText": {
            "type": "string",
            "title": "Phrase to reply",
            "description": "Phrase to reply."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "replyText",
          "secretKey"
        ],
        "title": "Information required to reply to email"
      },
      "IGmail.IFindGmailOutput": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Email id",
            "description": "Unique id of the email."
          },
          "labelIds": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "Email Label id",
            "description": "Label id assigned to the email."
          },
          "from": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Sender Email",
            "description": "The email address of the person who sent the email."
          },
          "subject": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Subject",
            "description": "The subject of the email."
          },
          "body": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Summary of the body",
            "description": "Summary of the body of the email."
          },
          "attachments": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGmail.IAttachmentOutput"
                }
              }
            ],
            "title": "Attachments",
            "description": "List of files attached to the email."
          }
        },
        "required": [],
        "title": "Email search results"
      },
      "IGmail.IAttachmentOutput": {
        "type": "object",
        "properties": {
          "partId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The immutable ID of the message part",
            "description": "The immutable ID of the message part."
          },
          "mimeType": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The MIME type of the message part",
            "description": "The MIME type of the message."
          },
          "filename": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Attachment name",
            "description": "This message part will only be displayed if it indicates an attachment."
          },
          "headers": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGmail.IAttachmentHeader"
                }
              }
            ],
            "title": "Attachment header information",
            "description": "The top-level message portion, which represents the entire message payload, contains standard RFC 2822 email headers such as To, From, and Subject."
          },
          "body": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGmail.IAttachmentBody"
              }
            ],
            "title": "Attachment header body information",
            "description": "The body of the message part of this section, which may be empty for container MIME message parts."
          }
        },
        "required": [],
        "title": "Attachment file information"
      },
      "IGmail.IAttachmentHeader": {
        "type": "object",
        "properties": {
          "name": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Attachment header type",
            "description": "Attachment header type."
          },
          "value": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Attachment header value",
            "description": "Attachment header value."
          }
        },
        "required": [],
        "title": "Attachment file header information"
      },
      "IGmail.IAttachmentBody": {
        "type": "object",
        "properties": {
          "attachmentId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Attachment file id",
            "description": "The unique ID of the attached file."
          },
          "size": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ],
            "title": "The number of bytes in the attachment data",
            "description": "The number of bytes in the attachment data."
          }
        },
        "required": [],
        "title": "Attached file body information"
      },
      "IGmail.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Authentication Information"
      },
      "IGmail.IFindGmailListOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
            },
            "title": "gmail search data information",
            "description": "Searched gmail data information."
          }
        },
        "required": [
          "data"
        ],
        "title": "Email list search results"
      },
      "IGmail.IFindEmailListInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "title": "The email of the sender",
            "description": "The email address of the sender of the email."
          },
          "to": {
            "type": "string",
            "title": "The email address of the recipient",
            "description": "The email address of the recipient."
          },
          "subject": {
            "type": "string",
            "title": "Email Subject",
            "description": "Email Subject."
          },
          "after": {
            "type": "string",
            "title": "After a specific date",
            "description": "Returns only emails after a given date."
          },
          "before": {
            "type": "string",
            "title": "Before a specific date",
            "description": "Returns only emails before a given date."
          },
          "label": {
            "type": "string",
            "title": "Label assigned to the email",
            "description": "Label assigned to the email."
          },
          "maxResults": {
            "type": "number",
            "maximum": 500,
            "minimum": 1,
            "title": "Maximum number of returned mails",
            "description": "Number of returned mails."
          },
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "A list of labels to filter by",
            "description": "A list of labels to return only emails with labels that all match the specified label ID."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Information needed to search email lists"
      },
      "IGmail.ILabelOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Generated label id",
            "description": "The id of the generated label."
          }
        },
        "required": [
          "id"
        ],
        "title": "Label Creation Result"
      },
      "IGmail.ILabelInput": {
        "type": "object",
        "properties": {
          "labelName": {
            "type": "string",
            "title": "Label name",
            "description": "The name of the label to create."
          },
          "labelListVisibility": {
            "oneOf": [
              {
                "const": "labelHide"
              },
              {
                "const": "labelShow"
              },
              {
                "const": "labelShowIfUnread"
              }
            ],
            "title": "Visibility status of the label",
            "description": "Visibility status of the label to be created.\n\nHidden / Visible / Visible when unread\n\n- labelHide: Hidden\n- labelShow: Visible\n- labelShowIfUnread: Visible when unread\n\nOnly three possible values are available: labelHide, labelShow, and labelShowIfUnread."
          },
          "messageListVisibility": {
            "oneOf": [
              {
                "const": "hide"
              },
              {
                "const": "show"
              }
            ],
            "title": "The visibility status of the labeled mail",
            "description": "The visibility status of the generated labeled mail.\n\nHidden / Visible\n\n- hide: hidden\n- show: visible\n\nThere are only two possible values: hide and show."
          },
          "color": {
            "$ref": "#/components/schemas/IGmail.ILabelColor",
            "title": "Label Color",
            "description": "Color of the mail label to be generated"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "labelName",
          "secretKey"
        ],
        "title": "Information required to create a label"
      },
      "IGmail.ILabelColor": {
        "type": "object",
        "properties": {
          "textColor": {
            "type": "string",
            "title": "Label text color",
            "description": "Label text color."
          },
          "backgroundColor": {
            "type": "string",
            "title": "Label background color",
            "description": "Label background color."
          }
        },
        "required": [
          "textColor",
          "backgroundColor"
        ],
        "title": "label color"
      },
      "IGmail.IMailLabelOperationInput": {
        "type": "object",
        "properties": {
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "A list of labels",
            "description": "A list of labels to assign or remove."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "labelIds",
          "secretKey"
        ],
        "title": "Information required to assign a label"
      },
      "IGmail.IDeleteMailListInput": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Email IDs to delete",
            "description": "Please select the emails to delete."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "ids",
          "secretKey"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Gmail"
    }
  ],
  "x-samchon-emended": true
}