{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 스토리지",
    "version": "0.1.86",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-docs": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 생성.",
        "description": "구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 docs 권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 권한 부여.",
        "description": "구글 docs에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "가져올 docs 파일",
            "description": "가져올 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 읽기.",
        "description": "구글 docs의 내용을 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "복사할 구글 docs 링크와 생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 복사.",
        "description": "이미 존재하는 구글 docs를 복사하여 새로운 구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 docs 파일",
            "description": "삭제할 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 docs 삭제.",
        "description": "구글 docs를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 목록 가져오기.",
        "description": "구글 docs 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 텍스트 추가.",
        "description": "구글 docs에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-sheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 URL과 가져올 헤더 index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 헤더 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 헤더 정보 가져오기.",
        "description": "구글 시트의 헤더 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 권한 부여.",
        "description": "구글 시트에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 url과 추가할 헤더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 헤더 추가.",
        "description": "구글 시트에 헤더를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크시트 목록을 가져올 구글 시트 url.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 워크시트 목록 가져오기.",
        "description": "구글 워크시트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 Row 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 Row 정보 가져오기.",
        "description": "구글 시트의 Row 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 폴더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 목록 가져오기.",
        "description": "구글 드라이브에 있는 폴더 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 파일 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 목록 가져오기.",
        "description": "구글 드라이브에 있는 파일 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 폴더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 폴더 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 생성.",
        "description": "구글 드라이브에 새로운 폴더를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 파일명과 파일을 생성할 폴더 고유 ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 파일 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 생성.",
        "description": "구글 드라이브에 새로운 파일을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 파일",
            "description": "삭제할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 삭제.",
        "description": "구글 드라이브에 있는 파일을 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 폴더",
            "description": "삭제할 폴더를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 폴더 삭제.",
        "description": "구글 드라이브에 있는 폴더를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 권한 부여.",
        "description": "파일 또는 폴더에 접근하기 위한 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}/text": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "텍스트를 추가할 파일",
            "description": "텍스트를 추가할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "추가할 텍스트.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IAppendTextGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 텍스트 추가.",
        "description": "파일에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "읽어올 파일",
            "description": "읽어올 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파일 텍스트 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IReadFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 텍스트 읽기.",
        "description": "파일에서 텍스트를 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/export/hanshow": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 변환할 프레젠테이션 아이디"
          }
        ],
        "requestBody": {
          "description": "인증 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "한쇼 파일을 다운로드 가능한 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportHanshowOutput"
                }
              }
            }
          }
        },
        "summary": "프레젠테이션을 한쇼 파일로 내보내기",
        "description": "구글 슬라이드 프레젠테이션을 한쇼 형식으로 내보내요!",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_slides.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/export/power-point": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 변환할 프레젠테이션 아이디"
          }
        ],
        "requestBody": {
          "description": "인증 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파워포인트 파일을 다운로드 가능한 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationOutput"
                }
              }
            }
          }
        },
        "summary": "프레젠테이션을 PPT 파일로 내보내기",
        "description": "구글 슬라이드 프레젠테이션을 파워포인트 형식으로 내보내요!\n\n이야기 또는 그림책을 생성할 때 사용될 수 있는 커넥터입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_slides.svg"
      }
    },
    "/connector/google-slides/get-presentations": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [],
        "requestBody": {
          "description": "프레젠테이션을 조회하기 위한 조건 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IGetPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회된 프레젠테이션 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "summary": "Google Slides 프레젠테이션 조회.",
        "description": "Google Slides 프레젠테이션을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_slides.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/image-slide": {
      "put": {
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 슬라이드를 추가할 프레젠테이션 id"
          }
        ],
        "requestBody": {
          "description": "추가할 템플릿",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "summary": "Google Slides 프레젠테이션에 이미지 및 텍스트 슬라이드를 추가합니다.",
        "description": "Google Slides 프레젠테이션에 슬라이드를 추가합니다.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/createPresentation 커넥터와 함께 사용해주세요.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/createPresentation 커넥터로 부터 생성된 프레젠테이션에 이 커넥터를 사용해서 생성된 이야기와 그림을 넣어주세요.\n\n이야기 또는 그림책을 생성할 때 해당 커넥터를 사용하지 않으면 빈 그림책이 될 수 있으니 조심해주세요.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_slides.svg"
      }
    },
    "/connector/google-slides/presentations": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [],
        "requestBody": {
          "description": "프레젠테이션을 만들기 위한 조건 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.ICreatePresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 프레젠테이션 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "summary": "Google Slides 프레젠테이션 생성.",
        "description": "Google Slides 프레젠테이션을 생성합니다.\n\n이야기 또는 그림책을 생성할 때 사용될 수 있는 커넥터입니다.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/appendImageSlide 커넥터와 함께 사용해주세요.\n\n이야기 또는 그림책을 생성할 때 이 커넥터로 새로운 프레젠테이션을 생성하고 connector/google-slides/appendImageSlide 커넥터를 사용해서 생성된 이야기와 그림을 슬라이드에 넣어주세요.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/appendImageSlide 커넥터와 같이 사용하지 않으면 빈 그림책이 될 수 있으니 조심해주세요.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_slides.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleDocs.ICreateGoogleDocsInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "구글 docs 제목.",
            "description": "생성할 docs의 제목입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "title",
          "secretKey"
        ],
        "title": "구글 docs 생성에 필요한 정보"
      },
      "IGoogleDocs.ICreateGoogleDocsOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 docs id.",
            "description": "생성된 docs의 id입니다."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 docs 생성 결과"
      },
      "IGoogleDocs.IPermissionGoogleDocsInput": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-docs/get-list",
              "jmesPath": "data[].{value:id, label:title}"
            },
            "title": "구글 docs id.",
            "description": "접근 권한을 부여할 구글 docs의 id입니다."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPermission"
            },
            "title": "접근 가능하게 할 이메일과 부여할 권한 리스트.",
            "description": "접근 가능하게 할 이메일과 부여할 권한 리스트입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "documentId",
          "permissions",
          "secretKey"
        ],
        "title": "구글 docs 권한 부여에 필요한 정보"
      },
      "IPermission": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "권한을 부여할 사용자의 이메일.",
            "description": "권한을 부여할 사용자의 이메일입니다."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              },
              {
                "const": "organizer"
              },
              {
                "const": "fileOrganizer"
              }
            ],
            "title": "부여할 권한.",
            "description": "부여할 권한의 종류입니다.\n\nowner: 소유자 권한을 부여합니다. 이 권한을 가진 사용자는 파일이나 폴더를 삭제하거나 다른 사용자에게 권한을 부여할 수 있습니다.\norganizer: 드라이브에 대한 운영자 권한을 부여합니다. 이 권한을 가진 사용자는 드라이브의 구성을 관리할 수 있습니다.\nfileOrganizer: 드라이브의 파일에 대한 운영자 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 추가하거나 삭제할 수 있습니다.\nwriter: 쓰기 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 수정하거나 삭제할 수 있습니다.\ncommenter: 댓글 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 읽고 댓글을 달 수 있습니다.\nreader: 읽기 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 읽을 수 있습니다.\n\n가능한 값으로는 \"owner\", \"writer\", \"commenter\", \"reader\", \"organizer\", \"fileOrganizer\" 6가지만 가능합니다."
          },
          "type": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "group"
              },
              {
                "const": "domain"
              },
              {
                "const": "anyone"
              }
            ],
            "title": "부여할 권한의 타입.",
            "description": "부여할 권한의 타입입니다.\n\n user - 특정 사용자, 이 경우 emailAddress 필드에 권한을 부여할 사용자의 이메일 주소를 지정해야 합니다.\ngroup - 특정 그룹, 이 경우 emailAddress 필드에 권한을 부여할 그룹의 이메일 주소를 지정해야 합니다.\ndomain - 특정 도메인, 이 경우 domain 필드에 권한을 부여할 도메인을 지정해야 합니다.\nanyone - 모든 사용자\n\n가능한 값으로는 \"user\", \"group\", \"domain\", \"anyone\" 4가지만 가능합니다."
          }
        },
        "required": [
          "email",
          "role",
          "type"
        ],
        "title": "권한 부여 정보"
      },
      "IGoogleDocs.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "인증 정보"
      },
      "IGoogleDocs.IReadGoogleDocsOutput": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/IGoogleDocs",
            "title": "구글 docs 데이터.",
            "description": "읽어온 구글 docs의 데이터입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 docs 조회 결과"
      },
      "IGoogleDocs": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "text 정보.",
            "description": "구글 docs의 text 정보입니다."
          },
          "table": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "title": "테이블 정보.",
            "description": "구글 docs의 테이블 정보입니다."
          }
        }
      },
      "IGoogleDocs.ICreateDocByTemplateInput": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-docs/get-list",
              "jmesPath": "data[].{value:id, label:title}"
            },
            "title": "복제할 구글 docs.",
            "description": "복제할 구글 docs."
          },
          "title": {
            "type": "string",
            "title": "생성할 docs 제목.",
            "description": "복제하여 새로 생성할 docs의 제목입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "templateId",
          "title",
          "secretKey"
        ],
        "title": "구글 docs 복제에 필요한 정보"
      },
      "IGoogleDocs.ICreateDocByTemplateOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 docs id.",
            "description": "복사된 docs의 id입니다."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 docs 복제 결과"
      },
      "IGoogleDocs.IListGoogleDocsOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 docs id.",
                  "description": "가져온 구글 docs의 id입니다."
                },
                "title": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 docs title.",
                  "description": "가져온 구글 docs의 제목입니다."
                }
              }
            },
            "title": "구글 docs 리스트.",
            "description": "검색된 구글 docs 리스트입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 docs 리스트 조회 결과"
      },
      "IGoogleDocs.IAppendTextGoogleDocsInput": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-docs/get-list",
              "jmesPath": "data[].{value:id, label:title}"
            },
            "title": "구글 docs.",
            "description": "텍스트를 추가할 구글 docs를 선택합니다."
          },
          "text": {
            "type": "string",
            "title": "텍스트.",
            "description": "추가할 텍스트입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "documentId",
          "text",
          "secretKey"
        ],
        "title": "구글 docs 텍스트 추가에 필요한 정보"
      },
      "IGoogleSheet.IReadGoogleSheetHeadersInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "헤더 정보를 읽어올 시트의 url 주소입니다."
          },
          "index": {
            "type": "number",
            "title": "시트 헤더 index.",
            "description": "읽어올 시트의 헤더 index입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "secretKey"
        ],
        "title": "구글 시트 헤더 읽기에 필요한 정보"
      },
      "IGoogleSheet.IReadGoogleSheetOutput": {
        "type": "object",
        "properties": {
          "data": {
            "title": "시트 데이터.",
            "description": "읽어온 시트의 데이터입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 시트 읽기 결과"
      },
      "IGoogleSheet.IPermissionInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "title": "시트 url.",
            "description": "권한을 부여할 시트의 url 입니다."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPermission.o1"
            },
            "title": "접근 가능하게 할 이메일과 부여할 권한 리스트.",
            "description": "접근 가능하게 할 이메일과 부여할 권한 리스트 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "permissions",
          "secretKey"
        ],
        "title": "구글 시트 권한 부여에 필요한 정보"
      },
      "IPermission.o1": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "권한을 부여할 사용자의 이메일.",
            "description": "권한을 부여할 사용자의 이메일입니다."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              }
            ],
            "title": "부여할 권한.",
            "description": "부여할 권한의 종류입니다.\n\nowner: 소유자 권한을 부여합니다. 이 권한을 가진 사용자는 파일이나 폴더를 삭제하거나 다른 사용자에게 권한을 부여할 수 있습니다.\nwriter: 쓰기 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 수정하거나 삭제할 수 있습니다.\ncommenter: 댓글 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 읽고 댓글을 달 수 있습니다.\nreader: 읽기 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 읽을 수 있습니다.\n\n가능한 값으로는 \"owner\", \"writer\", \"commenter\", \"reader\" 4가지만 가능합니다."
          }
        },
        "required": [
          "email",
          "role"
        ],
        "title": "권한 정보"
      },
      "IGoogleSheet.IWriteGoogleSheetHeadersInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "헤더를 추가할 시트의 url 입니다."
          },
          "index": {
            "type": "number",
            "title": "시트 index.",
            "description": "추가할 헤더의 index 입니다."
          },
          "headerNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "시트에 추가할 헤더 리스트.",
            "description": "시트에 추가할 헤더 리스트 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "headerNames",
          "secretKey"
        ],
        "title": "구글 시트 헤더 추가에 필요한 정보"
      },
      "IGoogleSheet.IGetWorkSheetInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "읽어올 시트의 url 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "secretKey"
        ],
        "title": "워크시트 조회에 필요한 정보"
      },
      "IGoogleSheet.IGetWorkSheetOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "워크시트 제목 리스트.",
            "description": "읽어온 시트의 제목 리스트 입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "워크시트 조회 결과"
      },
      "IGoogleSheet.IReadGoogleSheetRowsInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "행을 읽어올 시트의 url 입니다."
          },
          "workSheetTitle": {
            "type": "string",
            "title": "작업할 시트 제목.",
            "description": "작업할 시트의 제목입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "workSheetTitle",
          "secretKey"
        ],
        "title": "구글 시트 행 읽기에 필요한 정보"
      },
      "IGoogleSheet.IReadGoogleSheetRowsOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowData"
            },
            "title": "읽어온 구글 시트 행 데이터.",
            "description": "읽어온 구글 시트 행 데이터입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 시트 행 읽기 결과"
      },
      "IGoogleSheet.IReadGoogleSheetRowData": {
        "type": "object",
        "properties": {},
        "title": "구글 시트 행 데이터 정보",
        "additionalProperties": {}
      },
      "IGoogleDrive.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "인증 정보"
      },
      "IGoogleDrive.IFolderListGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive folder id.",
                  "description": "구글 drive folder의 id."
                },
                "name": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive folder name.",
                  "description": "구글 drive 폴더 명."
                }
              }
            },
            "title": "구글 drive folder 데이터.",
            "description": "구글 drive에 있는 folder 데이터 리스트."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 drive에 있는 폴더 리스트 정보"
      },
      "IGoogleDrive.IFileListGoogleDriveInput": {
        "type": "object",
        "properties": {
          "folderId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/folders",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "구글 drive 폴더.",
            "description": "파일을 불러 올 폴더."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "구글 drive에 있는 파일 리스트를 불러오기 위한 정보"
      },
      "IGoogleDrive.IFileListGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive file id.",
                  "description": "구글 drive file의 id."
                },
                "name": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive file name.",
                  "description": "구글 drive file의 이름."
                }
              }
            },
            "title": "구글 drive file 데이터.",
            "description": "구글 drive에 있는 file 데이터 리스트."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 drive에 있는 파일 리스트 정보"
      },
      "IGoogleDrive.ICreateFolderGoogleDriveInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "구글 drive 폴더명.",
            "description": "생성할 drive 폴더명."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "secretKey"
        ],
        "title": "구글 drive 폴더 생성에 필요한 정보"
      },
      "IGoogleDrive.ICreateFolderGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 drive id.",
            "description": "생성된 drive 폴더 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 drive 폴더 생성 결과"
      },
      "IGoogleDrive.ICreateFileGoogleDriveInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "구글 drive file명.",
            "description": "drive에 생성할 파일명."
          },
          "folderIds": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value:id, label:name}"
              }
            },
            "minItems": 1,
            "title": "구글 drive folder ids.",
            "description": "drive에 생성할 파일이 속할 폴더 id 리스트."
          },
          "content": {
            "type": "string",
            "title": "구글 drive file content.",
            "description": "drive에 생성할 파일의 내용."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "folderIds",
          "content",
          "secretKey"
        ],
        "title": "구글 drive에 파일 생성에 필요한 정보"
      },
      "IGoogleDrive.ICreateFileGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 drive file id.",
            "description": "생성된 drive 파일 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 drive에 파일 생성 결과"
      },
      "IGoogleDrive.IPermissionGoogleDriveInput": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/files",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "구글 drive file id.",
            "description": "접근 권한을 부여할 drive 파일 id."
          },
          "folderId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/folders",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "구글 drive folder id.",
            "description": "접근 권한을 부여할 drive 폴더 id."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleDrive.IPermission"
            },
            "title": "접근 가능하게 할 이메일과 부여할 권한 리스트.",
            "description": "접근 가능하게 할 이메일과 부여할 권한 리스트 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "permissions",
          "secretKey"
        ],
        "title": "구글 drive 접근 권한에 필요한 정보"
      },
      "IGoogleDrive.IPermission": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "권한을 부여할 사용자의 이메일.",
            "description": "구글 drive 접근 권한을 부여할 사용자의 이메일 주소입니다."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              },
              {
                "const": "organizer"
              },
              {
                "const": "fileOrganizer"
              }
            ],
            "title": "부여할 권한.",
            "description": "부여할 권한의 종류입니다.\n\nowner: 소유자 권한을 부여합니다. 이 권한을 가진 사용자는 파일이나 폴더를 삭제하거나 다른 사용자에게 권한을 부여할 수 있습니다.\norganizer: 드라이브에 대한 운영자 권한을 부여합니다. 이 권한을 가진 사용자는 드라이브의 구성을 관리할 수 있습니다.\nfileOrganizer: 드라이브의 파일에 대한 운영자 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 추가하거나 삭제할 수 있습니다.\nwriter: 쓰기 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 수정하거나 삭제할 수 있습니다.\ncommenter: 댓글 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 읽고 댓글을 달 수 있습니다.\nreader: 읽기 권한을 부여합니다. 이 권한을 가진 사용자는 파일을 읽을 수 있습니다.\n\n가능한 값으로는 \"owner\", \"organizer\", \"fileOrganizer\", \"writer\", \"commenter\", \"reader\" 6가지만 가능합니다."
          },
          "type": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "group"
              },
              {
                "const": "domain"
              },
              {
                "const": "anyone"
              }
            ],
            "title": "부여할 권한의 타입.",
            "description": "부여할 권한의 타입입니다.\n\nuser - 특정 사용자, 이 경우 emailAddress 필드에 권한을 부여할 사용자의 이메일 주소를 지정해야 합니다.\ngroup - 특정 그룹, 이 경우 emailAddress 필드에 권한을 부여할 그룹의 이메일 주소를 지정해야 합니다.\ndomain - 특정 도메인, 이 경우 domain 필드에 권한을 부여할 도메인을 지정해야 합니다.\nanyone - 모든 사용자\n\n가능한 값으로는 \"user\", \"group\", \"domain\", \"anyone\" 4가지만 가능합니다."
          }
        },
        "required": [
          "email",
          "role",
          "type"
        ],
        "title": "접근 권한 정보"
      },
      "IGoogleDrive.IAppendTextGoogleDriveInput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "추가할 text.",
            "description": "drive 파일에 추가할 text."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "text",
          "secretKey"
        ],
        "title": "구글 drive 파일 text 추가에 필요한 정보"
      },
      "IGoogleDrive.IReadFileGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "title": "구글 drive file data.",
            "description": "drive 파일에서 추출한 text 데이터."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 drive 파일 조회 결과"
      },
      "IGoogleSlides.IExportPresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "슬라이드를 pptx로 내보내는 조건"
      },
      "IGoogleSlides.IExportHanshowOutput": {
        "type": "object",
        "properties": {
          "hanshow": {
            "type": "string",
            "format": "uri",
            "title": "파일 다운로드 링크"
          }
        },
        "required": [
          "hanshow"
        ]
      },
      "IGoogleSlides.IExportPresentationOutput": {
        "type": "object",
        "properties": {
          "powerPoint": {
            "type": "string",
            "format": "uri",
            "title": "파일 다운로드 링크"
          }
        },
        "required": [
          "powerPoint"
        ]
      },
      "IGoogleSlides.IGetPresentationInput": {
        "type": "object",
        "properties": {
          "presentationId": {
            "type": "string",
            "title": "검색의 대상이 되는 프레젠테이션 ID."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "presentationId",
          "secretKey"
        ],
        "title": "프레젠테이션 검색을 위한 조건 DTO."
      },
      "IGoogleSlides.ISimplePresentationIdOutput": {
        "type": "object",
        "properties": {
          "presentationId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠네이션의 ID."
          },
          "pageSize": {
            "$ref": "#/components/schemas/IGoogleSlides.Size",
            "title": "프레젠테이션의 페이지 크기."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠테이션의 제목."
          }
        }
      },
      "IGoogleSlides.Size": {
        "type": "object",
        "properties": {
          "width": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "객체의 너비."
          },
          "height": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "객체의 높이."
          }
        }
      },
      "IGoogleSlides.Dimension": {
        "type": "object",
        "properties": {
          "magnitude": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "규모."
          },
          "unit": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ConstantUNIT_UNSPECIFIED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantEMU__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPT__type"
              }
            ],
            "title": "크기 단위."
          }
        }
      },
      "ConstantUNIT_UNSPECIFIED__type": {
        "const": "UNIT_UNSPECIFIED",
        "title": "알 수 없는 단위"
      },
      "ConstantEMU__type": {
        "const": "EMU",
        "title": "영국식 단위 (EMU)",
        "description": "는 1센티미터의 1/360,000으로 정의되므로 인치당 914,400 EMU 및 포인트당 12,700 EMU가 있습니다."
      },
      "ConstantPT__type": {
        "const": "PT",
        "title": "포인트",
        "description": "1/72인치입니다."
      },
      "IGoogleSlides.AppendSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Vertical"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Square"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Landscape"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Entire"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "Vertical": "#/components/schemas/IGoogleSlides.Template.Vertical",
                  "Square": "#/components/schemas/IGoogleSlides.Template.Square",
                  "Landscape": "#/components/schemas/IGoogleSlides.Template.Landscape",
                  "Entire": "#/components/schemas/IGoogleSlides.Template.Entire",
                  "QuarterDivision": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              }
            },
            "title": "한 번에 생성하고자 하는 템플릿의 목록.",
            "description": "이야기 또는 그림책을 생성할 때는 정방형으로만 사용해주세요."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ],
        "title": "슬라이드를 붙이기 위한 요청 DTO."
      },
      "IGoogleSlides.Template.Vertical": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Vertical",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "세로형"
      },
      "IGoogleSlides.InsertText": {
        "type": "object",
        "properties": {
          "text": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "추가할 텍스트"
          },
          "objectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "아이디"
          }
        }
      },
      "IGoogleSlides.Template.Square": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Square",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "정방형",
        "description": "이야기 또는 그림책을 생성할 때는 정방형으로만 사용해주세요."
      },
      "IGoogleSlides.Template.Landscape": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Landscape",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "가로형"
      },
      "IGoogleSlides.Template.Entire": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Entire",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "전체보기 가로형(16:9)"
      },
      "IGoogleSlides.Template.QuarterDivision": {
        "type": "object",
        "properties": {
          "type": {
            "const": "QuarterDivision",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "array",
            "prefixItems": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              }
            ],
            "additionalItems": false,
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "4분할 정방형 (컷 만화형)"
      },
      "IGoogleSlides.ICreatePresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠테이션의 제목."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Google Slides의 프레젠테이션을 생성하기 위한 요청 DTO."
      }
    }
  },
  "tags": [
    {
      "name": "Google-Docs"
    },
    {
      "name": "구글",
      "description": "닥스"
    },
    {
      "name": "문서",
      "description": "편집"
    },
    {
      "name": "협업"
    },
    {
      "name": "실시간",
      "description": "협업"
    },
    {
      "name": "클라우드",
      "description": "문서"
    },
    {
      "name": "텍스트",
      "description": "서식"
    },
    {
      "name": "파일",
      "description": "변환"
    },
    {
      "name": "워드파일",
      "description": "열기"
    },
    {
      "name": "PDF로",
      "description": "저장"
    },
    {
      "name": "이미지",
      "description": "삽입"
    },
    {
      "name": "차트",
      "description": "삽입"
    },
    {
      "name": "표",
      "description": "삽입"
    },
    {
      "name": "Google",
      "description": "Docs"
    },
    {
      "name": "Collaboration"
    },
    {
      "name": "Real-time",
      "description": "Collaboration"
    },
    {
      "name": "Share",
      "description": "Document"
    },
    {
      "name": "Cloud",
      "description": "Document"
    },
    {
      "name": "Save",
      "description": "Document"
    },
    {
      "name": "Document",
      "description": "Template"
    },
    {
      "name": "Text",
      "description": "Format"
    },
    {
      "name": "Download",
      "description": "Document"
    },
    {
      "name": "Upload",
      "description": "Document"
    },
    {
      "name": "Edit",
      "description": "Document"
    },
    {
      "name": "File",
      "description": "Conversion"
    },
    {
      "name": "Export",
      "description": "Document"
    },
    {
      "name": "Print",
      "description": "Document"
    },
    {
      "name": "Open",
      "description": "Word File"
    },
    {
      "name": "Search",
      "description": "in Document"
    },
    {
      "name": "Insert",
      "description": "Image"
    },
    {
      "name": "Google-Sheet"
    },
    {
      "name": "스프레드",
      "description": "시트"
    },
    {
      "name": "엑셀",
      "description": "파일"
    },
    {
      "name": "데이터",
      "description": "입력"
    },
    {
      "name": "함수",
      "description": "생성"
    },
    {
      "name": "셀",
      "description": "서식"
    },
    {
      "name": "피벗",
      "description": "테이블"
    },
    {
      "name": "조건부",
      "description": "서식"
    },
    {
      "name": "CSV",
      "description": "불러오기"
    },
    {
      "name": "통계",
      "description": "계산"
    },
    {
      "name": "매크로"
    },
    {
      "name": "자동화",
      "description": "스크립트"
    },
    {
      "name": "시트",
      "description": "복제"
    },
    {
      "name": "Spreadsheet"
    },
    {
      "name": "Excel",
      "description": "File"
    },
    {
      "name": "Enter",
      "description": "Data"
    },
    {
      "name": "Analyze",
      "description": "Data"
    },
    {
      "name": "Create",
      "description": "Chart"
    },
    {
      "name": "Cell",
      "description": "Format"
    },
    {
      "name": "Filter",
      "description": "Data"
    },
    {
      "name": "Pivot",
      "description": "Table"
    },
    {
      "name": "Visualize",
      "description": "Data"
    },
    {
      "name": "Conditional",
      "description": "Formatting"
    },
    {
      "name": "Import",
      "description": "File"
    },
    {
      "name": "Load",
      "description": "CSV"
    },
    {
      "name": "Sort",
      "description": "Data"
    },
    {
      "name": "Clean",
      "description": "Data"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Calculate",
      "description": "Statistics"
    },
    {
      "name": "Macro"
    },
    {
      "name": "Automation",
      "description": "Script"
    },
    {
      "name": "Duplicate",
      "description": "Sheet"
    },
    {
      "name": "Delete",
      "description": "Sheet"
    },
    {
      "name": "Rename",
      "description": "Sheet"
    },
    {
      "name": "Lock",
      "description": "Sheet"
    },
    {
      "name": "Extract",
      "description": "Data"
    },
    {
      "name": "Merge",
      "description": "Sheets"
    },
    {
      "name": "Add",
      "description": "Data"
    },
    {
      "name": "Manage",
      "description": "Data"
    },
    {
      "name": "Google-Drive"
    },
    {
      "name": "드라이브"
    },
    {
      "name": "저장"
    },
    {
      "name": "파일명",
      "description": "수정"
    },
    {
      "name": "폴더",
      "description": "추가"
    },
    {
      "name": "폴더명",
      "description": "수정"
    },
    {
      "name": "사진",
      "description": "저장"
    },
    {
      "name": "동영상",
      "description": "저장"
    },
    {
      "name": "자료",
      "description": "공유"
    },
    {
      "name": "설문",
      "description": "응답"
    },
    {
      "name": "팀",
      "description": "드라이브"
    },
    {
      "name": "Drive"
    },
    {
      "name": "Sync",
      "description": "File"
    },
    {
      "name": "Update",
      "description": "File"
    },
    {
      "name": "Collaborate",
      "description": "on Document"
    },
    {
      "name": "Set",
      "description": "File Permissions"
    },
    {
      "name": "Encrypt",
      "description": "File"
    },
    {
      "name": "Move",
      "description": "File"
    },
    {
      "name": "Resources"
    },
    {
      "name": "Survey",
      "description": "Responses"
    },
    {
      "name": "Team",
      "description": "Drive"
    },
    {
      "name": "구글 슬라이드"
    },
    {
      "name": "구글 드라이브"
    },
    {
      "name": "프레젠테이션"
    },
    {
      "name": "피피티"
    },
    {
      "name": "피티"
    },
    {
      "name": "슬라이드"
    },
    {
      "name": "슬라이드 디자인"
    },
    {
      "name": "프레젠테이션 만들기"
    },
    {
      "name": "슬라이드 템플릿"
    },
    {
      "name": "슬라이드 공유"
    },
    {
      "name": "이미지 삽입"
    },
    {
      "name": "동영상 삽입"
    },
    {
      "name": "슬라이드 애니메이션"
    },
    {
      "name": "슬라이드쇼"
    },
    {
      "name": "발표 준비"
    },
    {
      "name": "발표 자료"
    },
    {
      "name": "슬라이드 내보내기"
    },
    {
      "name": "슬라이드 인쇄"
    },
    {
      "name": "슬라이드 전환"
    },
    {
      "name": "슬라이드 배경"
    },
    {
      "name": "슬라이드 텍스트"
    },
    {
      "name": "슬라이드 표"
    },
    {
      "name": "슬라이드 차트"
    },
    {
      "name": "슬라이드 그래프"
    },
    {
      "name": "슬라이드 복제"
    },
    {
      "name": "슬라이드 이동"
    },
    {
      "name": "슬라이드 삭제"
    },
    {
      "name": "맞춤법 검사"
    },
    {
      "name": "슬라이드 찾기"
    },
    {
      "name": "슬라이드 저장"
    },
    {
      "name": "프레젠테이션 준비"
    },
    {
      "name": "슬라이드 협업"
    },
    {
      "name": "슬라이드 제목"
    }
  ],
  "x-samchon-emended": true
}