{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "google-hotel",
    "version": "0.1.462",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-hotel": {
      "patch": {
        "summary": "Google Hotels Search",
        "description": "Search for accommodations using Google Hotels service\nOnly one keyword should be requested per request.\nFor example, if you need to enter Seoul and Tokyo as keywords, you should make two requests with one word, \"Seoul\" and \"Tokyo\", not \"Seoul, Tokyo\".",
        "tags": [
          "Google Hotel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google Hotels search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleHotel.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google Hotels Search Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleHotel.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_hotel",
          "search"
        ],
        "x-samchon-controller": "GoogleHotelController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/google_hotel.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "호텔 좀 찾아줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleHotel.IResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Accommodation Name",
            "description": "Accommodation Name"
          },
          "description": {
            "type": "string",
            "title": "Property Description",
            "description": "Property Description"
          },
          "link": {
            "type": "string",
            "title": "Accommodation Link",
            "description": "Accommodation Link"
          },
          "check_in_time": {
            "type": "string",
            "title": "Check-in time",
            "description": "Accommodation check-in time"
          },
          "check_out_time": {
            "type": "string",
            "title": "Check-out Time",
            "description": "Accommodation Check-out Time"
          },
          "price": {
            "type": "string",
            "title": "Accommodation prices",
            "description": "Accommodation prices"
          },
          "nearby_place": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleHotel.INearbyPlace"
            },
            "title": "Facilities around the property",
            "description": "Facilities around the property"
          },
          "hotel_class": {
            "type": "string",
            "title": "Accommodation rating",
            "description": "Accommodation rating"
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "iri",
              "contentMediaType": "image/*"
            },
            "title": "thumbnail",
            "description": "Accommodation thumbnail image"
          },
          "rating": {
            "type": "string",
            "title": "rating",
            "description": "Accommodation rating"
          },
          "review_count": {
            "type": "string",
            "title": "Number of reviews",
            "description": "Number of reviews"
          },
          "amenities": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "Amenities",
            "description": "Amenities provided by the property"
          },
          "excluded_amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Amenities not provided",
            "description": "Amenities not provided by the property"
          }
        },
        "required": [
          "name",
          "price",
          "thumbnails",
          "amenities"
        ],
        "title": "Accommodation search results"
      },
      "IGoogleHotel.INearbyPlace": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Surrounding facility name",
            "description": "Surrounding facility name"
          },
          "transportations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "title": "Types of Transportation",
                  "description": "Types of Transportation"
                },
                "duration": {
                  "type": "string",
                  "title": "Time required",
                  "description": "Time required to reach surrounding facilities"
                }
              },
              "required": [
                "type",
                "duration"
              ]
            },
            "title": "Transportation",
            "description": "Transportation to nearby facilities"
          }
        },
        "required": [
          "name"
        ],
        "title": "Surrounding facilities"
      },
      "IGoogleHotel.IRequest": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Search term",
            "description": "Enter the keyword you want to search for."
          },
          "check_in_date": {
            "type": "string",
            "format": "date",
            "title": "Check-in date",
            "description": "Set your check-in date.\n\nPlease enter a date after today's date."
          },
          "check_out_date": {
            "type": "string",
            "format": "date",
            "title": "Checkout Date",
            "description": "Set a checkout date.\n\nPlease enter a date after today's date."
          },
          "adults": {
            "type": "integer",
            "default": 2,
            "title": "Number of adults",
            "description": "Set the number of adults staying. The default is 2."
          },
          "children": {
            "type": "integer",
            "default": 0,
            "title": "Number of children",
            "description": "Set the number of children staying. The default is 0."
          },
          "sort_by": {
            "oneOf": [
              {
                "const": "3"
              },
              {
                "const": "8"
              },
              {
                "const": "13"
              }
            ],
            "title": "Sort criteria",
            "description": "Please select the desired sort criteria.\n\nOnly 3, 8, and 13 are possible values."
          },
          "min_price": {
            "type": "integer",
            "title": "Minimum price",
            "description": "Please set the minimum price for the price range."
          },
          "max_price": {
            "type": "integer",
            "title": "Maximum price",
            "description": "Please set the maximum price for the price range."
          },
          "rating": {
            "oneOf": [
              {
                "const": "7"
              },
              {
                "const": "8"
              },
              {
                "const": "9"
              }
            ],
            "title": "Rating",
            "description": "Search only properties with a selected rating or higher.\n\nOnly possible values are 7, 8, and 9."
          },
          "type": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "12"
                },
                {
                  "const": "13"
                },
                {
                  "const": "14"
                },
                {
                  "const": "15"
                },
                {
                  "const": "16"
                },
                {
                  "const": "17"
                },
                {
                  "const": "18"
                },
                {
                  "const": "19"
                },
                {
                  "const": "20"
                },
                {
                  "const": "21"
                },
                {
                  "const": "22"
                },
                {
                  "const": "23"
                },
                {
                  "const": "24"
                }
              ]
            },
            "title": "Accommodation type",
            "description": "Please select the accommodation type.\n\nOnly 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24 are possible values."
          },
          "hotel_class": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "1"
                },
                {
                  "const": "2"
                },
                {
                  "const": "3"
                },
                {
                  "const": "4"
                },
                {
                  "const": "5"
                }
              ]
            },
            "title": "Accommodation class",
            "description": "Please select your accommodation class.'\n\nOnly 1, 2, 3, 4, 5 are possible values."
          },
          "free_cancellation": {
            "type": "boolean",
            "title": "Is free cancellation possible?",
            "description": "Search only properties with free cancellation."
          },
          "max_results": {
            "type": "integer",
            "title": "Number of search results",
            "description": "Set the number of search results."
          }
        },
        "required": [
          "keyword",
          "check_in_date",
          "check_out_date",
          "max_results"
        ],
        "title": "Accommodation search criteria"
      }
    }
  },
  "tags": [
    {
      "name": "Google Hotel"
    }
  ],
  "x-samchon-emended": true
}