{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 프레젠테이션 제작",
    "summary": "구글 프레젠테이션을 쉽게 만들고 꾸밀 수 있어요.",
    "description": "구글 슬라이드로 프레젠테이션을 만들고, 페이지를 추가하거나 수정할 수 있어요. 텍스트, 이미지, 도형을 추가하고 다양한 효과를 설정할 수 있어요. 슬라이드 전환 효과를 적용하고, 개체의 순서를 조정할 수 있어요. 슬라이드 노트를 작성하여 발표 준비를 할 수 있고, 프레젠테이션의 메타데이터를 수정할 수 있어요. 팀원들과 실시간으로 협업하며 프레젠테이션을 만들 수 있고, 완성된 프레젠테이션을 PDF로 내보낼 수도 있어요.",
    "version": "0.1.325",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-slides/presentations/{id}/export/hanshow": {
      "post": {
        "summary": "Export presentations to Hanshow files",
        "description": "Export Google Slides presentations to Hanshow format",
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation ID to convert"
          }
        ],
        "requestBody": {
          "description": "Authentication information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link to download Hanshow files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportHanshowOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/export/power-point": {
      "post": {
        "summary": "Export presentations to PPT files",
        "description": "Export Google Slides presentations to PowerPoint format\n\nA connector that can be used when creating stories or picture books.",
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation ID to convert"
          }
        ],
        "requestBody": {
          "description": "Authentication information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link to download PowerPoint files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/get-presentations": {
      "post": {
        "summary": "Retrieve a Google Slides presentation",
        "description": "Retrieve a Google Slides presentation",
        "tags": [
          "Google Slide"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Condition DTO for retrieving a presentation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IGetPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Retrieve presentation information DTO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/slides/quarter-divisions": {
      "put": {
        "summary": "Add \"QuarterDivision\" type image slides to a Google Slides presentation",
        "description": "Add \"QuarterDivision\" type slides to a Google Slides presentation\n\nThe \"QuarterDivision\" type slides are templates that are designed to place images and text in the upper left, upper right, lower left, and lower right, like a four-cut cartoon.\nFour images are required for this template, and the text is located right under each image.\n\nYou may need an image when the user asks you to add a slide.\nIn this case, rather than inserting any image, you should first secure the image using a search connector or an image creation connector.\nIt is safe to ask the user for consent to this process.",
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation id to add slides to"
          }
        ],
        "requestBody": {
          "description": "Template to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendQuarterDivisionSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/slides/entires": {
      "put": {
        "summary": "Add entire type image slides to a Google Slides presentation",
        "description": "Add \"Entire\" type slides to a Google Slides presentation\n\nThe \"Entire\" type of slide is a template that packs an image all over, and you can't put any extra text in it. Maybe it's usually suitable for putting a cover.\nBecause ordinary presentations have longer horizontal lengths, if you put a square image, gaps on the left and right can appear large.\n\nYou may need an image when the user asks you to add a slide.\nIn this case, rather than inserting any image, you should first secure the image using a search connector or an image creation connector.\nIt is safe to ask the user for consent to this process.",
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation id to add slides to"
          }
        ],
        "requestBody": {
          "description": "Template to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendEntireSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/slides/landscapes": {
      "put": {
        "summary": "Add \"Landscape\" type image slides to a Google Slides presentation",
        "description": "Add \"Landscape\" type slides to a Google Slides presentation\n\nThe \"Landscape\" type template fits text underneath with a longer horizontal image tightly packed like a background.\nIt is suitable when the image is highlighted and the text is short.\nIt is suitable for marking images and titles as if they were on display.\n\nYou may need an image when the user asks you to add a slide.\nIn this case, rather than inserting any image, you should first secure the image using a search connector or an image creation connector.\nIt is safe to ask the user for consent to this process.",
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation id to add slides to"
          }
        ],
        "requestBody": {
          "description": "Template to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendLandscapeSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/slides/squares": {
      "put": {
        "summary": "Add \"Square\" type image slides to a Google Slides presentation",
        "description": "Add \"Square\" type slides to a Google Slides presentation\n\nThe \"Square\" type slides put square images and text. In this case, you should put at least four to five lines of text, because there is so much space to put text.\nThe picture is on the left, and the text is on the right.\n\nYou may need an image when the user asks you to add a slide.\nIn this case, rather than inserting any image, you should first secure the image using a search connector or an image creation connector.\nIt is safe to ask the user for consent to this process.",
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation id to add slides to"
          }
        ],
        "requestBody": {
          "description": "Template to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendSquareSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/slides/verticals": {
      "put": {
        "summary": "Add \"Vertical\" type image slides to a Google Slides presentation",
        "description": "Add \"Vertical\" type slides to a Google Slides presentation\n\nThe \"Vertical\" type is like a square type slide, with an image on the left and text on the right.\nIn this case, unlike the square type, the image is filled to the height of the presentation while maintaining the proportion.\nThis also allows for enough text.\n\nYou may need an image when the user asks you to add a slide.\nIn this case, rather than inserting any image, you should first secure the image using a search connector or an image creation connector.\nIt is safe to ask the user for consent to this process.",
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation id to add slides to"
          }
        ],
        "requestBody": {
          "description": "Template to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendVerticalSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/image-slide": {
      "put": {
        "summary": "Add image and text slides to a Google Slides presentation",
        "description": "Add slides to a Google Slides presentation\n\nUse this connector with connector/google-slides/presentations when creating a story or picture book.\nWhen creating a story or picture book, insert the story and pictures created using this connector into the presentation created from connector/google-slides/presentations connector.\nBe careful not to use this connector when creating a story or picture book, as it may result in an empty picture book.\nSlide type must be one of: \"Vertical\", \"Square\", \"Landscape\", \"Entire\", \"QuarterDivision\".\nIt is common to choose a \"Square\" type when there is one image.\n\nYou may need an image when the user asks you to add a slide.\nIn this case, rather than inserting any image, you should first secure the image using a search connector or an image creation connector.\nIt is safe to ask the user for consent to this process.",
        "deprecated": true,
        "tags": [
          "Google Slide"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation id to add slides to"
          }
        ],
        "requestBody": {
          "description": "Template to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations": {
      "post": {
        "summary": "Create a Google Slides presentation",
        "description": "Create a Google Slides presentation\n\nThis connector can be used when creating a story or picture book.\nPlease use it with the connector/google-slides/image-slide connector when creating a story or picture book.\nWhen creating a story or picture book, create a new presentation with this connector and insert the created story and picture into the slide using other connector.\nThis creates a blank presentation file, which is basically created with the first slide with no text.",
        "tags": [
          "Google Slide"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Condition DTO for creating a presentation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.ICreatePresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Generated presentation information DTO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "summary": "Get a list of Google Drive folders",
        "description": "Get a list of folders in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A list of Google Drive folders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "summary": "Get a list of Google Drive files",
        "description": "Get a list of files in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A list of Google Drive files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "summary": "Create a Google Drive folder",
        "description": "Create a new folder in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The name of the folder to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The unique ID of the created folder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "summary": "Create a Google Drive file",
        "description": "Create a new file in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The name of the file to be created and the unique ID of the folder where the file will be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IUploadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The unique ID of the created file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "summary": "Delete a Google Drive file",
        "description": "Delete a file in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the file to be deleted"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "summary": "Delete a Google Drive folder",
        "description": "Delete a folder in Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the folder to be deleted"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "summary": "Grant Google Drive permission",
        "description": "Grants permission to access a file or folder",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for granting permission",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "summary": "Read text from a Google Drive file",
        "description": "Read text from a file",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the file"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The text content of the file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IGetFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSlides.IExportHanshowOutput": {
        "type": "object",
        "properties": {
          "hanshow": {
            "type": "string",
            "format": "uri",
            "title": "File download link"
          }
        },
        "required": [
          "hanshow"
        ]
      },
      "IGoogleSlides.IExportPresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Conditions for exporting slides to pptx"
      },
      "IGoogleSlides.IExportPresentationOutput": {
        "type": "object",
        "properties": {
          "powerPoint": {
            "type": "string",
            "format": "uri",
            "title": "File download link"
          }
        },
        "required": [
          "powerPoint"
        ]
      },
      "IGoogleSlides.ISimplePresentationIdOutput": {
        "type": "object",
        "properties": {
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The title of the presentation"
          },
          "pageSize": {
            "$ref": "#/components/schemas/IGoogleSlides.Size",
            "title": "The page size of the presentation"
          },
          "presentationId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Presentation ID"
          }
        }
      },
      "IGoogleSlides.Size": {
        "type": "object",
        "properties": {
          "width": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "Width of the object"
          },
          "height": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "The height of the object"
          }
        }
      },
      "IGoogleSlides.Dimension": {
        "type": "object",
        "properties": {
          "magnitude": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "scale"
          },
          "unit": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "const": "UNIT_UNSPECIFIED",
                "title": "알 수 없는 단위"
              },
              {
                "const": "EMU",
                "title": "영국식 단위 (EMU)",
                "description": "는 1센티미터의 1/360,000으로 정의되므로 인치당 914,400 EMU 및 포인트당 12,700 EMU가 있습니다."
              },
              {
                "const": "PT",
                "title": "포인트",
                "description": "1/72인치입니다."
              }
            ],
            "title": "Size units"
          }
        }
      },
      "IGoogleSlides.IGetPresentationInput": {
        "type": "object",
        "properties": {
          "presentationId": {
            "type": "string",
            "title": "The presentation ID to search for"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "presentationId",
          "secretKey"
        ],
        "title": "Condition DTO for presentation search"
      },
      "IGoogleSlides.AppendQuarterDivisionSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIGoogleSlides.Template.QuarterDivisiontype"
            },
            "title": "templates",
            "description": "As a slide to add, this template arrangement consists of the same type of template.\nTemplates have unconditional text except for the Entire type, and the image and text are paired.\nWhen the user creates a storyline, the text may be concise, but if it means a fairy tale book, a cartoon, or a speech bubble,\nit is better to substitute a text of sufficient length to grasp the context of the story even if viewed again later."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ]
      },
      "StrictOmitIGoogleSlides.Template.QuarterDivisiontype": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "iri",
                  "title": "URL of the image",
                  "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
                },
                "text": {
                  "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                  "title": "Text corresponding to the image"
                }
              },
              "required": [
                "url",
                "text"
              ]
            },
            "minItems": 4,
            "maxItems": 4,
            "title": "Contents of the slide",
            "description": "Here, like a four-cut cartoon, four images and four texts must be put in, so the length of the arrangement must be 4.\nTherefore, you must prepare in advance by receiving or generating four images."
          }
        },
        "required": [
          "contents"
        ]
      },
      "IGoogleSlides.InsertText": {
        "type": "object",
        "properties": {
          "text": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "minLength": 1
              }
            ],
            "title": "Text to add"
          },
          "objectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "ID"
          }
        }
      },
      "IGoogleSlides.AppendEntireSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIGoogleSlides.Template.Entiretype"
            },
            "title": "templates",
            "description": "As a slide to add, this template arrangement consists of the same type of template.\nTemplates have unconditional text except for the Entire type, and the image and text are paired.\nWhen the user creates a storyline, the text may be concise, but if it means a fairy tale book, a cartoon, or a speech bubble,\nit is better to substitute a text of sufficient length to grasp the context of the story even if viewed again later."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ]
      },
      "StrictOmitIGoogleSlides.Template.Entiretype": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              }
            },
            "required": [
              "url"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "contents"
        ]
      },
      "IGoogleSlides.AppendLandscapeSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIGoogleSlides.Template.Landscapetype"
            },
            "title": "templates",
            "description": "As a slide to add, this template arrangement consists of the same type of template.\nTemplates have unconditional text except for the Entire type, and the image and text are paired.\nWhen the user creates a storyline, the text may be concise, but if it means a fairy tale book, a cartoon, or a speech bubble,\nit is better to substitute a text of sufficient length to grasp the context of the story even if viewed again later."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ]
      },
      "StrictOmitIGoogleSlides.Template.Landscapetype": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image"
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "contents"
        ]
      },
      "IGoogleSlides.AppendSquareSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIGoogleSlides.Template.Squaretype"
            },
            "title": "templates",
            "description": "As a slide to add, this template arrangement consists of the same type of template.\nTemplates have unconditional text except for the Entire type, and the image and text are paired.\nWhen the user creates a storyline, the text may be concise, but if it means a fairy tale book, a cartoon, or a speech bubble,\nit is better to substitute a text of sufficient length to grasp the context of the story even if viewed again later."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ]
      },
      "StrictOmitIGoogleSlides.Template.Squaretype": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image"
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "contents"
        ]
      },
      "IGoogleSlides.AppendVerticalSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIGoogleSlides.Template.Verticaltype"
            },
            "title": "templates",
            "description": "As a slide to add, this template arrangement consists of the same type of template.\nTemplates have unconditional text except for the Entire type, and the image and text are paired.\nWhen the user creates a storyline, the text may be concise, but if it means a fairy tale book, a cartoon, or a speech bubble,\nit is better to substitute a text of sufficient length to grasp the context of the story even if viewed again later."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ]
      },
      "StrictOmitIGoogleSlides.Template.Verticaltype": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image"
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "contents"
        ]
      },
      "IGoogleSlides.AppendSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Vertical"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Square"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Landscape"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Entire"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "Vertical": "#/components/schemas/IGoogleSlides.Template.Vertical",
                  "Square": "#/components/schemas/IGoogleSlides.Template.Square",
                  "Landscape": "#/components/schemas/IGoogleSlides.Template.Landscape",
                  "Entire": "#/components/schemas/IGoogleSlides.Template.Entire",
                  "QuarterDivision": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              }
            },
            "title": "A list of templates to create at once",
            "description": "When creating a story or picture book, please use only squares."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ],
        "title": "Request DTO for pasting slides"
      },
      "IGoogleSlides.Template.Vertical": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Vertical",
            "title": "The type of the template\n\ntype must be \"Vertical\""
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image"
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "vertical"
      },
      "IGoogleSlides.Template.Square": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Square",
            "title": "The type of the template\n\ntype must be \"Square\"."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image"
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "Square",
        "description": "When creating a story or picture book, please use only squares."
      },
      "IGoogleSlides.Template.Landscape": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Landscape",
            "title": "The type of the template\n\ntype must be \"Landscape\"."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image"
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "Horizontal"
      },
      "IGoogleSlides.Template.Entire": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Entire",
            "title": "The type of the template\n\ntype must be \"Entire\"."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "URL of the image",
                "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
              }
            },
            "required": [
              "url"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "View all Horizontal (16:9)"
      },
      "IGoogleSlides.Template.QuarterDivision": {
        "type": "object",
        "properties": {
          "type": {
            "const": "QuarterDivision",
            "title": "The type of the template\n\ntype must be \"QuarterDivision\"."
          },
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "iri",
                  "title": "URL of the image",
                  "description": "If there is a problem with the image, the message below may appear.\nYou must insert only existing images, and if the image is too small, you can spit out errors, so insert an image of the appropriate size or create it yourself to insert the image.\nThe first error below is when the image does not exist, and the second is when the size or format of the image is not valid. The image must be in jpg, jpeg, and png formats.\n\n1. The provided image was not found.\n2. There was a problem retrieving the image. The provided image should be publicly accessible, within size limit, and in supported formats."
                },
                "text": {
                  "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                  "title": "Text corresponding to the image"
                }
              },
              "required": [
                "url",
                "text"
              ]
            },
            "minItems": 4,
            "maxItems": 4,
            "title": "Contents of the slide",
            "description": "Here, like a four-cut cartoon, four images and four texts must be put in, so the length of the arrangement must be 4.\nTherefore, you must prepare in advance by receiving or generating four images."
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "4-part square (cut cartoon type)"
      },
      "IGoogleSlides.ICreatePresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The title of the presentation"
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Request DTO for generating a presentation in Google Slides"
      },
      "IGoogleDrive.IFolderListGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "Google drive folder id",
                  "description": "Google drive folder id."
                },
                "name": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "Google drive folder name",
                  "description": "Google drive folder name."
                }
              }
            },
            "title": "Google Drive Folder Data",
            "description": "List of folder data in Google Drive."
          }
        },
        "required": [
          "data"
        ],
        "title": "Folder list information in Google Drive"
      },
      "IGoogleDrive.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Authentication Information"
      },
      "IGoogleDrive.IFileListGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "Google drive file id",
                  "description": "Google drive file id."
                },
                "name": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "Google drive file name",
                  "description": "The name of the Google drive file."
                },
                "webContentLink": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string",
                      "format": "iri"
                    }
                  ],
                  "title": "webContentLink"
                }
              }
            },
            "title": "Google Drive File Data",
            "description": "List of file data in Google Drive."
          }
        },
        "required": [
          "data"
        ],
        "title": "File list information in Google Drive"
      },
      "IGoogleDrive.IFileListGoogleDriveInput": {
        "type": "object",
        "properties": {
          "folderId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/folders",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "Google Drive Folder",
            "description": "Folder to load files from"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Information for loading a list of files in Google Drive"
      },
      "IGoogleDrive.ICreateFolderGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Generated drive id",
            "description": "Generated drive folder id."
          }
        },
        "required": [
          "id"
        ],
        "title": "Google Drive Folder Creation Results"
      },
      "IGoogleDrive.ICreateFolderGoogleDriveInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Google drive folder name",
            "description": "Drive folder name to be created."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "secretKey"
        ],
        "title": "Information required to create a Google Drive folder"
      },
      "IGoogleDrive.ICreateFileGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Generated drive file id",
            "description": "Generated drive file id."
          }
        },
        "required": [
          "id"
        ],
        "title": "Result of creating a file in Google Drive"
      },
      "IGoogleDrive.IUploadFileInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Google drive file name",
            "description": "File name to be created in drive."
          },
          "folderIds": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value:id, label:name}"
              }
            },
            "minItems": 1,
            "title": "Google drive folder ids",
            "description": "A list of folder ids that will contain the files to be created in the drive."
          },
          "fileUrl": {
            "type": "string",
            "format": "iri",
            "title": "fileToUpload"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "folderIds",
          "fileUrl",
          "secretKey"
        ],
        "title": "Information required to create a file in Google Drive"
      },
      "IGoogleDrive.IPermissionGoogleDriveInput": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/files",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "Google drive file id",
            "description": "The drive file id to grant access to."
          },
          "folderId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/folders",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "Google drive folder id",
            "description": "Drive folder id to grant access to."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleDrive.IPermission"
            },
            "title": "Here is a list of emails to make accessible and permissions to grant",
            "description": "Here is a list of emails to make accessible and permissions to grant."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "permissions",
          "secretKey"
        ],
        "title": "Information required for Google Drive access permission"
      },
      "IGoogleDrive.IPermission": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "The email address of the user to whom you wish to grant access",
            "description": "The email address of the user to whom you wish to grant access to Google Drive.\nRequired only when the type is a user type."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              },
              {
                "const": "organizer"
              },
              {
                "const": "fileOrganizer"
              }
            ],
            "title": "The permission to grant",
            "description": "The type of permission to grant.\n\nowner: Grants owner permissions. Users with this permission can delete files or folders or grant permissions to other users.\norganizer: Grants operator permissions for the drive. Users with this permission can manage the organization of the drive.\nfileOrganizer: Grants operator permissions for files on the drive. Users with this permission can add or delete files.\nwriter: Grants write permissions. Users with this permission can modify or delete files.\ncommenter: Grants comment permissions. Users with this permission can read and comment on files.\nreader: Grants read permissions. Users with this permission can read files.\n\nThere are only six possible values: \"owner\", \"organizer\", \"fileOrganizer\", \"writer\", \"commenter\", \"reader\"."
          },
          "type": {
            "oneOf": [
              {
                "const": "group"
              },
              {
                "const": "user"
              },
              {
                "const": "domain"
              },
              {
                "const": "anyone"
              }
            ],
            "title": "The type of permission to grant",
            "description": "The type of permission to grant.\n\nuser - a specific user, in this case you must specify the email address of the user to grant the permission to in the emailAddress field.\ngroup - a specific group, in this case you must specify the email address of the group to grant the permission to in the emailAddress field.\ndomain - a specific domain, in this case you must specify the domain to grant the permission to in the domain field.\nanyone - all users\n\nThere are only four possible values: \"user\", \"group\", \"domain\", \"anyone\"."
          }
        },
        "required": [
          "role",
          "type"
        ],
        "title": "Access Rights Information"
      },
      "IGoogleDrive.IGetFileOutput": {
        "type": "object",
        "properties": {
          "userPermission": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "id"
              },
              "type": {
                "oneOf": [
                  {
                    "const": "group"
                  },
                  {
                    "const": "user"
                  },
                  {
                    "const": "domain"
                  },
                  {
                    "const": "anyone"
                  }
                ],
                "title": "type"
              },
              "role": {
                "oneOf": [
                  {
                    "const": "owner"
                  },
                  {
                    "const": "writer"
                  },
                  {
                    "const": "commenter"
                  },
                  {
                    "const": "reader"
                  },
                  {
                    "const": "organizer"
                  },
                  {
                    "const": "fileOrganizer"
                  }
                ],
                "title": "role"
              },
              "pendingOwner": {
                "type": "boolean",
                "title": "pendingOwner"
              }
            },
            "required": [
              "id",
              "type",
              "role",
              "pendingOwner"
            ],
            "title": "userPermission"
          },
          "fileExtension": {
            "type": "string",
            "title": "fileExtension"
          },
          "ownerNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "ownerNames"
          },
          "lastModifyingUserName": {
            "type": "string",
            "title": "lastModifyingUserName"
          },
          "editable": {
            "type": "boolean",
            "title": "editable"
          },
          "writersCanShare": {
            "type": "boolean",
            "title": "writersCanShare"
          },
          "mimeType": {
            "type": "string",
            "title": "mimeType"
          },
          "parents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "id: string;"
                },
                "isRoot": {
                  "type": "boolean",
                  "title": "isRoot"
                }
              },
              "required": [
                "id",
                "isRoot"
              ]
            },
            "title": "parents"
          },
          "thumbnailLink": {
            "type": "string",
            "format": "iri",
            "title": "thumbnailLink"
          },
          "appDataContents": {
            "type": "boolean",
            "title": "appDataContents"
          },
          "shared": {
            "type": "boolean",
            "title": "shared"
          },
          "lastModifyingUser": {
            "$ref": "#/components/schemas/IGoogleDrive.User",
            "title": "lastModifyingUser"
          },
          "owners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleDrive.User"
            },
            "title": "owners"
          },
          "copyable": {
            "type": "boolean",
            "title": "copyable"
          },
          "alternateLink": {
            "type": "string",
            "format": "iri",
            "title": "alternateLink\nA link to view the file in Google Drive's preview mode."
          },
          "embedLink": {
            "type": "string",
            "format": "iri",
            "title": "embedLink\nA link to embed the file in a webpage via an iframe."
          },
          "webContentLink": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "webContentLink\nA link to directly access or download the file content."
          },
          "fileSize": {
            "type": "string",
            "title": "fileSize"
          },
          "copyRequiresWriterPermission": {
            "type": "boolean",
            "title": "copyRequiresWriterPermission"
          },
          "spaces": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "spaces"
          },
          "id": {
            "type": "string",
            "title": "id"
          },
          "title": {
            "type": "string",
            "title": "title(filename)"
          },
          "labels": {
            "type": "object",
            "properties": {
              "viewed": {
                "type": "boolean",
                "title": "viewed"
              },
              "restricted": {
                "type": "boolean",
                "title": "restricted"
              },
              "starred": {
                "type": "boolean",
                "title": "starred"
              },
              "hidden": {
                "type": "boolean",
                "title": "hidden"
              },
              "trashed": {
                "type": "boolean",
                "title": "trashed"
              }
            },
            "required": [
              "viewed",
              "restricted",
              "starred",
              "hidden",
              "trashed"
            ],
            "title": "labels"
          },
          "explicitlyTrashed": {
            "type": "boolean",
            "title": "explicitlyTrashed"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "title": "createdDate"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time",
            "title": "modifiedDate"
          },
          "modifiedByMeDate": {
            "type": "string",
            "format": "date-time",
            "title": "modifiedByMeDate"
          },
          "lastViewedByMeDate": {
            "type": "string",
            "format": "date-time",
            "title": "lastViewedByMeDate"
          },
          "markedViewedByMeDate": {
            "type": "string",
            "format": "date-time",
            "title": "markedViewedByMeDate"
          },
          "quotaBytesUsed": {
            "type": "string",
            "title": "quotaBytesUsed"
          },
          "version": {
            "type": "string",
            "title": "version"
          },
          "originalFilename": {
            "type": "string",
            "title": "originalFilename"
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "canEdit": {
                "type": "boolean",
                "title": "canEdit"
              },
              "canCopy": {
                "type": "boolean",
                "title": "canCopy"
              }
            },
            "required": [
              "canEdit",
              "canCopy"
            ],
            "title": "capabilities"
          }
        },
        "required": [
          "userPermission",
          "ownerNames",
          "lastModifyingUserName",
          "editable",
          "writersCanShare",
          "mimeType",
          "parents",
          "appDataContents",
          "shared",
          "lastModifyingUser",
          "owners",
          "copyable",
          "alternateLink",
          "embedLink",
          "copyRequiresWriterPermission",
          "spaces",
          "id",
          "title",
          "labels",
          "explicitlyTrashed",
          "createdDate",
          "modifiedDate",
          "quotaBytesUsed",
          "version",
          "capabilities"
        ]
      },
      "IGoogleDrive.User": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "title": "displayName"
          },
          "isAuthenticatedUser": {
            "type": "boolean",
            "title": "isAuthenticatedUser"
          },
          "permissionId": {
            "type": "string",
            "title": "permissionId"
          },
          "emailAddress": {
            "type": "string",
            "format": "email",
            "title": "emailAddress"
          },
          "picture": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "url"
              }
            },
            "required": [
              "url"
            ],
            "title": "picture"
          }
        },
        "required": [
          "displayName",
          "isAuthenticatedUser",
          "permissionId",
          "emailAddress",
          "picture"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Google Slide"
    },
    {
      "name": "Google Drive"
    }
  ],
  "x-samchon-emended": true
}