{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "google-shopping-coupang",
    "version": "0.1.451",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-shopping/coupang": {
      "patch": {
        "summary": "Coupang Search",
        "description": "Search for products on Coupang",
        "tags": [
          "Coupang"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_shopping",
          "coupang"
        ],
        "x-samchon-controller": "GoogleShoppingCoupangController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/coupang.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "쿠팡에서 상품 좀 찾아줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleShopping.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Product name"
          },
          "link": {
            "oneOf": [
              {
                "const": "#"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "Product Link"
          },
          "price": {
            "type": "string",
            "title": "Product Price",
            "description": "₩57,600 Format"
          },
          "source": {
            "type": "string",
            "title": "Product Source"
          },
          "deliveryCost": {
            "type": "string",
            "title": "Shipping fee"
          },
          "thumbnail": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "image/*",
            "title": "Product Image"
          },
          "rating": {
            "type": "number",
            "title": "Product Rating"
          }
        },
        "required": [
          "title",
          "link",
          "price",
          "thumbnail"
        ],
        "title": "Product search results"
      },
      "IGoogleShopping.IRequestStandAlone": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Search term",
            "description": "Enter the keyword you want to search for."
          },
          "lang": {
            "type": "string",
            "title": "Language Setting",
            "description": "Choose which language you want to use as your search term.\n\nYou can only pass a single BCP 47 language identifier.\n\nex) You want to setting korean language, you can pass \"ko\"."
          },
          "max_results": {
            "type": "integer",
            "title": "Number of search results",
            "description": "Set the number of search results."
          }
        },
        "required": [
          "keyword",
          "lang",
          "max_results"
        ],
        "title": "Product search conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Coupang"
    }
  ],
  "x-samchon-emended": true
}