{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 항공권 검색 및 비교",
    "summary": "항공편을 검색하고 최적의 옵션을 선택해요.",
    "description": "출발지와 목적지, 날짜를 입력하면 다양한 항공편을 검색할 수 있어요. 직항/경유, 항공사, 가격 범위 등으로 검색 결과를 필터링할 수 있고, 가격, 소요 시간, 편의성 등을 기준으로 정렬할 수 있어요. 왕복 항공편 검색도 가능하며, 여러 날짜의 가격을 한눈에 비교할 수 있어요.",
    "version": "0.1.394",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-flight/one-way": {
      "post": {
        "summary": "Search for one-way flights",
        "description": "Search for one-way flights",
        "tags": [
          "Google Flight"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions required to search for flights",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleFlight.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Search results for one-way flights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleFlight.IFinalResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleFlight_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-flight/round-trip": {
      "post": {
        "summary": "Search for round-trip flights",
        "description": "Search for round-trip flights",
        "tags": [
          "Google Flight"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The conditions required to search for flights",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleFlight.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The results of the round-trip flight search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleFlight.IFinalResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleFlight_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleFlight.IFinalResponse": {
        "type": "object",
        "properties": {
          "flight": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleFlight.ISearchOutput"
            },
            "title": "Final selected flight information",
            "description": "Here is the final selected flight information."
          },
          "booking_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleFlight.IBookingOption"
            },
            "title": "Reservation Information",
            "description": "Here is the information you need to book your chosen flight."
          }
        },
        "required": [
          "flight",
          "booking_options"
        ],
        "title": "Final flight selection results",
        "description": "Here are the final flight selection results."
      },
      "IGoogleFlight.ISearchOutput": {
        "type": "object",
        "properties": {
          "flight": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleFlight.IFlight"
            },
            "title": "Flight Information",
            "description": "Here is the flight information."
          },
          "total_duration": {
            "type": "string",
            "title": "Total flight time",
            "description": "Total flight time."
          },
          "price": {
            "type": "string",
            "title": "Flight prices",
            "description": "Flight prices."
          },
          "layover": {
            "$ref": "#/components/schemas/IGoogleFlight.ILayover",
            "title": "Transfer Information",
            "description": "Here is the flight transfer information."
          },
          "departure_token": {
            "type": "string",
            "title": "Return flight search token",
            "description": "Token for return flight search"
          },
          "booking_token": {
            "type": "string",
            "title": "Final confirmation token for flight",
            "description": "Token for final confirmation of flight"
          }
        },
        "required": [
          "flight",
          "total_duration",
          "price"
        ],
        "title": "Flight search results",
        "description": "Here are the flight search results."
      },
      "IGoogleFlight.IFlight": {
        "type": "object",
        "properties": {
          "departure_airport": {
            "$ref": "#/components/schemas/IGoogleFlight.IAirport",
            "title": "Departure Information",
            "description": "Here is the flight departure information."
          },
          "arrival_airport": {
            "$ref": "#/components/schemas/IGoogleFlight.IAirport",
            "title": "Arrival Information",
            "description": "Here is the flight arrival information."
          },
          "duration": {
            "type": "string",
            "title": "Flight time",
            "description": "This is the time it takes to fly."
          },
          "airplane": {
            "type": "string",
            "title": "Airplane type",
            "description": "Here is the aircraft type information."
          },
          "airline": {
            "type": "string",
            "title": "Airline",
            "description": "Here is the airline information."
          },
          "airline_logo": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "image/*",
            "title": "Airline Logo",
            "description": "This is an image of an airline logo."
          },
          "travel_class": {
            "type": "string",
            "title": "Seat Class",
            "description": "Here is the seat class information."
          },
          "flight_number": {
            "type": "string",
            "title": "Flight number",
            "description": "Flight number is."
          }
        },
        "required": [
          "departure_airport",
          "arrival_airport",
          "duration",
          "airplane",
          "airline",
          "airline_logo",
          "travel_class",
          "flight_number"
        ]
      },
      "IGoogleFlight.IAirport": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Airport name",
            "description": "Airport name."
          },
          "code": {
            "type": "string",
            "title": "Airport Code",
            "description": "This is a three-digit airport code."
          },
          "time": {
            "type": "string",
            "title": "Flight Departure Date / Time",
            "description": "The date and time of the flight departure."
          }
        },
        "required": [
          "name",
          "code",
          "time"
        ],
        "title": "Flight Information"
      },
      "IGoogleFlight.ILayover": {
        "type": "object",
        "properties": {
          "duration": {
            "type": "string",
            "title": "Transfer time",
            "description": "It's transfer time."
          },
          "name": {
            "type": "string",
            "title": "Airport name",
            "description": "Airport name."
          },
          "code": {
            "type": "string",
            "title": "Airport Code",
            "description": "This is a three-digit airport code."
          }
        },
        "required": [
          "duration",
          "name",
          "code"
        ],
        "title": "Transfer information"
      },
      "IGoogleFlight.IBookingOption": {
        "type": "object",
        "properties": {
          "book_with": {
            "type": "string",
            "title": "Reservation site",
            "description": "This is a site where you can book flights of your choice."
          },
          "price": {
            "type": "string",
            "title": "Price",
            "description": "The price of the selected flight."
          },
          "book_link": {
            "type": "string",
            "format": "uri",
            "title": "Reservation Link",
            "description": "Here is a link to book your selected flight."
          }
        },
        "required": [
          "book_with",
          "price",
          "book_link"
        ],
        "title": "Reservation options",
        "description": "Reservation options."
      },
      "IGoogleFlight.IRequest": {
        "type": "object",
        "properties": {
          "departure_id": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/airport-information/search",
              "jmesPath": "[].{value:airport_code, label: [country_name, city_name, airport_name, airport_code].join('-', @)}"
            },
            "title": "Departure",
            "description": "Please enter the code of the departure airport.\n\nThe departure code must be the same even if it is a round trip (type \"1\").\n\nWhen calling connector/google-flight/arrival for a round trip (type \"1\"), the departure_id must be the same as when calling connector/google-flight/departure."
          },
          "arrival_id": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/airport-information/search",
              "jmesPath": "[].{value:airport_code, label: [country_name, city_name, airport_name, airport_code].join('-', @)}"
            },
            "title": "Destination",
            "description": "Please enter the destination airport code.\n\nEven if it is a round trip (type \"1\"), the destination code must be the same.\n\nWhen calling connector/google-flight/arrival for a round trip (type \"1\"), the arrival_id must be the same as when calling connector/google-flight/departure."
          },
          "type": {
            "oneOf": [
              {
                "const": "1"
              },
              {
                "const": "2"
              }
            ],
            "title": "Round trip or one way",
            "description": "Please select whether it is round trip or one way.\n\nPossible values are 1 and 2.\n\nPlease select \"1\" for round trip and \"2\" for one way."
          },
          "outbound_date": {
            "type": "string",
            "format": "date",
            "title": "Departure date",
            "description": "Please enter your departure date.\n\nPlease enter a date after today's date."
          },
          "return_date": {
            "type": "string",
            "format": "date",
            "title": "Date of arrival",
            "description": "Please enter the date of arrival.\n\nIf type is \"1\", it must be entered.\n\nIf type is \"2\", it must not be entered.\n\nPlease enter a date after today's date."
          },
          "adults": {
            "type": "integer",
            "title": "Number of adults",
            "description": "Please enter the number of adults."
          },
          "children": {
            "type": "integer",
            "title": "Number of children",
            "description": "Please enter the number of children."
          },
          "stop": {
            "oneOf": [
              {
                "const": "0"
              },
              {
                "const": "1"
              },
              {
                "const": "2"
              },
              {
                "const": "3"
              }
            ],
            "title": "Whether it is a direct flight",
            "description": "Please select whether it is a direct flight.\n\nPossible values are 0, 1, 2, 3."
          },
          "max_price": {
            "type": "integer",
            "title": "Maximum Price",
            "description": "Please enter the maximum price for your flight.\n\nYou must search for flights that do not exceed the maximum price you entered."
          }
        },
        "required": [
          "departure_id",
          "arrival_id",
          "type",
          "outbound_date",
          "adults",
          "stop"
        ],
        "title": "Information needed to search for airline tickets"
      }
    }
  },
  "tags": [
    {
      "name": "Google Flight"
    }
  ],
  "x-samchon-emended": true
}