{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "통합 채용정보 검색",
    "summary": "다양한 채용 사이트의 공고를 한 번에 검색해요.",
    "description": "원티드, 인크루트, 사람인, 점핏, 커리어리 등 다양한 채용 사이트의 공고를 검색할 수 있어요. 직무, 지역, 경력 등으로 검색 조건을 설정할 수 있고, 각 사이트별로 제공하는 상세 정보(연봉, 기업 규모, 복지 등)를 비교해볼 수 있어요. 관심 있는 공고를 저장하거나 지원 현황을 관리할 수 있고, 유사한 공고 추천 기능도 활용할 수 있어요. 이를 통해 취업 준비나 이직을 고려 중인 사용자들이 효율적으로 채용 정보를 탐색하고 관리할 수 있어요.",
    "version": "0.1.115",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-search/wanted": {
      "post": {
        "summary": "원티드 채용 공고 검색",
        "description": "원티드에서 채용 공고를 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "원티드 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_wanted_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/incruit": {
      "post": {
        "summary": "인크루트 채용 공고 검색",
        "description": "인크루트에서 채용 공고를 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "인크루트 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Incruit_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/saramin": {
      "post": {
        "summary": "사람인 채용 공고 검색",
        "description": "사람인에서 채용 공고를 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "사람인 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Saramin_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/jumpit": {
      "post": {
        "summary": "점핏 채용 공고 검색",
        "description": "점핏에서 채용 공고를 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "점핏 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/jumpit_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/careerly": {
      "post": {
        "summary": "커리어리 검색",
        "description": "커리어리에서 게시물을 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "커리어리 게시물 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/careerly_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSearch.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "검색 결과 제목"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "검색 결과 링크"
          },
          "snippet": {
            "type": "string",
            "title": "검색 결과 요약"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "image/*",
            "title": "검색 결과 thumbnail"
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "검색 결과"
      },
      "IGoogleSearch.IRequest": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 들어가야하는 키워드를 설정합니다."
          },
          "orKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 들어가면 좋은 키워드를 설정합니다."
          },
          "notKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 들어가면 안되는 키워드를 설정합니다."
          },
          "max_results": {
            "type": "integer",
            "title": "검색 결과 개수",
            "description": "검색 결과의 개수를 설정합니다."
          }
        },
        "required": [
          "andKeywords",
          "max_results"
        ],
        "title": "검색하기 위한 조건"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}