{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 호텔 정보 검색 및 예약",
    "summary": "일정에 맞는 숙소를 쉽게 찾아볼 수 있어요.",
    "description": "여행 일정에 맞는 호텔, 리조트, 펜션 등 다양한 숙소를 검색할 수 있어요. 목적지, 체크인/체크아웃 날짜, 인원 수 등을 입력하면 조건에 맞는 숙소 목록을 볼 수 있어요. 가격, 평점, 위치 등으로 검색 결과를 필터링하거나 정렬할 수 있어요. 또한 지도 보기를 통해 숙소의 위치를 직관적으로 파악할 수 있어, 여행 계획을 더욱 쉽고 효율적으로 세울 수 있어요.",
    "version": "0.1.292",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-hotel": {
      "post": {
        "summary": "Google Hotels Search",
        "description": "Search for accommodations using Google Hotels service",
        "tags": [
          "Google Hotel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google Hotels search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleHotel.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Google Hotels Search Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleHotel.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleHotel_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleHotel.IResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Accommodation Name",
            "description": "Accommodation Name"
          },
          "description": {
            "type": "string",
            "title": "Property Description",
            "description": "Property Description"
          },
          "link": {
            "type": "string",
            "title": "Accommodation Link",
            "description": "Accommodation Link"
          },
          "check_in_time": {
            "type": "string",
            "title": "Check-in time",
            "description": "Accommodation check-in time"
          },
          "check_out_time": {
            "type": "string",
            "title": "Check-out Time",
            "description": "Accommodation Check-out Time"
          },
          "price": {
            "type": "string",
            "title": "Accommodation prices",
            "description": "Accommodation prices"
          },
          "nearby_place": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleHotel.INearbyPlace"
            },
            "title": "Facilities around the property",
            "description": "Facilities around the property"
          },
          "hotel_class": {
            "type": "string",
            "title": "Accommodation rating",
            "description": "Accommodation rating"
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "iri",
              "contentMediaType": "image/*"
            },
            "title": "thumbnail",
            "description": "Accommodation thumbnail image"
          },
          "rating": {
            "type": "string",
            "title": "rating",
            "description": "Accommodation rating"
          },
          "review_count": {
            "type": "string",
            "title": "Number of reviews",
            "description": "Number of reviews"
          },
          "amenities": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "Amenities",
            "description": "Amenities provided by the property"
          },
          "excluded_amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Amenities not provided",
            "description": "Amenities not provided by the property"
          }
        },
        "required": [
          "name",
          "price",
          "thumbnails",
          "amenities"
        ],
        "title": "Accommodation search results"
      },
      "IGoogleHotel.INearbyPlace": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Surrounding facility name",
            "description": "Surrounding facility name"
          },
          "transportations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "title": "Types of Transportation",
                  "description": "Types of Transportation"
                },
                "duration": {
                  "type": "string",
                  "title": "Time required",
                  "description": "Time required to reach surrounding facilities"
                }
              },
              "required": [
                "type",
                "duration"
              ]
            },
            "title": "Transportation",
            "description": "Transportation to nearby facilities"
          }
        },
        "required": [
          "name"
        ],
        "title": "Surrounding facilities"
      },
      "IGoogleHotel.IRequest": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Search term",
            "description": "Enter the keyword you want to search for."
          },
          "check_in_date": {
            "type": "string",
            "format": "date",
            "title": "Check-in date",
            "description": "Set your check-in date.\n\nPlease enter a date after today's date."
          },
          "check_out_date": {
            "type": "string",
            "format": "date",
            "title": "Checkout Date",
            "description": "Set a checkout date.\n\nPlease enter a date after today's date."
          },
          "adults": {
            "type": "integer",
            "default": 2,
            "title": "Number of adults",
            "description": "Set the number of adults staying. The default is 2."
          },
          "children": {
            "type": "integer",
            "default": 0,
            "title": "Number of children",
            "description": "Set the number of children staying. The default is 0."
          },
          "sort_by": {
            "oneOf": [
              {
                "const": "3",
                "title": "낮은 가격 순"
              },
              {
                "const": "8",
                "title": "평점 높은 순"
              },
              {
                "const": "13",
                "title": "리뷰 많은 순"
              }
            ],
            "title": "Sort criteria",
            "description": "Please select the desired sort criteria.\n\nOnly 3, 8, and 13 are possible values."
          },
          "min_price": {
            "type": "integer",
            "title": "Minimum price",
            "description": "Please set the minimum price for the price range."
          },
          "max_price": {
            "type": "integer",
            "title": "Maximum price",
            "description": "Please set the maximum price for the price range."
          },
          "rating": {
            "oneOf": [
              {
                "const": "7",
                "title": "평점 3.5 이상"
              },
              {
                "const": "8",
                "title": "평점 4.0 이상"
              },
              {
                "const": "9",
                "title": "평점 4.5 이상"
              }
            ],
            "title": "Rating",
            "description": "Search only properties with a selected rating or higher.\n\nOnly possible values are 7, 8, and 9."
          },
          "type": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "12",
                  "title": "비치 호텔"
                },
                {
                  "const": "13",
                  "title": "부티크 호텔"
                },
                {
                  "const": "14",
                  "title": "호스텔"
                },
                {
                  "const": "15",
                  "title": "여관"
                },
                {
                  "const": "16",
                  "title": "모텔"
                },
                {
                  "const": "17",
                  "title": "리조트"
                },
                {
                  "const": "18",
                  "title": "스파 호텔"
                },
                {
                  "const": "19",
                  "title": "아침 식사를 제공하는 숙소(B&B)"
                },
                {
                  "const": "20",
                  "title": "기타"
                },
                {
                  "const": "21",
                  "title": "아파트 호텔"
                },
                {
                  "const": "22",
                  "title": "민박"
                },
                {
                  "const": "23",
                  "title": "일본식 비즈니스 호텔"
                },
                {
                  "const": "24",
                  "title": "료칸"
                }
              ]
            },
            "title": "Accommodation type",
            "description": "Please select the accommodation type.\n\nOnly 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24 are possible values."
          },
          "hotel_class": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "1",
                  "title": "1성급"
                },
                {
                  "const": "2",
                  "title": "2성급"
                },
                {
                  "const": "3",
                  "title": "3성급"
                },
                {
                  "const": "4",
                  "title": "4성급"
                },
                {
                  "const": "5",
                  "title": "5성급"
                }
              ]
            },
            "title": "Accommodation class",
            "description": "Please select your accommodation class.'\n\nOnly 1, 2, 3, 4, 5 are possible values."
          },
          "free_cancellation": {
            "type": "boolean",
            "default": false,
            "title": "Is free cancellation possible?",
            "description": "Search only properties with free cancellation."
          },
          "max_results": {
            "type": "integer",
            "title": "Number of search results",
            "description": "Set the number of search results."
          }
        },
        "required": [
          "keyword",
          "check_in_date",
          "check_out_date",
          "max_results"
        ],
        "title": "Accommodation search criteria"
      }
    }
  },
  "tags": [
    {
      "name": "Google Hotel"
    }
  ],
  "x-samchon-emended": true
}