{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 검색",
    "version": "0.1.69",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-search": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "구글 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "구글 검색",
        "description": "입력한 검색어를 구글에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/wanted": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "원티드 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "원티드 채용 공고 검색",
        "description": "원티드에서 채용 공고를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/wanted.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/incruit": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "인크루트 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "인크루트 채용 공고 검색",
        "description": "인크루트에서 채용 공고를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/Incruit.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/saramin": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "사람인 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "사람인 채용 공고 검색",
        "description": "사람인에서 채용 공고를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/saramin.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/jumpit": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "점핏 채용 공고 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "점핏 채용 공고 검색",
        "description": "점핏에서 채용 공고를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/jumpit.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-search/careerly": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "커리어리 게시물 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "커리어리 검색",
        "description": "커리어리에서 게시물을 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/careerly.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSearch.IRequest": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 들어가야하는 키워드를 설정합니다."
          },
          "orKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 들어가면 좋은 키워드를 설정합니다."
          },
          "notKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 들어가면 안되는 키워드를 설정합니다."
          },
          "max_results": {
            "type": "integer",
            "title": "검색 결과 개수",
            "description": "검색 결과의 개수를 설정합니다."
          }
        },
        "required": [
          "andKeywords",
          "max_results"
        ],
        "title": "검색하기 위한 조건"
      },
      "IGoogleSearch.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "검색 결과 제목"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "검색 결과 링크"
          },
          "snippet": {
            "type": "string",
            "title": "검색 결과 요약"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "image/*",
            "title": "검색 결과 thumbnail"
          }
        },
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "title": "검색 결과"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}