{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 프레젠테이션 제작",
    "summary": "구글 프레젠테이션을 쉽게 만들고 꾸밀 수 있어요.",
    "description": "구글 슬라이드로 프레젠테이션을 만들고, 페이지를 추가하거나 수정할 수 있어요. 텍스트, 이미지, 도형을 추가하고 다양한 효과를 설정할 수 있어요. 슬라이드 전환 효과를 적용하고, 개체의 순서를 조정할 수 있어요. 슬라이드 노트를 작성하여 발표 준비를 할 수 있고, 프레젠테이션의 메타데이터를 수정할 수 있어요. 팀원들과 실시간으로 협업하며 프레젠테이션을 만들 수 있고, 완성된 프레젠테이션을 PDF로 내보낼 수도 있어요.",
    "version": "0.1.199",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-slides/presentations/{id}/export/hanshow": {
      "post": {
        "summary": "프레젠테이션을 한쇼 파일로 내보내기",
        "description": "구글 슬라이드 프레젠테이션을 한쇼 형식으로 내보내요!",
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 변환할 프레젠테이션 아이디"
          }
        ],
        "requestBody": {
          "description": "인증 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "한쇼 파일을 다운로드 가능한 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportHanshowOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/export/power-point": {
      "post": {
        "summary": "프레젠테이션을 PPT 파일로 내보내기",
        "description": "구글 슬라이드 프레젠테이션을 파워포인트 형식으로 내보내요!\n\n이야기 또는 그림책을 생성할 때 사용될 수 있는 커넥터입니다.",
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 변환할 프레젠테이션 아이디"
          }
        ],
        "requestBody": {
          "description": "인증 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파워포인트 파일을 다운로드 가능한 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/get-presentations": {
      "post": {
        "summary": "Google Slides 프레젠테이션 조회.",
        "description": "Google Slides 프레젠테이션을 조회합니다.",
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [],
        "requestBody": {
          "description": "프레젠테이션을 조회하기 위한 조건 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IGetPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회된 프레젠테이션 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/image-slide": {
      "put": {
        "summary": "Google Slides 프레젠테이션에 이미지 및 텍스트 슬라이드를 추가합니다.",
        "description": "Google Slides 프레젠테이션에 슬라이드를 추가합니다.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/createPresentation 커넥터와 함께 사용해주세요.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/createPresentation 커넥터로 부터 생성된 프레젠테이션에 이 커넥터를 사용해서 생성된 이야기와 그림을 넣어주세요.\n\n이야기 또는 그림책을 생성할 때 해당 커넥터를 사용하지 않으면 빈 그림책이 될 수 있으니 조심해주세요.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 슬라이드를 추가할 프레젠테이션 id"
          }
        ],
        "requestBody": {
          "description": "추가할 템플릿",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations": {
      "post": {
        "summary": "Google Slides 프레젠테이션 생성.",
        "description": "Google Slides 프레젠테이션을 생성합니다.\n\n이야기 또는 그림책을 생성할 때 사용될 수 있는 커넥터입니다.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/appendImageSlide 커넥터와 함께 사용해주세요.\n\n이야기 또는 그림책을 생성할 때 이 커넥터로 새로운 프레젠테이션을 생성하고 connector/google-slides/appendImageSlide 커넥터를 사용해서 생성된 이야기와 그림을 슬라이드에 넣어주세요.\n\n이야기 또는 그림책을 생성할 때 connector/google-slides/appendImageSlide 커넥터와 같이 사용하지 않으면 빈 그림책이 될 수 있으니 조심해주세요.",
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [],
        "requestBody": {
          "description": "프레젠테이션을 만들기 위한 조건 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.ICreatePresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 프레젠테이션 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "구글 access token 재발급 요청",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSlides.IExportHanshowOutput": {
        "type": "object",
        "properties": {
          "hanshow": {
            "type": "string",
            "format": "uri",
            "title": "파일 다운로드 링크"
          }
        },
        "required": [
          "hanshow"
        ]
      },
      "IGoogleSlides.IExportPresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "슬라이드를 pptx로 내보내는 조건"
      },
      "IGoogleSlides.IExportPresentationOutput": {
        "type": "object",
        "properties": {
          "powerPoint": {
            "type": "string",
            "format": "uri",
            "title": "파일 다운로드 링크"
          }
        },
        "required": [
          "powerPoint"
        ]
      },
      "IGoogleSlides.ISimplePresentationIdOutput": {
        "type": "object",
        "properties": {
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠테이션의 제목."
          },
          "pageSize": {
            "$ref": "#/components/schemas/IGoogleSlides.Size",
            "title": "프레젠테이션의 페이지 크기."
          },
          "presentationId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠네이션의 ID."
          }
        }
      },
      "IGoogleSlides.Size": {
        "type": "object",
        "properties": {
          "width": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "객체의 너비."
          },
          "height": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "객체의 높이."
          }
        }
      },
      "IGoogleSlides.Dimension": {
        "type": "object",
        "properties": {
          "magnitude": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "규모."
          },
          "unit": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "const": "UNIT_UNSPECIFIED",
                "title": "알 수 없는 단위"
              },
              {
                "const": "EMU",
                "title": "영국식 단위 (EMU)",
                "description": "는 1센티미터의 1/360,000으로 정의되므로 인치당 914,400 EMU 및 포인트당 12,700 EMU가 있습니다."
              },
              {
                "const": "PT",
                "title": "포인트",
                "description": "1/72인치입니다."
              }
            ],
            "title": "크기 단위."
          }
        }
      },
      "IGoogleSlides.IGetPresentationInput": {
        "type": "object",
        "properties": {
          "presentationId": {
            "type": "string",
            "title": "검색의 대상이 되는 프레젠테이션 ID."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "presentationId",
          "secretKey"
        ],
        "title": "프레젠테이션 검색을 위한 조건 DTO."
      },
      "IGoogleSlides.AppendSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Vertical"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Square"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Landscape"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Entire"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "Vertical": "#/components/schemas/IGoogleSlides.Template.Vertical",
                  "Square": "#/components/schemas/IGoogleSlides.Template.Square",
                  "Landscape": "#/components/schemas/IGoogleSlides.Template.Landscape",
                  "Entire": "#/components/schemas/IGoogleSlides.Template.Entire",
                  "QuarterDivision": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              }
            },
            "title": "한 번에 생성하고자 하는 템플릿의 목록.",
            "description": "이야기 또는 그림책을 생성할 때는 정방형으로만 사용해주세요."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ],
        "title": "슬라이드를 붙이기 위한 요청 DTO."
      },
      "IGoogleSlides.Template.Vertical": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Vertical",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "세로형"
      },
      "IGoogleSlides.InsertText": {
        "type": "object",
        "properties": {
          "text": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "추가할 텍스트"
          },
          "objectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "아이디"
          }
        }
      },
      "IGoogleSlides.Template.Square": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Square",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "정방형",
        "description": "이야기 또는 그림책을 생성할 때는 정방형으로만 사용해주세요."
      },
      "IGoogleSlides.Template.Landscape": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Landscape",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "가로형"
      },
      "IGoogleSlides.Template.Entire": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Entire",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "이미지의 URL."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "이미지에 대응되는 텍스트."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "전체보기 가로형(16:9)"
      },
      "IGoogleSlides.Template.QuarterDivision": {
        "type": "object",
        "properties": {
          "type": {
            "const": "QuarterDivision",
            "title": "템플릿의 타입."
          },
          "contents": {
            "type": "array",
            "prefixItems": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "이미지의 URL."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "이미지에 대응되는 텍스트."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              }
            ],
            "additionalItems": false,
            "title": "슬라이드의 내용물"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "4분할 정방형 (컷 만화형)"
      },
      "IGoogleSlides.ICreatePresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠테이션의 제목."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Google Slides의 프레젠테이션을 생성하기 위한 요청 DTO."
      }
    }
  },
  "tags": [
    {
      "name": "구글 슬라이드"
    },
    {
      "name": "구글 드라이브"
    },
    {
      "name": "프레젠테이션"
    },
    {
      "name": "피피티"
    },
    {
      "name": "피티"
    },
    {
      "name": "슬라이드"
    },
    {
      "name": "슬라이드 디자인"
    },
    {
      "name": "프레젠테이션 만들기"
    },
    {
      "name": "슬라이드 템플릿"
    },
    {
      "name": "슬라이드 공유"
    },
    {
      "name": "이미지 삽입"
    },
    {
      "name": "동영상 삽입"
    },
    {
      "name": "슬라이드 애니메이션"
    },
    {
      "name": "슬라이드쇼"
    },
    {
      "name": "발표 준비"
    },
    {
      "name": "발표 자료"
    },
    {
      "name": "슬라이드 내보내기"
    },
    {
      "name": "슬라이드 인쇄"
    },
    {
      "name": "슬라이드 전환"
    },
    {
      "name": "슬라이드 배경"
    },
    {
      "name": "슬라이드 텍스트"
    },
    {
      "name": "슬라이드 표"
    },
    {
      "name": "슬라이드 차트"
    },
    {
      "name": "슬라이드 그래프"
    },
    {
      "name": "슬라이드 복제"
    },
    {
      "name": "슬라이드 이동"
    },
    {
      "name": "슬라이드 삭제"
    },
    {
      "name": "맞춤법 검사"
    },
    {
      "name": "슬라이드 찾기"
    },
    {
      "name": "슬라이드 저장"
    },
    {
      "name": "프레젠테이션 준비"
    },
    {
      "name": "슬라이드 협업"
    },
    {
      "name": "슬라이드 제목"
    }
  ],
  "x-samchon-emended": true
}