{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 광고 캠페인 운영",
    "summary": "구글 광고를 쉽게 만들고 관리해요.",
    "description": "키워드 검색을 통한 SEO 전략을 최적화하고, 노출 광고의 효과를 높여 잠재 고객에게 효과적으로 도달할 수 있어요.구글 광고에서 검색 광고, 디스플레이 광고, 동영상 광고 등 다양한 유형의 광고를 만들고 수정할 수 있어요. 이후 광고 상태를 관리하고, 성과를 조회할 수 있어요.",
    "version": "0.1.136",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-ads/generateKeywordIdeas/keywordsAndUrl": {
      "post": {
        "summary": "키워드와 URL을 통한 키워드 생성",
        "description": "구글 광고를 위한 키워드를 추천받아요!\n\nGoogle Ads에서 광고를 집행하기 위해서는 키워드들을 등록해야 합니다.\n키워드는 광고의 엔드 유저들을 타겟팅하기 위해 등록되어야 하며, 이는 Google Ads의\n리소스 중 `adGroup`에 매핑되는 `adGroupCriteria` 중 하나입니다.\n이 커넥터는 그러한 키워드를 추천받기 위한 기능으로 사용자가 등록하고자 했던\n키워드들과 URL을 입력 시 그에 파생될 수 있는 다른 키워드들을 추천해줍니다.\n\n요청 결과는 키워드들의 목록과 각 키워드들의 경쟁 지수, 단가, 광고 등록 시 예상되는 지표 값들이 조회됩니다.\n\n이 커넥터는 성인 광고를 위한 키워드를 제외하며, 언어적 조건은 한국어, 지리적 조건은 한국(South Korea)으로 설정되어 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "URL을 담은 객체",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGenerateKeywordIdeaByKeywordsAndUrlInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추천 받은 키워드 목록과 각 키워드에 대한 경쟁 지수 및 지표, 단가 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleAds.IGenerateKeywordIdeaOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-ads/generateKeywordIdeas/keywords": {
      "post": {
        "summary": "키워드를 통한 키워드 생성",
        "description": "구글 광고를 위한 키워드를 추천받아요!\n\nGoogle Ads에서 광고를 집행하기 위해서는 키워드들을 등록해야 합니다.\n키워드는 광고의 엔드 유저들을 타겟팅하기 위해 등록되어야 하며, 이는 Google Ads의\n리소스 중 `adGroup`에 매핑되는 `adGroupCriteria` 중 하나입니다.\n이 커넥터는 그러한 키워드를 추천받기 위한 기능으로 사용자가 등록하고자 했던\n키워드들을 입력 시 그에 파생될 수 있는 다른 키워드들을 추천해줍니다.\n\n요청 결과는 키워드들의 목록과 각 키워드들의 경쟁 지수, 단가, 광고 등록 시 예상되는 지표 값들이 조회됩니다.\n\n이 커넥터는 성인 광고를 위한 키워드를 제외하며, 언어적 조건은 한국어, 지리적 조건은 한국(South Korea)으로 설정되어 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "URL을 담은 객체",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGenerateKeywordIdeaByKeywordsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추천 받은 키워드 목록과 각 키워드에 대한 경쟁 지수 및 지표, 단가 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleAds.IGenerateKeywordIdeaOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-ads/generateKeywordIdeas/url": {
      "post": {
        "summary": "URL을 통한 키워드 생성",
        "description": "구글 광고를 위한 키워드를 추천받아요!\n\nGoogle Ads에서 광고를 집행하기 위해서는 키워드들을 등록해야 합니다.\n키워드는 광고의 엔드 유저들을 타겟팅하기 위해 등록되어야 하며, 이는 Google Ads의\n리소스 중 `adGroup`에 매핑되는 `adGroupCriteria` 중 하나입니다.\n이 커넥터는 그러한 키워드를 추천받기 위한 기능으로 사용자가 등록하고자 했던\nURL을 입력 시 그에 파생될 수 있는 다른 키워드들을 추천해줍니다.\n\n요청 결과는 키워드들의 목록과 각 키워드들의 경쟁 지수, 단가, 광고 등록 시 예상되는 지표 값들이 조회됩니다.\n\n이 커넥터는 성인 광고를 위한 키워드를 제외하며, 언어적 조건은 한국어, 지리적 조건은 한국(South Korea)으로 설정되어 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "URL을 담은 객체",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGenerateKeywordIdeaByURLInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추천 받은 키워드 목록과 각 키워드에 대한 경쟁 지수 및 지표, 단가 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleAds.IGenerateKeywordIdeaOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-ads/customerClientLink": {
      "post": {
        "summary": "뤼튼을 관리자로 등록하기",
        "description": "해당 유저의 광고 계정 관리자로 뤼튼을 지정해요\n\n특정 구글 계정에 대하여 Google Ads API를 호출하기 위해서는 해당 광고 계정을 소유하거나 또는 관리자로 등록되어야 합니다.\n이 커넥터는 `Wrtn` 광고 계정을 고객의 관리자로 등록하기 위해 유저의 모든 구글 광고 계정에 일종의 초대장을 보내는 커넥터입니다.\n해당 커넥터가 실행된 다음 Gmail을 통해 고객 계정에 등록되어 있는 이메일이 전송됩니다.\n메일을 받으신 분께서는 해당 메일을 통해 대시보드로 이동하여 `Wrtn` 계정에 관리자 권한을 줄 수 있습니다.\n`Wrtn`이 관리자로 등록된 경우, Google Ads에 생성되어 있는 다른 API들을 사용할 수 있게 됩니다.\n\n이 관리자 지정은 키워드 추천 등 `customerId`를 인자로 받지 않는 커넥터들을 제외한 모든 Google Ads 커넥터 호출에 선행되어야 합니다.\n하지만 이 커넥터를 호출했다고 하더라도 유저의 승인 없이 `Wrtn`이 관리자로 지정되는 일은 없으니 걱정할 필요는 없습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "고객 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/get-customers": {
      "post": {
        "summary": "광고 계정을 조회합니다",
        "description": "고객의 광고 계정을 가져와요\n\n유저의 액세스 토큰을 이용하여 `Wrtn`이 관리자로 있는 계정 중 해당 유저의 광고 계정, 즉 `customer`를 조회합니다.\n유저가 광고 계정이 있다고 하더라도 `Wrtn`이 관리자로 있지 않을 경우에는 리스트에 조회되지 않습니다.\n따라서 `Wrtn`을 관리자로 등록한 적이 없다면 `POST connector/google-ads/customerClientLink` 커넥터를 호출해야 합니다.\n\n또한 이 커넥터에서는 한국 통화 단위인 `KRW`를 사용하지 않는 광고 계정은 필터링됩니다.\n이렇게 하는 까닭은 추후 다른 캠페인 예산 수정이나 광고 상태 변경 커넥터에서 실수가 발생할 일을 방지하기 위함입니다.\nGoogle Ads 커넥터를 통해 광고를 생성할 때 각 계정의 통화 단위에 따라 예산 설정에 휴먼 에러가 발생할 수도 있기 때문입니다.\n예컨대 통화 단위가 `USD`인 계정을 `KRW`인 계정처럼 예산을 등록할 경우 그 환율만큼의 예산 차이가 발생할 수 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "고객 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGetCustomerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "광고 계정 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleAds.CustomerClient"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-ads/get-campaigns": {
      "post": {
        "summary": "캠페인 목록을 조회합니다",
        "description": "구글 고객 계정의 캠페인 목록을 가져와요\n\n유저에게 `customerId`를 넘겨 받아 그 고객 광고 계정에 있는 캠페인들을 조회합니다.\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n캠페인은 구글 리소스 중 `campaign`에 해당하는 것이며 광고 채널, 예산과 광고들의 집행 시작 날짜, 종료 날짜를 담당합니다.\n채널에는 반응형 검색 광고(=responsive search ad), 반응형 디스플레이 광고(=responsive display ad) 등 구글 광고 상품을 의미합니다.\n만약 캠페인이 검색 광고라면 광고 그룹과 광고 역시 검색 광고만 존재합니다.\n유저는 이 커넥터를 통해 자신이 가진 캠페인과 캠페인의 상태를 조회하고, 원하는 캠페인에 광고 그룹을 생성하는 등 이후 액션에 활용할 수 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "고객 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캠페인 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleAds.IGetCampaignsOutputResult"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/get-ad-groups": {
      "post": {
        "summary": "광고 그룹 목록을 조회합니다.",
        "description": "구글 고객 계정의 광고 그룹 목록을 가져와요\n\n유저에게 `customerId`를 넘겨 받아 그 고객 광고 계정에 있는 광고 그룹(=adGroup)들을 조회합니다.\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n만약 `campaignId`를 함께 넘겨받을 경우 해당 캠페인의 자식 광고 그룹들만을 조회합니다.\n광고 그룹은 타겟팅을 담당하는 영역이며, 또한 광고(ad)의 부모 이기도 합니다.\n이 커넥터의 결과로는 광고 그룹의 부모가 되는 캠페인의 간단한 정보와 광고 그룹의 정보,\n해당 광고 그룹에 속한 광고의 목록 및 현재 상태, 간단한 정보들을 담고 있습니다.\n또한 광고 그룹에 연결되어 있는 키워드들의 정보 또한 담겨 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "광고 그룹 목록 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGetAdGroupInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "광고 그룹 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleAds.IGetAdGroupsOutputResult"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/get-ads": {
      "post": {
        "summary": "캠페인 광고 목록을 조회합니다",
        "description": "구글 고객 계정의 광고 목록을 가져와요\n\n유저에게 `customerId`를 넘겨 받아 그 고객 광고 계정에 있는 광고(=ad)들을 조회합니다.\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n광고는 캠페인, 광고 그룹, 광고로 이루어진 트리 구조의 말단에 존재하는 노드로 소재를 담당하는 구간이며,\n또한 엔드 유저에게 노출되는 단위입니다.\n광고 그룹(=adGroup)의 리소스 이름을 인자로 함께 전달할 경우 해당 광고 그룹에 속한 광고만을 조회합니다.\n이 커넥터의 목적은 유저의 광고가 현재 집행 중인 상태인지 아닌지 파악하기 위함입니다.\n`Wrtn` 관리자의 경우 유저가 Google Ads 대시보드에서 직접 유저의 캠페인과 광고 그룹 상태를 변경하지 않는 한 캠페인과 광고 그룹을 `PAUSED` 상태로 변경하지 않습니다.\n따라서, 일반적인 경우, 광고의 상태가 `ENABLED`이면 광고는 집행되며 `PAUSED`이면 광고는 중단된 것으로 이해합니다.\n다시 말하지만, `Wrtn` 커넥터에서는 캠페인이나 광고 그룹의 상태는 변경하지 않습니다.\n\n이 기능은 광고를 조회하는 것 외에 광고가 제대로 집행되고 있는지 체크하기 위해서 사용될 수도 있습니다.\n각 광고에서는 광고 심사 및 정책에 대한 평가 내역이 존재하는데, 이는 `PolicySummary` 라는 프로퍼티로 존재합니다.\n이 프로퍼티에는 광고의 승인 여부가 존재하며 `APPROVED` 상태는 곧 Google의 심사가 승인되어 적격 판정을 받은 것을 의미합니다.\n\n광고 상태 변경은 `PATCH connector/google-ads/campaigns/ads/status`에서 변경할 수 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "광고 목록 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGetAdGroupAdInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "광고 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PickIGoogleAds.AdGroupAdresourceNamestatuspolicySummary"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/ad-groups/get-metrics": {
      "post": {
        "summary": "광고 그룹의 성과(metrics)를 조회합니다",
        "description": "구글 고객 계정 광고 당 지표를 조회해요\n\n유저에게 `customerId`를 넘겨 받아 그 고객 광고 그룹에 대하여 통계 지표들을 조회합니다.\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n유저는 이 커넥터를 통해 특정 날짜의 광고 지표를 조회할 수 있으며,\n이 지표에는 노출수, 클릭수, 비디오 조회 수, 비디오 재생 범위에 따른 조회 수, 평균 페이지 수를 확인할 수 있습니다.\n또한 광고 그룹의 리소스 이름 등 조회한 내역에 대한 간단한 정보를 확인하실 수 있습니다.\n이와 더불어 `costMicros` 정보를 제공하고 있는데, 이는 마이크로 단위의 광고 지출이며 실제로 집행된 금액을 의미합니다.\n만약 이 수치가 `1,000,000` 이라면 통화 단위가 `KRW`인 경우 1원을 사용한 것입니다.\n이 수치는 캠페인 예산과 달리 실제로 사용된 금액이며, 구글 정책 상 예산보다 약간 더 광고 비용이 지출될 수도 있습니다.\n또한, 해당 캠페인 내 광고 그룹의 지출 총합은 캠페인의 지출 총합과 같아야 합니다.\n\n유저는 이 커넥터를 통해 자신의 광고가 비용과 성과 측면에서 효율적으로 집행되고 있는지를 확인할 수 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "광고 지표 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGetMetricInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "지표 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleAds.IGetMetricOutputResult"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/campaigns/ads/get-keywords": {
      "post": {
        "summary": "광고에 키워드를 추가해요",
        "description": "구글 고객 계정의 광고에 검색 키워드를 추가해요\n\n엄밀히 말해 광고 그룹(=adGroup)에 광고 키워드를 추가합니다.\n\n이 커넥터에서는 편의 상 광고의 리소스 명을 받아 해당 광고의 부모 광고 그룹을 찾은 다음 키워드를 넣게끔 되어 있습니다.\n이 커넥터의 결과 값은 키워드 추가 후 전체 키워드를 재조회하여 제대로 추가되어 있는지 유저가 확인할 수 있도록 돕습니다.\n하지만 키워드가 추가되었다고 해서 모두 광고에 사용되는 것은 아닙니다.\n키워드는 구글에서 심사를 통해 타겟팅에 사용되며, 이 때 키워드는 부적합 심사를 받아 광고 키워드에서 제외될 수도 있습니다.\n다만, 다른 키워드들이 있다면 광고는 무사히 동작할 것이기 때문에, 유저가 유입될 수 있도록 다양한 키워드들을 등록하는 것이 유리합니다.\n\n키워드에 대한 추천 커넥터들 또한 존재합니다.\n\n이 커넥터는 고객 계정에 대한 인증으로서 광고 계정을 유저에게 인자로 전달받지만 이 또한 선택적입니다.\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "키워드 추가 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGetKeywordsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "키워드 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleAds.IGetKeywordsOutputResult"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/campaigns/ads/status": {
      "patch": {
        "summary": "광고의 상태를 변경해요",
        "description": "구글 고객 계정의 광고 상태를 변경해요\n\n유저에게 광고 계정의 아이디와 광고그룹 내 광고의 리소스 이름 (=`adGroupAd`의 `ResourceName`) 을 전달 받아 광고 상태를 변경합니다.\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n이 커넥터에서 지원하는 광고 상태는 `ENABLED`와 `PAUSED` 두 상태이며 각각 광고의 집행과 중단을 의미합니다.\n`Wrtn` 관리자 계정은 캠페인과 광고 그룹의 상태는 변경하지 않으면서 광고의 상태만을 변경하기 때문에,\n유저가 Google Ads 대시보드에서 직접 캠페인과 광고 그룹의 상태를 변경하지 않은 이상 광고의 상태는 곧 지출이 발생하는지 여부를 의미합니다.\n만약 유저가 광고 그룹의 상태를 변경하고 싶다면 광고 그룹의 상태를 변경하는 대신 광고 그룹을 조회하여 해당 광고 그룹 내 모든 광고의 상태를 변경하십시오.\n만약 유저가 캠페인의 상태를 변경하고 싶다면 캠페인의 상태를 변경하는 대신 캠페인을 조회하여 해당 캠페인 내 모든 광고의 상태를 변경하십시오.\n단, 캠페인의 상태를 변경할 경우, Google Ads 광고 구조 상 캠페인, 광고 그룹을 타고 내려가 모든 광고를 종료하여야 합니다.\n\n또한 우리 커넥터 상에서는 광고의 삭제를 지원하지 않습니다.\n만약 캠페인, 광고 그룹, 광고 등의 삭제를 원하는 유저가 있다면 해당 노드의 모든 자식 광고들을 `PAUSED` 상태로 변경하는 것을 추천합니다.\n광고의 삭제는 이전 성과와 지표를 조회할 수 있는 수단을 잃는 것이기 떄문에 광고 삭제 대신 광고를 종료하는 것이 추후 광고 재집행에도 유리합니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "변경할 광고의 상태",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.ISetOnOffInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/campaigns/ads/keywords": {
      "delete": {
        "summary": "광고에 키워드를 삭제해요",
        "description": "구글 고객 계정의 특정 광고에서 키워드를 삭제해요\n\n유저에게 키워드 (=`AdGroupCriterion`)의 리소스 이름을 받아 모두 삭제합니다.\n키워드는 `AdGroupCriterion` 중 `type`이 `KEYWORD`인 것으로 다른 타입의 리소스가 존재할 수 있기 때문에 이에 주의해야 합니다.\n만약 모든 키워드가 삭제된 광고라면 키워드 삭제 시 광고 집행이 중단되는 등 영향이 갈 수 있기 때문에 주의해야 합니다.\n\n또한, 광고의 키워드를 삭제할 경우, 해당 광고의 부모인 광고 그룹을 공유하는 다른 광고에도 영향이 갈 수 있습니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "키워드 삭제 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IDeleteAdGroupCriteriaInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      },
      "post": {
        "summary": "광고에 키워드를 추가해요",
        "description": "구글 고객 계정의 광고에 검색 키워드를 추가해요\n\n엄밀히 말해 해당 광고의 부모인 광고 그룹(=adGroup)에 키워드를 추가합니다.\n키워드는 광고 그룹에 추가되는 대상이기 때문에 자식 광고들에 모두 적용됩니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "키워드 추가 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.ICreateAdGroupCriteriaInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추가된 키워드 리소스 이름",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "(customers\\/(.*)\\/adGroupCriteria\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
                    "x-wrtn-placeholder": "customers/1/adGroupCriteria/1"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/campaigns/ads/get-details": {
      "post": {
        "summary": "광고 상세 조회",
        "description": "광고의 상세를 조회해요\n\n캠페인에 따라 반응형 검색 광고(=responsive search ad) 혹은 반응형 디스플레이 광고(=responsive display ad) 입니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "광고 상세 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IGetAdGroupAdDetailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "광고 상세",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleAds.IGetAdGroupAdDetailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/campaigns/ads": {
      "post": {
        "summary": "광고를 생성해요",
        "description": "구글 고객 계정의 광고를 생성해요\n\n`Wrtn` 관리자는 편의 상 광고 그룹 당 광고를 1개 씩 생성하게 하고 있습니다.\n따라서 이 커넥터에서는 광고를 생성할 광고 그룹(=adGroup)의 리소스 이름이나 아이디를 받고 있지 않고 광고 생성 시 광고 그룹부터 생성이 됩니다.\n생성 가능한 광고의 타입은 캠페인에 달려 있기 때문에 캠페인을 조회한 후 생성해야 합니다.\n예를 들어, 검색 광고는 검색 캠페인에 생성해야 합니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n광고는 생성 직후 바로 검토 중으로 넘어가며, 이 때 구글 심사가 통과되면 광고는 집행되여 지출이 발생하게 됩니다.\n하지만 이 커넥터로 광고를 생성할 경우에는 광고 상태가 `PAUSED`로 설정이 됩니다.\n이는 만약의 사태를 대비하여 유저가 캠페인, 광고 그룹, 광고 등을 재조회하여 자신이 원하는 상태로 만들어졌는지 체크하게 하기 위함입니다.\n따라서 광고의 검토가 끝나더라도 광고는 집행되지 않으며 성과와 지출 역시 발생하지 않습니다.\n광고가 올바른지 체크하였다면, 유저는 `광고 수정 커넥터`를 이용하여 광고의 상태(status)를 `ENABLED` 값으로 변경할 수 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "광고 생성 조건",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ISecretICreateAdGroupSearchAdInput"
                  },
                  {
                    "$ref": "#/components/schemas/ISecretICreateAdGroupDisplayAdInput"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "SEARCH_STANDARD": "#/components/schemas/ISecretICreateAdGroupSearchAdInput",
                    "DISPLAY_STANDARD": "#/components/schemas/ISecretICreateAdGroupDisplayAdInput"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 광고 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleAds.IGetAdGroupsOutputResult"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/campaigns": {
      "patch": {
        "summary": "캠페인을 수정해요",
        "description": "구글 고객 계정의 광고 캠페인을 수정해요\n\n캠페인(campaign)을 수정합니다.\n캠페인에서 수정 가능한 대상은 캠페인의 이름과 예산, 그리고 종료 날짜 뿐입니다.\n캠페인의 이름은 사람이 인식하기 위한 값으로 광고에는 아무런 영향을 주지 않으니 편할대로 지정하면 됩니다.\n예산의 경우, 통화 단위 원화(KRW)에 맞춰 광고하고자 하는 예산을 기입하면 되며, 이 경우 하루 광고 지출은 예산의 위 아래로 형성됩니다.\n경우에 따라 예산보다 많이 지출되거나, 광고 최적화가 이루어지지 않은 경우 예산보다 더 적게 지출될 수도 있습니다.\n마지막의 종료 날짜는, 지정하지 않은 경우에는 광고가 종료되지 않고 계속 이루어지기 때문에 예약 종료 날짜로써 사용할 수 있습니다.\n단, 이미 지정한 종료 날짜를 지우지 않을 경우에는 추후 광고를 켜더라도 광고가 집행되지 않을 수도 있습니다.\n종료된 캠페인의 광고를 켜고 싶은 경우 캠페인의 종료 예정 날짜를 함께 변경하셔야 합니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "캠페인 수정 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.IUpdateCampaignInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      },
      "post": {
        "summary": "캠페인을 생성합니다",
        "description": "구글 고객 계정의 광고 캠페인을 생성해요\n\n캠페인(=campaign)을 생성합니다.\n캠페인은 Google Ads에서 계정 아래에 귀속되며, 캠페인, 광고 그룹, 광고로 이루어지는 트리 구조 상 최상단에 위치하게 됩니다.\n캠페인은 광고 그룹을 묶기 위한 부모 개체로써, 광고의 기간과 예산, 목적, 채널 등을 담당합니다.\n캠페인 이름을 지정하지 않을 경우 무작위 이름으로 지정됩니다. 이 경우 식별하기 어려울 수 있습니다.\n따라서 권장은 캠페인의 목적에 따라 각기 다른 이름을 지어 구분할 수 있도록 하는 것입니다.\n캠페인의 이름은 유저가 식별하기 편하게 할 뿐으로써, 광고의 효력에는 전혀 영향을 미치지 않으므로 안심해도 좋습니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "캠페인 생성 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.ICreateCampaignInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 캠페인 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleAds.IGetCampaignsOutputResult"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/search-ads": {
      "post": {
        "summary": "구글 고객 계정에 반응형 검색 광고를 한 번에 만들어요",
        "description": "구글 고객 계정에 광고를 한 번에 만들어요\n\n구글 광고를 한 번에 생성하는 것은 Google Ads 트리 구조 상 존재하는 캠페인, 광고 그룹, 광고를 한꺼번에 생성하는 것을 의미합니다.\n이 경우, 어떤 캠페인에 대해서 광고를 생성할 것인지 지정하지 않아도 됩니다.\n왜냐하면 첫 리소스인 캠페인부터 광고까지를 한꺼번에 모두 생성하기 때문입니다.\n\nGoogle Ads의 캠페인 트리 구조는 최상단 캠페인 노드에서 예산을 담당하고, 광고가 최적화될 때 광고 그룹과 광고는 캠페인의 예산을 공유하는 형태가 됩니다.\n이는 쉽게 말해 캠페인 내에서 광고는 어떤 것이 엔드 유저에게 노출될지 스스로 학습되고 최적화되고 있음을 의미합니다.\n따라서 이를 한 번에 생성하는 커넥터 구조 상 광고 생성은 간편하나 만일 여러 개의 광고를 생성하고자 한다면 부적합할 수 있습니다.\n단, 광고 소재가 여러 개가 있어, 여러 개의 광고를 생성하고 비교할 목적이 아니라면 간편하게 광고를 집행할 수 있어 매우 편리할 것입니다.\n\n대부분의 경우에는 이 방식으로 광고를 생성하더라도 문제가 되지 않습니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n광고는 생성 직후 바로 검토 중으로 넘어가며, 이 때 구글 심사가 통과되면 광고는 집행되여 지출이 발생하게 됩니다.\n하지만 이 커넥터로 광고를 생성할 경우에는 광고 상태가 `PAUSED`로 설정이 됩니다.\n이는 만약의 사태를 대비하여 유저가 캠페인, 광고 그룹, 광고 등을 재조회하여 자신이 원하는 상태로 만들어졌는지 체크하게 하기 위함입니다.\n따라서 광고의 검토가 끝나더라도 광고는 집행되지 않으며 성과와 지출 역시 발생하지 않습니다.\n광고가 올바른지 체크하였다면, 유저는 `광고 수정 커넥터`를 이용하여 광고의 상태(status)를 `ENABLED` 값으로 변경할 수 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "캠페인부터 광고까지 한 번에 생성하는 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.ICreateAdGroupSearchAdAtOnceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 캠페인부터 광고까지의 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepStrictMergeHelperIGoogleAds.IGetCampaignsOutputResultIGoogleAds.AdWrapper"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/connector/google-ads/display-ads": {
      "post": {
        "summary": "구글 계정 광고에 반응형 디스플레이 광고를 한 번에 만들어요",
        "description": "구글 고객 계정에 광고를 한 번에 만들어요\n\n구글 광고를 한 번에 생성하는 것은 Google Ads 트리 구조 상 존재하는 캠페인, 광고 그룹, 광고를 한꺼번에 생성하는 것을 의미합니다.\n이 경우, 어떤 캠페인에 대해서 광고를 생성할 것인지 지정하지 않아도 됩니다.\n왜냐하면 첫 리소스인 캠페인부터 광고까지를 한꺼번에 모두 생성하기 때문입니다.\n\nGoogle Ads의 캠페인 트리 구조는 최상단 캠페인 노드에서 예산을 담당하고, 광고가 최적화될 때 광고 그룹과 광고는 캠페인의 예산을 공유하는 형태가 됩니다.\n이는 쉽게 말해 캠페인 내에서 광고는 어떤 것이 엔드 유저에게 노출될지 스스로 학습되고 최적화되고 있음을 의미합니다.\n따라서 이를 한 번에 생성하는 커넥터 구조 상 광고 생성은 간편하나 만일 여러 개의 광고를 생성하고자 한다면 부적합할 수 있습니다.\n단, 광고 소재가 여러 개가 있어, 여러 개의 광고를 생성하고 비교할 목적이 아니라면 간편하게 광고를 집행할 수 있어 매우 편리할 것입니다.\n\n대부분의 경우에는 이 방식으로 광고를 생성하더라도 문제가 되지 않습니다.\n\n만약 `customerId`를 전달하지 않을 경우에는 해당 유저에게서 `Wrtn`이 접근 가능한 광고 계정이 단 1개인 경우에 한하여 자동으로 선택합니다.\n\n광고는 생성 직후 바로 검토 중으로 넘어가며, 이 때 구글 심사가 통과되면 광고는 집행되여 지출이 발생하게 됩니다.\n하지만 이 커넥터로 광고를 생성할 경우에는 광고 상태가 `PAUSED`로 설정이 됩니다.\n이는 만약의 사태를 대비하여 유저가 캠페인, 광고 그룹, 광고 등을 재조회하여 자신이 원하는 상태로 만들어졌는지 체크하게 하기 위함입니다.\n따라서 광고의 검토가 끝나더라도 광고는 집행되지 않으며 성과와 지출 역시 발생하지 않습니다.\n광고가 올바른지 체크하였다면, 유저는 `광고 수정 커넥터`를 이용하여 광고의 상태(status)를 `ENABLED` 값으로 변경할 수 있습니다.\n\n기능을 호출하기 전 유저에게 `customerId`를 물어봐야 하며 따라서 `customerId`를 확인할 수 있는 커넥터를 제안해야 한다.",
        "tags": [
          "구글 애즈",
          "광고",
          "Google Ads",
          "AD",
          "마케팅"
        ],
        "parameters": [],
        "requestBody": {
          "description": "캠페인부터 광고까지 한 번에 생성하는 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleAds.ICreateAdGroupDisplayAdAtOnceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 캠페인부터 광고까지의 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepStrictMergeHelperIGoogleAds.IGetCampaignsOutputResultIGoogleAds.AdWrapper"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/googleAD_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "구글 access token 재발급 요청",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleAds.IGenerateKeywordIdeaOutput": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleAds.GeneratedKeyword"
            },
            "title": "결과 목록"
          },
          "totalSize": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "전체 결과 수"
          },
          "nextPageToken": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "다음 페이지를 조회할 때 사용할 수 있는 토큰",
            "description": "다음 페이지가 없을 경우에는 조회 불가능"
          }
        },
        "required": [
          "results",
          "totalSize"
        ]
      },
      "IGoogleAds.GeneratedKeyword": {
        "type": "object",
        "properties": {
          "keywordIdeaMetrics": {
            "$ref": "#/components/schemas/IGoogleAds.KeywordIdeaMetrics",
            "title": "키워드에 대한 지표"
          },
          "text": {
            "type": "string",
            "title": "키워드"
          }
        },
        "required": [
          "keywordIdeaMetrics",
          "text"
        ]
      },
      "IGoogleAds.KeywordIdeaMetrics": {
        "type": "object",
        "properties": {
          "competition": {
            "oneOf": [
              {
                "const": "LOW",
                "title": "낮음",
                "description": "낮은 경쟁률 경쟁 지수 범위는 [0, 33]입니다."
              },
              {
                "const": "MEDIUM",
                "title": "중간",
                "description": "경쟁이 보통입니다. 이에 대한 경쟁 지수의 범위는 [34, 66]입니다."
              },
              {
                "const": "HIGH",
                "title": "높음",
                "description": "경쟁이 치열합니다. 경쟁 지수 범위는 [67, 100]입니다."
              }
            ],
            "title": "검색어에 대한 경쟁 수준"
          },
          "monthlySearchVolumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleAds.MonthlySearchVolumes"
            },
            "title": "지난 12개월 동안 이 검색어가 실행된 대략적인 검색 횟수"
          },
          "avgMonthlySearches": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "지난 12개월 간의 이 검색어에 대한 대략적인 월별 검색 수"
          },
          "competitionIndex": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "경쟁 지수"
          },
          "lowTopOfPageBidMicros": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "키워드의 마이크로 단위 페이지 상단 입찰가 하위 범위 (20번째 백분위수)"
          },
          "highTopOfPageBidMicros": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "키워드의 상세 페이지 상단 입찰가 (80번째 백분위수)"
          }
        },
        "required": [
          "monthlySearchVolumes",
          "avgMonthlySearches",
          "competitionIndex"
        ]
      },
      "IGoogleAds.MonthlySearchVolumes": {
        "type": "object",
        "properties": {
          "month": {
            "oneOf": [
              {
                "const": "JANUARY",
                "title": "January"
              },
              {
                "const": "FEBRUARY",
                "title": "February"
              },
              {
                "const": "MARCH",
                "title": "March"
              },
              {
                "const": "APRIL",
                "title": "April"
              },
              {
                "const": "MAY",
                "title": "May"
              },
              {
                "const": "JUNE",
                "title": "June"
              },
              {
                "const": "JULY",
                "title": "July"
              },
              {
                "const": "AUGUST",
                "title": "August"
              },
              {
                "const": "SEPTEMBER",
                "title": "September"
              },
              {
                "const": "OCTOBER",
                "title": "October"
              },
              {
                "const": "NOVEMBER",
                "title": "November"
              },
              {
                "const": "DECEMBER",
                "title": "December"
              }
            ],
            "title": "검색량이 발생한 달"
          },
          "year": {
            "type": "string",
            "title": "검색량이 발생한 연도"
          },
          "monthlySearches": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$"
              }
            ],
            "title": "해당 달의 대략적인 검색 수",
            "description": "null 값은 해당 월에 대한 검색량을 확인할 수 없음을 나타냅니다."
          }
        },
        "required": [
          "month",
          "year",
          "monthlySearches"
        ]
      },
      "IGoogleAds.IGenerateKeywordIdeaByKeywordsAndUrlInput": {
        "type": "object",
        "properties": {
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "title": "키워드 생성을 위한 검색 키워드"
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "title": "한 페이지 당 결과의 수"
          },
          "pageToken": {
            "type": "string",
            "title": "다음 페이지 토큰",
            "description": "이전 요청으로부터 받을 수 있는 페이지 토큰을 사용한다."
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "url": {
            "type": "string",
            "title": "광고 키워드 아이디어 생성에 참조할 URL."
          }
        },
        "required": [
          "keywords",
          "secretKey",
          "url"
        ]
      },
      "IGoogleAds.IGenerateKeywordIdeaByKeywordsInput": {
        "type": "object",
        "properties": {
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "title": "키워드 생성을 위한 검색 키워드"
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "title": "한 페이지 당 결과의 수"
          },
          "pageToken": {
            "type": "string",
            "title": "다음 페이지 토큰",
            "description": "이전 요청으로부터 받을 수 있는 페이지 토큰을 사용한다."
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "keywords",
          "secretKey"
        ]
      },
      "IGoogleAds.IGenerateKeywordIdeaByURLInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "광고 키워드 아이디어 생성에 참조할 URL."
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "title": "한 페이지 당 결과의 수"
          },
          "pageToken": {
            "type": "string",
            "title": "다음 페이지 토큰",
            "description": "이전 요청으로부터 받을 수 있는 페이지 토큰을 사용한다."
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "secretKey"
        ]
      },
      "IGoogleAds.ISecret": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "IGoogleAds.CustomerClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "title": "고객 아이디",
            "description": "고객마다 고유한 값을 가지고 있다."
          },
          "resourceName": {
            "type": "string",
            "pattern": "^(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/customerClients\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "고객 리소스 명"
          },
          "descriptiveName": {
            "type": "string",
            "title": "지정된 이름"
          },
          "currencyCode": {
            "type": "string",
            "title": "통화 단위, 통화 코드",
            "description": "'USD', 'EUR', 'KRW' 등을 의미"
          }
        },
        "required": [
          "id",
          "resourceName",
          "currencyCode"
        ]
      },
      "IGoogleAds.IGetCustomerInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "IGoogleAds.IGetCampaignsOutputResult": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/IGoogleAds.Campaign",
            "title": "캠페인 정보"
          },
          "campaignBudget": {
            "$ref": "#/components/schemas/IGoogleAds.CampaignBudget",
            "title": "캠페인 예산 정보"
          }
        },
        "required": [
          "campaign",
          "campaignBudget"
        ],
        "title": "캠페인 정보"
      },
      "IGoogleAds.Campaign": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/campaigns\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/campaigns/1",
            "title": "캠페인 리소스 명"
          },
          "status": {
            "oneOf": [
              {
                "const": "ENABLED",
                "title": "ENABLED"
              },
              {
                "const": "PAUSED",
                "title": "PAUSED"
              },
              {
                "const": "REMOVED",
                "title": "REMOVED"
              },
              {
                "const": "UNKNOWN",
                "title": "UNKNOWN"
              },
              {
                "const": "UNSPECIFIED",
                "title": "UNSPECIFIED"
              }
            ],
            "title": "캠페인 상태"
          },
          "advertisingChannelType": {
            "oneOf": [
              {
                "const": "DEMAND_GEN",
                "title": "DEMAND_GEN"
              },
              {
                "const": "DISPLAY",
                "title": "DISPLAY"
              },
              {
                "const": "HOTEL",
                "title": "HOTEL"
              },
              {
                "const": "LOCAL",
                "title": "LOCAL"
              },
              {
                "const": "LOCAL_SERVICES",
                "title": "LOCAL_SERVICES"
              },
              {
                "const": "MULTI_CHANNEL",
                "title": "MULTI_CHANNEL"
              },
              {
                "const": "PERFORMANCE_MAX",
                "title": "PERFORMANCE_MAX"
              },
              {
                "const": "SEARCH",
                "title": "SEARCH"
              },
              {
                "const": "SHOPPING",
                "title": "SHOPPING"
              },
              {
                "const": "SMART",
                "title": "SMART"
              },
              {
                "const": "TRAVEL",
                "title": "TRAVEL"
              },
              {
                "const": "UNKNOWN",
                "title": "UNKNOWN"
              },
              {
                "const": "UNSPECIFIED",
                "title": "UNSPECIFIED"
              },
              {
                "const": "VIDEO",
                "title": "VIDEO"
              }
            ],
            "title": "캠페인 광고 채널"
          },
          "name": {
            "type": "string",
            "title": "캠페인 이름"
          },
          "id": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "title": "캠페인 아이디"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "title": "캠페인 시작 일자"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "title": "캠페인 종료 일자"
          }
        },
        "required": [
          "resourceName",
          "status",
          "advertisingChannelType",
          "name",
          "id",
          "startDate",
          "endDate"
        ],
        "title": "구글 광고 캠페인"
      },
      "IGoogleAds.CampaignBudget": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string",
            "pattern": "^(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/campaignBudgets\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "캠페인 예산 리소스 명"
          },
          "amountMicros": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "예산 (마이크로 단위)"
          }
        },
        "required": [
          "resourceName",
          "amountMicros"
        ]
      },
      "IGoogleAds.IGetAdGroupsOutputResult": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/PickIGoogleAds.CampaignidresourceNamestatus",
            "title": "캠페인"
          },
          "adGroup": {
            "$ref": "#/components/schemas/PickIGoogleAds.AdGrouptypeidresourceName",
            "title": "광고 그룹"
          },
          "adGroupAds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PickIGoogleAds.AdGroupAdresourceNamepolicySummary"
            },
            "title": "광고 그룹 광고의 목록"
          },
          "keywords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeepStrictMergeHelperIGoogleAds.KeywordPickIGoogleAds.AdGroupCriterionresourceNamecriterionId"
            },
            "title": "키워드 목록"
          }
        },
        "required": [
          "campaign",
          "adGroup",
          "adGroupAds",
          "keywords"
        ]
      },
      "PickIGoogleAds.CampaignidresourceNamestatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "title": "캠페인 아이디"
          },
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/campaigns\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/campaigns/1",
            "title": "캠페인 리소스 명"
          },
          "status": {
            "oneOf": [
              {
                "const": "ENABLED",
                "title": "ENABLED"
              },
              {
                "const": "PAUSED",
                "title": "PAUSED"
              },
              {
                "const": "REMOVED",
                "title": "REMOVED"
              },
              {
                "const": "UNKNOWN",
                "title": "UNKNOWN"
              },
              {
                "const": "UNSPECIFIED",
                "title": "UNSPECIFIED"
              }
            ],
            "title": "캠페인 상태"
          }
        },
        "required": [
          "id",
          "resourceName",
          "status"
        ],
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "PickIGoogleAds.AdGrouptypeidresourceName": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": "SEARCH_STANDARD",
                "title": "검색 광고"
              },
              {
                "const": "DISPLAY_STANDARD",
                "title": "디스플레이 광고"
              }
            ],
            "title": "광고 그룹의 타입"
          },
          "id": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "광고 그룹의 아이디"
          },
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroups\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroups/1",
            "title": "광고 그룹 리소스 명",
            "description": "`customers/${number}/adGroups/${number}` 형식"
          }
        },
        "required": [
          "type",
          "id",
          "resourceName"
        ],
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "PickIGoogleAds.AdGroupAdresourceNamepolicySummary": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroupAds\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupAds/1~1",
            "title": "광고 그룹 광고의 리소스 명",
            "description": "`customers/${number}/adGroupAds/${number}~${number}` 형식"
          },
          "policySummary": {
            "type": "object",
            "properties": {
              "approvalStatus": {
                "oneOf": [
                  {
                    "const": "APPROVED",
                    "title": "승인됨"
                  },
                  {
                    "const": "APPROVED_LIMITED",
                    "title": "제한된 승인"
                  },
                  {
                    "const": "AREA_OF_INTEREST_ONLY",
                    "title": "특정 영역에 대한 허용"
                  },
                  {
                    "const": "DISAPPROVED",
                    "title": "비승인"
                  },
                  {
                    "const": "UNKNOWN",
                    "title": "알 수 없음"
                  },
                  {
                    "const": "UNSPECIFIED",
                    "title": "명시되지 않음"
                  }
                ],
                "title": "광고의 승인 여부",
                "description": "구글에서 해당 광고가 송출되어도 무방한지 판단한 내용입니다."
              },
              "reviewStatus": {
                "oneOf": [
                  {
                    "const": "ELIGIBLE_MAY_SERVE",
                    "title": "자격을 갖춤"
                  },
                  {
                    "const": "REVIEWED",
                    "title": "검토되었음"
                  },
                  {
                    "const": "REVIEW_IN_PROGRESS",
                    "title": "검토 중임"
                  },
                  {
                    "const": "UNDER_APPEAL",
                    "title": "심사 중임"
                  },
                  {
                    "const": "UNKNOWN",
                    "title": "알 수 없음"
                  },
                  {
                    "const": "UNSPECIFIED",
                    "title": "명시되지 않음"
                  }
                ],
                "title": "광고의 검토 상태",
                "description": "검토가 완료된 광고만이 승인, 비승인 여부를 알 수 있습니다."
              }
            },
            "required": [
              "approvalStatus",
              "reviewStatus"
            ],
            "title": "광고 심사 및 정책에 대한 평가 내역"
          }
        },
        "required": [
          "resourceName",
          "policySummary"
        ],
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "DeepStrictMergeHelperIGoogleAds.KeywordPickIGoogleAds.AdGroupCriterionresourceNamecriterionId": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/(.*)\\/adGroupCriteria\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupCriteria/1"
          },
          "criterionId": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$"
          },
          "matchType": {
            "oneOf": [
              {
                "const": "UNSPECIFIED",
                "title": "명시되지 않음"
              },
              {
                "const": "UNKNOWN",
                "title": "알 수 없음"
              },
              {
                "const": "EXACT",
                "title": "완전일치"
              },
              {
                "const": "PHRASE",
                "title": "구문일치"
              },
              {
                "const": "BROAD",
                "title": "확장검색"
              }
            ]
          }
        },
        "required": [
          "text",
          "resourceName",
          "criterionId",
          "matchType"
        ]
      },
      "IGoogleAds.IGetAdGroupInput": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-campaigns",
              "jmesPath": "[].campaign.{value:name, label:id}"
            },
            "title": "부모 캠페인의 아이디",
            "description": "해당 캠페인의 아이디만 검색하고 싶을 경우"
          },
          "adGroupResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroups\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroups/1",
            "title": "광고 그룹의 리소스 명",
            "description": "해당 광고 그룹 리소스 명으로만 검색하고 싶을 경우"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "PickIGoogleAds.AdGroupAdresourceNamestatuspolicySummary": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroupAds\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupAds/1~1",
            "title": "광고 그룹 광고의 리소스 명",
            "description": "`customers/${number}/adGroupAds/${number}~${number}` 형식"
          },
          "status": {
            "oneOf": [
              {
                "const": "ENABLED",
                "title": "ENABLED"
              },
              {
                "const": "PAUSED",
                "title": "PAUSED"
              },
              {
                "const": "REMOVED",
                "title": "REMOVED"
              },
              {
                "const": "UNKNOWN",
                "title": "UNKNOWN"
              },
              {
                "const": "UNSPECIFIED",
                "title": "UNSPECIFIED"
              }
            ],
            "title": "광고의 상태"
          },
          "policySummary": {
            "type": "object",
            "properties": {
              "approvalStatus": {
                "oneOf": [
                  {
                    "const": "APPROVED",
                    "title": "승인됨"
                  },
                  {
                    "const": "APPROVED_LIMITED",
                    "title": "제한된 승인"
                  },
                  {
                    "const": "AREA_OF_INTEREST_ONLY",
                    "title": "특정 영역에 대한 허용"
                  },
                  {
                    "const": "DISAPPROVED",
                    "title": "비승인"
                  },
                  {
                    "const": "UNKNOWN",
                    "title": "알 수 없음"
                  },
                  {
                    "const": "UNSPECIFIED",
                    "title": "명시되지 않음"
                  }
                ],
                "title": "광고의 승인 여부",
                "description": "구글에서 해당 광고가 송출되어도 무방한지 판단한 내용입니다."
              },
              "reviewStatus": {
                "oneOf": [
                  {
                    "const": "ELIGIBLE_MAY_SERVE",
                    "title": "자격을 갖춤"
                  },
                  {
                    "const": "REVIEWED",
                    "title": "검토되었음"
                  },
                  {
                    "const": "REVIEW_IN_PROGRESS",
                    "title": "검토 중임"
                  },
                  {
                    "const": "UNDER_APPEAL",
                    "title": "심사 중임"
                  },
                  {
                    "const": "UNKNOWN",
                    "title": "알 수 없음"
                  },
                  {
                    "const": "UNSPECIFIED",
                    "title": "명시되지 않음"
                  }
                ],
                "title": "광고의 검토 상태",
                "description": "검토가 완료된 광고만이 승인, 비승인 여부를 알 수 있습니다."
              }
            },
            "required": [
              "approvalStatus",
              "reviewStatus"
            ],
            "title": "광고 심사 및 정책에 대한 평가 내역"
          }
        },
        "required": [
          "resourceName",
          "status",
          "policySummary"
        ],
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "IGoogleAds.IGetAdGroupAdInput": {
        "type": "object",
        "properties": {
          "adGroupAdResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroupAds\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupAds/1~1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-ads",
              "jmesPath": "[].{value:resourceName, label:resourceName}"
            },
            "title": "광고 그룹 광고의 리소스 명"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "IGoogleAds.IGetMetricOutputResult": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "impressions": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "노출 수"
              },
              "clicks": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "클릭 수"
              },
              "costMicros": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "광고 지출 (마이크로 단위)",
                "description": "1,000,000분의 1로 원화 가치 표시"
              },
              "videoViews": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "비디오 뷰"
              },
              "averagePageViews": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "평균 페이지 뷰"
              },
              "videoQuartileP25Rate": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "동영상을 25% 본 수"
              },
              "videoQuartileP50Rate": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "동영상을 50% 본 수"
              },
              "videoQuartileP75Rate": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "동영상을 75% 본 수"
              },
              "videoQuartileP100Rate": {
                "type": "string",
                "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "동영상을 100% 본 수"
              }
            },
            "required": [
              "impressions",
              "clicks",
              "costMicros",
              "videoViews"
            ]
          },
          "adGroupAd": {
            "$ref": "#/components/schemas/PickIGoogleAds.AdGroupAdresourceName"
          }
        },
        "required": [
          "metrics",
          "adGroupAd"
        ]
      },
      "PickIGoogleAds.AdGroupAdresourceName": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroupAds\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupAds/1~1",
            "title": "광고 그룹 광고의 리소스 명",
            "description": "`customers/${number}/adGroupAds/${number}~${number}` 형식"
          }
        },
        "required": [
          "resourceName"
        ],
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "IGoogleAds.IGetMetricInput": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "title": "통계 조회 날짜"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "date",
          "secretKey"
        ]
      },
      "IGoogleAds.IGetKeywordsOutputResult": {
        "type": "object",
        "properties": {
          "adGroupCriterion": {
            "$ref": "#/components/schemas/PickAdGroupCriteriontypekeywordresourceNamestatuscriterionIdKeyword"
          }
        },
        "required": [
          "adGroupCriterion"
        ]
      },
      "PickAdGroupCriteriontypekeywordresourceNamestatuscriterionIdKeyword": {
        "type": "object",
        "properties": {
          "type": {
            "const": "KEYWORD",
            "title": "타입"
          },
          "keyword": {
            "$ref": "#/components/schemas/IGoogleAds.Keyword",
            "title": "키워드"
          },
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/(.*)\\/adGroupCriteria\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupCriteria/1",
            "title": "광고 그룹 표준 리소스 이름\n\n`customers/${number}/adGroupCriteria/number~${number}` 형식"
          },
          "status": {
            "oneOf": [
              {
                "const": "ENABLED",
                "title": "ENABLED"
              },
              {
                "const": "PAUSED",
                "title": "PAUSED"
              },
              {
                "const": "REMOVED",
                "title": "REMOVED"
              },
              {
                "const": "UNKNOWN",
                "title": "UNKNOWN"
              },
              {
                "const": "UNSPECIFIED",
                "title": "UNSPECIFIED"
              }
            ],
            "title": "광고 그룹 표준 상태"
          },
          "criterionId": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "광고 그룹 표준 아이디"
          },
          "text": {
            "type": "string",
            "title": "키워드 텍스트"
          },
          "matchType": {
            "oneOf": [
              {
                "const": "UNSPECIFIED",
                "title": "명시되지 않음"
              },
              {
                "const": "UNKNOWN",
                "title": "알 수 없음"
              },
              {
                "const": "EXACT",
                "title": "완전일치"
              },
              {
                "const": "PHRASE",
                "title": "구문일치"
              },
              {
                "const": "BROAD",
                "title": "확장검색"
              }
            ],
            "title": "키워드 일치 타입"
          }
        },
        "required": [
          "type",
          "keyword",
          "resourceName",
          "status",
          "criterionId",
          "text",
          "matchType"
        ]
      },
      "IGoogleAds.Keyword": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "키워드 텍스트"
          },
          "matchType": {
            "oneOf": [
              {
                "const": "UNSPECIFIED",
                "title": "명시되지 않음"
              },
              {
                "const": "UNKNOWN",
                "title": "알 수 없음"
              },
              {
                "const": "EXACT",
                "title": "완전일치"
              },
              {
                "const": "PHRASE",
                "title": "구문일치"
              },
              {
                "const": "BROAD",
                "title": "확장검색"
              }
            ],
            "title": "키워드 일치 타입"
          }
        },
        "required": [
          "text",
          "matchType"
        ]
      },
      "IGoogleAds.IGetKeywordsInput": {
        "type": "object",
        "properties": {
          "adGroupResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroups\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroups/1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-ad-groups",
              "jmesPath": "[].adGroup.{value:resourceName, label:resourceName}"
            },
            "title": "광고 그룹 리소스 명"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "adGroupResourceName",
          "secretKey"
        ],
        "title": "키워드 조회 조건"
      },
      "IGoogleAds.ISetOnOffInput": {
        "type": "object",
        "properties": {
          "adGroupAdResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroupAds\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupAds/1~1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-ads",
              "jmesPath": "[].{value:resourceName, label:resourceName}"
            },
            "title": "광고 그룹 광고의 리소스 명"
          },
          "status": {
            "oneOf": [
              {
                "const": "ENABLED",
                "title": "ENABLED"
              },
              {
                "const": "PAUSED",
                "title": "PAUSED"
              }
            ],
            "title": "광고 상태"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "adGroupAdResourceName",
          "status",
          "secretKey"
        ]
      },
      "IGoogleAds.IDeleteAdGroupCriteriaInput": {
        "type": "object",
        "properties": {
          "resourceNames": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "(customers\\/(.*)\\/adGroupCriteria\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
              "x-wrtn-placeholder": "customers/1/adGroupCriteria/1",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "connector/google-ads/get-keywords",
                "jmesPath": "[].adGroupCriterion.{value:resourceName, label:text}"
              }
            },
            "title": "삭제할 키워드의 아이디"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "resourceNames",
          "secretKey"
        ],
        "title": "키워드 삭제 조건"
      },
      "IGoogleAds.ICreateAdGroupCriteriaInput": {
        "type": "object",
        "properties": {
          "adGroupResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroups\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroups/1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-ad-groups",
              "jmesPath": "[].adGroup.{value:resourceName, label:resourceName}"
            },
            "title": "키워드를 추가할 광고 그룹의 리소스 네임"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "생성할 키워드"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "adGroupResourceName",
          "keywords",
          "secretKey"
        ]
      },
      "IGoogleAds.IGetAdGroupAdDetailOutput": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroupAds\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupAds/1~1",
            "title": "광고 그룹 광고의 리소스 명"
          },
          "status": {
            "oneOf": [
              {
                "const": "ENABLED",
                "title": "ENABLED"
              },
              {
                "const": "PAUSED",
                "title": "PAUSED"
              },
              {
                "const": "REMOVED",
                "title": "REMOVED"
              },
              {
                "const": "UNKNOWN",
                "title": "UNKNOWN"
              },
              {
                "const": "UNSPECIFIED",
                "title": "UNSPECIFIED"
              }
            ],
            "title": "광고의 현재 상태"
          },
          "ad": {
            "type": "object",
            "properties": {
              "resourceName": {
                "type": "string",
                "pattern": "^(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/ads\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                "title": "광고의 리소스 명"
              },
              "detail": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IGoogleAds.ResponsiveSearchAd"
                  },
                  {
                    "$ref": "#/components/schemas/IGoogleAds.ResponsiveDisplayAd"
                  }
                ],
                "title": "광고 소재 정보"
              }
            },
            "required": [
              "resourceName",
              "detail"
            ],
            "title": "조회한 광고 내역"
          }
        },
        "required": [
          "resourceName",
          "status",
          "ad"
        ]
      },
      "IGoogleAds.ResponsiveSearchAd": {
        "type": "object",
        "properties": {
          "descriptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "title": "등록된 설명"
                }
              },
              "required": [
                "text"
              ]
            },
            "title": "설명 목록"
          },
          "headlines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "title": "등록된 제목"
                }
              },
              "required": [
                "text"
              ]
            },
            "title": "제목 목록"
          }
        },
        "required": [
          "descriptions",
          "headlines"
        ]
      },
      "IGoogleAds.ResponsiveDisplayAd": {
        "type": "object",
        "properties": {
          "longHeadline": {
            "title": "긴 제목"
          },
          "businessName": {
            "title": "브랜드 이름"
          },
          "marketingImages": {},
          "squareMarketingImages": {},
          "squareLogoImages": {},
          "descriptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "title": "등록된 설명"
                }
              },
              "required": [
                "text"
              ]
            },
            "title": "설명 목록"
          },
          "headlines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "title": "등록된 제목"
                }
              },
              "required": [
                "text"
              ]
            },
            "title": "제목 목록"
          }
        },
        "required": [
          "longHeadline",
          "businessName",
          "marketingImages",
          "squareMarketingImages",
          "squareLogoImages",
          "descriptions",
          "headlines"
        ]
      },
      "IGoogleAds.IGetAdGroupAdDetailInput": {
        "type": "object",
        "properties": {
          "adGroupAdResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/adGroupAds\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?~[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/adGroupAds/1~1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-ads",
              "jmesPath": "[].{value:resourceName, label:resourceName}"
            },
            "title": "광고 그룹 광고의 리소스 명"
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "adGroupAdResourceName",
          "secretKey"
        ]
      },
      "ISecretICreateAdGroupSearchAdInput": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "finalUrl": {
            "type": "string",
            "format": "uri",
            "title": "광고의 대상이 되는 홈페이지"
          },
          "headlines": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "minItems": 1,
            "maxItems": 15,
            "title": "제목 리스트"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90
            },
            "minItems": 1,
            "maxItems": 4,
            "title": "설명 리스트"
          },
          "type": {
            "const": "SEARCH_STANDARD",
            "title": "광고 그룹 타입"
          },
          "campaignResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/campaigns\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/campaigns/1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-campaigns",
              "jmesPath": "[].campaign.{value:name, label:id}"
            },
            "title": "캠페인 리소스 이름"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "생성할 키워드"
          }
        },
        "required": [
          "customerId",
          "secretKey",
          "finalUrl",
          "headlines",
          "descriptions",
          "type",
          "campaignResourceName",
          "keywords"
        ]
      },
      "ISecretICreateAdGroupDisplayAdInput": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "finalUrl": {
            "type": "string",
            "format": "uri",
            "title": "광고의 대상이 되는 홈페이지"
          },
          "headlines": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 30
            },
            "minItems": 1,
            "maxItems": 5,
            "title": "짧은 제목 리스트"
          },
          "longHeadline": {
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "title": "긴 제목"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90
            },
            "minItems": 1,
            "maxItems": 5,
            "title": "설명 리스트"
          },
          "businessName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "title": "비즈니스 및 브랜드 이름"
          },
          "landscapeImages": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri",
              "contentMediaType": "image/*"
            },
            "minItems": 1,
            "maxItems": 15,
            "title": "가로형 이미지",
            "description": "1.91:1의 가로형 이미지이며 권장은 5장"
          },
          "logoImages": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri",
              "contentMediaType": "image/*"
            },
            "minItems": 1,
            "maxItems": 5,
            "title": "로고 이미지",
            "description": "정방형 이미지로 최소 크기는 128x128px, 권장은 1200x1200px"
          },
          "squareImages": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri",
              "contentMediaType": "image/*"
            },
            "minItems": 1,
            "maxItems": 15,
            "title": "정방형 이미지",
            "description": "1.91:1의 가로형 이미지이며 최소 크기는 300x300px, 권장은 600x600px"
          },
          "type": {
            "const": "DISPLAY_STANDARD",
            "title": "광고 그룹 타입"
          },
          "campaignResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/campaigns\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/campaigns/1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-campaigns",
              "jmesPath": "[].campaign.{value:name, label:id}"
            },
            "title": "캠페인 리소스 이름"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "생성할 키워드"
          }
        },
        "required": [
          "customerId",
          "secretKey",
          "finalUrl",
          "headlines",
          "longHeadline",
          "descriptions",
          "businessName",
          "landscapeImages",
          "logoImages",
          "squareImages",
          "type",
          "campaignResourceName",
          "keywords"
        ]
      },
      "IGoogleAds.IUpdateCampaignInput": {
        "type": "object",
        "properties": {
          "campaignResourceName": {
            "type": "string",
            "pattern": "(customers\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?\\/campaigns\\/[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "customers/1/campaigns/1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-campaigns",
              "jmesPath": "[].campaign.{value:name, label:id}"
            },
            "title": "수정할 캠페인의 리소스 아이디"
          },
          "campaignName": {
            "type": "string",
            "title": "캠페인 이름\n\n이름이 비어있을 경우 무작위 이름이 생성됩니다. 이름은 기존에 생성된 캠페인과 중복되서는 안 됩니다."
          },
          "campaignBudget": {
            "type": "number",
            "title": "광고 예산",
            "description": "한국 통화 단위로써, 원화 단위"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "title": "캠페인 종료 시간"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/adwords"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "customerId": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "1",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "connector/google-ads/get-customers",
              "jmesPath": "[].{value:id, label:id}"
            },
            "title": "고객 리소스 아이디",
            "description": "고객의 리소스 아이디이다.\n\n`customers/${number}` 형식에서 'custmers/'을 제거한 나머지 숫자 형식을 의미한다.\n\n`Wrtn`의 `google ads` 관련 커넥터들은 해당 고객이 가지고 있는 광고 계정, 즉 customer 중 어떤 광고 계정을 사용할 것인지를 `customerId` 라는 프로퍼티로 받아야 하는데,\n\n이 때 대부분의 유저들은 광고 계정이 1개이기 때문에 `customerId`를 인자로 주지 않으면 무조건 0번쨰로 조회되는 광고 계정을 사용한다.\n\n만약 광고 계정이 2개 이상인 유저가 `customerId`를 주지 않을 경우에는 무조건 실패로 간주한다."
          }
        },
        "required": [
          "campaignResourceName",
          "secretKey"
        ],
        "title": "캠페인 수정 조건"
      },
      "IGoogleAds.ICreateCampaignInput": {
        "type": "object",
        "properties": {
          "advertisingChannelType": {
            "oneOf": [
              {
                "const": "SEARCH",
                "title": "검색 광고",
                "description": "Google 검색에서 구매 의도가 높은 고객에게 적시에 노출"
              },
              {
                "const": "DISPLAY",
                "title": "디스플레이 광고",
                "description": "눈에 잘 띄는 광고 소재로 3백만 사이트와 앱에서 고객에게 도달",
                "default": "SEARCH"
              }
            ],
            "title": "캠페인 타입"
          },
          "campaignName": {
            "type": "string",
            "title": "캠페인 이름\n\n이름이 비어있을 경우 무작위 이름이 생성됩니다. 이름은 기존에 생성된 캠페인과 중복되서는 안 됩니다."
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "title": "캠페인 시작 시간"
          },
          "endDate": {
            "type": "string",
[...]
