{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 학술 자료 통합 검색",
    "summary": "구글 스칼라를 이용해 학술 자료를 빠르고 정확하게 찾을 수 있어요.",
    "description": "구글 스칼라를 통해 논문, 학술지, 도서, 학위 논문 등 다양한 학술 자료를 효율적으로 검색하고 접근할 수 있어요. 키워드, 저자, 출판 연도 등으로 검색할 수 있고, 인용 횟수나 관련성에 따라 결과를 정렬할 수 있어요. 특정 논문의 인용 정보를 확인하거나, 관련 논문을 쉽게 찾아볼 수 있어요. 또한, 일부 자료의 경우 전문(full-text)을 바로 확인할 수 있어 연구나 학습에 매우 유용해요. 학생, 연구자, 그리고 지식에 관심 있는 모든 분들이 활용하기 좋은 도구예요.",
    "version": "0.1.358",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-scholar": {
      "post": {
        "summary": "Search Google Scholar paper list",
        "description": "Get a list of papers in Google Scholar",
        "tags": [
          "Google Scholar"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google Scholar paper search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleScholar.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Google Scholar paper list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleScholar.ISearchOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleScholar_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleScholar.ISearchOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Unique id of search result data",
            "description": "Unique id of search result data."
          },
          "title": {
            "type": "string",
            "title": "Title of the paper searched",
            "description": "This is the title of the paper searched."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "Link to the searched paper",
            "description": "Here is the link to the searched paper."
          },
          "snippet": {
            "type": "string",
            "title": "Snippet of the search results",
            "description": "Here is a snippet of the search results."
          },
          "publication_info": {
            "type": "string",
            "title": "Publication Summary Information",
            "description": "Here is the publication summary information for the searched paper."
          },
          "resource": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleScholar.IResource"
                }
              }
            ],
            "title": "Reference information",
            "description": "Here is the reference information for the searched paper."
          },
          "citation_count": {
            "type": "integer",
            "title": "Number of times cited",
            "description": "The number of times the searched paper was cited."
          },
          "related_pages_link": {
            "type": "string",
            "format": "iri",
            "title": "Links to related academic materials",
            "description": "Here are links to academic materials related to the searched paper."
          },
          "version_info": {
            "$ref": "#/components/schemas/IGoogleScholar.IVersion",
            "title": "Version information",
            "description": "Here is the version information for the searched paper."
          }
        },
        "required": [
          "id",
          "title",
          "link",
          "snippet",
          "publication_info",
          "resource",
          "citation_count",
          "related_pages_link",
          "version_info"
        ],
        "title": "Search Results"
      },
      "IGoogleScholar.IResource": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title of the reference material",
            "description": "Title of the reference material."
          },
          "file_format": {
            "type": "string",
            "title": "Reference file format",
            "description": "This is the format of the reference file."
          },
          "link": {
            "type": "string",
            "format": "iri",
            "title": "Link to the reference material",
            "description": "Here is a link to the reference material."
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "References"
      },
      "IGoogleScholar.IVersion": {
        "type": "object",
        "properties": {
          "version": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Version information",
            "description": "Here is the version information."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "Version-related links",
            "description": "Here are the version-related links."
          }
        },
        "required": [
          "version",
          "link"
        ],
        "title": "version"
      },
      "IGoogleScholar.ISearchInput": {
        "type": "object",
        "properties": {
          "andKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "biology"
            },
            "title": "Keywords that must be included",
            "description": "Keywords that must be included in search results."
          },
          "orKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "ecosystem"
            },
            "title": "Keywords that you would like to see included",
            "description": "Keywords that you would like to see included in your search results."
          },
          "notKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "pollution"
            },
            "title": "Keywords to exclude",
            "description": "Keywords that should not be included in search results."
          },
          "max_results": {
            "type": "integer",
            "x-wrtn-placeholder": "10",
            "title": "Number of search results",
            "description": "Sets how many search results to retrieve."
          }
        },
        "required": [
          "andKeyword",
          "max_results"
        ],
        "title": "Search Conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Google Scholar"
    }
  ],
  "x-samchon-emended": true
}