{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 학술 자료 통합 검색",
    "summary": "구글 스칼라를 이용해 학술 자료를 빠르고 정확하게 찾을 수 있어요.",
    "description": "구글 스칼라를 통해 논문, 학술지, 도서, 학위 논문 등 다양한 학술 자료를 효율적으로 검색하고 접근할 수 있어요. 키워드, 저자, 출판 연도 등으로 검색할 수 있고, 인용 횟수나 관련성에 따라 결과를 정렬할 수 있어요. 특정 논문의 인용 정보를 확인하거나, 관련 논문을 쉽게 찾아볼 수 있어요. 또한, 일부 자료의 경우 전문(full-text)을 바로 확인할 수 있어 연구나 학습에 매우 유용해요. 학생, 연구자, 그리고 지식에 관심 있는 모든 분들이 활용하기 좋은 도구예요.",
    "version": "0.1.115",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-scholar": {
      "post": {
        "summary": "구글 스콜라 논문 목록 검색",
        "description": "구글 스콜라에 있는 논문 목록을 가져옵니다.",
        "tags": [
          "Google-Scholar",
          "구글",
          "학술",
          "논문",
          "연구",
          "통계",
          "출처",
          "초록",
          "학회지",
          "학술지",
          "피어",
          "연구자",
          "참고",
          "인용",
          "학위",
          "과학",
          "기술",
          "h-인덱스",
          "수학",
          "물리학",
          "생물학",
          "컴퓨터과학",
          "화학",
          "머신러닝",
          "인공지능",
          "HCI",
          "대학원",
          "석사",
          "박사",
          "교수",
          "ACM",
          "AAAI",
          "NeurIPS",
          "ICML",
          "CVPR",
          "SIGGRAPH",
          "CHI",
          "ICCV",
          "ECCV",
          "ACL",
          "EMNLP",
          "ICASSP",
          "KDD",
          "WWW",
          "AAAS",
          "ACS",
          "APS",
          "AAS",
          "AGU",
          "GSA",
          "MRS",
          "RSC",
          "ESA",
          "ASCB",
          "ASM",
          "ASHG",
          "AACR",
          "AHA",
          "ADA",
          "SfN",
          "FASEB",
          "ISCB",
          "IUBMB",
          "ASME",
          "ASCE",
          "AIAA",
          "SAE",
          "SPIE",
          "AOM",
          "AMA",
          "AEA",
          "INFORMS",
          "APA",
          "APSA",
          "ASA",
          "MLA",
          "ISA",
          "UNESCO",
          "Google",
          "Academic",
          "Paper",
          "Find",
          "Cite",
          "Research",
          "Statistics",
          "Source",
          "Abstract",
          "Journal",
          "Peer-Reviewed",
          "Download",
          "Write",
          "Researcher",
          "References",
          "Citation",
          "Recommend",
          "Thesis",
          "Scientific",
          "Technical",
          "h-Index",
          "Mathematics",
          "Physics",
          "Biology",
          "Computer",
          "Chemistry",
          "Machine",
          "Artificial",
          "Human-Computer",
          "Graduate",
          "Master's",
          "PhD"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 스콜라 논문 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleScholar.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 스콜라 논문 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleScholar.ISearchOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleScholar_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleScholar.ISearchOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "검색 결과 데이터 고유 id",
            "description": "검색 결과 데이터의 고유 id 입니다."
          },
          "title": {
            "type": "string",
            "title": "검색된 논문 제목",
            "description": "검색된 논문의 제목입니다."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "검색된 논문 링크",
            "description": "검색된 논문의 링크입니다."
          },
          "snippet": {
            "type": "string",
            "title": "검색 결과 내용 단편",
            "description": "검색 결과의 내용 단편입니다."
          },
          "publication_info": {
            "type": "string",
            "title": "출판 요약 정보",
            "description": "검색된 논문의 출판 요약 정보입니다."
          },
          "resource": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleScholar.IResource"
                }
              }
            ],
            "title": "참고자료 정보",
            "description": "검색된 논문의 참고자료 정보입니다."
          },
          "citation_count": {
            "type": "integer",
            "title": "인용된 횟수",
            "description": "검색된 논문이 인용된 횟수입니다."
          },
          "related_pages_link": {
            "type": "string",
            "format": "uri",
            "title": "관련 학술 자료 링크",
            "description": "검색된 논문과 관련된 학술 자료 링크입니다."
          },
          "version_info": {
            "$ref": "#/components/schemas/IGoogleScholar.IVersion",
            "title": "버전 정보",
            "description": "검색된 논문의 버전 정보입니다."
          }
        },
        "required": [
          "id",
          "title",
          "link",
          "snippet",
          "publication_info",
          "resource",
          "citation_count",
          "related_pages_link",
          "version_info"
        ],
        "title": "검색 결과"
      },
      "IGoogleScholar.IResource": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "참고 자료 제목",
            "description": "참고 자료의 제목입니다."
          },
          "file_format": {
            "type": "string",
            "title": "참고자료 파일 형식",
            "description": "참고자료 파일의 형식입니다."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "참고자료 링크",
            "description": "참고자료의 링크입니다."
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "참고 자료"
      },
      "IGoogleScholar.IVersion": {
        "type": "object",
        "properties": {
          "version": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ],
            "title": "버전 정보",
            "description": "버전 정보입니다."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "버전 관련 링크",
            "description": "버전 관련 링크입니다."
          }
        },
        "required": [
          "version",
          "link"
        ],
        "title": "버전"
      },
      "IGoogleScholar.ISearchInput": {
        "type": "object",
        "properties": {
          "andKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "biology"
            },
            "title": "꼭 포함할 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "orKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "ecosystem"
            },
            "title": "포함 되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "notKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "pollution"
            },
            "title": "제외할 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          },
          "max_results": {
            "type": "integer",
            "x-wrtn-placeholder": "10",
            "title": "검색 결과 갯수",
            "description": "몇 개의 검색 결과를 받아올 것인지 설정합니다."
          }
        },
        "required": [
          "andKeyword",
          "max_results"
        ],
        "title": "검색 조건"
      }
    }
  },
  "tags": [
    {
      "name": "Google-Scholar"
    },
    {
      "name": "구글",
      "description": "스칼라"
    },
    {
      "name": "학술",
      "description": "검색"
    },
    {
      "name": "논문",
      "description": "찾기"
    },
    {
      "name": "연구",
      "description": "논문"
    },
    {
      "name": "통계"
    },
    {
      "name": "출처"
    },
    {
      "name": "초록",
      "description": "요약"
    },
    {
      "name": "학회지"
    },
    {
      "name": "학술지"
    },
    {
      "name": "피어",
      "description": "리뷰 논문"
    },
    {
      "name": "연구자"
    },
    {
      "name": "참고",
      "description": "문헌"
    },
    {
      "name": "인용",
      "description": "지수"
    },
    {
      "name": "학위",
      "description": "논문"
    },
    {
      "name": "과학",
      "description": "논문"
    },
    {
      "name": "기술",
      "description": "논문"
    },
    {
      "name": "h-인덱스"
    },
    {
      "name": "수학"
    },
    {
      "name": "물리학"
    },
    {
      "name": "생물학"
    },
    {
      "name": "컴퓨터과학"
    },
    {
      "name": "화학"
    },
    {
      "name": "머신러닝"
    },
    {
      "name": "인공지능"
    },
    {
      "name": "HCI"
    },
    {
      "name": "대학원",
      "description": "프로그램 추천"
    },
    {
      "name": "석사"
    },
    {
      "name": "박사"
    },
    {
      "name": "교수",
      "description": "추천"
    },
    {
      "name": "ACM"
    },
    {
      "name": "AAAI"
    },
    {
      "name": "NeurIPS"
    },
    {
      "name": "ICML"
    },
    {
      "name": "CVPR"
    },
    {
      "name": "SIGGRAPH"
    },
    {
      "name": "CHI"
    },
    {
      "name": "ICCV"
    },
    {
      "name": "ECCV"
    },
    {
      "name": "ACL"
    },
    {
      "name": "EMNLP"
    },
    {
      "name": "ICASSP"
    },
    {
      "name": "KDD"
    },
    {
      "name": "WWW"
    },
    {
      "name": "AAAS"
    },
    {
      "name": "ACS"
    },
    {
      "name": "APS"
    },
    {
      "name": "AAS"
    },
    {
      "name": "AGU"
    },
    {
      "name": "GSA"
    },
    {
      "name": "MRS"
    },
    {
      "name": "RSC"
    },
    {
      "name": "ESA"
    },
    {
      "name": "ASCB"
    },
    {
      "name": "ASM"
    },
    {
      "name": "ASHG"
    },
    {
      "name": "AACR"
    },
    {
      "name": "AHA"
    },
    {
      "name": "ADA"
    },
    {
      "name": "SfN"
    },
    {
      "name": "FASEB"
    },
    {
      "name": "ISCB"
    },
    {
      "name": "IUBMB"
    },
    {
      "name": "ASME"
    },
    {
      "name": "ASCE"
    },
    {
      "name": "AIAA"
    },
    {
      "name": "SAE"
    },
    {
      "name": "SPIE"
    },
    {
      "name": "AOM"
    },
    {
      "name": "AMA"
    },
    {
      "name": "AEA"
    },
    {
      "name": "INFORMS"
    },
    {
      "name": "APA"
    },
    {
      "name": "APSA"
    },
    {
      "name": "ASA"
    },
    {
      "name": "MLA"
    },
    {
      "name": "ISA"
    },
    {
      "name": "UNESCO"
    },
    {
      "name": "Google",
      "description": "Scholar"
    },
    {
      "name": "Academic",
      "description": "Search"
    },
    {
      "name": "Paper"
    },
    {
      "name": "Find",
      "description": "Papers"
    },
    {
      "name": "Cite",
      "description": "Papers"
    },
    {
      "name": "Research",
      "description": "Paper"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Source"
    },
    {
      "name": "Abstract",
      "description": "Summary"
    },
    {
      "name": "Journal"
    },
    {
      "name": "Peer-Reviewed",
      "description": "Paper"
    },
    {
      "name": "Download",
      "description": "Paper"
    },
    {
      "name": "Write",
      "description": "Paper"
    },
    {
      "name": "Researcher"
    },
    {
      "name": "References"
    },
    {
      "name": "Citation",
      "description": "Index"
    },
    {
      "name": "Recommend",
      "description": "Papers"
    },
    {
      "name": "Thesis"
    },
    {
      "name": "Scientific",
      "description": "Paper"
    },
    {
      "name": "Technical",
      "description": "Paper"
    },
    {
      "name": "h-Index"
    },
    {
      "name": "Mathematics"
    },
    {
      "name": "Physics"
    },
    {
      "name": "Biology"
    },
    {
      "name": "Computer",
      "description": "Science"
    },
    {
      "name": "Chemistry"
    },
    {
      "name": "Machine",
      "description": "Learning"
    },
    {
      "name": "Artificial",
      "description": "Intelligence"
    },
    {
      "name": "Human-Computer",
      "description": "Interaction"
    },
    {
      "name": "Graduate",
      "description": "School"
    },
    {
      "name": "Master's"
    },
    {
      "name": "PhD"
    }
  ],
  "x-samchon-emended": true
}