{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "google-search",
    "version": "0.1.447",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-search": {
      "patch": {
        "summary": "Google search",
        "description": "Search Google for the search term you entered",
        "tags": [
          "Google Search"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google search terms",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_search",
          "search"
        ],
        "x-samchon-controller": "GoogleSearchController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSearch_full.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "구글 검색 좀 해줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSearch.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Search Results Title"
          },
          "link": {
            "type": "string",
            "format": "iri",
            "title": "Search Results Link"
          },
          "snippet": {
            "type": "string",
            "title": "Search Results Summary"
          },
          "thumbnail": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "image/*",
            "title": "Search Results thumbnail"
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "Search Results"
      },
      "IGoogleSearch.IRequest": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "Must-include keywords",
            "description": "Set keywords that must be included in search results."
          },
          "orKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "Good keywords to enter",
            "description": "Set good keywords to enter the search results."
          },
          "notKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "Keywords that should not be included",
            "description": "Set keywords that should not be included in search results."
          },
          "max_results": {
            "type": "integer",
            "title": "Number of search results",
            "description": "Set the number of search results."
          }
        },
        "required": [
          "andKeywords",
          "max_results"
        ],
        "title": "Conditions for searching"
      }
    }
  },
  "tags": [
    {
      "name": "Google Search"
    }
  ],
  "x-samchon-emended": true
}