{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "google-scholar",
    "version": "0.1.457",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-scholar": {
      "patch": {
        "summary": "Search Google Scholar paper list",
        "description": "Get a list of papers in Google Scholar",
        "tags": [
          "Google Scholar"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google Scholar paper search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleScholar.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google Scholar paper list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleScholar.ISearchOutput"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_scholar",
          "search"
        ],
        "x-samchon-controller": "GoogleScholarController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/google_scholar.svg",
        "x-wrtn-standalone": true,
        "x-wrtn-function-select-benchmarks": [
          "google scholar에서 논문 좀 찾아줘"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleScholar.ISearchOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Unique id of search result data",
            "description": "Unique id of search result data."
          },
          "title": {
            "type": "string",
            "title": "Title of the paper searched",
            "description": "This is the title of the paper searched."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "Link to the searched paper",
            "description": "Here is the link to the searched paper."
          },
          "snippet": {
            "type": "string",
            "title": "Snippet of the search results",
            "description": "Here is a snippet of the search results."
          },
          "publication_info": {
            "type": "string",
            "title": "Publication Summary Information",
            "description": "Here is the publication summary information for the searched paper."
          },
          "resource": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleScholar.IResource"
                }
              }
            ],
            "title": "Reference information",
            "description": "Here is the reference information for the searched paper."
          },
          "citation_count": {
            "type": "integer",
            "title": "Number of times cited",
            "description": "The number of times the searched paper was cited."
          },
          "related_pages_link": {
            "type": "string",
            "format": "iri",
            "title": "Links to related academic materials",
            "description": "Here are links to academic materials related to the searched paper."
          },
          "version_info": {
            "$ref": "#/components/schemas/IGoogleScholar.IVersion",
            "title": "Version information",
            "description": "Here is the version information for the searched paper."
          }
        },
        "required": [
          "id",
          "title",
          "link",
          "snippet",
          "publication_info",
          "resource",
          "citation_count",
          "related_pages_link",
          "version_info"
        ],
        "title": "Search Results"
      },
      "IGoogleScholar.IResource": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title of the reference material",
            "description": "Title of the reference material."
          },
          "file_format": {
            "type": "string",
            "title": "Reference file format",
            "description": "This is the format of the reference file."
          },
          "link": {
            "type": "string",
            "format": "iri",
            "title": "Link to the reference material",
            "description": "Here is a link to the reference material."
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "References"
      },
      "IGoogleScholar.IVersion": {
        "type": "object",
        "properties": {
          "version": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Version information",
            "description": "Here is the version information."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "Version-related links",
            "description": "Here are the version-related links."
          }
        },
        "required": [
          "version",
          "link"
        ],
        "title": "version"
      },
      "IGoogleScholar.ISearchInput": {
        "type": "object",
        "properties": {
          "andKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "biology"
            },
            "title": "Keywords that must be included",
            "description": "Keywords that must be included in search results."
          },
          "orKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "ecosystem"
            },
            "title": "Keywords that you would like to see included",
            "description": "Keywords that you would like to see included in your search results."
          },
          "notKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "pollution"
            },
            "title": "Keywords to exclude",
            "description": "Keywords that should not be included in search results."
          },
          "max_results": {
            "type": "integer",
            "x-wrtn-placeholder": "10",
            "title": "Number of search results",
            "description": "Sets how many search results to retrieve."
          }
        },
        "required": [
          "andKeyword",
          "max_results"
        ],
        "title": "Search Conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Google Scholar"
    }
  ],
  "x-samchon-emended": true
}