{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 이메일 서비스 관리",
    "summary": "지메일로 이메일을 편리하게 관리해요.",
    "description": "지메일을 통해 메일을 보내고, 초안을 만들고, 답장을 할 수 있어요. 메일 정보를 가져오고, 삭제하고, 라벨을 관리할 수 있어요. 대량의 이메일을 자동으로 처리하거나, 특정 조건에 따라 이메일을 분류하고 정리할 수 있어요. 개인 사용자부터 비즈니스 사용자까지 효율적인 이메일 관리와 커뮤니케이션을 할 수 있어요.",
    "version": "0.1.211",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/gmail/send": {
      "post": {
        "summary": "GMAIL 전송",
        "description": "메일을 전송합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.\n\nIf you want to attach a file, you must specify the name of the file and the address at which it is stored.\nThe saved file is read as a GET request inside the function, encoded, and processed.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "메일을 보내기 위해 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "전송된 메일의 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "summary": "GMAIL 초안 생성",
        "description": "메일 초안을 생성 합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.\n\nIf you want to attach a file, you must specify the name of the file and the address at which it is stored.\nThe saved file is read as a GET request inside the function, encoded, and processed.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "메일 초안을 생성하기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "summary": "GMAIL 답장",
        "description": "수신된 메일에 답장을 보냅니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "메일 답장에 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "summary": "GMAIL 정보 가져오기",
        "description": "메일의 정보를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "해당 메일의 고유 ID",
            "description": " 해당 메일의 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "해당 메일의 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "summary": "GMAIL 리스트 가져오기",
        "description": "메일 리스트를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "메일 리스트를 가져오기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "메일 리스트.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/{id}/hardDelete": {
      "delete": {
        "summary": "메일을 삭제합니다.",
        "description": "메일을 삭제합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 기능은 메일을 휴지통으로 옮기는 게 아니라 영구히 삭제하는 기능이기 때문에 각별히 주의가 필요합니다.\n대부분의 유저는 이미 휴지통에 있는 것들을 삭제하고자 할 것입니다.\n따라서 유저가 삭제를 희망하는 경우 가급적 휴지통으로 메일을 옮기는 것으로 유도하되, 그럼에도 삭제하고자 한다면 휴지통에 있는 것을 대상으로 하는 것이 옳습니다.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "summary": "GMAIL 삭제",
        "description": "메일을 휴지통으로 옮깁니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "삭제할 메일의 고유 ID",
            "description": " 삭제할 메일의 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/label": {
      "post": {
        "summary": "GMAIL 라벨 생성",
        "description": "라벨을 생성합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "라벨 생성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ILabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 라벨의 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ILabelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/label/{mailId}": {
      "post": {
        "summary": "GMAIL 라벨 부여",
        "description": "메일에 라벨을 부여합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "라벨을 부여할 메일의 고유 ID",
            "description": " 라벨을 부여할 메일의 고유 ID."
          }
        ],
        "requestBody": {
          "description": "부여할 라벨의 고유 ID 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      },
      "delete": {
        "summary": "GMAIL 라벨 제거",
        "description": "메일에 부여된 라벨을 제거합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "tags": [],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "라벨을 제거할 메일의 고유 ID",
            "description": " 라벨을 제거할 메일의 고유 ID."
          }
        ],
        "requestBody": {
          "description": "제거할 라벨의 고유 ID 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "구글 access token 재발급 요청",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IGmail.ISendMailOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "보낸 메일의 id.",
            "description": "보낸 메일의 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "메일 전송 결과"
      },
      "IGmail.ICreateMailInput": {
        "type": "object",
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "받는 사람 이메일 주소.",
            "description": "메일을 받는 사람의 이메일 주소."
          },
          "subject": {
            "type": "string",
            "title": "이메일 제목.",
            "description": "보낼 메일의 제목."
          },
          "body": {
            "type": "string",
            "title": "이메일 본문.",
            "description": "보낼 메일의 본문.\n\nhtml로 작성해야 합니다. 그렇지 않으면 본문이 제대로 표시되지 않을 수 있습니다.\n\ngmail에서 적용가능한 css 형식을 적용해주세요.\n\nhtml 길이가 너무 길지 않게 작성해주세요. 길이가 너무 길면 전송이 되지 않을 수 있습니다.\n\nlink 또는 url이 있는 경우 html <a> 태그의 title 속성을 꼭 사용하여 링크를 제공해주세요."
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "참조할 사람 이메일.",
            "description": "참조할 사람 이메일 주소."
          },
          "Bcc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "숨은참조할 사람 이메일.",
            "description": "숨은참조할 사람 이메일 주소."
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "title": "filename"
                },
                "fileUrl": {
                  "type": "string",
                  "format": "uri",
                  "title": "file uri"
                }
              },
              "required": [
                "filename",
                "fileUrl"
              ]
            },
            "title": "files"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "to",
          "subject",
          "body",
          "secretKey"
        ],
        "title": "메일을 보내기 위해 필요한 정보"
      },
      "IGmail.IReplyInput": {
        "type": "object",
        "properties": {
          "replyText": {
            "type": "string",
            "title": "답장할 문구.",
            "description": "답장할 문구."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "replyText",
          "secretKey"
        ],
        "title": "메일 답장에 필요한 정보"
      },
      "IGmail.IFindGmailOutput": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이메일 id.",
            "description": "이메일의 고유 id."
          },
          "labelIds": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "이메일 라벨 id.",
            "description": "이메일에 부여된 라벨 id."
          },
          "from": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "발신자 이메일.",
            "description": "이메일을 보낸 사람의 이메일 주소."
          },
          "subject": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "제목.",
            "description": "이메일의 제목."
          },
          "body": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "본문 요약.",
            "description": "이메일의 본문 요약."
          },
          "attachments": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGmail.IAttachmentOutput"
                }
              }
            ],
            "title": "첨부파일.",
            "description": "이메일에 첨부된 파일 목록."
          }
        },
        "title": "이메일 검색 결과"
      },
      "IGmail.IAttachmentOutput": {
        "type": "object",
        "properties": {
          "partId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "메시지 부분의 변경할 수 없는 ID.",
            "description": "메시지 부분의 변경할 수 없는 ID."
          },
          "mimeType": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "메시지 부분의 MIME 유형.",
            "description": "메세지의 MIME 유형입니다."
          },
          "filename": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 명.",
            "description": "이 메시지 부분이 첨부파일을 나타내는 경우에만 표시됩니다."
          },
          "headers": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGmail.IAttachmentHeader"
                }
              }
            ],
            "title": "첨부파일 헤더 정보.",
            "description": "전체 메시지 페이로드를 나타내는 최상위 메시지 부분에는 To, From, Subject와 같은 표준 RFC 2822 이메일 헤더가 포함됩니다."
          },
          "body": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGmail.IAttachmentBody"
              }
            ],
            "title": "첨부파일 헤더 body 정보.",
            "description": "이 부분의 메시지 부분 본문으로, 컨테이너 MIME 메시지 부분의 경우 비어 있을 수 있습니다."
          }
        },
        "title": "첨부파일 정보"
      },
      "IGmail.IAttachmentHeader": {
        "type": "object",
        "properties": {
          "name": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 헤더 타입.",
            "description": "첨부파일 헤더 타입."
          },
          "value": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 헤더 값.",
            "description": "첨부파일 헤더 값."
          }
        },
        "title": "첨부파일 헤더 정보"
      },
      "IGmail.IAttachmentBody": {
        "type": "object",
        "properties": {
          "attachmentId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 id.",
            "description": "첨부파일 고유 id입니다."
          },
          "size": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ],
            "title": "첨부파일 데이터의 바이트 수.",
            "description": "첨부파일 데이터의 바이트 수입니다."
          }
        },
        "title": "첨부파일 body 정보"
      },
      "IGmail.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "인증 정보"
      },
      "IGmail.IFindGmailListOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
            },
            "title": "gmail 검색 데이터 정보.",
            "description": "검색된 gmail 데이터 정보."
          }
        },
        "required": [
          "data"
        ],
        "title": "이메일 리스트 검색 결과"
      },
      "IGmail.IFindEmailListInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "title": "보낸 사람의 이메일.",
            "description": "이메일을 보낸 사람의 이메일 주소."
          },
          "to": {
            "type": "string",
            "title": "받는 사람의 이메일.",
            "description": "이메일을 받는 사람의 이메일 주소."
          },
          "subject": {
            "type": "string",
            "title": "이메일 제목.",
            "description": "이메일 제목."
          },
          "after": {
            "type": "string",
            "title": "특정 날짜 이후.",
            "description": "해당 날짜 이후의 이메일만 반환."
          },
          "before": {
            "type": "string",
            "title": "특정 날짜 이전.",
            "description": "해당 날짜 이전의 이메일만 반환."
          },
          "label": {
            "type": "string",
            "title": "메일에 부여된 라벨.",
            "description": "메일에 부여된 라벨."
          },
          "maxResults": {
            "type": "number",
            "maximum": 500,
            "minimum": 1,
            "title": "최대 반환 갯수.",
            "description": "메일의 반환 갯수."
          },
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "필터링할 라벨 목록.",
            "description": "지정된 라벨 ID와 모두 일치하는 라벨이 있는 메일만 반환하기 위한 라벨 목록들."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "이메일 리스트 검색에 필요한 정보"
      },
      "IGmail.ILabelOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 라벨 id.",
            "description": "생성된 라벨의 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "라벨 생성 결과"
      },
      "IGmail.ILabelInput": {
        "type": "object",
        "properties": {
          "labelName": {
            "type": "string",
            "title": "라벨 이름.",
            "description": "생성할 라벨의 이름."
          },
          "labelListVisibility": {
            "oneOf": [
              {
                "const": "labelHide"
              },
              {
                "const": "labelShow"
              },
              {
                "const": "labelShowIfUnread"
              }
            ],
            "title": "라벨의 공개 상태.",
            "description": "생성할 라벨의 공개 상태.\n\n숨김 / 보임 / 안읽었을 때 보임\n\n- labelHide: 숨김\n- labelShow: 보임\n- labelShowIfUnread: 안읽었을 때 보임\n\n가능한 값으로 labelHide, labelShow, labelShowIfUnread 3가지만 가능합니다."
          },
          "messageListVisibility": {
            "oneOf": [
              {
                "const": "hide"
              },
              {
                "const": "show"
              }
            ],
            "title": "라벨이 지정된 메일의 공개 상태.",
            "description": "생성된 라벨이 지정된 메일의 공개 상태.\n\n숨김 / 보임\n\n- hide: 숨김\n- show: 보임\n\n가능한 값으로 hide, show 2가지만 가능합니다."
          },
          "color": {
            "$ref": "#/components/schemas/IGmail.ILabelColor",
            "title": "라벨 색깔.",
            "description": "생성할 메일 라벨의 색깔"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "labelName",
          "secretKey"
        ],
        "title": "라벨 생성에 필요한 정보"
      },
      "IGmail.ILabelColor": {
        "type": "object",
        "properties": {
          "textColor": {
            "type": "string",
            "title": "라벨 글씨 색.",
            "description": "라벨 글씨 색상."
          },
          "backgroundColor": {
            "type": "string",
            "title": "라벨 배경 색.",
            "description": "라벨 배경 색상."
          }
        },
        "required": [
          "textColor",
          "backgroundColor"
        ],
        "title": "라벨 색상"
      },
      "IGmail.IMailLabelOperationInput": {
        "type": "object",
        "properties": {
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "라벨 목록.",
            "description": "부여하거나 삭제할 라벨 목록들."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "labelIds",
          "secretKey"
        ],
        "title": "라벨 부여에 필요한 정보"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}