{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Amazon 상품 검색",
    "summary": "Amazon 쇼핑몰의 상품을 한 번에 검색해요.",
    "description": "Amazon 쇼핑몰의 상품을 검색할 수 있어요. 원하는 상품의 가격을 비교할 수 있고, 최저가 정보도 쉽게 확인할 수 있어요. 카테고리별 검색 옵션을 사용할 수 있어요. 이를 통해 효율적인 쇼핑은 물론, 시장 조사나 가격 동향 분석 등에도 활용할 수 있어요.",
    "version": "0.1.439",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-shopping/amazon": {
      "patch": {
        "summary": "Search for Amazon",
        "description": "Search for products on Amazon",
        "tags": [
          "Amazon"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_shopping",
          "amazon"
        ],
        "x-samchon-controller": "GoogleShoppingAmazonController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Amazon_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleShopping.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Product name"
          },
          "link": {
            "oneOf": [
              {
                "const": "#"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "Product Link"
          },
          "price": {
            "type": "string",
            "title": "Product Price",
            "description": "₩57,600 Format"
          },
          "source": {
            "type": "string",
            "title": "Product Source"
          },
          "deliveryCost": {
            "type": "string",
            "title": "Shipping fee"
          },
          "thumbnail": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "image/*",
            "title": "Product Image"
          },
          "rating": {
            "type": "number",
            "title": "Product Rating"
          }
        },
        "required": [
          "title",
          "link",
          "price",
          "thumbnail"
        ],
        "title": "Product search results"
      },
      "IGoogleShopping.IRequestStandAlone": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "title": "Search term",
            "description": "Enter the keyword you want to search for."
          },
          "lang": {
            "type": "string",
            "title": "Language Setting",
            "description": "Choose which language you want to use as your search term.\n\nYou can only pass a single BCP 47 language identifier.\n\nex) You want to setting korean language, you can pass \"ko\"."
          },
          "max_results": {
            "type": "integer",
            "title": "Number of search results",
            "description": "Set the number of search results."
          }
        },
        "required": [
          "keyword",
          "lang",
          "max_results"
        ],
        "title": "Product search conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Amazon"
    }
  ],
  "x-samchon-emended": true
}