{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 스프레드시트 데이터 관리",
    "summary": "구글 스프레드시트로 데이터를 쉽게 관리해요.",
    "description": "구글 스프레드시트를 사용해 다양한 데이터 관리 작업을 할 수 있어요. 스프레드시트의 헤더 정보를 가져오거나, 특정 사용자에게 접근 권한을 부여할 수 있어요. 새로운 헤더를 추가하거나, 워크시트 목록을 확인할 수 있고, 특정 행(Row)의 정보를 가져올 수도 있어요. 원하는 셀에 새로운 내용을 추가하거나 기존 내용을 수정할 수도 있어요. 이를 통해 예산 관리, 프로젝트 추적, 데이터 분석 등 다양한 작업을 효율적으로 수행할 수 있어요. 실시간 협업이 가능해 팀 단위의 데이터 관리에도 매우 유용해요. 주의할 점은 구글 시트를 사용하려면 반드시 구글 드라이브 커넥터도 함께 사용해야 해요.",
    "version": "0.1.435",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-sheet": {
      "patch": {
        "summary": "Get the header information of a Google Sheet",
        "description": "Get the header information of a Google Sheet",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google Sheet URL and the header index to get",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google Sheet header information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "getHeaders"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/append": {
      "post": {
        "summary": "Add content to Google Sheets",
        "description": "Add content to Google Sheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information to add content",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IAppendToSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "append",
          "appendGoogleSheet"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg"
      }
    },
    "/connector/google-sheet/create": {
      "post": {
        "summary": "Create a Google Sheet",
        "description": "Create a Google Sheet\n\nThe created sheet will be created in the Google Drive root path.",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The title of the sheet to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created sheet id and Url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "create",
          "createGoogleSheet"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "summary": "Grant permissions to Google Sheets",
        "description": "Grant permissions to Google Sheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for granting permissions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "permission"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "summary": "Add a Google Sheet header",
        "description": "Add a header to a Google Sheet",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The Google Sheet url and the header name to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "header",
          "writeHeaders"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "patch": {
        "summary": "Get a list of Google Sheets Worksheets",
        "description": "Get a list of Google Worksheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The Google Sheets url to get the list of worksheets",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "worksheet",
          "getWorkSheet"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "patch": {
        "summary": "Get Row information from Google Sheets",
        "description": "Get Row information from Google Sheets",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Row information from Google Sheets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "google_sheet",
          "get_rows",
          "readRows"
        ],
        "x-samchon-controller": "GoogleSheetController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSheet.IReadGoogleSheetOutput": {
        "type": "object",
        "properties": {
          "data": {
            "title": "Sheet data",
            "description": "This is the data from the read sheet."
          }
        },
        "required": [
          "data"
        ],
        "title": "Google Sheet Reading Results"
      },
      "IGoogleSheet.IReadGoogleSheetHeadersInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "sheet url",
            "description": "The url address of the sheet from which to read the header information."
          },
          "index": {
            "type": "number",
            "title": "Sheet header index",
            "description": "The header index of the sheet to read."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive.file"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "secretKey"
        ],
        "title": "Information needed to read Google Sheet header"
      },
      "IGoogleSheet.ICreateGoogleSheetOutput": {
        "type": "object",
        "properties": {
          "spreadsheetId": {
            "type": "string",
            "title": "Sheet ID",
            "description": "The ID of the generated Google Spreadsheet."
          },
          "spreadsheetUrl": {
            "type": "string",
            "title": "Sheet URL",
            "description": "The URL of the generated Google Spreadsheet."
          }
        },
        "required": [
          "spreadsheetId",
          "spreadsheetUrl"
        ],
        "title": "Google Spreadsheet Creation Results"
      },
      "IGoogleSheet.IAppendToSheetInput": {
        "type": "object",
        "properties": {
          "spreadSheetId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-sheet/create",
              "jmesPath": "[].{value:spreadsheetId, label:spreadsheetUrl}"
            },
            "title": "The sheet to add",
            "description": "This is the sheet to which you want to add content."
          },
          "values": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  }
                ]
              }
            },
            "title": "These are the values to add",
            "description": "These are the values to add."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive.file"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "spreadSheetId",
          "values",
          "secretKey"
        ]
      },
      "IGoogleSheet.ICreateGoogleSheetInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Sheet Title",
            "description": "Please enter a title for the Google Spreadsheet you want to create."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive.file"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "title",
          "secretKey"
        ],
        "title": "Information needed to create a Google Spreadsheet"
      },
      "IGoogleSheet.IPermissionInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "iri",
            "title": "sheet url",
            "description": "The url of the sheet to grant permission to."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPermission.o1"
            },
            "title": "Here is a list of emails to make accessible and permissions to grant",
            "description": "Here is a list of emails to make accessible and permissions to grant."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive.file"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "permissions",
          "secretKey"
        ],
        "title": "Information required to grant Google Sheets permissions"
      },
      "IPermission.o1": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "The email address of the user to grant permission to",
            "description": "The email address of the user to grant permission to."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              }
            ],
            "title": "The permission to grant",
            "description": "The type of permission to grant.\n\nowner: Grants owner permission. Users with this permission can delete files or folders, or grant permission to other users.\nwriter: Grants write permission. Users with this permission can modify or delete files.\ncommenter: Grants comment permission. Users with this permission can read files and post comments.\nreader: Grants read permission. Users with this permission can read files.\n\nThere are only four possible values: \"owner\", \"writer\", \"commenter\", and \"reader\"."
          }
        },
        "required": [
          "email",
          "role"
        ],
        "title": "Permissions Information"
      },
      "IGoogleSheet.IWriteGoogleSheetHeadersInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "sheet url",
            "description": "The url of the sheet to which you want to add the header."
          },
          "index": {
            "type": "number",
            "title": "sheet index",
            "description": "The index of the header to add."
          },
          "headerNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "A list of headers to add to the sheet",
            "description": "A list of headers to add to the sheet."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive.file"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "headerNames",
          "secretKey"
        ],
        "title": "Information needed to add a Google Sheet header"
      },
      "IGoogleSheet.IGetWorkSheetOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "List of worksheet titles",
            "description": "Here is a list of titles for the sheets you've read."
          }
        },
        "required": [
          "data"
        ],
        "title": "Worksheet query results"
      },
      "IGoogleSheet.IGetWorkSheetInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "sheet url",
            "description": "The url of the sheet to read."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive.file"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "secretKey"
        ],
        "title": "Information required to view worksheets"
      },
      "IGoogleSheet.IReadGoogleSheetRowsOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowData"
            },
            "title": "This is the read Google Sheet row data",
            "description": "This is the read Google Sheet row data."
          }
        },
        "required": [
          "data"
        ],
        "title": "Google Sheets Row Reading Results"
      },
      "IGoogleSheet.IReadGoogleSheetRowData": {
        "type": "object",
        "properties": {},
        "required": [],
        "title": "Google Sheets Row Data Information",
        "additionalProperties": {}
      },
      "IGoogleSheet.IReadGoogleSheetRowsInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "sheet url",
            "description": "The url of the sheet from which to read the rows."
          },
          "workSheetTitle": {
            "type": "string",
            "title": "The title of the sheet to work on",
            "description": "The title of the sheet to work on."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive.file"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "workSheetTitle",
          "secretKey"
        ],
        "title": "Information needed to read Google Sheet rows"
      }
    }
  },
  "tags": [
    {
      "name": "Google Sheet"
    }
  ],
  "x-samchon-emended": true
}