{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Google Map",
    "version": "0.1.214",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-map": {
      "post": {
        "summary": "Google Map restaurant search",
        "description": "Search for restaurants using Google Maps.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Search term to search for restaurants",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleMap.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Restaurant search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleMap.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMap_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-map/review": {
      "post": {
        "summary": "Search Google Map restaurant reviews",
        "description": "Search for restaurant reviews selected from Google Maps.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Unique id of the restaurant",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleMap.IReviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Restaurant review search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleMap.IReviewResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMap_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleMap.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Name",
            "description": "It's the name of a restaurant."
          },
          "place_id": {
            "type": "string",
            "title": "unique ID",
            "description": "This is the unique ID of the restaurant.\n\nThis is the information needed to search for reviews."
          },
          "gps_coordinate": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "title": "Latitude",
                "description": "This is the latitude of the restaurant's coordinates."
              },
              "longitude": {
                "type": "number",
                "title": "Longitude",
                "description": "This is the coordinates of the restaurant."
              }
            },
            "required": [
              "latitude",
              "longitude"
            ],
            "title": "Coordinates",
            "description": "Here are the coordinates for the restaurant."
          },
          "rating": {
            "type": "number",
            "title": "ratings",
            "description": "Here are the restaurant ratings."
          },
          "reviews": {
            "type": "number",
            "title": "Number of reviews",
            "description": "This is the number of restaurant reviews."
          },
          "address": {
            "type": "string",
            "title": "Address",
            "description": "Here is the address of the restaurant."
          },
          "open_state": {
            "type": "string",
            "title": "Operation Information",
            "description": "Information about whether the restaurant is currently operating."
          },
          "operating_hours": {
            "type": "object",
            "properties": {},
            "title": "Information on operating hours",
            "description": "Here is the information on the restaurant's operating hours.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "phone_number": {
            "type": "string",
            "title": "Phone number",
            "description": "This is the phone number for the restaurant."
          },
          "service_options": {
            "type": "object",
            "properties": {},
            "title": "Service options",
            "description": "Service options provided by the restaurant.",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "user_review": {
            "type": "string",
            "title": "User Review",
            "description": "This is a user review of a delicious restaurant."
          },
          "thumbnail": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri",
                "contentMediaType": "image/*"
              }
            ],
            "title": "image",
            "description": "This is a thumbnail image of a delicious restaurant."
          }
        },
        "required": [
          "title",
          "place_id",
          "gps_coordinate",
          "address"
        ],
        "title": "Google Maps Restaurant Search Results"
      },
      "IGoogleMap.IRequest": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "x-wrtn-placeholder": "강남역 맛집",
            "title": "Search term",
            "description": "Please enter your search term"
          }
        },
        "required": [
          "keyword"
        ],
        "title": "Information for searching restaurants on Google Maps"
      },
      "IGoogleMap.IReviewResponse": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "title": "Author's name",
            "description": "Reviewer's name."
          },
          "rating": {
            "type": "number",
            "title": "Review ratings",
            "description": "Here are the review ratings."
          },
          "description": {
            "type": "string",
            "title": "Review content",
            "description": "Here is the review content."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "Review Link",
            "description": "Here is the review link."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri",
              "contentMediaType": "image/*"
            },
            "title": "Review Image",
            "description": "This is the image registered in the review."
          },
          "date": {
            "type": "string",
            "title": "Review Date",
            "description": "The date the review was written."
          }
        },
        "required": [
          "username",
          "rating",
          "description",
          "link",
          "images",
          "date"
        ],
        "title": "Review search results"
      },
      "IGoogleMap.IReviewRequest": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-map/search",
              "jmesPath": "[].{value:place_id, label:place_id}"
            }
          }
        },
        "required": [
          "place_id"
        ]
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}