{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 웹 검색 엔진",
    "summary": "구글 검색 기능을 쉽게 활용할 수 있어요.",
    "description": "검색어를 통해 구글의 일반 검색 결과를 얻을 수 있어요. 웹페이지, 이미지, 뉴스 등 다양한 유형의 검색 결과를 가져올 수 있고, 검색 결과의 순위, URL, 제목, 설명 등 상세 정보를 확인할 수 있어요. 특정 사이트 내에서만 검색하거나, 특정 기간 동안의 결과만 찾는 등 고급 검색 옵션도 사용할 수 있어요. 이를 통해 정보 수집, 트렌드 분석, 경쟁사 모니터링 등 다양한 목적으로 활용할 수 있어요.",
    "version": "0.1.124",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-search": {
      "post": {
        "summary": "구글 검색",
        "description": "입력한 검색어를 구글에서 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "구글 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSearch.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleSearch.IResponse"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSearch_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSearch.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "검색 결과 제목"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "검색 결과 링크"
          },
          "snippet": {
            "type": "string",
            "title": "검색 결과 요약"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "image/*",
            "title": "검색 결과 thumbnail"
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "검색 결과"
      },
      "IGoogleSearch.IRequest": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 들어가야하는 키워드를 설정합니다."
          },
          "orKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 들어가면 좋은 키워드를 설정합니다."
          },
          "notKeywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 들어가면 안되는 키워드를 설정합니다."
          },
          "max_results": {
            "type": "integer",
            "title": "검색 결과 개수",
            "description": "검색 결과의 개수를 설정합니다."
          }
        },
        "required": [
          "andKeywords",
          "max_results"
        ],
        "title": "검색하기 위한 조건"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}