{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 일정 관리자",
    "summary": "구글 캘린더로 일정을 손쉽게 관리해요.",
    "description": "구글 캘린더를 통해 개인 및 팀의 일정을 효과적으로 관리할 수 있어요. 캘린더 목록을 가져오고, 새로운 캘린더를 만들거나 불필요한 캘린더를 삭제할 수 있어요. 특정 캘린더의 이벤트 목록을 조회하고, 새로운 이벤트를 빠르게 추가할 수 있어요. 기존 이벤트를 수정하거나 삭제할 수도 있고, 이벤트에 참석자를 추가할 수도 있어요. 이를 통해 개인 일정 관리는 물론, 팀 미팅 조율, 프로젝트 일정 관리, 중요 기념일 알림 등 다양한 목적으로 활용할 수 있어요. 여러 기기 간 동기화가 자동으로 이루어져 언제 어디서든 일정을 확인하고 관리할 수 있어요.",
    "version": "0.1.397",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-calendar/get-list": {
      "post": {
        "summary": "Get a list of Google Calendars",
        "description": "Get a list of Google Calendars",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A list of Google Calendars",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "summary": "Create a Google Calendar",
        "description": "Create a Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The title of the calendar to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The unique ID of the calendar and the title of the calendar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "summary": "Delete a Google Calendar",
        "description": "Delete a calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the calendar to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "summary": "Get a list of Google Calendar events",
        "description": "Get a list of events in Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar to get the list of events"
          }
        ],
        "requestBody": {
          "description": "Condition to get the list of events",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A list of Google Calendar events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "summary": "Add a quick event to Google Calendar",
        "description": "Add a quick event to Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar to add the event to"
          }
        ],
        "requestBody": {
          "description": "Unique ID of the calendar to add the event to, and the event name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "summary": "Add a Google Calendar event",
        "description": "Add an event to Google Calendar",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar to add the event to"
          }
        ],
        "requestBody": {
          "description": "Information for adding the event",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information about the added event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "summary": "Modify a Google Calendar event",
        "description": "Modify an event",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar that contains the event"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the event to modify"
          }
        ],
        "requestBody": {
          "description": "The event information to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated event information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      },
      "delete": {
        "summary": "Delete a Google Calendar event",
        "description": "Delete an event",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the calendar that contains the event"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " The unique ID of the event to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "summary": "Add attendees to a Google Calendar event",
        "description": "Add attendees to an event",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the calendar where the event is"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Unique ID of the event to add attendees to"
          }
        ],
        "requestBody": {
          "description": "List of email addresses of attendees to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event information with attendees added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleCalendar.IGoogleCalendarOutput": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Calendar id",
            "description": "The id of the generated calendar."
          },
          "summary": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Calendar name",
            "description": "The name of the generated calendar."
          }
        },
        "required": [],
        "title": "Calendar creation result"
      },
      "IGoogleCalendar.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Authentication Information"
      },
      "IGoogleCalendar.ICreateCalendarInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "The title of the calendar to be created",
            "description": "The title of the calendar to be created."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "title",
          "secretKey"
        ],
        "title": "Information for creating a calendar"
      },
      "IGoogleCalendar.IReadGoogleCalendarEventOutput": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
            },
            "title": "Event List",
            "description": "Here is a list of calendar events that were found."
          }
        },
        "required": [
          "events"
        ],
        "title": "Calendar Event Search Results"
      },
      "IGoogleCalendar.IGoogleCalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "event id",
            "description": "The unique id of the event."
          },
          "htmlLink": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "Event Link",
            "description": "Here is the event link."
          },
          "color": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event color",
            "description": "Event color."
          },
          "createdDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The event creation date",
            "description": "The event creation date."
          },
          "updatedDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event update date",
            "description": "Event update date."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event title",
            "description": "This is the event title."
          },
          "description": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event description",
            "description": "Event description."
          },
          "location": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event Location",
            "description": "This is the event location."
          },
          "organizer": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IOrganizer"
              }
            ],
            "title": "Event Organizer",
            "description": "Here is the information for the event organizer."
          },
          "creator": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.ICreator"
              }
            ],
            "title": "Event Creator",
            "description": "Information about the event creator."
          },
          "startDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "dateTime": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Event start date",
                    "description": "Event start date."
                  },
                  "timeZone": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Event start date time zone",
                    "description": "Event start date time zone."
                  }
                },
                "required": []
              }
            ],
            "title": "Event Start Date\n\nThe start date information for the event."
          },
          "endDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "dateTime": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "The event ends on this date",
                    "description": "The event ends on this date."
                  },
                  "timeZone": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Event End Date Timezone",
                    "description": "Event End Date Timezone."
                  }
                },
                "required": []
              }
            ],
            "title": "Event end date",
            "description": "This is the event end date information."
          },
          "recurrence": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "Event repeat information",
            "description": "Event repeat information."
          },
          "transparency": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event busy/free status",
            "description": "Event busy/free status."
          },
          "guestsCanModify": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "Whether the inviter has permission to edit the event",
            "description": "Whether the inviter has permission to edit the event."
          },
          "reminders": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IReminders"
              }
            ],
            "title": "Event notification information",
            "description": "Event notification information."
          },
          "attendees": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IAttendees"
                }
              }
            ],
            "title": "Event Attendee",
            "description": "Here is the event attendee information."
          },
          "attachments": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IAttachments"
                }
              }
            ],
            "title": "Attachment information",
            "description": "Event attachment information."
          },
          "hangoutLink": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Google Meet link",
            "description": "Here is the Google Meet link."
          },
          "visibility": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The event is open",
            "description": "The event is open."
          }
        },
        "required": [],
        "title": "Google Calendar Event Information"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IOrganizer": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event organizer profile id",
            "description": "Event organizer profile id."
          },
          "displayName": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The name of the event organizer",
            "description": "The name of the event organizer."
          },
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "This is the event organizer's email",
            "description": "This is the event organizer's email."
          },
          "self": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "Whether the event copy corresponds to the calendar on which it is displayed",
            "description": "Whether the event copy corresponds to the calendar on which it is displayed."
          }
        },
        "required": [],
        "title": "Host Information"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.ICreator": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event Creator Profile Id",
            "description": "The event creator profile id."
          },
          "displayName": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The event creator name",
            "description": "The event creator name."
          },
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The event creator email",
            "description": "The event creator email."
          },
          "self": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "Whether the event copy corresponds to the calendar on which it is displayed",
            "description": "Whether the event copy corresponds to the calendar on which it is displayed."
          }
        },
        "required": [],
        "title": "Event creator information",
        "description": "Event creator information."
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IReminders": {
        "type": "object",
        "properties": {
          "useDefault": {
            "type": "boolean",
            "title": "Whether to default notification",
            "description": "Whether to default notification."
          },
          "overrides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IRemindersOverrides"
            },
            "title": "Notification settings information",
            "description": "Here is the notification settings information."
          }
        },
        "required": [],
        "title": "Notification information"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IRemindersOverrides": {
        "type": "object",
        "properties": {
          "method": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Notification method",
            "description": "This is the notification method."
          },
          "minutes": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "It's time to send notifications",
            "description": "It's time to send notifications."
          }
        },
        "required": [],
        "title": "Notification settings information"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IAttendees": {
        "type": "object",
        "properties": {
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Event attendee email",
            "description": "This is the event attendee email."
          },
          "organizer": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "Whether the event attendee is the host",
            "description": "Whether the event attendee is the host."
          },
          "self": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "Whether the calendar that the schedule copy is displayed on is indicated",
            "description": "Whether the calendar that the schedule copy is displayed on is indicated."
          },
          "responseStatus": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Attendee's attendance response status",
            "description": "Attendee's attendance response status."
          }
        },
        "required": [],
        "title": "Attendee Information"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IAttachments": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "file url",
            "description": "This is the event attachment file url."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "File title",
            "description": "This is the title of the attached file."
          },
          "mimeType": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Internet Media Type",
            "description": "Internet Media Type."
          },
          "iconLink": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "iri"
              }
            ],
            "title": "File icon link",
            "description": "Attachment file icon link."
          },
          "fileId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "file id",
            "description": "This is the id of the attached file."
          }
        },
        "required": [],
        "title": "Attachment file information"
      },
      "IGoogleCalendar.IReadGoogleCalendarEventInput": {
        "type": "object",
        "properties": {
          "time_max": {
            "type": "string",
            "format": "date-time",
            "title": "Information about the last date from which events will be fetched",
            "description": "Events after that date will not be fetched.\n\nNote that all date/times are in UTC, so make sure that you have converted the date/time to UTC before using it."
          },
          "time_min": {
            "type": "string",
            "format": "date-time",
            "title": "Information on the start date from which events will be retrieved",
            "description": "Events prior to that date will not be retrieved.\n\nNote that all date/times are in UTC, so make sure that you have converted the date/time to UTC before using it."
          },
          "max_results": {
            "type": "integer",
            "title": "How many results to return",
            "description": "Sets the maximum number of events to retrieve."
          },
          "orderBy": {
            "oneOf": [
              {
                "const": "startTime"
              },
              {
                "const": "updated"
              }
            ],
            "title": "The order in which the events will be received",
            "description": "The order in which the calendar events are sorted.\n\n- startTime: The start time of the event.\n- updated: The date the event was updated.\n\nOnly two possible values are possible: \"startTime\" and \"updated\"."
          },
          "query": {
            "type": "string",
            "title": "Event search terms",
            "description": "You can search for events that contain your search terms.\n\nYou can search for events that contain your search terms in the title, description, location, attendees, etc."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "time_max",
          "time_min",
          "secretKey"
        ],
        "title": "Information needed to search for events"
      },
      "IGoogleCalendar.ICreateQuickEventInput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "This is the text for creating a quick calendar event",
            "description": "This is the text for creating a quick calendar event."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "text",
          "secretKey"
        ],
        "title": "Information needed to create a quick event"
      },
      "IGoogleCalendar.IEventRequestBodyInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Event title",
            "description": "The title of the event to be generated."
          },
          "description": {
            "type": "string",
            "title": "Event description",
            "description": "Description of the event to be generated."
          },
          "location": {
            "type": "string",
            "title": "Event Location",
            "description": "This is the event location to be created."
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "title": "Event start date",
            "description": "The start date of the event to be created.\n\nNote that all date/times are in UTC, so make sure that you have converted the date/time to UTC before using it."
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "title": "Event end date",
            "description": "The end date of the event to be created.\n\nNote that all date/times are in UTC, so make sure that you have converted the date/time to UTC before using it."
          },
          "attendeesEmail": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Attendee Email",
            "description": "This is the event attendee email."
          },
          "repeatFrequency": {
            "oneOf": [
              {
                "const": "DAILY"
              },
              {
                "const": "WEEKLY"
              },
              {
                "const": "MONTHLY"
              },
              {
                "const": "YEARLY"
              }
            ],
            "title": "The event repeat cycle",
            "description": "The event repeat cycle.\n\n- DAILY: Daily\n- WEEKLY: Weekly\n- MONTHLY: Monthly\n- YEARLY: Yearly\n\nOnly 4 possible values are possible: \"DAILY\", \"WEEKLY\", \"MONTHLY\", \"YEARLY\"."
          },
          "repeatNum": {
            "type": "number",
            "title": "The number of times the event is repeated",
            "description": "The number of times the event is repeated."
          },
          "repeatUntil": {
            "type": "string",
            "format": "date-time",
            "title": "Event repeat deadline",
            "description": "Event repeat deadline.\n\nNote that all date/times are in UTC, so make sure that you have converted the date/time to UTC before using it."
          },
          "isBusy": {
            "type": "boolean",
            "title": "Whether the event is busy or not",
            "description": "Whether the event is busy or not."
          },
          "isUseDefaultReminder": {
            "type": "boolean",
            "title": "Whether to use the default calendar notifications",
            "description": "Whether to use the default calendar notifications."
          },
          "remindersType": {
            "oneOf": [
              {
                "const": "email"
              },
              {
                "const": "popup"
              }
            ],
            "title": "Event notification type",
            "description": "Event notification type.\n\n- popup: Popup notification\n- email: Email notification\n\nOnly two possible values are possible: \"popup\" and \"email\"."
          },
          "minutesBeforeReminders": {
            "type": "number",
            "title": "It's time to set a notification before the schedule starts",
            "description": "It's time to set a notification before the schedule starts."
          },
          "isConferencing": {
            "type": "boolean",
            "title": "Whether to create a Google Meet",
            "description": "Whether to create a Google Meet."
          },
          "visibility": {
            "oneOf": [
              {
                "const": "default"
              },
              {
                "const": "private"
              },
              {
                "const": "public"
              }
            ],
            "title": "The event's public status",
            "description": "The event's public status.\n\ndefault - The default public status\npublic - The event is public and the event details are visible to all readers of the calendar\nprivate - The event is private and only the event attendees can see the event details\n\nThere are only three possible values: \"default\", \"public\", \"private\"."
          },
          "colorId": {
            "type": "string",
            "title": "Event Color",
            "description": "Event Color."
          },
          "isGuestCanModify": {
            "type": "boolean",
            "title": "Whether guest events can be modified",
            "description": "Whether guest events can be modified."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "start",
          "end",
          "secretKey"
        ],
        "title": "Information required to create an event"
      },
      "IGoogleCalendar.IAddAttendeesToEventInput": {
        "type": "object",
        "properties": {
          "attendeesEmail": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "The email address of the attendee you wish to add",
            "description": "The email address of the attendee you wish to add."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "attendeesEmail",
          "secretKey"
        ],
        "title": "Information required to add attendees"
      }
    }
  },
  "tags": [
    {
      "name": "Google Calendar"
    }
  ],
  "x-samchon-emended": true
}