{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 프레젠테이션 제작",
    "summary": "구글 프레젠테이션을 쉽게 만들고 꾸밀 수 있어요.",
    "description": "구글 슬라이드로 프레젠테이션을 만들고, 페이지를 추가하거나 수정할 수 있어요. 텍스트, 이미지, 도형을 추가하고 다양한 효과를 설정할 수 있어요. 슬라이드 전환 효과를 적용하고, 개체의 순서를 조정할 수 있어요. 슬라이드 노트를 작성하여 발표 준비를 할 수 있고, 프레젠테이션의 메타데이터를 수정할 수 있어요. 팀원들과 실시간으로 협업하며 프레젠테이션을 만들 수 있고, 완성된 프레젠테이션을 PDF로 내보낼 수도 있어요.",
    "version": "0.1.217",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-slides/presentations/{id}/export/hanshow": {
      "post": {
        "summary": "Export presentations to Hanshow files",
        "description": "Export Google Slides presentations to Hanshow format!",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation ID to convert"
          }
        ],
        "requestBody": {
          "description": "Authentication information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link to download Hanshow files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportHanshowOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/export/power-point": {
      "post": {
        "summary": "Export presentations to PPT files",
        "description": "Export Google Slides presentations to PowerPoint format!\n\nA connector that can be used when creating stories or picture books.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation ID to convert"
          }
        ],
        "requestBody": {
          "description": "Authentication information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link to download PowerPoint files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/get-presentations": {
      "post": {
        "summary": "Retrieve a Google Slides presentation.",
        "description": "Retrieve a Google Slides presentation.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Condition DTO for retrieving a presentation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IGetPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Retrieve presentation information DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/image-slide": {
      "put": {
        "summary": "Add image and text slides to a Google Slides presentation.",
        "description": "Add slides to a Google Slides presentation.\n\nUse this connector with connector/google-slides/presentations when creating a story or picture book.\nWhen creating a story or picture book, insert the story and pictures created using this connector into the presentation created from connector/google-slides/presentations connector.\nBe careful not to use this connector when creating a story or picture book, as it may result in an empty picture book.\nSlide type must be one of: \"Vertical\", \"Square\", \"Landscape\", \"Entire\", \"QuarterDivision\".\nIt is common to choose a \"Square\" type when there is one image.\n\nYou may need an image when the user asks you to add a slide.\nIn this case, rather than inserting any image, you should first secure the image using a search connector or an image creation connector.\nIt is safe to ask the user for consent to this process.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " Presentation id to add slides to"
          }
        ],
        "requestBody": {
          "description": "Template to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/connector/google-slides/presentations": {
      "post": {
        "summary": "Create a Google Slides presentation.",
        "description": "Create a Google Slides presentation.\n\nThis connector can be used when creating a story or picture book.\nPlease use it with the connector/google-slides/image-slide connector when creating a story or picture book.\nWhen creating a story or picture book, create a new presentation with this connector and insert the created story and picture into the slide using the connector/google-slides/image-slide connector.\nWhen creating a story or picture book, be careful not to use it with the connector/google-slides/image-slide connector, as it may result in an empty picture book.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Condition DTO for creating a presentation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.ICreatePresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Generated presentation information DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.ISimplePresentationIdOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSlides_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "Request to reissue Google access token",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleSlides.IExportHanshowOutput": {
        "type": "object",
        "properties": {
          "hanshow": {
            "type": "string",
            "format": "uri",
            "title": "File download link"
          }
        },
        "required": [
          "hanshow"
        ]
      },
      "IGoogleSlides.IExportPresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Conditions for exporting slides to pptx"
      },
      "IGoogleSlides.IExportPresentationOutput": {
        "type": "object",
        "properties": {
          "powerPoint": {
            "type": "string",
            "format": "uri",
            "title": "File download link"
          }
        },
        "required": [
          "powerPoint"
        ]
      },
      "IGoogleSlides.ISimplePresentationIdOutput": {
        "type": "object",
        "properties": {
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The title of the presentation."
          },
          "pageSize": {
            "$ref": "#/components/schemas/IGoogleSlides.Size",
            "title": "The page size of the presentation."
          },
          "presentationId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Presentation ID."
          }
        }
      },
      "IGoogleSlides.Size": {
        "type": "object",
        "properties": {
          "width": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "Width of the object."
          },
          "height": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "The height of the object."
          }
        }
      },
      "IGoogleSlides.Dimension": {
        "type": "object",
        "properties": {
          "magnitude": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "scale."
          },
          "unit": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "const": "UNIT_UNSPECIFIED",
                "title": "알 수 없는 단위"
              },
              {
                "const": "EMU",
                "title": "영국식 단위 (EMU)",
                "description": "는 1센티미터의 1/360,000으로 정의되므로 인치당 914,400 EMU 및 포인트당 12,700 EMU가 있습니다."
              },
              {
                "const": "PT",
                "title": "포인트",
                "description": "1/72인치입니다."
              }
            ],
            "title": "Size units."
          }
        }
      },
      "IGoogleSlides.IGetPresentationInput": {
        "type": "object",
        "properties": {
          "presentationId": {
            "type": "string",
            "title": "The presentation ID to search for."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "presentationId",
          "secretKey"
        ],
        "title": "Condition DTO for presentation search."
      },
      "IGoogleSlides.AppendSlideInput": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Vertical"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Square"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Landscape"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.Entire"
                },
                {
                  "$ref": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "Vertical": "#/components/schemas/IGoogleSlides.Template.Vertical",
                  "Square": "#/components/schemas/IGoogleSlides.Template.Square",
                  "Landscape": "#/components/schemas/IGoogleSlides.Template.Landscape",
                  "Entire": "#/components/schemas/IGoogleSlides.Template.Entire",
                  "QuarterDivision": "#/components/schemas/IGoogleSlides.Template.QuarterDivision"
                }
              }
            },
            "title": "A list of templates to create at once.",
            "description": "When creating a story or picture book, please use only squares."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "templates",
          "secretKey"
        ],
        "title": "Request DTO for pasting slides."
      },
      "IGoogleSlides.Template.Vertical": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Vertical",
            "title": "The type of the template.\n\ntype must be \"Vertical\""
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "URL of the image."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "vertical"
      },
      "IGoogleSlides.InsertText": {
        "type": "object",
        "properties": {
          "text": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Text to add"
          },
          "objectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "ID"
          }
        }
      },
      "IGoogleSlides.Template.Square": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Square",
            "title": "The type of the template.\n\ntype must be \"Square\"."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "URL of the image."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "Square",
        "description": "When creating a story or picture book, please use only squares."
      },
      "IGoogleSlides.Template.Landscape": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Landscape",
            "title": "The type of the template.\n\ntype must be \"Landscape\"."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "URL of the image."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "Horizontal"
      },
      "IGoogleSlides.Template.Entire": {
        "type": "object",
        "properties": {
          "type": {
            "const": "Entire",
            "title": "The type of the template.\n\ntype must be \"Entire\"."
          },
          "contents": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "URL of the image."
              },
              "text": {
                "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                "title": "Text corresponding to the image."
              }
            },
            "required": [
              "url",
              "text"
            ],
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "View all Horizontal (16:9)"
      },
      "IGoogleSlides.Template.QuarterDivision": {
        "type": "object",
        "properties": {
          "type": {
            "const": "QuarterDivision",
            "title": "The type of the template.\n\ntype must be \"QuarterDivision\"."
          },
          "contents": {
            "type": "array",
            "prefixItems": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "URL of the image."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "Text corresponding to the image."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "URL of the image."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "Text corresponding to the image."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "URL of the image."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "Text corresponding to the image."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "title": "URL of the image."
                  },
                  "text": {
                    "$ref": "#/components/schemas/IGoogleSlides.InsertText",
                    "title": "Text corresponding to the image."
                  }
                },
                "required": [
                  "url",
                  "text"
                ]
              }
            ],
            "additionalItems": false,
            "title": "Contents of the slide"
          }
        },
        "required": [
          "type",
          "contents"
        ],
        "title": "4-part square (cut cartoon type)"
      },
      "IGoogleSlides.ICreatePresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "The title of the presentation."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Request DTO for generating a presentation in Google Slides."
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}