{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "한셀",
    "version": "0.1.48",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/hancell/sheet": {
      "post": {
        "tags": [
          "Hancell 엑셀 파일",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터 저장",
          "데이터 불러오기",
          "데이터 분석",
          "데이터 베이스",
          "데이터 내보내기",
          "데이터 가져오기",
          "엑셀 변환",
          "텍스트 파일",
          "데이터 처리",
          "대량 데이터",
          "데이터 편집",
          "파일 분할",
          "데이터 통합",
          "엑셀 만들기",
          "엑셀 파일 열기",
          "데이터 추출",
          "데이터 필터링",
          "데이터 병합",
          "Hancell",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save Data",
          "Load Data",
          "Data Analysis",
          "Database",
          "Export Data",
          "Import Data",
          "Convert to Hancell",
          "Text File",
          "Data Processing",
          "Large Data",
          "Edit Data",
          "Split File",
          "Integrate Data",
          "Create Hancell",
          "Open Hancell File",
          "Extract Data",
          "Filter Data",
          "Merge Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "수정할 한셀 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IUpsertSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "수정 후 새로 만들어진 파일 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IUpsertSheetOutput"
                }
              }
            }
          }
        },
        "summary": "한셀 수정",
        "description": "한셀 시트를 수정합니다.\n\n만약 시트가 이미 존재한다면 시트를 수정하고 기존에 없던 시트라면 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/hancell.svg"
      }
    },
    "/connector/hancell/read": {
      "post": {
        "tags": [
          "Hancell 엑셀 파일",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터 저장",
          "데이터 불러오기",
          "데이터 분석",
          "데이터 베이스",
          "데이터 내보내기",
          "데이터 가져오기",
          "엑셀 변환",
          "텍스트 파일",
          "데이터 처리",
          "대량 데이터",
          "데이터 편집",
          "파일 분할",
          "데이터 통합",
          "엑셀 만들기",
          "엑셀 파일 열기",
          "데이터 추출",
          "데이터 필터링",
          "데이터 병합",
          "Hancell",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save Data",
          "Load Data",
          "Data Analysis",
          "Database",
          "Export Data",
          "Import Data",
          "Convert to Hancell",
          "Text File",
          "Data Processing",
          "Large Data",
          "Edit Data",
          "Split File",
          "Integrate Data",
          "Create Hancell",
          "Open Hancell File",
          "Extract Data",
          "Filter Data",
          "Merge Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "읽을 한셀 파일 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IReadHancellInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "한셀 파일 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IReadHancellOutput"
                }
              }
            }
          }
        },
        "summary": "한셀 파일 읽기",
        "description": "한셀 파일을 읽습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/hancell.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IHancell.IUpsertSheetInput": {
        "type": "object",
        "properties": {
          "sheetName": {
            "type": "string",
            "title": "시트 이름",
            "description": "존재하지 않는 시트라면 추가되고 존재한다면 수정됩니다."
          },
          "cells": {
            "$ref": "#/components/schemas/IHancell.Cells",
            "title": "시트 정보",
            "description": "시트의 각 셀마다 담긴 정보를 의미합니다."
          },
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "title": "엑셀 파일",
            "description": "읽어올 엑셀 파일"
          }
        },
        "required": [
          "sheetName",
          "cells",
          "fileUrl"
        ]
      },
      "IHancell.Cells": {
        "type": "object",
        "properties": {},
        "title": "셀에 담긴 정보",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            }
          ]
        }
      },
      "IHancell.IUpsertSheetOutput": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string",
            "title": "새 한셀 파일 링크"
          }
        },
        "required": [
          "fileUrl"
        ]
      },
      "IHancell.IReadHancellInput": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "title": "엑셀 파일",
            "description": "읽어올 엑셀 파일"
          }
        },
        "required": [
          "fileUrl"
        ],
        "title": "한셀 읽기 조건"
      },
      "IHancell.IReadHancellOutput": {
        "type": "object",
        "properties": {},
        "title": "한셀 읽기 응답",
        "additionalProperties": {
          "$ref": "#/components/schemas/IHancell.Cells"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Hancell 엑셀 파일"
    },
    {
      "name": "엑셀"
    },
    {
      "name": "파일"
    },
    {
      "name": "내보내기"
    },
    {
      "name": "다운로드"
    },
    {
      "name": "추출"
    },
    {
      "name": "추출하기"
    },
    {
      "name": "스프레드시트"
    },
    {
      "name": "데이터 저장"
    },
    {
      "name": "데이터 불러오기"
    },
    {
      "name": "데이터 분석"
    },
    {
      "name": "데이터 베이스"
    },
    {
      "name": "데이터 내보내기"
    },
    {
      "name": "데이터 가져오기"
    },
    {
      "name": "엑셀 변환"
    },
    {
      "name": "텍스트 파일"
    },
    {
      "name": "데이터 처리"
    },
    {
      "name": "대량 데이터"
    },
    {
      "name": "데이터 편집"
    },
    {
      "name": "파일 분할"
    },
    {
      "name": "데이터 통합"
    },
    {
      "name": "엑셀 만들기"
    },
    {
      "name": "엑셀 파일 열기"
    },
    {
      "name": "데이터 추출"
    },
    {
      "name": "데이터 필터링"
    },
    {
      "name": "데이터 병합"
    },
    {
      "name": "Hancell"
    },
    {
      "name": "File"
    },
    {
      "name": "Export"
    },
    {
      "name": "Download"
    },
    {
      "name": "Extract"
    },
    {
      "name": "Spreadsheet"
    },
    {
      "name": "Save Data"
    },
    {
      "name": "Load Data"
    },
    {
      "name": "Data Analysis"
    },
    {
      "name": "Database"
    },
    {
      "name": "Export Data"
    },
    {
      "name": "Import Data"
    },
    {
      "name": "Convert to Hancell"
    },
    {
      "name": "Text File"
    },
    {
      "name": "Data Processing"
    },
    {
      "name": "Large Data"
    },
    {
      "name": "Edit Data"
    },
    {
      "name": "Split File"
    },
    {
      "name": "Integrate Data"
    },
    {
      "name": "Create Hancell"
    },
    {
      "name": "Open Hancell File"
    },
    {
      "name": "Extract Data"
    },
    {
      "name": "Filter Data"
    },
    {
      "name": "Merge Data"
    }
  ],
  "x-samchon-emended": true
}