{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "한셀 문서 데이터 관리",
    "summary": "한셀 파일을 쉽게 다룰 수 있어요.",
    "description": "한셀 파일의 내용을 가져오고, 워크시트를 수정하거나 새로운 파일을 만들 수 있어요. 셀 데이터를 읽고 쓸 수 있으며, 수식을 적용하거나 차트를 만들 수도 있어요. 여러 워크시트를 한 번에 관리할 수 있고, 데이터 필터링이나 정렬 기능을 사용할 수 있어요. 또한 한셀 파일을 다른 형식(CSV, PDF 등)으로 변환할 수 있어, 다양한 환경에서 데이터를 활용할 수 있어요. 이를 통해 재무 관리, 성적 관리, 재고 관리 등 다양한 업무를 효율적으로 처리할 수 있어요.",
    "version": "0.1.345",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/hancell/sheet": {
      "post": {
        "summary": "Modify Hansel",
        "description": "Modify a Hansel sheet\n\nIf the sheet already exists, modify it, or add it if it did not exist before.",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Hansel information to modify",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IUpsertSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link to the newly created file after modification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IUpsertSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg"
      }
    },
    "/connector/hancell/read": {
      "post": {
        "summary": "Read a Hansel file",
        "description": "Read a Hansel file",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Hansel file information to read",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IReadHancellInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Hansel file information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IReadHancellOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IHancell.IUpsertSheetOutput": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string",
            "title": "New Hansel File Link"
          }
        },
        "required": [
          "fileUrl"
        ]
      },
      "IHancell.IUpsertSheetInput": {
        "type": "object",
        "properties": {
          "sheetName": {
            "type": "string",
            "title": "Sheet name",
            "description": "If the sheet does not exist, it will be added, and if it does exist, it will be modified."
          },
          "cells": {
            "$ref": "#/components/schemas/IHancell.Cells",
            "title": "Sheet Information",
            "description": "Information contained in each cell of the sheet."
          },
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "title": "Excel file",
            "description": "Excel file to read"
          }
        },
        "required": [
          "sheetName",
          "cells",
          "fileUrl"
        ]
      },
      "IHancell.Cells": {
        "type": "object",
        "properties": {},
        "title": "Information contained in the cell",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            }
          ]
        }
      },
      "IHancell.IReadHancellOutput": {
        "type": "object",
        "properties": {},
        "title": "Hansel Read Response",
        "additionalProperties": {
          "$ref": "#/components/schemas/IHancell.Cells"
        }
      },
      "IHancell.IReadHancellInput": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "title": "Excel file",
            "description": "Excel file to read"
          }
        },
        "required": [
          "fileUrl"
        ],
        "title": "Hansel reading conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Hancel"
    }
  ],
  "x-samchon-emended": true
}