{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "hancell",
    "version": "0.1.465",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/hancell/sheet": {
      "post": {
        "summary": "Modify Hansel",
        "description": "Modify a Hansel sheet\n\nIf the sheet already exists, modify it, or add it if it did not exist before.",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Hansel information to modify",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IUpsertSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Link to the newly created file after modification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IUpsertSheetOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "hancell",
          "sheet",
          "upsertSheet"
        ],
        "x-samchon-controller": "HancellController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/hancel.svg"
      }
    },
    "/connector/hancell/read": {
      "patch": {
        "summary": "Read a Hansel file",
        "description": "Read a Hansel file",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Hansel file information to read",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IReadHancellInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Hansel file information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IReadHancellOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "hancell",
          "read"
        ],
        "x-samchon-controller": "HancellController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/hancel.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IHancell.IUpsertSheetOutput": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string",
            "title": "New Hansel File Link"
          }
        },
        "required": [
          "fileUrl"
        ]
      },
      "IHancell.IUpsertSheetInput": {
        "type": "object",
        "properties": {
          "sheetName": {
            "type": "string",
            "title": "Sheet name",
            "description": "If the sheet does not exist, it will be added, and if it does exist, it will be modified."
          },
          "cells": {
            "$ref": "#/components/schemas/IHancell.Cells",
            "title": "Sheet Information",
            "description": "Information contained in each cell of the sheet."
          },
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "title": "Excel file",
            "description": "Excel file to read"
          }
        },
        "required": [
          "sheetName",
          "cells",
          "fileUrl"
        ]
      },
      "IHancell.Cells": {
        "type": "object",
        "properties": {},
        "required": [],
        "title": "Information contained in the cell",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            }
          ]
        }
      },
      "IHancell.IReadHancellOutput": {
        "type": "object",
        "properties": {},
        "required": [],
        "title": "Hansel Read Response",
        "additionalProperties": {
          "$ref": "#/components/schemas/IHancell.Cells"
        }
      },
      "IHancell.IReadHancellInput": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "title": "Excel file",
            "description": "Excel file to read"
          }
        },
        "required": [
          "fileUrl"
        ],
        "title": "Hansel reading conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Hancel"
    }
  ],
  "x-samchon-emended": true
}