{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "hwp",
    "version": "0.1.448",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/hwp/parse": {
      "post": {
        "summary": "Parse the Hwp file",
        "description": "Parse the hwp file",
        "tags": [
          "Hwp"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The hwp file to parse",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The parsed hwp file text data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "hwp",
          "parse",
          "parseHwp"
        ],
        "x-samchon-controller": "HwpController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/hangul.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IHwp.IParseOutput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "text",
            "description": "Text of the parsed hwp file"
          }
        },
        "required": [
          "text"
        ],
        "title": "hwp file parsing result"
      },
      "IHwp.IParseInput": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/vnd.hancom.hwp",
            "title": "hwp file",
            "description": "hwp file to parse."
          }
        },
        "required": [
          "fileUrl"
        ],
        "title": "Information for parsing hwp files"
      }
    }
  },
  "tags": [
    {
      "name": "Hwp"
    }
  ],
  "x-samchon-emended": true
}