{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "아임웹 상품 정보 관리",
    "summary": "아임웹으로 상품 정보를 효과적으로 관리해요.",
    "description": "아임웹에서 상품 리스트를 조회회할 수 있어요. 판매자 인증을 통해 API 토큰을 발급받아 더 많은 기능을 활용할 수 있어요.",
    "version": "0.1.345",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/imweb/get-products": {
      "post": {
        "summary": "Get my sales product from `Imweb`",
        "description": "Look up the sales product\n\nThe `Imweb` seller uses the seller's authentication key and secret to import his or her product.\n`Imweb` is a Korean webbuilder site that offers a similar experience to the service called Wix.\nIf a commerce site is opened using `Imweb`,\nsellers can register the items they are selling,\nwhich is only available to sellers who open `Imweb` pages and is intended to bring up their products.\nSellers must provide their API keys and secrets to import `Imweb` products.",
        "tags": [
          "Imweb"
        ],
        "parameters": [],
        "requestBody": {
          "description": "key and secret",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IImweb.IGetProductInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "the seller's own goods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IImweb.Product"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Imweb_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IImweb.Product": {
        "type": "object",
        "properties": {
          "no": {
            "type": "number",
            "title": "Product number"
          },
          "prod_status": {
            "oneOf": [
              {
                "const": "sale",
                "title": "판매중"
              },
              {
                "const": "soldout",
                "title": "품절"
              },
              {
                "const": "nosale",
                "title": "숨김"
              }
            ],
            "title": "Status of product"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Category codes"
          },
          "custom_prod_code": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Custom product code"
          },
          "name": {
            "type": "string",
            "title": "Name of product"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "File code of product images"
          },
          "image_url": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "iri",
              "contentMediaType": "image/*"
            },
            "title": "File urls\n\nCan't call it right away because it's not a completed URL."
          },
          "content": {
            "type": "string",
            "title": "Detailed description"
          },
          "simple_content": {
            "type": "string",
            "title": "Simple description of product's content",
            "description": "Text that contains html tags and is generally difficult to use"
          },
          "simple_content_plain": {
            "type": "string",
            "title": "Simple description of product's content",
            "description": "Pure string except html tag"
          },
          "use_mobile_prod_content": {
            "type": "boolean",
            "title": "Whether or not mobile details are used"
          },
          "mobile_content": {
            "type": "string",
            "title": "Description of mobile details"
          },
          "prod_type": {
            "oneOf": [
              {
                "const": "normal",
                "title": "일반 상품"
              },
              {
                "const": "digital",
                "title": "디지털 상품"
              },
              {
                "const": "subscribe",
                "title": "회원그룹 이용권"
              }
            ],
            "title": "Setting the sales method\n\nIt will be 'normal', 'digital' and 'subscribe' product."
          },
          "prod_type_data": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IImweb.ProdTypeData.DigitalData"
                },
                {
                  "$ref": "#/components/schemas/IImweb.ProdTypeData.SubscribeData"
                }
              ]
            },
            "title": "Sales method data"
          },
          "use_pre_sale": {
            "type": "boolean",
            "title": "Whether the sales period is set or not"
          },
          "pre_sale_start_date": {
            "type": "number",
            "title": "Timestamp for sale"
          },
          "pre_sale_end_date": {
            "type": "number",
            "title": "Timestamp is the end of the sale period"
          },
          "price": {
            "type": "number",
            "title": "Price"
          },
          "price_org": {
            "type": "number",
            "title": "The price before the discount",
            "description": "To provide an experience as if the product was discounted,\nthe seller can also set the original price of the product differently from the actual price it sells.\nThis is a common sales promotion strategy in commerce."
          },
          "price_tax": {
            "type": "boolean",
            "title": "Whether taxes are included or not"
          },
          "price_none": {
            "type": "boolean",
            "title": "Whether or not there is no price"
          },
          "point": {
            "$ref": "#/components/schemas/IImweb.PointConfigData",
            "title": "Set up a reserve"
          },
          "product_discount_options": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "coupon",
                  "title": "Coupon"
                },
                {
                  "const": "point",
                  "title": "Points"
                },
                {
                  "const": "shopping_group_dc",
                  "title": "Shopping Group Discount"
                }
              ]
            },
            "title": "Set Discount Usage"
          },
          "weight": {
            "type": "string",
            "title": "Product Weight"
          },
          "stock": {
            "$ref": "#/components/schemas/IImweb.ProdStockConfigData",
            "title": "Product Stock Information"
          },
          "origin": {
            "type": "string",
            "title": "Origin"
          },
          "maker": {
            "type": "string",
            "title": "Manufacturer"
          },
          "brand": {
            "type": "string",
            "title": "Brand"
          },
          "badge": {
            "$ref": "#/components/schemas/IImweb.ProdBadgeData",
            "title": "Badge Information"
          },
          "sync": {
            "$ref": "#/components/schemas/IImweb.ProdSyncData",
            "title": "External Integration Information"
          },
          "etc": {
            "$ref": "#/components/schemas/IImweb.ProdEtcData",
            "title": "Miscellaneous Settings"
          },
          "prodinfo": {
            "type": "array",
            "items": {},
            "title": "Product Information Disclosure\n\nType is not specified, so it is denoted as an array of `any`."
          },
          "is_exist_options": {
            "oneOf": [
              {
                "const": "Y",
                "title": "Options Exist"
              },
              {
                "const": "N",
                "title": "Single Product"
              }
            ],
            "title": "Existence of Product Options"
          },
          "is_mix": {
            "oneOf": [
              {
                "const": "Y",
                "title": "Combination Option"
              },
              {
                "const": "N",
                "title": "Single Option"
              }
            ],
            "title": "Combination Option for Product"
          },
          "add_time": {
            "type": "number",
            "title": "Product Add Time Timestamp"
          },
          "edit_time": {
            "type": "number",
            "title": "Product Last Edit Time Timestamp"
          }
        },
        "required": [
          "no",
          "prod_status",
          "categories",
          "custom_prod_code",
          "name",
          "images",
          "image_url",
          "content",
          "simple_content",
          "simple_content_plain",
          "use_mobile_prod_content",
          "prod_type",
          "use_pre_sale",
          "price",
          "price_tax",
          "price_none",
          "point",
          "product_discount_options",
          "weight",
          "stock",
          "origin",
          "maker",
          "brand",
          "badge",
          "sync",
          "etc",
          "prodinfo",
          "is_exist_options",
          "is_mix",
          "add_time",
          "edit_time"
        ]
      },
      "IImweb.ProdTypeData.DigitalData": {
        "type": "object",
        "properties": {
          "use_limit": {
            "type": "boolean",
            "title": "Download Limit Setting"
          },
          "period": {
            "type": "integer",
            "title": "Period Limit"
          },
          "maximum": {
            "type": "integer",
            "title": "Usage Limit"
          }
        },
        "required": [
          "use_limit",
          "period",
          "maximum"
        ]
      },
      "IImweb.ProdTypeData.SubscribeData": {
        "type": "object",
        "properties": {
          "group_code": {
            "type": "string",
            "title": "Target Group Code"
          },
          "period": {
            "type": "integer",
            "title": "Group Retention Period (Days)"
          }
        },
        "required": [
          "group_code",
          "period"
        ]
      },
      "IImweb.PointConfigData": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": "common",
                "title": "Default Settings"
              },
              {
                "const": "individual",
                "title": "Individual Point Settings"
              }
            ],
            "title": "Point Configuration Type"
          },
          "value_type": {
            "oneOf": [
              {
                "const": "percent",
                "title": "Percentage"
              },
              {
                "const": "price",
                "title": "Currency Unit"
              }
            ],
            "title": "Point Accumulation Unit"
          },
          "value": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Point Value\n\nCalculated as a percentage if `value_type` is percent"
          }
        },
        "required": [
          "type"
        ],
        "title": "Point Configuration Data Structure"
      },
      "IImweb.ProdStockConfigData": {
        "type": "object",
        "properties": {
          "stock_use": {
            "type": "boolean",
            "title": "Use Stock"
          },
          "stock_unlimit": {
            "type": "boolean",
            "title": "Allow Orders After Stock Depletion"
          },
          "stock_no_option": {
            "oneOf": [
              {
                "const": ""
              },
              {
                "type": "integer"
              }
            ],
            "title": "Product Stock Quantity"
          },
          "sku_no_option": {
            "oneOf": [
              {
                "const": ""
              },
              {
                "type": "integer"
              }
            ],
            "title": "Product Stock Number (SKU)"
          }
        },
        "required": [
          "stock_use",
          "stock_unlimit",
          "stock_no_option",
          "sku_no_option"
        ],
        "title": "Product Stock Information Data Structure"
      },
      "IImweb.ProdBadgeData": {
        "type": "object",
        "properties": {
          "new": {
            "type": "boolean",
            "title": "New Product"
          },
          "best": {
            "type": "boolean",
            "title": "Best Product"
          },
          "md": {
            "type": "boolean",
            "title": "MD Recommended"
          },
          "hot": {
            "type": "boolean",
            "title": "High Demand"
          }
        },
        "required": [
          "new",
          "best",
          "md",
          "hot"
        ],
        "title": "Badge Information Data Structure"
      },
      "IImweb.ProdSyncData": {
        "type": "object",
        "properties": {
          "pay_product_name": {
            "type": "string",
            "title": "Product Name for Naver and Kakao Shopping Exposure"
          },
          "event_words": {
            "type": "string",
            "title": "Naver Shopping Event Phrase"
          },
          "naver_category": {
            "type": "string",
            "title": "Naver Shopping Category ID"
          },
          "product_flag": {
            "oneOf": [
              {
                "const": "소매",
                "title": "Retail"
              },
              {
                "const": "도매",
                "title": "Wholesale"
              },
              {
                "const": "렌탈",
                "title": "Rental"
              },
              {
                "const": "대여",
                "title": "Lease"
              },
              {
                "const": "할부",
                "title": "Installment"
              },
              {
                "const": "예약판매",
                "title": "Pre-order"
              },
              {
                "const": "구매대행",
                "title": "Buying Agent"
              }
            ],
            "title": "Naver Shopping Sales Method"
          },
          "product_condition": {
            "oneOf": [
              {
                "const": "신상품",
                "title": "New"
              },
              {
                "const": "중고",
                "title": "Used"
              },
              {
                "const": "리퍼",
                "title": "Refurbished"
              },
              {
                "const": "전시",
                "title": "Exhibition"
              },
              {
                "const": "반품",
                "title": "Returned"
              },
              {
                "const": "스크래치",
                "title": "Scratch"
              }
            ],
            "title": "Naver Shopping Product Condition"
          },
          "import_flag": {
            "type": "boolean",
            "title": "Overseas Buying Agent"
          },
          "parallel_import": {
            "type": "boolean",
            "title": "Parallel Import"
          },
          "is_culture_benefit": {
            "type": "boolean",
            "title": "Cultural Performance Income Deduction"
          },
          "order_made": {
            "type": "boolean",
            "title": "Made to Order"
          }
        },
        "required": [
          "pay_product_name",
          "event_words",
          "naver_category",
          "product_flag",
          "product_condition",
          "import_flag",
          "parallel_import",
          "is_culture_benefit",
          "order_made"
        ],
        "title": "External Integration Information Data Structure"
      },
      "IImweb.ProdEtcData": {
        "type": "object",
        "properties": {
          "minimum_purchase_quantity": {
            "type": "integer",
            "title": "Minimum Purchase Quantity"
          },
          "maximum_purchase_quantity": {
            "type": "integer",
            "title": "Maximum Quantity per Purchase"
          },
          "member_maximum_purchase_quantity": {
            "type": "integer",
            "title": "Maximum Quantity per Member Purchase"
          },
          "optional_limit_type": {
            "oneOf": [
              {
                "const": "relative",
                "title": "Can Purchase as Much as the Main Product"
              },
              {
                "const": "limit",
                "title": "Maximum Purchase Quantity Limit"
              },
              {
                "const": "unique",
                "title": "Can Purchase Only One"
              }
            ],
            "title": "Maximum Purchase Quantity Limit Type for Free Options"
          },
          "optional_limit": {
            "type": "integer",
            "title": "Maximum Purchase Quantity for Free Options\n\nMaximum Purchase Quantity Limit"
          },
          "use_unipass_number": {
            "oneOf": [
              {
                "const": "default",
                "title": "Follow Default Method",
                "description": "May vary depending on shopping environment settings"
              },
              {
                "const": "Y",
                "title": "Use"
              },
              {
                "const": "N",
                "title": "Do Not Use"
              }
            ],
            "title": "use_unipass_number"
          },
          "adult": {
            "type": "boolean",
            "title": "Minor Purchase Restriction"
          }
        },
        "required": [
          "minimum_purchase_quantity",
          "maximum_purchase_quantity",
          "member_maximum_purchase_quantity",
          "optional_limit_type",
          "use_unipass_number",
          "adult"
        ],
        "title": "Miscellaneous Settings Data Structure"
      },
      "IImweb.IGetProductInput": {
        "type": "object",
        "properties": {
          "prod_status": {
            "oneOf": [
              {
                "const": "sale",
                "title": "판매중"
              },
              {
                "const": "soldout",
                "title": "품절"
              },
              {
                "const": "nosale",
                "title": "숨김"
              }
            ],
            "title": "the sales status of a product",
            "description": "You can deliver the value when you want to inquire based on the sales status of the product.\nYou can select 'sale', 'soldout', 'nosale'."
          },
          "category": {
            "type": "string",
            "title": "product category code",
            "description": "You can also search with the product's category code,\nbut this code is randomly determined by `Imweb`, so it's currently unavailable.\nIf you don't know the exact category code, it's better not to use it."
          },
          "key": {
            "type": "string",
            "title": "API Key\n\nThis can be found in the configuration settings on the `Imweb`."
          },
          "secret": {
            "type": "string",
            "title": "API Secret Key\n\nThis can be found in the configuration settings on the `Imweb`."
          }
        },
        "required": [
          "key",
          "secret"
        ],
        "title": "Product Inquiry Request"
      }
    }
  },
  "tags": [
    {
      "name": "Imweb"
    }
  ],
  "x-samchon-emended": true
}