{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "카카오 내비게이션 경로 안내",
    "summary": "카카오 내비로 빠른 길을 찾아요.",
    "description": "카카오 내비게이션을 통해 교통 정보를 조회하고 길찾기를 할 수 있어요. 출발지와 도착지를 설정하면 최적의 경로를 제안받을 수 있어요.",
    "version": "0.1.158",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/kakao-navi/get-future-directions": {
      "post": {
        "summary": "카카오 네비 길찾기",
        "description": "카카오 네비로 길을 찾습니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "요청 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoNavi.IGetFutureDirectionsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "길 찾기 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoNavi.SuccessCase"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/KakaoNavi_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IKakaoNavi.SuccessCase": {
        "type": "object",
        "properties": {
          "trans_id": {
            "type": "string",
            "title": "경로 요청 ID"
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Route"
            },
            "title": "경로 정보"
          }
        },
        "required": [
          "trans_id",
          "routes"
        ],
        "title": "성공 응답"
      },
      "IKakaoNavi.Route": {
        "type": "object",
        "properties": {
          "result_code": {
            "oneOf": [
              {
                "const": 0,
                "title": "길찾기 성공"
              },
              {
                "const": 1,
                "title": "길찾기 결과를 찾을 수 없음"
              },
              {
                "const": 101,
                "title": "경유지 지점 주변의 도로를 탐색할 수 없음"
              },
              {
                "const": 102,
                "title": "시작 지점 주변의 도로를 탐색할 수 없음"
              },
              {
                "const": 103,
                "title": "도착 지점 주변의 도로를 탐색할 수 없음"
              },
              {
                "const": 104,
                "title": "출발지와 도착지가 5 m 이내로 설정된 경우 경로를 탐색할 수 없음"
              },
              {
                "const": 105,
                "title": "시작 지점 주변의 도로에 유고 정보(교통 장애)가 있음"
              },
              {
                "const": 106,
                "title": "도착 지점 주변의 도로에 유고 정보(교통 장애)가 있음"
              },
              {
                "const": 107,
                "title": "경유지 주변의 도로에 유고 정보(교통 장애)가 있음."
              },
              {
                "const": 201,
                "title": "다중 출발지: 출발지가 탐색 영역에 포함되지 않음"
              },
              {
                "const": 202,
                "title": "다중 출발지: 출발지 최대 개수 초과 도로 선택 실패"
              },
              {
                "const": 203,
                "title": "다중 출발지: 목적지 도로 선택 실패"
              },
              {
                "const": 204,
                "title": "다중 출발지: 경로 탐색 처리 시간 제한"
              },
              {
                "const": 205,
                "title": "다중 출발지: 출발지 주변의 유고 정보(교통 장애)로 인한 통행 불가"
              },
              {
                "const": 206,
                "title": "다중 출발지: 목적지 주변의 유고 정보(교통 장애)로 인한 통행 불가"
              },
              {
                "const": 207,
                "title": "다중 출발지: 출발지가 설정한 길찾기 반경 범위를 벗어남"
              },
              {
                "const": 301,
                "title": "다중 목적지: 출발지 도로 선택 실패"
              },
              {
                "const": 302,
                "title": "다중 목적지: 목적지 도로 선택 실패"
              },
              {
                "const": 303,
                "title": "다중 목적지: 목적지 최대 개수 초과로 인해 경로 탐색 실패"
              },
              {
                "const": 304,
                "title": "다중 목적지: 목적지가 설정한 길찾기 반경 범위를 벗어남"
              }
            ],
            "title": "경로 탐색 결과 코드"
          },
          "result_msg": {
            "type": "string",
            "title": "경로 탐색 결과 메시지"
          },
          "summary": {
            "$ref": "#/components/schemas/IKakaoNavi.Summary",
            "title": "경로 요약 정보"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Section"
            },
            "title": "구간 별 경로 정보"
          }
        },
        "required": [
          "result_code",
          "result_msg"
        ]
      },
      "IKakaoNavi.Summary": {
        "type": "object",
        "properties": {
          "origin": {
            "$ref": "#/components/schemas/IKakaoNavi.Place",
            "title": "출발지 정보"
          },
          "destination": {
            "$ref": "#/components/schemas/IKakaoNavi.Place",
            "title": "목적지 정보"
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Place"
            },
            "title": "경유지 정보"
          },
          "priority": {
            "type": "string",
            "title": "경로 탐색 우선순위 옵션"
          },
          "fare": {
            "$ref": "#/components/schemas/IKakaoNavi.Fare",
            "title": "요금 정보"
          },
          "duration": {
            "type": "integer",
            "title": "전체 검색 결과 이동 시간(초)"
          },
          "bound": {
            "$ref": "#/components/schemas/IKakaoNavi.Bound",
            "title": "모든 경로를 포함하는 사각형의 바운딩 박스"
          },
          "distance": {
            "type": "integer",
            "title": "섹션 거리(미터)"
          }
        },
        "required": [
          "origin",
          "destination",
          "waypoints",
          "priority",
          "fare",
          "duration",
          "bound",
          "distance"
        ]
      },
      "IKakaoNavi.Place": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "장소 이름"
          },
          "x": {
            "type": "number",
            "title": "X 좌표 (경도)"
          },
          "y": {
            "type": "number",
            "title": "Y 좌표 (위도)"
          }
        },
        "required": [
          "name",
          "x",
          "y"
        ]
      },
      "IKakaoNavi.Fare": {
        "type": "object",
        "properties": {
          "taxi": {
            "type": "number",
            "title": "택시 요금(원)"
          },
          "toll": {
            "type": "number",
            "title": "통행 요금(원)"
          }
        },
        "required": [
          "taxi",
          "toll"
        ],
        "title": "요금 정보"
      },
      "IKakaoNavi.Bound": {
        "type": "object",
        "properties": {
          "min_x": {
            "type": "number",
            "title": "바운딩 박스 왼쪽 하단의 X 좌표"
          },
          "min_y": {
            "type": "number",
            "title": "바운딩 박스 왼쪽 하단의 Y 좌표"
          },
          "max_x": {
            "type": "number",
            "title": "바운딩 박스 오른쪽 상단의 X 좌표"
          },
          "max_y": {
            "type": "number",
            "title": "바운딩 박스 오른쪽 상단의 Y 좌표"
          }
        },
        "required": [
          "min_x",
          "min_y",
          "max_x",
          "max_y"
        ],
        "title": "모든 경로를 포함하는 사각형의 바운딩 박스(Bounding box)"
      },
      "IKakaoNavi.Section": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "integer",
            "title": "섹션 거리(미터)"
          },
          "duration": {
            "type": "integer",
            "title": "전체 검색 결과 이동 시간(초)"
          },
          "bound": {
            "$ref": "#/components/schemas/IKakaoNavi.Bound",
            "title": "모든 경로를 포함하는 사각형의 바운딩 박스"
          },
          "roads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Road"
            },
            "title": "도로 정보"
          },
          "guides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Guide"
            },
            "title": "안내 정보"
          }
        },
        "required": [
          "distance",
          "duration",
          "bound"
        ],
        "title": "구간 별 경로 정보",
        "description": "경유지가 존재할 경우 경유지 수에 1을 더한 값만큼의 섹션이 생성된다."
      },
      "IKakaoNavi.Road": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "도로 명"
          },
          "distance": {
            "type": "integer",
            "title": "도로 길이(미터)"
          },
          "duration": {
            "type": "integer",
            "title": "예상 이동 시간(초)",
            "description": "현재 예상 이동 시간 및 실제 이동 시간은 동일한 값으로 설정"
          },
          "traffic_speed": {
            "type": "number",
            "title": "현재 교통 정보 속도(km/h)"
          },
          "traffic_state": {
            "oneOf": [
              {
                "const": 0,
                "title": "교통 상태 정보 없음"
              },
              {
                "const": 1,
                "title": "교통 정체"
              },
              {
                "const": 2,
                "title": "교통 지체"
              },
              {
                "const": 3,
                "title": "교통 서행"
              },
              {
                "const": 4,
                "title": "교통 원활"
              },
              {
                "const": 6,
                "title": "교통사고(통행 불가)"
              }
            ],
            "title": "현재 교통 정보 상태"
          },
          "vertexes": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "title": "X, Y 좌표로 구성된 1차원 배열"
          }
        },
        "required": [
          "name",
          "distance",
          "duration",
          "traffic_speed",
          "traffic_state",
          "vertexes"
        ],
        "title": "도로 정보"
      },
      "IKakaoNavi.Guide": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": 0,
                "title": "직진"
              },
              {
                "const": 1,
                "title": "좌회전"
              },
              {
                "const": 2,
                "title": "우회전"
              },
              {
                "const": 3,
                "title": "유턴"
              },
              {
                "const": 5,
                "title": "왼쪽 방향"
              },
              {
                "const": 6,
                "title": "오른쪽 방향"
              },
              {
                "const": 7,
                "title": "고속 도로 출구"
              },
              {
                "const": 8,
                "title": "왼쪽에 고속 도로 출구"
              },
              {
                "const": 9,
                "title": "오른쪽에 고속 도로 출구"
              },
              {
                "const": 10,
                "title": "고속 도로 입구"
              },
              {
                "const": 11,
                "title": "왼쪽에 고속 도로 입구"
              },
              {
                "const": 12,
                "title": "오른쪽에 고속 도로 입구"
              },
              {
                "const": 14,
                "title": "고가 도로 진입"
              },
              {
                "const": 15,
                "title": "지하 차도 진입"
              },
              {
                "const": 16,
                "title": "고가 도로 옆길"
              },
              {
                "const": 17,
                "title": "지하 차도 옆길"
              },
              {
                "const": 18,
                "title": "오른쪽 1시 방향"
              },
              {
                "const": 19,
                "title": "오른쪽 2시 방향"
              },
              {
                "const": 20,
                "title": "오른쪽 3시 방향"
              },
              {
                "const": 21,
                "title": "오른쪽 4시 방향"
              },
              {
                "const": 22,
                "title": "오른쪽 5시 방향"
              },
              {
                "const": 23,
                "title": "6시 방향"
              },
              {
                "const": 24,
                "title": "왼쪽 7시 방향"
              },
              {
                "const": 25,
                "title": "왼쪽 8시 방향"
              },
              {
                "const": 26,
                "title": "왼쪽 9시 방향"
              },
              {
                "const": 27,
                "title": "왼쪽 10시 방향"
              },
              {
                "const": 28,
                "title": "왼쪽 11시 방향"
              },
              {
                "const": 29,
                "title": "12시 방향"
              },
              {
                "const": 30,
                "title": "로터리에서 오른쪽 1시 방향"
              },
              {
                "const": 31,
                "title": "로터리에서 오른쪽 2시 방향"
              },
              {
                "const": 32,
                "title": "로터리에서 오른쪽 3시 방향"
              },
              {
                "const": 33,
                "title": "로터리에서 오른쪽 4시 방향"
              },
              {
                "const": 34,
                "title": "로터리에서 오른쪽 5시 방향"
              },
              {
                "const": 35,
                "title": "로터리에서 6시 방향"
              },
              {
                "const": 36,
                "title": "로터리에서 왼쪽 7시 방향"
              },
              {
                "const": 37,
                "title": "로터리에서 왼쪽 8시 방향"
              },
              {
                "const": 38,
                "title": "로터리에서 왼쪽 9시 방향"
              },
              {
                "const": 39,
                "title": "로터리에서 왼쪽 10시 방향"
              },
              {
                "const": 40,
                "title": "로터리에서 왼쪽 11시 방향"
              },
              {
                "const": 41,
                "title": "로터리에서 12시 방향"
              },
              {
                "const": 42,
                "title": "도시 고속 도로 출구"
              },
              {
                "const": 43,
                "title": "왼쪽에 도시 고속 도로 출구"
              },
              {
                "const": 44,
                "title": "오른쪽에 도시 고속 도로 출구"
              },
              {
                "const": 45,
                "title": "도시 고속 도로 입구"
              },
              {
                "const": 46,
                "title": "왼쪽에 도시 고속 도로 입구"
              },
              {
                "const": 47,
                "title": "오른쪽에 도시 고속 도로 입구"
              },
              {
                "const": 48,
                "title": "왼쪽 고속 도로 진입"
              },
              {
                "const": 49,
                "title": "오른쪽 고속 도로 진입"
              },
              {
                "const": 61,
                "title": "페리 항로 진입"
              },
              {
                "const": 62,
                "title": "페리 항로 진출"
              },
              {
                "const": 70,
                "title": "회전 교차로에서 오른쪽 1시 방향"
              },
              {
                "const": 71,
                "title": "회전 교차로에서 오른쪽 2시 방향"
              },
              {
                "const": 72,
                "title": "회전 교차로에서 오른쪽 3시 방향"
              },
              {
                "const": 73,
                "title": "회전 교차로에서 오른쪽 4시 방향"
              },
              {
                "const": 74,
                "title": "회전 교차로에서 오른쪽 5시 방향"
              },
              {
                "const": 75,
                "title": "회전 교차로에서 6시 방향"
              },
              {
                "const": 76,
                "title": "회전 교차로에서 왼쪽 7시 방향"
              },
              {
                "const": 77,
                "title": "회전 교차로에서 왼쪽 8시 방향"
              },
              {
                "const": 78,
                "title": "회전 교차로에서 왼쪽 9시 방향"
              },
              {
                "const": 79,
                "title": "회전 교차로에서 왼쪽 10시 방향"
              },
              {
                "const": 80,
                "title": "회전 교차로에서 왼쪽 11시 방향"
              },
              {
                "const": 81,
                "title": "회전 교차로에서 12시 방향"
              },
              {
                "const": 82,
                "title": "왼쪽 직진"
              },
              {
                "const": 83,
                "title": "오른쪽 직진"
              },
              {
                "const": 84,
                "title": "톨게이트 진입"
              },
              {
                "const": 85,
                "title": "원톨링 진입"
              },
              {
                "const": 86,
                "title": "분기 후 합류 구간 진입"
              },
              {
                "const": 100,
                "title": "출발지"
              },
              {
                "const": 101,
                "title": "목적지"
              },
              {
                "const": 300,
                "title": "톨게이트"
              },
              {
                "const": 301,
                "title": "휴게소"
              },
              {
                "const": 1000,
                "title": "경유지"
              }
            ],
            "title": "안내 타입"
          },
          "guidance": {
            "type": "string",
            "title": "안내 문구"
          },
          "road_index": {
            "type": "integer",
            "title": "현재 가이드에 대한 링크 인덱스"
          },
          "name": {
            "type": "string",
            "title": "장소 이름"
          },
          "x": {
            "type": "number",
            "title": "X 좌표 (경도)"
          },
          "y": {
            "type": "number",
            "title": "Y 좌표 (위도)"
          },
          "duration": {
            "type": "integer",
            "title": "전체 검색 결과 이동 시간(초)"
          },
          "distance": {
            "type": "integer",
            "title": "섹션 거리(미터)"
          }
        },
        "required": [
          "type",
          "guidance",
          "road_index",
          "name",
          "x",
          "y",
          "duration",
          "distance"
        ],
        "title": "안내 정보"
      },
      "IKakaoNavi.IGetFutureDirectionsInput": {
        "type": "object",
        "properties": {
          "departure_time": {
            "type": "string",
            "x-wrtn-placeholder": "202406202000",
            "title": "출발 시간",
            "description": "YYYYMMDDHHMM 형식으로 현재 시간 이후 시간 설정"
          },
          "origin": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?,[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "127.111202,37.394912",
            "title": "출발지",
            "description": "X좌표,Y좌표 형식의 경도, 위도 값"
          },
          "destination": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?,[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "127.111202,37.394912",
            "title": "목적지",
            "description": "X좌표,Y좌표 형식의 경도, 위도 값"
          }
        },
        "required": [
          "departure_time",
          "origin",
          "destination"
        ],
        "title": "요청 조건"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}