{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "카카오 내비게이션 경로 안내",
    "summary": "카카오 내비로 빠른 길을 찾아요.",
    "description": "카카오 내비게이션을 통해 교통 정보를 조회하고 길찾기를 할 수 있어요. 출발지와 도착지를 설정하면 최적의 경로를 제안받을 수 있어요.",
    "version": "0.1.350",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/kakao-navi/get-future-directions": {
      "post": {
        "summary": "Kakao Navi Directions",
        "description": "Finding directions with Kakao Navi",
        "tags": [
          "Kakao Navi"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Request conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoNavi.IGetFutureDirectionsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Directions results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoNavi.SuccessCase"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/KakaoNavi_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IKakaoNavi.SuccessCase": {
        "type": "object",
        "properties": {
          "trans_id": {
            "type": "string",
            "title": "Path Request ID"
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Route"
            },
            "title": "Path information"
          }
        },
        "required": [
          "trans_id",
          "routes"
        ],
        "title": "Success response"
      },
      "IKakaoNavi.Route": {
        "type": "object",
        "properties": {
          "result_code": {
            "oneOf": [
              {
                "const": 0,
                "title": "길찾기 성공"
              },
              {
                "const": 1,
                "title": "길찾기 결과를 찾을 수 없음"
              },
              {
                "const": 101,
                "title": "경유지 지점 주변의 도로를 탐색할 수 없음"
              },
              {
                "const": 102,
                "title": "시작 지점 주변의 도로를 탐색할 수 없음"
              },
              {
                "const": 103,
                "title": "도착 지점 주변의 도로를 탐색할 수 없음"
              },
              {
                "const": 104,
                "title": "출발지와 도착지가 5 m 이내로 설정된 경우 경로를 탐색할 수 없음"
              },
              {
                "const": 105,
                "title": "시작 지점 주변의 도로에 유고 정보(교통 장애)가 있음"
              },
              {
                "const": 106,
                "title": "도착 지점 주변의 도로에 유고 정보(교통 장애)가 있음"
              },
              {
                "const": 107,
                "title": "경유지 주변의 도로에 유고 정보(교통 장애)가 있음."
              },
              {
                "const": 201,
                "title": "다중 출발지: 출발지가 탐색 영역에 포함되지 않음"
              },
              {
                "const": 202,
                "title": "다중 출발지: 출발지 최대 개수 초과 도로 선택 실패"
              },
              {
                "const": 203,
                "title": "다중 출발지: 목적지 도로 선택 실패"
              },
              {
                "const": 204,
                "title": "다중 출발지: 경로 탐색 처리 시간 제한"
              },
              {
                "const": 205,
                "title": "다중 출발지: 출발지 주변의 유고 정보(교통 장애)로 인한 통행 불가"
              },
              {
                "const": 206,
                "title": "다중 출발지: 목적지 주변의 유고 정보(교통 장애)로 인한 통행 불가"
              },
              {
                "const": 207,
                "title": "다중 출발지: 출발지가 설정한 길찾기 반경 범위를 벗어남"
              },
              {
                "const": 301,
                "title": "다중 목적지: 출발지 도로 선택 실패"
              },
              {
                "const": 302,
                "title": "다중 목적지: 목적지 도로 선택 실패"
              },
              {
                "const": 303,
                "title": "다중 목적지: 목적지 최대 개수 초과로 인해 경로 탐색 실패"
              },
              {
                "const": 304,
                "title": "다중 목적지: 목적지가 설정한 길찾기 반경 범위를 벗어남"
              }
            ],
            "title": "Path search result code"
          },
          "result_msg": {
            "type": "string",
            "title": "Path search result message"
          },
          "summary": {
            "$ref": "#/components/schemas/IKakaoNavi.Summary",
            "title": "Path Summary Information"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Section"
            },
            "title": "Route information by section"
          }
        },
        "required": [
          "result_code",
          "result_msg"
        ]
      },
      "IKakaoNavi.Summary": {
        "type": "object",
        "properties": {
          "origin": {
            "$ref": "#/components/schemas/IKakaoNavi.Place",
            "title": "Departure information"
          },
          "destination": {
            "$ref": "#/components/schemas/IKakaoNavi.Place",
            "title": "destination information"
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Place"
            },
            "title": "Transit Information"
          },
          "priority": {
            "type": "string",
            "title": "Path Finding Priority Options"
          },
          "fare": {
            "$ref": "#/components/schemas/IKakaoNavi.Fare",
            "title": "Rate Information"
          },
          "duration": {
            "type": "integer",
            "title": "Full search results move time (seconds)"
          },
          "bound": {
            "$ref": "#/components/schemas/IKakaoNavi.Bound",
            "title": "A rectangular bounding box that contains all paths"
          },
          "distance": {
            "type": "integer",
            "title": "Section Distance (meters)"
          }
        },
        "required": [
          "origin",
          "destination",
          "waypoints",
          "priority",
          "fare",
          "duration",
          "bound",
          "distance"
        ]
      },
      "IKakaoNavi.Place": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "place name"
          },
          "x": {
            "type": "number",
            "title": "X coordinate (longitude)"
          },
          "y": {
            "type": "number",
            "title": "Y coordinate (latitude)"
          }
        },
        "required": [
          "name",
          "x",
          "y"
        ]
      },
      "IKakaoNavi.Fare": {
        "type": "object",
        "properties": {
          "taxi": {
            "type": "number",
            "title": "Taxi fare (won)"
          },
          "toll": {
            "type": "number",
            "title": "Toll fee (won)"
          }
        },
        "required": [
          "taxi",
          "toll"
        ],
        "title": "Rate Information"
      },
      "IKakaoNavi.Bound": {
        "type": "object",
        "properties": {
          "min_x": {
            "type": "number",
            "title": "X coordinate of the bottom left of the bounding box"
          },
          "min_y": {
            "type": "number",
            "title": "Y coordinate of the bottom left of the bounding box"
          },
          "max_x": {
            "type": "number",
            "title": "X coordinate of the upper right corner of the bounding box"
          },
          "max_y": {
            "type": "number",
            "title": "Y coordinate of the upper right corner of the bounding box"
          }
        },
        "required": [
          "min_x",
          "min_y",
          "max_x",
          "max_y"
        ],
        "title": "Bounding box of a rectangle containing all paths"
      },
      "IKakaoNavi.Section": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "integer",
            "title": "Section Distance (meters)"
          },
          "duration": {
            "type": "integer",
            "title": "Full search results move time (seconds)"
          },
          "bound": {
            "$ref": "#/components/schemas/IKakaoNavi.Bound",
            "title": "A rectangular bounding box that contains all paths"
          },
          "roads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Road"
            },
            "title": "Road Information"
          },
          "guides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoNavi.Guide"
            },
            "title": "Guide Information"
          }
        },
        "required": [
          "distance",
          "duration",
          "bound"
        ],
        "title": "Route information by section",
        "description": "If there is a waypoint, a section is created equal to the number of waypoints plus 1."
      },
      "IKakaoNavi.Road": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "road name"
          },
          "distance": {
            "type": "integer",
            "title": "Road length (meters)"
          },
          "duration": {
            "type": "integer",
            "title": "Estimated travel time (sec)",
            "description": "Current estimated travel time and actual travel time are set to the same value"
          },
          "traffic_speed": {
            "type": "number",
            "title": "Current traffic information speed (km/h)"
          },
          "traffic_state": {
            "oneOf": [
              {
                "const": 0,
                "title": "교통 상태 정보 없음"
              },
              {
                "const": 1,
                "title": "교통 정체"
              },
              {
                "const": 2,
                "title": "교통 지체"
              },
              {
                "const": 3,
                "title": "교통 서행"
              },
              {
                "const": 4,
                "title": "교통 원활"
              },
              {
                "const": 6,
                "title": "교통사고(통행 불가)"
              }
            ],
            "title": "Current traffic information status"
          },
          "vertexes": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "title": "A one-dimensional array consisting of X, Y coordinates"
          }
        },
        "required": [
          "name",
          "distance",
          "duration",
          "traffic_speed",
          "traffic_state",
          "vertexes"
        ],
        "title": "Road Information"
      },
      "IKakaoNavi.Guide": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": 0,
                "title": "직진"
              },
              {
                "const": 1,
                "title": "좌회전"
              },
              {
                "const": 2,
                "title": "우회전"
              },
              {
                "const": 3,
                "title": "유턴"
              },
              {
                "const": 5,
                "title": "왼쪽 방향"
              },
              {
                "const": 6,
                "title": "오른쪽 방향"
              },
              {
                "const": 7,
                "title": "고속 도로 출구"
              },
              {
                "const": 8,
                "title": "왼쪽에 고속 도로 출구"
              },
              {
                "const": 9,
                "title": "오른쪽에 고속 도로 출구"
              },
              {
                "const": 10,
                "title": "고속 도로 입구"
              },
              {
                "const": 11,
                "title": "왼쪽에 고속 도로 입구"
              },
              {
                "const": 12,
                "title": "오른쪽에 고속 도로 입구"
              },
              {
                "const": 14,
                "title": "고가 도로 진입"
              },
              {
                "const": 15,
                "title": "지하 차도 진입"
              },
              {
                "const": 16,
                "title": "고가 도로 옆길"
              },
              {
                "const": 17,
                "title": "지하 차도 옆길"
              },
              {
                "const": 18,
                "title": "오른쪽 1시 방향"
              },
              {
                "const": 19,
                "title": "오른쪽 2시 방향"
              },
              {
                "const": 20,
                "title": "오른쪽 3시 방향"
              },
              {
                "const": 21,
                "title": "오른쪽 4시 방향"
              },
              {
                "const": 22,
                "title": "오른쪽 5시 방향"
              },
              {
                "const": 23,
                "title": "6시 방향"
              },
              {
                "const": 24,
                "title": "왼쪽 7시 방향"
              },
              {
                "const": 25,
                "title": "왼쪽 8시 방향"
              },
              {
                "const": 26,
                "title": "왼쪽 9시 방향"
              },
              {
                "const": 27,
                "title": "왼쪽 10시 방향"
              },
              {
                "const": 28,
                "title": "왼쪽 11시 방향"
              },
              {
                "const": 29,
                "title": "12시 방향"
              },
              {
                "const": 30,
                "title": "로터리에서 오른쪽 1시 방향"
              },
              {
                "const": 31,
                "title": "로터리에서 오른쪽 2시 방향"
              },
              {
                "const": 32,
                "title": "로터리에서 오른쪽 3시 방향"
              },
              {
                "const": 33,
                "title": "로터리에서 오른쪽 4시 방향"
              },
              {
                "const": 34,
                "title": "로터리에서 오른쪽 5시 방향"
              },
              {
                "const": 35,
                "title": "로터리에서 6시 방향"
              },
              {
                "const": 36,
                "title": "로터리에서 왼쪽 7시 방향"
              },
              {
                "const": 37,
                "title": "로터리에서 왼쪽 8시 방향"
              },
              {
                "const": 38,
                "title": "로터리에서 왼쪽 9시 방향"
              },
              {
                "const": 39,
                "title": "로터리에서 왼쪽 10시 방향"
              },
              {
                "const": 40,
                "title": "로터리에서 왼쪽 11시 방향"
              },
              {
                "const": 41,
                "title": "로터리에서 12시 방향"
              },
              {
                "const": 42,
                "title": "도시 고속 도로 출구"
              },
              {
                "const": 43,
                "title": "왼쪽에 도시 고속 도로 출구"
              },
              {
                "const": 44,
                "title": "오른쪽에 도시 고속 도로 출구"
              },
              {
                "const": 45,
                "title": "도시 고속 도로 입구"
              },
              {
                "const": 46,
                "title": "왼쪽에 도시 고속 도로 입구"
              },
              {
                "const": 47,
                "title": "오른쪽에 도시 고속 도로 입구"
              },
              {
                "const": 48,
                "title": "왼쪽 고속 도로 진입"
              },
              {
                "const": 49,
                "title": "오른쪽 고속 도로 진입"
              },
              {
                "const": 61,
                "title": "페리 항로 진입"
              },
              {
                "const": 62,
                "title": "페리 항로 진출"
              },
              {
                "const": 70,
                "title": "회전 교차로에서 오른쪽 1시 방향"
              },
              {
                "const": 71,
                "title": "회전 교차로에서 오른쪽 2시 방향"
              },
              {
                "const": 72,
                "title": "회전 교차로에서 오른쪽 3시 방향"
              },
              {
                "const": 73,
                "title": "회전 교차로에서 오른쪽 4시 방향"
              },
              {
                "const": 74,
                "title": "회전 교차로에서 오른쪽 5시 방향"
              },
              {
                "const": 75,
                "title": "회전 교차로에서 6시 방향"
              },
              {
                "const": 76,
                "title": "회전 교차로에서 왼쪽 7시 방향"
              },
              {
                "const": 77,
                "title": "회전 교차로에서 왼쪽 8시 방향"
              },
              {
                "const": 78,
                "title": "회전 교차로에서 왼쪽 9시 방향"
              },
              {
                "const": 79,
                "title": "회전 교차로에서 왼쪽 10시 방향"
              },
              {
                "const": 80,
                "title": "회전 교차로에서 왼쪽 11시 방향"
              },
              {
                "const": 81,
                "title": "회전 교차로에서 12시 방향"
              },
              {
                "const": 82,
                "title": "왼쪽 직진"
              },
              {
                "const": 83,
                "title": "오른쪽 직진"
              },
              {
                "const": 84,
                "title": "톨게이트 진입"
              },
              {
                "const": 85,
                "title": "원톨링 진입"
              },
              {
                "const": 86,
                "title": "분기 후 합류 구간 진입"
              },
              {
                "const": 100,
                "title": "출발지"
              },
              {
                "const": 101,
                "title": "목적지"
              },
              {
                "const": 300,
                "title": "톨게이트"
              },
              {
                "const": 301,
                "title": "휴게소"
              },
              {
                "const": 1000,
                "title": "경유지"
              }
            ],
            "title": "Guide type"
          },
          "guidance": {
            "type": "string",
            "title": "Guide text"
          },
          "road_index": {
            "type": "integer",
            "title": "Link index for the current guide"
          },
          "name": {
            "type": "string",
            "title": "place name"
          },
          "x": {
            "type": "number",
            "title": "X coordinate (longitude)"
          },
          "y": {
            "type": "number",
            "title": "Y coordinate (latitude)"
          },
          "duration": {
            "type": "integer",
            "title": "Full search results move time (seconds)"
          },
          "distance": {
            "type": "integer",
            "title": "Section Distance (meters)"
          }
        },
        "required": [
          "type",
          "guidance",
          "road_index",
          "name",
          "x",
          "y",
          "duration",
          "distance"
        ],
        "title": "Guide information"
      },
      "IKakaoNavi.IGetFutureDirectionsInput": {
        "type": "object",
        "properties": {
          "departure_time": {
            "type": "string",
            "x-wrtn-placeholder": "202406202000",
            "title": "Departure time",
            "description": "Set time after current time in YYYYMMDDHHMM format"
          },
          "origin": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?,[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "127.111202,37.394912",
            "title": "Origin",
            "description": "Longitude and latitude values in X, Y coordinate format"
          },
          "destination": {
            "type": "string",
            "pattern": "([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?,[+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)",
            "x-wrtn-placeholder": "127.111202,37.394912",
            "title": "Destination",
            "description": "Longitude and latitude values in X, Y coordinate format"
          }
        },
        "required": [
          "departure_time",
          "origin",
          "destination"
        ],
        "title": "Request Conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Kakao Navi"
    }
  ],
  "x-samchon-emended": true
}