{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "카카오톡 메시징 및 일정 관리",
    "summary": "카카오톡으로 메시지를 보내고 일정을 관리해요.",
    "description": "카카오톡으로 다양한 유형의 메시지를 보내고, 캘린더를 조회하고 일정을 추가할 수 있어요. 친구 목록도 조회할 수 있어요. 텍스트 메시지는 물론 이미지, 링크, 위치 정보 등을 포함한 다양한 형태의 메시지를 전송할 수 있어요. 개인 캘린더와 채널 캘린더를 관리하여 효율적인 일정 관리가 가능해요. 친구나 그룹채팅방에 일정을 공유하고, 알림을 설정할 수 있어 중요한 약속을 잊지 않을 수 있어요.",
    "version": "0.1.97",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/kakao-talk/message/text": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for sending the message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response and failure information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "Send a message to a KakaoTalk(카카오톡) friend",
        "description": "Sends a text type KakaoTalk(카카오톡) message to a friend\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg"
      }
    },
    "/connector/kakao-talk/memo/commerce": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for sending the message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "Send a message to myself on KakaoTalk(카카오톡)",
        "description": "Sends a commerce type message to myself on KakaoTalk(카카오톡)\n\nWhen sending a KakaoTalk(카카오톡) message, there are buttons. If you want to add a link to the button, you should use a URL starting with `https://studio-pro.wrtn.ai/` or a redirect link. If the link starts with `https://studio-pro.wrtn.ai/`, the page will be viewed, otherwise, it will redirect to the new link. This is because only links registered in our domain are allowed according to the KakaoTalk(카카오톡) API specifications.\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/location": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for sending the message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "Send a message to myself on KakaoTalk(카카오톡)",
        "description": "Sends a location type message to myself on KakaoTalk(카카오톡)\n\nWhen sending a KakaoTalk(카카오톡) message, there are buttons. If you want to add a link to the button, you should use a URL starting with `https://studio-pro.wrtn.ai/` or a redirect link. If the link starts with `https://studio-pro.wrtn.ai/`, the page will be viewed, otherwise, it will redirect to the new link. This is because only links registered in our domain are allowed according to the KakaoTalk(카카오톡) API specifications.\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/list": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for sending the message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "Send a message to myself on KakaoTalk(카카오톡)",
        "description": "Sends a list type message to myself on KakaoTalk(카카오톡)\n\nWhen sending a KakaoTalk(카카오톡) message, there are buttons. If you want to add a link to the button, you should use a URL starting with `https://studio-pro.wrtn.ai/` or a redirect link. If the link starts with `https://studio-pro.wrtn.ai/`, the page will be viewed, otherwise, it will redirect to the new link. This is because only links registered in our domain are allowed according to the KakaoTalk(카카오톡) API specifications.\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/feed": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for sending the message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "Send a message to myself on KakaoTalk(카카오톡)",
        "description": "Sends a feed type message to myself on KakaoTalk(카카오톡)\n\nWhen sending a KakaoTalk(카카오톡) message, there are buttons. If you want to add a link to the button, you should use a URL starting with `https://studio-pro.wrtn.ai/` or a redirect link. If the link starts with `https://studio-pro.wrtn.ai/`, the page will be viewed, otherwise, it will redirect to the new link. This is because only links registered in our domain are allowed according to the KakaoTalk(카카오톡) API specifications.\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/text": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for sending the message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkTextInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Response code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "Send a message to myself on KakaoTalk(카카오톡)",
        "description": "Sends a text type message to myself on KakaoTalk(카카오톡)\n\nWhen sending a KakaoTalk(카카오톡) message, there are buttons. If you want to add a link to the button, you should use a URL starting with `https://studio-pro.wrtn.ai/` or a redirect link. If the link starts with `https://studio-pro.wrtn.ai/`, the page will be viewed, otherwise, it will redirect to the new link. This is because only links registered in our domain are allowed according to the KakaoTalk(카카오톡) API specifications.\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/calendars/events": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Input conditions for creating an event",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ICreateEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created event ID condition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ICreateEventOutput"
                }
              }
            }
          }
        },
        "summary": "Add an event to the KakaoTalk(카카오톡) calendar",
        "description": "Adds an event to the KakaoTalk(카카오톡) calendar\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-friends": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for retrieving the friend list",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Retrieved friend list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "Retrieve the list of friends on KakaoTalk(카카오톡)",
        "description": "Retrieves the list of friends on KakaoTalk(카카오톡)\n\nKakaoTalk(카카오톡) is a mobile messenger application in South Korea, which also provides various additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-events": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "DTO for event retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres..."
                  },
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres....o1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "DTO containing event information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetEventOutput"
                }
              }
            }
          }
        },
        "summary": "Retrieve KakaoTalk(카카오톡) calendar events",
        "description": "Retrieves KakaoTalk(카카오톡) calendar events.\n\nThe user needs to provide the calendar ID as an input parameter.\nIf no calendar is provided, it defaults to retrieving the user's own calendar.\nTherefore, this feature can be used even if no calendar ID is specified.\n\nThe conditions for retrieving events include specifying the period for which events are to be fetched.\nThis connector is designed to view data for either a week or a month.\n\nKakaoTalk(카카오톡) is a mobile messaging application in South Korea, and it also provides additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-calendars": {
      "post": {
        "tags": [
          "KakaoTalk(카카오톡)"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Request DTO to retrieve calendars.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICommon.ISecretkakaotalk_calendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Calendar list object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetCalendarOutput"
                }
              }
            }
          }
        },
        "summary": "Retrieve KakaoTalk(카카오톡) calendar lists",
        "description": "Retrieves all KakaoTalk(카카오톡) calendar lists\n\nThere are two types of calendars: your primary calendars and calendars you are subscribed to.\nAll Kakao users have their own personal calendars, so there will be at least one calendar.\nThe primary calendar has an ID of `primary`, which is the user's own calendar.\n\nKakaoTalk(카카오톡) is a mobile messenger application from South Korea that also provides additional services.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IKakaoTalk.ISendKakaoTalkToFriendsInput": {
        "type": "object",
        "properties": {
          "receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/kakao-talk/get-friends",
                "jmesPath": "{value:elements[].uuid, label:elements[].profile_nickname}"
              }
            },
            "minItems": 1,
            "maxItems": 5,
            "title": "List of friends' UUIDs"
          },
          "message": {
            "type": "string",
            "maxLength": 200,
            "title": "Message to send"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "receiver_uuids",
          "message",
          "secretKey"
        ],
        "title": "Message Sending Conditions"
      },
      "IKakaoTalk.ISendKakaoTalkToFriendsOutput": {
        "type": "object",
        "properties": {
          "successful_receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "title": "List of successfully sent friend UUIDs"
          },
          "failure_info": {
            "$ref": "#/components/schemas/IKakaoTalk.failureInfo",
            "title": "Failure Information"
          }
        },
        "title": "Message Sending Result"
      },
      "IKakaoTalk.failureInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "title": "Error Code"
          },
          "msg": {
            "type": "string",
            "title": "Error Message"
          },
          "receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "title": "List of friend UUIDs that failed with the given error code"
          }
        },
        "required": [
          "code",
          "msg",
          "receiver_uuids"
        ],
        "title": "Failure Information"
      },
      "IKakaoTalk.ISendKakaoTalkCommerceInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ICommerceMemoInput",
            "title": "Commerce Template"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "Message Sending Conditions"
      },
      "IKakaoTalk.ICommerceMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "commerce",
            "title": "Commerce Type",
            "x-wrtn-placeholder": "commerce"
          },
          "commerce": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined..."
              },
              {
                "$ref": "#/components/schemas/product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined....o1"
              }
            ],
            "title": "Product Name and Pricing Information"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "List of Buttons",
            "description": "Used to customize button titles and links. Supports two buttons and takes precedence over `button_title`."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "Message Content"
          },
          "button_title": {
            "type": "string",
            "title": "Button Title"
          }
        },
        "required": [
          "object_type",
          "commerce",
          "content"
        ],
        "title": "Commerce Template"
      },
      "product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined...": {
        "type": "object",
        "properties": {
          "product_name": {
            "type": "string",
            "title": "Product Name and Title"
          },
          "regular_price": {
            "type": "integer",
            "title": "Regular Price"
          },
          "discount_price": {
            "type": "integer",
            "title": "Discounted Price"
          },
          "currency_unit": {
            "type": "string",
            "default": "원",
            "title": "Currency Unit or Symbol"
          },
          "currency_unit_position": {
            "oneOf": [
              {
                "const": 0,
                "title": "Displayed after price"
              },
              {
                "const": 1,
                "title": "Displayed before price"
              }
            ],
            "title": "Currency Unit Position"
          },
          "discount_rate": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "title": "Discount Rate",
            "description": "A number between 0 and 100"
          }
        },
        "required": [
          "regular_price"
        ]
      },
      "product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined....o1": {
        "type": "object",
        "properties": {
          "product_name": {
            "type": "string",
            "title": "Product Name and Title"
          },
          "regular_price": {
            "type": "integer",
            "title": "Regular Price"
          },
          "discount_price": {
            "type": "integer",
            "title": "Discounted Price"
          },
          "currency_unit": {
            "type": "string",
            "default": "원",
            "title": "Currency Unit or Symbol"
          },
          "currency_unit_position": {
            "oneOf": [
              {
                "const": 0,
                "title": "Displayed after price"
              },
              {
                "const": 1,
                "title": "Displayed before price"
              }
            ],
            "title": "Currency Unit Position"
          },
          "fixedDiscountPrice": {
            "type": "integer",
            "minimum": 0,
            "title": "Fixed Discount Price",
            "description": "Cannot be used together with discount rate"
          }
        },
        "required": [
          "regular_price"
        ]
      },
      "IKakaoTalk.Button": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "x-wrtn-placeholder": "Button Name",
            "title": "Button Name"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "Button Link"
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "Button Information"
      },
      "IKakaoTalk.IWebLink": {
        "type": "object",
        "properties": {
          "web_url": {
            "type": "string",
            "format": "url",
            "title": "Web Link"
          }
        },
        "required": [
          "web_url"
        ],
        "title": "Web Link"
      },
      "IKakaoTalk.IMobileWebLink": {
        "type": "object",
        "properties": {
          "mobile_web_url": {
            "type": "string",
            "format": "url",
            "title": "Mobile Web Link"
          }
        },
        "required": [
          "mobile_web_url"
        ],
        "title": "Mobile Web Link"
      },
      "IKakaoTalk.IAndroidAppLink": {
        "type": "object",
        "properties": {
          "android_execution_params": {
            "type": "string",
            "title": "App Link",
            "description": "Use `mobile_web_url` if this value is absent"
          }
        },
        "required": [
          "android_execution_params"
        ],
        "title": "Android App Link"
      },
      "IKakaoTalk.IiOSAppLink": {
        "type": "object",
        "properties": {
          "ios_execution_params": {
            "type": "string",
            "title": "App Link",
            "description": "Use `mobile_web_url` if this value is absent"
          }
        },
        "required": [
          "ios_execution_params"
        ],
        "title": "iOS App Link"
      },
      "titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "Image Width",
            "description": "In pixels."
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "Image Height",
            "description": "In pixels."
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "Link Information for Redirection"
          }
        },
        "required": [
          "title",
          "link"
        ]
      },
      "image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "format": "url",
            "title": "Image URL",
            "description": "The image size must not exceed `5MB`."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "Image Width",
            "description": "In pixels."
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "Image Height",
            "description": "In pixels."
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "Link Information for Redirection"
          }
        },
        "required": [
          "image_url",
          "link"
        ]
      },
      "descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "title": "Detailed Description",
            "description": "Combined with title, displayed up to 4 lines."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "Image Width",
            "description": "In pixels."
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "Image Height",
            "description": "In pixels."
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "Link Information for Redirection"
          }
        },
        "required": [
          "description",
          "link"
        ]
      },
      "IKakaoTalk.IMemoOutput": {
        "type": "object",
        "properties": {
          "result_code": {
            "$ref": "#/components/schemas/Constant0__type",
            "title": "Response Code"
          }
        },
        "required": [
          "result_code"
        ]
      },
      "Constant0__type": {
        "const": 0,
        "title": "Success",
        "description": "Indicates successful message sending"
      },
      "IKakaoTalk.ISendKakaoTalkLocationInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ILocationMemoInput",
            "title": "Location Template"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "Message Sending Conditions"
      },
      "IKakaoTalk.ILocationMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "location",
            "title": "Location Type",
            "x-wrtn-placeholder": "location"
          },
          "address": {
            "type": "string",
            "title": "Address of the Location to Share"
          },
          "address_title": {
            "type": "string",
            "title": "Title Used in KakaoTalk Map View"
          },
          "social": {
            "$ref": "#/components/schemas/IKakaoTalk.Social",
            "title": "Additional Social Information"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "List of Buttons",
            "description": "Used to customize button titles and links. Supports two buttons and takes precedence over `button_title`."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "Message Content"
          },
          "button_title": {
            "type": "string",
            "title": "Button Title"
          }
        },
        "required": [
          "object_type",
          "address",
          "content"
        ],
        "title": "Location Template"
      },
      "IKakaoTalk.Social": {
        "type": "object",
        "properties": {
          "like_count": {
            "type": "integer",
            "title": "Number of Likes on the Content"
          },
          "comment_count": {
            "type": "integer",
            "title": "Number of Comments on the Content"
          },
          "shared_count": {
            "type": "integer",
            "title": "Number of Shares of the Content"
          },
          "view_count": {
            "type": "integer",
            "title": "Number of Views of the Content"
          },
          "subscriber_count": {
            "type": "integer",
            "title": "Number of Subscribers to the Content"
          }
        },
        "title": "Social Information",
        "description": "Up to 3 out of 5 attributes will be displayed. Priority is Like > Comment > Shared > View > Subscriber."
      },
      "IKakaoTalk.ISendKakaoTalkListInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.IListMemoInput",
            "title": "List Template"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "Message Sending Conditions"
      },
      "IKakaoTalk.IListMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "list",
            "title": "List Type",
            "x-wrtn-placeholder": "list"
          },
          "header_title": {
            "type": "string",
            "maxLength": 200,
            "title": "Main Title Displayed at the Top of the List"
          },
          "header_link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "Link Information Corresponding to the Header Title"
          },
          "contents": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
                },
                {
                  "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
                },
                {
                  "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
                }
              ]
            },
            "minItems": 2,
            "maxItems": 3,
            "title": "List of Contents Displayed in the List"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "List of Buttons",
            "description": "Used to customize button titles and links. Supports two buttons and takes precedence over `button_title`."
          },
          "button_title": {
            "type": "string",
            "title": "Button Title"
          }
        },
        "required": [
          "object_type",
          "header_title",
          "header_link",
          "contents"
        ],
        "title": "List Template"
      },
      "IKakaoTalk.ISendKakaoTalkFeedInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.IFeedMemoInput",
            "title": "Feed Template"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "Message Sending Conditions"
      },
      "IKakaoTalk.IFeedMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "feed",
            "title": "Feed Type"
          },
          "item_content": {
            "$ref": "#/components/schemas/IKakaoTalk.ItemContent",
            "title": "Content to Include in the Item Area"
          },
          "social": {
            "$ref": "#/components/schemas/IKakaoTalk.Social",
            "title": "Social Information About the Content"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "List of Buttons",
            "description": "Used to customize button titles and links. Supports two buttons and takes precedence over `button_title`."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "Message Content"
          },
          "button_title": {
            "type": "string",
            "title": "Button Title"
          }
        },
        "required": [
          "object_type",
          "item_content",
          "content"
        ],
        "title": "Feed Template"
      },
      "IKakaoTalk.ItemContent": {
        "type": "object",
        "properties": {
          "profile_text": {
            "type": "string",
            "maxLength": 16,
            "title": "Text to Display in the Header or Profile Area",
            "description": "If `profile_image_url` is absent, it will be displayed as a bold header containing only the title."
          },
          "profile_image_url": {
            "type": "string",
            "format": "url",
            "title": "Profile Image",
            "description": "Displayed as a small circular profile photo."
          },
          "title_image_url": {
            "type": "string",
            "format": "url",
            "title": "Item Image",
            "description": "iOS 108x108, Android 98x98 size. Images not in a 1:1 ratio will be center cropped."
          },
          "title_image_text": {
            "type": "string",
            "maxLength": 24,
            "title": "Item Title",
            "description": "Maximum of 2 lines."
          },
          "title_image_category": {
            "type": "string",
            "maxLength": 14,
            "title": "Category",
            "description": "Maximum of 1 line."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.ItemInfo"
            },
            "maxItems": 5,
            "title": "List of Items",
            "description": "Information for each text item."
          },
          "sum": {
            "type": "string",
            "maxLength": 6,
            "title": "Total Amount"
          },
          "sum_op": {
            "type": "string",
            "maxLength": 11,
            "title": "Price Summary Information"
          }
        },
        "title": "Item Content"
      },
      "IKakaoTalk.ItemInfo": {
        "type": "object",
        "properties": {
          "item": {
            "type": "string",
            "maxLength": 6,
            "title": "Item Name"
          },
          "item_op": {
            "type": "string",
            "maxLength": 14,
            "title": "Item Price"
          }
        },
        "required": [
          "item",
          "item_op"
        ],
        "title": "Item Information"
      },
      "IKakaoTalk.ISendKakaoTalkTextInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ITextMemoInput",
            "title": "Text Template"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "Message Sending Conditions"
      },
      "IKakaoTalk.ITextMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "text",
            "title": "Text Type"
          },
          "text": {
            "type": "string",
            "maxLength": 200,
            "title": "Body Text"
          },
          "link": {
            "$ref": "#/components/schemas/IWebLinkIMobileWebLink",
            "title": "Link"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "List of Buttons",
            "description": "Used to customize button titles and links. Supports two buttons and takes precedence over `button_title`."
          },
          "button_title": {
            "type": "string",
            "title": "Button Title"
          }
        },
        "required": [
          "object_type",
          "text",
          "link"
        ],
        "title": "Text Template"
      },
      "IWebLinkIMobileWebLink": {
        "type": "object",
        "properties": {
          "web_url": {
            "type": "string",
            "format": "url",
            "title": "Web Link"
          },
          "mobile_web_url": {
            "type": "string",
            "format": "url",
            "title": "Mobile Web Link"
          }
        },
        "required": [
          "web_url",
          "mobile_web_url"
        ]
      },
      "IKakaoTalk.ICreateEventInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "Calendar ID to create the event in"
          },
          "event": {
            "$ref": "#/components/schemas/IKakaoTalk.Event",
            "title": "Information of the event to be created"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "event",
          "secretKey"
        ],
        "title": "Conditions for creating an event"
      },
      "IKakaoTalk.Event": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 50,
            "x-wrtn-placeholder": "Event title",
            "title": "Event title"
          },
          "time": {
            "$ref": "#/components/schemas/IKakaoTalk.Time",
            "title": "Event time"
          },
          "rrule": {
            "type": "string",
            "title": "Recurrence rule for the event",
            "description": "In RFC5545 RRULE format"
          },
          "description": {
            "type": "string",
            "maxLength": 5000,
            "x-wrtn-placeholder": "Event description",
            "title": "Event description"
          },
          "location": {
            "$ref": "#/components/schemas/IKakaoTalk.Location",
            "title": "Event location"
          },
          "reminders": {
            "type": "array",
            "items": {
              "type": "number",
              "multipleOf": 5,
              "minimum": -1440,
              "maximum": 43200
            },
            "maxItems": 2,
            "title": "Reminder settings",
            "description": "In minutes, can be set in 5-minute intervals, up to 2 reminders. For all-day events, can start from -1440, for non-all-day events, starts from 0."
          },
          "color": {
            "oneOf": [
              {
                "const": "BLUE",
                "title": "BLUE",
                "description": "2C88DE"
              },
              {
                "const": "ROYAL_BLUE",
                "title": "ROYAL_BLUE",
                "description": "2D69E0"
              },
              {
                "const": "NAVY_BLUE",
                "title": "NAVY_BLUE",
                "description": "223788"
              },
              {
                "const": "RED",
                "title": "RED",
                "description": "D42726"
              },
              {
                "const": "PINK",
                "title": "PINK",
                "description": "ED5683"
              },
              {
                "const": "ORANGE",
                "title": "ORANGE",
                "description": "FF9429"
              },
              {
                "const": "GREEN",
                "title": "GREEN",
                "description": "149959"
              },
              {
                "const": "LIME",
                "title": "LIME",
                "description": "7CB343"
              },
              {
                "const": "OLIVE",
                "title": "OLIVE",
                "description": "A4AD15"
              },
              {
                "const": "MINT",
                "title": "MINT",
                "description": "5CC5BE"
              },
              {
                "const": "MAGENTA",
                "title": "MAGENTA",
                "description": "AB47BC"
              },
              {
                "const": "VIOLET",
                "title": "VIOLET",
                "description": "8A4B9B"
              },
              {
                "const": "LAVENDER",
                "title": "LAVENDER",
                "description": "7986CB"
              },
              {
                "const": "BROWN",
                "title": "BROWN",
                "description": "945C1F"
              },
              {
                "const": "GRAY",
                "title": "GRAY",
                "description": "666666"
              }
            ],
            "title": "Event color"
          }
        },
        "required": [
          "title",
          "time"
        ],
        "title": "Event created in KakaoTalk calendar"
      },
      "IKakaoTalk.Time": {
        "type": "object",
        "properties": {
          "start_at": {
            "type": "string",
            "x-wrtn-placeholder": "2023-12-31T15:00:00Z",
            "title": "Start time of the event",
            "description": "Can be set in 5-minute intervals"
          },
          "end_at": {
            "type": "string",
            "x-wrtn-placeholder": "2024-01-01T15:00:00Z",
            "title": "End time of the event"
          },
          "time_zone": {
            "type": "string",
            "default": "Asia/Seoul",
            "title": "Timezone setting\n\nIn TZID format."
          },
          "all_day": {
            "type": "boolean",
            "default": false,
            "title": "Whether the event is all-day"
          },
          "lunar": {
            "type": "boolean",
            "default": false,
            "title": "Whether to set the date based on the lunar calendar"
          }
        },
        "title": "Time settings for an event"
      },
      "IKakaoTalk.Location": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 50,
            "title": "Place Name"
          },
          "location_id": {
            "type": "number",
            "title": "Place ID"
          },
          "address": {
            "type": "string",
            "title": "Address"
          },
          "latitude": {
            "type": "number",
            "title": "Latitude"
          },
          "longitude": {
            "type": "number",
            "title": "Longitude"
          }
        },
        "title": "Location"
      },
      "IKakaoTalk.ICreateEventOutput": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "title": "ID of the created event"
          }
        },
        "required": [
          "event_id"
        ],
        "title": "Output of created event"
      },
      "IKakaoTalk.IGetFriendsInput": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "default": 0,
            "title": "Starting point of the friends list"
          },
          "limit": {
            "type": "integer",
            "title": "Number of friends per page"
          },
          "order": {
            "oneOf": [
              {
                "const": "asc",
                "title": "Ascending",
                "default": "asc"
              },
              {
                "const": "desc",
                "title": "Descending",
                "default": "asc"
              }
            ],
            "title": "Sort order of the friends list"
          },
          "friend_order": {
            "oneOf": [
              {
                "const": "favorite",
                "title": "Sort by favorite",
                "default": "favorite"
              },
              {
                "const": "nickname",
                "title": "Sort by nickname",
                "default": "favorite"
              }
            ],
            "title": "Sort criteria of the friends list"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "friends"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "Conditions for retrieving friends"
      },
      "IKakaoTalk.IGetFriendsOutput": {
        "type": "object",
        "properties": {
          "elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Friend"
            },
            "title": "Friends list"
          },
          "total_count": {
            "type": "integer",
            "title": "Total number of friends"
          },
          "after_url": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "Next page URL of the friends list"
          },
          "before_url": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "Previous page URL of the friends list"
          },
          "favorite_count": {
            "type": "integer",
            "title": "Number of favorite friends"
          }
        },
        "required": [
          "elements",
          "total_count"
        ],
        "title": "Result of retrieving friends"
      },
      "IKakaoTalk.Friend": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "title": "Member number",
            "description": "User ID\n\nA member number assigned to a friend in KakaoTalk, equivalent to the ID value.\nNote that the `uuid` property is used when sending messages."
          },
          "uuid": {
            "type": "string",
            "title": "Friend code",
            "description": "Friend code used when sending KakaoTalk messages. Used for actions such as sending KakaoTalk messages later.\nAlthough the property name is `uuid`, it is not in the usual uuid format, so use it with caution."
          },
          "favorite": {
            "type": "boolean",
            "title": "Whether the friend is a favorite"
          },
          "profile_nickname": {
            "type": "string",
            "title": "Nickname"
          },
          "profile_thumbnail_image": {
            "type": "string",
            "format": "uri",
            "title": "Thumbnail"
          }
        },
        "required": [
          "id",
          "uuid",
          "profile_nickname"
        ],
        "title": "KakaoTalk friend"
      },
      "ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres...": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "calender_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "Calendar ID to Retrieve Events",
            "description": "Defaults to retrieving all calendars if not specified."
          },
          "preset": {
            "oneOf": [
              {
                "const": "TODAY",
                "title": "The day of the query"
              },
              {
                "const": "THIS_WEEK",
                "title": "The week containing the query date starting on Sunday"
              },
              {
                "const": "THIS_MONTH",
                "title": "The month containing the query date starting on the 1st"
              }
            ],
            "title": "Time Period for Retrieving Events",
            "description": "Required if `from` and `to` are not included, and ignored if `next_page_token` is included."
          },
          "time_zone": {
            "type": "string",
            "title": "Time Zone for Deadline Dates\n\nIn TZID format."
          },
          "limit": {
            "type": "integer",
            "minimum": 100,
            "maximum": 1000,
            "title": "Maximum Number of Events to Receive in Response"
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "title": "Start Time of the Period to Retrieve Events",
            "description": "Required if `from` and `to` are not included and ignored if `next_page_token` is included."
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "title": "End Time of the Period to Retrieve Events",
            "description": "Required if `from` and `to` are not included and ignored if `next_page_token` is included. Must be within 31 days from `to`."
          }
        },
        "required": [
          "secretKey",
          "from",
          "to"
        ]
      },
      "ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres....o1": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "calender_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "Calendar ID to Retrieve Events",
            "description": "Defaults to retrieving all calendars if not specified."
          },
          "preset": {
            "oneOf": [
              {
                "const": "TODAY",
                "title": "The day of the query"
              },
              {
                "const": "THIS_WEEK",
                "title": "The week containing the query date starting on Sunday"
              },
              {
                "const": "THIS_MONTH",
                "title": "The month containing the query date starting on the 1st"
              }
            ],
            "title": "Time Period for Retrieving Events",
            "description": "Required if `from` and `to` are not included, and ignored if `next_page_token` is included."
          },
          "time_zone": {
            "type": "string",
            "title": "Time Zone for Deadline Dates\n\nIn TZID format."
          },
          "limit": {
            "type": "integer",
            "minimum": 100,
            "maximum": 1000,
            "title": "Maximum Number of Events to Receive in Response"
          },
          "next_page_token": {
            "type": "string",
            "title": "Token for Pagination",
            "description": "Query condition token including `from`, `to`, and `limit` values, available in the `after_url` received in the response."
          }
        },
        "required": [
          "secretKey",
          "next_page_token"
        ]
      },
      "IKakaoTalk.IGetEventOutput": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.EventBrief"
            },
            "title": "List of events"
          },
          "has_next": {
            "type": "boolean",
            "title": "Whether there is a next page"
          },
          "after_url": {
            "type": "string",
            "format": "url",
            "title": "URL of the next page\n\nA URL containing parameters and values to retrieve the next page, used as is when requesting the next page.\n\nProvided when `has_next` is true."
          }
        },
        "required": [
          "events",
          "has_next"
        ],
        "title": "Result of retrieving events"
      },
      "IKakaoTalk.EventBrief": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Event ID"
          },
          "title": {
            "type": "string",
            "title": "Event title"
          },
          "type": {
            "type": "string",
            "title": "Event type"
          },
          "calendar_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "Calendar ID",
            "description": "Fixed to primary for the default calendar"
          },
          "time": {
            "$ref": "#/components/schemas/IKakaoTalk.Time",
            "title": "Event time"
          },
          "is_host": {
            "type": "boolean",
            "default": false,
            "title": "Whether the user is the host of the event",
            "description": "For public/subscribed or invited events"
          },
          "is_recur_event": {
            "type": "boolean",
            "title": "Whether the event is recurring",
            "description": "Required if type is USER."
          },
          "color": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantBLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROYAL_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNAVY_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPINK__type"
              },
              {
                "$ref": "#/components/schemas/ConstantORANGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGREEN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLIME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantOLIVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMINT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMAGENTA__type"
              },
              {
                "$ref": "#/components/schemas/ConstantVIOLET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLAVENDER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBROWN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGRAY__type"
              }
            ],
            "title": "Event color",
            "description": "Not included if not specified during event creation or editing."
          }
        },
        "required": [
          "time"
        ],
        "title": "Event"
      },
      "ConstantBLUE__type": {
        "const": "BLUE",
        "title": "BLUE",
        "description": "2C88DE"
      },
      "ConstantROYAL_BLUE__type": {
        "const": "ROYAL_BLUE",
        "title": "ROYAL_BLUE",
        "description": "2D69E0"
      },
      "ConstantNAVY_BLUE__type": {
        "const": "NAVY_BLUE",
        "title": "NAVY_BLUE",
        "description": "223788"
      },
      "ConstantRED__type": {
        "const": "RED",
        "title": "RED",
        "description": "D42726"
      },
      "ConstantPINK__type": {
        "const": "PINK",
        "title": "PINK",
        "description": "ED5683"
      },
      "ConstantORANGE__type": {
        "const": "ORANGE",
        "title": "ORANGE",
        "description": "FF9429"
      },
      "ConstantGREEN__type": {
        "const": "GREEN",
        "title": "GREEN",
        "description": "149959"
      },
      "ConstantLIME__type": {
        "const": "LIME",
        "title": "LIME",
        "description": "7CB343"
      },
      "ConstantOLIVE__type": {
        "const": "OLIVE",
        "title": "OLIVE",
        "description": "A4AD15"
      },
      "ConstantMINT__type": {
        "const": "MINT",
        "title": "MINT",
        "description": "5CC5BE"
      },
      "ConstantMAGENTA__type": {
        "const": "MAGENTA",
        "title": "MAGENTA",
        "description": "AB47BC"
      },
      "ConstantVIOLET__type": {
        "const": "VIOLET",
        "title": "VIOLET",
        "description": "8A4B9B"
      },
      "ConstantLAVENDER__type": {
        "const": "LAVENDER",
        "title": "LAVENDER",
        "description": "7986CB"
      },
      "ConstantBROWN__type": {
        "const": "BROWN",
        "title": "BROWN",
        "description": "945C1F"
      },
      "ConstantGRAY__type": {
        "const": "GRAY",
        "title": "GRAY",
        "description": "666666"
      },
      "ICommon.ISecretkakaotalk_calendar": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "IKakaoTalk.IGetCalendarOutput": {
        "type": "object",
        "properties": {
          "calendars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Calendar"
            },
            "title": "Basic Calendar",
            "description": "Personal calendars.\nAlthough these are personal, they are not limited to just your own events; you can view events from friends' schedules if invited or shared."
          },
          "subscribe_calendars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.SubscribeCalendars"
            },
            "title": "List of Subscribed Calendars",
            "description": "Subscription calendars.\nThese are managed in chat rooms where multiple members have created a group. You can view the calendars of the chat rooms you belong to."
          }
        },
        "title": "Talk Calendar",
        "description": "There are two types of calendars in KakaoTalk:\n1. Basic Calendar: This is a personal calendar. While it is personal, it is not limited to viewing only your own events; you can view events shared by friends or events you were invited to.\n2. Subscription Calendar: This is a shared calendar managed by a group of members in a chat room. You can view the calendars of the chat rooms you are part of."
      },
      "IKakaoTalk.Calendar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "title": "Calendar ID.\n\nFor calendars that users typically have by default, it is referred to as `primary`."
          },
          "name": {
            "type": "string",
            "x-wrtn-placeholder": "Calendar Name",
            "title": "Calendar Name"
          },
          "color": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantBLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROYAL_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNAVY_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPINK__type"
              },
              {
                "$ref": "#/components/schemas/ConstantORANGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGREEN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLIME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantOLIVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMINT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMAGENTA__type"
              },
              {
                "$ref": "#/components/schemas/ConstantVIOLET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLAVENDER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBROWN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGRAY__type"
              }
            ],
            "title": "Event Color"
          },
          "reminder": {
            "type": "integer",
            "title": "Default reminder time for non-all-day events"
          },
          "reminder_all_day": {
            "type": "integer",
            "title": "Default reminder time for all-day events"
          }
        },
        "required": [
          "id"
        ],
        "title": "Basic Calendar",
        "description": "List of sub-calendars"
      },
      "IKakaoTalk.SubscribeCalendars": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "title": "Description of the subscribed calendar set by the channel"
          },
          "profile_image_url": {
            "type": "string",
            "format": "url",
            "contentMediaType": "image/*",
            "title": "Profile image URL of the subscribed calendar"
          },
          "thumbnail_url": {
            "type": "string",
            "format": "url",
            "contentMediaType": "image/*",
            "title": "Thumbnail URL of the subscribed calendar's speech bubble"
          },
          "id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "title": "Calendar ID.\n\nFor calendars that users typically have by default, it is referred to as `primary`."
          },
          "name": {
            "type": "string",
            "x-wrtn-placeholder": "Calendar Name",
            "title": "Calendar Name"
          },
          "color": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantBLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROYAL_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNAVY_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPINK__type"
              },
              {
                "$ref": "#/components/schemas/ConstantORANGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGREEN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLIME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantOLIVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMINT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMAGENTA__type"
              },
              {
                "$ref": "#/components/schemas/ConstantVIOLET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLAVENDER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBROWN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGRAY__type"
              }
            ],
            "title": "Event Color"
          },
          "reminder": {
            "type": "integer",
            "title": "Default reminder time for non-all-day events"
          },
          "reminder_all_day": {
            "type": "integer",
            "title": "Default reminder time for all-day events"
          }
        },
        "required": [
          "id"
        ],
        "title": "List of Subscribed Calendars"
      }
    }
  },
  "tags": [
    {
      "name": "KakaoTalk(카카오톡)"
    }
  ],
  "x-samchon-emended": true
}