{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "카카오 지도",
    "version": "0.1.53",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/kakao-map/search": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordOutput"
                }
              }
            }
          }
        },
        "summary": "카카오 맵 검색",
        "description": "카카오맵으로 검색합니다",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakao-map.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IKakaoMap.SearchByKeywordInput": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "x-wrtn-placeholder": "종로구 맛집",
            "title": "검색 키워드"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 45,
            "default": 1,
            "title": "결과 페이지 번호"
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15,
            "default": 15,
            "title": "페이지 당 문서 수"
          }
        },
        "required": [
          "query"
        ],
        "title": "검색 조건"
      },
      "IKakaoMap.SearchByKeywordOutput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoMap.Document"
            },
            "title": "검색 결과 목록"
          },
          "meta": {
            "$ref": "#/components/schemas/IKakaoMap.Meta",
            "title": "메타 정보"
          }
        },
        "required": [
          "documents",
          "meta"
        ],
        "title": "검색 결과"
      },
      "IKakaoMap.Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "장소 ID"
          },
          "place_name": {
            "type": "string",
            "title": "장소명, 업체명"
          },
          "category_name": {
            "type": "string",
            "title": "카테고리 이름"
          },
          "category_group_code": {
            "$ref": "#/components/schemas/IKakaoMap.CategoryGroupCode",
            "title": "중요 카테고리만 그룹핑한 카테고리 그룹 코드"
          },
          "category_group_name": {
            "$ref": "#/components/schemas/IKakaoMap.CategoryGroupName",
            "title": "중요 카테고리만 그룹핑한 카테고리 그룹명"
          },
          "phone": {
            "type": "string",
            "title": "전화번호"
          },
          "address_name": {
            "type": "string",
            "title": "전체 지번 주소"
          },
          "road_address_name": {
            "type": "string",
            "title": "전체 도로명 주소"
          },
          "x": {
            "type": "string",
            "title": "X 좌표값",
            "description": "경위도인 경우 longitude (경도)"
          },
          "y": {
            "type": "string",
            "title": "Y 좌표값",
            "description": "경위도인 경우 latitude(위도)"
          },
          "place_url": {
            "type": "string",
            "format": "uri",
            "title": "장소 상세페이지 URL"
          },
          "distance": {
            "type": "string",
            "title": "중심좌표까지의 거리",
            "description": "(단, x,y 파라미터를 준 경우에만 존재) 단위 meter"
          }
        },
        "required": [
          "id",
          "place_name",
          "category_name",
          "category_group_code",
          "category_group_name",
          "phone",
          "address_name",
          "road_address_name",
          "x",
          "y",
          "place_url",
          "distance"
        ],
        "title": "검색 결과"
      },
      "IKakaoMap.CategoryGroupCode": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ConstantMT1__type"
          },
          {
            "$ref": "#/components/schemas/ConstantCS2__type"
          },
          {
            "$ref": "#/components/schemas/ConstantPS3__type"
          },
          {
            "$ref": "#/components/schemas/ConstantSC4__type"
          },
          {
            "$ref": "#/components/schemas/ConstantAC5__type"
          },
          {
            "$ref": "#/components/schemas/ConstantPK6__type"
          },
          {
            "$ref": "#/components/schemas/ConstantOL7__type"
          },
          {
            "$ref": "#/components/schemas/ConstantSW8__type"
          },
          {
            "$ref": "#/components/schemas/ConstantBK9__type"
          },
          {
            "$ref": "#/components/schemas/ConstantCT1__type"
          },
          {
            "$ref": "#/components/schemas/ConstantAG2__type"
          },
          {
            "$ref": "#/components/schemas/ConstantPO3__type"
          },
          {
            "$ref": "#/components/schemas/ConstantAT4__type"
          },
          {
            "$ref": "#/components/schemas/ConstantAD5__type"
          },
          {
            "$ref": "#/components/schemas/ConstantFD6__type"
          },
          {
            "$ref": "#/components/schemas/ConstantCE7__type"
          },
          {
            "$ref": "#/components/schemas/ConstantHP8__type"
          },
          {
            "$ref": "#/components/schemas/ConstantPM9__type"
          },
          {
            "$ref": "#/components/schemas/Constant__type"
          }
        ],
        "title": "카테고리 그룹 코드"
      },
      "ConstantMT1__type": {
        "const": "MT1",
        "title": "대형마트"
      },
      "ConstantCS2__type": {
        "const": "CS2",
        "title": "편의점"
      },
      "ConstantPS3__type": {
        "const": "PS3",
        "title": "어린이집,유치원"
      },
      "ConstantSC4__type": {
        "const": "SC4",
        "title": "학교"
      },
      "ConstantAC5__type": {
        "const": "AC5",
        "title": "학원"
      },
      "ConstantPK6__type": {
        "const": "PK6",
        "title": "주차장"
      },
      "ConstantOL7__type": {
        "const": "OL7",
        "title": "주유소, 충전소"
      },
      "ConstantSW8__type": {
        "const": "SW8",
        "title": "지하철역"
      },
      "ConstantBK9__type": {
        "const": "BK9",
        "title": "은행"
      },
      "ConstantCT1__type": {
        "const": "CT1",
        "title": "문화시설"
      },
      "ConstantAG2__type": {
        "const": "AG2",
        "title": "중개업소"
      },
      "ConstantPO3__type": {
        "const": "PO3",
        "title": "공공기관"
      },
      "ConstantAT4__type": {
        "const": "AT4",
        "title": "관광명소"
      },
      "ConstantAD5__type": {
        "const": "AD5",
        "title": "숙박"
      },
      "ConstantFD6__type": {
        "const": "FD6",
        "title": "음식점"
      },
      "ConstantCE7__type": {
        "const": "CE7",
        "title": "카페"
      },
      "ConstantHP8__type": {
        "const": "HP8",
        "title": "병원"
      },
      "ConstantPM9__type": {
        "const": "PM9",
        "title": "약국"
      },
      "Constant__type": {
        "const": "",
        "title": "알 수 없음"
      },
      "IKakaoMap.CategoryGroupName": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Constant대형마트__type"
          },
          {
            "$ref": "#/components/schemas/Constant편의점__type"
          },
          {
            "$ref": "#/components/schemas/Constant어린이집유치원__type"
          },
          {
            "$ref": "#/components/schemas/Constant학교__type"
          },
          {
            "$ref": "#/components/schemas/Constant학원__type"
          },
          {
            "$ref": "#/components/schemas/Constant주차장__type"
          },
          {
            "$ref": "#/components/schemas/Constant주유소충전소__type"
          },
          {
            "$ref": "#/components/schemas/Constant지하철역__type"
          },
          {
            "$ref": "#/components/schemas/Constant은행__type"
          },
          {
            "$ref": "#/components/schemas/Constant문화시설__type"
          },
          {
            "$ref": "#/components/schemas/Constant중개업소__type"
          },
          {
            "$ref": "#/components/schemas/Constant공공기관__type"
          },
          {
            "$ref": "#/components/schemas/Constant관광명소__type"
          },
          {
            "$ref": "#/components/schemas/Constant숙박__type"
          },
          {
            "$ref": "#/components/schemas/Constant음식점__type"
          },
          {
            "$ref": "#/components/schemas/Constant카페__type"
          },
          {
            "$ref": "#/components/schemas/Constant병원__type"
          },
          {
            "$ref": "#/components/schemas/Constant약국__type"
          },
          {
            "$ref": "#/components/schemas/Constant__type.o1"
          }
        ],
        "title": "카테고리 그룹 이름"
      },
      "Constant대형마트__type": {
        "const": "대형마트",
        "title": "대형마트"
      },
      "Constant편의점__type": {
        "const": "편의점",
        "title": "편의점"
      },
      "Constant어린이집유치원__type": {
        "const": "어린이집,유치원",
        "title": "어린이집,유치원"
      },
      "Constant학교__type": {
        "const": "학교",
        "title": "학교"
      },
      "Constant학원__type": {
        "const": "학원",
        "title": "학원"
      },
      "Constant주차장__type": {
        "const": "주차장",
        "title": "주차장"
      },
      "Constant주유소충전소__type": {
        "const": "주유소, 충전소",
        "title": "주유소, 충전소"
      },
      "Constant지하철역__type": {
        "const": "지하철역",
        "title": "지하철역"
      },
      "Constant은행__type": {
        "const": "은행",
        "title": "은행"
      },
      "Constant문화시설__type": {
        "const": "문화시설",
        "title": "문화시설"
      },
      "Constant중개업소__type": {
        "const": "중개업소",
        "title": "중개업소"
      },
      "Constant공공기관__type": {
        "const": "공공기관",
        "title": "공공기관"
      },
      "Constant관광명소__type": {
        "const": "관광명소",
        "title": "관광명소"
      },
      "Constant숙박__type": {
        "const": "숙박",
        "title": "숙박"
      },
      "Constant음식점__type": {
        "const": "음식점",
        "title": "음식점"
      },
      "Constant카페__type": {
        "const": "카페",
        "title": "카페"
      },
      "Constant병원__type": {
        "const": "병원",
        "title": "병원"
      },
      "Constant약국__type": {
        "const": "약국",
        "title": "약국"
      },
      "Constant__type.o1": {
        "const": "",
        "title": "알 수 없음"
      },
      "IKakaoMap.Meta": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "title": "검색어에 검색된 문서 수"
          },
          "pageable_count": {
            "type": "integer",
            "maximum": 45,
            "title": "한 번에 표시되는 문서 수"
          },
          "is_end": {
            "type": "boolean",
            "title": "현재 페이지가 마지막 페이지인지 여부",
            "description": "값이 false면 다음 요청 시 page 값을 증가시켜 다음 페이지 요청 가능"
          },
          "same_name": {
            "type": "object",
            "properties": {
              "keyword": {
                "type": "string",
                "title": "질의어에서 지역 정보를 제외한 키워드",
                "description": "'중앙로 맛집'을 검색한 경우 '맛집'에 해당하는 부분을 추출한 값"
              },
              "region": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "title": "질의어에서 인식된 지역의 리스트",
                "description": "'중앙로 맛집'을 검색한 경우 '중앙로'에 해당하는 부분을 추출한 값"
              },
              "selected_region": {
                "type": "string",
                "title": "검색에 활용된 지역 정보"
              }
            },
            "required": [
              "keyword",
              "region",
              "selected_region"
            ]
          }
        },
        "required": [
          "total_count",
          "pageable_count",
          "is_end"
        ],
        "title": "메타 정보"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}