{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "카카오 지도 정보 검색",
    "summary": "카카오 맵으로 원하는 장소를 쉽게 찾아요.",
    "description": "카카오 맵에서 키워드로 장소를 검색할 수 있어요. 검색 결과로 장소의 이름, 주소, 전화번호, 카테고리 등 상세 정보를 얻을 수 있어요. 또한 장소의 좌표 정보를 얻어 지도에 표시하거나, 길찾기에 활용할 수 있어요. 이를 통해 여행 계획을 세우거나, 주변 맛집을 찾거나, 비즈니스 위치를 분석하는 등 다양한 목적으로 활용할 수 있어요.",
    "version": "0.1.211",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/kakao-map/search": {
      "post": {
        "summary": "카카오 맵 검색",
        "description": "카카오맵으로 검색합니다\n\nIn addition to the place name company, category, and phone number,\nit also provides lot number and road name addresses in the Korean address system.\nIt can be used with public data or other address-based connectors.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/KakaoMap_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IKakaoMap.SearchByKeywordOutput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoMap.Document"
            },
            "title": "검색 결과 목록"
          },
          "meta": {
            "$ref": "#/components/schemas/IKakaoMap.Meta",
            "title": "메타 정보"
          }
        },
        "required": [
          "documents",
          "meta"
        ],
        "title": "검색 결과"
      },
      "IKakaoMap.Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "장소 ID"
          },
          "place_name": {
            "type": "string",
            "title": "장소명, 업체명"
          },
          "category_name": {
            "type": "string",
            "title": "카테고리 이름"
          },
          "category_group_code": {
            "oneOf": [
              {
                "const": "MT1",
                "title": "대형마트"
              },
              {
                "const": "CS2",
                "title": "편의점"
              },
              {
                "const": "PS3",
                "title": "어린이집,유치원"
              },
              {
                "const": "SC4",
                "title": "학교"
              },
              {
                "const": "AC5",
                "title": "학원"
              },
              {
                "const": "PK6",
                "title": "주차장"
              },
              {
                "const": "OL7",
                "title": "주유소, 충전소"
              },
              {
                "const": "SW8",
                "title": "지하철역"
              },
              {
                "const": "BK9",
                "title": "은행"
              },
              {
                "const": "CT1",
                "title": "문화시설"
              },
              {
                "const": "AG2",
                "title": "중개업소"
              },
              {
                "const": "PO3",
                "title": "공공기관"
              },
              {
                "const": "AT4",
                "title": "관광명소"
              },
              {
                "const": "AD5",
                "title": "숙박"
              },
              {
                "const": "FD6",
                "title": "음식점"
              },
              {
                "const": "CE7",
                "title": "카페"
              },
              {
                "const": "HP8",
                "title": "병원"
              },
              {
                "const": "PM9",
                "title": "약국"
              },
              {
                "const": "",
                "title": "알 수 없음"
              }
            ],
            "title": "중요 카테고리만 그룹핑한 카테고리 그룹 코드"
          },
          "category_group_name": {
            "oneOf": [
              {
                "const": "대형마트",
                "title": "대형마트"
              },
              {
                "const": "편의점",
                "title": "편의점"
              },
              {
                "const": "어린이집,유치원",
                "title": "어린이집,유치원"
              },
              {
                "const": "학교",
                "title": "학교"
              },
              {
                "const": "학원",
                "title": "학원"
              },
              {
                "const": "주차장",
                "title": "주차장"
              },
              {
                "const": "주유소, 충전소",
                "title": "주유소, 충전소"
              },
              {
                "const": "지하철역",
                "title": "지하철역"
              },
              {
                "const": "은행",
                "title": "은행"
              },
              {
                "const": "문화시설",
                "title": "문화시설"
              },
              {
                "const": "중개업소",
                "title": "중개업소"
              },
              {
                "const": "공공기관",
                "title": "공공기관"
              },
              {
                "const": "관광명소",
                "title": "관광명소"
              },
              {
                "const": "숙박",
                "title": "숙박"
              },
              {
                "const": "음식점",
                "title": "음식점"
              },
              {
                "const": "카페",
                "title": "카페"
              },
              {
                "const": "병원",
                "title": "병원"
              },
              {
                "const": "약국",
                "title": "약국"
              },
              {
                "const": "",
                "title": "알 수 없음"
              }
            ],
            "title": "중요 카테고리만 그룹핑한 카테고리 그룹명"
          },
          "phone": {
            "type": "string",
            "title": "전화번호"
          },
          "address_name": {
            "type": "string",
            "title": "전체 지번 주소"
          },
          "road_address_name": {
            "type": "string",
            "title": "전체 도로명 주소"
          },
          "x": {
            "type": "string",
            "title": "X 좌표값",
            "description": "경위도인 경우 longitude (경도)"
          },
          "y": {
            "type": "string",
            "title": "Y 좌표값",
            "description": "경위도인 경우 latitude(위도)"
          },
          "place_url": {
            "type": "string",
            "format": "uri",
            "title": "장소 상세페이지 URL"
          },
          "distance": {
            "type": "string",
            "title": "중심좌표까지의 거리",
            "description": "(단, x,y 파라미터를 준 경우에만 존재) 단위 meter"
          }
        },
        "required": [
          "id",
          "place_name",
          "category_name",
          "category_group_code",
          "category_group_name",
          "phone",
          "address_name",
          "road_address_name",
          "x",
          "y",
          "place_url",
          "distance"
        ],
        "title": "검색 결과"
      },
      "IKakaoMap.Meta": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "title": "검색어에 검색된 문서 수"
          },
          "pageable_count": {
            "type": "integer",
            "maximum": 45,
            "title": "한 번에 표시되는 문서 수"
          },
          "is_end": {
            "type": "boolean",
            "title": "현재 페이지가 마지막 페이지인지 여부",
            "description": "값이 false면 다음 요청 시 page 값을 증가시켜 다음 페이지 요청 가능"
          },
          "same_name": {
            "type": "object",
            "properties": {
              "keyword": {
                "type": "string",
                "title": "질의어에서 지역 정보를 제외한 키워드",
                "description": "'중앙로 맛집'을 검색한 경우 '맛집'에 해당하는 부분을 추출한 값"
              },
              "region": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "title": "질의어에서 인식된 지역의 리스트",
                "description": "'중앙로 맛집'을 검색한 경우 '중앙로'에 해당하는 부분을 추출한 값"
              },
              "selected_region": {
                "type": "string",
                "title": "검색에 활용된 지역 정보"
              }
            },
            "required": [
              "keyword",
              "region",
              "selected_region"
            ]
          }
        },
        "required": [
          "total_count",
          "pageable_count",
          "is_end"
        ],
        "title": "메타 정보"
      },
      "IKakaoMap.SearchByKeywordInput": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "x-wrtn-placeholder": "종로구 맛집",
            "title": "검색 키워드"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 45,
            "default": 1,
            "title": "결과 페이지 번호"
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15,
            "default": 15,
            "title": "페이지 당 문서 수"
          }
        },
        "required": [
          "query"
        ],
        "title": "검색 조건"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}