{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "kakao-map",
    "version": "0.1.448",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/kakao-map/search": {
      "patch": {
        "summary": "Kakao Map Search",
        "description": "Search with Kakao Map\n\nIn addition to the place name company, category, and phone number,\nit also provides lot number and road name addresses in the Korean address system.\nIt can be used with public data or other address-based connectors.",
        "tags": [
          "Kakao Map"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search condition",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "kakao_map",
          "search"
        ],
        "x-samchon-controller": "KakaoMapController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/kakao_map.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IKakaoMap.SearchByKeywordOutput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoMap.Document"
            },
            "title": "Search Results List"
          },
          "meta": {
            "$ref": "#/components/schemas/IKakaoMap.Meta",
            "title": "meta information"
          }
        },
        "required": [
          "documents",
          "meta"
        ],
        "title": "Search Results"
      },
      "IKakaoMap.Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Location ID"
          },
          "place_name": {
            "type": "string",
            "title": "Place name, company name"
          },
          "category_name": {
            "type": "string",
            "title": "Category Name"
          },
          "category_group_code": {
            "oneOf": [
              {
                "const": "MT1"
              },
              {
                "const": "CS2"
              },
              {
                "const": "PS3"
              },
              {
                "const": "SC4"
              },
              {
                "const": "AC5"
              },
              {
                "const": "PK6"
              },
              {
                "const": "OL7"
              },
              {
                "const": "SW8"
              },
              {
                "const": "BK9"
              },
              {
                "const": "CT1"
              },
              {
                "const": "AG2"
              },
              {
                "const": "PO3"
              },
              {
                "const": "AT4"
              },
              {
                "const": "AD5"
              },
              {
                "const": "FD6"
              },
              {
                "const": "CE7"
              },
              {
                "const": "HP8"
              },
              {
                "const": "PM9"
              },
              {
                "const": ""
              }
            ],
            "title": "Category group code that groups only important categories"
          },
          "category_group_name": {
            "oneOf": [
              {
                "const": "대형마트"
              },
              {
                "const": "편의점"
              },
              {
                "const": "어린이집,유치원"
              },
              {
                "const": "학교"
              },
              {
                "const": "학원"
              },
              {
                "const": "주차장"
              },
              {
                "const": "주유소, 충전소"
              },
              {
                "const": "지하철역"
              },
              {
                "const": "은행"
              },
              {
                "const": "문화시설"
              },
              {
                "const": "중개업소"
              },
              {
                "const": "공공기관"
              },
              {
                "const": "관광명소"
              },
              {
                "const": "숙박"
              },
              {
                "const": "음식점"
              },
              {
                "const": "카페"
              },
              {
                "const": "병원"
              },
              {
                "const": "약국"
              },
              {
                "const": ""
              }
            ],
            "title": "Category group name that groups only important categories"
          },
          "phone": {
            "type": "string",
            "title": "phone number"
          },
          "address_name": {
            "type": "string",
            "title": "Full street address"
          },
          "road_address_name": {
            "type": "string",
            "title": "Full road name address"
          },
          "x": {
            "type": "string",
            "title": "X coordinate value",
            "description": "longitude (longitude) in case of latitude and longitude"
          },
          "y": {
            "type": "string",
            "title": "Y coordinate value",
            "description": "latitude in case of longitude and latitude"
          },
          "place_url": {
            "type": "string",
            "format": "iri",
            "title": "Location details page URL"
          },
          "distance": {
            "type": "string",
            "title": "Distance to the center coordinate",
            "description": "(only exists when x,y parameters are given) Unit meter"
          }
        },
        "required": [
          "id",
          "place_name",
          "category_name",
          "category_group_code",
          "category_group_name",
          "phone",
          "address_name",
          "road_address_name",
          "x",
          "y",
          "place_url",
          "distance"
        ],
        "title": "Search Results"
      },
      "IKakaoMap.Meta": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "title": "Number of documents found for search term"
          },
          "pageable_count": {
            "type": "integer",
            "maximum": 45,
            "title": "Number of documents displayed at once"
          },
          "is_end": {
            "type": "boolean",
            "title": "Whether the current page is the last page",
            "description": "If the value is false, the page value can be increased for the next request to request the next page."
          },
          "same_name": {
            "type": "object",
            "properties": {
              "keyword": {
                "type": "string",
                "title": "Keyword excluding local information from query language",
                "description": "If you search for 'Jungang-ro Restaurant', the value extracted from the part corresponding to 'Restaurant'"
              },
              "region": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "title": "List of regions recognized in the query",
                "description": "If you search for 'Jungang-ro restaurant', the value extracted from the part corresponding to 'Jungang-ro'"
              },
              "selected_region": {
                "type": "string",
                "title": "Local information used in search"
              }
            },
            "required": [
              "keyword",
              "region",
              "selected_region"
            ]
          }
        },
        "required": [
          "total_count",
          "pageable_count",
          "is_end"
        ],
        "title": "meta information"
      },
      "IKakaoMap.SearchByKeywordInput": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "x-wrtn-placeholder": "종로구 맛집",
            "title": "Search Keyword",
            "description": "Search Keyword\n\nThe simpler the search term, the better.\nIt is a good idea to search for a specific area name\nand the type you are looking for.\nFor example, it can be 'Seoul Cafe'.\nIf you search by composing only these clear words,\nyou will provide the search results\nthat are best suited to the keyword inside the Kakao server.\nIf adjectives or words decorating places, such as 'popular cafes',\nare included, the search quality may be lowered or nothing may be searched,\nso put the search word as plain as possible."
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 45,
            "default": 1,
            "title": "Results page number"
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15,
            "default": 15,
            "title": "Number of documents per page"
          }
        },
        "required": [
          "query"
        ],
        "title": "Search Conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Kakao Map"
    }
  ],
  "x-samchon-emended": true
}