{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "카카오 지도 정보 검색",
    "summary": "카카오 맵으로 원하는 장소를 쉽게 찾아요.",
    "description": "카카오 맵에서 키워드로 장소를 검색할 수 있어요. 검색 결과로 장소의 이름, 주소, 전화번호, 카테고리 등 상세 정보를 얻을 수 있어요. 또한 장소의 좌표 정보를 얻어 지도에 표시하거나, 길찾기에 활용할 수 있어요. 이를 통해 여행 계획을 세우거나, 주변 맛집을 찾거나, 비즈니스 위치를 분석하는 등 다양한 목적으로 활용할 수 있어요.",
    "version": "0.1.375",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/kakao-map/search": {
      "post": {
        "summary": "Kakao Map Search",
        "description": "Search with Kakao Map\n\nIn addition to the place name company, category, and phone number,\nit also provides lot number and road name addresses in the Korean address system.\nIt can be used with public data or other address-based connectors.",
        "tags": [
          "Kakao Map"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Search condition",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/KakaoMap_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IKakaoMap.SearchByKeywordOutput": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoMap.Document"
            },
            "title": "Search Results List"
          },
          "meta": {
            "$ref": "#/components/schemas/IKakaoMap.Meta",
            "title": "meta information"
          }
        },
        "required": [
          "documents",
          "meta"
        ],
        "title": "Search Results"
      },
      "IKakaoMap.Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Location ID"
          },
          "place_name": {
            "type": "string",
            "title": "Place name, company name"
          },
          "category_name": {
            "type": "string",
            "title": "Category Name"
          },
          "category_group_code": {
            "oneOf": [
              {
                "const": "MT1",
                "title": "대형마트"
              },
              {
                "const": "CS2",
                "title": "편의점"
              },
              {
                "const": "PS3",
                "title": "어린이집,유치원"
              },
              {
                "const": "SC4",
                "title": "학교"
              },
              {
                "const": "AC5",
                "title": "학원"
              },
              {
                "const": "PK6",
                "title": "주차장"
              },
              {
                "const": "OL7",
                "title": "주유소, 충전소"
              },
              {
                "const": "SW8",
                "title": "지하철역"
              },
              {
                "const": "BK9",
                "title": "은행"
              },
              {
                "const": "CT1",
                "title": "문화시설"
              },
              {
                "const": "AG2",
                "title": "중개업소"
              },
              {
                "const": "PO3",
                "title": "공공기관"
              },
              {
                "const": "AT4",
                "title": "관광명소"
              },
              {
                "const": "AD5",
                "title": "숙박"
              },
              {
                "const": "FD6",
                "title": "음식점"
              },
              {
                "const": "CE7",
                "title": "카페"
              },
              {
                "const": "HP8",
                "title": "병원"
              },
              {
                "const": "PM9",
                "title": "약국"
              },
              {
                "const": "",
                "title": "알 수 없음"
              }
            ],
            "title": "Category group code that groups only important categories"
          },
          "category_group_name": {
            "oneOf": [
              {
                "const": "대형마트",
                "title": "대형마트"
              },
              {
                "const": "편의점",
                "title": "편의점"
              },
              {
                "const": "어린이집,유치원",
                "title": "어린이집,유치원"
              },
              {
                "const": "학교",
                "title": "학교"
              },
              {
                "const": "학원",
                "title": "학원"
              },
              {
                "const": "주차장",
                "title": "주차장"
              },
              {
                "const": "주유소, 충전소",
                "title": "주유소, 충전소"
              },
              {
                "const": "지하철역",
                "title": "지하철역"
              },
              {
                "const": "은행",
                "title": "은행"
              },
              {
                "const": "문화시설",
                "title": "문화시설"
              },
              {
                "const": "중개업소",
                "title": "중개업소"
              },
              {
                "const": "공공기관",
                "title": "공공기관"
              },
              {
                "const": "관광명소",
                "title": "관광명소"
              },
              {
                "const": "숙박",
                "title": "숙박"
              },
              {
                "const": "음식점",
                "title": "음식점"
              },
              {
                "const": "카페",
                "title": "카페"
              },
              {
                "const": "병원",
                "title": "병원"
              },
              {
                "const": "약국",
                "title": "약국"
              },
              {
                "const": "",
                "title": "알 수 없음"
              }
            ],
            "title": "Category group name that groups only important categories"
          },
          "phone": {
            "type": "string",
            "title": "phone number"
          },
          "address_name": {
            "type": "string",
            "title": "Full street address"
          },
          "road_address_name": {
            "type": "string",
            "title": "Full road name address"
          },
          "x": {
            "type": "string",
            "title": "X coordinate value",
            "description": "longitude (longitude) in case of latitude and longitude"
          },
          "y": {
            "type": "string",
            "title": "Y coordinate value",
            "description": "latitude in case of longitude and latitude"
          },
          "place_url": {
            "type": "string",
            "format": "iri",
            "title": "Location details page URL"
          },
          "distance": {
            "type": "string",
            "title": "Distance to the center coordinate",
            "description": "(only exists when x,y parameters are given) Unit meter"
          }
        },
        "required": [
          "id",
          "place_name",
          "category_name",
          "category_group_code",
          "category_group_name",
          "phone",
          "address_name",
          "road_address_name",
          "x",
          "y",
          "place_url",
          "distance"
        ],
        "title": "Search Results"
      },
      "IKakaoMap.Meta": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "title": "Number of documents found for search term"
          },
          "pageable_count": {
            "type": "integer",
            "maximum": 45,
            "title": "Number of documents displayed at once"
          },
          "is_end": {
            "type": "boolean",
            "title": "Whether the current page is the last page",
            "description": "If the value is false, the page value can be increased for the next request to request the next page."
          },
          "same_name": {
            "type": "object",
            "properties": {
              "keyword": {
                "type": "string",
                "title": "Keyword excluding local information from query language",
                "description": "If you search for 'Jungang-ro Restaurant', the value extracted from the part corresponding to 'Restaurant'"
              },
              "region": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "title": "List of regions recognized in the query",
                "description": "If you search for 'Jungang-ro restaurant', the value extracted from the part corresponding to 'Jungang-ro'"
              },
              "selected_region": {
                "type": "string",
                "title": "Local information used in search"
              }
            },
            "required": [
              "keyword",
              "region",
              "selected_region"
            ]
          }
        },
        "required": [
          "total_count",
          "pageable_count",
          "is_end"
        ],
        "title": "meta information"
      },
      "IKakaoMap.SearchByKeywordInput": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "x-wrtn-placeholder": "종로구 맛집",
            "title": "Search Keyword"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 45,
            "default": 1,
            "title": "Results page number"
          },
          "size": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15,
            "default": 15,
            "title": "Number of documents per page"
          }
        },
        "required": [
          "query"
        ],
        "title": "Search Conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Kakao Map"
    }
  ],
  "x-samchon-emended": true
}