{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "키워드 추출",
    "description": "",
    "version": "0.1.204",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/extract/keyword": {
      "post": {
        "summary": "키워드 추출",
        "description": "주어진 입력과 관련 높은 키워드를 추출합니다.\n\n마케팅 카피를 생성할 때 사용하는 커넥터 입니다.",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "키워드 추출을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추출된 키워드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/keyword.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IKeywordExtraction.IExtractKeywordOutput": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "description": "추출된 키워드"
          }
        },
        "required": [
          "keyword"
        ]
      },
      "IKeywordExtraction.IExtractKeywordInput": {
        "type": "object",
        "properties": {
          "referenceContent": {
            "$ref": "#/components/schemas/IConnector.IReferenceContent",
            "title": "참고 자료",
            "description": "키워드 추출을 위한 참고 자료"
          },
          "context": {
            "title": "문맥 정보",
            "description": "키워드 추출을 위한 문맥 정보"
          }
        },
        "required": [
          "referenceContent",
          "context"
        ],
        "title": "키워드 추출을 위한 입력"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "산출물의 제목입니다."
          },
          "type": {
            "oneOf": [
              {
                "const": "video",
                "title": "video"
              },
              {
                "const": "image",
                "title": "image"
              },
              {
                "const": "news_article",
                "title": "news_article"
              },
              {
                "const": "research_paper",
                "title": "research_paper"
              }
            ],
            "title": "산출물 타입",
            "description": "비디오, 이미지, 뉴스기사, 논문.\n\nIt must be one of: video, image, news_article, research_paper"
          },
          "source": {
            "oneOf": [
              {
                "const": "youtube",
                "title": "youtube"
              },
              {
                "const": "facebook",
                "title": "facebook"
              },
              {
                "const": "instagram",
                "title": "instagram"
              },
              {
                "const": "google_search",
                "title": "google_search"
              },
              {
                "const": "arxiv",
                "title": "arxiv"
              },
              {
                "const": "google_news",
                "title": "google_news"
              }
            ],
            "title": "산출물의 출처",
            "description": "유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스\n\nIt must be one of: youtube, facebook, instagram, google_search, arxiv, google_news"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "URL 주소",
            "description": "산출물의 URL 주소입니다."
          },
          "contents": {
            "type": "string",
            "title": "산출물 내용",
            "description": "산출물의 내용입니다."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "title": "산출물 이미지 url",
            "description": "산출물의 이미지 URL 주소입니다."
          },
          "statistics": {
            "$ref": "#/components/schemas/MyPartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "산출물 통계 자료 정보",
            "description": "산출물의 통계 자료 정보입니다.\n\n가능한 값: view_count, like_count, rank"
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "MyPartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Llm",
      "description": "키워드 추출 생성"
    }
  ],
  "x-samchon-emended": true
}