{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "키워드 추출",
    "description": "",
    "version": "0.1.424",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/extract/keyword": {
      "post": {
        "summary": "Keyword extraction",
        "description": "Extracts keywords highly related to the given input\n\nA connector used when generating marketing copy.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Input for keyword extraction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Extracted keywords",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "extract",
          "keyword",
          "extractKeyword"
        ],
        "x-samchon-controller": "KeywordExtractController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/keyword.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IKeywordExtraction.IExtractKeywordOutput": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "description": "Extracted Keywords"
          }
        },
        "required": [
          "keyword"
        ]
      },
      "IKeywordExtraction.IExtractKeywordInput": {
        "type": "object",
        "properties": {
          "referenceContent": {
            "$ref": "#/components/schemas/IConnector.IReferenceContent",
            "title": "References",
            "description": "References for keyword extraction"
          },
          "context": {
            "title": "Contextual information",
            "description": "Contextual information for keyword extraction"
          }
        },
        "required": [
          "referenceContent",
          "context"
        ],
        "title": "Input for keyword extraction"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "The title of the output"
          },
          "type": {
            "oneOf": [
              {
                "const": "video"
              },
              {
                "const": "image"
              },
              {
                "const": "news_article"
              },
              {
                "const": "research_paper"
              }
            ],
            "title": "Output Type",
            "description": "Video, image, news article, research paper\n\nIt must be one of: video, image, news_article, research_paper"
          },
          "source": {
            "oneOf": [
              {
                "const": "youtube"
              },
              {
                "const": "facebook"
              },
              {
                "const": "instagram"
              },
              {
                "const": "google_search"
              },
              {
                "const": "arxiv"
              },
              {
                "const": "google_news"
              }
            ],
            "title": "Source of output",
            "description": "youtube, facebook, instagram, google_search, arxiv, google_news\n\nIt must be one of: youtube, facebook, instagram, google_search, arxiv, google_news"
          },
          "url": {
            "type": "string",
            "format": "iri",
            "title": "URL address",
            "description": "The URL address of the output"
          },
          "contents": {
            "type": "string",
            "title": "Output Content",
            "description": "Here is the content of the output"
          },
          "image": {
            "type": "string",
            "format": "iri",
            "title": "Output Image URL",
            "description": "The URL address of the image of the output"
          },
          "statistics": {
            "$ref": "#/components/schemas/MyPartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "Output statistics information",
            "description": "Output statistics information\n\nPossible values: view_count, like_count, rank"
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "MyPartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        },
        "required": []
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}