{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "실시간 환율 정보 제공",
    "summary": "실시간 원화 환율 정보를 쉽게 확인해요.",
    "description": "한국수출입은행의 API를 통해 실시간 환율 정보를 조회할 수 있어요. 주요 통화의 현재 환율은 물론, 과거 특정 날짜의 환율도 확인할 수 있어요. 환율 동향을 분석하고, 특정 기간의 평균 환율을 계산할 수도 있어요. 이를 통해 국제 거래나 여행 계획에 필요한 정보를 쉽게 얻을 수 있고, 환율 변동에 따른 리스크를 관리하는 데 도움을 받을 수 있어요.",
    "version": "0.1.314",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/korea-eximbank/exchange": {
      "get": {
        "summary": "Korea Export-Import Bank Current Exchange Rate Inquiry",
        "tags": [
          "Korea Eximbank"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Exchange Rate Information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "oneOf": [
                          {
                            "const": 1,
                            "title": "성공"
                          },
                          {
                            "const": 2,
                            "title": "데이터 코드 오류"
                          },
                          {
                            "const": 3,
                            "title": "인증코드 오류"
                          },
                          {
                            "const": 4,
                            "title": "일일 제한 횟수 마감"
                          }
                        ],
                        "title": "Summary of query results"
                      },
                      "cur_unit": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string",
                            "x-wrtn-placeholder": "KRW"
                          }
                        ],
                        "title": "currency code"
                      },
                      "ttb": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "When receiving a wire transfer (remittance)"
                      },
                      "tts": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "When sending a wire transfer (remittance)"
                      },
                      "deal_bas_r": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "Trading standard rate"
                      },
                      "bkpr": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "Book Price"
                      },
                      "yy_efee_r": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "Annual Conversion Rate"
                      },
                      "ten_dd_efee_r": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "10-day redemption rate"
                      },
                      "kftc_bkpr": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "Seoul Foreign Exchange Brokerage Book Price"
                      },
                      "kftc_deal_bas_r": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "title": "Seoul Foreign Exchange Brokerage Trading Standard Rate"
                      },
                      "cur_nm": {
                        "oneOf": [
                          {
                            "type": "null"
                          },
                          {
                            "type": "string",
                            "x-wrtn-placeholder": "한국 원"
                          }
                        ],
                        "title": "Country/Currency Name"
                      }
                    },
                    "required": [
                      "result",
                      "cur_unit",
                      "ttb",
                      "tts",
                      "deal_bas_r",
                      "bkpr",
                      "yy_efee_r",
                      "ten_dd_efee_r",
                      "kftc_bkpr",
                      "kftc_deal_bas_r",
                      "cur_nm"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/ExchangeRate_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {}
  },
  "tags": [
    {
      "name": "Korea Eximbank"
    }
  ],
  "x-samchon-emended": true
}