{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "LLM",
    "description": "",
    "version": "0.1.217",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/llm/selector-llm": {
      "post": {
        "summary": "Select condition",
        "description": "Select a candidate that satisfies the conditions from the given candidates.",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Input for candidate selection",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Array of selected candidate indices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/LLM_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "ISelectorLlmResponse": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "title": "Selected candidate index information.",
            "description": "Here is a list of indexes for the selected candidates."
          }
        },
        "required": [
          "selection"
        ]
      },
      "ISelectorLlmRequest": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {},
            "title": "Choices.",
            "description": "Here is a list of candidates for selection."
          },
          "num_select": {
            "type": "number",
            "title": "Number of selections.",
            "description": "The number of candidates to select."
          },
          "context": {
            "title": "Considerations.",
            "description": "Here are some things to consider when choosing a candidate."
          }
        },
        "required": [
          "candidates",
          "num_select",
          "context"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Llm",
      "description": "selection Extract selection"
    }
  ],
  "x-samchon-emended": true
}