{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "marp",
    "version": "0.1.450",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/marp/convert-to-ppt": {
      "post": {
        "summary": "Convert Marp markdown to PPT",
        "description": "Convert Marp markdown to PPT and store in S3\n\nWhen you write a markdown according to marp grammar, you convert it to create an html file that contains all of that content.\nBecause users won't know the markdown and marp grammar, this should be automatically generated by LLM, and users just need to provide the format, image, text, etc. they want.\nSo, instead of asking the user to provide marp or markdown grammar, ask for hints on how to organize the template and how to deploy it.\nAsking the user to write according to the Marp grammar directly can be difficult, even if the other person is the developer!\nAll tasks such as making presentation materials or organizing contents with slides, such as pptx, google slides, html, markdown (marp), and hanshow, may have to go through a connector that changes marp to this pptx.\n\nWarning: If you put too much content on a single slide, the content may be cut out and invisible. Split the content into several slides.",
        "tags": [
          "Marp",
          "pptx",
          "hanshow",
          "ppt",
          "powerpoint",
          "markdown",
          "marp"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The Marp markdown string",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarp.IConvertInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The S3 link of the converted PPT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMarp.IConvertOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "marp",
          "convert_to_ppt",
          "convertToPpt"
        ],
        "x-samchon-controller": "MarpController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/marp.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IMarp.IConvertOutput": {
        "type": "object",
        "properties": {
          "s3Link": {
            "type": "string",
            "title": "S3 link",
            "description": "S3 link for the converted PPT."
          }
        },
        "required": [
          "s3Link"
        ],
        "title": "Marp conversion output"
      },
      "IMarp.IConvertInput": {
        "type": "object",
        "properties": {
          "markdown": {
            "type": "string",
            "title": "Marp markdown",
            "description": "Marp markdown input string."
          }
        },
        "required": [
          "markdown"
        ],
        "title": "Parameters for Marp conversion"
      }
    }
  },
  "tags": [
    {
      "name": "Marp"
    },
    {
      "name": "pptx"
    },
    {
      "name": "hanshow"
    },
    {
      "name": "ppt"
    },
    {
      "name": "powerpoint"
    },
    {
      "name": "markdown"
    },
    {
      "name": "marp"
    }
  ],
  "x-samchon-emended": true
}