{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "naver-blog",
    "version": "0.1.452",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/naver-blog": {
      "patch": {
        "summary": "Naver blog search",
        "description": "Search Naver blog content",
        "tags": [
          "Naver Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for Naver blog search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaverBlog.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaverBlog.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "naver_blog",
          "blogList"
        ],
        "x-samchon-controller": "NaverBlogController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/naver_blog.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "INaverBlog.IBlogNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "The time the search results were generated",
            "description": "The time the search results were generated."
          },
          "total": {
            "type": "number",
            "title": "Total number of search results",
            "description": "Total number of search results."
          },
          "start": {
            "type": "number",
            "title": "The starting position of the search",
            "description": "The starting position of the search results."
          },
          "display": {
            "type": "number",
            "title": "The number of search results to display at one time",
            "description": "The number of search results to display at one time."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaverBlog.IBlogNaverItemOutput"
            },
            "title": "Individual search results",
            "description": "Individual search results."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ],
        "title": "Naver blog search results"
      },
      "INaverBlog.IBlogNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Post title",
            "description": "Title of Naver blog post."
          },
          "link": {
            "type": "string",
            "title": "Post link",
            "description": "Link to Naver blog post."
          },
          "description": {
            "type": "string",
            "title": "Summary of post",
            "description": "Summary of Naver blog post."
          },
          "bloggername": {
            "type": "string",
            "title": "The name of the blog that contains the blog post",
            "description": "The name of the blog that contains the Naver blog post."
          },
          "bloggerlink": {
            "type": "string",
            "title": "Address of the blog that contains the blog post",
            "description": "Address of the blog that contains the Naver blog post."
          },
          "postdate": {
            "type": "string",
            "title": "The date the blog post was created",
            "description": "The date the Naver blog post was created."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "bloggername",
          "bloggerlink",
          "postdate"
        ],
        "title": "Naver blog search data"
      },
      "INaverBlog.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "Must-include keywords",
            "description": "Keywords that must be included in search results."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "Keywords that would be good to include",
            "description": "Keywords that you would like to see included in the search results."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "Keywords that should not be included",
            "description": "Keywords that should not be included in search results."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "Number to search",
            "description": "Set how many search results to retrieve.\nMinimum 1, maximum 100, default 10."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim"
              },
              {
                "const": "date"
              }
            ],
            "title": "Sort by",
            "description": "Indicates how to sort.\n\n- sim: Sort by accuracy descending (default).\n- date: Sort by date descending."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "Search Conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Naver Blog"
    }
  ],
  "x-samchon-emended": true
}