{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "네이버 포털 정보 검색",
    "summary": "네이버의 블로그와 카페 정보를 한눈에 볼 수 있어요.",
    "description": "네이버의 블로그와 카페에서 필요한 정보를 빠르게 검색할 수 있어요. 블로그 검색을 통해 다양한 주제의 포스트를 찾아볼 수 있고, 카페 검색으로 특정 관심사를 공유하는 커뮤니티의 게시글을 확인할 수 있어요. 최신 트렌드, 상품 리뷰, 여행 후기, 요리 레시피 등 다양한 정보를 얻을 수 있어요. 검색 필터를 사용해 원하는 기간, 정확도, 최신순 등으로 결과를 정렬할 수 있어 더욱 효율적인 정보 탐색이 가능해요.",
    "version": "0.1.195",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/naver/cafe": {
      "post": {
        "summary": "네이버 카페 검색",
        "description": "네이버 카페 컨텐츠를 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "네이버 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/NaverCafe_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/blog": {
      "post": {
        "summary": "네이버 블로그 검색",
        "description": "네이버 블로그 컨텐츠를 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "네이버 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/NaverBlog_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/news": {
      "post": {
        "summary": "네이버 뉴스 검색",
        "description": "네이버 뉴스를 검색합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "네이버 뉴스 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.INewsNaverOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/NaverNews_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "INaver.ICafeNaverOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lastBuildDate": {
                "type": "string",
                "title": "검색 결과를 생성한 시간.",
                "description": "검색 결과를 생성한 시간입니다."
              },
              "total": {
                "type": "number",
                "title": "총 검색 결과 개수.",
                "description": "검색 결과의 총 개수입니다."
              },
              "start": {
                "type": "number",
                "title": "검색 시작 위치.",
                "description": "검색 결과의 시작 위치입니다."
              },
              "display": {
                "type": "number",
                "title": "한 번에 표시할 검색 결과 개수.",
                "description": "한 번에 표시할 검색 결과의 개수입니다."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverItemOutput"
                },
                "title": "개별 검색 결과.",
                "description": "개별 검색 결과입니다."
              }
            },
            "required": [
              "lastBuildDate",
              "total",
              "start",
              "display",
              "items"
            ],
            "title": "네이버 카페 검색 결과물 데이터.",
            "description": "네이버 카페 검색 결과물 데이터."
          }
        },
        "required": [
          "data"
        ],
        "title": "네이버 카페 검색 결과"
      },
      "INaver.ICafeNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 카페 게시글의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 카페 게시글의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 카페 게시글의 요약 내용."
          },
          "cafename": {
            "type": "string",
            "title": "게시글이 있는 카페 이름.",
            "description": "네이버 카페 게시글이 있는 카페의 이름."
          },
          "cafeurl": {
            "type": "string",
            "title": "게시글이 있는 카페 링크.",
            "description": "네이버 카페 게시글이 있는 카페의 링크."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "cafename",
          "cafeurl"
        ],
        "title": "네이버 카페 검색 데이터"
      },
      "INaver.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 반드시 포함되어야 하는 키워드입니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "검색할 개수",
            "description": "검색 결과를 몇 개 받아올 것인지 설정합니다.\n최소 1개, 최대 100개, 기본 10개입니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim",
                "title": "sim",
                "description": "정확도 순 내림착순 정렬",
                "x-wrtn-placeholder": "sim"
              },
              {
                "const": "date",
                "title": "date",
                "description": "날짜순 내림차수 정렬",
                "x-wrtn-placeholder": "sim"
              }
            ],
            "title": "정렬 기준",
            "description": "어떤 방법으로 정렬할지를 의미합니다.\n\n- sim: 정확도순 내림차수 정렬 (default).\n- date: 날짜순 내림차수 정렬."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "검색 조건"
      },
      "INaver.IBlogNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "검색 결과를 생성한 시간.",
            "description": "검색 결과를 생성한 시간입니다."
          },
          "total": {
            "type": "number",
            "title": "총 검색 결과 개수.",
            "description": "검색 결과의 총 개수입니다."
          },
          "start": {
            "type": "number",
            "title": "검색 시작 위치.",
            "description": "검색 결과의 시작 위치입니다."
          },
          "display": {
            "type": "number",
            "title": "한 번에 표시할 검색 결과 개수.",
            "description": "한 번에 표시할 검색 결과의 개수입니다."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.IBlogNaverItemOutput"
            },
            "title": "개별 검색 결과.",
            "description": "개별 검색 결과입니다."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ],
        "title": "네이버 블로그 검색 결과"
      },
      "INaver.IBlogNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 블로그 게시물의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 블로그 게시물의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 블로그 게시물의 요약 내용."
          },
          "bloggername": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 이름.",
            "description": "네이버 블로그 게시물이 있는 블로그의 이름."
          },
          "bloggerlink": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 주소.",
            "description": "네이버 블로그 게시물이 있는 블로그의 주소."
          },
          "postdate": {
            "type": "string",
            "title": "블로그 포스트가 작성된 날짜.",
            "description": "네이버 블로그 게시물이 작성된 날짜."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "bloggername",
          "bloggerlink",
          "postdate"
        ],
        "title": "네이버 블로그 검색 데이터"
      },
      "INaver.INewsNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "검색 결과를 생성한 시간.",
            "description": "검색 결과를 생성한 시간입니다."
          },
          "total": {
            "type": "number",
            "title": "총 검색 결과 개수.",
            "description": "검색 결과의 총 개수입니다."
          },
          "start": {
            "type": "number",
            "title": "검색 시작 위치.",
            "description": "검색 결과의 시작 위치입니다."
          },
          "display": {
            "type": "number",
            "title": "한 번에 표시할 검색 결과 개수.",
            "description": "한 번에 표시할 검색 결과의 개수입니다."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.INewsNaverItemOutput"
            },
            "title": "개별 검색 결과.",
            "description": "개별 검색 결과입니다."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ]
      },
      "INaver.INewsNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "뉴스 제목."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "네이버 뉴스 URL",
            "description": "네이버 뉴스 URL."
          },
          "originallink": {
            "type": "string",
            "format": "uri",
            "title": "원문 URL",
            "description": "뉴스 기사 원문 URL."
          },
          "description": {
            "type": "string",
            "title": "뉴스 기사의 내용 요약",
            "description": "검색어와 일치하는 부분은 <b> 태그로 감싸져 있습니다."
          },
          "pubDate": {
            "type": "string",
            "title": "뉴스 기사 발행 시간",
            "description": "뉴스 기사가 네이버에 제공된 시간."
          }
        },
        "required": [
          "title",
          "link",
          "originallink",
          "description",
          "pubDate"
        ],
        "title": "네이버 뉴스 검색 데이터"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}