{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "naver-cafe",
    "version": "0.1.460",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/naver-cafe": {
      "patch": {
        "summary": "Naver Cafe search",
        "description": "Search Naver Cafe contents",
        "tags": [
          "Naver"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for Naver Cafe search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaverCafe.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaverCafe.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "naver_cafe",
          "cafeList"
        ],
        "x-samchon-controller": "NaverCafeController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/naver_cafe.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "INaverCafe.ICafeNaverOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lastBuildDate": {
                "type": "string",
                "title": "The time the search results were generated",
                "description": "The time the search results were generated."
              },
              "total": {
                "type": "number",
                "title": "Total number of search results",
                "description": "Total number of search results."
              },
              "start": {
                "type": "number",
                "title": "The starting position of the search",
                "description": "The starting position of the search results."
              },
              "display": {
                "type": "number",
                "title": "The number of search results to display at one time",
                "description": "The number of search results to display at one time."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INaverCafe.ICafeNaverItemOutput"
                },
                "title": "Individual search results",
                "description": "Individual search results."
              }
            },
            "required": [
              "lastBuildDate",
              "total",
              "start",
              "display",
              "items"
            ],
            "title": "Naver Cafe search result data",
            "description": "Naver Cafe search result data."
          }
        },
        "required": [
          "data"
        ],
        "title": "Naver Cafe Search Results"
      },
      "INaverCafe.ICafeNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Post title",
            "description": "Title of Naver Cafe post."
          },
          "link": {
            "type": "string",
            "title": "Post link",
            "description": "Link to Naver Cafe post."
          },
          "description": {
            "type": "string",
            "title": "Summary of post",
            "description": "Summary of Naver Cafe post."
          },
          "cafename": {
            "type": "string",
            "title": "The name of the cafe where the post is located",
            "description": "The name of the cafe where the Naver Cafe post is located."
          },
          "cafeurl": {
            "type": "string",
            "title": "Link to the cafe where the post is located",
            "description": "Link to the cafe where the Naver Cafe post is located."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "cafename",
          "cafeurl"
        ],
        "title": "Naver Cafe Search Data"
      },
      "INaverCafe.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "Must-include keywords",
            "description": "Keywords that must be included in search results."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "Keywords that would be good to include",
            "description": "Keywords that you would like to see included in the search results."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "Keywords that should not be included",
            "description": "Keywords that should not be included in search results."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "Number to search",
            "description": "Set how many search results to retrieve.\nMinimum 1, maximum 100, default 10."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim"
              },
              {
                "const": "date"
              }
            ],
            "title": "Sort by",
            "description": "Indicates how to sort.\n\n- sim: Sort by accuracy descending (default).\n- date: Sort by date descending."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "Search Conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Naver"
    }
  ],
  "x-samchon-emended": true
}