{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "네이버 포털 정보 검색",
    "summary": "네이버의 블로그와 카페 정보를 한눈에 볼 수 있어요.",
    "description": "네이버의 블로그와 카페에서 필요한 정보를 빠르게 검색할 수 있어요. 블로그 검색을 통해 다양한 주제의 포스트를 찾아볼 수 있고, 카페 검색으로 특정 관심사를 공유하는 커뮤니티의 게시글을 확인할 수 있어요. 최신 트렌드, 상품 리뷰, 여행 후기, 요리 레시피 등 다양한 정보를 얻을 수 있어요. 검색 필터를 사용해 원하는 기간, 정확도, 최신순 등으로 결과를 정렬할 수 있어 더욱 효율적인 정보 탐색이 가능해요.",
    "version": "0.1.301",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/naver/cafe": {
      "post": {
        "summary": "Naver Cafe search",
        "description": "Search Naver Cafe contents",
        "tags": [
          "Naver"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for Naver Cafe search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/NaverCafe_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/blog": {
      "post": {
        "summary": "Naver blog search",
        "description": "Search Naver blog content",
        "tags": [
          "Naver"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for Naver blog search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/NaverBlog_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/news": {
      "post": {
        "summary": "Search Naver News",
        "description": "Search Naver News",
        "tags": [
          "Naver"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for searching Naver News",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.INewsNaverOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/NaverNews_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "INaver.ICafeNaverOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lastBuildDate": {
                "type": "string",
                "title": "The time the search results were generated",
                "description": "The time the search results were generated."
              },
              "total": {
                "type": "number",
                "title": "Total number of search results",
                "description": "Total number of search results."
              },
              "start": {
                "type": "number",
                "title": "The starting position of the search",
                "description": "The starting position of the search results."
              },
              "display": {
                "type": "number",
                "title": "The number of search results to display at one time",
                "description": "The number of search results to display at one time."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverItemOutput"
                },
                "title": "Individual search results",
                "description": "Individual search results."
              }
            },
            "required": [
              "lastBuildDate",
              "total",
              "start",
              "display",
              "items"
            ],
            "title": "Naver Cafe search result data",
            "description": "Naver Cafe search result data."
          }
        },
        "required": [
          "data"
        ],
        "title": "Naver Cafe Search Results"
      },
      "INaver.ICafeNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Post title",
            "description": "Title of Naver Cafe post."
          },
          "link": {
            "type": "string",
            "title": "Post link",
            "description": "Link to Naver Cafe post."
          },
          "description": {
            "type": "string",
            "title": "Summary of post",
            "description": "Summary of Naver Cafe post."
          },
          "cafename": {
            "type": "string",
            "title": "The name of the cafe where the post is located",
            "description": "The name of the cafe where the Naver Cafe post is located."
          },
          "cafeurl": {
            "type": "string",
            "title": "Link to the cafe where the post is located",
            "description": "Link to the cafe where the Naver Cafe post is located."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "cafename",
          "cafeurl"
        ],
        "title": "Naver Cafe Search Data"
      },
      "INaver.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "Must-include keywords",
            "description": "Keywords that must be included in search results."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "Keywords that would be good to include",
            "description": "Keywords that you would like to see included in the search results."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "Keywords that should not be included",
            "description": "Keywords that should not be included in search results."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "Number to search",
            "description": "Set how many search results to retrieve.\nMinimum 1, maximum 100, default 10."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim",
                "title": "sim",
                "description": "정확도 순 내림착순 정렬",
                "x-wrtn-placeholder": "sim"
              },
              {
                "const": "date",
                "title": "date",
                "description": "날짜순 내림차수 정렬",
                "x-wrtn-placeholder": "sim"
              }
            ],
            "title": "Sort by",
            "description": "Indicates how to sort.\n\n- sim: Sort by accuracy descending (default).\n- date: Sort by date descending."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "Search Conditions"
      },
      "INaver.IBlogNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "The time the search results were generated",
            "description": "The time the search results were generated."
          },
          "total": {
            "type": "number",
            "title": "Total number of search results",
            "description": "Total number of search results."
          },
          "start": {
            "type": "number",
            "title": "The starting position of the search",
            "description": "The starting position of the search results."
          },
          "display": {
            "type": "number",
            "title": "The number of search results to display at one time",
            "description": "The number of search results to display at one time."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.IBlogNaverItemOutput"
            },
            "title": "Individual search results",
            "description": "Individual search results."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ],
        "title": "Naver blog search results"
      },
      "INaver.IBlogNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Post title",
            "description": "Title of Naver blog post."
          },
          "link": {
            "type": "string",
            "title": "Post link",
            "description": "Link to Naver blog post."
          },
          "description": {
            "type": "string",
            "title": "Summary of post",
            "description": "Summary of Naver blog post."
          },
          "bloggername": {
            "type": "string",
            "title": "The name of the blog that contains the blog post",
            "description": "The name of the blog that contains the Naver blog post."
          },
          "bloggerlink": {
            "type": "string",
            "title": "Address of the blog that contains the blog post",
            "description": "Address of the blog that contains the Naver blog post."
          },
          "postdate": {
            "type": "string",
            "title": "The date the blog post was created",
            "description": "The date the Naver blog post was created."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "bloggername",
          "bloggerlink",
          "postdate"
        ],
        "title": "Naver blog search data"
      },
      "INaver.INewsNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "The time the search results were generated",
            "description": "The time the search results were generated."
          },
          "total": {
            "type": "number",
            "title": "Total number of search results",
            "description": "Total number of search results."
          },
          "start": {
            "type": "number",
            "title": "The starting position of the search",
            "description": "The starting position of the search results."
          },
          "display": {
            "type": "number",
            "title": "The number of search results to display at one time",
            "description": "The number of search results to display at one time."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.INewsNaverItemOutput"
            },
            "title": "Individual search results",
            "description": "Individual search results."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ]
      },
      "INaver.INewsNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "News Title."
          },
          "link": {
            "type": "string",
            "format": "iri",
            "title": "Naver News URL",
            "description": "Naver News URL."
          },
          "originallink": {
            "type": "string",
            "format": "iri",
            "title": "Original URL",
            "description": "Original URL of news article."
          },
          "description": {
            "type": "string",
            "title": "Summary of the news article</b>",
            "description": "The part that matches the search term <b>is wrapped in tags."
          },
          "pubDate": {
            "type": "string",
            "title": "News article publication time",
            "description": "The time the news article was provided to Naver."
          }
        },
        "required": [
          "title",
          "link",
          "originallink",
          "description",
          "pubDate"
        ],
        "title": "Naver News Search Data"
      }
    }
  },
  "tags": [
    {
      "name": "Naver"
    }
  ],
  "x-samchon-emended": true
}