{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "notion",
    "version": "0.1.451",
    "description": "wrtn-ecosystem connectors and sdk",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/notion/page/block": {
      "delete": {
        "summary": "Delete a block",
        "description": "Delete a block\n\nSets a Block object, including page blocks,\nto archived: true using the ID specified. Note: in the Notion UI application, this moves the block to the \"Trash\" where it can still be accessed and restored.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IDeleteBlockInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "block",
          "deleteBlock"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/markdown": {
      "post": {
        "summary": "Append block by markdown format",
        "description": "Append block by markdown format\n\nYou can add blocks to the page immediately with only the markdown grammar.\nYou can create pages more effectively than other connectors, so you can prioritize this.\nIf there are unique blocks of the note that cannot be created with the grammar of the markdown, it must be associated with other block generation connectors.\n\nSince users may not know the markdown grammar, it is more desirable to use the markdown grammar instead of guiding them.\nMarkdown supports text and heading 1, 2, 3, and various grammar such as table or bull list, number list, image attachment, boldface, italics, etc.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IAppendPageByMarkdownInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "title": "page id",
                          "description": "Unique id of the generated page"
                        },
                        "link": {
                          "type": "string",
                          "format": "iri",
                          "title": "page link"
                        }
                      },
                      "required": [
                        "id",
                        "link"
                      ]
                    },
                    {
                      "$ref": "#/components/schemas/INotion.Common.IError"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "markdown",
          "appendBlocksByMarkdown"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/file": {
      "post": {
        "summary": "Append an file type child node",
        "description": "Append an file type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `file`.\n\nUploading a file exposes it to the Notion page as an icon in the file format, but there is no Preview.\nIf you want the internal elements to be seen as soon as you enter the page, it is better to create the image, pdf format for each format, and consider embed for other formats.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "file",
          "createFile"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/embed": {
      "post": {
        "summary": "Append an embed type child node",
        "description": "Append an embed type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `embed`.\n\nThis is suitable when you want an internal element to be rendered immediately, such as an imprame within a page.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeEmbedInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "embed",
          "createEmbed"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/bookmark": {
      "post": {
        "summary": "Append an bookmark type child node",
        "description": "Append an bookmark type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `bookmark`.\n\nBookmarks are visually better and more organized because they have previews, images, and explanations than just saving url as text.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeBookmarkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "bookmark",
          "createBookmark"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/image": {
      "post": {
        "summary": "Append an image type child node",
        "description": "Append an image type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `image`.\n\nimage file's extension is one of: 'bmp', 'gif', 'heic', 'jpg', 'jpeg', 'png', 'svg', 'tif', 'tiff'.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeImageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "image",
          "createImage"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/video": {
      "post": {
        "summary": "Append an video type child node",
        "description": "Append an video type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `video`.\n\nvideo file must be one of: 'amv' ,'asf' ,'avi' ,'f4v' ,'flv' ,'gifv' ,'mkv' ,'mov' ,'mpg' ,'mpeg' ,'mpv' ,'mp4' ,'m4v' ,'qt' ,'wmv'\nOR\nYouTube video links that include embed or watch.\nE.g. https://www.youtube.com/watch?v=[id], https://www.youtube.com/embed/[id]\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeVideoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "video",
          "createVideo"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/pdf": {
      "post": {
        "summary": "Append an pdf type child node",
        "description": "Append an pdf type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `pdf`.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypePdfInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "pdf",
          "createPdf"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/code": {
      "post": {
        "summary": "Append an code type child node",
        "description": "Append an code type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `code`.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "deprecated": true,
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeCodeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "code",
          "createCode"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/equation": {
      "post": {
        "summary": "Append an equation type child node",
        "description": "Append an equation type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `equation`.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeEquationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "equation",
          "createEquation"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/divider": {
      "post": {
        "summary": "Append an divider type child node",
        "description": "Append an divider type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `divider`.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeDividerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "divider",
          "createDivider"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/table_of_contents": {
      "post": {
        "summary": "Append an table_of_contents type child node",
        "description": "Append an table_of_contents type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `table_of_contents`.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeTableOfContentsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "table_of_contents",
          "createTableOfContents"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/link_to_page": {
      "post": {
        "summary": "Append an link_to_page type child node",
        "description": "Append an link_to_page type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `link_to_page`.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeLinkToPageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "link_to_page",
          "createLinkToPage"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/toggle": {
      "post": {
        "summary": "Append an toggle type child node",
        "description": "Append an toggle type child node\n\nNotion is a very complex type, so you have to create a page in a block coding manner.\nTherefore, this connector is designed to create a page by taking only the page ID and one block of the corresponding block and continuously adding it to the bottom.\nThe type of block you can put in here is `toggle`.\n\nCalling this connector requires the correct page ID, so it should only be called if you have previously created a page to obtain that ID, viewed the page, or obtained a link or page ID from the user in advance.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateChildContentTypeToggleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "toggle",
          "createToggle"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/get/page/contents": {
      "patch": {
        "summary": "Read the contents of a Notion page",
        "description": "Read the contents of a Notion page.\nReads the contents of a Notion page in Markdown format.\n\nRead Notion page contents",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "description": "pageId",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IReadPageContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IReadPageContentOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "get",
          "page",
          "contents",
          "readPageContents"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/get/page": {
      "patch": {
        "summary": "Retrieve a list of pages",
        "description": "Retrieve a list of all pages in your Notion workspace",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Page information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IReadPageOutput"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "get",
          "page",
          "readPageList"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/get/users": {
      "patch": {
        "summary": "Retrieve the list of users",
        "description": "Retrieve the list of users in the workspace",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IUserOutput"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "get",
          "users",
          "getUsers"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/get/database-info": {
      "patch": {
        "summary": "Query the database list",
        "description": "Query the database list to create items in the database",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of database information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IDatabaseInfo"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "get",
          "database_info",
          "getDatabaseListInfo"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/get/database-info/{databaseId}": {
      "patch": {
        "summary": "Retrieves database information",
        "description": "Retrieves database information to create items in the database",
        "tags": [
          "Notion"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "description": " Unique id of the database"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Database information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseInfo"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "get",
          "database_info",
          "getDatabaseInfo"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/get-page-by-title": {
      "patch": {
        "summary": "Search for pages by title",
        "description": "Search for pages by title",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Page title",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IFindPageOrDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Searched page information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IFindPageByTitleOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "get_page_by_title",
          "getPageByTitle"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/find-item-list/{databaseId}": {
      "patch": {
        "summary": "Retrieve a list of database items",
        "description": "Retrieve a list of items that exist in a table database",
        "tags": [
          "Notion"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "description": " Unique id of the database"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of retrieved database items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "find_item_list",
          "getDatabaseItemList"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/find-item/{databaseId}": {
      "patch": {
        "summary": "Retrieval of database items",
        "description": "Retrieves an item that exists in a table database",
        "tags": [
          "Notion"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "patch",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "description": " Unique id of the database"
          }
        ],
        "requestBody": {
          "description": "Information required to retrieve database items",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IFindDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Information on retrieved database items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "find_item",
          "getDatabaseItem"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/markdown": {
      "post": {
        "summary": "Create page by markdown format",
        "description": "Create page by markdown format\n\nReceive the markdown text and immediately create it as a notation page.\nYou can create pages more effectively than other connectors, so you can prioritize this.\nIf there are unique blocks of the note that cannot be created with the grammar of the markdown, it must be associated with other block generation connectors.\n\nSince users may not know the markdown grammar, it is more desirable to use the markdown grammar instead of guiding them.\nMarkdown supports text and heading 1, 2, 3, and various grammar such as table or bull list, number list, image attachment, boldface, italics, etc.\n\nSince Notion prioritizes accessible pages during authentication, creating pages must be sub-pages within the page, which means that there must be a parent page.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreatePageByMarkdownInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/INotion.Common.IError"
                    },
                    {
                      "$ref": "#/components/schemas/INotion.___ICreatePageOutput"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "markdown",
          "createPageByMarkdown"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/page/title": {
      "put": {
        "summary": "Update Notion Page Title",
        "description": "Update Notion Page Title",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IUpdateNotionTitleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/INotion.Common.IError"
                    },
                    {
                      "$ref": "#/components/schemas/INotion.___ICreatePageOutput"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "page",
          "title",
          "updatePageTitle"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/create-gallery-database": {
      "post": {
        "summary": "Create a Notion Gallery Database",
        "description": "Create a gallery view database for notion.\n\nIt is not possible to create a gallery view at once, and you must change the view to a gallery directly.\nThis endpoint must not be used to create each items.\nThis endpoint is only used to create a database.\nCreating a database is different from adding items to a database.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateGalleryDatabaseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.ICreateGalleryDatabaseOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "create_gallery_database",
          "createGalleryDatabase"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/create-gallery-item": {
      "post": {
        "summary": "Create items in the gallery database",
        "description": "Create an item in the generated gallery view database.\nCreating a database item means adding an item to an existing database.\nIf there is no database received from input, you must first create a database using the POST: /connector/notion/create-gallery-database endpoint and then run it.\nYou should use this endpoint when adding items to an already created database.\nYou need to use this endpoint to add multiple items to the gallery database at once.\nIf you need to add 3 items, instead of calling the endpoint 3 times, you should put the 3 items in an array in the info information and add the 3 items in 1 endpoint call.\nSince the Notion database can only be created in table format, you will need to instruct users to manually change it to a gallery database view.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateGalleryDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.ICreateGalleryDatabaseItemOutput"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "create_gallery_item",
          "createGalleryItem"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/update-page-content": {
      "post": {
        "summary": "Update Page Content",
        "description": "Updates the contents of the page.\n\nThis function updates the contents written on the page to the desired contents.\n\nThe contents to be updated must be written in Markdown format.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IUpdatePageContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "title": "page id",
                          "description": "Unique id of the generated page"
                        },
                        "link": {
                          "type": "string",
                          "format": "iri",
                          "title": "page link"
                        }
                      },
                      "required": [
                        "id",
                        "link"
                      ]
                    },
                    {
                      "$ref": "#/components/schemas/INotion.Common.IError"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "update_page_content",
          "updatePageContent"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/create-database": {
      "post": {
        "summary": "Create a database",
        "description": "Create a Notion Database\n\nCreating a database is different from adding items to a database.\nCreating a database is a process of creating a database, and adding items to a database is a process of adding items to an existing database.\nYou need to understand what your users are asking for, how many properties they need, and which properties should be created.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateDatabaseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.ICreateDatabaseOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "create_database",
          "createDatabase"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/add-database-property": {
      "post": {
        "summary": "Add property to database",
        "description": "Add property to notion database\nIf you want to add a property to an existing database, you should use this function.\nFor example, if there is an English word database in the Notion database, and there are three existing properties: word, meaning, and example sentence, and the user wants to add a property called Korean meaning, you should use this function to add a new property.\nThis function can only add one property at a time.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IAddDatabasePropertyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.ICreateDatabaseOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "add_database_property",
          "addDatabaseProperty"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/delete-database-property": {
      "post": {
        "summary": "Delete property to database",
        "description": "Delete property to notion database\nIf you want to delete a property in an existing database, you should use this function.\nFor example, if there is an English word database in the Notion database, and there are 4 properties: word, meaning, example, and Korean meaning, and the user wants to delete the property called Korean meaning, you should use this function to delete the property.\nYou need to know the property name to delete it.\nThis function can only delete one property at a time.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IDeleteDatabasePropertyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.ICreateDatabaseOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "delete_database_property",
          "deleteDatabaseProperty"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    },
    "/connector/notion/add-items-to-database": {
      "post": {
        "summary": "Add items to the database",
        "description": "Adds an item to each row in the database\nIf you want to add items to an existing database, you should use this function.\nYou should analyze the user's requirements and assign appropriate values ​​to each property.\nYou should select the value you want to add and the property to which you want to add the value.\nFor example, if you have an English vocabulary database and the properties are word, example, and Korean meaning, and you create two items,\nif the items to add are [{\"apple\", \"Apple is a fruit\", \"사과\"}, {\"snack\", \"I like snack\", \"과자\"}],\nyou should assign \"apple\" and \"snack\" to the word property,  \"Apple is a fruit\" and \"I like snack\" to the example, and \"사과\" and \"과자\" to the Korean meaning property.",
        "tags": [
          "Notion"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Items to add to the database",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IAddItemsToDatabaseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.ICreateDatabaseOutput"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "notion",
          "add_items_to_database",
          "addItemsToDatabase"
        ],
        "x-samchon-controller": "NotionController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icons/notion.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "INotion.IDeleteBlockInput": {
        "type": "object",
        "properties": {
          "block_id": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "block_id",
            "description": "\nIndicates the ID of the page or block within the page to be deleted.\nIf you delete the page, it will go to the trash, so recovery is possible."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "block_id",
          "secretKey"
        ]
      },
      "INotion.Common.IError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "name",
            "description": "for example, APIResponseError"
          },
          "code": {
            "type": "string",
            "title": "code",
            "description": "for example, object_not_found"
          },
          "status": {
            "type": "number",
            "title": "status",
            "description": "for example, 404"
          },
          "body": {
            "type": "string",
            "title": "serialized body",
            "description": "for example, '{\"object\":\"error\",\"status\":404,\"code\":\"object_not_found\",\"message\":\"Could not find page with ID: 6f8304d2-de52-417d-a032-b340a421a8c1. Make sure the relevant pages and databases are shared with your integration.\",\"request_id\":\"3e773c7e-c703-40a8-9b13-635ad750c3a2\"}'"
          }
        },
        "required": [
          "name",
          "code",
          "status",
          "body"
        ]
      },
      "INotion.IAppendPageByMarkdownInput": {
        "type": "object",
        "properties": {
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          },
          "markdown": {
            "type": "string",
            "title": "markdown",
            "description": "If you add a markdown string, it will be converted appropriately according to the Notion's block.\nTherefore, you don't have to use Unicode symbols to implement lists or decorate documents using letters.\nOf course, this depends on the user, and there is no problem using the character string you want, such as inserting an emoji as well as Unicode."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "pageId",
          "markdown",
          "secretKey"
        ]
      },
      "INotion.ICreateChildContentTypeFileInput": {
        "type": "object",
        "properties": {
          "file": {
            "type": "object",
            "properties": {
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "iri",
                    "title": "url\n\nYou can enter the path of the file you want to upload."
                  }
                },
                "required": [
                  "url"
                ],
                "title": "external"
              },
              "name": {
                "type": "string",
                "title": "filename"
              },
              "caption": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "content"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "iri",
                              "title": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "title": "link"
                        }
                      },
                      "required": [
                        "content"
                      ],
                      "title": "text"
                    }
                  },
                  "required": [
                    "text"
                  ]
                },
                "minItems": 1,
                "maxItems": 1,
                "title": "caption for this file"
              }
            },
            "required": [
              "external"
            ],
            "title": "file"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "file",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeEmbedInput": {
        "type": "object",
        "properties": {
          "embed": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "url\n\nYou can enter the path of the file you want to embed."
              },
              "caption": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "content"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "iri",
                              "title": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "title": "link"
                        }
                      },
                      "required": [
                        "content"
                      ],
                      "title": "text"
                    }
                  },
                  "required": [
                    "text"
                  ]
                },
                "minItems": 1,
                "maxItems": 1,
                "title": "caption of this embed"
              }
            },
            "required": [
              "url"
            ],
            "title": "embed"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "embed",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeBookmarkInput": {
        "type": "object",
        "properties": {
          "bookmark": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "iri",
                "title": "url\n\nYou can enter the path of the file you want to bookmark."
              },
              "caption": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "content"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "iri",
                              "title": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "title": "link"
                        }
                      },
                      "required": [
                        "content"
                      ],
                      "title": "text"
                    }
                  },
                  "required": [
                    "text"
                  ]
                },
                "minItems": 1,
                "maxItems": 1,
                "title": "caption of this bookmark"
              }
            },
            "required": [
              "url"
            ],
            "title": "bookmark"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "bookmark",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeImageInput": {
        "type": "object",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "pattern": ".*\\.(bmp|gif|heic|jpe?g|png|svg|tiff?)(\\?.*)?",
                    "title": "url",
                    "description": "image file's extension is one of: 'bmp', 'gif', 'heic', 'jpg', 'jpeg', 'png', 'svg', 'tif', 'tiff'."
                  }
                },
                "required": [
                  "url"
                ],
                "title": "external"
              },
              "caption": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "content"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "iri",
                              "title": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "title": "link"
                        }
                      },
                      "required": [
                        "content"
                      ],
                      "title": "text"
                    }
                  },
                  "required": [
                    "text"
                  ]
                },
                "minItems": 1,
                "maxItems": 1,
                "title": "caption of this image"
              }
            },
            "required": [
              "external"
            ],
            "title": "image"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "image",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeVideoInput": {
        "type": "object",
        "properties": {
          "video": {
            "type": "object",
            "properties": {
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "iri",
                    "title": "url",
                    "description": "video file must be one of: 'amv' ,'asf' ,'avi' ,'f4v' ,'flv' ,'gifv' ,'mkv' ,'mov' ,'mpg' ,'mpeg' ,'mpv' ,'mp4' ,'m4v' ,'qt' ,'wmv'\nOR\nYouTube video links that include embed or watch.\nE.g. https://www.youtube.com/watch?v=[id], https://www.youtube.com/embed/[id]"
                  }
                },
                "required": [
                  "url"
                ],
                "title": "external"
              },
              "caption": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "content"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "iri",
                              "title": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "title": "link"
                        }
                      },
                      "required": [
                        "content"
                      ],
                      "title": "text"
                    }
                  },
                  "required": [
                    "text"
                  ]
                },
                "minItems": 1,
                "maxItems": 1,
                "title": "caption of this embed"
              }
            },
            "required": [
              "external"
            ],
            "title": "video"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "video",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypePdfInput": {
        "type": "object",
        "properties": {
          "pdf": {
            "type": "object",
            "properties": {
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "iri",
                    "pattern": ".*\\.(pdf)(\\?.*)?",
                    "title": "url"
                  }
                },
                "required": [
                  "url"
                ],
                "title": "external"
              },
              "caption": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "content"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "iri",
                              "title": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "title": "link"
                        }
                      },
                      "required": [
                        "content"
                      ],
                      "title": "text"
                    }
                  },
                  "required": [
                    "text"
                  ]
                },
                "minItems": 1,
                "maxItems": 1,
                "title": "caption of this pdf"
              }
            },
            "required": [
              "external"
            ],
            "title": "pdf"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "pdf",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeCodeInput": {
        "type": "object",
        "properties": {
          "code": {
            "type": "object",
            "properties": {
              "language": {
                "oneOf": [
                  {
                    "const": "c"
                  },
                  {
                    "const": "json"
                  },
                  {
                    "const": "diff"
                  },
                  {
                    "const": "html"
                  },
                  {
                    "const": "markdown"
                  },
                  {
                    "const": "r"
                  },
                  {
                    "const": "abap"
                  },
                  {
                    "const": "agda"
                  },
                  {
                    "const": "arduino"
                  },
                  {
                    "const": "assembly"
                  },
                  {
                    "const": "bash"
                  },
                  {
                    "const": "basic"
                  },
                  {
                    "const": "bnf"
                  },
                  {
                    "const": "c#"
                  },
                  {
                    "const": "c++"
                  },
                  {
                    "const": "clojure"
                  },
                  {
                    "const": "coffeescript"
                  },
                  {
                    "const": "coq"
                  },
                  {
                    "const": "css"
                  },
                  {
                    "const": "dart"
                  },
                  {
                    "const": "dhall"
                  },
                  {
                    "const": "docker"
                  },
                  {
                    "const": "ebnf"
                  },
                  {
                    "const": "elixir"
                  },
                  {
                    "const": "elm"
                  },
                  {
                    "const": "erlang"
                  },
                  {
                    "const": "f#"
                  },
                  {
                    "const": "flow"
                  },
                  {
                    "const": "fortran"
                  },
                  {
                    "const": "gherkin"
                  },
                  {
                    "const": "glsl"
                  },
                  {
                    "const": "go"
                  },
                  {
                    "const": "graphql"
                  },
                  {
                    "const": "groovy"
                  },
                  {
                    "const": "haskell"
                  },
                  {
                    "const": "idris"
                  },
                  {
                    "const": "java"
                  },
                  {
                    "const": "javascript"
                  },
                  {
                    "const": "julia"
                  },
                  {
                    "const": "kotlin"
                  },
                  {
                    "const": "latex"
                  },
                  {
                    "const": "less"
                  },
                  {
                    "const": "lisp"
                  },
                  {
                    "const": "livescript"
                  },
                  {
                    "const": "llvm ir"
                  },
                  {
                    "const": "lua"
                  },
                  {
                    "const": "makefile"
                  },
                  {
                    "const": "markup"
                  },
                  {
                    "const": "matlab"
                  },
                  {
                    "const": "mathematica"
                  },
                  {
                    "const": "mermaid"
                  },
                  {
                    "const": "nix"
                  },
                  {
                    "const": "notion formula"
                  },
                  {
                    "const": "objective-c"
                  },
                  {
                    "const": "ocaml"
                  },
                  {
                    "const": "pascal"
                  },
                  {
                    "const": "perl"
                  },
                  {
                    "const": "php"
                  },
                  {
                    "const": "plain text"
                  },
                  {
                    "const": "powershell"
                  },
                  {
                    "const": "prolog"
                  },
                  {
                    "const": "protobuf"
                  },
                  {
                    "const": "purescript"
                  },
                  {
                    "const": "python"
                  },
                  {
                    "const": "racket"
                  },
                  {
                    "const": "reason"
                  },
                  {
                    "const": "ruby"
                  },
                  {
                    "const": "rust"
                  },
                  {
                    "const": "sass"
                  },
                  {
                    "const": "scala"
                  },
                  {
                    "const": "scheme"
                  },
                  {
                    "const": "scss"
                  },
                  {
                    "const": "shell"
                  },
                  {
                    "const": "solidity"
                  },
                  {
                    "const": "sql"
                  },
                  {
                    "const": "swift"
                  },
                  {
                    "const": "toml"
                  },
                  {
                    "const": "typescript"
                  },
                  {
                    "const": "vb.net"
                  },
                  {
                    "const": "verilog"
                  },
                  {
                    "const": "vhdl"
                  },
                  {
                    "const": "visual basic"
                  },
                  {
                    "const": "webassembly"
                  },
                  {
                    "const": "xml"
                  },
                  {
                    "const": "yaml"
                  },
                  {
                    "const": "java/c/c++/c#"
                  }
                ],
                "title": "programming language name"
              },
              "rich_text": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "title": "content"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "iri",
                              "title": "url"
                            }
                          },
                          "required": [
                            "url"
                          ],
                          "title": "link"
                        }
                      },
                      "required": [
                        "content"
                      ],
                      "title": "text"
                    }
                  },
                  "required": [
                    "text"
                  ]
                },
                "maxItems": 1,
                "title": "rich text for this codebox"
              }
            },
            "required": [
              "language",
              "rich_text"
            ],
            "title": "code"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "code",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeEquationInput": {
        "type": "object",
        "properties": {
          "equation": {
            "type": "object",
            "properties": {
              "expression": {
                "const": "y = 2x",
                "title": "expression\n\nan equation in mathematics"
              }
            },
            "required": [
              "expression"
            ],
            "title": "equation"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "equation",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeDividerInput": {
        "type": "object",
        "properties": {
          "divider": {
            "$ref": "#/components/schemas/Recordstringnever",
            "title": "divider"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "divider",
          "secretKey",
          "pageId"
        ]
      },
      "Recordstringnever": {
        "type": "object",
        "properties": {},
        "required": [],
        "description": "Construct a type with a set of properties K of type T"
      },
      "INotion.ICreateChildContentTypeTableOfContentsInput": {
        "type": "object",
        "properties": {
          "table_of_contents": {
            "type": "object",
            "properties": {
              "color": {
                "oneOf": [
                  {
                    "const": "default"
                  },
                  {
                    "const": "red"
                  },
                  {
                    "const": "green"
                  },
                  {
                    "const": "blue"
                  },
                  {
                    "const": "gray"
                  },
                  {
                    "const": "brown"
                  },
                  {
                    "const": "orange"
                  },
                  {
                    "const": "yellow"
                  },
                  {
                    "const": "purple"
                  },
                  {
                    "const": "pink"
                  },
                  {
                    "const": "gray_background"
                  },
                  {
                    "const": "brown_background"
                  },
                  {
                    "const": "orange_background"
                  },
                  {
                    "const": "yellow_background"
                  },
                  {
                    "const": "green_background"
                  },
                  {
                    "const": "blue_background"
                  },
                  {
                    "const": "purple_background"
                  },
                  {
                    "const": "pink_background"
                  },
                  {
                    "const": "red_background"
                  }
                ],
                "title": "color",
                "description": "It must be one of :\n\"default\", \"gray\", \"brown\", \"orange\", \"yellow\", \"green\", \"blue\", \"purple\", \"pink\", \"red\", \"gray_background\", \"brown_background\", \"orange_background\", \"yellow_background\", \"green_background\", \"blue_background\", \"purple_background\", \"pink_background\", \"red_background\""
              }
            },
            "required": [
              "color"
            ],
            "title": "table_of_contents"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "table_of_contents",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeLinkToPageInput": {
        "type": "object",
        "properties": {
          "link_to_page": {
            "type": "object",
            "properties": {
              "page_id": {
                "oneOf": [
                  {
                    "type": "string",
                    "x-wrtn-prerequisite": {
                      "method": "post",
                      "path": "/connector/notion/get/page",
                      "jmesPath": "[].{value:pageId, label:title}"
                    },
                    "x-wrtn-placeholder": "부모 페이지를 선택하세요."
                  },
                  {
                    "type": "string",
                    "x-wrtn-prerequisite": {
                      "method": "post",
                      "path": "/connector/notion/page",
                      "jmesPath": "[].{value:id, label:id}"
                    },
                    "x-wrtn-placeholder": "부모 페이지를 선택하세요."
                  }
                ],
                "title": "page_id",
                "description": "You can look up the page by passing the page ID as a parameter at the end of the notion link.\nFor example, in the format 'https://www.notion.so/ :pageId'."
              }
            },
            "required": [
              "page_id"
            ],
            "title": "link_to_page"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          }
        },
        "required": [
          "link_to_page",
          "secretKey",
          "pageId"
        ]
      },
      "INotion.ICreateChildContentTypeToggleInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "Select authentication information",
            "description": "secret key."
          },
          "pageId": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/get/page",
                  "jmesPath": "[].{value:pageId, label:title}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "method": "post",
                  "path": "/connector/notion/page",
                  "jmesPath": "[].{value:id, label:id}"
                },
                "x-wrtn-placeholder": "부모 페이지를 선택하세요."
              }
            ],
            "title": "pageId",
            "description": "Indicates the page on which you want to add a block.\nAt the bottom of this page, a block is added to match the requested object here.\nCalling this connector requires the correct page ID,\nso it should only be called if you have previously created a page to obtain that ID, viewed the page,\nor obtained a link or page ID from the user in advance."
          },
          "toggle": {
            "$ref": "#/components/schemas/rich_textMultipleTextLinecolorApiColorundefinedRecordchildren(togglerich_textMultipleTextLinecolorApiColorundefinedRecord...)",
            "title": "toggle"
          }
        },
        "required": [
          "secretKey",
          "pageId",
          "toggle"
        ]
      },
      "rich_textMultipleTextLinecolorApiColorundefinedRecordchildren(togglerich_textMultipleTextLinecolorApiColorundefinedRecord...)": {
        "type": "object",
        "properties": {
          "rich_text": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "title": "content"
                    },
                    "link": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "iri",
                          "title": "url"
                        }
                      },
                      "required": [
[...]
