{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "통합 공공정보 조회",
    "summary": "다양한 공공 정보를 한 곳에서 확인해요.",
    "description": "기업 주가, 날씨, 건축물 정보, 캠핑장, 약국, 관광지, 주택 가격 등 다양한 공공 데이터를 조회할 수 있어요. 지역별 상세 날씨 정보를 확인하고, 전국의 캠핑장 현황을 파악할 수 있어요. 주변 약국이나 병원 위치를 찾을 수 있고, 관심 있는 지역의 부동산 시세도 확인할 수 있어요. 또한 교통 정보, 환경 정보, 문화 행사 정보 등 일상생활에 유용한 다양한 정보를 얻을 수 있어 편리한 생활을 할 수 있어요.",
    "version": "0.1.252",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/open-data/getAddress": {
      "post": {
        "summary": "Search for the address system of the Republic of Korea",
        "description": "Search for the address system of the Republic of Korea\n\n- If you enter a postal address, you can convert it to a street address and a road name address.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMSIT.IGetAddressInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMSIT.IGetAddressOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcSHRent": {
      "post": {
        "summary": "Retrieve multi-family lease and rental information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves information on single-family homes and multi-family homes for lease or rent.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Query conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information on leases and rents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IgetRTMSDataSvcSHRentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcOffiRent": {
      "post": {
        "summary": "Retrieve officetel lease and rental information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves officetel lease and rent information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Query conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information on leases and rents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcOffiRentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcAptRent": {
      "post": {
        "summary": "Retrieve apartment lease and rental information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves apartment lease and rent information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Query conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information on leases and rents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getLHLeaseInfo": {
      "post": {
        "summary": "Retrieve LH rental housing information",
        "description": "[Korea Land and Housing Corporation] Retrieves information on LH rental housing complexes.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nThe types of houses you can choose from here are one of the following: '국민임대','공공임대','영구임대','행복주택','장기전세','매입임대','전세임대'.\nIn addition, you can inquire by city, county, and region(=시도군)\n\nIn the Korean urban system, inquiries can only be made at the level of '특별시', '광역시', '자치시', '자치도', '도', so if you want to see it in more detail, you should ask the user for pagenation.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying rental housing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ILH.IGetLHLeaseInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "LH rental housing information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ILH.IGetLHLeaseInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getParkingLot": {
      "post": {
        "summary": "Retrieve parking lot information",
        "description": "[National Information Society Agency] Retrieves parking lot information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\nIf you don't know the exact road name(도로명주소) or lot number address(지번주소), you can't search it.\nLook up other public data connectors first or use map connectors to look up the correct address. (ex. kakao-map connector)\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying parking lots",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IPaginationInputPickParkingLotrdnmadr"
                  },
                  {
                    "$ref": "#/components/schemas/IPaginationInputPickParkingLotlnmadr"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Parking lot information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INIA.IGetParkingLotOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getBuildingInfo": {
      "post": {
        "summary": "Retrieve building registration information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves building registration information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying building information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.GetBuildingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Building information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.GetBuildingInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getStandardRegionCodeList": {
      "post": {
        "summary": "Retrieve administrative standard codes",
        "description": "[Ministry of the Interior and Safety] Retrieves administrative standard codes for domestic regions.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\nPublic data operating in a specific area-based class, such as building ledger information or building lease on a deposit basis information,\nmay all need to know the legal building code and the city, county, and district code (법정동 코드, 시군구 코드를 의미한다.).\nIn this case, this connector call must be preceded.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.\n\nFor the search, you should use the exact name that means the administrative district, just like the \"서울특별시\", not \"서울\".",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying regions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Region codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getStockPriceInfo": {
      "post": {
        "summary": "Retrieve market capitalization and stock information",
        "description": "[Financial Services Commission] Retrieves market capitalization and stock information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nSince this is Korean public data, most searches may have to be done in Korean. for example \"삼성전자\".\nAlso, since this is based on the closing of the stock market, you can only look up from about two months ago (9 days ago) to yesterday from today's date.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying market capitalization",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbasDt(stringPlaceholder...)undefined"
                  },
                  {
                    "$ref": "#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbeginBasDt(stringPlaceholder...)undefinedendBasDt(stringPlaceholder...)undefined"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Market capitalization and stock information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOpenData.FinancialServicesCommission.IGetStockPriceInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getShortTermForecast": {
      "post": {
        "summary": "Retrieve today's weather from the Korea Meteorological Administration",
        "description": "[Korea Meteorological Administration] Retrieves today's weather information.\n\nLatitude and longitude coordinates are required for querying.\nWhen provided, the latitude and longitude will be used to get current weather data based on the 00 minute mark of each hour for that region.\nThe output will be converted from grid coordinates to latitude and longitude, and provide weather-related information such as current weather, wind direction, and wind speed for the region.\nThe currently provided information includes:\n\n- POP: Probability of Precipitation\n- PTY: Precipitation Type\n- PCP: Precipitation Amount in the Last Hour\n- REH: Humidity\n- SNO: Snowfall in the Last Hour\n- SKY: Sky Condition\n- TMP: Temperature in the Last Hour\n- TMN: Daily Minimum Temperature\n- TMX: Daily Maximum Temperature\n- UUU: Wind Speed (East-West Component)\n- VVV: Wind Speed (North-South Component)\n- WAV: Wave Height\n- VEC: Wind Direction\n- WSD: Wind Speed\n- T1H: Temperature\n- RN1: Precipitation Amount in the Last Hour\n- VEC: Wind Direction\n- T1H: Temperature\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nThere are two types in request body.\nOne is 'latitude_and_longitude' and the other is 'grid_coordinates'.\nThis function uses grid coordinate values to express Korean geographical conditions inside,\nso grid coordinates must be entered.\nHowever, grid coordinates also allow for latitude values because it is difficult for users to know their local coordinates. In this case,\nyou must deliver the values of nx and ny together with the values of 'latitude_and_longitude'.\nIf the latitude hardness value is delivered,\nit is converted to grid coordinate value from the inside and used.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "DTO for weather query location",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKoreaMeteorologicalAdministration.IGetVillageForecastInformationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Weather information for the specified region",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IKoreaMeteorologicalAdministration.IGetForecastOutput"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/IOpenWeather.IResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getCopyRight": {
      "post": {
        "summary": "[Copyright Registration Information Service (New)]",
        "description": "[Korea Copyright Commission] Searches for copyright information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.\n\n- 제호(명칭) : 저작물의 명칭을 의미하는 말로, 사용자가 어려워할 수 있기 때문에 쉽게 풀어 말하는 것이 좋습니다.",
        "tags": [
          "Open Data"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying copyright",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KoreaCopyrightCommission.IGetCopyRightInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Copyright information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KoreaCopyrightCommission.IGetCopyRightOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IMSIT.IGetAddressOutput": {
        "type": "object",
        "properties": {
          "NewAddressListResponse": {
            "type": "object",
            "properties": {
              "cmmMsgHeader": {
                "type": "object",
                "properties": {
                  "totalCount": {
                    "type": "integer",
                    "title": "totalCount"
                  },
                  "countPerPage": {
                    "type": "integer",
                    "title": "countPerPage"
                  },
                  "totalPage": {
                    "type": "integer",
                    "title": "totalPage"
                  },
                  "errMsg": {
                    "type": "string",
                    "title": "error message"
                  }
                }
              },
              "newAddressListAreaCd": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "zipNo": {
                      "type": "string",
                      "title": "Postal address"
                    },
                    "lnmAdres": {
                      "type": "string",
                      "title": "street address"
                    },
                    "rnAdres": {
                      "type": "string",
                      "title": "Road name address"
                    }
                  },
                  "required": [
                    "zipNo",
                    "lnmAdres",
                    "rnAdres"
                  ]
                },
                "title": "Address Data\n\nIf there is no data, the key itself does not exist, so in this case, there are no search results."
              }
            },
            "required": [
              "cmmMsgHeader"
            ],
            "title": "NewAddressListResponse\n\nSection containing header information for the response result"
          }
        },
        "required": [
          "NewAddressListResponse"
        ]
      },
      "IMSIT.IGetAddressInput": {
        "type": "object",
        "properties": {
          "srchwrd": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "title": "search term"
          },
          "countPerPage": {
            "type": "integer",
            "title": "Number of outputs per page"
          },
          "currentPage": {
            "type": "integer",
            "title": "Page number to be printed"
          }
        },
        "required": [
          "srchwrd"
        ]
      },
      "IMOLIT.IgetRTMSDataSvcSHRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIMOLIT.BuildingLentInfoapartmentexclusiveArealotNumberfloor"
            }
          },
          "nextPage": {
            "type": "boolean",
            "title": "nextPage\n\nIndicates whether the next page exists"
          }
        },
        "required": [
          "data",
          "nextPage"
        ]
      },
      "StrictOmitIMOLIT.BuildingLentInfoapartmentexclusiveArealotNumberfloor": {
        "type": "object",
        "properties": {
          "useOfRenewalRight": {
            "type": "string",
            "title": "Use of renewal request right"
          },
          "yearOfConstruction": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Year of construction"
          },
          "typeOfContract": {
            "type": "string",
            "title": "Contract type"
          },
          "contractPeriod": {
            "type": "string",
            "title": "Contract period"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "year"
          },
          "legalDistrict": {
            "type": "string",
            "title": "Beopjeong-dong"
          },
          "depositAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Deposit amount\n\nSince it is based on Korean currency, it will be in ten thousand won in most cases."
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "month"
          },
          "monthlyRentAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Monthly rent\n\nSince it is based on Korean currency, it will be in ten thousand won in most cases."
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "day"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Previous contract deposit"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Previous contract monthly rent"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "area code"
          }
        },
        "required": [
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "depositAmount",
          "month",
          "monthlyRentAmount",
          "day",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "areaCode"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcAptRentInput": {
        "type": "object",
        "properties": {
          "LAWD_CD": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "jmesPath": "rows[].{value:sigunguCd, label:sigunguNm}"
            },
            "title": "City/county/district code"
          },
          "DEAL_YMD": {
            "type": "string",
            "x-wrtn-placeholder": "202201",
            "title": "Contract year and month of actual transaction data (6 digits)"
          },
          "page": {
            "type": "integer",
            "title": "page"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "title": "limit"
          }
        },
        "required": [
          "LAWD_CD",
          "DEAL_YMD",
          "page",
          "limit"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcOffiRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIMOLIT.BuildingLentInfoapartmentyearOfConstructiondepositAmountmonthlyRentAmount"
            }
          },
          "nextPage": {
            "type": "boolean",
            "title": "nextPage\n\nIndicates whether the next page exists"
          }
        },
        "required": [
          "data",
          "nextPage"
        ]
      },
      "StrictOmitIMOLIT.BuildingLentInfoapartmentyearOfConstructiondepositAmountmonthlyRentAmount": {
        "type": "object",
        "properties": {
          "exclusiveArea": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Exclusive area"
          },
          "lotNumber": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Address"
          },
          "floor": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "floor"
          },
          "useOfRenewalRight": {
            "type": "string",
            "title": "Use of renewal request right"
          },
          "typeOfContract": {
            "type": "string",
            "title": "Contract type"
          },
          "contractPeriod": {
            "type": "string",
            "title": "Contract period"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "year"
          },
          "legalDistrict": {
            "type": "string",
            "title": "Beopjeong-dong"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "month"
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "day"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Previous contract deposit"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Previous contract monthly rent"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "area code"
          }
        },
        "required": [
          "exclusiveArea",
          "lotNumber",
          "floor",
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "month",
          "day",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "areaCode"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcAptRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IMOLIT.BuildingLentInfo"
            }
          },
          "nextPage": {
            "type": "boolean",
            "title": "nextPage\n\nIndicates whether the next page exists"
          }
        },
        "required": [
          "data",
          "nextPage"
        ]
      },
      "IMOLIT.BuildingLentInfo": {
        "type": "object",
        "properties": {
          "useOfRenewalRight": {
            "type": "string",
            "title": "Use of renewal request right"
          },
          "yearOfConstruction": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Year of construction"
          },
          "typeOfContract": {
            "type": "string",
            "title": "Contract type"
          },
          "contractPeriod": {
            "type": "string",
            "title": "Contract period"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "year"
          },
          "legalDistrict": {
            "type": "string",
            "title": "Beopjeong-dong"
          },
          "depositAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Deposit amount\n\nSince it is based on Korean currency, it will be in ten thousand won in most cases."
          },
          "apartment": {
            "type": "string",
            "title": "Apartment"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "month"
          },
          "monthlyRentAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Monthly rent\n\nSince it is based on Korean currency, it will be in ten thousand won in most cases."
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "day"
          },
          "exclusiveArea": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Exclusive area"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Previous contract deposit"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Previous contract monthly rent"
          },
          "lotNumber": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Address"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "area code"
          },
          "floor": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "floor"
          }
        },
        "required": [
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "depositAmount",
          "apartment",
          "month",
          "monthlyRentAmount",
          "day",
          "exclusiveArea",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "lotNumber",
          "areaCode",
          "floor"
        ]
      },
      "ILH.IGetLHLeaseInfoOutput": {
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "boolean",
            "title": "Next page availability"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "SUM_HSH_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "873",
                  "title": "Total number of households"
                },
                "RFE": {
                  "type": "string",
                  "x-wrtn-placeholder": "373500",
                  "title": "Monthly rent (won)"
                },
                "RNUM": {
                  "type": "string",
                  "x-wrtn-placeholder": "1",
                  "title": "order"
                },
                "HSH_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "72",
                  "title": "Number of generations"
                },
                "ARA_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "서울특별시 강남구",
                  "title": "Region name"
                },
                "LS_GMY": {
                  "type": "string",
                  "x-wrtn-placeholder": "45003000",
                  "title": "Rental Deposit"
                },
                "AIS_TP_CD_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "국민임대",
                  "title": "Supply type name"
                },
                "SBD_LGO_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "서울강남 3블록",
                  "title": "Name of the unit"
                },
                "ALL_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "157",
                  "title": "Total number"
                },
                "DDO_AR": {
                  "type": "string",
                  "x-wrtn-placeholder": "46.71",
                  "title": "Exclusive area"
                },
                "MVIN_XPC_YM": {
                  "type": "string",
                  "x-wrtn-placeholder": "201311",
                  "title": "First year of residency"
                }
              },
              "required": [
                "SUM_HSH_CNT",
                "RFE",
                "RNUM",
                "HSH_CNT",
                "ARA_NM",
                "LS_GMY",
                "AIS_TP_CD_NM",
                "SBD_LGO_NM",
                "ALL_CNT",
                "DDO_AR",
                "MVIN_XPC_YM"
              ]
            }
          }
        },
        "required": [
          "nextPage",
          "data"
        ],
        "title": "LH rental housing inquiry response"
      },
      "ILH.IGetLHLeaseInfoInput": {
        "type": "object",
        "properties": {
          "CNP_CD": {
            "oneOf": [
              {
                "const": 11,
                "title": "서울특별시"
              },
              {
                "const": 26,
                "title": "부산광역시"
              },
              {
                "const": 27,
                "title": "대구광역시"
              },
              {
                "const": 28,
                "title": "인천광역시"
              },
              {
                "const": 29,
                "title": "광주광역시"
              },
              {
                "const": 30,
                "title": "대전광역시"
              },
              {
                "const": 31,
                "title": "울산광역시"
              },
              {
                "const": 41,
                "title": "경기도"
              },
              {
                "const": 42,
                "title": "강원도"
              },
              {
                "const": 43,
                "title": "충청북도"
              },
              {
                "const": 44,
                "title": "충청남도"
              },
              {
                "const": 45,
                "title": "전라북도"
              },
              {
                "const": 46,
                "title": "전라남도"
              },
              {
                "const": 47,
                "title": "경상북도"
              },
              {
                "const": 48,
                "title": "경상남도"
              },
              {
                "const": 50,
                "title": "제주특별자치도"
              },
              {
                "const": 36110,
                "title": "세종특별자치시"
              }
            ],
            "title": "Area Code\n\nIt can be one of these numbers:\n- 11: Seoul\n- 26: Busan\n- 27: Daegu\n- 28: Incheon\n- 29: Gwangju\n- 30: Daejeon\n- 31: Ulsan\n- 36110: Sejong\n- 41: Gyeonggi\n- 42: Gangwon\n- 43: Chungcheongbuk\n- 44: Chungcheongnam\n- 45: Jeollabuk\n- 46: Jeollanam\n- 47: Gyeongsangbuk\n- 48: Gyeongsangnam\n- 50: Jeju"
          },
          "SPL_TP_CD": {
            "oneOf": [
              {
                "const": "07",
                "title": "국민임대"
              },
              {
                "const": "08",
                "title": "공공임대"
              },
              {
                "const": "09",
                "title": "영구임대"
              },
              {
                "const": "10",
                "title": "행복주택"
              },
              {
                "const": "11",
                "title": "장기전세"
              },
              {
                "const": "13",
                "title": "매입임대"
              },
              {
                "const": "17",
                "title": "전세임대"
              }
            ],
            "title": "Supply Type Code\n\nIt can be one of these numbers:\n- 07: National Rental\n- 08: Public Rental\n- 09: Permanent Rental\n- 10: Happy Housing\n- 11: Long-term Lease\n- 13: Purchase Lease\n- 17: Lease Lease"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          }
        },
        "required": [
          "CNP_CD"
        ],
        "title": "LH rental housing search conditions"
      },
      "INIA.IGetParkingLotOutput": {
        "type": "object",
        "properties": {
          "parkingLots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INIA.ParkingLot"
            },
            "title": "Parking lot information"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "totalCount": {
            "type": "number",
            "title": "Total number of records"
          }
        },
        "required": [
          "parkingLots",
          "totalCount"
        ],
        "title": "Parking lot inquiry response"
      },
      "INIA.ParkingLot": {
        "type": "object",
        "properties": {
          "prkplceNo": {
            "type": "string",
            "title": "Parking lot management number"
          },
          "prkplceNm": {
            "type": "string",
            "title": "Parking lot name"
          },
          "prkplceSe": {
            "type": "string",
            "title": "Parking lot classification"
          },
          "prkplceType": {
            "type": "string",
            "title": "Parking lot type"
          },
          "rdnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:road_address_name, label:road_address_name}"
            },
            "title": "road name address (read name address)"
          },
          "lnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:address_name, label:address_name}"
            },
            "title": "Lot number address"
          },
          "prkcmprt": {
            "type": "string",
            "title": "Number of parking spaces"
          },
          "feedingSe": {
            "type": "string",
            "title": "Urgent Distinction"
          },
          "enforceSe": {
            "type": "string",
            "title": "Subtitle enforcement classification"
          },
          "operDay": {
            "type": "string",
            "title": "Operating days"
          },
          "weekdayOperOpenHhmm": {
            "type": "string",
            "title": "Weekday operation start time"
          },
          "weekdayOperColseHhmm": {
            "type": "string",
            "title": "Weekday operating closing time"
          },
          "satOperOperOpenHhmm": {
            "type": "string",
            "title": "Saturday operation start time"
          },
          "satOperCloseHhmm": {
            "type": "string",
            "title": "Saturday closing time"
          },
          "holidayOperOpenHhmm": {
            "type": "string",
            "title": "Holiday operation start time"
          },
          "holidayCloseOpenHhmm": {
            "type": "string",
            "title": "Holiday closing time"
          },
          "parkingchrgeInfo": {
            "type": "string",
            "title": "Rate information"
          },
          "basicTime": {
            "type": "string",
            "title": "Basic parking time"
          },
          "basicCharge": {
            "type": "string",
            "title": "Basic parking fee"
          },
          "addUnitTime": {
            "type": "string",
            "title": "Additional unit time"
          },
          "addUnitCharge": {
            "type": "string",
            "title": "Additional unit fee"
          },
          "dayCmmtktAdjTime": {
            "type": "string",
            "title": "1-day parking fee application time"
          },
          "dayCmmtkt": {
            "type": "string",
            "title": "1-day parking fee"
          },
          "monthCmmtkt": {
            "type": "string",
            "title": "Monthly pass fee"
          },
          "metpay": {
            "type": "string",
            "title": "Payment method"
          },
          "spcmnt": {
            "type": "string",
            "title": "Special Notes"
          },
          "institutionNm": {
            "type": "string",
            "title": "Management Agency Name"
          },
          "phoneNumber": {
            "type": "string",
            "title": "phone number"
          },
          "latitude": {
            "type": "string",
            "title": "Latitude"
          },
          "longitude": {
            "type": "string",
            "title": "Hardness"
          },
          "pwdbsPpkZoneYn": {
            "type": "string",
            "title": "Whether there is a parking area for the disabled"
          },
          "referenceDate": {
            "type": "string",
            "title": "Data reference date"
          },
          "instt_code": {
            "type": "string",
            "title": "Provider Code"
          },
          "instt_nm": {
            "type": "string",
            "title": "Provider Name of institution"
          }
        }
      },
      "IPaginationInputPickParkingLotrdnmadr": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "rdnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:road_address_name, label:road_address_name}"
            },
            "title": "road name address (read name address)"
          }
        }
      },
      "IPaginationInputPickParkingLotlnmadr": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "lnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:address_name, label:address_name}"
            },
            "title": "Lot number address"
          }
        }
      },
      "IMOLIT.GetBuildingInfoOutput": {
        "type": "object",
        "properties": {
          "bulidings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IMOLIT.Building"
            },
            "title": "Building Information List"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "totalCount": {
            "type": "number",
            "title": "Total number of records"
          }
        },
        "required": [
          "bulidings",
          "totalCount"
        ],
        "title": "Building Inquiry Response"
      },
      "IMOLIT.Building": {
        "type": "object",
        "properties": {
          "mainPurpsCdNm": {
            "type": "string",
            "title": "Primary purpose code name"
          },
          "etcPurps": {
            "type": "string",
            "title": "Other uses"
          },
          "roofCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "roof code"
          },
          "roofCdNm": {
            "type": "string",
            "title": "Roof code name"
          },
          "etcRoof": {
            "type": "string",
            "title": "Guitar Roof"
          },
          "hhldCnt": {
            "type": "number",
            "title": "Number of generations (generation)"
          },
          "fmlyCnt": {
            "type": "number",
            "title": "Number of households (households)"
          },
          "heit": {
            "type": "number",
            "title": "Height (m)"
          },
          "grndFlrCnt": {
            "type": "number",
            "title": "Number of floors above ground"
          },
          "ugrndFlrCnt": {
            "type": "number",
            "title": "Basement floor"
          },
          "rideUseElvtCnt": {
            "type": "number",
            "title": "Elevator driver"
          },
          "emgenUseElvtCnt": {
            "type": "number",
            "title": "Emergency Elevator"
          },
          "atchBldCnt": {
            "type": "number",
            "title": "Number of auxiliary buildings"
          },
          "atchBldArea": {
            "type": "number",
            "title": "Area of attached building (㎡)"
          },
          "totDongTotArea": {
            "type": "number",
            "title": "Total floor area (㎡)"
          },
          "indrMechUtcnt": {
            "type": "number",
            "title": "Indoor machine counter (large)"
          },
          "indrMechArea": {
            "type": "number",
            "title": "Indoor mechanical area (㎡)"
          },
          "oudrMechUtcnt": {
            "type": "number",
            "title": "Outdoor mechanical counter (large)"
          },
          "oudrMechArea": {
            "type": "number",
            "title": "Outdoor mechanical area (㎡)"
          },
          "indrAutoUtcnt": {
            "type": "number",
            "title": "Indoor self-sufficient stock (large)"
          },
          "indrAutoArea": {
            "type": "number",
            "title": "Indoor self-sufficient area (㎡)"
          },
          "oudrAutoUtcnt": {
            "type": "number",
            "title": "Outdoor self-propelled vehicle (large)"
          },
          "oudrAutoArea": {
            "type": "number",
            "title": "Outdoor self-contained area (㎡)"
          },
          "pmsDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Permission Date"
          },
          "stcnsDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Start date"
          },
          "useAprDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Date of approval for use"
          },
          "pmsnoYear": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "License number year"
          },
          "pmsnoKikCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "License Number Agency Code"
          },
          "pmsnoKikCdNm": {
            "type": "string",
            "title": "License Number Agency Code Name"
          },
          "pmsnoGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Permit number classification code"
          },
          "pmsnoGbCdNm": {
            "type": "string",
            "title": "Permit number classification code name"
          },
          "hoCnt": {
            "type": "number",
            "title": "lake"
          },
          "engrGrade": {
            "type": "string",
            "title": "Energy Efficiency Rating"
          },
          "engrRat": {
            "type": "number",
            "title": "Energy saving rate"
          },
          "engrEpi": {
            "type": "number",
            "title": "EPI score"
          },
          "gnBldGrade": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Eco-friendly building rating"
          },
          "gnBldCert": {
            "type": "number",
            "title": "Eco-friendly building certification score"
          },
          "itgBldGrade": {
            "type": "string",
            "title": "Intelligent Building Rating"
          },
          "itgBldCert": {
            "type": "number",
            "title": "Intelligent Building Certification Score"
          },
          "crtnDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Creation date"
          },
          "rnum": {
            "type": "number",
            "title": "order"
          },
          "platPlc": {
            "type": "string",
            "title": "Earth location"
          },
          "sigunguCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "City/county/district code"
          },
          "bjdongCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Beopjeong-dong code"
          },
          "platGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Earth Classification Code"
          },
          "bun": {
            "type": "string",
            "title": "number",
            "description": "One of the Korean address names"
          },
          "ji": {
            "type": "string",
            "title": "Ji",
            "description": "One of the Korean address names"
          },
          "mgmBldrgstPk": {
            "type": "string",
            "title": "Management Building Register PK"
          },
          "regstrGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Colon Distinction Code"
          },
          "regstrGbCdNm": {
            "type": "string",
            "title": "Colon division code name"
          },
          "regstrKindCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Colon type code"
          },
          "regstrKindCdNm": {
            "type": "string",
            "title": "Colon type code name"
          },
          "newPlatPlc": {
            "type": "string",
            "title": "Road name site location"
          },
          "bldNm": {
            "type": "string",
            "title": "Building name"
          },
          "splotNm": {
            "type": "string",
            "title": "Special place name"
          },
          "block": {
            "type": "string",
            "title": "block"
          },
          "lot": {
            "type": "string",
            "title": "lot"
          },
          "bylotCnt": {
            "type": "number",
            "title": "External index"
          },
          "naRoadCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "New address road code"
          },
          "naBjdongCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "New address law code"
          },
          "naUgrndCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "New address ground and underground code"
          },
          "naMainBun": {
            "type": "number",
            "title": "New address number"
          },
          "naSubBun": {
            "type": "number",
            "title": "New address number"
          },
          "dongNm": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Same name"
          },
          "mainAtchGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Main/Subordinate Classification Code"
          },
          "mainAtchGbCdNm": {
            "type": "string",
            "title": "Main/Subordinate Code Name"
          },
          "platArea": {
            "type": "number",
            "title": "Land area (㎡)"
          },
          "archArea": {
            "type": "number",
            "title": "Building area (㎡)"
          },
          "bcRat": {
            "type": "number",
            "title": "Building coverage ratio (%)"
          },
          "totArea": {
            "type": "number",
            "title": "Total floor area (㎡)"
          },
          "vlRatEstmTotArea": {
            "type": "number",
            "title": "Floor area ratio calculation area (㎡)"
          },
          "vlRat": {
            "type": "number",
            "title": "Volume ratio (%)"
          },
          "strctCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Structure Code"
          },
          "strctCdNm": {
            "type": "string",
            "title": "Structure code name"
          },
          "etcStrct": {
            "type": "string",
            "title": "Other Structures"
          },
          "mainPurpsCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "Primary Purpose Code"
          },
          "rserthqkDsgnApplyYn": {
            "oneOf": [
              {
                "const": 0,
                "title": "미적용"
              },
              {
                "const": 1,
                "title": "적용"
              },
              {
                "const": " ",
                "title": "알 수 없음"
              }
            ],
            "title": "Whether earthquake-resistant design is applied"
          },
          "rserthqkAblty": {
            "type": "string",
            "title": "seismic capacity"
          }
        },
        "required": [
          "crtnDay",
          "platPlc",
          "sigunguCd",
          "bjdongCd",
          "mgmBldrgstPk"
        ]
      },
      "IMOLIT.GetBuildingInfoInput": {
        "type": "object",
        "properties": {
          "sigunguCd": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "jmesPath": "rows[].{value:sigunguCd, label:sigunguNm}"
            },
            "title": "City/county/district code"
          },
          "bjdongCd": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "jmesPath": "rows[].{value:sigunguCd, label:sigunguNm}"
            },
            "title": "Beopjeong-dong Code"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          }
        },
        "required": [
          "sigunguCd",
          "bjdongCd"
        ],
        "title": "Building search conditions"
      },
      "IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListOutput": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "region_cd": {
                  "type": "string",
                  "title": "Region code"
                },
                "sido_cd": {
                  "type": "string",
                  "title": "City code"
                },
                "sgg_cd": {
                  "type": "string",
                  "title": "District code"
                },
                "sigunguCd": {
                  "type": "string",
                  "title": "City and District Code",
                  "description": "Combination of city code and district code"
                },
                "sigunguNm": {
                  "type": "string",
                  "title": "District name"
                },
                "umd_cd": {
                  "type": "string",
                  "title": "Town/Village code"
                },
                "ri_cd": {
                  "type": "string",
                  "title": "Ri code"
                },
                "bjdongCd": {
                  "type": "string",
                  "title": "Legal Dong code",
                  "description": "Combination of Town/Village code and Ri code"
                },
                "locatjumin_cd": {
                  "type": "string",
                  "title": "Resident region code"
                },
                "locatjijuk_cd": {
                  "type": "string",
                  "title": "Land region code"
                },
                "locatadd_nm": {
                  "type": "string",
                  "title": "Region address name"
                },
                "locat_order": {
                  "type": "integer",
                  "title": "Sequence"
                },
                "locat_rm": {
                  "type": "string",
                  "title": "Remark"
                },
                "locathigh_cd": {
                  "type": "string",
                  "title": "Parent region code"
                },
                "locallow_nm": {
                  "type": "string",
                  "title": "Lowest region name"
                },
                "adpt_de": {
                  "type": "string",
                  "title": "Date of creation"
                }
              },
              "required": [
                "region_cd",
                "sigunguNm"
              ]
            }
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "totalCount": {
            "type": "number",
            "title": "Total number of records"
          }
        },
        "required": [
          "rows",
          "totalCount"
        ],
        "title": "Result of Administrative Standard Code Lookup"
      },
      "IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListInput": {
        "type": "object",
        "properties": {
          "locatadd_nm": {
            "oneOf": [
              {
                "const": "서울특별시",
                "title": "서울특별시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "부산광역시",
                "title": "부산광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "대구광역시",
                "title": "대구광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "인천광역시",
                "title": "인천광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "광주광역시",
                "title": "광주광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "대전광역시",
                "title": "대전광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "울산광역시",
                "title": "울산광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "세종특별자치시",
                "title": "세종특별자치시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "경기도",
                "title": "경기도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "충청북도",
                "title": "충청북도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "충청남도",
                "title": "충청남도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "경상북도",
                "title": "경상북도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "경상남도",
                "title": "경상남도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "전라남도",
                "title": "전라남도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "제주특별자치도",
                "title": "제주특별자치도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "강원특별자치도",
                "title": "강원특별자치도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "전북특별자치도",
                "title": "전북특별자치도",
                "x-wrtn-placeholder": "서울특별시"
              }
            ],
            "title": "Region address name\nIt must be one of: \"Seoul Metropolitan City\",\"Busan Metropolitan City\",\"Daegu Metropolitan City\",\"Incheon Metropolitan City\",\"Gwangju Metropolitan City\",\"Daejeon Metropolitan City\",\"Ulsan Metropolitan City\",\"Sejong Special Self-Governing City\",\"Gyeonggi-do\",\"Chungcheongbuk-do\",\"Chungcheongnam-do\",\"Gyeongsangbuk-do\",\"Gyeongsangnam-do\",\"Jeollanam-do\",\"Jeju Special Self-Governing Province\",\"Gangwon Special Self-Governing Province\",\"Jeollabuk-do Special Self-Governing Province\""
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          }
        },
        "required": [
          "locatadd_nm"
        ],
        "title": "Request for Administrative Standard Code Lookup"
      },
      "IOpenData.FinancialServicesCommission.IGetStockPriceInfoOutput": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "body": {
                "type": "object",
                "properties": {
                  "numOfRows": {
                    "type": "integer",
                    "default": 10,
                    "title": "Number of results per page"
                  },
                  "pageNo": {
                    "type": "integer",
                    "default": 1,
                    "title": "Page number"
                  },
                  "totalCount": {
                    "type": "number",
                    "title": "Total number of records"
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "item": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "basDt": {
                              "type": "string",
                              "x-wrtn-placeholder": "20220919",
                              "title": "Base date"
                            },
                            "srtnCd": {
                              "type": "string",
                              "title": "Short code",
                              "description": "6-digit code shorter than stock code and uniquely guaranteed"
                            },
                            "isinCd": {
                              "type": "string",
                              "title": "ISIN code",
                              "description": "International Securities Identification Number"
                            },
                            "itmsNm": {
                              "type": "string",
                              "title": "Stock name"
                            },
                            "mrktCtg": {
                              "oneOf": [
                                {
                                  "const": "KOSPI",
                                  "title": "KOSPI"
                                },
                                {
                                  "const": "KOSDAQ",
                                  "title": "KOSDAQ"
                                },
                                {
                                  "const": "KONEX",
                                  "title": "KONEX"
                                }
                              ],
                              "title": "Market category"
                            },
                            "clpr": {
                              "type": "string",
                              "title": "Closing price",
                              "description": "Final price formed at the end of regular trading hours"
                            },
                            "vs": {
                              "type": "string",
                              "title": "Change",
                              "description": "Fluctuation compared to the previous day"
                            },
                            "fltRt": {
                              "type": "string",
                              "title": "Rate of change",
                              "description": "Ratio of fluctuation compared to the previous day"
                            },
                            "mkp": {
                              "type": "string",
                              "title": "Opening price",
                              "description": "Initial price formed after opening"
                            },
                            "hipr": {
                              "type": "string",
                              "title": "Highest price",
                              "description": "Highest price during the day"
                            },
                            "lopr": {
                              "type": "string",
                              "title": "Lowest price",
                              "description": "Lowest price during the day"
                            },
                            "trqu": {
                              "type": "string",
                              "title": "Trading volume",
                              "description": "Cumulative total of trade quantities"
                            },
                            "trPrc": {
                              "type": "string",
                              "title": "Trading amount",
                              "description": "Cumulative total of trade prices * quantities"
                            },
                            "lstgStCnt": {
                              "type": "string",
                              "title": "Listed shares"
                            },
                            "mrktTotAmt": {
                              "type": "string",
                              "title": "Market capitalization",
                              "description": "Closing price * listed shares"
                            }
                          },
                          "required": [
                            "basDt",
                            "srtnCd",
                            "isinCd",
                            "itmsNm",
                            "mrktCtg",
                            "clpr",
                            "vs",
                            "fltRt",
                            "mkp",
                            "hipr",
                            "lopr",
                            "trqu",
                            "trPrc",
                            "lstgStCnt",
                            "mrktTotAmt"
                          ]
                        }
                      }
                    },
                    "required": [
                      "item"
                    ],
                    "title": "Retrieved company information"
                  }
                },
                "required": [
                  "numOfRows",
                  "pageNo",
                  "totalCount",
                  "items"
                ]
              }
            },
            "required": [
              "body"
            ]
          }
        },
        "required": [
          "response"
        ],
        "title": "Result of querying market capitalization and stock information"
      },
      "IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbasDt(stringPlaceholder...)undefined": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "likeItmsNm": {
            "type": "string",
            "maxLength": 120,
            "x-wrtn-placeholder": "Samsung Electronics",
            "title": "Keyword for stock name search\n\nSearch is only possible if it matches the exact company name that is listed, which is stored on the Korea Stock Exchange.\nSince it is a Korean company, most of it will be in Korean.\nPlease give Korean company name."
          },
          "basDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "Base date\nSearches for data matching the search value and base date\nYYYYMMDD format date string."
          }
        }
      },
      "IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbeginBasDt(stringPlaceholder...)undefinedendBasDt(stringPlaceholder...)undefined": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "likeItmsNm": {
            "type": "string",
            "maxLength": 120,
            "x-wrtn-placeholder": "Samsung Electronics",
            "title": "Keyword for stock name search\n\nSearch is only possible if it matches the exact company name that is listed, which is stored on the Korea Stock Exchange.\nSince it is a Korean company, most of it will be in Korean.\nPlease give Korean company name."
          },
          "beginBasDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "Start date (inclusive)\nSearches for data where the base date is greater than or equal to the search value\nYYYYMMDD format date string."
          },
          "endBasDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "End date (exclusive)\nSearches for data where the base date is less than the search value\nYYYYMMDD format date string."
          }
        }
      },
      "IKoreaMeteorologicalAdministration.IGetForecastOutput": {
        "type": "object",
        "properties": {
          "baseDate": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Date value composed of year, month, and day, e.g., `20240619`."
          },
          "baseTime": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Time value indicating the exact hour, e.g., `1200`."
          },
          "category": {
            "oneOf": [
              {
                "const": "POP",
                "title": "Precipitation Probability",
                "description": "Unit is %"
              },
              {
                "const": "PTY",
                "title": "Precipitation Type",
                "description": "Code value"
              },
              {
                "const": "PCP",
                "title": "Hourly Precipitation",
                "description": "Category (1mm)"
              },
              {
                "const": "REH",
                "title": "Humidity",
                "description": "Unit is %"
              },
              {
                "const": "SNO",
                "title": "Hourly Snowfall",
                "description": "Category (1cm)"
              },
              {
                "const": "SKY",
                "title": "Sky Condition",
                "description": "Code value"
              },
              {
                "const": "TMP",
                "title": "Hourly Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "TMN",
                "title": "Daily Minimum Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "TMX",
                "title": "Daily Maximum Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "UUU",
                "title": "Wind Speed (East-West Component)",
                "description": "m/s"
              },
              {
                "const": "VVV",
                "title": "Wind Speed (North-South Component)",
                "description": "m/s"
              },
              {
                "const": "WAV",
                "title": "Wave Height (Wave Height)",
                "description": "M"
              },
              {
                "const": "VEC",
                "title": "Wind Direction",
                "description": "Angle (deg)"
              },
              {
                "const": "VEC",
                "title": "Wind Direction",
                "description": "deg"
              },
              {
                "const": "WSD",
                "title": "Wind Speed",
                "description": "m/s"
              },
              {
                "const": "T1H",
                "title": "Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "T1H",
                "title": "Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "RN1",
                "title": "Hourly Precipitation",
                "description": "mm"
              }
            ],
            "title": "Category",
            "description": "Classification of what each value represents"
          },
          "nx": {
            "type": "number",
            "title": "Longitude"
          },
          "ny": {
            "type": "number",
            "title": "Latitude"
          },
          "obsrValue": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Value corresponding to the category"
          }
        },
        "required": [
          "baseDate",
          "baseTime",
          "category",
          "nx",
          "ny",
          "obsrValue"
        ]
      },
      "IOpenWeather.IResponse": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string",
            "title": "City Name",
            "description": "city name"
          },
          "weather_main": {
            "type": "string",
            "title": "weather information",
            "description": "weather main information"
          },
          "weather_description": {
            "type": "string",
            "title": "weather description",
            "description": "weather description about weather main"
          },
          "temperature": {
            "type": "number",
            "title": "temperature",
            "description": "temperature"
          },
          "feel_like_temperature": {
            "type": "number",
            "title": "feel like temperature",
            "description": "feel like temperature"
          },
          "temperature_min": {
            "type": "number",
            "title": "minimum temperature",
            "description": "minimum temperature"
          },
          "temperature_max": {
            "type": "number",
            "title": "maximum temperature",
            "description": "maximum temperature"
          },
          "wind_speed": {
            "type": "number",
            "title": "wind_speed",
            "description": "wind_speed"
          },
          "humidity": {
            "type": "number",
            "title": "humidity",
            "description": "humidity"
          }
        },
        "required": [
          "city_name",
          "weather_main",
          "weather_description",
          "temperature",
          "feel_like_temperature",
          "temperature_min",
          "temperature_max",
          "wind_speed",
          "humidity"
        ],
        "title": "Get Weather Response"
      },
      "IKoreaMeteorologicalAdministration.IGetVillageForecastInformationInput": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": "latitude_and_longitude",
                "title": "latitude and longitude"
              },
              {
                "const": "grid_coordinates",
                "title": "Grid Coordinates of Korean"
              }
            ],
            "title": "Definition of nx, ny\n\nuse 'latitude_and_longitude' or 'grid_coordinates'.\nThis property can never be used except for these two strings."
          },
          "nx": {
            "type": "number",
            "title": "Longitude or x_position\n\nIf the type property in this object is 'latitude_and_longitude', this value means longitude.\nIf not, use x position value of grid coordinates in Korea."
          },
          "ny": {
            "type": "number",
            "title": "Latitude or y_position\n\nIf the type property in this object is 'latitude_and_longitude', this value means latitude.\nIf not, use y position value of grid coordinates in Korea."
          }
        },
        "required": [
          "type",
          "nx",
          "ny"
        ],
        "title": "Weather query request conditions"
      },
      "KoreaCopyrightCommission.IGetCopyRightOutput": {
        "type": "object",
        "properties": {
          "currentCount": {
            "type": "integer",
            "title": "Current page count"
          },
          "matchCount": {
            "type": "integer",
            "title": "Number of copyrights matching the search criteria"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PickIGetCopyRightInputREG_IDCONT_TITLEAUTHOR_NAMEREG_DATEstringFormatdate"
            },
            "title": "Search Results"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "perPage": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          }
        },
        "required": [
          "currentCount",
          "matchCount",
          "data"
        ],
        "title": "Copyright search results"
      },
      "PickIGetCopyRightInputREG_IDCONT_TITLEAUTHOR_NAMEREG_DATEstringFormatdate": {
        "type": "object",
        "properties": {
          "REG_ID": {
            "type": "string",
            "title": "Copyright registration number",
            "description": "Only copyrights that match exactly are searched."
          },
          "CONT_TITLE": {
            "type": "string",
            "x-wrtn-placeholder": "제호 (명칭)",
            "title": "Title (Name)\n\nTitle refers to the name of the work."
          },
          "AUTHOR_NAME": {
            "type": "string",
            "x-wrtn-placeholder": "저작자 이름",
            "title": "Copyright holder name\n\nThis refers to the name of the copyright holder. It can be a person's name, or the name of a company or specific organization."
          },
          "REG_DATE": {
            "type": "string",
            "format": "date",
            "title": "Copyright registration date"
          }
        },
        "required": [
          "REG_DATE"
        ]
      },
      "KoreaCopyrightCommission.IGetCopyRightInput": {
        "type": "object",
        "properties": {
          "perPage": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "REG_ID": {
            "type": "string",
            "title": "Copyright registration number",
            "description": "Only copyrights that match exactly are searched."
          },
          "CONT_TITLE": {
            "type": "string",
            "x-wrtn-placeholder": "제호 (명칭)",
            "title": "Title (Name)\n\nTitle refers to the name of the work."
          },
          "AUTHOR_NAME": {
            "type": "string",
            "x-wrtn-placeholder": "저작자 이름",
            "title": "Copyright holder name\n\nThis refers to the name of the copyright holder. It can be a person's name, or the name of a company or specific organization."
          }
        },
        "title": "Copyright inquiry conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Open Data"
    }
  ],
  "x-samchon-emended": true
}