{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "통합 공공정보 조회",
    "summary": "다양한 공공 정보를 한 곳에서 확인해요.",
    "description": "기업 주가, 날씨, 건축물 정보, 캠핑장, 약국, 관광지, 주택 가격 등 다양한 공공 데이터를 조회할 수 있어요. 지역별 상세 날씨 정보를 확인하고, 전국의 캠핑장 현황을 파악할 수 있어요. 주변 약국이나 병원 위치를 찾을 수 있고, 관심 있는 지역의 부동산 시세도 확인할 수 있어요. 또한 교통 정보, 환경 정보, 문화 행사 정보 등 일상생활에 유용한 다양한 정보를 얻을 수 있어 편리한 생활을 할 수 있어요.",
    "version": "0.1.189",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/open-data/getAddress": {
      "post": {
        "summary": "대한민국 주소 체계를 조회합니다",
        "description": "대한민국 주소 체계를 조회합니다\n\n- 우편주소를 넣을 경우 지번 주소와 도로명 주소로 변환할 수 있습니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMSIT.IGetAddressInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMSIT.IGetAddressOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcSHRent": {
      "post": {
        "summary": "Retrieve multi-family lease and rental information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves information on single-family homes and multi-family homes for lease or rent.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Query conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information on leases and rents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IgetRTMSDataSvcSHRentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcOffiRent": {
      "post": {
        "summary": "Retrieve officetel lease and rental information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves officetel lease and rent information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Query conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information on leases and rents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcOffiRentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcAptRent": {
      "post": {
        "summary": "Retrieve apartment lease and rental information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves apartment lease and rent information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Query conditions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Information on leases and rents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getLHLeaseInfo": {
      "post": {
        "summary": "Retrieve LH rental housing information",
        "description": "[Korea Land and Housing Corporation] Retrieves information on LH rental housing complexes.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nThe types of houses you can choose from here are one of the following: '국민임대','공공임대','영구임대','행복주택','장기전세','매입임대','전세임대'.\nIn addition, you can inquire by city, county, and region(=시도군)\n\nIn the Korean urban system, inquiries can only be made at the level of '특별시', '광역시', '자치시', '자치도', '도', so if you want to see it in more detail, you should ask the user for pagenation.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying rental housing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ILH.IGetLHLeaseInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "LH rental housing information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ILH.IGetLHLeaseInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getParkingLot": {
      "post": {
        "summary": "Retrieve parking lot information",
        "description": "[National Information Society Agency] Retrieves parking lot information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\nIf you don't know the exact road name(도로명주소) or lot number address(지번주소), you can't search it.\nLook up other public data connectors first or use map connectors to look up the correct address. (ex. kakao-map connector)\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying parking lots",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IPaginationInputPickParkingLotrdnmadr"
                  },
                  {
                    "$ref": "#/components/schemas/IPaginationInputPickParkingLotlnmadr"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Parking lot information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INIA.IGetParkingLotOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getBuildingInfo": {
      "post": {
        "summary": "Retrieve building registration information",
        "description": "[Ministry of Land, Infrastructure and Transport] Retrieves building registration information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nYou need to look up the city, county, and district code first. (POST /connector/open-data/getStandardRegionCodeList connector)\nA connector that looks up the distirct code already exists, so call the preceding connector.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying building information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.GetBuildingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Building information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.GetBuildingInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getStandardRegionCodeList": {
      "post": {
        "summary": "Retrieve administrative standard codes",
        "description": "[Ministry of the Interior and Safety] Retrieves administrative standard codes for domestic regions.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\nPublic data operating in a specific area-based class, such as building ledger information or building lease on a deposit basis information,\nmay all need to know the legal building code and the city, county, and district code (법정동 코드, 시군구 코드를 의미한다.).\nIn this case, this connector call must be preceded.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.\n\nFor the search, you should use the exact name that means the administrative district, just like the \"서울특별시\", not \"서울\".",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying regions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Region codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getStockPriceInfo": {
      "post": {
        "summary": "Retrieve market capitalization and stock information",
        "description": "[Financial Services Commission] Retrieves market capitalization and stock information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nSince this is Korean public data, most searches may have to be done in Korean. for example \"삼성전자\".\nAlso, since this is based on the closing of the stock market, you can only look up from about two months ago (9 days ago) to yesterday from today's date.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying market capitalization",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbasDt(stringPlaceholder...)undefined"
                  },
                  {
                    "$ref": "#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbeginBasDt(stringPlaceholder...)undefinedendBasDt(stringPlaceholder...)undefined"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Market capitalization and stock information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOpenData.FinancialServicesCommission.IGetStockPriceInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getShortTermForecast": {
      "post": {
        "summary": "Retrieve today's weather from the Korea Meteorological Administration",
        "description": "[Korea Meteorological Administration] Retrieves today's weather information.\n\nLatitude and longitude coordinates are required for querying.\nWhen provided, the latitude and longitude will be used to get current weather data based on the 00 minute mark of each hour for that region.\nThe output will be converted from grid coordinates to latitude and longitude, and provide weather-related information such as current weather, wind direction, and wind speed for the region.\nThe currently provided information includes:\n\n- POP: Probability of Precipitation\n- PTY: Precipitation Type\n- PCP: Precipitation Amount in the Last Hour\n- REH: Humidity\n- SNO: Snowfall in the Last Hour\n- SKY: Sky Condition\n- TMP: Temperature in the Last Hour\n- TMN: Daily Minimum Temperature\n- TMX: Daily Maximum Temperature\n- UUU: Wind Speed (East-West Component)\n- VVV: Wind Speed (North-South Component)\n- WAV: Wave Height\n- VEC: Wind Direction\n- WSD: Wind Speed\n- T1H: Temperature\n- RN1: Precipitation Amount in the Last Hour\n- VEC: Wind Direction\n- T1H: Temperature\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nThere are two types in request body.\nOne is 'latitude_and_longitude' and the other is 'grid_coordinates'.\nThis function uses grid coordinate values to express Korean geographical conditions inside,\nso grid coordinates must be entered.\nHowever, grid coordinates also allow for latitude values because it is difficult for users to know their local coordinates. In this case,\nyou must deliver the values of nx and ny together with the values of 'latitude_and_longitude'.\nIf the latitude hardness value is delivered,\nit is converted to grid coordinate value from the inside and used.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "DTO for weather query location",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKoreaMeteorologicalAdministration.IGetVillageForecastInformationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Weather information for the specified region",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IKoreaMeteorologicalAdministration.IGetForecastOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getCopyRight": {
      "post": {
        "summary": "[Copyright Registration Information Service (New)]",
        "description": "[Korea Copyright Commission] Searches for copyright information.\n\nThis Connect is based on data obtained from public data portals in Korea.\nIf you talk about a specific organization here, it is an organization in Korea, and information or deducible facts that data or statistics point to can also be limited to Korea.\n\nSince this is Korean public data, most searches may have to be done in Korean.\nPlease be aware of this.\n\n- 제호(명칭) : 저작물의 명칭을 의미하는 말로, 사용자가 어려워할 수 있기 때문에 쉽게 풀어 말하는 것이 좋습니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for querying copyright",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KoreaCopyrightCommission.IGetCopyRightInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Copyright information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KoreaCopyrightCommission.IGetCopyRightOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IMSIT.IGetAddressOutput": {
        "type": "object",
        "properties": {
          "NewAddressListResponse": {
            "type": "object",
            "properties": {
              "cmmMsgHeader": {
                "type": "object",
                "properties": {
                  "totalCount": {
                    "type": "integer",
                    "title": "totalCount"
                  },
                  "countPerPage": {
                    "type": "integer",
                    "title": "countPerPage"
                  },
                  "totalPage": {
                    "type": "integer",
                    "title": "totalPage"
                  },
                  "errMsg": {
                    "type": "string",
                    "title": "error message"
                  }
                }
              },
              "newAddressListAreaCd": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "zipNo": {
                      "type": "string",
                      "title": "우편 주소"
                    },
                    "lnmAdres": {
                      "type": "string",
                      "title": "지번 주소"
                    },
                    "rnAdres": {
                      "type": "string",
                      "title": "도로명 주소"
                    }
                  },
                  "required": [
                    "zipNo",
                    "lnmAdres",
                    "rnAdres"
                  ]
                },
                "title": "주소 데이터\n\n데이터가 없을 경우에는 키 자체가 존재하지 않기 때문에 이 경우 검색 결과가 없다로 이해하면 됩니다."
              }
            },
            "required": [
              "cmmMsgHeader"
            ],
            "title": "NewAddressListResponse\n\n응답 결과에 대한 헤더 정보가 담기는 구간"
          }
        },
        "required": [
          "NewAddressListResponse"
        ]
      },
      "IMSIT.IGetAddressInput": {
        "type": "object",
        "properties": {
          "srchwrd": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "title": "검색어"
          },
          "countPerPage": {
            "type": "integer",
            "title": "페이지 당 출력 개수"
          },
          "currentPage": {
            "type": "integer",
            "title": "출력될 페이지 번호"
          }
        },
        "required": [
          "srchwrd"
        ]
      },
      "IMOLIT.IgetRTMSDataSvcSHRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIMOLIT.BuildingLentInfoapartmentexclusiveArealotNumberfloor"
            }
          },
          "nextPage": {
            "type": "boolean",
            "title": "nextPage\n\n다음 페이지 존재 여부를 의미"
          }
        },
        "required": [
          "data",
          "nextPage"
        ]
      },
      "StrictOmitIMOLIT.BuildingLentInfoapartmentexclusiveArealotNumberfloor": {
        "type": "object",
        "properties": {
          "useOfRenewalRight": {
            "type": "string",
            "title": "갱신요구권사용"
          },
          "yearOfConstruction": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "건축년도"
          },
          "typeOfContract": {
            "type": "string",
            "title": "계약구분"
          },
          "contractPeriod": {
            "type": "string",
            "title": "계약기간"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "년"
          },
          "legalDistrict": {
            "type": "string",
            "title": "법정동"
          },
          "depositAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "보증금액\n\n한국 돈을 기준으로 하기 때문에 대부분의 경우 만 원 단위일 것"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "월"
          },
          "monthlyRentAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "월세금액\n\n한국 돈을 기준으로 하기 때문에 대부분의 경우 만 원 단위일 것"
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "일"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약보증금"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약월세"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지역코드"
          }
        },
        "required": [
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "depositAmount",
          "month",
          "monthlyRentAmount",
          "day",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "areaCode"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcAptRentInput": {
        "type": "object",
        "properties": {
          "LAWD_CD": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "jmesPath": "rows[].{value:sigunguCd, label:sigunguNm}"
            },
            "title": "시군구 코드"
          },
          "DEAL_YMD": {
            "type": "string",
            "x-wrtn-placeholder": "202201",
            "title": "실거래 자료의 계약년월(6자리)"
          },
          "page": {
            "type": "integer",
            "title": "page"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "title": "limit"
          }
        },
        "required": [
          "LAWD_CD",
          "DEAL_YMD",
          "page",
          "limit"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcOffiRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIMOLIT.BuildingLentInfoapartmentyearOfConstructiondepositAmountmonthlyRentAmount"
            }
          },
          "nextPage": {
            "type": "boolean",
            "title": "nextPage\n\n다음 페이지 존재 여부를 의미"
          }
        },
        "required": [
          "data",
          "nextPage"
        ]
      },
      "StrictOmitIMOLIT.BuildingLentInfoapartmentyearOfConstructiondepositAmountmonthlyRentAmount": {
        "type": "object",
        "properties": {
          "exclusiveArea": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "전용면적"
          },
          "lotNumber": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "지번"
          },
          "floor": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "층"
          },
          "useOfRenewalRight": {
            "type": "string",
            "title": "갱신요구권사용"
          },
          "typeOfContract": {
            "type": "string",
            "title": "계약구분"
          },
          "contractPeriod": {
            "type": "string",
            "title": "계약기간"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "년"
          },
          "legalDistrict": {
            "type": "string",
            "title": "법정동"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "월"
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "일"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약보증금"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약월세"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지역코드"
          }
        },
        "required": [
          "exclusiveArea",
          "lotNumber",
          "floor",
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "month",
          "day",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "areaCode"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcAptRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IMOLIT.BuildingLentInfo"
            }
          },
          "nextPage": {
            "type": "boolean",
            "title": "nextPage\n\n다음 페이지 존재 여부를 의미"
          }
        },
        "required": [
          "data",
          "nextPage"
        ]
      },
      "IMOLIT.BuildingLentInfo": {
        "type": "object",
        "properties": {
          "useOfRenewalRight": {
            "type": "string",
            "title": "갱신요구권사용"
          },
          "yearOfConstruction": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "건축년도"
          },
          "typeOfContract": {
            "type": "string",
            "title": "계약구분"
          },
          "contractPeriod": {
            "type": "string",
            "title": "계약기간"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "년"
          },
          "legalDistrict": {
            "type": "string",
            "title": "법정동"
          },
          "depositAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "보증금액\n\n한국 돈을 기준으로 하기 때문에 대부분의 경우 만 원 단위일 것"
          },
          "apartment": {
            "type": "string",
            "title": "아파트"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "월"
          },
          "monthlyRentAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "월세금액\n\n한국 돈을 기준으로 하기 때문에 대부분의 경우 만 원 단위일 것"
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "일"
          },
          "exclusiveArea": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "전용면적"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약보증금"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약월세"
          },
          "lotNumber": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "지번"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지역코드"
          },
          "floor": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "층"
          }
        },
        "required": [
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "depositAmount",
          "apartment",
          "month",
          "monthlyRentAmount",
          "day",
          "exclusiveArea",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "lotNumber",
          "areaCode",
          "floor"
        ]
      },
      "ILH.IGetLHLeaseInfoOutput": {
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "boolean",
            "title": "다음 페이지 유무"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "SUM_HSH_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "873",
                  "title": "총세대수"
                },
                "RFE": {
                  "type": "string",
                  "x-wrtn-placeholder": "373500",
                  "title": "월임대료(원)"
                },
                "RNUM": {
                  "type": "string",
                  "x-wrtn-placeholder": "1",
                  "title": "순번"
                },
                "HSH_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "72",
                  "title": "세대수"
                },
                "ARA_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "서울특별시 강남구",
                  "title": "지역명"
                },
                "LS_GMY": {
                  "type": "string",
                  "x-wrtn-placeholder": "45003000",
                  "title": "임대보증금"
                },
                "AIS_TP_CD_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "국민임대",
                  "title": "공급유형명"
                },
                "SBD_LGO_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "서울강남 3블록",
                  "title": "단지명"
                },
                "ALL_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "157",
                  "title": "전체건수"
                },
                "DDO_AR": {
                  "type": "string",
                  "x-wrtn-placeholder": "46.71",
                  "title": "전용면적"
                },
                "MVIN_XPC_YM": {
                  "type": "string",
                  "x-wrtn-placeholder": "201311",
                  "title": "최초입주년월"
                }
              },
              "required": [
                "SUM_HSH_CNT",
                "RFE",
                "RNUM",
                "HSH_CNT",
                "ARA_NM",
                "LS_GMY",
                "AIS_TP_CD_NM",
                "SBD_LGO_NM",
                "ALL_CNT",
                "DDO_AR",
                "MVIN_XPC_YM"
              ]
            }
          }
        },
        "required": [
          "nextPage",
          "data"
        ],
        "title": "LH 임대주택 조회 응답"
      },
      "ILH.IGetLHLeaseInfoInput": {
        "type": "object",
        "properties": {
          "CNP_CD": {
            "oneOf": [
              {
                "const": 11,
                "title": "서울특별시"
              },
              {
                "const": 26,
                "title": "부산광역시"
              },
              {
                "const": 27,
                "title": "대구광역시"
              },
              {
                "const": 28,
                "title": "인천광역시"
              },
              {
                "const": 29,
                "title": "광주광역시"
              },
              {
                "const": 30,
                "title": "대전광역시"
              },
              {
                "const": 31,
                "title": "울산광역시"
              },
              {
                "const": 41,
                "title": "경기도"
              },
              {
                "const": 42,
                "title": "강원도"
              },
              {
                "const": 43,
                "title": "충청북도"
              },
              {
                "const": 44,
                "title": "충청남도"
              },
              {
                "const": 45,
                "title": "전라북도"
              },
              {
                "const": 46,
                "title": "전라남도"
              },
              {
                "const": 47,
                "title": "경상북도"
              },
              {
                "const": 48,
                "title": "경상남도"
              },
              {
                "const": 50,
                "title": "제주특별자치도"
              },
              {
                "const": 36110,
                "title": "세종특별자치시"
              }
            ],
            "title": "지역 코드\n\nIt can be one of this numbers:\n- 11: 서울특별시\n- 26: 부산광역시\n- 27: 대구광역시\n- 28: 인천광역시\n- 29: 광주광역시\n- 30: 대전광역시\n- 31: 울산광역시\n- 36110: 세종특별자치시\n- 41: 경기도\n- 42: 강원도\n- 43: 충청북도\n- 44: 충청남도\n- 45: 전라북도\n- 46: 전라남도\n- 47: 경상북도\n- 48: 경상남도\n- 50: 제주특별자치도"
          },
          "SPL_TP_CD": {
            "oneOf": [
              {
                "const": "07",
                "title": "국민임대"
              },
              {
                "const": "08",
                "title": "공공임대"
              },
              {
                "const": "09",
                "title": "영구임대"
              },
              {
                "const": "10",
                "title": "행복주택"
              },
              {
                "const": "11",
                "title": "장기전세"
              },
              {
                "const": "13",
                "title": "매입임대"
              },
              {
                "const": "17",
                "title": "전세임대"
              }
            ],
            "title": "공급유형코드\n\nIt can be one of this numbers:\n- 07: 국민임대\n- 08: 공공임대\n- 09: 영구임대\n- 10: 행복주택\n- 11: 장기전세\n- 13: 매입임대\n- 17: 전세임대"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          }
        },
        "required": [
          "CNP_CD"
        ],
        "title": "LH 임대주택 조회 조건"
      },
      "INIA.IGetParkingLotOutput": {
        "type": "object",
        "properties": {
          "parkingLots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INIA.ParkingLot"
            },
            "title": "주차장 정보"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "totalCount": {
            "type": "number",
            "title": "Total number of records"
          }
        },
        "required": [
          "parkingLots",
          "totalCount"
        ],
        "title": "주차장 조회 응답"
      },
      "INIA.ParkingLot": {
        "type": "object",
        "properties": {
          "prkplceNo": {
            "type": "string",
            "title": "주차장관리번호"
          },
          "prkplceNm": {
            "type": "string",
            "title": "주차장명"
          },
          "prkplceSe": {
            "type": "string",
            "title": "주차장구분"
          },
          "prkplceType": {
            "type": "string",
            "title": "주차장유형"
          },
          "rdnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:road_address_name, label:road_address_name}"
            },
            "title": "도로명 주소 (read name address)"
          },
          "lnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:address_name, label:address_name}"
            },
            "title": "소재지지번주소 (lot number address)"
          },
          "prkcmprt": {
            "type": "string",
            "title": "주차구획수"
          },
          "feedingSe": {
            "type": "string",
            "title": "급지구분"
          },
          "enforceSe": {
            "type": "string",
            "title": "부제시행구분"
          },
          "operDay": {
            "type": "string",
            "title": "운영요일"
          },
          "weekdayOperOpenHhmm": {
            "type": "string",
            "title": "평일운영시작시각"
          },
          "weekdayOperColseHhmm": {
            "type": "string",
            "title": "평일운영종료시각"
          },
          "satOperOperOpenHhmm": {
            "type": "string",
            "title": "토요일운영시작시각"
          },
          "satOperCloseHhmm": {
            "type": "string",
            "title": "토요일운영종료시각"
          },
          "holidayOperOpenHhmm": {
            "type": "string",
            "title": "공휴일운영시작시각"
          },
          "holidayCloseOpenHhmm": {
            "type": "string",
            "title": "공휴일운영종료시각"
          },
          "parkingchrgeInfo": {
            "type": "string",
            "title": "요금정보"
          },
          "basicTime": {
            "type": "string",
            "title": "주차기본시간"
          },
          "basicCharge": {
            "type": "string",
            "title": "주차기본요금"
          },
          "addUnitTime": {
            "type": "string",
            "title": "추가단위시간"
          },
          "addUnitCharge": {
            "type": "string",
            "title": "추가단위요금"
          },
          "dayCmmtktAdjTime": {
            "type": "string",
            "title": "1일주차권요금적용시간"
          },
          "dayCmmtkt": {
            "type": "string",
            "title": "1일주차권요금"
          },
          "monthCmmtkt": {
            "type": "string",
            "title": "월정기권요금"
          },
          "metpay": {
            "type": "string",
            "title": "결제방법"
          },
          "spcmnt": {
            "type": "string",
            "title": "특기사항"
          },
          "institutionNm": {
            "type": "string",
            "title": "관리기관명"
          },
          "phoneNumber": {
            "type": "string",
            "title": "전화번호"
          },
          "latitude": {
            "type": "string",
            "title": "위도"
          },
          "longitude": {
            "type": "string",
            "title": "경도"
          },
          "pwdbsPpkZoneYn": {
            "type": "string",
            "title": "장애인전용주차구역보유여부"
          },
          "referenceDate": {
            "type": "string",
            "title": "데이터기준일자"
          },
          "instt_code": {
            "type": "string",
            "title": "제공기관코드"
          },
          "instt_nm": {
            "type": "string",
            "title": "제공기관기관명"
          }
        }
      },
      "IPaginationInputPickParkingLotrdnmadr": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "rdnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:road_address_name, label:road_address_name}"
            },
            "title": "도로명 주소 (read name address)"
          }
        }
      },
      "IPaginationInputPickParkingLotlnmadr": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "lnmadr": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-map/search",
              "jmesPath": "documents[].{value:address_name, label:address_name}"
            },
            "title": "소재지지번주소 (lot number address)"
          }
        }
      },
      "IMOLIT.GetBuildingInfoOutput": {
        "type": "object",
        "properties": {
          "bulidings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IMOLIT.Building"
            },
            "title": "빌딩 정보 목록"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "totalCount": {
            "type": "number",
            "title": "Total number of records"
          }
        },
        "required": [
          "bulidings",
          "totalCount"
        ],
        "title": "빌딩 조회 응답"
      },
      "IMOLIT.Building": {
        "type": "object",
        "properties": {
          "mainPurpsCdNm": {
            "type": "string",
            "title": "주용도코드명"
          },
          "etcPurps": {
            "type": "string",
            "title": "기타용도"
          },
          "roofCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지붕코드"
          },
          "roofCdNm": {
            "type": "string",
            "title": "지붕코드명"
          },
          "etcRoof": {
            "type": "string",
            "title": "기타지붕"
          },
          "hhldCnt": {
            "type": "number",
            "title": "세대수(세대)"
          },
          "fmlyCnt": {
            "type": "number",
            "title": "가구수(가구)"
          },
          "heit": {
            "type": "number",
            "title": "높이(m)"
          },
          "grndFlrCnt": {
            "type": "number",
            "title": "지상층수"
          },
          "ugrndFlrCnt": {
            "type": "number",
            "title": "지하층수"
          },
          "rideUseElvtCnt": {
            "type": "number",
            "title": "승용승강기수"
          },
          "emgenUseElvtCnt": {
            "type": "number",
            "title": "비상용승강기수"
          },
          "atchBldCnt": {
            "type": "number",
            "title": "부속건축물수"
          },
          "atchBldArea": {
            "type": "number",
            "title": "부속건축물면적(㎡)"
          },
          "totDongTotArea": {
            "type": "number",
            "title": "총동연면적(㎡)"
          },
          "indrMechUtcnt": {
            "type": "number",
            "title": "옥내기계식대수(대)"
          },
          "indrMechArea": {
            "type": "number",
            "title": "옥내기계식면적(㎡)"
          },
          "oudrMechUtcnt": {
            "type": "number",
            "title": "옥외기계식대수(대)"
          },
          "oudrMechArea": {
            "type": "number",
            "title": "옥외기계식면적(㎡)"
          },
          "indrAutoUtcnt": {
            "type": "number",
            "title": "옥내자주식대수(대)"
          },
          "indrAutoArea": {
            "type": "number",
            "title": "옥내자주식면적(㎡)"
          },
          "oudrAutoUtcnt": {
            "type": "number",
            "title": "옥외자주식대수(대)"
          },
          "oudrAutoArea": {
            "type": "number",
            "title": "옥외자주식면적(㎡)"
          },
          "pmsDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가일"
          },
          "stcnsDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "착공일"
          },
          "useAprDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "사용승인일"
          },
          "pmsnoYear": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가번호년"
          },
          "pmsnoKikCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가번호기관코드"
          },
          "pmsnoKikCdNm": {
            "type": "string",
            "title": "허가번호기관코드명"
          },
          "pmsnoGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가번호구분코드"
          },
          "pmsnoGbCdNm": {
            "type": "string",
            "title": "허가번호구분코드명"
          },
          "hoCnt": {
            "type": "number",
            "title": "호수(호)"
          },
          "engrGrade": {
            "type": "string",
            "title": "에너지효율등급"
          },
          "engrRat": {
            "type": "number",
            "title": "에너지절감율"
          },
          "engrEpi": {
            "type": "number",
            "title": "EPI점수"
          },
          "gnBldGrade": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "친환경건축물등급"
          },
          "gnBldCert": {
            "type": "number",
            "title": "친환경건축물인증점수"
          },
          "itgBldGrade": {
            "type": "string",
            "title": "지능형건축물등급"
          },
          "itgBldCert": {
            "type": "number",
            "title": "지능형건축물인증점수"
          },
          "crtnDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "생성일자"
          },
          "rnum": {
            "type": "number",
            "title": "순번"
          },
          "platPlc": {
            "type": "string",
            "title": "대지위치"
          },
          "sigunguCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "시군구코드"
          },
          "bjdongCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "법정동코드"
          },
          "platGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "대지구분코드"
          },
          "bun": {
            "type": "string",
            "title": "번",
            "description": "한국 주소 명칭 중 하나"
          },
          "ji": {
            "type": "string",
            "title": "지",
            "description": "한국 주소 명칭 중 하나"
          },
          "mgmBldrgstPk": {
            "type": "string",
            "title": "관리건축물대장PK"
          },
          "regstrGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "대장구분코드"
          },
          "regstrGbCdNm": {
            "type": "string",
            "title": "대장구분코드명"
          },
          "regstrKindCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "대장종류코드"
          },
          "regstrKindCdNm": {
            "type": "string",
            "title": "대장종류코드명"
          },
          "newPlatPlc": {
            "type": "string",
            "title": "도로명대지위치"
          },
          "bldNm": {
            "type": "string",
            "title": "건물명"
          },
          "splotNm": {
            "type": "string",
            "title": "특수지명"
          },
          "block": {
            "type": "string",
            "title": "블록"
          },
          "lot": {
            "type": "string",
            "title": "로트"
          },
          "bylotCnt": {
            "type": "number",
            "title": "외필지수"
          },
          "naRoadCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "새주소도로코드"
          },
          "naBjdongCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "새주소법정동코드"
          },
          "naUgrndCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "새주소지상지하코드"
          },
          "naMainBun": {
            "type": "number",
            "title": "새주소본번"
          },
          "naSubBun": {
            "type": "number",
            "title": "새주소부번"
          },
          "dongNm": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "동명칭"
          },
          "mainAtchGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "주부속구분코드"
          },
          "mainAtchGbCdNm": {
            "type": "string",
            "title": "주부속구분코드명"
          },
          "platArea": {
            "type": "number",
            "title": "대지면적(㎡)"
          },
          "archArea": {
            "type": "number",
            "title": "건축면적(㎡)"
          },
          "bcRat": {
            "type": "number",
            "title": "건폐율(%)"
          },
          "totArea": {
            "type": "number",
            "title": "연면적(㎡)"
          },
          "vlRatEstmTotArea": {
            "type": "number",
            "title": "용적률산정연면적(㎡)"
          },
          "vlRat": {
            "type": "number",
            "title": "용적률(%)"
          },
          "strctCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "구조코드"
          },
          "strctCdNm": {
            "type": "string",
            "title": "구조코드명"
          },
          "etcStrct": {
            "type": "string",
            "title": "기타구조"
          },
          "mainPurpsCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "주용도코드"
          },
          "rserthqkDsgnApplyYn": {
            "oneOf": [
              {
                "const": 0,
                "title": "미적용"
              },
              {
                "const": 1,
                "title": "적용"
              },
              {
                "const": " ",
                "title": "알 수 없음"
              }
            ],
            "title": "내진설계적용여부"
          },
          "rserthqkAblty": {
            "type": "string",
            "title": "내진능력"
          }
        },
        "required": [
          "crtnDay",
          "platPlc",
          "sigunguCd",
          "bjdongCd",
          "mgmBldrgstPk"
        ]
      },
      "IMOLIT.GetBuildingInfoInput": {
        "type": "object",
        "properties": {
          "sigunguCd": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "jmesPath": "rows[].{value:sigunguCd, label:sigunguNm}"
            },
            "title": "시군구 코드"
          },
          "bjdongCd": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "jmesPath": "rows[].{value:sigunguCd, label:sigunguNm}"
            },
            "title": "법정동 코드"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          }
        },
        "required": [
          "sigunguCd",
          "bjdongCd"
        ],
        "title": "빌딩 조회 조건"
      },
      "IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListOutput": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "region_cd": {
                  "type": "string",
                  "title": "Region code"
                },
                "sido_cd": {
                  "type": "string",
                  "title": "City code"
                },
                "sgg_cd": {
                  "type": "string",
                  "title": "District code"
                },
                "sigunguCd": {
                  "type": "string",
                  "title": "City and District Code",
                  "description": "Combination of city code and district code"
                },
                "sigunguNm": {
                  "type": "string",
                  "title": "District name"
                },
                "umd_cd": {
                  "type": "string",
                  "title": "Town/Village code"
                },
                "ri_cd": {
                  "type": "string",
                  "title": "Ri code"
                },
                "bjdongCd": {
                  "type": "string",
                  "title": "Legal Dong code",
                  "description": "Combination of Town/Village code and Ri code"
                },
                "locatjumin_cd": {
                  "type": "string",
                  "title": "Resident region code"
                },
                "locatjijuk_cd": {
                  "type": "string",
                  "title": "Land region code"
                },
                "locatadd_nm": {
                  "type": "string",
                  "title": "Region address name"
                },
                "locat_order": {
                  "type": "integer",
                  "title": "Sequence"
                },
                "locat_rm": {
                  "type": "string",
                  "title": "Remark"
                },
                "locathigh_cd": {
                  "type": "string",
                  "title": "Parent region code"
                },
                "locallow_nm": {
                  "type": "string",
                  "title": "Lowest region name"
                },
                "adpt_de": {
                  "type": "string",
                  "title": "Date of creation"
                }
              },
              "required": [
                "region_cd",
                "sigunguNm"
              ]
            }
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "totalCount": {
            "type": "number",
            "title": "Total number of records"
          }
        },
        "required": [
          "rows",
          "totalCount"
        ],
        "title": "Result of Administrative Standard Code Lookup"
      },
      "IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListInput": {
        "type": "object",
        "properties": {
          "locatadd_nm": {
            "oneOf": [
              {
                "const": "서울특별시",
                "title": "서울특별시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "부산광역시",
                "title": "부산광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "대구광역시",
                "title": "대구광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "인천광역시",
                "title": "인천광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "광주광역시",
                "title": "광주광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "대전광역시",
                "title": "대전광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "울산광역시",
                "title": "울산광역시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "세종특별자치시",
                "title": "세종특별자치시",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "경기도",
                "title": "경기도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "충청북도",
                "title": "충청북도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "충청남도",
                "title": "충청남도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "경상북도",
                "title": "경상북도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "경상남도",
                "title": "경상남도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "전라남도",
                "title": "전라남도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "제주특별자치도",
                "title": "제주특별자치도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "강원특별자치도",
                "title": "강원특별자치도",
                "x-wrtn-placeholder": "서울특별시"
              },
              {
                "const": "전북특별자치도",
                "title": "전북특별자치도",
                "x-wrtn-placeholder": "서울특별시"
              }
            ],
            "title": "Region address name\nIt must be one of: \"서울특별시\",\"부산광역시\",\"대구광역시\",\"인천광역시\",\"광주광역시\",\"대전광역시\",\"울산광역시\",\"세종특별자치시\",\"경기도\",\"충청북도\",\"충청남도\",\"경상북도\",\"경상남도\",\"전라남도\",\"제주특별자치도\",\"강원특별자치도\",\"전북특별자치도\""
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          }
        },
        "required": [
          "locatadd_nm"
        ],
        "title": "Request for Administrative Standard Code Lookup"
      },
      "IOpenData.FinancialServicesCommission.IGetStockPriceInfoOutput": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "body": {
                "type": "object",
                "properties": {
                  "numOfRows": {
                    "type": "integer",
                    "default": 10,
                    "title": "Number of results per page"
                  },
                  "pageNo": {
                    "type": "integer",
                    "default": 1,
                    "title": "Page number"
                  },
                  "totalCount": {
                    "type": "number",
                    "title": "Total number of records"
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "item": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "basDt": {
                              "type": "string",
                              "x-wrtn-placeholder": "20220919",
                              "title": "Base date"
                            },
                            "srtnCd": {
                              "type": "string",
                              "title": "Short code",
                              "description": "6-digit code shorter than stock code and uniquely guaranteed"
                            },
                            "isinCd": {
                              "type": "string",
                              "title": "ISIN code",
                              "description": "International Securities Identification Number"
                            },
                            "itmsNm": {
                              "type": "string",
                              "title": "Stock name"
                            },
                            "mrktCtg": {
                              "oneOf": [
                                {
                                  "const": "KOSPI",
                                  "title": "KOSPI"
                                },
                                {
                                  "const": "KOSDAQ",
                                  "title": "KOSDAQ"
                                },
                                {
                                  "const": "KONEX",
                                  "title": "KONEX"
                                }
                              ],
                              "title": "Market category"
                            },
                            "clpr": {
                              "type": "string",
                              "title": "Closing price",
                              "description": "Final price formed at the end of regular trading hours"
                            },
                            "vs": {
                              "type": "string",
                              "title": "Change",
                              "description": "Fluctuation compared to the previous day"
                            },
                            "fltRt": {
                              "type": "string",
                              "title": "Rate of change",
                              "description": "Ratio of fluctuation compared to the previous day"
                            },
                            "mkp": {
                              "type": "string",
                              "title": "Opening price",
                              "description": "Initial price formed after opening"
                            },
                            "hipr": {
                              "type": "string",
                              "title": "Highest price",
                              "description": "Highest price during the day"
                            },
                            "lopr": {
                              "type": "string",
                              "title": "Lowest price",
                              "description": "Lowest price during the day"
                            },
                            "trqu": {
                              "type": "string",
                              "title": "Trading volume",
                              "description": "Cumulative total of trade quantities"
                            },
                            "trPrc": {
                              "type": "string",
                              "title": "Trading amount",
                              "description": "Cumulative total of trade prices * quantities"
                            },
                            "lstgStCnt": {
                              "type": "string",
                              "title": "Listed shares"
                            },
                            "mrktTotAmt": {
                              "type": "string",
                              "title": "Market capitalization",
                              "description": "Closing price * listed shares"
                            }
                          },
                          "required": [
                            "basDt",
                            "srtnCd",
                            "isinCd",
                            "itmsNm",
                            "mrktCtg",
                            "clpr",
                            "vs",
                            "fltRt",
                            "mkp",
                            "hipr",
                            "lopr",
                            "trqu",
                            "trPrc",
                            "lstgStCnt",
                            "mrktTotAmt"
                          ]
                        }
                      }
                    },
                    "required": [
                      "item"
                    ],
                    "title": "Retrieved company information"
                  }
                },
                "required": [
                  "numOfRows",
                  "pageNo",
                  "totalCount",
                  "items"
                ]
              }
            },
            "required": [
              "body"
            ]
          }
        },
        "required": [
          "response"
        ],
        "title": "Result of querying market capitalization and stock information"
      },
      "IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbasDt(stringPlaceholder...)undefined": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "likeItmsNm": {
            "type": "string",
            "maxLength": 120,
            "x-wrtn-placeholder": "Samsung Electronics",
            "title": "Keyword for stock name search\n\nSearch is only possible if it matches the exact company name that is listed, which is stored on the Korea Stock Exchange.\nSince it is a Korean company, most of it will be in Korean.\nPlease give Korean company name."
          },
          "basDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "Base date\nSearches for data matching the search value and base date\nYYYYMMDD format date string."
          }
        }
      },
      "IPaginationInputlikeItmsNm(stringMaxLength120PlaceholderSamsungElectronics)undefinedbeginBasDt(stringPlaceholder...)undefinedendBasDt(stringPlaceholder...)undefined": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "Number of results per page"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "Page number"
          },
          "likeItmsNm": {
            "type": "string",
            "maxLength": 120,
            "x-wrtn-placeholder": "Samsung Electronics",
            "title": "Keyword for stock name search\n\nSearch is only possible if it matches the exact company name that is listed, which is stored on the Korea Stock Exchange.\nSince it is a Korean company, most of it will be in Korean.\nPlease give Korean company name."
          },
          "beginBasDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "Start date (inclusive)\nSearches for data where the base date is greater than or equal to the search value\nYYYYMMDD format date string."
          },
          "endBasDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "End date (exclusive)\nSearches for data where the base date is less than the search value\nYYYYMMDD format date string."
          }
        }
      },
      "IKoreaMeteorologicalAdministration.IGetForecastOutput": {
        "type": "object",
        "properties": {
          "baseDate": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Date value composed of year, month, and day, e.g., `20240619`."
          },
          "baseTime": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Time value indicating the exact hour, e.g., `1200`."
          },
          "category": {
            "oneOf": [
              {
                "const": "POP",
                "title": "Precipitation Probability",
                "description": "Unit is %"
              },
              {
                "const": "PTY",
                "title": "Precipitation Type",
                "description": "Code value"
              },
              {
                "const": "PCP",
                "title": "Hourly Precipitation",
                "description": "Category (1mm)"
              },
              {
                "const": "REH",
                "title": "Humidity",
                "description": "Unit is %"
              },
              {
                "const": "SNO",
                "title": "Hourly Snowfall",
                "description": "Category (1cm)"
              },
              {
                "const": "SKY",
                "title": "Sky Condition",
                "description": "Code value"
              },
              {
                "const": "TMP",
                "title": "Hourly Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "TMN",
                "title": "Daily Minimum Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "TMX",
                "title": "Daily Maximum Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "UUU",
                "title": "Wind Speed (East-West Component)",
                "description": "m/s"
              },
              {
                "const": "VVV",
                "title": "Wind Speed (North-South Component)",
                "description": "m/s"
              },
              {
                "const": "WAV",
                "title": "Wave Height (Wave Height)",
                "description": "M"
              },
              {
                "const": "VEC",
                "title": "Wind Direction",
                "description": "Angle (deg)"
              },
              {
                "const": "VEC",
                "title": "Wind Direction",
                "description": "deg"
              },
              {
                "const": "WSD",
                "title": "Wind Speed",
                "description": "m/s"
              },
              {
                "const": "T1H",
                "title": "Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "T1H",
                "title": "Temperature",
                "description": "Celsius temperature"
              },
              {
                "const": "RN1",
                "title": "Hourly Precipitation",
                "description": "mm"
              }
            ],
            "title": "Category",
            "description": "Classification of what each value represents"
          },
          "nx": {
            "type": "number",
            "title": "Longitude"
          },
          "ny": {
            "type": "number",
            "title": "Latitude"
          },
          "obsrValue": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Value corresponding to the category"
          }
        },
        "required": [
          "baseDate",
          "baseTime",
          "category",
          "nx",
          "ny",
          "obsrValue"
        ],
        "title": "Weather query result",
        "description": "Processed results"
      },
      "IKoreaMeteorologicalAdministration.IGetVillageForecastInformationInput": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": "latitude_and_longitude",
                "title": "latitude and longitude"
              },
              {
                "const": "grid_coordinates",
                "title": "Grid Coordinates of Korean"
              }
            ],
            "title": "Definition of nx, ny\n\nuse 'latitude_and_longitude' or 'grid_coordinates'.\nThis property can never be used except for these two strings."
          },
          "nx": {
            "type": "number",
            "title": "Longitude or x_position\n\nIf the type property in this object is 'latitude_and_longitude', this value means longitude.\nIf not, use x position value of grid coordinates in Korea."
          },
          "ny": {
            "type": "number",
            "title": "Latitude or y_position\n\nIf the type property in this object is 'latitude_and_longitude', this value means latitude.\nIf not, use y position value of grid coordinates in Korea."
          }
        },
        "required": [
          "type",
          "nx",
          "ny"
        ],
        "title": "Weather query request conditions"
      },
      "KoreaCopyrightCommission.IGetCopyRightOutput": {
        "type": "object",
        "properties": {
          "currentCount": {
            "type": "integer",
            "title": "현재 페이지 개수"
          },
          "matchCount": {
            "type": "integer",
            "title": "검색 조건에 일치하는 저작권 수"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PickIGetCopyRightInputREG_IDCONT_TITLEAUTHOR_NAMEREG_DATEstringFormatdate"
            },
            "title": "검색 결과"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "perPage": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          }
        },
        "required": [
          "currentCount",
          "matchCount",
          "data"
        ],
        "title": "저작권 조회 결과"
      },
      "PickIGetCopyRightInputREG_IDCONT_TITLEAUTHOR_NAMEREG_DATEstringFormatdate": {
        "type": "object",
        "properties": {
          "REG_ID": {
            "type": "string",
            "title": "저작권 등록번호",
            "description": "완전일치하는 저작권만 조회된다."
          },
          "CONT_TITLE": {
            "type": "string",
            "x-wrtn-placeholder": "제호 (명칭)",
            "title": "제호(명칭)\n\n제호란 저작물의 명칭을 의미하는 말입니다."
          },
          "AUTHOR_NAME": {
            "type": "string",
            "x-wrtn-placeholder": "저작자 이름",
            "title": "저작권자 이름\n\n이는 저작권자의 이름을 의미합니다. 사람의 이름일 수도 있고 기업이나 특정 단체의 이름일 수도 있습니다."
          },
          "REG_DATE": {
            "type": "string",
            "format": "date",
            "title": "저작권 등록일"
          }
        },
        "required": [
          "REG_DATE"
        ]
      },
      "KoreaCopyrightCommission.IGetCopyRightInput": {
        "type": "object",
        "properties": {
          "perPage": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "REG_ID": {
            "type": "string",
            "title": "저작권 등록번호",
            "description": "완전일치하는 저작권만 조회된다."
          },
          "CONT_TITLE": {
            "type": "string",
            "x-wrtn-placeholder": "제호 (명칭)",
            "title": "제호(명칭)\n\n제호란 저작물의 명칭을 의미하는 말입니다."
          },
          "AUTHOR_NAME": {
            "type": "string",
            "x-wrtn-placeholder": "저작자 이름",
            "title": "저작권자 이름\n\n이는 저작권자의 이름을 의미합니다. 사람의 이름일 수도 있고 기업이나 특정 단체의 이름일 수도 있습니다."
          }
        },
        "title": "저작권 조회 조건"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}