{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "프롬프트",
    "description": "",
    "version": "0.1.115",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/prompt/generate": {
      "post": {
        "summary": "프롬프트 노드",
        "description": "LLM에게 지시할 요청사항을 입력합니다.",
        "tags": [
          "프롬프트 노드"
        ],
        "parameters": [],
        "requestBody": {
          "description": "유저의 프롬프트 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPrompt.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "프롬프트를 통한 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPrompt.IResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Prompt_prompt_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IPrompt.IResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "title": "입력된 프롬프트를 통해 받은 결과"
          }
        },
        "required": [
          "result"
        ],
        "title": "프롬프트를 통해 받은 결과"
      },
      "IPrompt.IRequest": {
        "type": "object",
        "properties": {
          "user_request": {
            "type": "string",
            "x-wrtn-placeholder": "제품 이름과 제품 특징을 참고해서 광고 문구를 기발하고 유머러스하게 만들어주세요.",
            "title": "유저 요청 사항"
          },
          "system_prompt": {
            "type": "string",
            "x-wrtn-placeholder": "친절한 어투로 말해주세요.",
            "title": "시스템 프롬프트"
          }
        },
        "required": [
          "user_request"
        ],
        "title": "프롬프트 입력"
      }
    }
  },
  "tags": [
    {
      "name": "프롬프트 노드"
    }
  ],
  "x-samchon-emended": true
}