{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "프롬프트",
    "description": "",
    "version": "0.1.419",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/prompt/generate": {
      "post": {
        "summary": "prompt node",
        "description": "Enter the request you want to give to LLM",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "user's prompt",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPrompt.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "response via prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPrompt.IResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Prompt_prompt_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IPrompt.IResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "title": "Result received through input prompt"
          }
        },
        "required": [
          "result"
        ],
        "title": "prompt output",
        "description": "Results received via prompt"
      },
      "IPrompt.IRequest": {
        "type": "object",
        "properties": {
          "user_request": {
            "type": "string",
            "example": "Create a catchy and humorous advertising slogan based on the product name and features.",
            "title": "User Request",
            "description": "The primary task or request for the AI model. This field is mandatory."
          },
          "system_prompt": {
            "type": "string",
            "example": "The advertising slogan should be friendly in tone and concise.",
            "title": "System Prompt",
            "description": "Optional instructions or guidelines for the AI model. The system prompt provides more granular control over the model's behavior than the user request.\nAI model should follow the instructions or additional information provided."
          },
          "data": {
            "title": "Additional Data",
            "description": "Additional context or data to be used by the AI model. This can include product information, user data, or any other relevant details.\nYou can provide data in various formats such as objects, arrays, etc."
          }
        },
        "required": [
          "user_request"
        ],
        "title": "prompt input"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}