{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "프롬프트",
    "description": "",
    "version": "0.1.347",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/prompt/generate": {
      "post": {
        "summary": "prompt node",
        "description": "Enter the request you want to give to LLM",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "user's prompt",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPrompt.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "response via prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPrompt.IResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Prompt_prompt_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IPrompt.IResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "title": "Result received through input prompt"
          }
        },
        "required": [
          "result"
        ],
        "title": "prompt",
        "description": "Results received via"
      },
      "IPrompt.IRequest": {
        "type": "object",
        "properties": {
          "user_request": {
            "type": "string",
            "x-wrtn-placeholder": "제품 이름과 제품 특징을 참고해서 광고 문구를 기발하고 유머러스하게 만들어주세요.",
            "title": "User Request"
          },
          "system_prompt": {
            "type": "string",
            "x-wrtn-placeholder": "친절한 어투로 말해주세요.",
            "title": "System Prompt"
          }
        },
        "required": [
          "user_request"
        ],
        "title": "prompt input"
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}