{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "RAG",
    "version": "0.1.56",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/rag/analyze": {
      "post": {
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": "분석할 파일 정보.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IRag.IAnalyzeInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "summary": "RAG 분석 요청.",
        "description": "입력된 파일에 대해 RAG 분석을 요청합니다.\n\n여러 개의 연구논문을 비교하는 챗봇을 제작할 때 사용될 수 있는 커넥터 입니다."
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "RAG 기반 결과물 생성",
        "description": "RAG 분석을 기반으로 요청받은 결과물을 생성합니다.\n\n여러 개의 연구논문을 비교하는 챗봇을 통해 유저가 질문한 내용에 대한 답변을 생성할 때 사용될 수 있는 커넥터 입니다."
      }
    }
  },
  "components": {
    "schemas": {
      "IRag.IAnalyzeInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.hancom.hwp, text/plain, text/html",
            "title": "파일 또는 링크",
            "description": "분석할 파일 또는 링크"
          }
        },
        "required": [
          "url"
        ],
        "title": "RAG 분석을 위해 필요한 정보"
      },
      "IRag.IAnalysisOutput": {
        "type": "object",
        "properties": {
          "chatId": {
            "type": "string",
            "title": "chat id.",
            "description": "RAG 생성 결과물에 필요한 chat id.\nRAG로 분석된 파일에 대해 채팅 결과물을 생성하기 위해 분석된 파일에 대한 chat id를 반환합니다.\n여러 개의 파일을 분석시키고 같은 채팅에서 여러 파일에 대한 결과물을 생성하기 위해서는 같은 chat id가 필요합니다."
          }
        },
        "required": [
          "chatId"
        ],
        "title": "RAG 분석 결과물"
      },
      "IRag.IGenerateInput": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "title": "유저 발화.",
            "description": "유저의 발화입니다."
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRag.IHistory"
            },
            "title": "이전 발화 내역.",
            "description": "이전 발화 내역입니다."
          }
        },
        "required": [
          "query"
        ],
        "title": "RAG를 통한 채팅을 위해 필요한 정보"
      },
      "IRag.IHistory": {
        "type": "object",
        "properties": {
          "role": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "assistant"
              }
            ],
            "title": "발화자 역할.",
            "description": "발화자의 역할입니다."
          },
          "text": {
            "type": "string",
            "title": "발화 내용.",
            "description": "발화 내용입니다."
          }
        },
        "required": [
          "role",
          "text"
        ],
        "title": "이전 발화 내역"
      },
      "IRag.IGenerateOutput": {
        "type": "object",
        "properties": {
          "answer": {
            "type": "string",
            "title": "발화에 대한 응답.",
            "description": "RAG 기반 생성 요청에 대한 응답입니다."
          }
        },
        "required": [
          "answer"
        ],
        "title": "RAG를 통한 채팅 결과"
      }
    }
  },
  "tags": [
    {
      "name": "RAG"
    }
  ],
  "x-samchon-emended": true
}