{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Slack",
    "description": "슬랙에서 대화 내용을 가져오거나 메시지를 보낼 수 있어요.",
    "version": "0.1.266",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/slack/interactivity": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.InteractiveComponentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "array of slack block types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/connector/slack/vote": {
      "post": {
        "summary": "Send Slack Custom Template Messages for Voting",
        "description": "Send Slack Custom Template Messages for Voting",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IHoldVoteInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISlack.IHoldVoteOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/slack/conversation/mark": {
      "post": {
        "summary": "Marks a specific message in a Slack channel as read",
        "description": "Marks a specific message in a Slack channel as read\n\nYou need to know both the channel ID and the ts value of the message.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IMarkInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/scheduleMessage/text": {
      "post": {
        "description": "Create a schduled message\n\nBy default,\nit is not much different from sending a message except for specifying a schduled time,\nand requires a channel ID and message content.\nIf the message you want to schedule is within a specific thread, you must pass the ts value of the parent message.\n\nMessages booked through this feature are not visible in the Slack desktop app and can only be canceled through the API.\nTherefore, be careful in writing messages.\nIf you want to cancel, please refer to the message created through another connector and call the delete connector again.\n\nUsers may be embarrassed if the message you booked is not viewed in the Slack desktop app,\nso although it cannot be viewed before and after transmission,\nit would be a good idea to let them know that it will actually be transmitted in our service.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.ISCheduleMessageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "scheduled message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPickISlack.ScheduledMessagepost_at"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/scheduleMessage": {
      "delete": {
        "summary": "Delete the scheduled message",
        "description": "Delete the scheduled message\n\nTo clear a scheduled message,\nyou must get the exact id of that message, so you must first use the scheduled message lookup connector.\nWhen using this connector,\nthe ID of the channel is also required, which can be retrieved from the message object by querying the channel or by querying the scheduled message.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IDeleteSCheduleMessageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/postMessage/text/myself": {
      "post": {
        "summary": "post text message to myself",
        "description": "send message to myself\n\nHere, you can send a message as long as you have the message.\nThis feature identifies who the token's users are inside and sends a message to themselves.\nTherefore, even if you don't specify a channel,\nyou send a message to the `im` channel that corresponds to your own user id.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IPostMessageToMyselfInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPickISlack.Messagets"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/postMessage/reply": {
      "post": {
        "summary": "post reply message to thread",
        "description": "send reply message to thread\n\nCreates a reply.\nTo reply, you must first look up the thread.\nYou can look up the thread and pass on the 'ts' value of that thread.\nYou still need the channel's ID here.\nThe channel's ID will start with a C or D and be an unknown string,\nnot a natural language name recognized by the user.\nTherefore, if you don't know the channel ID, you should also look up the channel.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IPostMessageReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPickISlack.Messagets"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/postMessage/text": {
      "post": {
        "summary": "post text message",
        "description": "send message to channel\n\nHere, you can send a message as long as you have the message and channel information you want to send.\nSlack is a very close service to work, so it's dangerous to send messages that haven't been confirmed.\nYou must send the contents after receiving confirmation from the user.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IPostMessageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPickISlack.Messagets"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-scheduled-messages": {
      "post": {
        "summary": "Get a list of scheduled messages",
        "description": "Get a list of scheduled messages\n\nLook up the messages you booked.\nYou can use `post_at` and `post_at_date` to find out when the message will be sent.\nIf you want to clear the message, use the `id` value in the scheduled message.\n\nIf a user wants to send a reservation message to himself,\nhe or she should look up both the user and the 'im' channel, then find the 'im' channel with his or her user ID and send it to that channel.\nWhat is on the 'im' channel includes not only the user's own channel, but also all the channels that can send and receive direct messages for each user.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetScheduledMessageListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISlack.IGetScheduledMessageListOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/slack/get-user-details": {
      "post": {
        "summary": "Inquire user details",
        "description": "Inquire user details\n\nInquire the user's detailed profile to acquire information such as phone number, email, and position.\nIt cannot be verified if the user has not filled in.\nThis function receives the user's ID in an array and inquires at once.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetUserDetailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ISlack.IGetUserDetailOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-users": {
      "post": {
        "summary": "Look up the list of users",
        "description": "Look up the list of users.\n\nUsers include bots and refer to all users in the team who are looking up.\nHere, you can look up the user's ID and name, the name the user wanted to display, the profile image, and whether the user has been deleted.\nIf you look up the user here, you can send a message to your colleagues on a specific direct channel, such as an `im` ( = channel type. )\n\nThis connector is essential because the `im` channel query only shows the user's ID and does not know who the direct channel is talking to.\n\nThe user has a separate display name.\nA display name is a name that the user has chosen to show.\nTherefore, it would be best to use this name as a courtesy.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetUserListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISlack.IGetUserListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-replies": {
      "post": {
        "description": "Inquire the inside of the thread in History\n\nIf you have inquired the history of a channel,\nyou can use the 'ts' values of its history elements to query the internal thread for each history again.\nEach channel history has a number of replies, so if this number is more than 1, it is worth looking up.\n'Reply' is basically no different from the 'Message'(=Channel History).",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Replies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISlack.IGetReplyOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-channel-link-histories": {
      "post": {
        "summary": "get links from channel histories",
        "description": "get channel links from channel histories\n\nLook up conversations that have been made in and out of the channel.\n\nThe 'channel' received as a factor means the channel's ID and is a character string that begins with a capital 'C', 'D' and so on.\nTherefore, if the user does not hand over the ID when looking for the conversation history of the channel,\nit is prioritized to find the channel ID.\nUsually, users don't know their channel ID.\nTherefore, most users will ask for a channel by its name or with only the keywords they remember.\nTherefore, unless it's an unknown string and begins with a 'C' or 'D' uppercase letter, look for the channel first.\n\nWhen you look up a conversation,\nyou can search only after a specific time or before a specific time in order to look up the time zone of the conversation you want to search for.\n\nMessages without links are removed, leaving only messages with links.\nThis is because it only leaves messages with links as connectors to find links in conversations.\nLinks are arranged in links properties.\n\nIf you want to filter by date, prioritize using the datetime format.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetChannelHistoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISlack.IGetChannelLinkHistoryOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-channel-histories": {
      "post": {
        "summary": "get channel histories",
        "description": "get channel histories\n\nLook up conversations that have been made in and out of the channel.\n\nThe 'channel' received as a factor means the channel's ID and is a character string that begins with a capital 'C', 'D' and so on.\nTherefore, if the user does not hand over the ID when looking for the conversation history of the channel,\nit is prioritized to find the channel ID.\nUsually, users don't know their channel ID.\nTherefore, most users will ask for a channel by its name or with only the keywords they remember.\nTherefore, unless it's an unknown string and begins with a 'C' or 'D' uppercase letter, look for the channel first.\n\nWhen you look up a conversation,\nyou can search only after a specific time or before a specific time in order to look up the time zone of the conversation you want to search for.\n\nIn the conversation history, the link and code box are abbreviated to <LINK/> and <CODE/>, respectively.\nFor users, it is replaced by a user name, Like <@USERNAME>.\n<@USERNAME> is about calling someone else, and it's not the name of the person who started the conversation, so be careful.\n\nIf you want to filter by date, prioritize using the datetime format.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetChannelHistoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "channel histories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISlack.IGetChannelHistoryOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-private-channels": {
      "post": {
        "summary": "get private channels",
        "description": "get private channels\n\nView channels.\nThis connector will only look up its own `private` channel.\nThe channel ID is required to look up the conversation history within the channel later.\n`private` channel is a locked channel that can only be viewed by those invited to the channel.\n\nIf you can't find the channel ID by name, it might be because it's on the next page, not because you don't have a channel.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetChannelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "private channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ISlack.PrivateChannel"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-public-channels": {
      "post": {
        "summary": "get public channels",
        "description": "get public channels\n\nView channels.\nThis connector will only look up its own `public` channel.\nThe channel ID is required to look up the conversation history within the channel later.\nThe `public` channel is anyone's accessible.\nThis does not require an invitation process, and users can join the channel themselves if necessary.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetChannelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "public channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ISlack.PublicChannel"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-im-channels": {
      "post": {
        "summary": "get im channels",
        "description": "get im channels\n\nView channels.\nThis connector will only look up its own `im` channel.\nThe channel ID is required to look up the conversation history within the channel later.\n`im` channel is a conversation that takes place in one's profile and refers to a personal channel that can only be viewed by oneself.\nUsers also use chat as storage or notepad, such as storing files and images here.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetChannelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "im channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ISlack.ImChannel"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    },
    "/connector/slack/get-files": {
      "post": {
        "summary": "get files in workspace",
        "description": "get files in workspace\n\nYou can look up Slack workspace and channels, or all files sent from users.\nIt is pagenation and can filter by file type, and also provides thumbnail links, download links, and original message links.",
        "tags": [
          "Slack"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISlack.IGetFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISlack.IGetFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Slack_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "ISlack.InteractiveComponentInput": {
        "type": "object",
        "properties": {
          "payload": {
            "$ref": "#/components/schemas/ISlack.InteractiveComponent"
          }
        },
        "required": [
          "payload"
        ]
      },
      "ISlack.InteractiveComponent": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "const": "block_actions"
              },
              {
                "const": "interactive_message"
              }
            ],
            "title": "Helps identify which type of interactive component sent the payload",
            "description": "Helps identify which type of interactive component sent the payload.\nExample: 'block_actions' for block interactions or 'interactive_message' for message attachments."
          },
          "trigger_id": {
            "type": "string",
            "title": "A short-lived ID that can be used to open modals",
            "description": "A short-lived ID that can be used to open modals."
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "team_id": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "username",
              "team_id"
            ],
            "title": "The user who interacted to trigger this request",
            "description": "The user who interacted to trigger this request."
          },
          "team": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "domain"
                ]
              }
            ],
            "title": "The workspace the app is installed on. Null if the app is org-installed",
            "description": "The workspace the app is installed on. Null if the app is org-installed."
          },
          "container": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message_ts": {
                "type": "string"
              },
              "channel_id": {
                "type": "string"
              },
              "is_ephemeral": {
                "type": "boolean"
              }
            },
            "required": [
              "type"
            ],
            "title": "The container where this block action took place",
            "description": "The container where this block action took place."
          },
          "api_app_id": {
            "type": "string",
            "title": "A string representing the app ID",
            "description": "A string representing the app ID."
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "block_id": {
                  "type": "string"
                },
                "action_id": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "block_id",
                "action_id",
                "value"
              ]
            },
            "title": "Contains data from the specific interactive component that was used",
            "description": "Contains data from the specific interactive component that was used."
          },
          "token": {
            "type": "string",
            "title": "Represents a deprecated verification token feature. Use signing secret for validation instead",
            "description": "Represents a deprecated verification token feature. Use signing secret for validation instead."
          },
          "hash": {
            "type": "string",
            "title": "A unique value optionally used to ensure the correct view is updated",
            "description": "A unique value optionally used to ensure the correct view is updated."
          },
          "function_data": {
            "$ref": "#/components/schemas/Recordstringunknown",
            "title": "Metadata about the function execution that generated the block where this block action took place",
            "description": "Metadata about the function execution that generated the block where this block action took place."
          },
          "interactivity": {
            "$ref": "#/components/schemas/Recordstringunknown",
            "title": "An interactivity object generated as a result of the block action",
            "description": "An interactivity object generated as a result of the block action."
          },
          "bot_access_token": {
            "type": "string",
            "title": "A workflow (just-in-time) token generated for this block action",
            "description": "A workflow (just-in-time) token generated for this block action."
          },
          "enterprise": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              }
            ],
            "title": "The enterprise the installed app is part of, if the app is workspace-installed or org-installed. Null otherwise",
            "description": "The enterprise the installed app is part of, if the app is workspace-installed or org-installed. Null otherwise."
          },
          "channel": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              }
            ],
            "title": "The channel where this block action took place, if applicable",
            "description": "The channel where this block action took place, if applicable."
          },
          "message": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  },
                  "ts": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "blocks": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Block"
                        },
                        {
                          "$ref": "#/components/schemas/typeimagealt_textstringtitlePlainTextElementundefinedBlockUrlImageObject"
                        },
                        {
                          "$ref": "#/components/schemas/typeimagealt_textstringtitlePlainTextElementundefinedBlockSlackFileImageObject"
                        },
                        {
                          "$ref": "#/components/schemas/ContextBlock"
                        },
                        {
                          "$ref": "#/components/schemas/ActionsBlock"
                        },
                        {
                          "$ref": "#/components/schemas/DividerBlock"
                        },
                        {
                          "$ref": "#/components/schemas/SectionBlock"
                        },
                        {
                          "$ref": "#/components/schemas/InputBlock"
                        },
                        {
                          "$ref": "#/components/schemas/FileBlock"
                        },
                        {
                          "$ref": "#/components/schemas/HeaderBlock"
                        },
                        {
                          "$ref": "#/components/schemas/VideoBlock"
                        },
                        {
                          "$ref": "#/components/schemas/RichTextBlock"
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "type",
                  "user",
                  "ts",
                  "text"
                ]
              }
            ],
            "title": "The message where this block action took place, if applicable",
            "description": "The message where this block action took place, if applicable."
          },
          "view": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "hash": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "type",
                  "hash"
                ]
              }
            ],
            "title": "The view where this block action took place, if applicable",
            "description": "The view where this block action took place, if applicable."
          },
          "state": {
            "$ref": "#/components/schemas/Recordstringany",
            "title": "A property including all stateful elements, not just input blocks",
            "description": "A property including all stateful elements, not just input blocks."
          },
          "response_url": {
            "type": "string",
            "title": "A short-lived webhook that can be used to send messages in response to interactions. Deprecated for workflow apps",
            "description": "A short-lived webhook that can be used to send messages in response to interactions. Deprecated for workflow apps."
          }
        },
        "required": [
          "type",
          "trigger_id",
          "user",
          "team",
          "container",
          "api_app_id",
          "actions",
          "token"
        ]
      },
      "Recordstringunknown": {
        "type": "object",
        "properties": {},
        "description": "Construct a type with a set of properties K of type T",
        "additionalProperties": {}
      },
      "Block": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of block."
          },
          "block_id": {
            "type": "string",
            "description": "A string acting as a unique identifier for a block. If not specified, a `block_id` will be generated.\nYou can use this `block_id` when you receive an interaction payload to\n"
          }
        },
        "required": [
          "type"
        ]
      },
      "typeimagealt_textstringtitlePlainTextElementundefinedBlockUrlImageObject": {
        "type": "object",
        "properties": {
          "type": {
            "const": "image",
            "description": "The type of block. For an image block, `type` is always `image`."
          },
          "alt_text": {
            "type": "string",
            "description": "A plain-text summary of the image. This should not contain any markup.\nMaximum length for this field is 2000 characters."
          },
          "title": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "An optional title for the image in the form of a "
          },
          "block_id": {
            "type": "string",
            "description": "A string acting as a unique identifier for a block. If not specified, a `block_id` will be generated.\nYou can use this `block_id` when you receive an interaction payload to\n"
          },
          "image_url": {
            "type": "string",
            "description": "The URL of the image to be displayed."
          }
        },
        "required": [
          "type",
          "alt_text",
          "image_url"
        ]
      },
      "PlainTextElement": {
        "type": "object",
        "properties": {
          "type": {
            "const": "plain_text",
            "description": "The formatting to use for this text object."
          },
          "text": {
            "type": "string",
            "description": "The text for the block. The minimum length is 1 and maximum length is 3000 characters."
          },
          "emoji": {
            "type": "boolean",
            "description": "Indicates whether emojis in a text field should be escaped into the colon emoji format."
          }
        },
        "required": [
          "type",
          "text"
        ],
        "description": "Defines an object containing some text."
      },
      "typeimagealt_textstringtitlePlainTextElementundefinedBlockSlackFileImageObject": {
        "type": "object",
        "properties": {
          "type": {
            "const": "image",
            "description": "The type of block. For an image block, `type` is always `image`."
          },
          "alt_text": {
            "type": "string",
            "description": "A plain-text summary of the image. This should not contain any markup.\nMaximum length for this field is 2000 characters."
          },
          "title": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "An optional title for the image in the form of a "
          },
          "block_id": {
            "type": "string",
            "description": "A string acting as a unique identifier for a block. If not specified, a `block_id` will be generated.\nYou can use this `block_id` when you receive an interaction payload to\n"
          },
          "slack_file": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SlackFileViaUrl"
              },
              {
                "$ref": "#/components/schemas/SlackFileViaId"
              }
            ],
            "description": "The slack file of the image to be displayed."
          }
        },
        "required": [
          "type",
          "alt_text",
          "slack_file"
        ]
      },
      "SlackFileViaUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "This URL can be the `url_private` or the `permalink` of the "
          }
        },
        "required": [
          "url"
        ]
      },
      "SlackFileViaId": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "`id` of the "
          }
        },
        "required": [
          "id"
        ]
      },
      "ContextBlock": {
        "type": "object",
        "properties": {
          "type": {
            "const": "context",
            "description": "The type of block. For a context block, `type` is always `context`."
          },
          "elements": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/typeimagealt_textstringUrlImageObject"
                },
                {
                  "$ref": "#/components/schemas/typeimagealt_textstringSlackFileImageObject"
                },
                {
                  "$ref": "#/components/schemas/PlainTextElement"
                },
                {
                  "$ref": "#/components/schemas/MrkdwnElement"
                }
              ]
            },
            "description": "An array of "
          },
          "block_id": {
            "type": "string",
            "description": "A string acting as a unique identifier for a block. If not specified, a `block_id` will be generated.\nYou can use this `block_id` when you receive an interaction payload to\n"
          }
        },
        "required": [
          "type",
          "elements"
        ],
        "description": "Displays contextual info, which can include both images and text."
      },
      "typeimagealt_textstringUrlImageObject": {
        "type": "object",
        "properties": {
          "type": {
            "const": "image",
            "description": "The type of element. In this case `type` is always `image`."
          },
          "alt_text": {
            "type": "string",
            "description": "A plain-text summary of the image. This should not contain any markup."
          },
          "image_url": {
            "type": "string",
            "description": "The URL of the image to be displayed."
          }
        },
        "required": [
          "type",
          "alt_text",
          "image_url"
        ]
      },
      "typeimagealt_textstringSlackFileImageObject": {
        "type": "object",
        "properties": {
          "type": {
            "const": "image",
            "description": "The type of element. In this case `type` is always `image`."
          },
          "alt_text": {
            "type": "string",
            "description": "A plain-text summary of the image. This should not contain any markup."
          },
          "slack_file": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SlackFileViaUrl"
              },
              {
                "$ref": "#/components/schemas/SlackFileViaId"
              }
            ],
            "description": "The slack file of the image to be displayed."
          }
        },
        "required": [
          "type",
          "alt_text",
          "slack_file"
        ]
      },
      "MrkdwnElement": {
        "type": "object",
        "properties": {
          "type": {
            "const": "mrkdwn",
            "description": "The formatting to use for this text object."
          },
          "text": {
            "type": "string",
            "description": "The text for the block. This field accepts any of the standard text formatting markup.\nThe minimum length is 1 and maximum length is 3000 characters."
          },
          "verbatim": {
            "type": "boolean",
            "description": "When set to `false` (as is default) URLs will be auto-converted into links, conversation names will\nbe link-ified, and certain mentions will be "
          }
        },
        "required": [
          "type",
          "text"
        ],
        "description": "Defines an object containing some text."
      },
      "ActionsBlock": {
        "type": "object",
        "properties": {
          "type": {
            "const": "actions",
            "description": "The type of block. For an actions block, `type` is always `actions`."
          },
          "elements": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Button"
                },
                {
                  "$ref": "#/components/schemas/Checkboxes"
                },
                {
                  "$ref": "#/components/schemas/Datepicker"
                },
                {
                  "$ref": "#/components/schemas/DateTimepicker"
                },
                {
                  "$ref": "#/components/schemas/MultiUsersSelect"
                },
                {
                  "$ref": "#/components/schemas/MultiStaticSelect"
                },
                {
                  "$ref": "#/components/schemas/MultiConversationsSelect"
                },
                {
                  "$ref": "#/components/schemas/MultiChannelsSelect"
                },
                {
                  "$ref": "#/components/schemas/MultiExternalSelect"
                },
                {
                  "$ref": "#/components/schemas/Overflow"
                },
                {
                  "$ref": "#/components/schemas/RadioButtons"
                },
                {
                  "$ref": "#/components/schemas/UsersSelect"
                },
                {
                  "$ref": "#/components/schemas/StaticSelect"
                },
                {
                  "$ref": "#/components/schemas/ConversationsSelect"
                },
                {
                  "$ref": "#/components/schemas/ChannelsSelect"
                },
                {
                  "$ref": "#/components/schemas/ExternalSelect"
                },
                {
                  "$ref": "#/components/schemas/Timepicker"
                },
                {
                  "$ref": "#/components/schemas/WorkflowButton"
                },
                {
                  "$ref": "#/components/schemas/RichTextInput"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "button": "#/components/schemas/Button",
                  "checkboxes": "#/components/schemas/Checkboxes",
                  "datepicker": "#/components/schemas/Datepicker",
                  "datetimepicker": "#/components/schemas/DateTimepicker",
                  "multi_users_select": "#/components/schemas/MultiUsersSelect",
                  "multi_static_select": "#/components/schemas/MultiStaticSelect",
                  "multi_conversations_select": "#/components/schemas/MultiConversationsSelect",
                  "multi_channels_select": "#/components/schemas/MultiChannelsSelect",
                  "multi_external_select": "#/components/schemas/MultiExternalSelect",
                  "overflow": "#/components/schemas/Overflow",
                  "radio_buttons": "#/components/schemas/RadioButtons",
                  "users_select": "#/components/schemas/UsersSelect",
                  "static_select": "#/components/schemas/StaticSelect",
                  "conversations_select": "#/components/schemas/ConversationsSelect",
                  "channels_select": "#/components/schemas/ChannelsSelect",
                  "external_select": "#/components/schemas/ExternalSelect",
                  "timepicker": "#/components/schemas/Timepicker",
                  "workflow_button": "#/components/schemas/WorkflowButton",
                  "rich_text_input": "#/components/schemas/RichTextInput"
                }
              }
            },
            "description": "An array of "
          },
          "block_id": {
            "type": "string",
            "description": "A string acting as a unique identifier for a block. If not specified, a `block_id` will be generated.\nYou can use this `block_id` when you receive an interaction payload to\n"
          }
        },
        "required": [
          "type",
          "elements"
        ],
        "description": "Holds multiple interactive elements."
      },
      "Button": {
        "type": "object",
        "properties": {
          "type": {
            "const": "button",
            "description": "The type of element. In this case `type` is always `button`."
          },
          "text": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "value": {
            "type": "string",
            "description": "The value to send along with the "
          },
          "url": {
            "type": "string",
            "description": "A URL to load in the user's browser when the button is clicked. Maximum length for this field is 3000\ncharacters. If you're using `url`, you'll still receive an "
          },
          "style": {
            "oneOf": [
              {
                "const": "primary"
              },
              {
                "const": "danger"
              }
            ],
            "description": "Decorates buttons with alternative visual color schemes. Use this option with restraint.\n`primary` gives buttons a green outline and text, ideal for affirmation or confirmation actions. `primary` should\nonly be used for one button within a set.\n`danger` gives buttons a red outline and text, and should be used when the action is destructive. Use `danger` even\nmore sparingly than primary.\nIf you don't include this field, the default button style will be used."
          },
          "accessibility_label": {
            "type": "string",
            "description": "A label for longer descriptive text about a button element. This label will be read out by screen\nreaders instead of the button `text` object. Maximum length for this field is 75 characters."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          }
        },
        "required": [
          "type",
          "text"
        ],
        "description": "Allows users a direct path to performing basic actions."
      },
      "ConfirmationDialog": {
        "type": "object",
        "properties": {
          "title": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "text": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PlainTextElement"
              },
              {
                "$ref": "#/components/schemas/MrkdwnElement"
              }
            ],
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "plain_text": "#/components/schemas/PlainTextElement",
                "mrkdwn": "#/components/schemas/MrkdwnElement"
              }
            },
            "description": "A "
          },
          "confirm": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "deny": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "style": {
            "oneOf": [
              {
                "const": "primary"
              },
              {
                "const": "danger"
              }
            ],
            "description": "Defines the color scheme applied to the `confirm` button. A value of `danger` will display the button\nwith a red background on desktop, or red text on mobile. A value of `primary` will display the button with a green\nbackground on desktop, or blue text on mobile. If this field is not provided, the default value will be `primary`."
          }
        },
        "required": [
          "text"
        ],
        "description": "Defines a dialog that adds a confirmation step to interactive elements."
      },
      "Checkboxes": {
        "type": "object",
        "properties": {
          "type": {
            "const": "checkboxes",
            "description": "The type of element. In this case `type` is always `checkboxes`."
          },
          "initial_options": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MrkdwnOption"
                },
                {
                  "$ref": "#/components/schemas/PlainTextOption"
                }
              ]
            },
            "description": "An array of "
          },
          "options": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MrkdwnOption"
                },
                {
                  "$ref": "#/components/schemas/PlainTextOption"
                }
              ]
            },
            "description": "An array of "
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          }
        },
        "required": [
          "type",
          "options"
        ],
        "description": "Allows users to choose multiple items from a list of options."
      },
      "MrkdwnOption": {
        "type": "object",
        "properties": {
          "text": {
            "$ref": "#/components/schemas/MrkdwnElement",
            "description": "A "
          },
          "value": {
            "type": "string",
            "description": "A unique string value that will be passed to your app when this option is chosen.\nMaximum length for this field is 75 characters."
          },
          "url": {
            "type": "string",
            "description": "Only available in overflow menus! A URL to load in the user's browser when the option is clicked.\nMaximum length for this field is 3000 characters."
          },
          "description": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "text"
        ]
      },
      "PlainTextOption": {
        "type": "object",
        "properties": {
          "text": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "value": {
            "type": "string",
            "description": "A unique string value that will be passed to your app when this option is chosen.\nMaximum length for this field is 75 characters."
          },
          "url": {
            "type": "string",
            "description": "Only available in overflow menus! A URL to load in the user's browser when the option is clicked.\nMaximum length for this field is 3000 characters."
          },
          "description": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "text"
        ]
      },
      "Datepicker": {
        "type": "object",
        "properties": {
          "type": {
            "const": "datepicker",
            "description": "The type of element. In this case `type` is always `datepicker`."
          },
          "initial_date": {
            "type": "string",
            "description": "The initial date that is selected when the element is loaded.\nThis should be in the format `YYYY-MM-DD`."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "Allows users to select a date from a calendar style UI."
      },
      "DateTimepicker": {
        "type": "object",
        "properties": {
          "type": {
            "const": "datetimepicker",
            "description": "The type of element. In this case `type` is always `datetimepicker`."
          },
          "initial_date_time": {
            "type": "number",
            "description": "The initial date and time that is selected when the element is loaded, represented as a UNIX\ntimestamp in seconds. This should be in the format of 10 digits, for example `1628633820` represents the date and\ntime August 10th, 2021 at 03:17pm PST."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          }
        },
        "required": [
          "type"
        ],
        "description": "Allows users to select both a date and a time of day, formatted as a Unix timestamp. On desktop\nclients, this time picker will take the form of a dropdown list and the date picker will take the form of a dropdown\ncalendar. Both options will have free-text entry for precise choices. On mobile clients, the time picker and date\npicker will use native UIs."
      },
      "MultiUsersSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "multi_users_select",
            "description": "The type of element. In this case `type` is always `multi_users_select`."
          },
          "initial_users": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of user IDs of any valid users to be pre-selected when the menu loads."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "max_selected_items": {
            "type": "number",
            "description": "Specifies the maximum number of items that can be selected. Minimum number is 1."
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This multi-select menu will populate its options with a list of Slack users visible to the current user\nin the active workspace."
      },
      "MultiStaticSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "multi_static_select",
            "description": "The type of element. In this case `type` is always `multi_static_select`."
          },
          "initial_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlainTextOption"
            },
            "description": "An array of option objects that exactly match one or more of the options within `options` or\n`option_groups`. These options will be selected when the menu initially loads."
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlainTextOption"
            },
            "description": "An array of "
          },
          "option_groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "$ref": "#/components/schemas/PlainTextElement"
                },
                "options": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlainTextOption"
                  }
                }
              },
              "required": [
                "label",
                "options"
              ]
            },
            "description": "An array of option group objects. Maximum number of option groups is 100. If `options` is specified,\nthis field should not be."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "max_selected_items": {
            "type": "number",
            "description": "Specifies the maximum number of items that can be selected. Minimum number is 1."
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This is the simplest form of select menu, with a static list of options passed in when defining the\nelement."
      },
      "MultiConversationsSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "multi_conversations_select",
            "description": "The type of element. In this case `type` is always `conversations_select`."
          },
          "initial_conversations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of one or more IDs of any valid conversations to be pre-selected when the menu loads. If\n`default_to_current_conversation` is also supplied, `initial_conversation` will be ignored."
          },
          "default_to_current_conversation": {
            "type": "boolean",
            "description": "Pre-populates the select menu with the conversation that the user was viewing when they opened the\nmodal, if available. Default is `false`."
          },
          "filter": {
            "type": "object",
            "properties": {
              "include": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "const": "public"
                    },
                    {
                      "const": "private"
                    },
                    {
                      "const": "im"
                    },
                    {
                      "const": "mpim"
                    }
                  ]
                }
              },
              "exclude_external_shared_channels": {
                "type": "boolean"
              },
              "exclude_bot_users": {
                "type": "boolean"
              }
            },
            "description": "A filter object that reduces the list of available conversations using the specified criteria."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "max_selected_items": {
            "type": "number",
            "description": "Specifies the maximum number of items that can be selected. Minimum number is 1."
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This multi-select menu will populate its options with a list of public and private channels, DMs, and\nMPIMs visible to the current user in the active workspace."
      },
      "MultiChannelsSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "multi_channels_select",
            "description": "The type of element. In this case `type` is always `multi_channels_select`."
          },
          "initial_channels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of one or more IDs of any valid public channel to be pre-selected when the menu loads."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "max_selected_items": {
            "type": "number",
            "description": "Specifies the maximum number of items that can be selected. Minimum number is 1."
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This multi-select menu will populate its options with a list of public channels visible to the current\nuser in the active workspace."
      },
      "MultiExternalSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "multi_external_select",
            "description": "The type of element. In this case `type` is always `multi_external_select`."
          },
          "initial_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlainTextOption"
            },
            "description": "An array of options to be selected when the menu initially loads."
          },
          "min_query_length": {
            "type": "number",
            "description": "When the typeahead field is used, a request will be sent on every character change. If you prefer\nfewer requests or more fully ideated queries, use the `min_query_length` attribute to tell Slack the fewest number\nof typed characters required before dispatch. The default value is `3`."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "max_selected_items": {
            "type": "number",
            "description": "Specifies the maximum number of items that can be selected. Minimum number is 1."
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This menu will load its options from an external data source, allowing for a dynamic list of options."
      },
      "Overflow": {
        "type": "object",
        "properties": {
          "type": {
            "const": "overflow",
            "description": "The type of element. In this case `type` is always `number_input`."
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlainTextOption"
            },
            "description": "An array of up to 5 "
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          }
        },
        "required": [
          "type",
          "options"
        ],
        "description": "Allows users to press a button to view a list of options.\nUnlike the select menu, there is no typeahead field, and the button always appears with an ellipsis ('…') rather\nthan customizable text. As such, it is usually used if you want a more compact layout than a select menu, or to\nsupply a list of less visually important actions after a row of buttons. You can also specify simple URL links as\noverflow menu options, instead of actions."
      },
      "RadioButtons": {
        "type": "object",
        "properties": {
          "type": {
            "const": "radio_buttons",
            "description": "The type of element. In this case `type` is always `radio_buttons`."
          },
          "initial_option": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MrkdwnOption"
              },
              {
                "$ref": "#/components/schemas/PlainTextOption"
              }
            ],
            "description": "An "
          },
          "options": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MrkdwnOption"
                },
                {
                  "$ref": "#/components/schemas/PlainTextOption"
                }
              ]
            },
            "description": "An array of "
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          }
        },
        "required": [
          "type",
          "options"
        ],
        "description": "Allows users to choose one item from a list of possible options."
      },
      "UsersSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "users_select",
            "description": "The type of element. In this case `type` is always `users_select`."
          },
          "initial_user": {
            "type": "string",
            "description": "The user ID of any valid user to be pre-selected when the menu loads."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This select menu will populate its options with a list of Slack users visible to the current user in the\nactive workspace."
      },
      "StaticSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "static_select",
            "description": "The type of element. In this case `type` is always `static_select`."
          },
          "initial_option": {
            "$ref": "#/components/schemas/PlainTextOption",
            "description": "A single option that exactly matches one of the options within `options` or `option_groups`.\nThis option will be selected when the menu initially loads."
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlainTextOption"
            },
            "description": "An array of "
          },
          "option_groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "$ref": "#/components/schemas/PlainTextElement"
                },
                "options": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlainTextOption"
                  }
                }
              },
              "required": [
                "label",
                "options"
              ]
            },
            "description": "An array of option group objects. Maximum number of option groups is 100. If `options` is specified,\nthis field should not be."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This is the simplest form of select menu, with a static list of options passed in when defining the\nelement."
      },
      "ConversationsSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "conversations_select",
            "description": "The type of element. In this case `type` is always `conversations_select`."
          },
          "initial_conversation": {
            "type": "string",
            "description": "The ID of any valid conversation to be pre-selected when the menu loads. If\n`default_to_current_conversation` is also supplied, `initial_conversation` will take precedence."
          },
          "default_to_current_conversation": {
            "type": "boolean",
            "description": "Pre-populates the select menu with the conversation that the user was viewing when they opened the\nmodal, if available. Default is `false`."
          },
          "filter": {
            "type": "object",
            "properties": {
              "include": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "const": "public"
                    },
                    {
                      "const": "private"
                    },
                    {
                      "const": "im"
                    },
                    {
                      "const": "mpim"
                    }
                  ]
                }
              },
              "exclude_external_shared_channels": {
                "type": "boolean"
              },
              "exclude_bot_users": {
                "type": "boolean"
              }
            },
            "description": "A filter object that reduces the list of available conversations using the specified criteria."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "response_url_enabled": {
            "type": "boolean",
            "description": "When set to `true`, the "
          }
        },
        "required": [
          "type"
        ],
        "description": "This select menu will populate its options with a list of public and private channels, DMs, and MPIMs\nvisible to the current user in the active workspace."
      },
      "ChannelsSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "channels_select",
            "description": "The type of element. In this case `type` is always `channels_select`."
          },
          "initial_channel": {
            "type": "string",
            "description": "The ID of any valid public channel to be pre-selected when the menu loads."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "response_url_enabled": {
            "type": "boolean",
            "description": "When set to `true`, the "
          }
        },
        "required": [
          "type"
        ],
        "description": "This select menu will populate its options with a list of public channels visible to the current user\nin the active workspace."
      },
      "ExternalSelect": {
        "type": "object",
        "properties": {
          "type": {
            "const": "external_select",
            "description": "The type of element. In this case `type` is always `external_select`."
          },
          "initial_option": {
            "$ref": "#/components/schemas/PlainTextOption",
            "description": "A single option to be selected when the menu initially loads."
          },
          "min_query_length": {
            "type": "number",
            "description": "When the typeahead field is used, a request will be sent on every character change. If you prefer\nfewer requests or more fully ideated queries, use the `min_query_length` attribute to tell Slack the fewest number\nof typed characters required before dispatch. The default value is `3`."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "This select menu will load its options from an external data source, allowing for a dynamic list of\noptions."
      },
      "Timepicker": {
        "type": "object",
        "properties": {
          "type": {
            "const": "timepicker",
            "description": "The type of element. In this case `type` is always `timepicker`."
          },
          "initial_time": {
            "type": "string",
            "description": "The initial time that is selected when the element is loaded. This should be in the format `HH:mm`,\nwhere `HH` is the 24-hour format of an hour (00 to 23) and `mm` is minutes with leading zeros (00 to 59),\nfor example 22:25 for 10:25pm."
          },
          "timezone": {
            "type": "string",
            "description": "A string in the IANA format, e.g. 'America/Chicago'. The timezone is displayed to end users as hint\ntext underneath the time picker. It is also passed to the app upon certain interactions, such as view_submission."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "Allows users to choose a time from a rich dropdown UI. On desktop clients, this time picker will take\nthe form of a dropdown list with free-text entry for precise choices. On mobile clients, the time picker will use\nnative time picker UIs."
      },
      "WorkflowButton": {
        "type": "object",
        "properties": {
          "type": {
            "const": "workflow_button",
            "description": "The type of element. In this case `type` is always `workflow_button`."
          },
          "text": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          },
          "workflow": {
            "type": "object",
            "properties": {
              "trigger": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The trigger URL of the "
                  },
                  "customizable_input_parameters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the customizable input, which should be the name of a workflow input parameter for the\nmatching workflow of the link trigger."
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the customizable input parameter. The type of the value is expected to match the\nspecified type for the matching workflow input parameter."
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ]
                    },
                    "description": "List of customizable input parameters and their values. Should match input parameters specified on\nthe provided trigger."
                  }
                },
                "required": [
                  "url"
                ],
                "description": "Properties of the "
              }
            },
            "required": [
              "trigger"
            ],
            "description": "A workflow object that contains details about the workflow that will run when the button is clicked."
          },
          "style": {
            "oneOf": [
              {
                "const": "primary"
              },
              {
                "const": "danger"
              }
            ],
            "description": "Decorates buttons with alternative visual color schemes. Use this option with restraint.\n`primary` gives buttons a green outline and text, ideal for affirmation or confirmation actions. `primary` should\nonly be used for one button within a set.\n`danger` gives buttons a red outline and text, and should be used when the action is destructive. Use `danger` even\nmore sparingly than primary.\nIf you don't include this field, the default button style will be used."
          },
          "accessibility_label": {
            "type": "string",
            "description": "A label for longer descriptive text about a button element. This label will be read out by screen\nreaders instead of the button `text` object. Maximum length for this field is 75 characters."
          },
          "confirm": {
            "$ref": "#/components/schemas/ConfirmationDialog",
            "description": "A "
          }
        },
        "required": [
          "type",
          "text",
          "workflow"
        ],
        "description": "Allows users to run a "
      },
      "RichTextInput": {
        "type": "object",
        "properties": {
          "type": {
            "const": "rich_text_input",
            "description": "The type of element. In this case `type` is always `rich_text_input`."
          },
          "initial_value": {
            "$ref": "#/components/schemas/RichTextBlock",
            "description": "Initial contents of the input when it is loaded."
          },
          "action_id": {
            "type": "string",
            "description": ": An identifier for this action. You can use this when you receive an interaction payload to\n"
          },
          "dispatch_action_config": {
            "$ref": "#/components/schemas/DispatchActionConfig",
            "description": "A "
          },
          "focus_on_load": {
            "type": "boolean",
            "description": "Indicates whether the element will be set to auto focus within the\n"
          },
          "placeholder": {
            "$ref": "#/components/schemas/PlainTextElement",
            "description": "A "
          }
        },
        "required": [
          "type"
        ],
        "description": "A rich text input creates a composer/WYSIWYG editor for entering formatted text, offering nearly the\nsame experience you have writing messages in Slack."
      },
      "RichTextBlock": {
        "type": "object",
        "properties": {
          "type": {
            "const": "rich_text",
            "description": "The type of block. For a rich text block, `type` is always `rich_text`."
          },
          "elements": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/RichTextSection"
                },
                {
                  "$ref": "#/components/schemas/RichTextList"
                },
                {
                  "$ref": "#/components/schemas/RichTextQuote"
                },
                {
                  "$ref": "#/components/schemas/RichTextPreformatted"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "rich_text_section": "#/components/schemas/RichTextSection",
                  "rich_text_list": "#/components/schemas/RichTextList",
                  "rich_text_quote": "#/components/schemas/RichTextQuote",
                  "rich_text_preformatted": "#/components/schemas/RichTextPreformatted"
                }
              }
            }
          },
          "block_id": {
            "type": "string",
            "description": "A string acting as a unique identifier for a block. If not specified, a `block_id` will be generated.\nYou can use this `block_id` when you receive an interaction payload to\n"
          }
        },
        "required": [
          "type",
          "elements"
        ],
        "description": "Displays formatted, structured representation of text. It is also the output of the Slack client's\nWYSIWYG message composer, so all messages sent by end-users will have this format. Use this block to include\nuser-defined formatted text in your Block Kit payload. While it is possible to format text with `mrkdwn`,\n`rich_text` is strongly preferred and allows greater flexibility.\nYou might encounter a `rich_text` block in a message payload, as a built-in type in workflow apps, or as output of\nthe "
      },
      "RichTextSection": {
        "type": "object",
        "properties": {
          "type": {
            "const": "rich_text_section",
            "description": "The type of element. In this case `type` is always `rich_text_section`."
          },
          "elements": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/RichTextBroadcastMention"
                },
                {
                  "$ref": "#/components/schemas/RichTextColor"
                },
                {
                  "$ref": "#/components/schemas/RichTextChannelMention"
                },
                {
                  "$ref": "#/components/schemas/RichTextDate"
                },
                {
                  "$ref": "#/components/schemas/RichTextEmoji"
                },
                {
                  "$ref": "#/components/schemas/RichTextLink"
                },
                {
                  "$ref": "#/components/schemas/RichTextTeamMention"
                },
                {
                  "$ref": "#/components/schemas/RichTextText"
                },
                {
                  "$ref": "#/components/schemas/RichTextUserMention"
                },
                {
                  "$ref": "#/components/schemas/RichTextUsergroupMention"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "broadcast": "#/components/schemas/RichTextBroadcastMention",
                  "color": "#/components/schemas/RichTextColor",
                  "channel": "#/components/schemas/RichTextChannelMention",
                  "date": "#/components/schemas/RichTextDate",
                  "emoji": "#/components/schemas/RichTextEmoji",
                  "link": "#/components/schemas/RichTextLink",
                  "team": "#/components/schemas/RichTextTeamMention",
                  "text": "#/components/schemas/RichTextText",
                  "user": "#/components/schemas/RichTextUserMention",
                  "usergroup": "#/components/schemas/RichTextUsergroupMention"
                }
              }
            }
          }
        },
        "required": [
          "type",
          "elements"
        ],
        "description": "A section block within a rich text field."
      },
      "RichTextBroadcastMention": {
        "type": "object",
        "properties": {
          "type": {
            "const": "broadcast",
            "description": "The type of element. In this case `type` is always `broadcast`."
          },
          "range": {
            "oneOf": [
              {
                "const": "channel"
              },
              {
                "const": "here"
              },
              {
                "const": "everyone"
              }
            ],
            "description": "The range of the broadcast; can be one of `here`, `channel` and `everyone`."
          },
          "style": {
            "type": "object",
            "properties": {
              "bold": {
                "type": "boolean",
                "description": "When `true`, boldens the text in this element. Defaults to `false`."
              },
              "code": {
                "type": "boolean",
                "description": "When `true`, the text is preformatted in an inline code style. Defaults to `false."
              },
              "italic": {
                "type": "boolean",
                "description": "When `true`, italicizes the text in this element. Defaults to `false`."
              },
              "strike": {
                "type": "boolean",
                "description": "When `true`, strikes through the text in this element. Defaults to `false`."
              }
            },
            "description": "A limited style object for styling rich text `text` elements."
          }
        },
        "required": [
          "type",
          "range"
        ],
        "description": "A broadcast mention element for use in a rich text message."
      },
      "RichTextColor": {
        "type": "object",
        "properties": {
          "type": {
            "const": "color",
            "description": "The type of element. In this case `type` is always `color`."
          },
          "value": {
            "type": "string",
            "description": "The hex value for the color."
          },
          "style": {
            "type": "object",
            "properties": {
              "bold": {
                "type": "boolean",
                "description": "When `true`, boldens the text in this element. Defaults to `false`."
              },
              "code": {
                "type": "boolean",
                "description": "When `true`, the text is preformatted in an inline code style. Defaults to `false."
              },
              "italic": {
                "type": "boolean",
                "description": "When `true`, italicizes the text in this element. Defaults to `false`."
              },
              "strike": {
                "type": "boolean",
                "description": "When `true`, strikes through the text in this element. Defaults to `false`."
              }
            },
            "description": "A limited style object for styling rich text `text` elements."
          }
        },
        "required": [
          "type",
          "value"
        ],
        "description": "A hex color element for use in a rich text message."
      },
      "RichTextChannelMention": {
        "type": "object",
        "properties": {
          "type": {
            "const": "channel",
            "description": "The type of element. In this case `type` is always `channel`."
          },
          "channel_id": {
            "type": "string",
            "description": "The encoded channel ID, e.g. C1234ABCD."
          },
          "style": {
            "type": "object",
            "properties": {
              "bold": {
                "type": "boolean",
                "description": "When `true`, boldens the text in this element. Defaults to `false`."
              },
              "code": {
                "type": "boolean",
                "description": "When `true`, the text is preformatted in an inline code style. Defaults to `false."
              },
              "italic": {
                "type": "boolean",
                "description": "When `true`, italicizes the text in this element. Defaults to `false`."
              },
              "strike": {
                "type": "boolean",
                "description": "When `true`, strikes through the text in this element. Defaults to `false`."
              }
            },
            "description": "A limited style object for styling rich text `text` elements."
          }
        },
        "required": [
          "type",
          "channel_id"
        ],
        "description": "A channel mention element for use in a rich text message."
      },
      "RichTextDate": {
        "type": "object",
        "properties": {
          "type": {
            "const": "date",
            "description": "The type of element. In this case `type` is always `date`."
          },
          "timestamp": {
            "type": "number",
            "description": "A UNIX timestamp for the date to be displayed in seconds."
          },
          "format": {
            "type": "string",
            "description": "A template string containing curly-brace-enclosed tokens to substitute your provided `timestamp`\nin a particularly-formatted way. For example: `Posted at {date_long}`. The available date formatting tokens are:\n- `{day_divider_pretty}`: Shows `today`, `yesterday` or `tomorrow` if applicable. Otherwise, if the date is in\ncurrent year, uses the `{date_long}` format without the year. Otherwise, falls back to using the `{date_long}`\nformat.\n- `{date_num}`: Shows date as YYYY-MM-DD.\n- `{date_slash}`: Shows date as DD/MM/YYYY (subject to locale preferences).\n- `{date_long}`: Shows date as a long-form sentence including day-of-week, e.g. `Monday, December 23rd, 2013`.\n- `{date_long_full}`: Shows date as a long-form sentence without day-of-week, e.g. `August 9, 2020`.\n- `{date_long_pretty}`: Shows `yesterday`, `today` or `tomorrow`, otherwise uses the `{date_long}` format.\n- `{date}`: Same as `{date_long_full}` but without the year.\n- `{date_pretty}`: Shows `today`, `yesterday` or `tomorrow` if applicable, otherwise uses the `{date}` format.\n- `{date_short}`: Shows date using short month names without day-of-week, e.g. `Aug 9, 2020`.\n- `{date_short_pretty}`: Shows `today`, `yesterday` or `tomorrow` if applicable, otherwise uses the `{date_short}`\nformat.\n- `{time}`: Depending on user preferences, shows just the time-of-day portion of the timestamp using either 12 or\n24 hour clock formats, e.g. `2:34 PM` or `14:34`.\n- `{time_secs}`: Depending on user preferences, shows just the time-of-day portion of the timestamp using either 12\nor 24 hour clock formats, including seconds, e.g. `2:34:56 PM` or `14:34:56`.\n- `{ago}`: A human-readable period of time, e.g. `3 minutes ago`, `4 hours ago`, `2 days ago`.\nTODO: test/document `{member_local_time}`, `{status_expiration}` and `{calendar_header}`"
          },
          "url": {
            "type": "string",
            "description": "URL to link the entire `format` string to."
          },
          "fallback": {
            "type": "string",
[...]
