{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Stable Diffusion 이미지 생성",
    "summary": "프롬프트를 입력하여 AI로 이미지를 생성해요.",
    "description": "텍스트 프롬프트를 입력하면 AI가 그에 맞는 이미지를 생성해줘요. 원하는 스타일, 분위기, 구체적인 요소들을 자세히 설명하면 그에 맞는 이미지를 만들 수 있어요. 생성된 이미지의 크기, 품질, 생성 속도 등을 조절할 수 있고, 여러 장의 이미지를 한 번에 생성할 수도 있어요. 디자인 아이디어 얻기, 콘텐츠 제작, 아트워크 생성 등 다양한 창작 활동에 활용할 수 있어요.",
    "version": "0.1.223",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/stable-diffusion-beta/generate": {
      "post": {
        "summary": "Stable diffusion image generator node",
        "description": "Generate an image using the stable diffusion model.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Information for image generation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStableDiffusionBeta.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "URL of the generated image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStableDiffusionBeta.IResponse"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StableDifusion_full.svg"
      }
    },
    "/connector/aws/file/upload-url": {
      "get": {
        "summary": "Generate File Upload URL",
        "description": "Generate the URL required to upload a file.",
        "tags": [],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "File extension",
            "description": "File extension."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAws.IGetPutObjectUrlOutput"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IStableDiffusionBeta.IResponse": {
        "type": "object",
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "image/*",
            "title": "Generated image Url",
            "description": "Generated image url"
          }
        },
        "required": [
          "imgUrl"
        ],
        "title": "Image creation result"
      },
      "IStableDiffusionBeta.IRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "title": "prompt",
            "description": "Please be specific about the elements, styles, and subjects you want to include in the image you want to generate. This prompt will instruct the model to reflect the desired features and details when generating the image."
          },
          "image_ratio": {
            "oneOf": [
              {
                "const": "square",
                "title": "정사각형",
                "description": "512x512"
              },
              {
                "const": "landscape",
                "title": "풍경",
                "description": "896x512"
              },
              {
                "const": "portrait",
                "title": "인물",
                "description": "512x896"
              }
            ],
            "title": "Image Size",
            "description": "Preset image size to generate.\n\nOnly three possible values are available: \"square\", \"landscape\", and \"portrait\"."
          },
          "style_preset": {
            "oneOf": [
              {
                "const": "3d-model",
                "title": "3D 모델"
              },
              {
                "const": "analog-film",
                "title": "아날로그 필름"
              },
              {
                "const": "anime",
                "title": "에니메이션"
              },
              {
                "const": "cinematic",
                "title": "영화"
              },
              {
                "const": "comic-book",
                "title": "만화"
              },
              {
                "const": "digital-art",
                "title": "디지털 아트"
              },
              {
                "const": "enhance",
                "title": "보정"
              },
              {
                "const": "fantasy-art",
                "title": "판타지 아트"
              },
              {
                "const": "isometric",
                "title": "등각뷰"
              },
              {
                "const": "line-art",
                "title": "라인 아트"
              },
              {
                "const": "low-poly",
                "title": "로우 폴리곤"
              },
              {
                "const": "modeling-compound",
                "title": "클레이 아트"
              },
              {
                "const": "neon-punk",
                "title": "네온 펑크"
              },
              {
                "const": "origami",
                "title": "종이 접기"
              },
              {
                "const": "photographic",
                "title": "사진"
              },
              {
                "const": "pixel-art",
                "title": "픽셀 아트"
              },
              {
                "const": "tile-texture",
                "title": "타일 텍스쳐"
              }
            ],
            "title": "Style Preset",
            "description": "Generates an image in a specific style.\n\nThere are only 16 possible values: \"3d-model\", \"analog-film\", \"anime\", \"cinematic\", \"comic-book\", \"digital-art\", \"enhance\", \"fantasy-art\", \"isometric\", \"line-art\", \"low-poly\", \"modeling-compound\", \"neon-punk\", \"origami\", \"photographic\", \"pixel-art\", \"tile-texture\"."
          }
        },
        "required": [
          "prompt",
          "image_ratio"
        ],
        "title": "Image Generator Settings"
      },
      "IAws.IGetPutObjectUrlOutput": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "title": "file uuid",
            "description": "This is the file uuid."
          },
          "uploadUrl": {
            "type": "string",
            "title": "upload url",
            "description": "This is the url for uploading the file."
          },
          "urlExpTsMillis": {
            "type": "number",
            "title": "url expiration time",
            "description": "url expiration time."
          }
        },
        "required": [
          "uuid",
          "uploadUrl",
          "urlExpTsMillis"
        ]
      },
      "IAws.IGetPutObjectUrlInput": {
        "type": "object",
        "properties": {
          "extension": {
            "type": "string",
            "title": "File extension",
            "description": "File extension."
          }
        },
        "required": [
          "extension"
        ]
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}