{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Stable Diffusion 이미지 생성",
    "summary": "프롬프트를 입력하여 AI로 이미지를 생성해요.",
    "description": "텍스트 프롬프트를 입력하면 AI가 그에 맞는 이미지를 생성해줘요. 원하는 스타일, 분위기, 구체적인 요소들을 자세히 설명하면 그에 맞는 이미지를 만들 수 있어요. 생성된 이미지의 크기, 품질, 생성 속도 등을 조절할 수 있고, 여러 장의 이미지를 한 번에 생성할 수도 있어요. 디자인 아이디어 얻기, 콘텐츠 제작, 아트워크 생성 등 다양한 창작 활동에 활용할 수 있어요.",
    "version": "0.1.424",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/stable-diffusion-beta/generate": {
      "post": {
        "summary": "Stable diffusion image generator node",
        "description": "Generate an image using the stable diffusion model",
        "tags": [
          "Stable Diffusion"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Information for image generation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStableDiffusionBeta.IRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "URL of the generated image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStableDiffusionBeta.IResponse"
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "stable_diffusion_beta",
          "generate",
          "generateImage"
        ],
        "x-samchon-controller": "StableDiffusionBetaController",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StableDifusion_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IStableDiffusionBeta.IResponse": {
        "type": "object",
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "iri",
            "contentMediaType": "image/*",
            "title": "Generated image Url",
            "description": "Generated image url"
          }
        },
        "required": [
          "imgUrl"
        ],
        "title": "Image creation result"
      },
      "IStableDiffusionBeta.IRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "title": "prompt",
            "description": "Please be specific about the elements, styles, and subjects you want to include in the image you want to generate. This prompt will instruct the model to reflect the desired features and details when generating the image."
          },
          "image_ratio": {
            "oneOf": [
              {
                "const": "square"
              },
              {
                "const": "landscape"
              },
              {
                "const": "portrait"
              }
            ],
            "title": "Image Size",
            "description": "Preset image size to generate.\n\nOnly three possible values are available: \"square\", \"landscape\", and \"portrait\"."
          },
          "style_preset": {
            "oneOf": [
              {
                "const": "3d-model"
              },
              {
                "const": "analog-film"
              },
              {
                "const": "anime"
              },
              {
                "const": "cinematic"
              },
              {
                "const": "comic-book"
              },
              {
                "const": "digital-art"
              },
              {
                "const": "enhance"
              },
              {
                "const": "fantasy-art"
              },
              {
                "const": "isometric"
              },
              {
                "const": "line-art"
              },
              {
                "const": "low-poly"
              },
              {
                "const": "modeling-compound"
              },
              {
                "const": "neon-punk"
              },
              {
                "const": "origami"
              },
              {
                "const": "photographic"
              },
              {
                "const": "pixel-art"
              },
              {
                "const": "tile-texture"
              }
            ],
            "title": "Style Preset",
            "description": "Generates an image in a specific style.\n\nThere are only 16 possible values: \"3d-model\", \"analog-film\", \"anime\", \"cinematic\", \"comic-book\", \"digital-art\", \"enhance\", \"fantasy-art\", \"isometric\", \"line-art\", \"low-poly\", \"modeling-compound\", \"neon-punk\", \"origami\", \"photographic\", \"pixel-art\", \"tile-texture\"."
          }
        },
        "required": [
          "prompt",
          "image_ratio"
        ],
        "title": "Image Generator Settings"
      }
    }
  },
  "tags": [
    {
      "name": "Stable Diffusion"
    }
  ],
  "x-samchon-emended": true
}