{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "내파일 기반 생활기록부 일괄 작성",
    "description": "",
    "version": "0.1.332",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/student-report-generator": {
      "post": {
        "summary": "Create a student life record",
        "description": "Create a student life record based on the entered information",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Information for creating a student life record",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created student life record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/student-report-generator/row": {
      "post": {
        "summary": "Create a student life record",
        "description": "Create a student life record based on the entered information",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Information for creating a student life record",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportRowGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created student life record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportRowGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IStudentReportGeneratorResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ITableRowData"
            },
            "title": "Generated life data",
            "description": "Generated life data."
          }
        },
        "required": [
          "data"
        ]
      },
      "ITableRowData": {
        "type": "object",
        "properties": {},
        "additionalProperties": {
          "type": "string"
        }
      },
      "IStudentReportGeneratorRequest": {
        "type": "object",
        "properties": {
          "consideration": {
            "type": "string",
            "title": "Things to consider",
            "description": "Here are some things to consider when generating your biometric data to pass on to your LLM."
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IOutputStructure"
            },
            "title": "This is the data structure of the generated lifeblood",
            "description": "This is the data structure of the generated lifeblood."
          },
          "reference_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ITableRowData"
            },
            "title": "Reference data",
            "description": "This is the data for the table to reference when creating the life data."
          }
        },
        "required": [
          "consideration",
          "outputs",
          "reference_data"
        ]
      },
      "IOutputStructure": {
        "type": "object",
        "properties": {
          "field_name": {
            "type": "string",
            "title": "The field name to be generated from LLM",
            "description": "The field name to be generated from LLM."
          },
          "field_description": {
            "type": "string",
            "title": "Description of the field",
            "description": "Description of the field and guidance on how LLM should fill it out."
          },
          "example": {
            "type": "string",
            "title": "Example for the field",
            "description": "Here is an example for the field."
          }
        },
        "required": [
          "field_name",
          "field_description",
          "example"
        ]
      },
      "IStudentReportRowGeneratorResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ITableRowData",
            "title": "Generated life data",
            "description": "Generated life data."
          }
        },
        "required": [
          "data"
        ]
      },
      "IStudentReportRowGeneratorRequest": {
        "type": "object",
        "properties": {
          "consideration": {
            "type": "string",
            "title": "Things to consider",
            "description": "Here are some things to consider when generating your biometric data to pass on to your LLM."
          },
          "output_structure": {
            "$ref": "#/components/schemas/IOutputStructure",
            "title": "This is the data structure of the generated lifeblood",
            "description": "This is the data structure of the generated lifeblood."
          },
          "reference_data": {
            "$ref": "#/components/schemas/ITableRowData",
            "title": "Reference data",
            "description": "This is the data for the table to reference when creating the life data."
          }
        },
        "required": [
          "consideration",
          "output_structure",
          "reference_data"
        ]
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}