{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "통합 택배 추적기",
    "summary": "택배 정보를 쉽게 확인할 수 있어요.",
    "description": "택배사를 조회하고, 송장번호에 맞는 택배사를 추천받을 수 있어요. 송장 조회로 택배 배송 상태를 실시간으로 확인할 수 있어요. 여러 택배사의 배송 정보를 한 번에 관리할 수 있고, 배송 알림을 설정할 수도 있어요. 개인 사용자는 물론 온라인 쇼핑몰 운영자나 물류 관리자들이 효율적으로 배송 상황을 추적하고 관리할 수 있어요.",
    "version": "0.1.214",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/sweet-tacker/get-companies/recommended": {
      "post": {
        "summary": "Search for a list of couriers matching the invoice number",
        "description": "Search for a list of couriers matching the invoice number\n\nA courier code is essential to search for an invoice.\nTherefore, if a user knows the invoice number but does not know which courier will deliver his or her parcel, he or she cannot search for the invoice.\nTo solve this problem, this connector provides a function that infers the courier matching the invoice number.\nHowever, even if this function is called, multiple couriers that may be couriers may appear, so it is impossible to know which company will transport this parcel.\n\nOf course, if there is only one target in the list, the probability that it will be that courier is almost 100%.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for courier search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "List of couriers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/get-companies": {
      "post": {
        "summary": "Search for courier list",
        "description": "Search for the courier list\n\nSearch for all domestic and international courier companies in Korea.\nWhen searching for delivery through the invoice number later, you will need the courier code, so you must search for the courier list first.\nAfter searching for the courier list, find your courier and provide the courier code when searching for the invoice.",
        "tags": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "List of couriers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/tracking-info": {
      "post": {
        "summary": "Invoice search",
        "description": "Search for the invoice number\n\nTo search for an invoice, you need the courier code in addition to the invoice number you want to search for.\nIf you know which courier will transport your package, you can search for the courier and get the courier code from the courier whose name matches the courier code.\nIf you know the invoice number but do not know the courier code, you can use 'Search for a list of couriers matching the invoice number' to infer the courier that will transport your package.\nWhen you search for a package, you can find out the current location and time of the package, as well as who is transporting the package.\nIn some cases, there may be a phone number, but it is not absolute.\nIn addition, in cases where the product is delivered directly by an commerce company such as Coupang, there are cases where you cannot search even if you have the invoice number.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for searching the invoice number",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The movement path of the package",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "ISweetTracker.IGetRecommendedCompanyListOutput": {
        "type": "object",
        "properties": {
          "Recommend": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OmitISweetTracker.CompanyInternational"
            },
            "title": "Courier list"
          }
        },
        "required": [
          "Recommend"
        ],
        "title": "DTO List of couriers matching the invoice number"
      },
      "OmitISweetTracker.CompanyInternational": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "title": "Courier name"
          },
          "Code": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Unique code value of the courier company"
          }
        },
        "required": [
          "Name",
          "Code"
        ],
        "description": "Construct a type with the properties of T except for those in type K."
      },
      "ISweetTracker.IGetRecommendedCompanyListInput": {
        "type": "object",
        "properties": {
          "t_invoice": {
            "type": "string",
            "title": "Invoice number"
          }
        },
        "required": [
          "t_invoice"
        ]
      },
      "ISweetTracker.IGetCompanyListOutput": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ISweetTracker.Company"
            },
            "title": "Courier list"
          }
        },
        "required": [
          "Company"
        ],
        "title": "Courier inquiry response DTO"
      },
      "ISweetTracker.Company": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "Unique code value of the courier company"
          },
          "International": {
            "oneOf": [
              {
                "const": "true"
              },
              {
                "const": "false"
              }
            ],
            "title": "International Shipping"
          },
          "Name": {
            "type": "string",
            "title": "Courier name"
          }
        },
        "required": [
          "Code",
          "International",
          "Name"
        ]
      },
      "ISweetTracker.IGetTrackingInfoOutput": {
        "type": "object",
        "properties": {
          "senderName": {
            "type": "string",
            "title": "Sender's name"
          },
          "receiverAddr": {
            "type": "string",
            "title": "Recipient Address"
          },
          "firstDetail": {
            "$ref": "#/components/schemas/ISweetTracker.TrackingDetail",
            "title": "It means the first path among the paths, and corresponds to the 0th index of the `trackingDetails` array",
            "description": "It means the first path among the paths, and corresponds to the 0th index of the `trackingDetails` array."
          },
          "level": {
            "oneOf": [
              {
                "const": 1,
                "title": "배송 준비 중",
                "description": "배송 준비 중"
              },
              {
                "const": 2,
                "title": "집화 완료",
                "description": "집화 완료"
              },
              {
                "const": 3,
                "title": "배송 중",
                "description": "배송 중"
              },
              {
                "const": 4,
                "title": "지점 도착",
                "description": "지점 도착"
              },
              {
                "const": 5,
                "title": "배송 출발",
                "description": "배송 출발"
              },
              {
                "const": 6,
                "title": "배송 완료",
                "description": "배송 완료"
              }
            ],
            "title": "Progress stage"
          },
          "lastDetail": {
            "$ref": "#/components/schemas/ISweetTracker.TrackingDetail",
            "title": "It means the last path among the paths, and corresponds to the last index of the `trackingDetails` array",
            "description": "It means the last path among the paths, and corresponds to the last index of the `trackingDetails` array."
          },
          "estimate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Expected delivery time",
            "description": "Text in the format '15:00~17:00'"
          },
          "itemImage": {
            "type": "string",
            "title": "Product Image URL"
          },
          "adUrl": {
            "type": "string",
            "title": "Address used by courier companies for advertising purposes"
          },
          "lastStateDetail": {
            "$ref": "#/components/schemas/ISweetTracker.TrackingDetail",
            "title": "lastStateDetail"
          },
          "zipCode": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Postal address"
          },
          "invoiceNo": {
            "type": "string",
            "title": "tracking number"
          },
          "completeYN": {
            "oneOf": [
              {
                "const": "Y",
                "title": "배송 완료",
                "description": "배송이 완료된 경우에는 Y로 표기된다."
              },
              {
                "const": "N",
                "title": "배송 중",
                "description": "배송이 완료되지 않은 경우에는 N으로 표기된다."
              }
            ],
            "title": "Delivery Completed"
          },
          "orderNumber": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Order Number"
          },
          "complete": {
            "type": "boolean",
            "title": "Delivery Completed"
          },
          "recipient": {
            "type": "string",
            "title": "Recipient Information"
          },
          "receiverName": {
            "type": "string",
            "title": "Recipient"
          },
          "result": {
            "type": "string",
            "title": "Search Results"
          },
          "productInfo": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Product Information"
          },
          "itemName": {
            "type": "string",
            "title": "Product Name"
          }
        },
        "required": [
          "firstDetail",
          "level",
          "lastDetail",
          "estimate",
          "itemImage",
          "adUrl",
          "lastStateDetail",
          "zipCode",
          "invoiceNo",
          "completeYN",
          "orderNumber",
          "complete",
          "recipient",
          "receiverName",
          "result",
          "productInfo",
          "itemName"
        ]
      },
      "ISweetTracker.TrackingDetail": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Delivery Status Code"
          },
          "kind": {
            "type": "string",
            "title": "Progress status"
          },
          "level": {
            "oneOf": [
              {
                "const": 1,
                "title": "배송 준비 중",
                "description": "배송 준비 중"
              },
              {
                "const": 2,
                "title": "집화 완료",
                "description": "집화 완료"
              },
              {
                "const": 3,
                "title": "배송 중",
                "description": "배송 중"
              },
              {
                "const": 4,
                "title": "지점 도착",
                "description": "지점 도착"
              },
              {
                "const": 5,
                "title": "배송 출발",
                "description": "배송 출발"
              },
              {
                "const": 6,
                "title": "배송 완료",
                "description": "배송 완료"
              }
            ],
            "title": "Progress stage"
          },
          "manName": {
            "type": "string",
            "title": "Delivery driver name"
          },
          "manPic": {
            "type": "string",
            "title": "Delivery driver phone number"
          },
          "remark": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "Note"
          },
          "telno": {
            "type": "string",
            "title": "Delivery driver phone number"
          },
          "telno2": {
            "type": "string",
            "title": "Delivery driver phone number"
          },
          "time": {
            "type": "number",
            "title": "Progress time"
          },
          "timeString": {
            "type": "string",
            "title": "Progress time"
          },
          "where": {
            "type": "string",
            "title": "Progress location"
          }
        },
        "required": [
          "code",
          "kind",
          "level",
          "manName",
          "manPic",
          "remark",
          "telno",
          "telno2",
          "time",
          "timeString",
          "where"
        ]
      },
      "ISweetTracker.IGetTrackingInfoInput": {
        "type": "object",
        "properties": {
          "t_invoice": {
            "type": "string",
            "title": "Invoice number"
          },
          "t_code": {
            "oneOf": [
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "path": "/connector/sweet-tracker/get-companies",
                  "method": "post",
                  "jmesPath": "Company[].{value:Code, label:Name}"
                }
              },
              {
                "type": "string",
                "x-wrtn-prerequisite": {
                  "path": "/connector/sweet-tracker/get-companies/recommended",
                  "method": "post",
                  "jmesPath": "Recommend[].{value:Code, label:Name}"
                }
              }
            ],
            "title": "Courier Code",
            "description": "The courier code must be entered as the `Code` value that appears when searching for a courier company.\nNote that this is an arbitrary code value, not the name of the courier company."
          }
        },
        "required": [
          "t_invoice",
          "t_code"
        ]
      }
    }
  },
  "tags": [],
  "x-samchon-emended": true
}