{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "송장 조회",
    "version": "0.1.51",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/sweet-tacker/get-companies/recommended": {
      "post": {
        "tags": [
          "sweet-tracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "택배사 조회를 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "택배사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListOutput"
                }
              }
            }
          }
        },
        "summary": "송장 번호에 매칭되는 택배사 목록 조회",
        "description": "송장번호에 매칭되는 택배사 목록을 조회합니다\n\n송장 조회를 하기 위해서는 택배사 코드가 필수적입니다.\n따라서 유저가 송장번호는 알고 자신의 택배를 전달해줄 택배사가 어딘지 모르면 송장 조회를 할 수 없습니다.\n이 커넥터는 이러한 문제를 해결하기 위해 송장번호에 맞는 택배사를 추론해주는 기능을 제공합니다.\n다만 이 기능을 호출해도 택배사일 가능성이 있는 여러 개의 택배사로 나올 수도 있기 때문에 어느 회사가 이 택배를 운송해줄지는 알 수 없습니다.\n\n물론, 리스트에 대상이 1개라면 그 택배사일 가능성이 거의 100% 일 것입니다.",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/get-companies": {
      "post": {
        "tags": [
          "sweet-tracker"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "택배사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetCompanyListOutput"
                }
              }
            }
          }
        },
        "summary": "택배사 목록 조회",
        "description": "택배사 목록을 조회합니다\n\n대한민국 국내, 국외의 택배사들을 모두 조회합니다.\n추후 송장번호를 통한 배송 조회를 할 때에는 택배사 코드가 함께 필요하기 때문에 먼저 택배사 목록부터 조회해야 합니다.\n택배사 목록을 조회한 후 자신의 택배사를 찾아서 해당 택배사의 코드를 송장 조회 시에 제공해주면 됩니다.",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/tracking-info": {
      "post": {
        "tags": [
          "sweet-tracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "송장 번호를 조회하기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "택배의 이동 경로",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoOutput"
                }
              }
            }
          }
        },
        "summary": "송장 조회",
        "description": "송장 번호를 조회합니다\n\n송장을 조회하기 위해서는 자신이 조회하고자 하는 송장 번호 외에도 택배사 코드가 필요합니다.\n내 택배를 운송해줄 택배사가 어딘지 안다면 택배사를 조회하여 택배사 이름이 일치하는 택배사로부터 택배사 코드를 가져오면 됩니다.\n만약 송장 번호는 알지만 택배사 코드는 모르는 상태라면 '송장 번호에 매칭되는 택배사 목록 조회' 를 사용하여 자신의 택배를 운송해줄 택배사를 유추해볼 수 있습니다.\n택배를 조회하면 현재 택배가 어디까지 도달하였는지 그 위치와 시간, 그리고 그 택배를 운송해주는 담당자가 누군지를 알 수 있습니다.\n경우에 따라 전화번호가 있을 수도 있지만 절대적인 것은 아닙니다.\n또한, 쿠팡과 같이 커머스 업체에서 직배송하는 경우에는 송장 번호가 있어도 조회할 수 없는 경우도 있습니다."
      }
    }
  },
  "components": {
    "schemas": {
      "ISweetTracker.IGetRecommendedCompanyListInput": {
        "type": "object",
        "properties": {
          "t_invoice": {
            "type": "string",
            "title": "송장번호"
          }
        },
        "required": [
          "t_invoice"
        ]
      },
      "ISweetTracker.IGetRecommendedCompanyListOutput": {
        "type": "object",
        "properties": {
          "Recommend": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OmitISweetTracker.CompanyInternational"
            },
            "title": "택배사 목록"
          }
        },
        "required": [
          "Recommend"
        ],
        "title": "송장 번호에 매칭되는 택배사 목록 DTO"
      },
      "OmitISweetTracker.CompanyInternational": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "택배사가 가지는 고유한 코드 값"
          },
          "Name": {
            "type": "string",
            "title": "택배사 이름"
          }
        },
        "required": [
          "Code",
          "Name"
        ],
        "description": "Construct a type with the properties of T except for those in type K."
      },
      "ISweetTracker.IGetCompanyListOutput": {
        "type": "object",
        "properties": {
          "Company": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ISweetTracker.Company"
            },
            "title": "택배사 목록"
          }
        },
        "required": [
          "Company"
        ],
        "title": "택배사 조회 응답 DTO"
      },
      "ISweetTracker.Company": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
            "title": "택배사가 가지는 고유한 코드 값"
          },
          "International": {
            "oneOf": [
              {
                "const": "false"
              },
              {
                "const": "true"
              }
            ],
            "title": "국제 배송 여부"
          },
          "Name": {
            "type": "string",
            "title": "택배사 이름"
          }
        },
        "required": [
          "Code",
          "International",
          "Name"
        ]
      },
      "ISweetTracker.IGetTrackingInfoInput": {
        "type": "object",
        "properties": {
          "t_invoice": {
            "type": "string",
            "title": "송장번호"
          },
          "t_code": {
            "type": "string",
            "title": "택배사 코드",
            "description": "택배사 코드는 택배사 조회를 할 때 나오는 `Code` 값을 대입해야 한다"
          }
        },
        "required": [
          "t_invoice",
          "t_code"
        ]
      },
      "ISweetTracker.IGetTrackingInfoOutput": {
        "type": "object",
        "properties": {
          "senderName": {
            "type": "string",
            "title": "보내는 사람 이름"
          },
          "receiverAddr": {
            "type": "string",
            "title": "받는 사람 주소"
          },
          "firstDetail": {
            "$ref": "#/components/schemas/ISweetTracker.TrackingDetail",
            "description": "경로 중 첫 경로를 의미하며, `trackingDetails` 배열의 0번째 인덱스에 해당한다"
          },
          "level": {
            "$ref": "#/components/schemas/ISweetTracker.Level",
            "title": "진행 단계"
          },
          "lastDetail": {
            "$ref": "#/components/schemas/ISweetTracker.TrackingDetail",
            "description": "경로 중 마지막 경로를 의미하며, `trackingDetails` 배열의 마지막 인덱스에 해당한다"
          },
          "estimate": {
            "type": "string",
            "title": "배송 예정 시간",
            "description": "'15시~17시' 형식의 텍스트"
          },
          "itemImage": {
            "type": "string",
            "title": "상품 이미지 URL"
          },
          "adUrl": {
            "type": "string",
            "title": "택배사에서 광고용으로 사용하는 주소"
          },
          "lastStateDetail": {
            "$ref": "#/components/schemas/ISweetTracker.TrackingDetail",
            "title": "lastStateDetail"
          },
          "zipCode": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "우편주소"
          },
          "invoiceNo": {
            "type": "string",
            "title": "운송장 번호"
          },
          "completeYN": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantY__type"
              },
              {
                "$ref": "#/components/schemas/ConstantN__type"
              }
            ],
            "title": "배송 완료 여부"
          },
          "orderNumber": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "주문 번호"
          },
          "complete": {
            "type": "boolean",
            "title": "배송 완료 여부"
          },
          "recipient": {
            "type": "string",
            "title": "수령인 정보"
          },
          "receiverName": {
            "type": "string",
            "title": "받는 사람"
          },
          "result": {
            "type": "string",
            "title": "조회 결과"
          },
          "productInfo": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "상품 정보"
          },
          "itemName": {
            "type": "string",
            "title": "상품 이름"
          }
        },
        "required": [
          "senderName",
          "receiverAddr",
          "firstDetail",
          "level",
          "lastDetail",
          "estimate",
          "itemImage",
          "adUrl",
          "lastStateDetail",
          "zipCode",
          "invoiceNo",
          "completeYN",
          "orderNumber",
          "complete",
          "recipient",
          "receiverName",
          "result",
          "productInfo",
          "itemName"
        ]
      },
      "ISweetTracker.TrackingDetail": {
        "type": "object",
        "properties": {
          "code": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "배송 상태 코드"
          },
          "kind": {
            "type": "string",
            "title": "진행 상태"
          },
          "level": {
            "$ref": "#/components/schemas/ISweetTracker.Level",
            "title": "진행 단계"
          },
          "manName": {
            "type": "string",
            "title": "배송기사 이름"
          },
          "manPic": {
            "type": "string",
            "title": "배송기사 전화번호"
          },
          "remark": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "비고"
          },
          "telno": {
            "type": "string",
            "title": "배송기사 전화번호"
          },
          "telno2": {
            "type": "string",
            "title": "배송기사 전화번호"
          },
          "time": {
            "type": "number",
            "title": "진행 시간"
          },
          "timeString": {
            "type": "string",
            "title": "진행 시간"
          },
          "where": {
            "type": "string",
            "title": "진행 위치"
          }
        },
        "required": [
          "code",
          "kind",
          "level",
          "manName",
          "manPic",
          "remark",
          "telno",
          "telno2",
          "time",
          "timeString",
          "where"
        ]
      },
      "ISweetTracker.Level": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Constant1__type"
          },
          {
            "$ref": "#/components/schemas/Constant2__type"
          },
          {
            "$ref": "#/components/schemas/Constant3__type"
          },
          {
            "$ref": "#/components/schemas/Constant4__type"
          },
          {
            "$ref": "#/components/schemas/Constant5__type"
          },
          {
            "$ref": "#/components/schemas/Constant6__type"
          }
        ],
        "title": "진행 단계"
      },
      "Constant1__type": {
        "const": 1,
        "title": "배송 준비 중",
        "description": "배송 준비 중"
      },
      "Constant2__type": {
        "const": 2,
        "title": "집화 완료",
        "description": "집화 완료"
      },
      "Constant3__type": {
        "const": 3,
        "title": "배송 중",
        "description": "배송 중"
      },
      "Constant4__type": {
        "const": 4,
        "title": "지점 도착",
        "description": "지점 도착"
      },
      "Constant5__type": {
        "const": 5,
        "title": "배송 출발",
        "description": "배송 출발"
      },
      "Constant6__type": {
        "const": 6,
        "title": "배송 완료",
        "description": "배송 완료"
      },
      "ConstantY__type": {
        "const": "Y",
        "title": "배송 완료",
        "description": "배송이 완료된 경우에는 Y로 표기된다."
      },
      "ConstantN__type": {
        "const": "N",
        "title": "배송 중",
        "description": "배송이 완료되지 않은 경우에는 N으로 표기된다."
      }
    }
  },
  "tags": [
    {
      "name": "sweet-tracker"
    }
  ],
  "x-samchon-emended": true
}