{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "Typeform",
    "summary": "Typeform을 설문 조사를 만들거나 결과를 조회할 수 있어요",
    "description": "",
    "version": "0.1.396",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/typeform/workspace": {
      "post": {
        "summary": "Create a Typeform workspace",
        "description": "Create a workspace",
        "tags": [
          "Typeform"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Title of the workspace to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ICreateWorkspaceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created workspace ID, title, and URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.ICreateWorkspaceOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/workspace/{workspaceId}": {
      "delete": {
        "summary": "Delete a Typeform workspace",
        "description": "Delete a workspace",
        "tags": [
          "Typeform"
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/typeform/get-workspaces",
                "jmesPath": "[].{value:workspace_id, label:name || '워크스페이스 이름'}"
              }
            },
            "required": true,
            "description": " The workspace ID to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/get-workspaces": {
      "post": {
        "summary": "Get Typeform workspace information",
        "description": "Get workspace information",
        "tags": [
          "Typeform"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workspace ID, Title, URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ITypeform.IFindWorkspaceOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/empty-form": {
      "post": {
        "summary": "Typeform Create an empty form",
        "description": "Create an empty form in the workspace",
        "tags": [
          "Typeform"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The title of the form to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ICreateEmptyFormInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The ID, title, and type of the generated form",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.ICreateFormOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/get-forms": {
      "post": {
        "summary": "Get a list of Typeform forms",
        "description": "Get a list of forms that exist in the workspace",
        "tags": [
          "Typeform"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "form ID, title",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ITypeform.IFindFormOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/duplicate-form": {
      "post": {
        "summary": "Copy a Typeform form",
        "description": "Copy a form that exists in the workspace",
        "tags": [
          "Typeform"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The name of the form to copy and create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.IDuplicateExistingFormInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The generated form ID, title, and type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.ICreateFormOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/forms/get-update-form-fields": {
      "post": {
        "summary": "Get the field information of the form to update Typeform",
        "description": "Get the field information of the form to update the options of the ranking, dropdown, and multiple choice questions",
        "tags": [
          "Typeform"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.IGetFieldForUpdateFieldValueInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The field ID and field name of the form",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ITypeform.IFieldInfoForUpdateFieldValueOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/form-field-value-update": {
      "post": {
        "summary": "Updates Typeform form field options",
        "description": "Updates options for ranking, dropdown, and multiple choice questions",
        "tags": [
          "Typeform"
        ],
        "parameters": [],
        "requestBody": {
          "description": "The name of the form field to update and the value to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.IUpdateFormFieldValueInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITypeform.IUpdateFormFieldValueOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    },
    "/connector/typeform/forms/{formId}": {
      "delete": {
        "summary": "Delete a typeform form",
        "description": "Delete a form",
        "tags": [
          "Typeform"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/typeform/get-forms",
                "jmesPath": "[].{value:formId, label:name || '폼 이름'}"
              }
            },
            "required": true,
            "description": " The ID of the form to delete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITypeform.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/typeform.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "ITypeform.ICreateWorkspaceOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Workspace id",
            "description": "The generated workspace id."
          },
          "name": {
            "type": "string",
            "title": "Workspace name",
            "description": "The name of the generated workspace."
          },
          "link": {
            "type": "string",
            "title": "Workspace Link",
            "description": "Here is the generated workspace link."
          }
        },
        "required": [
          "id",
          "name",
          "link"
        ]
      },
      "ITypeform.ICreateWorkspaceInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Workspace name",
            "description": "The name of the workspace to be created."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "typeform",
            "x-wrtn-secret-scopes": [
              "accounts:read",
              "forms:read",
              "forms:write",
              "images:read",
              "images:write",
              "responses:read",
              "responses:write",
              "themes:read",
              "themes:write",
              "workspaces:read",
              "workspaces:write"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "secretKey"
        ]
      },
      "ITypeform.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "typeform",
            "x-wrtn-secret-scopes": [
              "accounts:read",
              "forms:read",
              "forms:write",
              "images:read",
              "images:write",
              "responses:read",
              "responses:write",
              "themes:read",
              "themes:write",
              "workspaces:read",
              "workspaces:write"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "ITypeform.IFindWorkspaceOutput": {
        "type": "object",
        "properties": {
          "workspace_id": {
            "type": "string",
            "title": "Workspace id",
            "description": "The id of the workspace that was read."
          },
          "name": {
            "type": "string",
            "title": "Workspace name",
            "description": "The name of the workspace you're reading from."
          },
          "link": {
            "type": "string",
            "title": "Workspace Link",
            "description": "Here is a link to the workspace you've read."
          }
        },
        "required": [
          "workspace_id",
          "name",
          "link"
        ]
      },
      "ITypeform.ICreateFormOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "form id",
            "description": "The id of the generated form."
          },
          "name": {
            "type": "string",
            "title": "Form name",
            "description": "The name of the generated form."
          },
          "type": {
            "type": "string",
            "title": "Form Type",
            "description": "The type of the generated form."
          }
        },
        "required": [
          "id",
          "name",
          "type"
        ]
      },
      "ITypeform.ICreateEmptyFormInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Form title",
            "description": "The title of the form to be created."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "typeform",
            "x-wrtn-secret-scopes": [
              "accounts:read",
              "forms:read",
              "forms:write",
              "images:read",
              "images:write",
              "responses:read",
              "responses:write",
              "themes:read",
              "themes:write",
              "workspaces:read",
              "workspaces:write"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "secretKey"
        ]
      },
      "ITypeform.IFindFormOutput": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/get-forms",
              "jmesPath": "[].{value:formId, label:name || 'form title'}"
            },
            "title": "form id",
            "description": "The id of the form being read."
          },
          "name": {
            "type": "string",
            "title": "Form name",
            "description": "The name of the form being read."
          }
        },
        "required": [
          "formId",
          "name"
        ]
      },
      "ITypeform.IDuplicateExistingFormInput": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/get-forms",
              "jmesPath": "[].{value:formId, label:name || 'form title'}"
            },
            "title": "form",
            "description": "The form to update the values."
          },
          "workspaceLink": {
            "type": "string",
            "title": "Workspace Link",
            "description": "The workspace link to duplicate the form."
          },
          "name": {
            "type": "string",
            "title": "Form name",
            "description": "The name of the form to be cloned and created."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "typeform",
            "x-wrtn-secret-scopes": [
              "accounts:read",
              "forms:read",
              "forms:write",
              "images:read",
              "images:write",
              "responses:read",
              "responses:write",
              "themes:read",
              "themes:write",
              "workspaces:read",
              "workspaces:write"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "formId",
          "workspaceLink",
          "name",
          "secretKey"
        ]
      },
      "ITypeform.IFieldInfoForUpdateFieldValueOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/forms/get-update-form-fields",
              "jmesPath": "[].{value:id, label:name || 'field title'}"
            },
            "title": "field",
            "description": "Field to update value"
          },
          "name": {
            "type": "string",
            "title": "Field name",
            "description": "The name of the field whose value is to be updated."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "ITypeform.IGetFieldForUpdateFieldValueInput": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/get-forms",
              "jmesPath": "[].{value:formId, label:name || 'form title'}"
            },
            "title": "field id",
            "description": "The id of the field whose value you want to update."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "typeform",
            "x-wrtn-secret-scopes": [
              "accounts:read",
              "forms:read",
              "forms:write",
              "images:read",
              "images:write",
              "responses:read",
              "responses:write",
              "themes:read",
              "themes:write",
              "workspaces:read",
              "workspaces:write"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "formId",
          "secretKey"
        ]
      },
      "ITypeform.IUpdateFormFieldValueOutput": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ITypeform.IFieldInformation"
            },
            "title": "Information about the field whose value has been updated",
            "description": "Information about the field whose value has been updated."
          },
          "formId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/get-forms",
              "jmesPath": "[].{value:formId, label:name || 'form title'}"
            },
            "title": "form id",
            "description": "The id of the form being read."
          },
          "name": {
            "type": "string",
            "title": "Form name",
            "description": "The name of the form being read."
          }
        },
        "required": [
          "fields",
          "formId",
          "name"
        ]
      },
      "ITypeform.IFieldInformation": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "title": "field value",
            "description": "The value of the updated field."
          },
          "id": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/forms/get-update-form-fields",
              "jmesPath": "[].{value:id, label:name || 'field title'}"
            },
            "title": "field",
            "description": "Field to update value"
          },
          "name": {
            "type": "string",
            "title": "Field name",
            "description": "The name of the field whose value is to be updated."
          }
        },
        "required": [
          "value",
          "id",
          "name"
        ]
      },
      "ITypeform.IUpdateFormFieldValueInput": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/get-forms",
              "jmesPath": "[].{value:formId, label:name || 'form title'}"
            },
            "title": "form",
            "description": "The form to update the values."
          },
          "fieldId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/typeform/forms/get-update-form-fields",
              "jmesPath": "[].{value:id, label:name || 'field title'}"
            },
            "title": "The field whose value is to be updated",
            "description": "The field whose value is to be updated."
          },
          "value": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "field value",
            "description": "The value of the field to update."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "typeform",
            "x-wrtn-secret-scopes": [
              "accounts:read",
              "forms:read",
              "forms:write",
              "images:read",
              "images:write",
              "responses:read",
              "responses:write",
              "themes:read",
              "themes:write",
              "workspaces:read",
              "workspaces:write"
            ],
            "title": "Select authentication information",
            "description": "secret key."
          }
        },
        "required": [
          "formId",
          "fieldId",
          "value",
          "secretKey"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Typeform"
    }
  ],
  "x-samchon-emended": true
}