{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "유튜브 검색",
    "summary": "유튜브에 원하는 영상을 검색해요",
    "description": "유튜브에 원하는 영상을 검색해요",
    "version": "0.1.344",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/youtube-search": {
      "post": {
        "summary": "YouTube video search",
        "description": "Get YouTube video search results\n\nThe search results have the video title and link.\nIf most users are going to use this feature, they probably want to watch the video, so it's better to provide a URL.",
        "tags": [
          "Youtube"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for YouTube video search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "List of YouTube video search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IYoutubeSearch.ISearchOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Youtube_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/youtube-search/transcript": {
      "post": {
        "summary": "Get Youtube video transcripts",
        "description": "Get Transcripts of Youtube video",
        "tags": [
          "Youtube"
        ],
        "parameters": [],
        "requestBody": {
          "description": "video url",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ITranscriptYoutubeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "transcripts of video",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IYoutubeSearch.ITranscriptYoutubeResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Youtube_full.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IYoutubeSearch.ISearchOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "YouTube video title",
            "description": "Title of the YouTube video that appears in the search results."
          },
          "link": {
            "type": "string",
            "format": "iri",
            "title": "YouTube video link",
            "description": "Links to YouTube videos that appear in search results."
          },
          "description": {
            "type": "string",
            "title": "YouTube video description",
            "description": "Description of YouTube video."
          },
          "thumbnail": {
            "type": "string",
            "format": "iri",
            "title": "Thumbnail image for YouTube videos",
            "description": "Thumbnail image for YouTube videos."
          },
          "view_count": {
            "type": "integer",
            "title": "YouTube video views",
            "description": "YouTube video views."
          },
          "channel_name": {
            "type": "string",
            "title": "Channel name",
            "description": "Channel name of YouTube videos that appear in search results."
          },
          "channel_link": {
            "type": "string",
            "format": "iri",
            "title": "Channel link",
            "description": "Link to the YouTube channel that appears in the search results."
          },
          "published_date": {
            "type": "string",
            "title": "YouTube video published date",
            "description": "Date the YouTube video was published.\nex) 1 year ago"
          }
        },
        "required": [
          "title",
          "link",
          "thumbnail",
          "view_count",
          "channel_name",
          "channel_link",
          "published_date"
        ],
        "title": "YouTube search results"
      },
      "IYoutubeSearch.ISearchInput": {
        "type": "object",
        "properties": {
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "뤼튼"
            },
            "minItems": 1,
            "title": "Must be included keywords",
            "description": "Keywords that must be included in search results."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "Keywords that you would like to see included",
            "description": "Keywords that you would like to see included in your search results."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "폭력"
            },
            "title": "Keywords that should not be included",
            "description": "Keywords that should not be included in search results."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "YouTube search conditions"
      },
      "IYoutubeSearch.ITranscriptYoutubeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "Video ID",
            "description": "Youtube video Id"
          },
          "title": {
            "type": "string",
            "title": "title",
            "description": "Youtube video title"
          },
          "channelName": {
            "type": "string",
            "title": "Channel Name",
            "description": "Youtube Channel Name"
          },
          "uploadedAt": {
            "type": "string",
            "title": "Uploaded At",
            "description": "Youtube video uploaded at"
          },
          "viewCount": {
            "type": "number",
            "title": "View Count",
            "description": "Youtube video view count"
          },
          "captionLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IYoutubeSearch.IYoutubeTranscriptItem"
            },
            "title": "Caption Lines",
            "description": "Youtube video caption lines"
          }
        },
        "required": [
          "id",
          "title",
          "channelName",
          "uploadedAt",
          "viewCount",
          "captionLines"
        ],
        "title": "YouTube video transcript information"
      },
      "IYoutubeSearch.IYoutubeTranscriptItem": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "start",
          "duration",
          "text"
        ]
      },
      "IYoutubeSearch.ITranscriptYoutubeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "iri",
            "title": "YouTube video URL",
            "description": "YouTube URL to retrieve transcripts"
          }
        },
        "required": [
          "url"
        ],
        "title": "YouTube URL to retrieve transcripts"
      }
    }
  },
  "tags": [
    {
      "name": "Youtube"
    }
  ],
  "x-samchon-emended": true
}