{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "유튜브 검색",
    "summary": "유튜브에 원하는 영상을 검색해요",
    "description": "유튜브에 원하는 영상을 검색해요",
    "version": "0.1.438",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/youtube-search": {
      "patch": {
        "summary": "YouTube video search",
        "description": "Get YouTube video search results\n\nThe search results have the video title and link.\n\nIf most users are going to use this feature, they probably want to watch the video, so it's better to provide a URL.\n\nIn order to filter the period that the user wants, you should use the response field \"published_date\".\n\nFor example, if the user wants to retrieve only this year's videos, you should exclude videos that were uploaded in a period that the user does not want, such as \"1 year ago\" or \"2 years ago\" with a published_date.\n\nIt's great to use with the /transcript endpoint when summarizing videos, analyzing content, extracting keywords, etc.\n\nExtract the URL from the YouTube video information obtained from the execution result of the corresponding function and use it as the input of the /transcript endpoint.\n\nBased on the transcripts obtained from the execution result of the /transcript endpoint, perform tasks such as summarizing videos, analyzing content, and extracting keywords.\n\nExample Use Cases:\nProduct Reviews: Extract product names, pros, cons, and recommendations from air purifier review videos.\nTutorials: Create text-based tutorials or step-by-step guides from instructional videos.",
        "tags": [
          "Youtube"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for YouTube video search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of YouTube video search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IYoutubeSearch.ISearchOutput"
                  }
                }
              }
            }
          }
        },
        "x-samchon-accessor": [
          "connector",
          "youtube_search",
          "search"
        ],
        "x-samchon-controller": "YoutubeSearchController",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Youtube_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IYoutubeSearch.ISearchOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "YouTube video title",
            "description": "Title of the YouTube video that appears in the search results."
          },
          "link": {
            "type": "string",
            "format": "iri",
            "title": "YouTube video link",
            "description": "Links to YouTube videos that appear in search results."
          },
          "thumbnail": {
            "type": "string",
            "format": "iri",
            "title": "Thumbnail image for YouTube videos",
            "description": "Thumbnail image for YouTube videos."
          },
          "view_count": {
            "type": "integer",
            "title": "YouTube video views",
            "description": "YouTube video views."
          },
          "channel_name": {
            "type": "string",
            "title": "Channel name",
            "description": "Channel name of YouTube videos that appear in search results."
          },
          "channel_link": {
            "type": "string",
            "format": "iri",
            "title": "Channel link",
            "description": "Link to the YouTube channel that appears in the search results."
          },
          "published_date": {
            "type": "string",
            "title": "YouTube video published date",
            "description": "Date the YouTube video was published.\nex) 1 year ago"
          }
        },
        "required": [
          "title",
          "link",
          "thumbnail",
          "view_count",
          "channel_name",
          "channel_link",
          "published_date"
        ],
        "title": "YouTube search results"
      },
      "IYoutubeSearch.ISearchInput": {
        "type": "object",
        "properties": {
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "뤼튼"
            },
            "minItems": 1,
            "title": "Must be included keywords",
            "description": "Keywords that must be included in search results."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "Keywords that you would like to see included",
            "description": "Keywords that you would like to see included in your search results."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "폭력"
            },
            "title": "Keywords that should not be included",
            "description": "Keywords that should not be included in search results."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "YouTube search conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Youtube"
    }
  ],
  "x-samchon-emended": true
}