{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "유튜브 검색",
    "description": "",
    "version": "0.1.265",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/youtube-search": {
      "post": {
        "summary": "YouTube video search",
        "description": "Get YouTube video search results.\n\nThe search results have the video title and link.\nIf most users are going to use this feature, they probably want to watch the video, so it's better to provide a URL.",
        "tags": [
          "Youtube"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Conditions for YouTube video search",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "List of YouTube video search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Youtube_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "Output Information",
            "description": "Contains output information for search results."
          }
        },
        "required": [
          "references"
        ],
        "title": "Search Results"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Title",
            "description": "The title of the output."
          },
          "type": {
            "oneOf": [
              {
                "const": "video",
                "title": "video"
              },
              {
                "const": "image",
                "title": "image"
              },
              {
                "const": "news_article",
                "title": "news_article"
              },
              {
                "const": "research_paper",
                "title": "research_paper"
              }
            ],
            "title": "Output Type",
            "description": "Video, image, news article, research paper.\n\nIt must be one of: video, image, news_article, research_paper"
          },
          "source": {
            "oneOf": [
              {
                "const": "youtube",
                "title": "youtube"
              },
              {
                "const": "facebook",
                "title": "facebook"
              },
              {
                "const": "instagram",
                "title": "instagram"
              },
              {
                "const": "google_search",
                "title": "google_search"
              },
              {
                "const": "arxiv",
                "title": "arxiv"
              },
              {
                "const": "google_news",
                "title": "google_news"
              }
            ],
            "title": "Source of output",
            "description": "youtube, facebook, instagram, google_search, arxiv, google_news\n\nIt must be one of: youtube, facebook, instagram, google_search, arxiv, google_news"
          },
          "url": {
            "type": "string",
            "format": "iri",
            "title": "URL address",
            "description": "The URL address of the output."
          },
          "contents": {
            "type": "string",
            "title": "Output Content",
            "description": "Here is the content of the output."
          },
          "image": {
            "type": "string",
            "format": "iri",
            "title": "Output Image URL",
            "description": "The URL address of the image of the output."
          },
          "statistics": {
            "$ref": "#/components/schemas/MyPartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "Output statistics information",
            "description": "Output statistics information.\n\nPossible values: view_count, like_count, rank"
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "MyPartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        }
      },
      "IYoutubeSearch.ISearchInput": {
        "type": "object",
        "properties": {
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "뤼튼"
            },
            "minItems": 1,
            "title": "Must be included keywords",
            "description": "Keywords that must be included in search results."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "Keywords that you would like to see included",
            "description": "Keywords that you would like to see included in your search results."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "x-wrtn-placeholder": "폭력"
            },
            "title": "Keywords that should not be included",
            "description": "Keywords that should not be included in search results."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "YouTube search conditions"
      }
    }
  },
  "tags": [
    {
      "name": "Youtube"
    }
  ],
  "x-samchon-emended": true
}