{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "유튜브 검색",
    "description": "",
    "version": "0.1.150",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/youtube-search": {
      "post": {
        "summary": "유튜브 영상 검색",
        "description": "유튜브 영상 검색 결과를 가져옵니다.\n\n검색 결과는 영상의 제목과 링크가 있습니다.\n대부분의 사용자들이 이 기능을 사용한다면, 아마도 영상을 보기를 원할 것이기 때문에 URL을 제공해주는 편이 좋습니다.",
        "tags": [
          "Youtube",
          "유튜브",
          "동영상",
          "숏폼",
          "춋츠",
          "밈",
          "구독",
          "좋아요",
          "댓글",
          "라이브",
          "재생",
          "시청자",
          "구독자",
          "알림",
          "커뮤니티",
          "콘텐츠",
          "저작권",
          "조회수",
          "채널",
          "썸네일",
          "인급동",
          "인기",
          "YouTube",
          "Video",
          "Short-form",
          "Shorts",
          "Memes",
          "Upload",
          "Subscribe",
          "Like",
          "Comment",
          "Live",
          "Playlist",
          "Viewer",
          "Share",
          "Subscriber",
          "Notification",
          "Community",
          "Content",
          "Copyright",
          "Download",
          "Views",
          "Promote",
          "View",
          "Channel",
          "Thumbnail",
          "Trending"
        ],
        "parameters": [],
        "requestBody": {
          "description": "유튜브 영상 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "유튜브 영상 검색 결과 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Youtube_full.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "산출물 정보",
            "description": "검색 결과에 대한 산출물 정보를 담고 있습니다."
          }
        },
        "required": [
          "references"
        ],
        "title": "검색 결과"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "산출물의 제목입니다."
          },
          "type": {
            "oneOf": [
              {
                "const": "video"
              },
              {
                "const": "image"
              },
              {
                "const": "news_article"
              },
              {
                "const": "research_paper"
              }
            ],
            "title": "산출물 타입",
            "description": "비디오, 이미지, 뉴스기사, 논문..\n\n가능한 값: video, image, news_article, research_paper"
          },
          "source": {
            "oneOf": [
              {
                "const": "youtube"
              },
              {
                "const": "facebook"
              },
              {
                "const": "instagram"
              },
              {
                "const": "google_search"
              },
              {
                "const": "arxiv"
              },
              {
                "const": "google_news"
              }
            ],
            "title": "산출물의 출처",
            "description": "유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스\n\n가능한 값: youtube, facebook, instagram, google_search, arxiv, google_news"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "URL 주소",
            "description": "산출물의 URL 주소입니다."
          },
          "contents": {
            "type": "string",
            "title": "산출물 내용",
            "description": "산출물의 내용입니다."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "title": "산출물 이미지 url",
            "description": "산출물의 이미지 URL 주소입니다."
          },
          "statistics": {
            "$ref": "#/components/schemas/MyPartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "산출물 통계 자료 정보",
            "description": "산출물의 통계 자료 정보입니다.\n\n가능한 값: view_count, like_count, rank"
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "MyPartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        }
      },
      "IYoutubeSearch.ISearchInput": {
        "type": "object",
        "properties": {
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "minItems": 1,
            "title": "반드시 포함되어야 하는 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "포함되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "포함되면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "유튜브 검색 조건"
      }
    }
  },
  "tags": [
    {
      "name": "Youtube",
      "description": "유튜브"
    },
    {
      "name": "유튜브",
      "description": "채널"
    },
    {
      "name": "동영상",
      "description": "검색"
    },
    {
      "name": "숏폼"
    },
    {
      "name": "춋츠"
    },
    {
      "name": "밈"
    },
    {
      "name": "구독"
    },
    {
      "name": "좋아요"
    },
    {
      "name": "댓글"
    },
    {
      "name": "라이브",
      "description": "방송"
    },
    {
      "name": "재생",
      "description": "목록"
    },
    {
      "name": "시청자",
      "description": "통계"
    },
    {
      "name": "구독자"
    },
    {
      "name": "알림",
      "description": "설정"
    },
    {
      "name": "커뮤니티",
      "description": "게시판"
    },
    {
      "name": "콘텐츠",
      "description": "제작"
    },
    {
      "name": "저작권",
      "description": "관리"
    },
    {
      "name": "조회수",
      "description": "분석"
    },
    {
      "name": "채널",
      "description": "홍보"
    },
    {
      "name": "썸네일"
    },
    {
      "name": "인급동"
    },
    {
      "name": "인기",
      "description": "급상승 동영상"
    },
    {
      "name": "YouTube",
      "description": "Channel"
    },
    {
      "name": "Video",
      "description": "Search"
    },
    {
      "name": "Short-form",
      "description": "Video"
    },
    {
      "name": "Shorts"
    },
    {
      "name": "Memes"
    },
    {
      "name": "Upload",
      "description": "Video"
    },
    {
      "name": "Subscribe"
    },
    {
      "name": "Like"
    },
    {
      "name": "Comment"
    },
    {
      "name": "Live",
      "description": "Stream"
    },
    {
      "name": "Playlist"
    },
    {
      "name": "Viewer",
      "description": "Statistics"
    },
    {
      "name": "Share",
      "description": "Video"
    },
    {
      "name": "Subscriber"
    },
    {
      "name": "Notification",
      "description": "Settings"
    },
    {
      "name": "Community",
      "description": "Tab"
    },
    {
      "name": "Content",
      "description": "Creation"
    },
    {
      "name": "Copyright",
      "description": "Management"
    },
    {
      "name": "Download",
      "description": "Video"
    },
    {
      "name": "Views"
    },
    {
      "name": "Promote",
      "description": "Channel"
    },
    {
      "name": "View",
      "description": "Analysis"
    },
    {
      "name": "Channel",
      "description": "Art"
    },
    {
      "name": "Thumbnail"
    },
    {
      "name": "Trending",
      "description": "Videos"
    }
  ],
  "x-samchon-emended": true
}