{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "구글 스토리지",
    "version": "0.1.22",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/google-docs": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 생성.",
        "description": "구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 docs 권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 권한 부여.",
        "description": "구글 docs에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "가져올 docs 파일",
            "description": "가져올 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 읽기.",
        "description": "구글 docs의 내용을 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "복사할 구글 docs 링크와 생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 복사.",
        "description": "이미 존재하는 구글 docs를 복사하여 새로운 구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 docs 파일",
            "description": "삭제할 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 docs 삭제.",
        "description": "구글 docs를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 목록 가져오기.",
        "description": "구글 docs 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 텍스트 추가.",
        "description": "구글 docs에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-sheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 URL과 가져올 헤더 index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 헤더 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 헤더 정보 가져오기.",
        "description": "구글 시트의 헤더 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 권한 부여.",
        "description": "구글 시트에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 url과 추가할 헤더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 헤더 추가.",
        "description": "구글 시트에 헤더를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크시트 목록을 가져올 구글 시트 url.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 워크시트 목록 가져오기.",
        "description": "구글 워크시트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 Row 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 Row 정보 가져오기.",
        "description": "구글 시트의 Row 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 폴더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 목록 가져오기.",
        "description": "구글 드라이브에 있는 폴더 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 파일 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 목록 가져오기.",
        "description": "구글 드라이브에 있는 파일 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 폴더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 폴더 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 생성.",
        "description": "구글 드라이브에 새로운 폴더를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 파일명과 파일을 생성할 폴더 고유 ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 파일 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 생성.",
        "description": "구글 드라이브에 새로운 파일을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 파일",
            "description": "삭제할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 삭제.",
        "description": "구글 드라이브에 있는 파일을 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 폴더",
            "description": "삭제할 폴더를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 폴더 삭제.",
        "description": "구글 드라이브에 있는 폴더를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 권한 부여.",
        "description": "파일 또는 폴더에 접근하기 위한 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}/text": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "텍스트를 추가할 파일",
            "description": "텍스트를 추가할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "추가할 텍스트.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IAppendTextGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 텍스트 추가.",
        "description": "파일에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "읽어올 파일",
            "description": "읽어올 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파일 텍스트 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IReadFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 텍스트 읽기.",
        "description": "파일에서 텍스트를 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-slides/presentations/{id}/export/hanshow": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 변환할 프레젠테이션 아이디"
          }
        ],
        "requestBody": {
          "description": "인증 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "한쇼 파일을 다운로드 가능한 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportHanshowOutput"
                }
              }
            }
          }
        },
        "summary": "프레젠테이션을 한쇼 파일로 내보내기",
        "description": "구글 슬라이드 프레젠테이션을 한쇼 형식으로 내보내요!"
      }
    },
    "/connector/google-slides/presentations/{id}/export/power-point": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": " 변환할 프레젠테이션 아이디"
          }
        ],
        "requestBody": {
          "description": "인증 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파워포인트 파일을 다운로드 가능한 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.IExportPresentationOutput"
                }
              }
            }
          }
        },
        "summary": "프레젠테이션을 PPT 파일로 내보내기",
        "description": "구글 슬라이드 프레젠테이션을 파워포인트 형식으로 내보내요!"
      }
    },
    "/connector/google-slides/get-presentations": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [],
        "requestBody": {
          "description": "프레젠테이션을 조회하기 위한 조건 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.IGetPresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회된 프레젠테이션 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.Presentation"
                }
              }
            }
          }
        },
        "summary": "Google Slides 프레젠테이션 조회.",
        "description": "Google Slides 프레젠테이션을 조회합니다."
      }
    },
    "/connector/google-slides/presentations/{id}/image-slide": {
      "put": {
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.AppendSlideInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.Presentation"
                }
              }
            }
          }
        }
      }
    },
    "/connector/google-slides/presentations": {
      "post": {
        "tags": [
          "구글 슬라이드",
          "구글 드라이브",
          "프레젠테이션",
          "피피티",
          "피티",
          "슬라이드",
          "슬라이드 디자인",
          "프레젠테이션 만들기",
          "슬라이드 템플릿",
          "슬라이드 공유",
          "이미지 삽입",
          "동영상 삽입",
          "슬라이드 애니메이션",
          "슬라이드쇼",
          "발표 준비",
          "발표 자료",
          "슬라이드 내보내기",
          "슬라이드 인쇄",
          "슬라이드 전환",
          "슬라이드 배경",
          "슬라이드 텍스트",
          "슬라이드 표",
          "슬라이드 차트",
          "슬라이드 그래프",
          "슬라이드 복제",
          "슬라이드 이동",
          "슬라이드 삭제",
          "맞춤법 검사",
          "슬라이드 찾기",
          "슬라이드 저장",
          "프레젠테이션 준비",
          "슬라이드 협업",
          "슬라이드 제목"
        ],
        "parameters": [],
        "requestBody": {
          "description": "프레젠테이션을 만들기 위한 조건 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSlides.ICreatePresentationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 프레젠테이션 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSlides.Presentation"
                }
              }
            }
          }
        },
        "summary": "Google Slides 프레젠테이션 생성.",
        "description": "Google Slides 프레젠테이션을 생성합니다."
      }
    }
  },
  "components": {
    "schemas": {
      "IGoogleDocs.ICreateGoogleDocsInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "구글 docs 제목.",
            "description": "생성할 docs의 제목입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "title",
          "secretKey"
        ],
        "title": "구글 docs 생성에 필요한 정보"
      },
      "IGoogleDocs.ICreateGoogleDocsOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 docs id.",
            "description": "생성된 docs의 id입니다."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 docs 생성 결과"
      },
      "IGoogleDocs.IPermissionGoogleDocsInput": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-docs/get-list",
              "jmesPath": "data[].{value:id, label:title}"
            },
            "title": "구글 docs id.",
            "description": "접근 권한을 부여할 구글 docs의 id입니다."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPermission"
            },
            "title": "접근 가능하게 할 이메일과 부여할 권한 리스트.",
            "description": "접근 가능하게 할 이메일과 부여할 권한 리스트입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "documentId",
          "permissions",
          "secretKey"
        ],
        "title": "구글 docs 권한 부여에 필요한 정보"
      },
      "IPermission": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "권한을 부여할 사용자의 이메일.",
            "description": "권한을 부여할 사용자의 이메일입니다."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              },
              {
                "const": "organizer"
              },
              {
                "const": "fileOrganizer"
              }
            ],
            "title": "부여할 권한.",
            "description": "부여할 권한의 종류입니다."
          },
          "type": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "group"
              },
              {
                "const": "domain"
              },
              {
                "const": "anyone"
              }
            ],
            "title": "부여할 권한의 타입.",
            "description": "부여할 권한의 타입입니다."
          }
        },
        "required": [
          "email",
          "role",
          "type"
        ],
        "title": "권한 부여 정보"
      },
      "IGoogleDocs.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "인증 정보"
      },
      "IGoogleDocs.IReadGoogleDocsOutput": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/IGoogleDocs",
            "title": "구글 docs 데이터.",
            "description": "읽어온 구글 docs의 데이터입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 docs 조회 결과"
      },
      "IGoogleDocs": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "text 정보.",
            "description": "구글 docs의 text 정보입니다."
          },
          "table": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "title": "테이블 정보.",
            "description": "구글 docs의 테이블 정보입니다."
          }
        }
      },
      "IGoogleDocs.ICreateDocByTemplateInput": {
        "type": "object",
        "properties": {
          "templateId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-docs/get-list",
              "jmesPath": "data[].{value:id, label:title}"
            },
            "title": "복제할 구글 docs.",
            "description": "복제할 구글 docs."
          },
          "title": {
            "type": "string",
            "title": "생성할 docs 제목.",
            "description": "복제하여 새로 생성할 docs의 제목입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "templateId",
          "title",
          "secretKey"
        ],
        "title": "구글 docs 복제에 필요한 정보"
      },
      "IGoogleDocs.ICreateDocByTemplateOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 docs id.",
            "description": "복사된 docs의 id입니다."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 docs 복제 결과"
      },
      "IGoogleDocs.IListGoogleDocsOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 docs id.",
                  "description": "가져온 구글 docs의 id입니다."
                },
                "title": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 docs title.",
                  "description": "가져온 구글 docs의 제목입니다."
                }
              }
            },
            "title": "구글 docs 리스트.",
            "description": "검색된 구글 docs 리스트입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 docs 리스트 조회 결과"
      },
      "IGoogleDocs.IAppendTextGoogleDocsInput": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-docs/get-list",
              "jmesPath": "data[].{value:id, label:title}"
            },
            "title": "구글 docs.",
            "description": "텍스트를 추가할 구글 docs를 선택합니다."
          },
          "text": {
            "type": "string",
            "title": "텍스트.",
            "description": "추가할 텍스트입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive",
              "https://www.googleapis.com/auth/documents"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "documentId",
          "text",
          "secretKey"
        ],
        "title": "구글 docs 텍스트 추가에 필요한 정보"
      },
      "IGoogleSheet.IReadGoogleSheetHeadersInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "헤더 정보를 읽어올 시트의 url 주소입니다."
          },
          "index": {
            "type": "number",
            "title": "시트 헤더 index.",
            "description": "읽어올 시트의 헤더 index입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "secretKey"
        ],
        "title": "구글 시트 헤더 읽기에 필요한 정보"
      },
      "IGoogleSheet.IReadGoogleSheetOutput": {
        "type": "object",
        "properties": {
          "data": {
            "title": "시트 데이터.",
            "description": "읽어온 시트의 데이터입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 시트 읽기 결과"
      },
      "IGoogleSheet.IPermissionInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "title": "시트 url.",
            "description": "권한을 부여할 시트의 url 입니다."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPermission.o1"
            },
            "title": "접근 가능하게 할 이메일과 부여할 권한 리스트.",
            "description": "접근 가능하게 할 이메일과 부여할 권한 리스트 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "permissions",
          "secretKey"
        ],
        "title": "구글 시트 권한 부여에 필요한 정보"
      },
      "IPermission.o1": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "권한을 부여할 사용자의 이메일.",
            "description": "권한을 부여할 사용자의 이메일입니다."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              }
            ],
            "title": "부여할 권한.",
            "description": "부여할 권한의 종류입니다."
          }
        },
        "required": [
          "email",
          "role"
        ],
        "title": "권한 정보"
      },
      "IGoogleSheet.IWriteGoogleSheetHeadersInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "헤더를 추가할 시트의 url 입니다."
          },
          "index": {
            "type": "number",
            "title": "시트 index.",
            "description": "추가할 헤더의 index 입니다."
          },
          "headerNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "시트에 추가할 헤더 리스트.",
            "description": "시트에 추가할 헤더 리스트 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "headerNames",
          "secretKey"
        ],
        "title": "구글 시트 헤더 추가에 필요한 정보"
      },
      "IGoogleSheet.IGetWorkSheetInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "읽어올 시트의 url 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "secretKey"
        ],
        "title": "워크시트 조회에 필요한 정보"
      },
      "IGoogleSheet.IGetWorkSheetOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "워크시트 제목 리스트.",
            "description": "읽어온 시트의 제목 리스트 입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "워크시트 조회 결과"
      },
      "IGoogleSheet.IReadGoogleSheetRowsInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "title": "시트 url.",
            "description": "행을 읽어올 시트의 url 입니다."
          },
          "workSheetTitle": {
            "type": "string",
            "title": "작업할 시트 제목.",
            "description": "작업할 시트의 제목입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/spreadsheets",
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "url",
          "workSheetTitle",
          "secretKey"
        ],
        "title": "구글 시트 행 읽기에 필요한 정보"
      },
      "IGoogleSheet.IReadGoogleSheetRowsOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowData"
            },
            "title": "읽어온 구글 시트 행 데이터.",
            "description": "읽어온 구글 시트 행 데이터입니다."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 시트 행 읽기 결과"
      },
      "IGoogleSheet.IReadGoogleSheetRowData": {
        "type": "object",
        "properties": {},
        "title": "구글 시트 행 데이터 정보",
        "additionalProperties": {}
      },
      "IGoogleDrive.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "인증 정보"
      },
      "IGoogleDrive.IFolderListGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive folder id.",
                  "description": "구글 drive folder의 id."
                },
                "name": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive folder name.",
                  "description": "구글 drive 폴더 명."
                }
              }
            },
            "title": "구글 drive folder 데이터.",
            "description": "구글 drive에 있는 folder 데이터 리스트."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 drive에 있는 폴더 리스트 정보"
      },
      "IGoogleDrive.IFileListGoogleDriveInput": {
        "type": "object",
        "properties": {
          "folderId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/folders",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "구글 drive 폴더.",
            "description": "파일을 불러 올 폴더."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "구글 drive에 있는 파일 리스트를 불러오기 위한 정보"
      },
      "IGoogleDrive.IFileListGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive file id.",
                  "description": "구글 drive file의 id."
                },
                "name": {
                  "oneOf": [
                    {
                      "type": "null"
                    },
                    {
                      "type": "string"
                    }
                  ],
                  "title": "구글 drive file name.",
                  "description": "구글 drive file의 이름."
                }
              }
            },
            "title": "구글 drive file 데이터.",
            "description": "구글 drive에 있는 file 데이터 리스트."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 drive에 있는 파일 리스트 정보"
      },
      "IGoogleDrive.ICreateFolderGoogleDriveInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "구글 drive 폴더명.",
            "description": "생성할 drive 폴더명."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "secretKey"
        ],
        "title": "구글 drive 폴더 생성에 필요한 정보"
      },
      "IGoogleDrive.ICreateFolderGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 drive id.",
            "description": "생성된 drive 폴더 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 drive 폴더 생성 결과"
      },
      "IGoogleDrive.ICreateFileGoogleDriveInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "구글 drive file명.",
            "description": "drive에 생성할 파일명."
          },
          "folderIds": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value:id, label:name}"
              }
            },
            "minItems": 1,
            "title": "구글 drive folder ids.",
            "description": "drive에 생성할 파일이 속할 폴더 id 리스트."
          },
          "content": {
            "type": "string",
            "title": "구글 drive file content.",
            "description": "drive에 생성할 파일의 내용."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "name",
          "folderIds",
          "content",
          "secretKey"
        ],
        "title": "구글 drive에 파일 생성에 필요한 정보"
      },
      "IGoogleDrive.ICreateFileGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 drive file id.",
            "description": "생성된 drive 파일 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "구글 drive에 파일 생성 결과"
      },
      "IGoogleDrive.IPermissionGoogleDriveInput": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/files",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "구글 drive file id.",
            "description": "접근 권한을 부여할 drive 파일 id."
          },
          "folderId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/google-drive/get/folders",
              "jmesPath": "data[].{value:id, label:name}"
            },
            "title": "구글 drive folder id.",
            "description": "접근 권한을 부여할 drive 폴더 id."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleDrive.IPermission"
            },
            "title": "접근 가능하게 할 이메일과 부여할 권한 리스트.",
            "description": "접근 가능하게 할 이메일과 부여할 권한 리스트 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "permissions",
          "secretKey"
        ],
        "title": "구글 drive 접근 권한에 필요한 정보"
      },
      "IGoogleDrive.IPermission": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "권한을 부여할 사용자의 이메일.",
            "description": "구글 drive 접근 권한을 부여할 사용자의 이메일 주소입니다."
          },
          "role": {
            "oneOf": [
              {
                "const": "owner"
              },
              {
                "const": "writer"
              },
              {
                "const": "commenter"
              },
              {
                "const": "reader"
              },
              {
                "const": "organizer"
              },
              {
                "const": "fileOrganizer"
              }
            ],
            "title": "부여할 권한.",
            "description": "부여할 권한의 종류입니다."
          },
          "type": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "group"
              },
              {
                "const": "domain"
              },
              {
                "const": "anyone"
              }
            ],
            "title": "부여할 권한의 타입.",
            "description": "부여할 권한의 타입입니다."
          }
        },
        "required": [
          "email",
          "role",
          "type"
        ],
        "title": "접근 권한 정보"
      },
      "IGoogleDrive.IAppendTextGoogleDriveInput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "추가할 text.",
            "description": "drive 파일에 추가할 text."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "text",
          "secretKey"
        ],
        "title": "구글 drive 파일 text 추가에 필요한 정보"
      },
      "IGoogleDrive.IReadFileGoogleDriveOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "title": "구글 drive file data.",
            "description": "drive 파일에서 추출한 text 데이터."
          }
        },
        "required": [
          "data"
        ],
        "title": "구글 drive 파일 조회 결과"
      },
      "IGoogleSlides.IExportPresentationInput": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/drive"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "슬라이드를 pptx로 내보내는 조건"
      },
      "IGoogleSlides.IExportHanshowOutput": {
        "type": "object",
        "properties": {
          "hanshow": {
            "type": "string",
            "format": "uri",
            "title": "파일 다운로드 링크"
          }
        },
        "required": [
          "hanshow"
        ]
      },
      "IGoogleSlides.IExportPresentationOutput": {
        "type": "object",
        "properties": {
          "powerPoint": {
            "type": "string",
            "format": "uri",
            "title": "파일 다운로드 링크"
          }
        },
        "required": [
          "powerPoint"
        ]
      },
      "IGoogleSlides.IGetPresentationInput": {
        "type": "object",
        "properties": {
          "presentationId": {
            "type": "string",
            "title": "검색의 대상이 되는 프레젠테이션 ID."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/presentations"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "presentationId",
          "secretKey"
        ],
        "title": "프레젠테이션 검색을 위한 조건 DTO."
      },
      "IGoogleSlides.Presentation": {
        "type": "object",
        "properties": {
          "presentationId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠네이션의 ID."
          },
          "pageSize": {
            "$ref": "#/components/schemas/IGoogleSlides.Size",
            "title": "프레젠테이션의 페이지 크기."
          },
          "slides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleSlides.Page"
            },
            "title": "프레젠테이션의 슬라이드.\n\n슬라이드는 슬라이드 레이아웃에서 속성을 상속합니다."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "프레젠테이션의 제목."
          },
          "masters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleSlides.Page"
            },
            "title": "프레젠테이션의 슬라이드 마스터.\n\n슬라이드 마스터에는 레이아웃 집합에 대한 모든 일반 페이지 요소와 공통 속성이 포함되어 있습니다. 다음과 같은 세 가지 용도로 사용됩니다.\n\n- 마스터의 자리표시자 도형은 해당 마스터를 사용하는 페이지에 있는 모든 자리표시자 도형의 기본 텍스트 스타일 및 도형 속성을 포함합니다.\n- 마스터 페이지 속성은 레이아웃에 상속되는 일반적인 페이지 속성을 정의합니다\n- 마스터 슬라이드의 다른 모든 도형은 레이아웃에 관계없이 해당 마스터를 사용하는 모든 슬라이드에 표시됩니다."
          },
          "layouts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleSlides.Page"
            },
            "title": "콘텐츠를 정렬하고 스타일을 지정하는 템플릿.\n\n프레젠테이션의 레이아웃 레이아웃은 해당 레이아웃에서 상속된 슬라이드에서 콘텐츠를 정렬하고 스타일을 지정하는 방식을 결정하는 템플릿입니다."
          },
          "locale": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Constanteu__type"
              },
              {
                "$ref": "#/components/schemas/Constantko__type"
              }
            ],
            "title": "프레젠테이션의 언어\n\nIETF BCP 47 언어 태크 형식."
          },
          "revisionId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "출력 전용 프레젠테이션 버전의 ID.\n\n마지막 읽기 작업 이후 프레젠테이션 버전이 변경되지 않았음을 어설션하는 업데이트 요청에 사용할 수 있습니다.\n\n사용자가 프레젠테이션에 대한 수정 액세스 권한이 있는 경우에만 채워집니다.\n\n버전 ID는 순차 번호가 아니라 모호한 문자열입니다.\n\n버전 ID의 형식은 시간이 지남에 따라 변경될 수 있으므로 불투명하게 처리해야 합니다.\n\n반환된 버전 ID는 반환된 후 24시간 동안만 유효하며 사용자 간에 공유할 수 없습니다.\n\n통화 간에 버전 ID가 변경되지 않으면 프레젠테이션이 변경되지 않은 것입니다.\n\n반대로, 변경된 ID (동일한 프레젠테이션 및 사용자)는 일반적으로 프레젠테이션이 업데이트되었음을 의미합니다.\n\n그러나 ID 형식 변경과 같은 내부 요인으로 인해 ID가 변경되었을 수도 있습니다."
          },
          "notesMaster": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IGoogleSlides.SlidePage"
              },
              {
                "$ref": "#/components/schemas/IGoogleSlides.LayoutPage"
              },
              {
                "$ref": "#/components/schemas/IGoogleSlides.NotesPage"
              },
              {
                "$ref": "#/components/schemas/IGoogleSlides.MasterPage"
              },
              {
                "$ref": "#/components/schemas/IGoogleSlides.NoteMasterPage"
              }
            ],
            "title": "프레젠테이션의 메모 마스터."
          }
        },
        "title": "Google Slides의 Presentation resource."
      },
      "IGoogleSlides.Size": {
        "type": "object",
        "properties": {
          "width": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "객체의 너비."
          },
          "height": {
            "$ref": "#/components/schemas/IGoogleSlides.Dimension",
            "title": "객체의 높이."
          }
        }
      },
      "IGoogleSlides.Dimension": {
        "type": "object",
        "properties": {
          "magnitude": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "규모."
          },
          "unit": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ConstantUNIT_UNSPECIFIED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantEMU__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPT__type"
              }
            ],
            "title": "크기 단위."
          }
        }
      },
      "ConstantUNIT_UNSPECIFIED__type": {
        "const": "UNIT_UNSPECIFIED",
        "title": "알 수 없는 단위"
      },
      "ConstantEMU__type": {
        "const": "EMU",
        "title": "영국식 단위 (EMU)",
        "description": "는 1센티미터의 1/360,000으로 정의되므로 인치당 914,400 EMU 및 포인트당 12,700 EMU가 있습니다."
      },
      "ConstantPT__type": {
        "const": "PT",
        "title": "포인트",
        "description": "1/72인치입니다."
      },
      "IGoogleSlides.Page": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/IGoogleSlides.SlidePage"
          },
          {
            "$ref": "#/components/schemas/IGoogleSlides.LayoutPage"
          },
          {
            "$ref": "#/components/schemas/IGoogleSlides.NotesPage"
          },
          {
            "$ref": "#/components/schemas/IGoogleSlides.MasterPage"
          },
          {
            "$ref": "#/components/schemas/IGoogleSlides.NoteMasterPage"
          }
        ]
      },
      "IGoogleSlides.SlidePage": {
        "type": "object",
        "properties": {
          "pageType": {
            "const": "SLIDE",
            "title": "페이지 유형."
          },
          "slideProperties": {
            "$ref": "#/components/schemas/IGoogleSlides.SlideProperties",
            "title": "특정 속성을 슬라이드한다."
          },
          "objectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이 페이지의 객체 ID.\n\n`Page`와 `PageElement`에서 사용하는 객체 ID는 동일한 네임스페이스를 공유한다."
          },
          "pageElements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleSlides.PageElement"
            },
            "title": "페이지에서 렌더링된 페이지 요소."
          },
          "pageProperties": {
            "$ref": "#/components/schemas/IGoogleSlides.PageProperties",
            "title": "페이지의 속성."
          }
        },
        "required": [
          "slideProperties"
        ]
      },
      "IGoogleSlides.SlideProperties": {
        "type": "object",
        "properties": {
          "layoutObjectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이 슬라이드의 기반이 되는 레이아웃의 객체 ID입니다."
          },
          "masterObjectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이 슬라이드의 기반이 되는 마스터 객체 ID입니다",
            "description": "이 슬라이드의 기반이 되는 마스터 객체 ID입니다."
          },
          "isSkipped": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean",
                "default": false
              }
            ],
            "title": "프레젠테이션 모드에서 슬라이드를 건너뛸지 여부."
          }
        }
      },
      "IGoogleSlides.PageElement": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/IGoogleSlides.ShapePageElement"
          },
          {
            "$ref": "#/components/schemas/IGoogleSlides.ImagePageElement"
          },
          {
            "$ref": "#/components/schemas/IGoogleSlides.LinePageElement"
          }
        ]
      },
      "IGoogleSlides.ShapePageElement": {
        "type": "object",
        "properties": {
          "shape": {
            "$ref": "#/components/schemas/IGoogleSlides.Shape",
            "title": "일반 셰이프."
          },
          "objectId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이 페이지 요소의 개체 ID.\n\n`Page`와 `PageElement`에서 사용하는 객체 ID는 동일한 네임스페이스를 공유한다."
          },
          "size": {
            "$ref": "#/components/schemas/IGoogleSlides.Size"
          },
          "transform": {
            "$ref": "#/components/schemas/IGoogleSlides.Transform",
            "title": "페이지 요소의 변환.\n\n페이지 요소의 시각적 모양은 절대 변환에 따라 결정됩니다.\n\n절대 변환을 계산하려면 페이지 요소의 변환을 모든 상위 그룹의 변환과 연결합니다.\n\n페이지 요소가 그룹에 없는 경우 절대 변환은 이 필드의 값과 동일합니다.\n\n새로 생성된 Group의 초기 변환은 항상 ID 변환입니다.",
            "description": "?"
          },
          "title": {
            "type": "string",
            "title": "페이지 요소의 제목.\n\n설명과 결합하여 대체 텍스트를 표시한다."
          },
          "description": {
            "type": "string",
            "title": "페이지 요소의 설명.\n\n제목과 결합하여 대체 텍스트를 표시한다."
          }
        },
        "required": [
          "shape"
        ]
      },
      "IGoogleSlides.Shape": {
        "type": "object",
        "properties": {
          "shapeType": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantTYPE_UNSPECIFIED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantTEXT_BOX__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROUND_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantELLIPSE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantARC__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBENT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBENT_UP_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBEVEL__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBLOCK_ARC__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBRACE_PAIR__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBRACKET_PAIR__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCAN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCHEVRON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCHORD__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCLOUD__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCORNER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCUBE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCURVED_DOWN_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCURVED_LEFT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCURVED_RIGHT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCURVED_UP_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDECAGON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDIAGONAL_STRIPE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDIAMOND__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDODECAGON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDONUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDOUBLE_WAVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDOWN_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantDOWN_ARROW_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFOLDED_CORNER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFRAME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantHALF_FRAME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantHEART__type"
              },
              {
                "$ref": "#/components/schemas/ConstantHEPTAGON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantHEXAGON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantHOME_PLATE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantHORIZONTAL_SCROLL__type"
              },
              {
                "$ref": "#/components/schemas/ConstantIRREGULAR_SEAL_1__type"
              },
              {
                "$ref": "#/components/schemas/ConstantIRREGULAR_SEAL_2__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_ARROW_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_BRACE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_BRACKET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_RIGHT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_RIGHT_ARROW_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_RIGHT_UP_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLEFT_UP_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLIGHTNING_BOLT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMATH_DIVIDE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMATH_EQUAL__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMATH_MINUS__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMATH_MULTIPLY__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMATH_NOT_EQUAL__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMATH_PLUS__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMOON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNO_SMOKING__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNOTCHED_RIGHT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantOCTAGON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPARALLELOGRAM__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPENTAGON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPIE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPLAQUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPLUS__type"
              },
              {
                "$ref": "#/components/schemas/ConstantQUAD_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantQUAD_ARROW_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRIBBON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRIBBON_2__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRIGHT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRIGHT_ARROW_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRIGHT_BRACE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRIGHT_BRACKET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROUND_1_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROUND_2_DIAGONAL_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROUND_2_SAME_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRIGHT_TRIANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSMILEY_FACE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSNIP_1_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSNIP_2_DIAGONAL_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSNIP_2_SAME_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSNIP_ROUND_RECTANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_10__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_12__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_16__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_24__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_32__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_4__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_5__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_6__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_7__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTAR_8__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTRIPED_RIGHT_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSUN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantTRAPEZOID__type"
              },
              {
                "$ref": "#/components/schemas/ConstantTRIANGLE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantUP_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantUP_ARROW_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantUP_DOWN_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantUTURN_ARROW__type"
              },
              {
                "$ref": "#/components/schemas/ConstantVERTICAL_SCROLL__type"
              },
              {
                "$ref": "#/components/schemas/ConstantWAVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantWEDGE_ELLIPSE_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantWEDGE_RECTANGLE_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantWEDGE_ROUND_RECTANGLE_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_ALTERNATE_PROCESS__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_COLLATE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_CONNECTOR__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_DECISION__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_DELAY__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_DISPLAY__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_DOCUMENT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_EXTRACT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_INPUT_OUTPUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_INTERNAL_STORAGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_MAGNETIC_DISK__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_MAGNETIC_DRUM__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_MAGNETIC_TAPE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_MANUAL_INPUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_MANUAL_OPERATION__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_MERGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_MULTIDOCUMENT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_OFFLINE_STORAGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_OFFPAGE_CONNECTOR__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_ONLINE_STORAGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_OR__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_PREDEFINED_PROCESS__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_PREPARATION__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_PROCESS__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_PUNCHED_CARD__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_PUNCHED_TAPE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_SORT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_SUMMING_JUNCTION__type"
              },
              {
                "$ref": "#/components/schemas/ConstantFLOW_CHART_TERMINATOR__type"
              },
              {
                "$ref": "#/components/schemas/ConstantARROW_EAST__type"
              },
              {
                "$ref": "#/components/schemas/ConstantARROW_NORTH_EAST__type"
              },
              {
                "$ref": "#/components/schemas/ConstantARROW_NORTH__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSPEECH__type"
              },
              {
                "$ref": "#/components/schemas/ConstantSTARBURST__type"
              },
              {
                "$ref": "#/components/schemas/ConstantTEARDROP__type"
              },
              {
                "$ref": "#/components/schemas/ConstantELLIPSE_RIBBON__type"
              },
              {
                "$ref": "#/components/schemas/ConstantELLIPSE_RIBBON_2__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCLOUD_CALLOUT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantCUSTOM__type"
              }
            ],
            "title": "도형의 유형."
          },
          "text": {
            "$ref": "#/components/schemas/IGoogleSlides.TextContent",
            "title": "도형의 텍스트 콘텐츠."
          },
          "shapeProperties": {
            "$ref": "#/components/schemas/IGoogleSlides.ShapeProperties",
            "title": "도형의 속성."
          },
          "placeholder": {
            "$ref": "#/components/schemas/IGoogleSlides.Placeholder",
            "title": "자리표시자는 레이아웃과 마스터의 해당 자리표시자에서 상속되는 페이지 요소.\n\n설정된 경우 도형은 자리표시자 도형이며 상속된 속성은 Placeholder.parent_object_id 필드로 식별된 상위 자리표시자를 확인하여 확인할 수 있습니다."
          }
        },
        "title": "도형의 유형."
      },
      "ConstantTYPE_UNSPECIFIED__type": {
        "const": "TYPE_UNSPECIFIED",
        "title": "사전 정의된 도형 유형."
      },
      "ConstantTEXT_BOX__type": {
        "const": "TEXT_BOX",
        "title": "텍스트 상자 도형"
      },
      "ConstantRECTANGLE__type": {
        "const": "RECTANGLE",
        "title": "직사각형 도형 ECMA-376 ST_ShapeType 'rect'에 해당합니다."
      },
      "ConstantROUND_RECTANGLE__type": {
        "const": "ROUND_RECTANGLE",
        "title": "모서리가 둥근 직사각형 ECMA-376 ST_ShapeType 'roundRect'에 해당합니다."
      },
      "ConstantELLIPSE__type": {
        "const": "ELLIPSE",
        "title": "타원형. ECMA-376 ST_ShapeType 'ellipse'에 해당합니다."
      },
      "ConstantARC__type": {
        "const": "ARC",
        "title": "구부러진 원호 모양 ECMA-376 ST_ShapeType 'arc'에 해당합니다."
      },
      "ConstantBENT_ARROW__type": {
        "const": "BENT_ARROW",
        "title": "휘어진 화살표 도형 ECMA-376 ST_ShapeType 'bentArrow'에 해당합니다."
      },
      "ConstantBENT_UP_ARROW__type": {
        "const": "BENT_UP_ARROW",
        "title": "위로 휘어진 화살표 모양 ECMA-376 ST_ShapeType 'bentUpArrow'에 해당합니다."
      },
      "ConstantBEVEL__type": {
        "const": "BEVEL",
        "title": "입체 테두리. ECMA-376 ST_ShapeType 'bevel'에 해당합니다."
      },
      "ConstantBLOCK_ARC__type": {
        "const": "BLOCK_ARC",
        "title": "블록 원호 모양 ECMA-376 ST_ShapeType 'blockArc'에 해당합니다."
      },
      "ConstantBRACE_PAIR__type": {
        "const": "BRACE_PAIR",
        "title": "중괄호 쌍 모양입니다. ECMA-376 ST_ShapeType 'bracePair'에 해당합니다."
      },
      "ConstantBRACKET_PAIR__type": {
        "const": "BRACKET_PAIR",
        "title": "괄호 쌍 모양 ECMA-376 ST_ShapeType 'rackPair'에 해당합니다."
      },
      "ConstantCAN__type": {
        "const": "CAN",
        "title": "도형을 만들 수 있습니다. ECMA-376 ST_ShapeType 'can'에 해당합니다."
      },
      "ConstantCHEVRON__type": {
        "const": "CHEVRON",
        "title": "갈매기형 도형 ECMA-376 ST_ShapeType 'chevron'에 해당합니다."
      },
      "ConstantCHORD__type": {
        "const": "CHORD",
        "title": "코드 모양 ECMA-376 ST_ShapeType 'chord'에 해당합니다."
      },
      "ConstantCLOUD__type": {
        "const": "CLOUD",
        "title": "구름 모양 ECMA-376 ST_ShapeType 'cloud'에 해당합니다."
      },
      "ConstantCORNER__type": {
        "const": "CORNER",
        "title": "모서리 모양 ECMA-376 ST_ShapeType 'corner'에 해당합니다."
      },
      "ConstantCUBE__type": {
        "const": "CUBE",
        "title": "정육면체 ECMA-376 ST_ShapeType 'cube'에 해당합니다."
      },
      "ConstantCURVED_DOWN_ARROW__type": {
        "const": "CURVED_DOWN_ARROW",
        "title": "아래쪽 화살표 모양 ECMA-376 ST_ShapeType 'curvedDown화살표'에 해당합니다."
      },
      "ConstantCURVED_LEFT_ARROW__type": {
[...]
