{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "version": "0.1.14",
    "title": "@wrtn/connector",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/llm/selector-llm": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "후보 선택을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "summary": "조건 선택",
        "description": "주어진 후보 중에서 조건에 맞는 것을 선택합니다."
      }
    },
    "/connector/google-shopping/musinsa": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "무신사 검색",
        "description": "상품을 무신사에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/musinsa.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/twenty-nine-centimeter": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "29cm 검색",
        "description": "상품을 29cm에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/twentynine_centimeter.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/eql": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "EQL 검색",
        "description": "상품을 EQL에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/eql.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/oco": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "OCO 검색",
        "description": "상품을 OCO에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/oco.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/uniqlo": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "유니클로 검색",
        "description": "상품을 유니클로에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/uniqlo.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/coupang": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "쿠팡 검색",
        "description": "상품을 쿠팡에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/coupang.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/market-kurly": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "마켓컬리 검색",
        "description": "상품을 마켓컬리에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kurly.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/iherb": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "아이허브 검색",
        "description": "상품을 아이허브에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/iherb.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/ali-express": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "알리 익스프레스 검색",
        "description": "상품을 알리 익스프레스에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/ali_express.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/olive-young": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "올리브영 검색",
        "description": "상품을 올리브영에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/olive_young.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/yes-twenty-four": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "yes24 검색",
        "description": "상품을 yes24에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/yes_twentyfour.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/aladine": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "알라딘 검색",
        "description": "상품을 알라딘에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/aladin.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "ISelectorLlmRequest": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {},
            "title": "선택지.",
            "description": "선택 후보군 리스트입니다."
          },
          "num_select": {
            "type": "number",
            "title": "선택 개수.",
            "description": "선택할 후보군의 개수입니다."
          },
          "context": {
            "title": "고려사항.",
            "description": "후보군을 선택할 때 고려해야할 내용들을 넣습니다."
          }
        },
        "required": [
          "candidates",
          "num_select",
          "context"
        ]
      },
      "ISelectorLlmResponse": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "title": "선택된 후보 인덱스 정보.",
            "description": "선택된 후보들의 인덱스 리스트입니다."
          }
        },
        "required": [
          "selection"
        ]
      },
      "IGoogleShopping.IRequestStandAlone": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "title": "검색어",
            "description": "검색할 키워드를 입력하세요."
          },
          "max_results": {
            "type": "integer",
            "title": "검색 결과 개수",
            "description": "검색 결과의 개수를 설정합니다."
          }
        },
        "required": [
          "keyword",
          "max_results"
        ],
        "title": "상품 검색 조건"
      },
      "IGoogleShopping.IResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "상품명"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "상품 링크"
          },
          "price": {
            "type": "string",
            "title": "상품 가격",
            "description": "₩57,600 형식"
          },
          "source": {
            "type": "string",
            "title": "상품 출처"
          },
          "deliveryCost": {
            "type": "string",
            "title": "배송비"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "contentMediaType": "image/*",
            "title": "상품 이미지"
          }
        },
        "required": [
          "title",
          "link",
          "price",
          "source",
          "deliveryCost",
          "thumbnail"
        ],
        "title": "상품 검색 결과"
      }
    }
  },
  "tags": [
    {
      "name": "Llm",
      "description": "selection 선택 추출"
    }
  ],
  "x-samchon-emended": true
}