{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "커뮤니케이션",
    "version": "0.1.25",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/daum/blog": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.IBlogDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 블로그 검색",
        "description": "다음 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/daum/cafe": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.ICafeDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 카페 검색",
        "description": "다음 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/cafe": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 카페 검색",
        "description": "네이버 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_cafe.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/blog": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 블로그 검색",
        "description": "네이버 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_blog.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/youtube-search": {
      "post": {
        "tags": [
          "Youtube",
          "유튜브",
          "동영상",
          "숏폼",
          "춋츠",
          "밈",
          "구독",
          "좋아요",
          "댓글",
          "라이브",
          "재생",
          "시청자",
          "구독자",
          "알림",
          "커뮤니티",
          "콘텐츠",
          "저작권",
          "조회수",
          "채널",
          "썸네일",
          "인급동",
          "인기",
          "YouTube",
          "Video",
          "Short-form",
          "Shorts",
          "Memes",
          "Upload",
          "Subscribe",
          "Like",
          "Comment",
          "Live",
          "Playlist",
          "Viewer",
          "Share",
          "Subscriber",
          "Notification",
          "Community",
          "Content",
          "Copyright",
          "Download",
          "Views",
          "Promote",
          "View",
          "Channel",
          "Thumbnail",
          "Trending"
        ],
        "parameters": [],
        "requestBody": {
          "description": "유튜브 영상 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "유튜브 영상 검색 결과 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "summary": "유튜브 영상 검색",
        "description": "유튜브 영상 검색 결과를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/youtube.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "후보 선택을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "summary": "조건 선택",
        "description": "주어진 후보 중에서 조건에 맞는 것을 선택합니다."
      }
    },
    "/connector/gmail/send": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일을 보내기 위해 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "전송된 메일의 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 전송",
        "description": "메일을 전송합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일 초안을 생성하기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 초안 생성",
        "description": "메일 초안을 생성 합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "답장할 메일",
            "description": "답장할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "메일 답장에 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 답장",
        "description": "수신된 메일에 답장을 보냅니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "가져올 메일",
            "description": "가져올 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "해당 메일의 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 정보 가져오기",
        "description": "메일의 정보를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일 리스트를 가져오기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "메일 리스트.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 리스트 가져오기",
        "description": "메일 리스트를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "삭제할 메일",
            "description": "삭제할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "GMAIL 삭제",
        "description": "메일을 삭제합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/label": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "라벨 생성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ILabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 라벨의 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ILabelOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 라벨 생성",
        "description": "라벨을 생성합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/label/{mailId}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "라벨을 부여할 메일",
            "description": "라벨을 부여할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "부여할 라벨의 고유 ID 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 라벨 부여",
        "description": "메일에 라벨을 부여합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      },
      "delete": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "라벨을 제거할 메일",
            "description": "라벨을 제거할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "제거할 라벨의 고유 ID 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "GMAIL 라벨 제거",
        "description": "메일에 부여된 라벨을 제거합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/chatbot/generate/easy": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "쉬움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 쉬움 챗봇 사용",
        "description": "쉬움 난이도로 제작된 챗봇을 사용합니다."
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "어려움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 어려움 챗봇 사용",
        "description": "어려움 난이도로 제작된 챗봇을 사용합니다."
      }
    },
    "/connector/kakao-talk/message/text": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 및 실패 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 친구에게 메시지 쓰기",
        "description": "친구에게 메시지를 카카오톡 메시지를 보냅니다",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg"
      }
    },
    "/connector/kakao-talk/memo/commerce": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/location": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/list": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/feed": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/text": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkTextInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/calendars/events": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일정 생성을 위한 입력 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ICreateEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 일정 ID DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ICreateEventOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 일정 추가.",
        "description": "카카오톡 캘린더에 일정을 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-friends": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "친구 목록 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회한 친구 모록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 친구 목록 조회",
        "description": "카카오톡 친구 목록을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-events": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일정 조회를 위한 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_idstringundefinedpresetConstantTODAYtitle조회당일ConstantTHIS_WEEKtitle일요일로시작하는조회일이포함된한주Constant...undefinedtime_zonestringundefinedlimit(number...2more...Maximum...)undefined..."
                  },
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_idstringundefinedpresetConstantTODAYtitle조회당일ConstantTHIS_WEEKtitle일요일로시작하는조회일이포함된한주Constant...undefinedtime_zonestringundefinedlimit(number...2more...Maximum...)undefined....o1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "일정 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetEventOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 일정 조회.",
        "description": "카카오톡 캘린더 일정을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-calendars": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "캘린더를 조회하기 위한 요청 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICommon.ISecretkakaotalk_calendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 목록 객체.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetCalendarOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 목록 조회.",
        "description": "카카오톡 캘린더 목록들을 모두 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IDaum.ISearchDaumInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "다음 검색 결과에 들어가야하는 키워드를 설정합니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "다음 검색 결과에 들어가면 좋은 키워드를 설정합니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "다음 검색 결과에 들어가면 안되는 키워드를 설정합니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "accuracy",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              },
              {
                "const": "recency",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              }
            ],
            "title": "결과 문서 정렬 방식",
            "description": "- accuracy: 정확도순 (default)\n- recency: 최신순"
          },
          "page": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 1,
            "title": "결과 페이지 번호",
            "description": "결과 페이지의 번호입니다."
          },
          "size": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "title": "한 페이지에 보여질 문서 수",
            "description": "한 페이지에 보여질 문서 수 입니다."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "다음 검색에 필요한 정보"
      },
      "IDaum.IBlogDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "검색된 컨텐츠 수",
                "description": "검색된 문서의 총 개수입니다."
              },
              "pageableCount": {
                "type": "number",
                "title": "검색된 문서 중 노출 가능한 컨텐츠 수",
                "description": "검색된 문서 중 노출 가능한 컨텐츠의 개수입니다."
              },
              "isEnd": {
                "type": "boolean",
                "title": "현재 페이지가 마지막 페이지인지 여부",
                "description": "값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "문서의 제목",
                  "description": "검색된 문서의 제목입니다."
                },
                "contents": {
                  "type": "string",
                  "title": "문서 본문중 일부",
                  "description": "검색된 문서의 본문 중 일부입니다."
                },
                "url": {
                  "type": "string",
                  "title": "문서 URL",
                  "description": "검색된 문서의 URL입니다."
                },
                "blogName": {
                  "type": "string",
                  "title": "블로그의 이름",
                  "description": "검색된 블로그의 이름입니다."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "썸네일 이미지 URL",
                  "description": "검색 시스템에서 추출한 대표 미리보기 이미지 URL."
                },
                "dateTime": {
                  "type": "string",
                  "title": "문서 작성 시간",
                  "description": "검색된 문서가 작성된 시간입니다."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "blogName",
                "thumbnail",
                "dateTime"
              ]
            }
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "다음 블로그 검색 결과"
      },
      "IDaum.ICafeDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "검색된 다음 카페 컨텐츠 수",
                "description": "검색된 다음 카페의 총 갯수 입니다."
              },
              "pageableCount": {
                "type": "number",
                "title": "검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠 수",
                "description": "검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠의 개수입니다."
              },
              "isEnd": {
                "type": "boolean",
                "title": "현재 페이지가 마지막 페이지인지 여부",
                "description": "값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "문서의 제목",
                  "description": "검색된 문서의 제목입니다."
                },
                "contents": {
                  "type": "string",
                  "title": "문서 본문중 일부",
                  "description": "검색된 문서의 본문 중 일부입니다."
                },
                "url": {
                  "type": "string",
                  "title": "문서 URL",
                  "description": "검색된 문서의 URL입니다."
                },
                "cafeName": {
                  "type": "string",
                  "title": "카페 이름",
                  "description": "검색된 다음 카페 이름입니다."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "썸네일 이미지 URL",
                  "description": "검색 시스템에서 추출한 대표 미리보기 이미지 URL."
                },
                "dateTime": {
                  "type": "string",
                  "title": "문서 작성 시간",
                  "description": "검색된 문서가 작성된 시간입니다."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "cafeName",
                "thumbnail",
                "dateTime"
              ]
            }
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "다음 카페 검색 결과"
      },
      "INaver.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 반드시 포함되어야 하는 키워드입니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "검색할 개수",
            "description": "검색 결과를 몇 개 받아올 것인지 설정합니다.\n최소 1개, 최대 100개, 기본 10개입니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim",
                "x-wrtn-placeholder": "sim"
              },
              {
                "const": "date",
                "x-wrtn-placeholder": "sim"
              }
            ],
            "title": "검색 결과 정렬 방법",
            "description": "검색 결과를 어떤 기준으로 정렬할 것인지 설정합니다."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "검색 조건"
      },
      "INaver.ICafeNaverOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lastBuildDate": {
                "type": "string",
                "title": "검색 결과를 생성한 시간.",
                "description": "검색 결과를 생성한 시간입니다."
              },
              "total": {
                "type": "number",
                "title": "총 검색 결과 개수.",
                "description": "검색 결과의 총 개수입니다."
              },
              "start": {
                "type": "number",
                "title": "검색 시작 위치.",
                "description": "검색 결과의 시작 위치입니다."
              },
              "display": {
                "type": "number",
                "title": "한 번에 표시할 검색 결과 개수.",
                "description": "한 번에 표시할 검색 결과의 개수입니다."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverItemOutput"
                },
                "title": "개별 검색 결과.",
                "description": "개별 검색 결과입니다."
              }
            },
            "required": [
              "lastBuildDate",
              "total",
              "start",
              "display",
              "items"
            ],
            "title": "네이버 카페 검색 결과물 데이터.",
            "description": "네이버 카페 검색 결과물 데이터."
          }
        },
        "required": [
          "data"
        ],
        "title": "네이버 카페 검색 결과"
      },
      "INaver.ICafeNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 카페 게시글의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 카페 게시글의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 카페 게시글의 요약 내용."
          },
          "cafename": {
            "type": "string",
            "title": "게시글이 있는 카페 이름.",
            "description": "네이버 카페 게시글이 있는 카페의 이름."
          },
          "cafeurl": {
            "type": "string",
            "title": "게시글이 있는 카페 링크.",
            "description": "네이버 카페 게시글이 있는 카페의 링크."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "cafename",
          "cafeurl"
        ],
        "title": "네이버 카페 검색 데이터"
      },
      "INaver.IBlogNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "검색 결과를 생성한 시간.",
            "description": "검색 결과를 생성한 시간입니다."
          },
          "total": {
            "type": "number",
            "title": "총 검색 결과 개수.",
            "description": "검색 결과의 총 개수입니다."
          },
          "start": {
            "type": "number",
            "title": "검색 시작 위치.",
            "description": "검색 결과의 시작 위치입니다."
          },
          "display": {
            "type": "number",
            "title": "한 번에 표시할 검색 결과 개수.",
            "description": "한 번에 표시할 검색 결과의 개수입니다."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.IBlogNaverItemOutput"
            },
            "title": "개별 검색 결과.",
            "description": "개별 검색 결과입니다."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ],
        "title": "네이버 블로그 검색 결과"
      },
      "INaver.IBlogNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 블로그 게시물의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 블로그 게시물의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 블로그 게시물의 요약 내용."
          },
          "bloggername": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 이름.",
            "description": "네이버 블로그 게시물이 있는 블로그의 이름."
          },
          "bloggerlink": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 주소.",
            "description": "네이버 블로그 게시물이 있는 블로그의 주소."
          },
          "postdate": {
            "type": "string",
            "title": "블로그 포스트가 작성된 날짜.",
            "description": "네이버 블로그 게시물이 작성된 날짜."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "bloggername",
          "bloggerlink",
          "postdate"
        ],
        "title": "네이버 블로그 검색 데이터"
      },
      "IYoutubeSearch.ISearchInput": {
        "type": "object",
        "properties": {
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "반드시 포함되어야 하는 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "포함되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "포함되면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "유튜브 검색 조건"
      },
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "산출물 정보",
            "description": "검색 결과에 대한 산출물 정보를 담고 있습니다."
          }
        },
        "required": [
          "references"
        ],
        "title": "검색 결과"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "산출물의 제목입니다."
          },
          "type": {
            "$ref": "#/components/schemas/IConnector.ReferenceType",
            "title": "산출물 타입",
            "description": "비디오, 이미지, 뉴스기사, 논문.."
          },
          "source": {
            "$ref": "#/components/schemas/IConnector.ContentProvider",
            "title": "산출물의 출처",
            "description": "유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "URL 주소",
            "description": "산출물의 URL 주소입니다."
          },
          "contents": {
            "type": "string",
            "title": "산출물 내용",
            "description": "산출물의 내용입니다."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "title": "산출물 이미지 url",
            "description": "산출물의 이미지 URL 주소입니다."
          },
          "statistics": {
            "$ref": "#/components/schemas/PartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "산출물 통계 자료 정보",
            "description": "산출물의 통계 자료 정보입니다."
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "IConnector.ReferenceType": {
        "oneOf": [
          {
            "const": "video"
          },
          {
            "const": "image"
          },
          {
            "const": "news_article"
          },
          {
            "const": "research_paper"
          }
        ],
        "title": "Connector 산출물 타입",
        "description": "비디오, 이미지, 뉴스기사, 논문.."
      },
      "IConnector.ContentProvider": {
        "oneOf": [
          {
            "const": "youtube"
          },
          {
            "const": "facebook"
          },
          {
            "const": "instagram"
          },
          {
            "const": "google_search"
          },
          {
            "const": "arxiv"
          },
          {
            "const": "google_news"
          }
        ],
        "title": "Connector 산출물 출처",
        "description": "산출물의 출처입니다."
      },
      "PartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        },
        "description": "Make all properties in T optional"
      },
      "ISelectorLlmRequest": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {},
            "title": "선택지.",
            "description": "선택 후보군 리스트입니다."
          },
          "num_select": {
            "type": "number",
            "title": "선택 개수.",
            "description": "선택할 후보군의 개수입니다."
          },
          "context": {
            "title": "고려사항.",
            "description": "후보군을 선택할 때 고려해야할 내용들을 넣습니다."
          }
        },
        "required": [
          "candidates",
          "num_select",
          "context"
        ]
      },
      "ISelectorLlmResponse": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "title": "선택된 후보 인덱스 정보.",
            "description": "선택된 후보들의 인덱스 리스트입니다."
          }
        },
        "required": [
          "selection"
        ]
      },
      "IGmail.ICreateMailInput": {
        "type": "object",
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "받는 사람 이메일 주소.",
            "description": "메일을 받는 사람의 이메일 주소."
          },
          "subject": {
            "type": "string",
            "title": "이메일 제목.",
            "description": "보낼 메일의 제목."
          },
          "body": {
            "type": "string",
            "title": "이메일 본문.",
            "description": "보낼 메일의 본문."
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "참조할 사람 이메일.",
            "description": "참조할 사람 이메일 주소."
          },
          "Bcc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "숨은참조할 사람 이메일.",
            "description": "숨은참조할 사람 이메일 주소."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "to",
          "subject",
          "body",
          "secretKey"
        ],
        "title": "메일을 보내기 위해 필요한 정보"
      },
      "IGmail.ISendMailOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "보낸 메일의 id.",
            "description": "보낸 메일의 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "메일 전송 결과"
      },
      "IGmail.IReplyInput": {
        "type": "object",
        "properties": {
          "replyText": {
            "type": "string",
            "title": "답장할 문구.",
            "description": "답장할 문구."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "replyText",
          "secretKey"
        ],
        "title": "메일 답장에 필요한 정보"
      },
      "IGmail.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "인증 정보"
      },
      "IGmail.IFindGmailOutput": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이메일 id.",
            "description": "이메일의 고유 id."
          },
          "labelIds": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "이메일 라벨 id.",
            "description": "이메일에 부여된 라벨 id."
          },
          "from": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "발신자 이메일.",
            "description": "이메일을 보낸 사람의 이메일 주소."
          },
          "subject": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "제목.",
            "description": "이메일의 제목."
          },
          "body": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "본문 요약.",
            "description": "이메일의 본문 요약."
          },
          "attachments": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGmail.IAttachmentOutput"
                }
              }
            ],
            "title": "첨부파일.",
            "description": "이메일에 첨부된 파일 목록."
          }
        },
        "title": "이메일 검색 결과"
      },
      "IGmail.IAttachmentOutput": {
        "type": "object",
        "properties": {
          "partId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "메시지 부분의 변경할 수 없는 ID.",
            "description": "메시지 부분의 변경할 수 없는 ID."
          },
          "mimeType": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "메시지 부분의 MIME 유형.",
            "description": "메세지의 MIME 유형입니다."
          },
          "filename": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 명.",
            "description": "이 메시지 부분이 첨부파일을 나타내는 경우에만 표시됩니다."
          },
          "headers": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGmail.IAttachmentHeader"
                }
              }
            ],
            "title": "첨부파일 헤더 정보.",
            "description": "전체 메시지 페이로드를 나타내는 최상위 메시지 부분에는 To, From, Subject와 같은 표준 RFC 2822 이메일 헤더가 포함됩니다."
          },
          "body": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGmail.IAttachmentBody"
              }
            ],
            "title": "첨부파일 헤더 body 정보.",
            "description": "이 부분의 메시지 부분 본문으로, 컨테이너 MIME 메시지 부분의 경우 비어 있을 수 있습니다."
          }
        },
        "title": "첨부파일 정보"
      },
      "IGmail.IAttachmentHeader": {
        "type": "object",
        "properties": {
          "name": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 헤더 타입.",
            "description": "첨부파일 헤더 타입."
          },
          "value": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 헤더 값.",
            "description": "첨부파일 헤더 값."
          }
        },
        "title": "첨부파일 헤더 정보"
      },
      "IGmail.IAttachmentBody": {
        "type": "object",
        "properties": {
          "attachmentId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "첨부파일 id.",
            "description": "첨부파일 고유 id입니다."
          },
          "size": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ],
            "title": "첨부파일 데이터의 바이트 수.",
            "description": "첨부파일 데이터의 바이트 수입니다."
          }
        },
        "title": "첨부파일 body 정보"
      },
      "IGmail.IFindEmailListInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "title": "보낸 사람의 이메일.",
            "description": "이메일을 보낸 사람의 이메일 주소."
          },
          "to": {
            "type": "string",
            "title": "받는 사람의 이메일.",
            "description": "이메일을 받는 사람의 이메일 주소."
          },
          "subject": {
            "type": "string",
            "title": "이메일 제목.",
            "description": "이메일 제목."
          },
          "after": {
            "type": "string",
            "title": "특정 날짜 이후.",
            "description": "해당 날짜 이후의 이메일만 반환."
          },
          "before": {
            "type": "string",
            "title": "특정 날짜 이전.",
            "description": "해당 날짜 이전의 이메일만 반환."
          },
          "label": {
            "type": "string",
            "title": "메일에 부여된 라벨.",
            "description": "메일에 부여된 라벨."
          },
          "maxResults": {
            "type": "number",
            "maximum": 500,
            "minimum": 1,
            "title": "최대 반환 갯수.",
            "description": "메일의 반환 갯수."
          },
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "필터링할 라벨 목록.",
            "description": "지정된 라벨 ID와 모두 일치하는 라벨이 있는 메일만 반환하기 위한 라벨 목록들."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "이메일 리스트 검색에 필요한 정보"
      },
      "IGmail.IFindGmailListOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
            },
            "title": "gmail 검색 데이터 정보.",
            "description": "검색된 gmail 데이터 정보."
          }
        },
        "required": [
          "data"
        ],
        "title": "이메일 리스트 검색 결과"
      },
      "IGmail.ILabelInput": {
        "type": "object",
        "properties": {
          "labelName": {
            "type": "string",
            "title": "라벨 이름.",
            "description": "생성할 라벨의 이름."
          },
          "labelListVisibility": {
            "oneOf": [
              {
                "const": "labelHide"
              },
              {
                "const": "labelShow"
              },
              {
                "const": "labelShowIfUnread"
              }
            ],
            "title": "라벨의 공개 상태.",
            "description": "생성할 라벨의 공개 상태.\n숨김 / 보임 / 안읽었을 때 보임"
          },
          "messageListVisibility": {
            "oneOf": [
              {
                "const": "hide"
              },
              {
                "const": "show"
              }
            ],
            "title": "라벨이 지정된 메일의 공개 상태.",
            "description": "생성된 라벨이 지정된 메일의 공개 상태.\n숨김 / 보임"
          },
          "color": {
            "$ref": "#/components/schemas/IGmail.ILabelColor",
            "title": "라벨 색깔.",
            "description": "생성할 메일 라벨의 색깔"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "labelName",
          "secretKey"
        ],
        "title": "라벨 생성에 필요한 정보"
      },
      "IGmail.ILabelColor": {
        "type": "object",
        "properties": {
          "textColor": {
            "type": "string",
            "title": "라벨 글씨 색.",
            "description": "라벨 글씨 색상."
          },
          "backgroundColor": {
            "type": "string",
            "title": "라벨 배경 색.",
            "description": "라벨 배경 색상."
          }
        },
        "required": [
          "textColor",
          "backgroundColor"
        ],
        "title": "라벨 색상"
      },
      "IGmail.ILabelOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "생성된 라벨 id.",
            "description": "생성된 라벨의 id."
          }
        },
        "required": [
          "id"
        ],
        "title": "라벨 생성 결과"
      },
      "IGmail.IMailLabelOperationInput": {
        "type": "object",
        "properties": {
          "labelIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "라벨 목록.",
            "description": "부여하거나 삭제할 라벨 목록들."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://mail.google.com/"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "labelIds",
          "secretKey"
        ],
        "title": "라벨 부여에 필요한 정보"
      },
      "IChatbot.IChatbotEasyGenerateInput": {
        "type": "object",
        "properties": {
          "difficulty": {
            "const": "easy",
            "title": "난이도",
            "description": "챗봇이 제작된 난이도 입니다."
          },
          "role": {
            "type": "string",
            "title": "역할",
            "description": "챗봇의 역할입니다."
          },
          "personality": {
            "type": "string",
            "title": "성격",
            "description": "챗봇의 성격입니다."
          },
          "requirement": {
            "type": "string",
            "title": "요구사항",
            "description": "챗봇의 요구사항입니다."
          },
          "name": {
            "type": "string",
            "title": "이름",
            "description": "챗봇의 이름입니다."
          },
          "description": {
            "type": "string",
            "title": "설명",
            "description": "챗봇의 설명입니다."
          },
          "message": {
            "type": "string",
            "title": "유저 발화",
            "description": "유저의 발화입니다."
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IChatbot.IHistory"
            },
            "title": "채팅 히스토리",
            "description": "채팅 히스토리 입니다."
          }
        },
        "required": [
          "difficulty",
          "role",
          "personality",
          "requirement",
          "name",
          "description",
          "message"
        ],
        "title": "쉬움 난이도 챗봇 사용을 위한 정보"
      },
      "IChatbot.IHistory": {
        "type": "object",
        "properties": {
          "role": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "assistant"
              }
            ],
            "title": "발화자 역할",
            "description": "발화자의 역할입니다."
          },
          "content": {
            "type": "string",
            "title": "발화 내용",
            "description": "발화 내용입니다."
          }
        },
        "required": [
          "role",
          "content"
        ],
        "title": "채팅 히스토리"
      },
      "IChatbot.IChatbotGenerateOutput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "title": "챗봇 응답",
            "description": "챗봇 응답 결과 입니다."
          }
        },
        "required": [
          "content"
        ],
        "title": "챗봇 응답"
      },
      "IChatbot.IChatBotHardGenerateInput": {
        "type": "object",
        "properties": {
          "difficulty": {
            "const": "hard",
            "title": "난이도",
            "description": "챗봇이 제작된 난이도 입니다."
          },
          "prompt": {
            "type": "string",
            "title": "프롬프트",
            "description": "LLM 요청시 필요한 프롬프트입니다."
          },
          "name": {
            "type": "string",
            "title": "이름",
            "description": "챗봇의 이름입니다."
          },
          "description": {
            "type": "string",
            "title": "설명",
            "description": "챗봇의 설명입니다."
          },
          "message": {
            "type": "string",
            "title": "유저 발화",
            "description": "유저의 발화입니다."
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IChatbot.IHistory"
            },
            "title": "채팅 히스토리",
            "description": "채팅 히스토리 입니다."
          }
        },
        "required": [
          "difficulty",
          "prompt",
          "name",
          "description",
          "message"
        ],
        "title": "어려움 난이도 챗봇 사용을 위한 정보"
      },
      "IKakaoTalk.ISendKakaoTalkToFriendsInput": {
        "type": "object",
        "properties": {
          "receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/kakao-talk/get-friends",
                "jmesPath": "{value:elements[].uuid, label:elements[].profile_nickname}"
              }
            },
            "minItems": 1,
            "maxItems": 5,
            "title": "친구의 uuid 값 목록"
          },
          "message": {
            "type": "string",
            "maxLength": 200,
            "title": "전송할 메시지"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "receiver_uuids",
          "message",
          "secretKey"
        ],
        "title": "메세지 전송 조건"
      },
      "IKakaoTalk.ISendKakaoTalkToFriendsOutput": {
        "type": "object",
        "properties": {
          "successful_receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "title": "전송에 성공한 친구 uuid 목록"
          },
          "failure_info": {
            "$ref": "#/components/schemas/IKakaoTalk.failureInfo",
            "title": "실패 정보"
          }
        },
        "title": "메시지 전송 결과"
      },
      "IKakaoTalk.failureInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "title": "에러 코드"
          },
          "msg": {
            "type": "string",
            "title": "에러 메시지"
          },
          "receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "title": "해당 에러 코드로 실패한 친구 uuid 목록"
          }
        },
        "required": [
          "code",
          "msg",
          "receiver_uuids"
        ],
        "title": "실패 정보"
      },
      "IKakaoTalk.ISendKakaoTalkCommerceInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ICommerceMemoInput",
            "title": "커머스 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.ICommerceMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "commerce",
            "x-wrtn-placeholder": "commerce",
            "title": "커머스 타입"
          },
          "commerce": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined..."
              },
              {
                "$ref": "#/components/schemas/product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined....o1"
              }
            ],
            "title": "상품 이름 및 가격 정보"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "메시지의 콘텐츠"
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "commerce",
          "content"
        ],
        "title": "커머스형 템플릿"
      },
      "product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined...": {
        "type": "object",
        "properties": {
          "product_name": {
            "type": "string",
            "title": "상품 이름 및 제목"
          },
          "regular_price": {
            "type": "integer",
            "title": "정상 가격"
          },
          "discount_price": {
            "type": "integer",
            "title": "할인된 가격"
          },
          "currency_unit": {
            "type": "string",
            "default": "원",
            "title": "통화 단위 또는 기호"
          },
          "currency_unit_position": {
            "oneOf": [
              {
                "const": 0,
                "title": "가격 뒤에 표시"
              },
              {
                "const": 1,
                "title": "가격 앞에 표시"
              }
            ],
            "title": "통화 단위 표시 위치"
          },
          "discount_rate": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "title": "할인률",
            "description": "0부터 100까지의 숫자"
          }
        },
        "required": [
          "regular_price"
        ]
      },
      "product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined....o1": {
        "type": "object",
        "properties": {
          "product_name": {
            "type": "string",
            "title": "상품 이름 및 제목"
          },
          "regular_price": {
            "type": "integer",
            "title": "정상 가격"
          },
          "discount_price": {
            "type": "integer",
            "title": "할인된 가격"
          },
          "currency_unit": {
            "type": "string",
            "default": "원",
            "title": "통화 단위 또는 기호"
          },
          "currency_unit_position": {
            "oneOf": [
              {
                "const": 0,
                "title": "가격 뒤에 표시"
              },
              {
                "const": 1,
                "title": "가격 앞에 표시"
              }
            ],
            "title": "통화 단위 표시 위치"
          },
          "fixedDiscountPrice": {
            "type": "integer",
            "minimum": 0,
            "title": "정액 할인 가격",
            "description": "할인율과 동시 사용 불가"
          }
        },
        "required": [
          "regular_price"
        ]
      },
      "IKakaoTalk.Button": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "x-wrtn-placeholder": "버튼 이름",
            "title": "버튼 이름"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "버튼의 링크"
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "버튼 정보"
      },
      "IKakaoTalk.IWebLink": {
        "type": "object",
        "properties": {
          "web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "웹 링크"
          }
        },
        "required": [
          "web_url"
        ],
        "title": "웹 링크"
      },
      "IKakaoTalk.IMobileWebLink": {
        "type": "object",
        "properties": {
          "mobile_web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "모바일 링크"
          }
        },
        "required": [
          "mobile_web_url"
        ],
        "title": "모바일 링크"
      },
      "IKakaoTalk.IAndroidAppLink": {
        "type": "object",
        "properties": {
          "android_execution_params": {
            "type": "string",
            "title": "앱 링크",
            "description": "해당 값이 없을 경우 mobile_web_url 이용"
          }
        },
        "required": [
          "android_execution_params"
        ],
        "title": "안드로이드 앱 링크"
      },
      "IKakaoTalk.IiOSAppLink": {
        "type": "object",
        "properties": {
          "ios_execution_params": {
            "type": "string",
            "title": "앱 링크",
            "description": "해당 값이 없을 경우 mobile_web_url 이용"
          }
        },
        "required": [
          "ios_execution_params"
        ],
        "title": "iOS 앱 링크"
      },
      "titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "타이틀."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 너비",
            "description": "픽셀 단위"
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 높이",
            "description": "픽셀 단위"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "클릭 시 이동할 링크 정보"
          }
        },
        "required": [
          "title",
          "link"
        ]
      },
      "image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "format": "url",
            "title": "이미지 URL",
            "description": "이미지의 크기는 `5MB`를 초과해선 안 된다."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 너비",
            "description": "픽셀 단위"
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 높이",
            "description": "픽셀 단위"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "클릭 시 이동할 링크 정보"
          }
        },
        "required": [
          "image_url",
          "link"
        ]
      },
      "descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "title": "상세 설명",
            "description": "title과 합쳐 최대 4줄 표시."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 너비",
            "description": "픽셀 단위"
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 높이",
            "description": "픽셀 단위"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "클릭 시 이동할 링크 정보"
          }
        },
        "required": [
          "description",
          "link"
        ]
      },
      "IKakaoTalk.IMemoOutput": {
        "type": "object",
        "properties": {
          "result_code": {
            "$ref": "#/components/schemas/Constant0__type",
            "title": "응답 코드"
          }
        },
        "required": [
          "result_code"
        ]
      },
      "Constant0__type": {
        "const": 0,
        "title": "성공",
        "description": "메시지 전송에 성공한 경우를 의미"
      },
      "IKakaoTalk.ISendKakaoTalkLocationInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ILocationMemoInput",
            "title": "위치 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.ILocationMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "location",
            "x-wrtn-placeholder": "location",
            "title": "위치 타입"
          },
          "address": {
            "type": "string",
            "title": "공유할 위치의 주소"
          },
          "address_title": {
            "type": "string",
            "title": "카카오톡 내의 지도 뷰에서 사용되는 타이틀"
          },
          "social": {
            "$ref": "#/components/schemas/IKakaoTalk.Social",
            "title": "부가적인 소셜 정보"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "메시지의 콘텐츠"
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "address",
          "content"
        ],
        "title": "위치형 템플릿"
      },
      "IKakaoTalk.Social": {
        "type": "object",
        "properties": {
          "like_count": {
            "type": "integer",
            "title": "콘텐츠의 좋아요 수"
          },
          "comment_count": {
            "type": "integer",
            "title": "콘텐츠의 댓글 수"
          },
          "shared_count": {
            "type": "integer",
            "title": "콘텐츠의 공유 수"
          },
          "view_count": {
            "type": "integer",
            "title": "콘텐츠의 조회 수"
          },
          "subscriber_count": {
            "type": "integer",
            "title": "콘텐츠의 구독 수"
          }
        },
        "title": "소셜 정보",
        "description": "5개의 속성 중 최대 3개까지만 표시한다. 우선 순위는 Like > Comment > Shared > View > Subscriber 순서."
      },
      "IKakaoTalk.ISendKakaoTalkListInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.IListMemoInput",
            "title": "리스트 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.IListMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "list",
            "x-wrtn-placeholder": "list",
            "title": "리스트 타입"
          },
          "header_title": {
            "type": "string",
            "maxLength": 200,
            "title": "리스트 상단에 노출되는 메인 타이틀"
          },
          "header_link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "헤더 타이틀 내용에 해당하는 링크 정보"
          },
          "contents": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
                },
                {
                  "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
                },
                {
                  "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
                }
              ]
            },
            "minItems": 2,
            "maxItems": 3,
            "title": "리스트에 노출되는 콘텐츠 목록"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "header_title",
          "header_link",
          "contents"
        ],
        "title": "리스트형 템플릿"
      },
      "IKakaoTalk.ISendKakaoTalkFeedInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.IFeedMemoInput",
            "title": "피드 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.IFeedMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "feed",
            "title": "피드 타입"
          },
          "item_content": {
            "$ref": "#/components/schemas/IKakaoTalk.ItemContent",
            "title": "아이템 영역에 포함할 콘텐츠"
          },
          "social": {
            "$ref": "#/components/schemas/IKakaoTalk.Social",
            "title": "콘텐츠에 대한 소셜 정보"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "메시지의 콘텐츠"
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "item_content",
          "content"
        ],
        "title": "피드형 템플릿"
      },
      "IKakaoTalk.ItemContent": {
        "type": "object",
        "properties": {
          "profile_text": {
            "type": "string",
            "maxLength": 16,
            "title": "헤더 또는 프로필 영역에 출력될 텍스트",
            "description": "profile_image_url 값이 없을 경우, 볼드(Bold)체로 된 제목만 담은 헤더 형태로 출력됨."
          },
          "profile_image_url": {
            "type": "string",
            "format": "url",
            "title": "프로필 이미지",
            "description": "작은 원형의 프로필 사진 형태로 출력됨."
          },
          "title_image_url": {
            "type": "string",
            "format": "url",
            "title": "아이템의 이미지",
            "description": "iOS 108*108, Android 98*98 크기. 1:1 비율이 아닌 이미지는 센터 크롭(Center crop) 방식으로 재조정됨."
          },
          "title_image_text": {
            "type": "string",
            "maxLength": 24,
            "title": "아이템의 제목",
            "description": "최대 2줄"
          },
          "title_image_category": {
            "type": "string",
            "maxLength": 14,
            "title": "카테고리",
            "description": "최대 1줄"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.ItemInfo"
            },
            "maxItems": 5,
            "title": "아이템 목록",
            "description": "각 텍스트 아이템 정보"
          },
          "sum": {
            "type": "string",
            "maxLength": 6,
            "title": "주문금액"
          },
          "sum_op": {
            "type": "string",
            "maxLength": 11,
            "title": "가격 합산 정보"
          }
        },
        "title": "아이템 콘텐츠"
      },
      "IKakaoTalk.ItemInfo": {
        "type": "object",
        "properties": {
          "item": {
            "type": "string",
            "maxLength": 6,
            "title": "아이템 이름"
          },
          "item_op": {
            "type": "string",
            "maxLength": 14,
            "title": "아이템 가격"
          }
        },
        "required": [
          "item",
          "item_op"
        ],
        "title": "아이템 정보"
      },
      "IKakaoTalk.ISendKakaoTalkTextInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ITextMemoInput",
            "title": "텍스트 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.ITextMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "text",
            "title": "텍스트 타입"
          },
          "text": {
            "type": "string",
            "maxLength": 200,
            "title": "본문"
          },
          "link": {
            "$ref": "#/components/schemas/IWebLinkIMobileWebLink",
            "title": "링크"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "text",
          "link"
        ],
        "title": "텍스트형 템플릿"
      },
      "IWebLinkIMobileWebLink": {
        "type": "object",
        "properties": {
          "web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "웹 링크"
          },
          "mobile_web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "모바일 링크"
          }
        },
        "required": [
          "web_url",
          "mobile_web_url"
        ]
      },
      "IKakaoTalk.ICreateEventInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "title": "일정을 생성할 캘린더 ID"
          },
          "event": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "maxLength": 50,
                "x-wrtn-placeholder": "일정 제목",
                "title": "일정 제목"
              },
              "time": {
                "$ref": "#/components/schemas/IKakaoTalk.Time",
                "title": "일정 시간"
              },
              "rrule": {
                "type": "string",
                "title": "일정의 반복 주기",
                "description": "RFC5545의 RRULE 형식"
              },
              "description": {
                "type": "string",
                "maxLength": 5000,
                "x-wrtn-placeholder": "일정 설명",
                "title": "일정 설명"
              },
              "location": {
                "$ref": "#/components/schemas/IKakaoTalk.Location",
                "title": "일정 장소"
              },
              "reminders": {
                "type": "array",
                "items": {
                  "type": "number",
                  "multipleOf": 5,
                  "minimum": -1440,
                  "maximum": 43200
                },
                "maxItems": 2,
                "title": "미리 알림 설정",
                "description": "분 단위이며, 5분 간격으로 최대 2개까지만 설정 가능. 종일 일정인 경우 -1440부터 시작 가능하며, 종일 일정이 아닌 경우 0부터 시작한다."
              },
              "color": {
                "oneOf": [
                  {
                    "const": "BLUE",
[...]
