{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "교육",
    "version": "0.1.19",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/arxiv-search": {
      "post": {
        "tags": [
          "Arxiv",
          "아카이브",
          "학술",
          "논문",
          "연구",
          "통계",
          "출처",
          "초록",
          "학회지",
          "학술지",
          "피어",
          "연구자",
          "참고",
          "인용",
          "학위",
          "과학",
          "기술",
          "h-인덱스",
          "수학",
          "물리학",
          "생물학",
          "컴퓨터과학",
          "화학",
          "머신러닝",
          "인공지능",
          "HCI",
          "대학원",
          "석사",
          "박사",
          "교수",
          "IEEE",
          "ACM",
          "AAAI",
          "NeurIPS",
          "ICML",
          "CVPR",
          "SIGGRAPH",
          "CHI",
          "ICCV",
          "ECCV",
          "ACL",
          "EMNLP",
          "ICASSP",
          "KDD",
          "WWW",
          "AAAS",
          "ACS",
          "APS",
          "AAS",
          "AGU",
          "GSA",
          "MRS",
          "RSC",
          "ESA",
          "ASCB",
          "ASM",
          "ASHG",
          "AACR",
          "AHA",
          "ADA",
          "SfN",
          "FASEB",
          "ISCB",
          "IUBMB",
          "ASME",
          "ASCE",
          "AIAA",
          "SAE",
          "SPIE",
          "AOM",
          "AMA",
          "AEA",
          "INFORMS",
          "APA",
          "APSA",
          "ASA",
          "MLA",
          "ISA",
          "UNESCO",
          "Academic",
          "Paper",
          "Find",
          "Cite",
          "Research",
          "Statistics",
          "Source",
          "Abstract",
          "Journal",
          "Peer-Reviewed",
          "Download",
          "Write",
          "Researcher",
          "References",
          "Citation",
          "Recommend",
          "Thesis",
          "Scientific",
          "Technical",
          "h-Index",
          "Mathematics",
          "Physics",
          "Biology",
          "Computer",
          "Chemistry",
          "Machine",
          "Artificial",
          "Human-Computer",
          "Graduate",
          "Master's",
          "PhD"
        ],
        "parameters": [],
        "requestBody": {
          "description": "아카이브 논문 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IConnector.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 조건을 기반으로 아카이브에서 검색된 논문 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "summary": "아카이브 논문 검색",
        "description": "입력한 검색 조건을 기반으로 아카이브에서 논문을 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/arxiv.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-scholar": {
      "post": {
        "tags": [
          "Google-Scholar",
          "구글",
          "학술",
          "논문",
          "연구",
          "통계",
          "출처",
          "초록",
          "학회지",
          "학술지",
          "피어",
          "연구자",
          "참고",
          "인용",
          "학위",
          "과학",
          "기술",
          "h-인덱스",
          "수학",
          "물리학",
          "생물학",
          "컴퓨터과학",
          "화학",
          "머신러닝",
          "인공지능",
          "HCI",
          "대학원",
          "석사",
          "박사",
          "교수",
          "ACM",
          "AAAI",
          "NeurIPS",
          "ICML",
          "CVPR",
          "SIGGRAPH",
          "CHI",
          "ICCV",
          "ECCV",
          "ACL",
          "EMNLP",
          "ICASSP",
          "KDD",
          "WWW",
          "AAAS",
          "ACS",
          "APS",
          "AAS",
          "AGU",
          "GSA",
          "MRS",
          "RSC",
          "ESA",
          "ASCB",
          "ASM",
          "ASHG",
          "AACR",
          "AHA",
          "ADA",
          "SfN",
          "FASEB",
          "ISCB",
          "IUBMB",
          "ASME",
          "ASCE",
          "AIAA",
          "SAE",
          "SPIE",
          "AOM",
          "AMA",
          "AEA",
          "INFORMS",
          "APA",
          "APSA",
          "ASA",
          "MLA",
          "ISA",
          "UNESCO",
          "Google",
          "Academic",
          "Paper",
          "Find",
          "Cite",
          "Research",
          "Statistics",
          "Source",
          "Abstract",
          "Journal",
          "Peer-Reviewed",
          "Download",
          "Write",
          "Researcher",
          "References",
          "Citation",
          "Recommend",
          "Thesis",
          "Scientific",
          "Technical",
          "h-Index",
          "Mathematics",
          "Physics",
          "Biology",
          "Computer",
          "Chemistry",
          "Machine",
          "Artificial",
          "Human-Computer",
          "Graduate",
          "Master's",
          "PhD"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 스콜라 논문 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleScholar.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 스콜라 논문 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleScholar.ISearchOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "구글 스콜라 논문 목록 검색",
        "description": "구글 스콜라에 있는 논문 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/google_scholar.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/notion/page": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "description": "페이지 생성에 필요한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreatePageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 페이지 고유 id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.ICreatePageOutput"
                }
              }
            }
          }
        },
        "summary": "페이지 생성",
        "description": "노션 페이지를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/page": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "페이지 정보들",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IReadPageOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "페이지 목록 조회",
        "description": "노션 워크스페이스에 존재하는 모든 페이지 목록을 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/users": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "유저 정보들",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IUserOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "유저 목록 조회",
        "description": "워크스페이스에 있는 유저 목록을 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/page/content/{pageId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/page",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.pageId)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "내용을 추가할 페이지",
            "description": "내용을 추가할 페이지를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "페이지에 추가할 내용 및 추가할 페이지 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IAppendPageToContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "void"
          }
        },
        "summary": "페이지에 내용 추가",
        "description": "페이지 끝에 내용을 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/database-info": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "데이터베이스 정보 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IDatabaseInfo"
                  }
                }
              }
            }
          }
        },
        "summary": "데이터베이스 목록 조회",
        "description": "데이터베이스에 아이템을 생성하기 위해 데이터베이스 목록을 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/database-info/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "정보를 받아올 데이터베이스",
            "description": "정보를 받아올 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "데이터베이스 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseInfo"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 정보 조회",
        "description": "데이터베이스에 아이템을 생성하기 위한 데이터베이스 정보를 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/database-item/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "아이템을 추가할 데이터베이스",
            "description": "아이템을 추가할 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "데이터베이스 아이템 생성에 필요한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 데이터베이스 아이템 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 생성",
        "description": "노션 테이블 데이터베이스에 아이템을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      },
      "patch": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "아이템을 수정할 데이터베이스",
            "description": "아이템을 수정할 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "수정할 데이터베이스 아이템 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IUpdateDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정된 데이터베이스 아이템 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 수정",
        "description": "데이터베이스에 있는 아이템 정보를 수정합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get-page-by-title": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "description": "페이지 제목",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IFindPageOrDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색된 페이지 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IFindPageByTitleOutput"
                }
              }
            }
          }
        },
        "summary": "제목으로 페이지 검색",
        "description": "제목으로 페이지를 검색합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/find-item-list/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "아이템 목록을 가져올 데이터베이스",
            "description": "아이템 목록을 가져올 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회된 데이터베이스 아이템 목록 정보",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 목록 조회",
        "description": "테이블 데이터베이스에 존재하는 아이템 목록을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/find-item/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "아이템 정보를 가져올 데이터베이스",
            "description": "아이템 정보를 가져올 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "데이터베이스 아이템 조회에 필요한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IFindDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회된 데이터베이스 아이템 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 조회",
        "description": "테이블 데이터베이스에 존재하는 아이템을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IConnector.ISearchInput": {
        "type": "object",
        "properties": {
          "num_results": {
            "type": "integer",
            "x-wrtn-placeholder": "10",
            "title": "검색 결과 개수",
            "description": "몇 개의 검색 결과를 가져올지 설정합니다."
          },
          "from_date": {
            "type": "string",
            "format": "date",
            "title": "검색 결과 시작 날짜",
            "description": "검색 결과 시작 날짜를 설정합니다."
          },
          "to_date": {
            "type": "string",
            "format": "date",
            "title": "검색 결과 종료 날짜",
            "description": "검색 결과 종료 날짜를 설정합니다."
          },
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "biology"
            },
            "title": "반드시 포함되어야 하는 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "ecosystem"
            },
            "title": "포함되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "pollution"
            },
            "title": "포함되면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "검색 조건",
        "description": "검색 조건을 입력합니다."
      },
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "산출물 정보",
            "description": "검색 결과에 대한 산출물 정보를 담고 있습니다."
          }
        },
        "required": [
          "references"
        ],
        "title": "검색 결과"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "산출물의 제목입니다."
          },
          "type": {
            "$ref": "#/components/schemas/IConnector.ReferenceType",
            "title": "산출물 타입",
            "description": "비디오, 이미지, 뉴스기사, 논문.."
          },
          "source": {
            "$ref": "#/components/schemas/IConnector.ContentProvider",
            "title": "산출물의 출처",
            "description": "유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "URL 주소",
            "description": "산출물의 URL 주소입니다."
          },
          "contents": {
            "type": "string",
            "title": "산출물 내용",
            "description": "산출물의 내용입니다."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "title": "산출물 이미지 url",
            "description": "산출물의 이미지 URL 주소입니다."
          },
          "statistics": {
            "$ref": "#/components/schemas/PartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "산출물 통계 자료 정보",
            "description": "산출물의 통계 자료 정보입니다."
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "IConnector.ReferenceType": {
        "oneOf": [
          {
            "const": "video"
          },
          {
            "const": "image"
          },
          {
            "const": "news_article"
          },
          {
            "const": "research_paper"
          }
        ],
        "title": "Connector 산출물 타입",
        "description": "비디오, 이미지, 뉴스기사, 논문.."
      },
      "IConnector.ContentProvider": {
        "oneOf": [
          {
            "const": "youtube"
          },
          {
            "const": "facebook"
          },
          {
            "const": "instagram"
          },
          {
            "const": "google_search"
          },
          {
            "const": "arxiv"
          },
          {
            "const": "google_news"
          }
        ],
        "title": "Connector 산출물 출처",
        "description": "산출물의 출처입니다."
      },
      "PartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        },
        "description": "Make all properties in T optional"
      },
      "IGoogleScholar.ISearchInput": {
        "type": "object",
        "properties": {
          "andKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "biology"
            },
            "title": "꼭 포함할 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "orKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "ecosystem"
            },
            "title": "포함 되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "notKeyword": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "pollution"
            },
            "title": "제외할 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          },
          "max_results": {
            "type": "integer",
            "x-wrtn-placeholder": "10",
            "title": "검색 결과 갯수",
            "description": "몇 개의 검색 결과를 받아올 것인지 설정합니다."
          }
        },
        "required": [
          "andKeyword",
          "max_results"
        ],
        "title": "검색 조건"
      },
      "IGoogleScholar.ISearchOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "검색 결과 데이터 고유 id",
            "description": "검색 결과 데이터의 고유 id 입니다."
          },
          "title": {
            "type": "string",
            "title": "검색된 논문 제목",
            "description": "검색된 논문의 제목입니다."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "검색된 논문 링크",
            "description": "검색된 논문의 링크입니다."
          },
          "snippet": {
            "type": "string",
            "title": "검색 결과 내용 단편",
            "description": "검색 결과의 내용 단편입니다."
          },
          "publication_info": {
            "type": "string",
            "title": "출판 요약 정보",
            "description": "검색된 논문의 출판 요약 정보입니다."
          },
          "resource": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleScholar.IResource"
                }
              }
            ],
            "title": "참고자료 정보",
            "description": "검색된 논문의 참고자료 정보입니다."
          },
          "citation_count": {
            "type": "integer",
            "title": "인용된 횟수",
            "description": "검색된 논문이 인용된 횟수입니다."
          },
          "related_pages_link": {
            "type": "string",
            "format": "uri",
            "title": "관련 학술 자료 링크",
            "description": "검색된 논문과 관련된 학술 자료 링크입니다."
          },
          "version_info": {
            "$ref": "#/components/schemas/IGoogleScholar.IVersion",
            "title": "버전 정보",
            "description": "검색된 논문의 버전 정보입니다."
          }
        },
        "required": [
          "id",
          "title",
          "link",
          "snippet",
          "publication_info",
          "resource",
          "citation_count",
          "related_pages_link",
          "version_info"
        ],
        "title": "검색 결과"
      },
      "IGoogleScholar.IResource": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "참고 자료 제목",
            "description": "참고 자료의 제목입니다."
          },
          "file_format": {
            "type": "string",
            "title": "참고자료 파일 형식",
            "description": "참고자료 파일의 형식입니다."
          },
          "link": {
            "type": "string",
            "format": "uri",
            "title": "참고자료 링크",
            "description": "참고자료의 링크입니다."
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "참고 자료"
      },
      "IGoogleScholar.IVersion": {
        "type": "object",
        "properties": {
          "version": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ],
            "title": "버전 정보",
            "description": "버전 정보입니다."
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "버전 관련 링크",
            "description": "버전 관련 링크입니다."
          }
        },
        "required": [
          "version",
          "link"
        ],
        "title": "버전"
      },
      "INotion.ICreatePageInput": {
        "type": "object",
        "properties": {
          "parentPageId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/notion/get/page",
              "array": "return response",
              "value": "return elem.pageId",
              "label": "return elem.title"
            },
            "x-wrtn-placeholder": "부모 페이지를 선택하세요.",
            "title": "부모 페이지",
            "description": "새로 생성할 페이지의 부모 페이지"
          },
          "title": {
            "type": "string",
            "x-wrtn-placeholder": "테스트 페이지.",
            "title": "페이지 제목",
            "description": "새로 생성할 페이지 제목"
          },
          "content": {
            "type": "string",
            "x-wrtn-placeholder": "테스트 페이지를 생성했습니다.",
            "title": "내용",
            "description": "페이지에 생성할 내용"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "parentPageId",
          "title",
          "content",
          "secretKey"
        ],
        "title": "페이지 생성에 필요한 조건"
      },
      "INotion.ICreatePageOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "페이지 id",
            "description": "생성된 페이지의 고유 id"
          }
        },
        "required": [
          "id"
        ],
        "title": "페이지 생성 결과"
      },
      "INotion.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "INotion.IReadPageOutput": {
        "type": "object",
        "properties": {
          "pageId": {
            "type": "string",
            "title": "id",
            "description": "페이지 고유 id"
          },
          "title": {
            "type": "string",
            "title": "제목",
            "description": "페이지 제목"
          }
        },
        "required": [
          "pageId",
          "title"
        ],
        "title": "페이지 목록 조회 결과"
      },
      "INotion.IUserOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "id",
            "description": "유저 고유 id"
          },
          "name": {
            "type": "string",
            "title": "이름",
            "description": "유저 이름"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "title": "유저 목록 조회 결과"
      },
      "INotion.IAppendPageToContentInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼 스튜디오",
            "title": "내용",
            "description": "페이지에 추가할 내용"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "content",
          "secretKey"
        ],
        "title": "페이지에 내용을 추가할 때 필요한 정보"
      },
      "INotion.IDatabaseInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "id",
            "description": "데이터베이스 고유 id"
          },
          "title": {
            "type": "string",
            "title": "제목P",
            "description": "데이터베이스 제목"
          },
          "properties": {
            "$ref": "#/components/schemas/RecordstringINotion.DatabaseProperty",
            "title": "속성",
            "description": "데이터베이스 속성 정보"
          }
        },
        "required": [
          "id",
          "title",
          "properties"
        ],
        "title": "데이터베이스 정보"
      },
      "RecordstringINotion.DatabaseProperty": {
        "type": "object",
        "properties": {},
        "description": "Construct a type with a set of properties K of type T",
        "additionalProperties": {
          "$ref": "#/components/schemas/INotion.DatabaseProperty"
        }
      },
      "INotion.DatabaseProperty": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/INotion.NumberDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.FormulaDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.SelectDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.MultiSelectDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.StatusDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.RelationDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.RollupDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.TitleDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.RichTextDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.UrlDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.PeopleDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.FilesDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.EmailDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.PhoneNumberDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.DateDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.CheckboxDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.CreatedByDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.CreatedTimeDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.LastEditedByDatabaseProperty"
          },
          {
            "$ref": "#/components/schemas/INotion.LastEditedTimeDatabaseProperty"
          }
        ],
        "title": "데이터베이스 속성"
      },
      "INotion.NumberDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "number"
          },
          "number": {
            "type": "object",
            "properties": {
              "format": {
                "$ref": "#/components/schemas/INotion.NumberFormat"
              }
            },
            "required": [
              "format"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "number"
        ],
        "title": "데이터베이스 숫자 속성"
      },
      "INotion.NumberFormat": {
        "oneOf": [
          {
            "const": "number"
          },
          {
            "const": "number_with_commas"
          },
          {
            "const": "percent"
          },
          {
            "const": "dollar"
          },
          {
            "const": "canadian_dollar"
          },
          {
            "const": "singapore_dollar"
          },
          {
            "const": "euro"
          },
          {
            "const": "pound"
          },
          {
            "const": "yen"
          },
          {
            "const": "ruble"
          },
          {
            "const": "rupee"
          },
          {
            "const": "won"
          },
          {
            "const": "yuan"
          },
          {
            "const": "real"
          },
          {
            "const": "lira"
          },
          {
            "const": "rupiah"
          },
          {
            "const": "franc"
          },
          {
            "const": "hong_kong_dollar"
          },
          {
            "const": "new_zealand_dollar"
          },
          {
            "const": "krona"
          },
          {
            "const": "norwegian_krone"
          },
          {
            "const": "mexican_peso"
          },
          {
            "const": "rand"
          },
          {
            "const": "new_taiwan_dollar"
          },
          {
            "const": "danish_krone"
          },
          {
            "const": "zloty"
          },
          {
            "const": "baht"
          },
          {
            "const": "forint"
          },
          {
            "const": "koruna"
          },
          {
            "const": "shekel"
          },
          {
            "const": "chilean_peso"
          },
          {
            "const": "philippine_peso"
          },
          {
            "const": "dirham"
          },
          {
            "const": "colombian_peso"
          },
          {
            "const": "riyal"
          },
          {
            "const": "ringgit"
          },
          {
            "const": "leu"
          },
          {
            "const": "argentine_peso"
          },
          {
            "const": "uruguayan_peso"
          },
          {
            "const": "peruvian_sol"
          }
        ],
        "title": "데이터베이스 숫자 포맷"
      },
      "INotion.FormulaDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "formula"
          },
          "formula": {
            "type": "object",
            "properties": {
              "expression": {
                "type": "string"
              }
            },
            "required": [
              "expression"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "formula"
        ],
        "title": "데이터베이스 공식 속성"
      },
      "INotion.SelectDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "select"
          },
          "select": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "$ref": "#/components/schemas/INotion.Color"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color"
                  ]
                }
              }
            },
            "required": [
              "options"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "select"
        ],
        "title": "데이터베이스 선택 속성"
      },
      "INotion.Color": {
        "oneOf": [
          {
            "const": "default"
          },
          {
            "const": "gray"
          },
          {
            "const": "brown"
          },
          {
            "const": "orange"
          },
          {
            "const": "yellow"
          },
          {
            "const": "green"
          },
          {
            "const": "blue"
          },
          {
            "const": "purple"
          },
          {
            "const": "pink"
          },
          {
            "const": "red"
          }
        ],
        "title": "색상"
      },
      "INotion.MultiSelectDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "multi_select"
          },
          "multi_select": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "$ref": "#/components/schemas/INotion.Color"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color"
                  ]
                }
              }
            },
            "required": [
              "options"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "multi_select"
        ],
        "title": "데이터베이스 다중 선택 속성"
      },
      "INotion.StatusDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "status"
          },
          "status": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "$ref": "#/components/schemas/INotion.Color"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color"
                  ]
                }
              },
              "groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "$ref": "#/components/schemas/INotion.Color"
                    },
                    "option_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "option_ids"
                  ]
                }
              }
            },
            "required": [
              "options",
              "groups"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "status"
        ],
        "title": "데이터베이스 상태 속성"
      },
      "INotion.RelationDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "relation"
          },
          "relation": {
            "type": "object",
            "properties": {
              "database_id": {
                "type": "string"
              },
              "synced_property_id": {
                "type": "string"
              },
              "synced_property_name": {
                "type": "string"
              }
            },
            "required": [
              "database_id",
              "synced_property_id",
              "synced_property_name"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "relation"
        ],
        "title": "데이터베이스 관계 속성"
      },
      "INotion.RollupDatabaseProperty": {
        "type": "object",
        "properties": {
          "type": {
            "const": "rollup"
          },
          "rollup": {
            "type": "object",
            "properties": {
              "rollup_property_name": {
                "type": "string"
              },
              "relation_property_name": {
                "type": "string"
              },
              "rollup_property_id": {
                "type": "string"
              },
              "relation_property_id": {
                "type": "string"
              },
              "function": {
                "$ref": "#/components/schemas/INotion.RollupFunction"
              }
            },
            "required": [
              "rollup_property_name",
              "relation_property_name",
              "rollup_property_id",
              "relation_property_id",
              "function"
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "rollup",
          "id",
          "name"
        ],
        "title": "데이터베이스 집계 속성"
      },
      "INotion.RollupFunction": {
        "oneOf": [
          {
            "const": "count"
          },
          {
            "const": "count_values"
          },
          {
            "const": "empty"
          },
          {
            "const": "not_empty"
          },
          {
            "const": "unique"
          },
          {
            "const": "show_unique"
          },
          {
            "const": "percent_empty"
          },
          {
            "const": "percent_not_empty"
          },
          {
            "const": "sum"
          },
          {
            "const": "average"
          },
          {
            "const": "median"
          },
          {
            "const": "min"
          },
          {
            "const": "max"
          },
          {
            "const": "range"
          },
          {
            "const": "earliest_date"
          },
          {
            "const": "latest_date"
          },
          {
            "const": "date_range"
          },
          {
            "const": "checked"
          },
          {
            "const": "unchecked"
          },
          {
            "const": "percent_checked"
          },
          {
            "const": "percent_unchecked"
          },
          {
            "const": "count_per_group"
          },
          {
            "const": "percent_per_group"
          },
          {
            "const": "show_original"
          }
        ],
        "title": "집계 함수"
      },
      "INotion.TitleDatabaseProperty": {
        "type": "object",
        "properties": {
          "type": {
            "const": "title"
          },
          "title": {
            "$ref": "#/components/schemas/Recordstringnever"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "id",
          "name"
        ],
        "title": "데이터베이스 제목 속성"
      },
      "Recordstringnever": {
        "type": "object",
        "properties": {},
        "description": "Construct a type with a set of properties K of type T"
      },
      "INotion.RichTextDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "rich_text"
          },
          "rich_text": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "rich_text"
        ],
        "title": "데이터베이스 텍스트 속성"
      },
      "INotion.UrlDatabaseProperty": {
        "type": "object",
        "properties": {
          "type": {
            "const": "url"
          },
          "url": {
            "$ref": "#/components/schemas/Recordstringnever"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "url",
          "id",
          "name"
        ],
        "title": "데이터베이스 Url 속성"
      },
      "INotion.PeopleDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "people"
          },
          "people": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "people"
        ],
        "title": "데이터베이스 사람 속성"
      },
      "INotion.FilesDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "files"
          },
          "files": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "files"
        ],
        "title": "데이터베이스 파일 속성"
      },
      "INotion.EmailDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "email"
          },
          "email": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "email"
        ],
        "title": "데이터베이스 이메일 속성"
      },
      "INotion.PhoneNumberDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "phone_number"
          },
          "phone_number": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "phone_number"
        ],
        "title": "데이터베이스 전화번호 속성"
      },
      "INotion.DateDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "date"
          },
          "date": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "date"
        ],
        "title": "데이터베이스 날짜 속성"
      },
      "INotion.CheckboxDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "checkbox"
          },
          "checkbox": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "checkbox"
        ],
        "title": "데이터베이스 체크박스 속성"
      },
      "INotion.CreatedByDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "created_by"
          }
        },
        "required": [
          "id",
          "name",
          "type"
        ],
        "title": "데이터베이스 작성자 속성"
      },
      "INotion.CreatedTimeDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "created_time"
          },
          "created_time": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "created_time"
        ],
        "title": "데이터베이스 작성 시간 속성"
      },
      "INotion.LastEditedByDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "last_edited_by"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "last_edited_by"
        ],
        "title": "데이터베이스 마지막 수정자 속성"
      },
      "INotion.LastEditedTimeDatabaseProperty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "const": "last_edited_time"
          },
          "last_edited_time": {
            "$ref": "#/components/schemas/Recordstringnever"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "last_edited_time"
        ],
        "title": "데이터베이스 수정 시간 속성"
      },
      "INotion.ICreateDatabaseItemInput": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "title": "속성 값",
            "description": "데이터베이스 속성에 추가할 값"
          },
          "content": {
            "type": "string",
            "title": "페이지에 넣을 내용",
            "description": "생성할 데이터베이스 아이템 페이지에 넣을 내용"
          },
          "contentType": {
            "oneOf": [
              {
                "const": "plainText"
              },
              {
                "const": "markdown"
              }
            ],
            "title": "페이지 내용의 유형",
            "description": "생성할 데이터베이스 아이템 페이지 내용 유형"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "데이터베이스에 아이템을 추가할 때 필요한 정보",
        "additionalProperties": {}
      },
      "INotion.IDatabaseItemOutput": {
        "type": "object",
        "properties": {
          "parent": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "title": "유형",
                "description": "부모 데이터베이스 아이템 객체 유형"
              },
              "database_id": {
                "type": "string",
                "title": "데이터베이스 id",
                "description": "데이터 베이스 아이템 부모 id"
              }
            },
            "required": [
              "type",
              "database_id"
            ],
            "title": "부모 데이터베이스 아이템",
            "description": "부모 데이터베이스 아이템 정보"
          },
          "properties": {
            "title": "속성",
            "description": "데이터베이스 아이템 속성"
          },
          "object": {
            "$ref": "#/components/schemas/INotion.NotionObject",
            "title": "개체 유형",
            "description": "페이지 객체의 유형"
          },
          "created_time": {
            "type": "string",
            "title": "생성 일자",
            "description": "페이지가 생성된 일자"
          },
          "last_edited_time": {
            "type": "string",
            "title": "마지막 수정 일자",
            "description": "페이지가 마지막으로 수정된 일자"
          },
          "created_by": {
            "type": "object",
            "properties": {
              "object": {
                "$ref": "#/components/schemas/INotion.NotionObject",
                "title": "개체 유형",
                "description": "페이지를 생성한 사람 객체의 유형"
              },
              "id": {
                "type": "string",
                "title": "id",
                "description": "페이지를 생성한 사람의 고유 id"
              }
            },
            "required": [
              "object",
              "id"
            ],
            "title": "생성한 사람",
            "description": "페이지를 생성한 사람에 대한 정보"
          },
          "last_edited_by": {
            "type": "object",
            "properties": {
              "object": {
                "$ref": "#/components/schemas/INotion.NotionObject",
                "title": "개체 유형",
                "description": "페이지를 마지막으로 수정한 사람 객체의 유형"
              },
              "id": {
                "type": "string",
                "title": "id",
                "description": "페이지를 마지막으로 수정한 사람의 고유 id"
              }
            },
            "required": [
              "object",
              "id"
            ],
            "title": "마지막으로 수정한 사람",
            "description": "페이지를 마지막으로 수정한 사람에 대한 정보"
          },
          "cover": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/INotion.IPageCover"
              }
            ],
            "title": "배경 이미지",
            "description": "페이지 배경 이미지 정보"
          },
          "icon": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/INotion.IPageIcon"
              }
            ],
            "title": "아이콘",
            "description": "페이지 아이콘 정보"
          },
          "archived": {
            "type": "boolean",
            "title": "임시 보관 여부",
            "description": "페이지 임시 보관 여부"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "url",
            "description": "페이지 url"
          },
          "public_url": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "공개 url",
            "description": "페이지 공개 url"
          },
          "id": {
            "type": "string",
            "title": "페이지 id",
            "description": "생성된 페이지의 고유 id"
          }
        },
        "required": [
          "parent",
          "properties",
          "object",
          "created_time",
          "last_edited_time",
          "created_by",
          "last_edited_by",
          "cover",
          "icon",
          "archived",
          "url",
          "public_url",
          "id"
        ],
        "title": "데이터베이스 아이템 생성 결과"
      },
      "INotion.NotionObject": {
        "oneOf": [
          {
            "const": "database"
          },
          {
            "const": "page"
          },
          {
            "const": "user"
          },
          {
            "const": "block"
          },
          {
            "const": "property_item"
          },
          {
            "const": "list"
          },
          {
            "const": "comment"
          }
        ],
        "title": "노션 개체 유형",
        "description": "- database: 데이터베이스\n- page: 페이지\n- user: 사람\n- block: 블럭\n- property_item: 속성 아이템\n- list: 목록\n- comment: 댓글"
      },
      "INotion.IPageCover": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "title": "유형",
            "description": "이미지 유형"
          },
          "external": {
            "$ref": "#/components/schemas/INotion.IExternalImage",
            "title": "이미지",
            "description": "이미지 정보"
          }
        },
        "required": [
          "type",
          "external"
        ],
        "title": "페이지 배경 이미지 정보"
      },
      "INotion.IExternalImage": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "title": "url",
            "description": "이미지 url"
          }
        },
        "required": [
          "url"
        ],
        "title": "외부 이미지 정보"
      },
      "INotion.IPageIcon": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/INotion.IconType",
            "title": "유형",
            "description": "아이콘 유형"
          },
          "emoji": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이모지 아이콘",
            "description": "아이콘 유형이 emoji 일 때의 아이콘 정보"
          },
          "external": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/INotion.IExternalImage"
              }
            ],
            "title": "아이콘",
            "description": "아이콘 유형이 icon 일 때의 아이콘 정보"
          },
          "file": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "title": "url",
                "description": "파일 url"
              },
              "expiry_time": {
                "type": "string",
                "title": "만료시간",
                "description": "이미지 파일 만료시간"
              }
            },
            "required": [
              "url",
              "expiry_time"
            ],
            "title": "아이콘 파일",
            "description": "아이콘 유형이 file 일 때의 아이콘 정보"
          }
        },
        "required": [
          "type"
        ],
        "title": "페이지 아이콘 정보"
      },
      "INotion.IconType": {
        "oneOf": [
          {
            "const": "emoji"
          },
          {
            "const": "external"
          },
          {
            "const": "file"
          }
        ],
        "title": "노션 페이지 아이콘의 유형",
        "description": "- emoji: 이모지\n- external: 외부 이미지\n- file: 이미지 파일"
      },
      "INotion.IUpdateDatabaseItemInput": {
        "type": "object",
        "properties": {
          "pageId": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/notion/get/page",
              "array": "return response",
              "value": "return elem.pageId",
              "label": "return elem.title"
            },
            "title": "페이지",
            "description": "업데이트 할 페이지"
          },
          "content": {
            "type": "string",
            "title": "내용",
            "description": "업데이트 할 데이터베이스 페이지 내용"
          },
          "value": {
            "type": "string",
            "title": "속성 값",
            "description": "업데이트 할 데이터베이스 속성 값"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "pageId",
          "secretKey"
        ],
        "title": "데이터베이스에 존재하는 아이템을 수정할 때 필요한 정보",
        "additionalProperties": {}
      },
      "INotion.IFindPageOrDatabaseItemInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "페이지 제목"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "title",
          "secretKey"
        ],
        "title": "페이지 검색에 필요한 정보"
      },
      "INotion.IFindPageByTitleOutput": {
        "type": "object",
        "properties": {
          "parent": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "title": "유형",
                "description": "부모 페이지 객체 유형"
              },
              "workspace": {
                "type": "boolean",
                "title": "워크스페이스 여부",
                "description": "부모 페이지가 워크스페이스 인지 여부"
              }
            },
            "required": [
              "type",
              "workspace"
            ],
            "title": "부모 페이지",
            "description": "부모 페이지 정보"
          },
          "properties": {
            "$ref": "#/components/schemas/INotion.IFindPageProperty",
            "title": "속성",
            "description": "페이지 속성 정보"
          },
          "object": {
            "$ref": "#/components/schemas/INotion.NotionObject",
            "title": "개체 유형",
            "description": "페이지 객체의 유형"
          },
          "created_time": {
            "type": "string",
            "title": "생성 일자",
            "description": "페이지가 생성된 일자"
          },
          "last_edited_time": {
            "type": "string",
            "title": "마지막 수정 일자",
            "description": "페이지가 마지막으로 수정된 일자"
          },
          "created_by": {
            "type": "object",
            "properties": {
              "object": {
                "$ref": "#/components/schemas/INotion.NotionObject",
                "title": "개체 유형",
                "description": "페이지를 생성한 사람 객체의 유형"
              },
              "id": {
                "type": "string",
                "title": "id",
                "description": "페이지를 생성한 사람의 고유 id"
              }
            },
            "required": [
              "object",
              "id"
            ],
            "title": "생성한 사람",
            "description": "페이지를 생성한 사람에 대한 정보"
          },
          "last_edited_by": {
            "type": "object",
            "properties": {
              "object": {
                "$ref": "#/components/schemas/INotion.NotionObject",
                "title": "개체 유형",
                "description": "페이지를 마지막으로 수정한 사람 객체의 유형"
              },
              "id": {
                "type": "string",
                "title": "id",
                "description": "페이지를 마지막으로 수정한 사람의 고유 id"
              }
            },
            "required": [
              "object",
              "id"
            ],
            "title": "마지막으로 수정한 사람",
            "description": "페이지를 마지막으로 수정한 사람에 대한 정보"
          },
          "cover": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/INotion.IPageCover"
              }
            ],
            "title": "배경 이미지",
            "description": "페이지 배경 이미지 정보"
          },
          "icon": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/INotion.IPageIcon"
              }
            ],
            "title": "아이콘",
            "description": "페이지 아이콘 정보"
          },
          "archived": {
            "type": "boolean",
            "title": "임시 보관 여부",
            "description": "페이지 임시 보관 여부"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "url",
            "description": "페이지 url"
          },
          "public_url": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "공개 url",
            "description": "페이지 공개 url"
          },
          "id": {
            "type": "string",
            "title": "페이지 id",
            "description": "생성된 페이지의 고유 id"
          }
        },
        "required": [
          "parent",
          "properties",
          "object",
          "created_time",
          "last_edited_time",
          "created_by",
          "last_edited_by",
          "cover",
          "icon",
          "archived",
          "url",
          "public_url",
          "id"
        ]
      },
      "INotion.IFindPageProperty": {
        "type": "object",
        "properties": {
          "title": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "id",
                "description": "페이지 속성 id"
              },
              "type": {
                "type": "string",
                "title": "속성 유형",
                "description": "페이지 속성 유형"
              },
              "title": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INotion.IFindPageTitleProperty"
                },
                "title": "제목 속성",
                "description": "페이지 제목 속성 정보"
              }
            },
            "required": [
              "id",
              "type",
              "title"
            ],
            "title": "제목 속성",
            "description": "제목 속성의 정보"
          }
        },
        "required": [
          "title"
        ],
        "title": "페이지 속성 정보"
      },
      "INotion.IFindPageTitleProperty": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "title": "유형",
            "description": "제목 속성 유형"
          },
          "text": {
            "$ref": "#/components/schemas/INotion.IPageTitleText",
            "title": "텍스트 정보",
            "description": "페이지 제목 텍스트 정보"
          },
          "annotations": {
            "$ref": "#/components/schemas/INotion.IPageTitleAnnotation",
            "title": "부가 정보",
            "description": "페이지 제목 부가 정보"
          },
          "plain_text": {
            "type": "string",
            "title": "원본",
            "description": "페이지 제목 원본 텍스트"
          },
          "href": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "링크",
            "description": "페이지 링크"
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ],
        "title": "페이지 제목 속성"
      },
      "INotion.IPageTitleText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "title": "내용",
            "description": "제목 텍스트 내용"
          },
          "link": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "링크",
            "description": "페이지 제목 링크"
          }
        },
        "required": [
          "content",
          "link"
        ],
        "title": "페이지 제목 텍스트 정보"
      },
      "INotion.IPageTitleAnnotation": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "title": "볼드체 여부",
            "description": "제목 텍스트 볼드체 여부"
          },
          "italic": {
            "type": "boolean",
            "title": "이탤릭체 여부",
            "description": "제목 텍스트 이탤릭체 여부"
          },
          "strikethrough": {
            "type": "boolean",
            "title": "취소선 여부",
            "description": "제목 텍스트 취소선 여부"
          },
          "underline": {
            "type": "boolean",
            "title": "밑줄 여부",
            "description": "제목 텍스트 밑줄 여부"
          },
          "code": {
            "type": "boolean",
            "title": "코드로 감싸져 있는지 여부",
            "description": "제목 텍스트가 코드로 감싸져 있는지 여부"
          },
          "color": {
            "type": "string",
            "title": "색깔",
            "description": "제목 텍스트 색상"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ],
        "title": "페이지 제목 부가 정보"
      },
      "INotion.IFindDatabaseItemInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "데이터베이스 아이템에 있는 아이템의 제목"
          },
          "number": {
            "type": "integer",
            "title": "숫자",
            "description": "데이터베이스 아이템에 있는 숫자"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "url",
            "description": "데이터베이스 아이템에 있는 url"
          },
          "email": {
            "type": "string",
            "format": "email",
            "title": "이메일 주소",
            "description": "데이터베이스 아이템에 있는 이메일 주소"
          },
          "rich_text": {
            "type": "string",
            "title": "텍스트",
            "description": "데이터베이스 아이템에 있는 텍스트"
          },
          "phone_number": {
            "type": "string",
            "title": "전화번호",
            "description": "데이터베이스 아이템에 있는 전화번호"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "notion",
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "데이터베이스에 있는 아이템을 찾을 때 필요한 정보",
        "additionalProperties": {}
      }
    }
  },
  "tags": [
    {
      "name": "Arxiv"
    },
    {
      "name": "아카이브"
    },
    {
      "name": "학술",
      "description": "검색"
    },
    {
      "name": "논문",
      "description": "찾기"
    },
    {
      "name": "연구",
      "description": "논문"
    },
    {
      "name": "통계"
    },
    {
      "name": "출처"
    },
    {
      "name": "초록",
      "description": "요약"
    },
    {
      "name": "학회지"
    },
    {
      "name": "학술지"
    },
    {
      "name": "피어",
      "description": "리뷰 논문"
    },
    {
      "name": "연구자"
    },
    {
      "name": "참고",
      "description": "문헌"
    },
    {
      "name": "인용",
      "description": "지수"
    },
    {
      "name": "학위",
      "description": "논문"
    },
    {
      "name": "과학",
      "description": "논문"
    },
    {
      "name": "기술",
      "description": "논문"
    },
    {
      "name": "h-인덱스"
    },
    {
      "name": "수학"
    },
    {
      "name": "물리학"
    },
    {
      "name": "생물학"
    },
    {
      "name": "컴퓨터과학"
    },
    {
      "name": "화학"
    },
    {
      "name": "머신러닝"
    },
    {
      "name": "인공지능"
    },
    {
      "name": "HCI"
    },
    {
      "name": "대학원",
      "description": "프로그램 추천"
    },
    {
      "name": "석사"
    },
    {
      "name": "박사"
    },
    {
      "name": "교수",
      "description": "추천"
    },
    {
      "name": "IEEE"
    },
    {
      "name": "ACM"
    },
    {
      "name": "AAAI"
    },
    {
      "name": "NeurIPS"
    },
    {
      "name": "ICML"
    },
    {
      "name": "CVPR"
    },
    {
      "name": "SIGGRAPH"
    },
    {
      "name": "CHI"
    },
    {
      "name": "ICCV"
    },
    {
      "name": "ECCV"
    },
    {
      "name": "ACL"
    },
    {
      "name": "EMNLP"
    },
    {
      "name": "ICASSP"
    },
    {
      "name": "KDD"
    },
    {
      "name": "WWW"
    },
    {
      "name": "AAAS"
    },
    {
      "name": "ACS"
    },
    {
      "name": "APS"
    },
    {
      "name": "AAS"
    },
    {
      "name": "AGU"
    },
    {
      "name": "GSA"
    },
    {
      "name": "MRS"
    },
    {
      "name": "RSC"
    },
    {
      "name": "ESA"
    },
    {
      "name": "ASCB"
    },
    {
      "name": "ASM"
    },
    {
      "name": "ASHG"
    },
    {
      "name": "AACR"
    },
    {
      "name": "AHA"
    },
    {
      "name": "ADA"
    },
    {
      "name": "SfN"
    },
    {
      "name": "FASEB"
    },
    {
      "name": "ISCB"
    },
    {
      "name": "IUBMB"
    },
    {
      "name": "ASME"
    },
    {
      "name": "ASCE"
    },
    {
      "name": "AIAA"
    },
    {
      "name": "SAE"
    },
    {
      "name": "SPIE"
    },
    {
      "name": "AOM"
    },
    {
      "name": "AMA"
    },
    {
      "name": "AEA"
    },
    {
      "name": "INFORMS"
    },
    {
      "name": "APA"
    },
    {
      "name": "APSA"
    },
    {
      "name": "ASA"
    },
    {
      "name": "MLA"
    },
    {
      "name": "ISA"
    },
    {
      "name": "UNESCO"
    },
    {
      "name": "Academic",
      "description": "Search"
    },
    {
      "name": "Paper"
    },
    {
      "name": "Find",
      "description": "Papers"
    },
    {
      "name": "Cite",
      "description": "Papers"
    },
    {
      "name": "Research",
      "description": "Paper"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Source"
    },
    {
      "name": "Abstract",
      "description": "Summary"
    },
    {
      "name": "Journal"
    },
    {
      "name": "Peer-Reviewed",
      "description": "Paper"
    },
    {
      "name": "Download",
      "description": "Paper"
    },
    {
      "name": "Write",
      "description": "Paper"
    },
    {
      "name": "Researcher"
    },
    {
      "name": "References"
    },
    {
      "name": "Citation",
      "description": "Index"
    },
    {
      "name": "Recommend",
      "description": "Papers"
    },
    {
      "name": "Thesis"
    },
    {
      "name": "Scientific",
      "description": "Paper"
    },
    {
      "name": "Technical",
      "description": "Paper"
    },
    {
      "name": "h-Index"
    },
    {
      "name": "Mathematics"
    },
    {
      "name": "Physics"
    },
    {
      "name": "Biology"
    },
    {
      "name": "Computer",
      "description": "Science"
    },
    {
      "name": "Chemistry"
    },
    {
      "name": "Machine",
      "description": "Learning"
    },
    {
      "name": "Artificial",
      "description": "Intelligence"
    },
    {
      "name": "Human-Computer",
      "description": "Interaction"
    },
    {
      "name": "Graduate",
      "description": "School"
    },
    {
      "name": "Master's"
    },
    {
      "name": "PhD"
    },
    {
      "name": "Google-Scholar"
    },
    {
      "name": "구글",
      "description": "스칼라"
    },
    {
      "name": "Google",
      "description": "Scholar"
    },
    {
      "name": "Notion"
    },
    {
      "name": "노션"
    },
    {
      "name": "노트"
    },
    {
      "name": "메모"
    },
    {
      "name": "작업",
      "description": "관리"
    },
    {
      "name": "프로젝트",
      "description": "관리"
    },
    {
      "name": "할",
      "description": "일 목록"
    },
    {
      "name": "일정",
      "description": "관리"
    },
    {
      "name": "문서",
      "description": "작성"
    },
    {
      "name": "회의록",
      "description": "작성"
    },
    {
      "name": "체크리스트"
    },
    {
      "name": "아이디어",
      "description": "정리"
    },
    {
      "name": "업무",
      "description": "기록"
    },
    {
      "name": "학습",
      "description": "노트"
    },
    {
      "name": "스터디",
      "description": "플래너"
    },
    {
      "name": "제품기획"
    },
    {
      "name": "이력서"
    },
    {
      "name": "포트폴리오"
    },
    {
      "name": "협업"
    },
    {
      "name": "Note"
    },
    {
      "name": "Memo"
    },
    {
      "name": "Task",
      "description": "Management"
    },
    {
      "name": "Project",
      "description": "Management"
    },
    {
      "name": "To",
      "description": "do list"
    },
    {
      "name": "Schedule",
      "description": "Management"
    },
    {
      "name": "Document",
      "description": "Creation"
    },
    {
      "name": "Meeting",
      "description": "Notes"
    },
    {
      "name": "Checklist"
    },
    {
      "name": "Idea",
      "description": "Organization"
    },
    {
      "name": "Work",
      "description": "Logging"
    },
    {
      "name": "Study",
      "description": "Notes"
    },
    {
      "name": "Product",
      "description": "Management"
    },
    {
      "name": "Resume"
    },
    {
      "name": "Portfolio"
    },
    {
      "name": "Collaboration"
    }
  ],
  "x-samchon-emended": true
}