{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "엔터테인먼트",
    "version": "0.1.26",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/youtube-search": {
      "post": {
        "tags": [
          "Youtube",
          "유튜브",
          "동영상",
          "숏폼",
          "춋츠",
          "밈",
          "구독",
          "좋아요",
          "댓글",
          "라이브",
          "재생",
          "시청자",
          "구독자",
          "알림",
          "커뮤니티",
          "콘텐츠",
          "저작권",
          "조회수",
          "채널",
          "썸네일",
          "인급동",
          "인기",
          "YouTube",
          "Video",
          "Short-form",
          "Shorts",
          "Memes",
          "Upload",
          "Subscribe",
          "Like",
          "Comment",
          "Live",
          "Playlist",
          "Viewer",
          "Share",
          "Subscriber",
          "Notification",
          "Community",
          "Content",
          "Copyright",
          "Download",
          "Views",
          "Promote",
          "View",
          "Channel",
          "Thumbnail",
          "Trending"
        ],
        "parameters": [],
        "requestBody": {
          "description": "유튜브 영상 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "유튜브 영상 검색 결과 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "summary": "유튜브 영상 검색",
        "description": "유튜브 영상 검색 결과를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/youtube.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "후보 선택을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "summary": "조건 선택",
        "description": "주어진 후보 중에서 조건에 맞는 것을 선택합니다."
      }
    },
    "/connector/chatbot/generate/easy": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "쉬움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 쉬움 챗봇 사용",
        "description": "쉬움 난이도로 제작된 챗봇을 사용합니다."
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "어려움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 어려움 챗봇 사용",
        "description": "어려움 난이도로 제작된 챗봇을 사용합니다."
      }
    },
    "/connector/kakao-talk/message/text": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 및 실패 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 친구에게 메시지 쓰기",
        "description": "친구에게 텍스트 타입 카카오톡 메시지를 보냅니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg"
      }
    },
    "/connector/kakao-talk/memo/commerce": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 커머스 타입 메시지를 보냅니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/location": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 위치 타입 메시지를 보냅니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/list": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 리스트 타입 메시지를 보냅니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/feed": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 피드 타입 메시지를 보냅니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/text": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkTextInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 텍스트 타입 메시지를 보냅니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/calendars/events": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일정 생성을 위한 입력 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ICreateEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 일정 ID 조건",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ICreateEventOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 일정 추가",
        "description": "카카오톡 캘린더에 일정을 추가합니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-friends": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "친구 목록 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회한 친구 모록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 친구 목록 조회",
        "description": "카카오톡 친구 목록을 조회합니다\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-events": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일정 조회를 위한 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres..."
                  },
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres....o1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "일정 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetEventOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 일정 조회",
        "description": "카카오톡 캘린더 일정을 조회합니다\n\n유저에게 인자로 캘린더의 아이디를 받아야 합니다.\n캘린더를 주지 않을 경우, 기본 값으로 자기 자신의 캘린더를 조회합니다.\n따라서 캘린더 아이디를 지정하지 않은 경우에도 단독으로 사용 가능한 기능이기도 합니다.\n\n일정 조회 조건으로는 일정을 조회하는 기간을 명시해야 합니다.\n이 커넥터에서는 일주일 혹은 한 달 치의 데이터를 볼 수 있도록 설계되어 있습니다.\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-calendars": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "캘린더를 조회하기 위한 요청 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICommon.ISecretkakaotalk_calendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 목록 객체.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetCalendarOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 목록 조회",
        "description": "카카오톡 캘린더 목록들을 모두 조회합니다\n\n캘린더는 두 종류로 자신의 기본 캘린더들과 내가 구독하고 있는 캘린더가 있을 수 있습니다.\n모든 카카오 유저들은 자기 자신의 개인 캘린더가 존재하기 때문에 1개 이상의 캘린더는 존재할 것입니다.\n기본 캘린더에는 아이디가 `primary` 라는 값으로 되어 있는 캘린더가 있는데, 이 캘린더는 유저 자기 자신의 캘린더입니다.\n\n카카오톡(KakaoTalk)은 대한민국의 모바일 메신저 애플리케이션으로, 또한 그 외 부가적인 서비스를 함께 제공하고 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IYoutubeSearch.ISearchInput": {
        "type": "object",
        "properties": {
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "반드시 포함되어야 하는 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "포함되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "포함되면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "유튜브 검색 조건"
      },
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "산출물 정보",
            "description": "검색 결과에 대한 산출물 정보를 담고 있습니다."
          }
        },
        "required": [
          "references"
        ],
        "title": "검색 결과"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "산출물의 제목입니다."
          },
          "type": {
            "$ref": "#/components/schemas/IConnector.ReferenceType",
            "title": "산출물 타입",
            "description": "비디오, 이미지, 뉴스기사, 논문.."
          },
          "source": {
            "$ref": "#/components/schemas/IConnector.ContentProvider",
            "title": "산출물의 출처",
            "description": "유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "URL 주소",
            "description": "산출물의 URL 주소입니다."
          },
          "contents": {
            "type": "string",
            "title": "산출물 내용",
            "description": "산출물의 내용입니다."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "title": "산출물 이미지 url",
            "description": "산출물의 이미지 URL 주소입니다."
          },
          "statistics": {
            "$ref": "#/components/schemas/PartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "산출물 통계 자료 정보",
            "description": "산출물의 통계 자료 정보입니다."
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "IConnector.ReferenceType": {
        "oneOf": [
          {
            "const": "video"
          },
          {
            "const": "image"
          },
          {
            "const": "news_article"
          },
          {
            "const": "research_paper"
          }
        ],
        "title": "Connector 산출물 타입",
        "description": "비디오, 이미지, 뉴스기사, 논문.."
      },
      "IConnector.ContentProvider": {
        "oneOf": [
          {
            "const": "youtube"
          },
          {
            "const": "facebook"
          },
          {
            "const": "instagram"
          },
          {
            "const": "google_search"
          },
          {
            "const": "arxiv"
          },
          {
            "const": "google_news"
          }
        ],
        "title": "Connector 산출물 출처",
        "description": "산출물의 출처입니다."
      },
      "PartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        },
        "description": "Make all properties in T optional"
      },
      "ISelectorLlmRequest": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {},
            "title": "선택지.",
            "description": "선택 후보군 리스트입니다."
          },
          "num_select": {
            "type": "number",
            "title": "선택 개수.",
            "description": "선택할 후보군의 개수입니다."
          },
          "context": {
            "title": "고려사항.",
            "description": "후보군을 선택할 때 고려해야할 내용들을 넣습니다."
          }
        },
        "required": [
          "candidates",
          "num_select",
          "context"
        ]
      },
      "ISelectorLlmResponse": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "title": "선택된 후보 인덱스 정보.",
            "description": "선택된 후보들의 인덱스 리스트입니다."
          }
        },
        "required": [
          "selection"
        ]
      },
      "IChatbot.IChatbotEasyGenerateInput": {
        "type": "object",
        "properties": {
          "difficulty": {
            "const": "easy",
            "title": "난이도",
            "description": "챗봇이 제작된 난이도 입니다."
          },
          "role": {
            "type": "string",
            "title": "역할",
            "description": "챗봇의 역할입니다."
          },
          "personality": {
            "type": "string",
            "title": "성격",
            "description": "챗봇의 성격입니다."
          },
          "requirement": {
            "type": "string",
            "title": "요구사항",
            "description": "챗봇의 요구사항입니다."
          },
          "name": {
            "type": "string",
            "title": "이름",
            "description": "챗봇의 이름입니다."
          },
          "description": {
            "type": "string",
            "title": "설명",
            "description": "챗봇의 설명입니다."
          },
          "message": {
            "type": "string",
            "title": "유저 발화",
            "description": "유저의 발화입니다."
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IChatbot.IHistory"
            },
            "title": "채팅 히스토리",
            "description": "채팅 히스토리 입니다."
          }
        },
        "required": [
          "difficulty",
          "role",
          "personality",
          "requirement",
          "name",
          "description",
          "message"
        ],
        "title": "쉬움 난이도 챗봇 사용을 위한 정보"
      },
      "IChatbot.IHistory": {
        "type": "object",
        "properties": {
          "role": {
            "oneOf": [
              {
                "const": "user"
              },
              {
                "const": "assistant"
              }
            ],
            "title": "발화자 역할",
            "description": "발화자의 역할입니다."
          },
          "content": {
            "type": "string",
            "title": "발화 내용",
            "description": "발화 내용입니다."
          }
        },
        "required": [
          "role",
          "content"
        ],
        "title": "채팅 히스토리"
      },
      "IChatbot.IChatbotGenerateOutput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "title": "챗봇 응답",
            "description": "챗봇 응답 결과 입니다."
          }
        },
        "required": [
          "content"
        ],
        "title": "챗봇 응답"
      },
      "IChatbot.IChatBotHardGenerateInput": {
        "type": "object",
        "properties": {
          "difficulty": {
            "const": "hard",
            "title": "난이도",
            "description": "챗봇이 제작된 난이도 입니다."
          },
          "prompt": {
            "type": "string",
            "title": "프롬프트",
            "description": "LLM 요청시 필요한 프롬프트입니다."
          },
          "name": {
            "type": "string",
            "title": "이름",
            "description": "챗봇의 이름입니다."
          },
          "description": {
            "type": "string",
            "title": "설명",
            "description": "챗봇의 설명입니다."
          },
          "message": {
            "type": "string",
            "title": "유저 발화",
            "description": "유저의 발화입니다."
          },
          "histories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IChatbot.IHistory"
            },
            "title": "채팅 히스토리",
            "description": "채팅 히스토리 입니다."
          }
        },
        "required": [
          "difficulty",
          "prompt",
          "name",
          "description",
          "message"
        ],
        "title": "어려움 난이도 챗봇 사용을 위한 정보"
      },
      "IKakaoTalk.ISendKakaoTalkToFriendsInput": {
        "type": "object",
        "properties": {
          "receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/kakao-talk/get-friends",
                "jmesPath": "{value:elements[].uuid, label:elements[].profile_nickname}"
              }
            },
            "minItems": 1,
            "maxItems": 5,
            "title": "친구의 uuid 값 목록"
          },
          "message": {
            "type": "string",
            "maxLength": 200,
            "title": "전송할 메시지"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "receiver_uuids",
          "message",
          "secretKey"
        ],
        "title": "메세지 전송 조건"
      },
      "IKakaoTalk.ISendKakaoTalkToFriendsOutput": {
        "type": "object",
        "properties": {
          "successful_receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "title": "전송에 성공한 친구 uuid 목록"
          },
          "failure_info": {
            "$ref": "#/components/schemas/IKakaoTalk.failureInfo",
            "title": "실패 정보"
          }
        },
        "title": "메시지 전송 결과"
      },
      "IKakaoTalk.failureInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "title": "에러 코드"
          },
          "msg": {
            "type": "string",
            "title": "에러 메시지"
          },
          "receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5,
            "title": "해당 에러 코드로 실패한 친구 uuid 목록"
          }
        },
        "required": [
          "code",
          "msg",
          "receiver_uuids"
        ],
        "title": "실패 정보"
      },
      "IKakaoTalk.ISendKakaoTalkCommerceInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ICommerceMemoInput",
            "title": "커머스 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.ICommerceMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "commerce",
            "x-wrtn-placeholder": "commerce",
            "title": "커머스 타입"
          },
          "commerce": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined..."
              },
              {
                "$ref": "#/components/schemas/product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined....o1"
              }
            ],
            "title": "상품 이름 및 가격 정보"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "메시지의 콘텐츠"
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "commerce",
          "content"
        ],
        "title": "커머스형 템플릿"
      },
      "product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined...": {
        "type": "object",
        "properties": {
          "product_name": {
            "type": "string",
            "title": "상품 이름 및 제목"
          },
          "regular_price": {
            "type": "integer",
            "title": "정상 가격"
          },
          "discount_price": {
            "type": "integer",
            "title": "할인된 가격"
          },
          "currency_unit": {
            "type": "string",
            "default": "원",
            "title": "통화 단위 또는 기호"
          },
          "currency_unit_position": {
            "oneOf": [
              {
                "const": 0,
                "title": "가격 뒤에 표시"
              },
              {
                "const": 1,
                "title": "가격 앞에 표시"
              }
            ],
            "title": "통화 단위 표시 위치"
          },
          "discount_rate": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "title": "할인률",
            "description": "0부터 100까지의 숫자"
          }
        },
        "required": [
          "regular_price"
        ]
      },
      "product_namestringundefinedregular_pricenumberTypeint64discount_price(numberTypeint64)undefinedcurrency_unit(stringDefault원)undefinedcurrency_unit_positionConstant......1more...undefined....o1": {
        "type": "object",
        "properties": {
          "product_name": {
            "type": "string",
            "title": "상품 이름 및 제목"
          },
          "regular_price": {
            "type": "integer",
            "title": "정상 가격"
          },
          "discount_price": {
            "type": "integer",
            "title": "할인된 가격"
          },
          "currency_unit": {
            "type": "string",
            "default": "원",
            "title": "통화 단위 또는 기호"
          },
          "currency_unit_position": {
            "oneOf": [
              {
                "const": 0,
                "title": "가격 뒤에 표시"
              },
              {
                "const": 1,
                "title": "가격 앞에 표시"
              }
            ],
            "title": "통화 단위 표시 위치"
          },
          "fixedDiscountPrice": {
            "type": "integer",
            "minimum": 0,
            "title": "정액 할인 가격",
            "description": "할인율과 동시 사용 불가"
          }
        },
        "required": [
          "regular_price"
        ]
      },
      "IKakaoTalk.Button": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "x-wrtn-placeholder": "버튼 이름",
            "title": "버튼 이름"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "버튼의 링크"
          }
        },
        "required": [
          "title",
          "link"
        ],
        "title": "버튼 정보"
      },
      "IKakaoTalk.IWebLink": {
        "type": "object",
        "properties": {
          "web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "웹 링크"
          }
        },
        "required": [
          "web_url"
        ],
        "title": "웹 링크"
      },
      "IKakaoTalk.IMobileWebLink": {
        "type": "object",
        "properties": {
          "mobile_web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "모바일 링크"
          }
        },
        "required": [
          "mobile_web_url"
        ],
        "title": "모바일 링크"
      },
      "IKakaoTalk.IAndroidAppLink": {
        "type": "object",
        "properties": {
          "android_execution_params": {
            "type": "string",
            "title": "앱 링크",
            "description": "해당 값이 없을 경우 mobile_web_url 이용"
          }
        },
        "required": [
          "android_execution_params"
        ],
        "title": "안드로이드 앱 링크"
      },
      "IKakaoTalk.IiOSAppLink": {
        "type": "object",
        "properties": {
          "ios_execution_params": {
            "type": "string",
            "title": "앱 링크",
            "description": "해당 값이 없을 경우 mobile_web_url 이용"
          }
        },
        "required": [
          "ios_execution_params"
        ],
        "title": "iOS 앱 링크"
      },
      "titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "타이틀."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 너비",
            "description": "픽셀 단위"
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 높이",
            "description": "픽셀 단위"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "클릭 시 이동할 링크 정보"
          }
        },
        "required": [
          "title",
          "link"
        ]
      },
      "image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "format": "url",
            "title": "이미지 URL",
            "description": "이미지의 크기는 `5MB`를 초과해선 안 된다."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 너비",
            "description": "픽셀 단위"
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 높이",
            "description": "픽셀 단위"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "클릭 시 이동할 링크 정보"
          }
        },
        "required": [
          "image_url",
          "link"
        ]
      },
      "descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "title": "상세 설명",
            "description": "title과 합쳐 최대 4줄 표시."
          },
          "image_width": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 너비",
            "description": "픽셀 단위"
          },
          "image_height": {
            "type": "integer",
            "minimum": 200,
            "title": "이미지 높이",
            "description": "픽셀 단위"
          },
          "link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "클릭 시 이동할 링크 정보"
          }
        },
        "required": [
          "description",
          "link"
        ]
      },
      "IKakaoTalk.IMemoOutput": {
        "type": "object",
        "properties": {
          "result_code": {
            "$ref": "#/components/schemas/Constant0__type",
            "title": "응답 코드"
          }
        },
        "required": [
          "result_code"
        ]
      },
      "Constant0__type": {
        "const": 0,
        "title": "성공",
        "description": "메시지 전송에 성공한 경우를 의미"
      },
      "IKakaoTalk.ISendKakaoTalkLocationInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ILocationMemoInput",
            "title": "위치 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.ILocationMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "location",
            "x-wrtn-placeholder": "location",
            "title": "위치 타입"
          },
          "address": {
            "type": "string",
            "title": "공유할 위치의 주소"
          },
          "address_title": {
            "type": "string",
            "title": "카카오톡 내의 지도 뷰에서 사용되는 타이틀"
          },
          "social": {
            "$ref": "#/components/schemas/IKakaoTalk.Social",
            "title": "부가적인 소셜 정보"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "메시지의 콘텐츠"
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "address",
          "content"
        ],
        "title": "위치형 템플릿"
      },
      "IKakaoTalk.Social": {
        "type": "object",
        "properties": {
          "like_count": {
            "type": "integer",
            "title": "콘텐츠의 좋아요 수"
          },
          "comment_count": {
            "type": "integer",
            "title": "콘텐츠의 댓글 수"
          },
          "shared_count": {
            "type": "integer",
            "title": "콘텐츠의 공유 수"
          },
          "view_count": {
            "type": "integer",
            "title": "콘텐츠의 조회 수"
          },
          "subscriber_count": {
            "type": "integer",
            "title": "콘텐츠의 구독 수"
          }
        },
        "title": "소셜 정보",
        "description": "5개의 속성 중 최대 3개까지만 표시한다. 우선 순위는 Like > Comment > Shared > View > Subscriber 순서."
      },
      "IKakaoTalk.ISendKakaoTalkListInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.IListMemoInput",
            "title": "리스트 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.IListMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "list",
            "x-wrtn-placeholder": "list",
            "title": "리스트 타입"
          },
          "header_title": {
            "type": "string",
            "maxLength": 200,
            "title": "리스트 상단에 노출되는 메인 타이틀"
          },
          "header_link": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IKakaoTalk.IWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IMobileWebLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IAndroidAppLink"
              },
              {
                "$ref": "#/components/schemas/IKakaoTalk.IiOSAppLink"
              }
            ],
            "title": "헤더 타이틀 내용에 해당하는 링크 정보"
          },
          "contents": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
                },
                {
                  "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
                },
                {
                  "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
                }
              ]
            },
            "minItems": 2,
            "maxItems": 3,
            "title": "리스트에 노출되는 콘텐츠 목록"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "header_title",
          "header_link",
          "contents"
        ],
        "title": "리스트형 템플릿"
      },
      "IKakaoTalk.ISendKakaoTalkFeedInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.IFeedMemoInput",
            "title": "피드 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.IFeedMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "feed",
            "title": "피드 타입"
          },
          "item_content": {
            "$ref": "#/components/schemas/IKakaoTalk.ItemContent",
            "title": "아이템 영역에 포함할 콘텐츠"
          },
          "social": {
            "$ref": "#/components/schemas/IKakaoTalk.Social",
            "title": "콘텐츠에 대한 소셜 정보"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "content": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/titlestringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/image_urlstringFormaturlimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum...)undefinedlinkButtonLink"
              },
              {
                "$ref": "#/components/schemas/descriptionstringimage_width(numberTypeint32Minimum200)undefinedimage_height(numberTypeint32Minimum200)undefinedlinkButtonLink"
              }
            ],
            "title": "메시지의 콘텐츠"
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "item_content",
          "content"
        ],
        "title": "피드형 템플릿"
      },
      "IKakaoTalk.ItemContent": {
        "type": "object",
        "properties": {
          "profile_text": {
            "type": "string",
            "maxLength": 16,
            "title": "헤더 또는 프로필 영역에 출력될 텍스트",
            "description": "profile_image_url 값이 없을 경우, 볼드(Bold)체로 된 제목만 담은 헤더 형태로 출력됨."
          },
          "profile_image_url": {
            "type": "string",
            "format": "url",
            "title": "프로필 이미지",
            "description": "작은 원형의 프로필 사진 형태로 출력됨."
          },
          "title_image_url": {
            "type": "string",
            "format": "url",
            "title": "아이템의 이미지",
            "description": "iOS 108*108, Android 98*98 크기. 1:1 비율이 아닌 이미지는 센터 크롭(Center crop) 방식으로 재조정됨."
          },
          "title_image_text": {
            "type": "string",
            "maxLength": 24,
            "title": "아이템의 제목",
            "description": "최대 2줄"
          },
          "title_image_category": {
            "type": "string",
            "maxLength": 14,
            "title": "카테고리",
            "description": "최대 1줄"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.ItemInfo"
            },
            "maxItems": 5,
            "title": "아이템 목록",
            "description": "각 텍스트 아이템 정보"
          },
          "sum": {
            "type": "string",
            "maxLength": 6,
            "title": "주문금액"
          },
          "sum_op": {
            "type": "string",
            "maxLength": 11,
            "title": "가격 합산 정보"
          }
        },
        "title": "아이템 콘텐츠"
      },
      "IKakaoTalk.ItemInfo": {
        "type": "object",
        "properties": {
          "item": {
            "type": "string",
            "maxLength": 6,
            "title": "아이템 이름"
          },
          "item_op": {
            "type": "string",
            "maxLength": 14,
            "title": "아이템 가격"
          }
        },
        "required": [
          "item",
          "item_op"
        ],
        "title": "아이템 정보"
      },
      "IKakaoTalk.ISendKakaoTalkTextInput": {
        "type": "object",
        "properties": {
          "template_object": {
            "$ref": "#/components/schemas/IKakaoTalk.ITextMemoInput",
            "title": "텍스트 템플릿"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_message",
              "profile_image",
              "profile_nickname"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "template_object",
          "secretKey"
        ],
        "title": "메시지 전송 조건"
      },
      "IKakaoTalk.ITextMemoInput": {
        "type": "object",
        "properties": {
          "object_type": {
            "const": "text",
            "title": "텍스트 타입"
          },
          "text": {
            "type": "string",
            "maxLength": 200,
            "title": "본문"
          },
          "link": {
            "$ref": "#/components/schemas/IWebLinkIMobileWebLink",
            "title": "링크"
          },
          "buttons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Button"
            },
            "maxItems": 2,
            "title": "버튼 목록",
            "description": "버튼 타이틀과 링크를 변경하고 싶을 때, 버튼 두 개를 넣고 싶을 때 사용하며 button_title보다 우선시된다."
          },
          "button_title": {
            "type": "string",
            "title": "버튼 이름"
          }
        },
        "required": [
          "object_type",
          "text",
          "link"
        ],
        "title": "텍스트형 템플릿"
      },
      "IWebLinkIMobileWebLink": {
        "type": "object",
        "properties": {
          "web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "웹 링크"
          },
          "mobile_web_url": {
            "type": "string",
            "pattern": "^(https:\\/\\/studio\\x2dpro\\.wrtn\\.ai(.*))",
            "title": "모바일 링크"
          }
        },
        "required": [
          "web_url",
          "mobile_web_url"
        ]
      },
      "IKakaoTalk.ICreateEventInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "일정을 생성할 캘린더 ID"
          },
          "event": {
            "$ref": "#/components/schemas/IKakaoTalk.Event",
            "title": "생성할 일정 정보"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "event",
          "secretKey"
        ],
        "title": "일정을 생성하기 위한 조건"
      },
      "IKakaoTalk.Event": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 50,
            "x-wrtn-placeholder": "일정 제목",
            "title": "일정 제목"
          },
          "time": {
            "$ref": "#/components/schemas/IKakaoTalk.Time",
            "title": "일정 시간"
          },
          "rrule": {
            "type": "string",
            "title": "일정의 반복 주기",
            "description": "RFC5545의 RRULE 형식"
          },
          "description": {
            "type": "string",
            "maxLength": 5000,
            "x-wrtn-placeholder": "일정 설명",
            "title": "일정 설명"
          },
          "location": {
            "$ref": "#/components/schemas/IKakaoTalk.Location",
            "title": "일정 장소"
          },
          "reminders": {
            "type": "array",
            "items": {
              "type": "number",
              "multipleOf": 5,
              "minimum": -1440,
              "maximum": 43200
            },
            "maxItems": 2,
            "title": "미리 알림 설정",
            "description": "분 단위이며, 5분 간격으로 최대 2개까지만 설정 가능. 종일 일정인 경우 -1440부터 시작 가능하며, 종일 일정이 아닌 경우 0부터 시작한다."
          },
          "color": {
            "oneOf": [
              {
                "const": "BLUE",
                "title": "BLUE",
                "description": "2C88DE"
              },
              {
                "const": "ROYAL_BLUE",
                "title": "ROYAL_BLUE",
                "description": "2D69E0"
              },
              {
                "const": "NAVY_BLUE",
                "title": "NAVY_BLUE",
                "description": "223788"
              },
              {
                "const": "RED",
                "title": "RED",
                "description": "D42726"
              },
              {
                "const": "PINK",
                "title": "PINK",
                "description": "ED5683"
              },
              {
                "const": "ORANGE",
                "title": "ORANGE",
                "description": "FF9429"
              },
              {
                "const": "GREEN",
                "title": "GREEN",
                "description": "149959"
              },
              {
                "const": "LIME",
                "title": "LIME",
                "description": "7CB343"
              },
              {
                "const": "OLIVE",
                "title": "OLIVE",
                "description": "A4AD15"
              },
              {
                "const": "MINT",
                "title": "MINT",
                "description": "5CC5BE"
              },
              {
                "const": "MAGENTA",
                "title": "MAGENTA",
                "description": "AB47BC"
              },
              {
                "const": "VIOLET",
                "title": "VIOLET",
                "description": "8A4B9B"
              },
              {
                "const": "LAVENDER",
                "title": "LAVENDER",
                "description": "7986CB"
              },
              {
                "const": "BROWN",
                "title": "BROWN",
                "description": "945C1F"
              },
              {
                "const": "GRAY",
                "title": "GRAY",
                "description": "666666"
              }
            ],
            "title": "일정 색상"
          }
        },
        "required": [
          "title",
          "time"
        ],
        "title": "일정",
        "description": "카카오톡 캘린더에서 생성한 일정"
      },
      "IKakaoTalk.Time": {
        "type": "object",
        "properties": {
          "start_at": {
            "type": "string",
            "x-wrtn-placeholder": "2023-12-31T15:00:00Z",
            "title": "일정 시작 시각",
            "description": "5분 간격으로 설정 가능"
          },
          "end_at": {
            "type": "string",
            "x-wrtn-placeholder": "2024-01-01T15:00:00Z",
            "title": "일정 종료 시각"
          },
          "time_zone": {
            "type": "string",
            "default": "Asia/Seoul",
            "title": "타임존 설정\n\nTZID 형식."
          },
          "all_day": {
            "type": "boolean",
            "default": false,
            "title": "종일 일정 여부"
          },
          "lunar": {
            "type": "boolean",
            "default": false,
            "title": "날짜 기준을 음력으로 설정"
          }
        },
        "title": "일정의 시간 설정"
      },
      "IKakaoTalk.Location": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 50,
            "title": "장소 이름"
          },
          "location_id": {
            "type": "number",
            "title": "장소 ID"
          },
          "address": {
            "type": "string",
            "title": "주소"
          },
          "latitude": {
            "type": "number",
            "title": "위도"
          },
          "longitude": {
            "type": "number",
            "title": "경도"
          }
        },
        "title": "일정 장소"
      },
      "IKakaoTalk.ICreateEventOutput": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "title": "생성한 일정 ID"
          }
        },
        "required": [
          "event_id"
        ],
        "title": "생성된 일정"
      },
      "IKakaoTalk.IGetFriendsInput": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "default": 0,
            "title": "친구 목록 시작 지점"
          },
          "limit": {
            "type": "integer",
            "title": "한 페이지 당 친구 수"
          },
          "order": {
            "oneOf": [
              {
                "const": "asc",
                "title": "오름차순",
                "default": "asc"
              },
              {
                "const": "desc",
                "title": "내림차순",
                "default": "asc"
              }
            ],
            "title": "친구 목록 정렬 순서"
          },
          "friend_order": {
            "oneOf": [
              {
                "const": "favorite",
                "title": "즐겨찾기 우선 정렬",
                "default": "favorite"
              },
              {
                "const": "nickname",
                "title": "닉네임 우선 정렬",
                "default": "favorite"
              }
            ],
            "title": "친구 목록 정렬 시 기준"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "friends"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "친구 조회 조건"
      },
      "IKakaoTalk.IGetFriendsOutput": {
        "type": "object",
        "properties": {
          "elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Friend"
            },
            "title": "친구 목록"
          },
          "total_count": {
            "type": "integer",
            "title": "전체 친구 수"
          },
          "after_url": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "친구 목록 다음 페이지 URL"
          },
          "before_url": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "친구 목록 이전 페이지 URL"
          },
          "favorite_count": {
            "type": "integer",
            "title": "즐겨찾기한 친구 수"
          }
        },
        "required": [
          "elements",
          "total_count"
        ],
        "title": "친구 조회 결과"
      },
      "IKakaoTalk.Friend": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "title": "회원 번호",
            "description": "회원의 아이디\n\n카카오톡에서 친구에 부여한 회원 번호로 아이디 값에 해당한다.\n단, 실제로 메세지 전송에 사용하는 것은 `uuid` 프로퍼티기 때문에 주의한다."
          },
          "uuid": {
            "type": "string",
            "title": "친구 코드",
            "description": "카카오톡 메시지 전송 시 사용하는 친구 코드로 추후 카카오톡 메시지 전송 등의 액션을 수행할 때에 사용한다.\n사람을 가리키는 유니크한 코드지만, 프로퍼티 명이 uuid 지만 우리가 일반적으로 알고 있는 uuid 포맷은 아니기 때문에 사용에 주의해야 한다."
          },
          "favorite": {
            "type": "boolean",
            "title": "해당 친구의 즐겨 찾기 여부"
          },
          "profile_nickname": {
            "type": "string",
            "title": "닉네임"
          },
          "profile_thumbnail_image": {
            "type": "string",
            "format": "uri",
            "title": "썸네일"
          }
        },
        "required": [
          "id",
          "uuid",
          "profile_nickname"
        ],
        "title": "카카오톡 친구"
      },
      "ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres...": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "calender_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "일정을 조회할 캘린더 ID",
            "description": "값이 없을 시의 기본 값은 전체 캘린더 조회이다."
          },
          "preset": {
            "oneOf": [
              {
                "const": "TODAY",
                "title": "조회 당일"
              },
              {
                "const": "THIS_WEEK",
                "title": "일요일로 시작하는 조회일이 포함된 한 주"
              },
              {
                "const": "THIS_MONTH",
                "title": "1일로 시작하는 조회일이 포함된 한 달"
              }
            ],
            "title": "일정 조회 기간",
            "description": "from과 to가 포함되지 않은 경우 필수이며 next_page_token가 포함된 경우 무시."
          },
          "time_zone": {
            "type": "string",
            "title": "기한 일자의 타임존\n\nTZID 형식."
          },
          "limit": {
            "type": "integer",
            "minimum": 100,
            "maximum": 1000,
            "title": "응답으로 받을 최대 일정 수"
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "title": "일정을 조회할 기간의 시작 시각",
            "description": "from과 to가 포함되지 않은 경우 필수이며 next_page_token가 포함된 경우 무시."
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "title": "일정을 조회할 기간의 종료 시각",
            "description": "from과 to가 포함되지 않은 경우 필수이며 next_page_token가 포함된 경우 무시한다. `to`로부터 31일 이내의 값이어야 한다."
          }
        },
        "required": [
          "secretKey",
          "from",
          "to"
        ]
      },
      "ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres....o1": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          },
          "calender_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "일정을 조회할 캘린더 ID",
            "description": "값이 없을 시의 기본 값은 전체 캘린더 조회이다."
          },
          "preset": {
            "oneOf": [
              {
                "const": "TODAY",
                "title": "조회 당일"
              },
              {
                "const": "THIS_WEEK",
                "title": "일요일로 시작하는 조회일이 포함된 한 주"
              },
              {
                "const": "THIS_MONTH",
                "title": "1일로 시작하는 조회일이 포함된 한 달"
              }
            ],
            "title": "일정 조회 기간",
            "description": "from과 to가 포함되지 않은 경우 필수이며 next_page_token가 포함된 경우 무시."
          },
          "time_zone": {
            "type": "string",
            "title": "기한 일자의 타임존\n\nTZID 형식."
          },
          "limit": {
            "type": "integer",
            "minimum": 100,
            "maximum": 1000,
            "title": "응답으로 받을 최대 일정 수"
          },
          "next_page_token": {
            "type": "string",
            "title": "다음 페이지 조회를 위한 조건 토큰",
            "description": "from, to, limit 값이 포함된 조회 조건 토큰으로 응답으로 받은 after_url에서 확인 가능"
          }
        },
        "required": [
          "secretKey",
          "next_page_token"
        ]
      },
      "IKakaoTalk.IGetEventOutput": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.EventBriref"
            },
            "title": "일정 리스트"
          },
          "has_next": {
            "type": "boolean",
            "title": "다음 페이지 존재 여부"
          },
          "after_url": {
            "type": "string",
            "format": "url",
            "title": "다음 페이지 URL\n\n다음 페이지를 조회하기 위한 파라미터와 값을 포함한 URL이므로, 다음 페이지 요청 시 그대로 사용.\n\n제공 조건은 `has_next`가 true인 경우이다."
          }
        },
        "required": [
          "events",
          "has_next"
        ],
        "title": "일정 조회 결과"
      },
      "IKakaoTalk.EventBriref": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "title": "일정 ID"
          },
          "title": {
            "type": "string",
            "title": "일정 제목"
          },
          "type": {
            "type": "string",
            "title": "일정 타입"
          },
          "calendar_id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/kakao-talk/get-calendars",
              "jmesPath": "calendars[].{value:id, label: name || ''} || subscribe_calendars[].{value:id, label: name || ''}"
            },
            "title": "캘린더 ID",
            "description": "기본 캘린더의 경우 primary로 고정"
          },
          "time": {
            "$ref": "#/components/schemas/IKakaoTalk.Time",
            "title": "일정 시간"
          },
          "is_host": {
            "type": "boolean",
            "default": false,
            "title": "일정 작성자인지 여부",
            "description": "공개/구독 일정 또는 초대 받은 일정인 경우"
          },
          "is_recur_event": {
            "type": "boolean",
            "title": "반복 일정 여부",
            "description": "type이 USER인 경우 필수."
          },
          "color": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantBLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROYAL_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNAVY_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPINK__type"
              },
              {
                "$ref": "#/components/schemas/ConstantORANGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGREEN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLIME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantOLIVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMINT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMAGENTA__type"
              },
              {
                "$ref": "#/components/schemas/ConstantVIOLET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLAVENDER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBROWN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGRAY__type"
              }
            ],
            "title": "일정 색상",
            "description": "일정 생성 또는 편집 시 지정하지 않은 경우 미포함."
          }
        },
        "required": [
          "time"
        ],
        "title": "일정"
      },
      "ConstantBLUE__type": {
        "const": "BLUE",
        "title": "BLUE",
        "description": "2C88DE"
      },
      "ConstantROYAL_BLUE__type": {
        "const": "ROYAL_BLUE",
        "title": "ROYAL_BLUE",
        "description": "2D69E0"
      },
      "ConstantNAVY_BLUE__type": {
        "const": "NAVY_BLUE",
        "title": "NAVY_BLUE",
        "description": "223788"
      },
      "ConstantRED__type": {
        "const": "RED",
        "title": "RED",
        "description": "D42726"
      },
      "ConstantPINK__type": {
        "const": "PINK",
        "title": "PINK",
        "description": "ED5683"
      },
      "ConstantORANGE__type": {
        "const": "ORANGE",
        "title": "ORANGE",
        "description": "FF9429"
      },
      "ConstantGREEN__type": {
        "const": "GREEN",
        "title": "GREEN",
        "description": "149959"
      },
      "ConstantLIME__type": {
        "const": "LIME",
        "title": "LIME",
        "description": "7CB343"
      },
      "ConstantOLIVE__type": {
        "const": "OLIVE",
        "title": "OLIVE",
        "description": "A4AD15"
      },
      "ConstantMINT__type": {
        "const": "MINT",
        "title": "MINT",
        "description": "5CC5BE"
      },
      "ConstantMAGENTA__type": {
        "const": "MAGENTA",
        "title": "MAGENTA",
        "description": "AB47BC"
      },
      "ConstantVIOLET__type": {
        "const": "VIOLET",
        "title": "VIOLET",
        "description": "8A4B9B"
      },
      "ConstantLAVENDER__type": {
        "const": "LAVENDER",
        "title": "LAVENDER",
        "description": "7986CB"
      },
      "ConstantBROWN__type": {
        "const": "BROWN",
        "title": "BROWN",
        "description": "945C1F"
      },
      "ConstantGRAY__type": {
        "const": "GRAY",
        "title": "GRAY",
        "description": "666666"
      },
      "ICommon.ISecretkakaotalk_calendar": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "kakao",
            "x-wrtn-secret-scopes": [
              "talk_calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ]
      },
      "IKakaoTalk.IGetCalendarOutput": {
        "type": "object",
        "properties": {
          "calendars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.Calendar"
            },
            "title": "기본 캘린더",
            "description": "개인의 캘린더입니다.\n개인이지만 반드시 나의 것만 보이는 것은 아니며, 친구의 일정에 초대, 일정을 공유 받았다면 조회할 수 있습니다."
          },
          "subscribe_calendars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IKakaoTalk.SubscribeCalendars"
            },
            "title": "구독한 구독 캘린더 목록",
            "description": "구독 캘린더입니다.\n카카오톡에 다수의 구성원들이 채팅방을 구성한 경우에 해당 채팅방에서 캘린더를 관리할 수 있습니다.\n내가 속한 채팅방의 캘린더들을 조회할 수 있습니다."
          }
        },
        "title": "톡 캘린더",
        "description": "카카오톡의 캘린더에는 두 종류가 있습니다.\n하나는 기본 캘린더로 개인의 캘린더이며, 두번째는 구독 캘린더로 구성원들이 함께 공유하는 캘린더입니다."
      },
      "IKakaoTalk.Calendar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "title": "캘린더 ID.\n\n유저마다 기본적으로 가지고 있는 캘린더의 경우 `primary`라고 한다."
          },
          "name": {
            "type": "string",
            "x-wrtn-placeholder": "캘린더 이름",
            "title": "캘린더 이름"
          },
          "color": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantBLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROYAL_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNAVY_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPINK__type"
              },
              {
                "$ref": "#/components/schemas/ConstantORANGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGREEN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLIME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantOLIVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMINT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMAGENTA__type"
              },
              {
                "$ref": "#/components/schemas/ConstantVIOLET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLAVENDER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBROWN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGRAY__type"
              }
            ],
            "title": "일정 색상"
          },
          "reminder": {
            "type": "integer",
            "title": "종일 일정이 아닌 일정의 기본 알림 시간"
          },
          "reminder_all_day": {
            "type": "integer",
            "title": "종일 일정의 기본 알림 시간"
          }
        },
        "required": [
          "id"
        ],
        "title": "기본 캘린더",
        "description": "서브 캘린더 목록"
      },
      "IKakaoTalk.SubscribeCalendars": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "title": "채널에서 설정한 구독 캘린더 설명"
          },
          "profile_image_url": {
            "type": "string",
            "format": "url",
            "contentMediaType": "image/*",
            "title": "구독 캘린더의 프로필 이미지 URL"
          },
          "thumbnail_url": {
            "type": "string",
            "format": "url",
            "contentMediaType": "image/*",
            "title": "구독 캘린더의 말풍선 썸네일 URL"
          },
          "id": {
            "type": "string",
            "default": "primary",
            "x-wrtn-placeholder": "primary",
            "title": "캘린더 ID.\n\n유저마다 기본적으로 가지고 있는 캘린더의 경우 `primary`라고 한다."
          },
          "name": {
            "type": "string",
            "x-wrtn-placeholder": "캘린더 이름",
            "title": "캘린더 이름"
          },
          "color": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConstantBLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantROYAL_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantNAVY_BLUE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantRED__type"
              },
              {
                "$ref": "#/components/schemas/ConstantPINK__type"
              },
              {
                "$ref": "#/components/schemas/ConstantORANGE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGREEN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLIME__type"
              },
              {
                "$ref": "#/components/schemas/ConstantOLIVE__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMINT__type"
              },
              {
                "$ref": "#/components/schemas/ConstantMAGENTA__type"
              },
              {
                "$ref": "#/components/schemas/ConstantVIOLET__type"
              },
              {
                "$ref": "#/components/schemas/ConstantLAVENDER__type"
              },
              {
                "$ref": "#/components/schemas/ConstantBROWN__type"
              },
              {
                "$ref": "#/components/schemas/ConstantGRAY__type"
              }
            ],
            "title": "일정 색상"
          },
          "reminder": {
            "type": "integer",
            "title": "종일 일정이 아닌 일정의 기본 알림 시간"
          },
          "reminder_all_day": {
            "type": "integer",
            "title": "종일 일정의 기본 알림 시간"
          }
        },
        "required": [
          "id"
        ],
        "title": "구독한 구독 캘린더 목록"
      }
    }
  },
  "tags": [
    {
      "name": "Youtube",
      "description": "유튜브"
    },
    {
      "name": "유튜브",
      "description": "채널"
    },
    {
      "name": "동영상",
      "description": "검색"
    },
    {
      "name": "숏폼"
    },
    {
      "name": "춋츠"
    },
    {
      "name": "밈"
    },
    {
      "name": "구독"
    },
    {
      "name": "좋아요"
    },
    {
      "name": "댓글"
    },
    {
      "name": "라이브",
      "description": "방송"
    },
    {
      "name": "재생",
      "description": "목록"
    },
    {
      "name": "시청자",
      "description": "통계"
    },
    {
      "name": "구독자"
    },
    {
      "name": "알림",
      "description": "설정"
    },
    {
      "name": "커뮤니티",
      "description": "게시판"
    },
    {
      "name": "콘텐츠",
      "description": "제작"
    },
    {
      "name": "저작권",
      "description": "관리"
    },
    {
      "name": "조회수",
      "description": "분석"
    },
    {
      "name": "채널",
      "description": "홍보"
    },
    {
      "name": "썸네일"
    },
    {
      "name": "인급동"
    },
    {
      "name": "인기",
      "description": "급상승 동영상"
    },
    {
      "name": "YouTube",
      "description": "Channel"
    },
    {
      "name": "Video",
      "description": "Search"
    },
    {
      "name": "Short-form",
      "description": "Video"
    },
    {
      "name": "Shorts"
    },
    {
      "name": "Memes"
    },
    {
      "name": "Upload",
      "description": "Video"
    },
    {
      "name": "Subscribe"
    },
    {
      "name": "Like"
    },
    {
      "name": "Comment"
    },
    {
      "name": "Live",
      "description": "Stream"
    },
    {
      "name": "Playlist"
    },
    {
      "name": "Viewer",
      "description": "Statistics"
    },
    {
      "name": "Share",
      "description": "Video"
    },
    {
      "name": "Subscriber"
    },
    {
      "name": "Notification",
      "description": "Settings"
    },
    {
      "name": "Community",
      "description": "Tab"
    },
    {
      "name": "Content",
      "description": "Creation"
    },
    {
      "name": "Copyright",
      "description": "Management"
    },
    {
      "name": "Download",
      "description": "Video"
    },
    {
      "name": "Views"
    },
    {
      "name": "Promote",
      "description": "Channel"
    },
    {
      "name": "View",
      "description": "Analysis"
    },
    {
      "name": "Channel",
      "description": "Art"
    },
    {
      "name": "Thumbnail"
    },
    {
      "name": "Trending",
      "description": "Videos"
    },
    {
      "name": "Llm",
      "description": "selection 선택 추출"
    },
    {
      "name": "Chatbot"
    },
    {
      "name": "카카오톡"
    }
  ],
  "x-samchon-emended": true
}