{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "version": "0.1.14",
    "title": "@wrtn/connector",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/daum/blog": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.IBlogDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 블로그 검색",
        "description": "다음 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/daum/cafe": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.ICafeDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 카페 검색",
        "description": "다음 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/cafe": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 카페 검색",
        "description": "네이버 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_cafe.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/blog": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 블로그 검색",
        "description": "네이버 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_blog.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/youtube-search": {
      "post": {
        "tags": [
          "Youtube",
          "유튜브",
          "동영상",
          "숏폼",
          "춋츠",
          "밈",
          "구독",
          "좋아요",
          "댓글",
          "라이브",
          "재생",
          "시청자",
          "구독자",
          "알림",
          "커뮤니티",
          "콘텐츠",
          "저작권",
          "조회수",
          "채널",
          "썸네일",
          "인급동",
          "인기",
          "YouTube",
          "Video",
          "Short-form",
          "Shorts",
          "Memes",
          "Upload",
          "Subscribe",
          "Like",
          "Comment",
          "Live",
          "Playlist",
          "Viewer",
          "Share",
          "Subscriber",
          "Notification",
          "Community",
          "Content",
          "Copyright",
          "Download",
          "Views",
          "Promote",
          "View",
          "Channel",
          "Thumbnail",
          "Trending"
        ],
        "parameters": [],
        "requestBody": {
          "description": "유튜브 영상 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IYoutubeSearch.ISearchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "유튜브 영상 검색 결과 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IConnector.ISearchOutput"
                }
              }
            }
          }
        },
        "summary": "유튜브 영상 검색",
        "description": "유튜브 영상 검색 결과를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/youtube.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 목록 가져오기.",
        "description": "구글 캘린더 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 캘린더 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 고유 ID와 캘린더 제목.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 생성.",
        "description": "구글 캘린더를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "삭제할 캘린더",
            "description": "삭제할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 삭제.",
        "description": "캘린더를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "이벤트 목록을 가져올 캘린더",
            "description": "이벤트 목록을 가져올 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트 목록을 가져오기 위한 조건.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 이벤트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 목록 가져오기.",
        "description": "구글 캘린더에 있는 이벤트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더",
            "description": "빠른 이벤트를 추가할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트를 추가할 캘린더 고유 ID, 이벤트 명.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 빠른 이벤트 추가.",
        "description": "구글 캘린더에 빠른 이벤트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더",
            "description": "이벤트를 추가할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트 추가를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추가한 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 추가.",
        "description": "구글 캘린더에 이벤트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "이벤트를 수정할 캘린더",
            "description": "이벤트를 수정할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "array": "return ((response) => response.events)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "수정할 이벤트",
            "description": "수정할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "업데이트 할 이벤트 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "업데이트 된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 수정.",
        "description": "이벤트를 수정합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      },
      "delete": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "이벤트를 삭제할 캘린더",
            "description": "이벤트를 삭제할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "array": "return ((response) => response.events)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "삭제할 이벤트",
            "description": "삭제할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 이벤트 삭제.",
        "description": "이벤트를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "array": "return ((response) => response)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.summary) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "참석자를 추가할 캘린더",
            "description": "참석자를 추가할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "array": "return ((response) => response.events)(response)",
                "value": "return ((elem) => elem.id)(elem, index, array)",
                "label": "return ((elem) => { var _a; return (_a = elem.title) !== null && _a !== void 0 ? _a : \"\"; })(elem, index, array)"
              }
            },
            "required": true,
            "title": "참석자를 추가할 이벤트를 선택해주세요",
            "description": "참석자를 추가할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "추가할 참석자 이메일 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참석자가 추가된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 참석자 추가.",
        "description": "이벤트에 참석자를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/chatbot/generate/easy": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "쉬움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 쉬움 챗봇 사용",
        "description": "쉬움 난이도로 제작된 챗봇을 사용합니다."
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "tags": [
          "Chatbot"
        ],
        "parameters": [],
        "requestBody": {
          "description": "어려움 난이도로 제작된 챗봇을 사용하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "챗봇의 답변",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "summary": "난이도 어려움 챗봇 사용",
        "description": "어려움 난이도로 제작된 챗봇을 사용합니다."
      }
    },
    "/connector/kakao-talk/message/text": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 및 실패 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 친구에게 메시지 쓰기",
        "description": "친구에게 메시지를 카카오톡 메시지를 보냅니다",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg"
      }
    },
    "/connector/kakao-talk/memo/commerce": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/location": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/list": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/feed": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/text": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkTextInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 내게 쓰기",
        "description": "카카오톡 내게 쓰기로 메시지를 보냅니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/calendars/events": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일정 생성을 위한 입력 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ICreateEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 일정 ID DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ICreateEventOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 일정 추가.",
        "description": "카카오톡 캘린더에 일정을 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-friends": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "친구 목록 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회한 친구 모록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 친구 목록 조회",
        "description": "카카오톡 친구 목록을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-events": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "일정 조회를 위한 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_idstringundefinedpresetConstantTODAYtitle조회당일ConstantTHIS_WEEKtitle일요일로시작하는조회일이포함된한주Constant...undefinedtime_zonestringundefinedlimit(number...2more...Maximum...)undefined..."
                  },
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_idstringundefinedpresetConstantTODAYtitle조회당일ConstantTHIS_WEEKtitle일요일로시작하는조회일이포함된한주Constant...undefinedtime_zonestringundefinedlimit(number...2more...Maximum...)undefined....o1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "일정 정보 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetEventOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 일정 조회.",
        "description": "카카오톡 캘린더 일정을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-calendars": {
      "post": {
        "tags": [
          "카카오톡"
        ],
        "parameters": [],
        "requestBody": {
          "description": "캘린더를 조회하기 위한 요청 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICommon.ISecretkakaotalk_calendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 목록 객체.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetCalendarOutput"
                }
              }
            }
          }
        },
        "summary": "카카오톡 캘린더 목록 조회.",
        "description": "카카오톡 캘린더 목록들을 모두 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakaoTalk.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-map/search": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoMap.SearchByKeywordOutput"
                }
              }
            }
          }
        },
        "summary": "카카오 맵 검색",
        "description": "카카오맵으로 검색합니다",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kakao-map.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-navi/get-future-directions": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "요청 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoNavi.IGetFutureDirectionsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "길 찾기 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoNavi.SuccessCase"
                }
              }
            }
          }
        },
        "summary": "카카오 네비 길찾기",
        "description": "카카오 네비로 길을 찾습니다.",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/musinsa": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "무신사 검색",
        "description": "상품을 무신사에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/musinsa.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/twenty-nine-centimeter": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "29cm 검색",
        "description": "상품을 29cm에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/twentynine_centimeter.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/eql": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "EQL 검색",
        "description": "상품을 EQL에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/eql.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/oco": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "OCO 검색",
        "description": "상품을 OCO에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/oco.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/uniqlo": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "유니클로 검색",
        "description": "상품을 유니클로에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/uniqlo.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/coupang": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "쿠팡 검색",
        "description": "상품을 쿠팡에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/coupang.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/market-kurly": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "마켓컬리 검색",
        "description": "상품을 마켓컬리에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/kurly.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/iherb": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "아이허브 검색",
        "description": "상품을 아이허브에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/iherb.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/ali-express": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "알리 익스프레스 검색",
        "description": "상품을 알리 익스프레스에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/ali_express.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/olive-young": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "올리브영 검색",
        "description": "상품을 올리브영에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/olive_young.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/yes-twenty-four": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "yes24 검색",
        "description": "상품을 yes24에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/yes_twentyfour.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-shopping/aladine": {
      "post": {
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleShopping.IRequestStandAlone"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleShopping.IResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "알라딘 검색",
        "description": "상품을 알라딘에서 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/aladin.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "IDaum.ISearchDaumInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "다음 검색 결과에 들어가야하는 키워드를 설정합니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "다음 검색 결과에 들어가면 좋은 키워드를 설정합니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "다음 검색 결과에 들어가면 안되는 키워드를 설정합니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "accuracy",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              },
              {
                "const": "recency",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              }
            ],
            "title": "결과 문서 정렬 방식",
            "description": "- accuracy: 정확도순 (default)\n- recency: 최신순"
          },
          "page": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 1,
            "title": "결과 페이지 번호",
            "description": "결과 페이지의 번호입니다."
          },
          "size": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "title": "한 페이지에 보여질 문서 수",
            "description": "한 페이지에 보여질 문서 수 입니다."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "다음 검색에 필요한 정보"
      },
      "IDaum.IBlogDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "검색된 컨텐츠 수",
                "description": "검색된 문서의 총 개수입니다."
              },
              "pageableCount": {
                "type": "number",
                "title": "검색된 문서 중 노출 가능한 컨텐츠 수",
                "description": "검색된 문서 중 노출 가능한 컨텐츠의 개수입니다."
              },
              "isEnd": {
                "type": "boolean",
                "title": "현재 페이지가 마지막 페이지인지 여부",
                "description": "값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "문서의 제목",
                  "description": "검색된 문서의 제목입니다."
                },
                "contents": {
                  "type": "string",
                  "title": "문서 본문중 일부",
                  "description": "검색된 문서의 본문 중 일부입니다."
                },
                "url": {
                  "type": "string",
                  "title": "문서 URL",
                  "description": "검색된 문서의 URL입니다."
                },
                "blogName": {
                  "type": "string",
                  "title": "블로그의 이름",
                  "description": "검색된 블로그의 이름입니다."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "썸네일 이미지 URL",
                  "description": "검색 시스템에서 추출한 대표 미리보기 이미지 URL."
                },
                "dateTime": {
                  "type": "string",
                  "title": "문서 작성 시간",
                  "description": "검색된 문서가 작성된 시간입니다."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "blogName",
                "thumbnail",
                "dateTime"
              ]
            }
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "다음 블로그 검색 결과"
      },
      "IDaum.ICafeDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "검색된 다음 카페 컨텐츠 수",
                "description": "검색된 다음 카페의 총 갯수 입니다."
              },
              "pageableCount": {
                "type": "number",
                "title": "검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠 수",
                "description": "검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠의 개수입니다."
              },
              "isEnd": {
                "type": "boolean",
                "title": "현재 페이지가 마지막 페이지인지 여부",
                "description": "값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "문서의 제목",
                  "description": "검색된 문서의 제목입니다."
                },
                "contents": {
                  "type": "string",
                  "title": "문서 본문중 일부",
                  "description": "검색된 문서의 본문 중 일부입니다."
                },
                "url": {
                  "type": "string",
                  "title": "문서 URL",
                  "description": "검색된 문서의 URL입니다."
                },
                "cafeName": {
                  "type": "string",
                  "title": "카페 이름",
                  "description": "검색된 다음 카페 이름입니다."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "썸네일 이미지 URL",
                  "description": "검색 시스템에서 추출한 대표 미리보기 이미지 URL."
                },
                "dateTime": {
                  "type": "string",
                  "title": "문서 작성 시간",
                  "description": "검색된 문서가 작성된 시간입니다."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "cafeName",
                "thumbnail",
                "dateTime"
              ]
            }
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "다음 카페 검색 결과"
      },
      "INaver.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 반드시 포함되어야 하는 키워드입니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "검색할 개수",
            "description": "검색 결과를 몇 개 받아올 것인지 설정합니다.\n최소 1개, 최대 100개, 기본 10개입니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim",
                "x-wrtn-placeholder": "sim"
              },
              {
                "const": "date",
                "x-wrtn-placeholder": "sim"
              }
            ],
            "title": "검색 결과 정렬 방법",
            "description": "검색 결과를 어떤 기준으로 정렬할 것인지 설정합니다."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "검색 조건"
      },
      "INaver.ICafeNaverOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lastBuildDate": {
                "type": "string",
                "title": "검색 결과를 생성한 시간.",
                "description": "검색 결과를 생성한 시간입니다."
              },
              "total": {
                "type": "number",
                "title": "총 검색 결과 개수.",
                "description": "검색 결과의 총 개수입니다."
              },
              "start": {
                "type": "number",
                "title": "검색 시작 위치.",
                "description": "검색 결과의 시작 위치입니다."
              },
              "display": {
                "type": "number",
                "title": "한 번에 표시할 검색 결과 개수.",
                "description": "한 번에 표시할 검색 결과의 개수입니다."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverItemOutput"
                },
                "title": "개별 검색 결과.",
                "description": "개별 검색 결과입니다."
              }
            },
            "required": [
              "lastBuildDate",
              "total",
              "start",
              "display",
              "items"
            ],
            "title": "네이버 카페 검색 결과물 데이터.",
            "description": "네이버 카페 검색 결과물 데이터."
          }
        },
        "required": [
          "data"
        ],
        "title": "네이버 카페 검색 결과"
      },
      "INaver.ICafeNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 카페 게시글의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 카페 게시글의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 카페 게시글의 요약 내용."
          },
          "cafename": {
            "type": "string",
            "title": "게시글이 있는 카페 이름.",
            "description": "네이버 카페 게시글이 있는 카페의 이름."
          },
          "cafeurl": {
            "type": "string",
            "title": "게시글이 있는 카페 링크.",
            "description": "네이버 카페 게시글이 있는 카페의 링크."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "cafename",
          "cafeurl"
        ],
        "title": "네이버 카페 검색 데이터"
      },
      "INaver.IBlogNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "검색 결과를 생성한 시간.",
            "description": "검색 결과를 생성한 시간입니다."
          },
          "total": {
            "type": "number",
            "title": "총 검색 결과 개수.",
            "description": "검색 결과의 총 개수입니다."
          },
          "start": {
            "type": "number",
            "title": "검색 시작 위치.",
            "description": "검색 결과의 시작 위치입니다."
          },
          "display": {
            "type": "number",
            "title": "한 번에 표시할 검색 결과 개수.",
            "description": "한 번에 표시할 검색 결과의 개수입니다."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.IBlogNaverItemOutput"
            },
            "title": "개별 검색 결과.",
            "description": "개별 검색 결과입니다."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ],
        "title": "네이버 블로그 검색 결과"
      },
      "INaver.IBlogNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 블로그 게시물의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 블로그 게시물의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 블로그 게시물의 요약 내용."
          },
          "bloggername": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 이름.",
            "description": "네이버 블로그 게시물이 있는 블로그의 이름."
          },
          "bloggerlink": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 주소.",
            "description": "네이버 블로그 게시물이 있는 블로그의 주소."
          },
          "postdate": {
            "type": "string",
            "title": "블로그 포스트가 작성된 날짜.",
            "description": "네이버 블로그 게시물이 작성된 날짜."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "bloggername",
          "bloggerlink",
          "postdate"
        ],
        "title": "네이버 블로그 검색 데이터"
      },
      "IYoutubeSearch.ISearchInput": {
        "type": "object",
        "properties": {
          "and_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "뤼튼"
            },
            "title": "반드시 포함되어야 하는 키워드",
            "description": "검색 결과에 포함되어야 하는 키워드입니다."
          },
          "or_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "스튜디오"
            },
            "title": "포함되면 좋겠는 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "not_keywords": {
            "type": "array",
            "items": {
              "type": "string",
              "x-wrtn-placeholder": "폭력"
            },
            "title": "포함되면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          }
        },
        "required": [
          "and_keywords"
        ],
        "title": "유튜브 검색 조건"
      },
      "IConnector.ISearchOutput": {
        "type": "object",
        "properties": {
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IConnector.IReferenceContent"
            },
            "title": "산출물 정보",
            "description": "검색 결과에 대한 산출물 정보를 담고 있습니다."
          }
        },
        "required": [
          "references"
        ],
        "title": "검색 결과"
      },
      "IConnector.IReferenceContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "제목",
            "description": "산출물의 제목입니다."
          },
          "type": {
            "$ref": "#/components/schemas/IConnector.ReferenceType",
            "title": "산출물 타입",
            "description": "비디오, 이미지, 뉴스기사, 논문.."
          },
          "source": {
            "$ref": "#/components/schemas/IConnector.ContentProvider",
            "title": "산출물의 출처",
            "description": "유튜브, 페이스북, 인스타그램, 구글 검색, arxiv, 구글 뉴스"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "title": "URL 주소",
            "description": "산출물의 URL 주소입니다."
          },
          "contents": {
            "type": "string",
            "title": "산출물 내용",
            "description": "산출물의 내용입니다."
          },
          "image": {
            "type": "string",
            "format": "uri",
            "title": "산출물 이미지 url",
            "description": "산출물의 이미지 URL 주소입니다."
          },
          "statistics": {
            "$ref": "#/components/schemas/PartialRecordIConnector.MetricTypenumberTypeint32",
            "title": "산출물 통계 자료 정보",
            "description": "산출물의 통계 자료 정보입니다."
          }
        },
        "required": [
          "title",
          "type",
          "source",
          "url"
        ]
      },
      "IConnector.ReferenceType": {
        "oneOf": [
          {
            "const": "video"
          },
          {
            "const": "image"
          },
          {
            "const": "news_article"
          },
          {
            "const": "research_paper"
          }
        ],
        "title": "Connector 산출물 타입",
        "description": "비디오, 이미지, 뉴스기사, 논문.."
      },
      "IConnector.ContentProvider": {
        "oneOf": [
          {
            "const": "youtube"
          },
          {
            "const": "facebook"
          },
          {
            "const": "instagram"
          },
          {
            "const": "google_search"
          },
          {
            "const": "arxiv"
          },
          {
            "const": "google_news"
          }
        ],
        "title": "Connector 산출물 출처",
        "description": "산출물의 출처입니다."
      },
      "PartialRecordIConnector.MetricTypenumberTypeint32": {
        "type": "object",
        "properties": {
          "view_count": {
            "type": "integer"
          },
          "like_count": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          }
        },
        "description": "Make all properties in T optional"
      },
      "IGoogleCalendar.ISecret": {
        "type": "object",
        "properties": {
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "secretKey"
        ],
        "title": "인증 정보"
      },
      "IGoogleCalendar.IGoogleCalendarOutput": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "캘린더 id.",
            "description": "생성된 캘린더의 id 입니다."
          },
          "summary": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "캘린더 명.",
            "description": "생성된 캘린더의 이름 입니다."
          }
        },
        "title": "캘린더 생성 결과"
      },
      "IGoogleCalendar.ICreateCalendarInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "생성할 캘린더 제목.",
            "description": "생성할 캘린더의 제목 입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "title",
          "secretKey"
        ],
        "title": "캘린더 생성을 위한 정보"
      },
      "IGoogleCalendar.IReadGoogleCalendarEventInput": {
        "type": "object",
        "properties": {
          "extract_fields": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "summary",
                  "title": "제목"
                },
                {
                  "const": "description",
                  "title": "설명"
                },
                {
                  "const": "htmlLink",
                  "title": "링크"
                },
                {
                  "const": "created",
                  "title": "이벤트 생성 날짜"
                },
                {
                  "const": "updated",
                  "title": "이벤트 업데이트 날짜"
                },
                {
                  "const": "location",
                  "title": "위치"
                },
                {
                  "const": "organizer",
                  "title": "주최자"
                },
                {
                  "const": "creator",
                  "title": "생성한 사람"
                },
                {
                  "const": "start",
                  "title": "이벤트 시작일"
                },
                {
                  "const": "end",
                  "title": "이벤트 종료일"
                },
                {
                  "const": "attendees",
                  "title": "참석자 정보"
                },
                {
                  "const": "reminders",
                  "title": "알림 정보"
                },
                {
                  "const": "attachments",
                  "title": "첨부파일 정보"
                }
              ]
            },
            "title": "가져올 데이터 (필드) 정보.",
            "description": "캘린더 데이터에서 가져올 데이터 정보입니다."
          },
          "time_max": {
            "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IDate",
            "title": "이벤트를 가져올 마지막 날짜 정보.",
            "description": "해당 날짜 이후의 이벤트는 가져오지 않습니다."
          },
          "time_min": {
            "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IDate",
            "title": "이벤트를 가져올 시작 날짜 정보.",
            "description": "해당 날짜 이전의 이벤트는 가져오지 않습니다."
          },
          "max_results": {
            "type": "integer",
            "title": "몇 개의 결과를 반환할지.",
            "description": "가져올 이벤트의 최대 개수를 설정합니다."
          },
          "orderBy": {
            "oneOf": [
              {
                "const": "startTime",
                "title": "시작 시간"
              },
              {
                "const": "updated",
                "title": "업데이트 날짜"
              }
            ],
            "title": "어떤 순서대로 받아올 것인지.",
            "description": "캘린더 이벤트 정렬 순서입니다."
          },
          "query": {
            "type": "string",
            "title": "이벤트 검색어.",
            "description": "검색어를 포함하는 이벤트를 검색할 수 있습니다.\n\n제목, 설명, 위치, 참석자 등에서 지정한 검색어를 포함하는 이벤트를 검색할 수 있음"
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "extract_fields",
          "time_max",
          "time_min",
          "secretKey"
        ],
        "title": "이벤트 검색에 필요한 정보"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IDate": {
        "type": "object",
        "properties": {
          "year": {
            "type": "number",
            "title": "연도.",
            "description": "연도입니다."
          },
          "month": {
            "type": "number",
            "title": "달.",
            "description": "달입니다."
          },
          "date": {
            "type": "number",
            "title": "일.",
            "description": "일입니다."
          },
          "hour": {
            "type": "number",
            "title": "시.",
            "description": "시입니다."
          }
        },
        "required": [
          "year",
          "month",
          "date",
          "hour"
        ],
        "title": "날짜 정보"
      },
      "IGoogleCalendar.IReadGoogleCalendarEventOutput": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
            },
            "title": "이벤트 리스트.",
            "description": "검색된 캘린더 이벤트 리스트입니다."
          }
        },
        "required": [
          "events"
        ],
        "title": "캘린더 이벤트 검색 결과"
      },
      "IGoogleCalendar.IGoogleCalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 id.",
            "description": "이벤트의 고유 id 입니다."
          },
          "htmlLink": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "이벤트 링크.",
            "description": "이벤트 링크 입니다."
          },
          "color": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 색상.",
            "description": "이벤트 색상입니다."
          },
          "createdDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 생성 날짜.",
            "description": "이벤트 생성 날짜입니다."
          },
          "updatedDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 업데이트 날짜.",
            "description": "이벤트 업데이트 날짜입니다."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 제목.",
            "description": "이벤트 제목입니다."
          },
          "description": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 설명.",
            "description": "이벤트 설명입니다."
          },
          "location": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 위치.",
            "description": "이벤트 위치입니다."
          },
          "organizer": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IOrganizer"
              }
            ],
            "title": "이벤트 주최자.",
            "description": "이벤트 주최자의 정보입니다."
          },
          "creator": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.ICreator"
              }
            ],
            "title": "이벤트 생성자.",
            "description": "이벤트 생성자의 정보입니다."
          },
          "startDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "dateTime": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "이벤트 시작 날짜.",
                    "description": "이벤트 시작 날짜입니다."
                  },
                  "timeZone": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "이벤트 시작 날짜 타임존.",
                    "description": "이벤트 시작 날짜 타임존입니다."
                  }
                }
              }
            ],
            "title": "이벤트 시작 날짜.\n\n이벤트의 시작 날짜 정보입니다."
          },
          "endDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "properties": {
                  "dateTime": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "이벤트 끝나는 날짜.",
                    "description": "이벤트 끝나는 날짜입니다."
                  },
                  "timeZone": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "이벤트 끝나는 날짜 타임존.",
                    "description": "이벤트 끝나는 날짜 타임존입니다."
                  }
                }
              }
            ],
            "title": "이벤트 끝나는 날짜.",
            "description": "이벤트의 끝나는 날짜 정보입니다."
          },
          "recurrence": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "title": "이벤트 반복 정보.",
            "description": "이벤트 반복 정보입니다."
          },
          "transparency": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 바쁨 / 한가함 여부.",
            "description": "이벤트 바쁨 / 한가함 여부입니다."
          },
          "guestsCanModify": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "초대자 이벤트 수정 권한 여부.",
            "description": "초대자 이벤트 수정 권한 여부입니다."
          },
          "reminders": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IReminders"
              }
            ],
            "title": "이벤트 알림 정보.",
            "description": "이벤트 알림 정보입니다."
          },
          "attendees": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IAttendees"
                }
              }
            ],
            "title": "이벤트 참석자.",
            "description": "이벤트 참석자 정보입니다."
          },
          "attachments": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IAttachments"
                }
              }
            ],
            "title": "첨부파일 정보.",
            "description": "이벤트 첨부파일 정보입니다."
          },
          "hangoutLink": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "구글 밋 링크.",
            "description": "구글 밋 링크입니다."
          },
          "visibility": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 공개 상태.",
            "description": "이벤트 공개 상태입니다."
          }
        },
        "title": "구글 캘린더 이벤트 정보"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IOrganizer": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 주최자 프로필 id.",
            "description": "이벤트 주최자 프로필 id입니다."
          },
          "displayName": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 주최자 이름.",
            "description": "이벤트 주최자 이름입니다."
          },
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 주최자 이메일.",
            "description": "이벤트 주최자 이메일입니다."
          },
          "self": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "이벤트 사본이 표시되는 캘린더에 해당하는지 여부.",
            "description": "이벤트 사본이 표시되는 캘린더에 해당하는지 여부입니다."
          }
        },
        "title": "주최자 정보"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.ICreator": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 생성자 프로필 id.",
            "description": "이벤트 생성자 프로필 id입니다."
          },
          "displayName": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 생성자 이름.",
            "description": "이벤트 생성자 이름입니다."
          },
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 생성자 이메일.",
            "description": "이벤트 생성자 이메일입니다."
          },
          "self": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "이벤트 사본이 표시되는 캘린더에 해당하는지 여부.",
            "description": "이벤트 사본이 표시되는 캘린더에 해당하는지 여부입니다."
          }
        },
        "title": "이벤트 생성자 정보.",
        "description": "이벤트 생성자 정보입니다."
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IReminders": {
        "type": "object",
        "properties": {
          "useDefault": {
            "type": "boolean",
            "title": "디폴트 알림 여부.",
            "description": "디폴트 알림 여부입니다."
          },
          "overrides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IRemindersOverrides"
            },
            "title": "알림 설정 정보.",
            "description": "알림 설정 정보입니다."
          }
        },
        "title": "알림 정보"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IRemindersOverrides": {
        "type": "object",
        "properties": {
          "method": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "알림 방식.",
            "description": "알림 방식입니다."
          },
          "minutes": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ],
            "title": "알림 보내는 시간.",
            "description": "알림 보내는 시간입니다."
          }
        },
        "title": "알림 설정 정보"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IAttendees": {
        "type": "object",
        "properties": {
          "email": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "이벤트 참석자 이메일.",
            "description": "이벤트 참석자 이메일입니다."
          },
          "organizer": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "이벤트 참석자가 주최자인지 여부.",
            "description": "이벤트 참석자가 주최자인지 여부입니다."
          },
          "self": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ],
            "title": "일정 사본이 표시되는 캘린더를 나타내는지 여부.",
            "description": "일정 사본이 표시되는 캘린더를 나타내는지 여부입니다."
          },
          "responseStatus": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "참석자의 참석 응답 상태.",
            "description": "참석자의 참석 응답 상태입니다."
          }
        },
        "title": "참석자 정보"
      },
      "IGoogleCalendar.IGoogleCalendarEvent.IAttachments": {
        "type": "object",
        "properties": {
          "fileUrl": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "파일 url.",
            "description": "이벤트 첨부파일 url입니다."
          },
          "title": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "파일 제목.",
            "description": "첨부파일 제목입니다."
          },
          "mimeType": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "인터넷 미디어 유형.",
            "description": "인터넷 미디어 유형입니다."
          },
          "iconLink": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string",
                "format": "uri"
              }
            ],
            "title": "파일 icon 링크.",
            "description": "첨부파일 아이콘 링크입니다."
          },
          "fileId": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ],
            "title": "파일 id.",
            "description": "첨부파일의 id 입니다."
          }
        },
        "title": "첨부파일 정보"
      },
      "IGoogleCalendar.ICreateQuickEventInput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "title": "캘린더 빠른 이벤트 생성 문구.",
            "description": "캘린더 빠른 이벤트 생성 문구입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "text",
          "secretKey"
        ],
        "title": "빠른 이벤트 생성을 위해 필요한 정보"
      },
      "IGoogleCalendar.IEventRequestBodyInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "이벤트 제목.",
            "description": "생성할 이벤트 제목입니다."
          },
          "description": {
            "type": "string",
            "title": "이벤트 설명.",
            "description": "생성할 이벤트 설명입니다."
          },
          "location": {
            "type": "string",
            "title": "이벤트 장소.",
            "description": "생성할 이벤트 장소입니다."
          },
          "start": {
            "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IDate",
            "title": "이벤트 시작일.",
            "description": "생성할 이벤트 시작일입니다."
          },
          "end": {
            "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IDate",
            "title": "이벤트 종료일.",
            "description": "생성할 이벤트 종료일입니다."
          },
          "attendeesEmail": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "참석자 이메일.",
            "description": "이벤트 참석자 이메일입니다."
          },
          "repeatFrequency": {
            "oneOf": [
              {
                "const": "DAILY"
              },
              {
                "const": "WEEKLY"
              },
              {
                "const": "MONTHLY"
              },
              {
                "const": "YEARLY"
              }
            ],
            "title": "이벤트 반복 주기.",
            "description": "이벤트 반복 주기입니다."
          },
          "repeatNum": {
            "type": "number",
            "title": "이벤트 반복 횟수.",
            "description": "이벤트 반복 횟수입니다."
          },
          "repeatUntil": {
            "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent.IDate",
            "title": "이벤트 반복 마감 일자.",
            "description": "이벤트 반복 마감 일자입니다."
          },
          "isBusy": {
            "type": "boolean",
            "title": "바쁨 여부.",
            "description": "이벤트 바쁨 상태 여부입니다."
          },
          "isUseDefaultReminder": {
            "type": "boolean",
            "title": "캘린더 기본 알림 사용 여부.",
            "description": "캘린더 기본 알림 사용 여부입니다."
          },
          "remindersType": {
            "oneOf": [
              {
                "const": "popup"
              },
              {
                "const": "email"
              }
            ],
            "title": "이벤트 알림 유형.",
            "description": "이벤트 알림 유형입니다."
          },
          "minutesBeforeReminders": {
            "type": "number",
            "title": "일정 시작전 알림 설정 시간.",
            "description": "일정 시작전 알림 설정 시간입니다."
          },
          "isConferencing": {
            "type": "boolean",
            "title": "구글밋 생성 여부.",
            "description": "구글밋 생성 여부입니다."
          },
          "visibility": {
            "oneOf": [
              {
                "const": "default"
              },
              {
                "const": "public"
              },
              {
                "const": "private"
              }
            ],
            "title": "이벤트 공개 상태.",
            "description": "이벤트 공개 상태입니다."
          },
          "colorId": {
            "type": "string",
            "title": "이벤트 색상.",
            "description": "이벤트 색상."
          },
          "isGuestCanModify": {
            "type": "boolean",
            "title": "게스트 이벤트 수정 가능 여부.",
            "description": "게스트 이벤트 수정 가능 여부입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "start",
          "end",
          "secretKey"
        ],
        "title": "이벤트 생성을 위해 필요한 정보"
      },
      "IGoogleCalendar.IAddAttendeesToEventInput": {
        "type": "object",
        "properties": {
          "attendeesEmail": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "추가할 참석자 이메일.",
            "description": "추가할 참석자 이메일입니다."
          },
          "secretKey": {
            "type": "string",
            "x-wrtn-secret-key": "google",
            "x-wrtn-secret-scopes": [
              "https://www.googleapis.com/auth/calendar"
            ],
            "title": "인증 정보 선택",
            "description": "secret key."
          }
        },
        "required": [
          "attendeesEmail",
          "secretKey"
        ],
        "title": "참석자 추가를 위해 필요한 정보"
      },
      "IChatbot.IChatbotEasyGenerateInput": {
        "type": "object",
        "properties": {
          "difficulty": {
            "const": "easy",
            "title": "난이도",
            "description": "챗봇이 제작된 난이도 입니다."
          },
          "role": {
            "type": "string",
            "title": "역할",
            "description": "챗봇의 역할입니다."
          },
[...]
