{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "마케팅",
    "version": "0.1.27",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/daum/blog": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.IBlogDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 블로그 검색",
        "description": "다음 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/daum/cafe": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.ICafeDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 카페 검색",
        "description": "다음 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/cafe": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 카페 검색",
        "description": "네이버 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_cafe.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/blog": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 블로그 검색",
        "description": "네이버 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_blog.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "후보 선택을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "summary": "조건 선택",
        "description": "주어진 후보 중에서 조건에 맞는 것을 선택합니다."
      }
    }
  },
  "components": {
    "schemas": {
      "IDaum.ISearchDaumInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "다음 검색 결과에 들어가야하는 키워드를 설정합니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "다음 검색 결과에 들어가면 좋은 키워드를 설정합니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "다음 검색 결과에 들어가면 안되는 키워드를 설정합니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "accuracy",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              },
              {
                "const": "recency",
                "default": "accuracy",
                "x-wrtn-placeholder": "accuracy"
              }
            ],
            "title": "결과 문서 정렬 방식",
            "description": "- accuracy: 정확도순 (default)\n- recency: 최신순"
          },
          "page": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 1,
            "title": "결과 페이지 번호",
            "description": "결과 페이지의 번호입니다."
          },
          "size": {
            "type": "number",
            "minimum": 1,
            "maximum": 50,
            "default": 10,
            "title": "한 페이지에 보여질 문서 수",
            "description": "한 페이지에 보여질 문서 수 입니다."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "다음 검색에 필요한 정보"
      },
      "IDaum.IBlogDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "검색된 컨텐츠 수",
                "description": "검색된 문서의 총 개수입니다."
              },
              "pageableCount": {
                "type": "number",
                "title": "검색된 문서 중 노출 가능한 컨텐츠 수",
                "description": "검색된 문서 중 노출 가능한 컨텐츠의 개수입니다."
              },
              "isEnd": {
                "type": "boolean",
                "title": "현재 페이지가 마지막 페이지인지 여부",
                "description": "값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "문서의 제목",
                  "description": "검색된 문서의 제목입니다."
                },
                "contents": {
                  "type": "string",
                  "title": "문서 본문중 일부",
                  "description": "검색된 문서의 본문 중 일부입니다."
                },
                "url": {
                  "type": "string",
                  "title": "문서 URL",
                  "description": "검색된 문서의 URL입니다."
                },
                "blogName": {
                  "type": "string",
                  "title": "블로그의 이름",
                  "description": "검색된 블로그의 이름입니다."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "썸네일 이미지 URL",
                  "description": "검색 시스템에서 추출한 대표 미리보기 이미지 URL."
                },
                "dateTime": {
                  "type": "string",
                  "title": "문서 작성 시간",
                  "description": "검색된 문서가 작성된 시간입니다."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "blogName",
                "thumbnail",
                "dateTime"
              ]
            }
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "다음 블로그 검색 결과"
      },
      "IDaum.ICafeDaumOutput": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number",
                "title": "검색된 다음 카페 컨텐츠 수",
                "description": "검색된 다음 카페의 총 갯수 입니다."
              },
              "pageableCount": {
                "type": "number",
                "title": "검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠 수",
                "description": "검색된 다음 카페 컨텐츠 중 노출 가능한 컨텐츠의 개수입니다."
              },
              "isEnd": {
                "type": "boolean",
                "title": "현재 페이지가 마지막 페이지인지 여부",
                "description": "값이 false면 page를 증가시켜 다음 페이지를 요청할 수 있습니다."
              }
            },
            "required": [
              "totalCount",
              "pageableCount",
              "isEnd"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "title": "문서의 제목",
                  "description": "검색된 문서의 제목입니다."
                },
                "contents": {
                  "type": "string",
                  "title": "문서 본문중 일부",
                  "description": "검색된 문서의 본문 중 일부입니다."
                },
                "url": {
                  "type": "string",
                  "title": "문서 URL",
                  "description": "검색된 문서의 URL입니다."
                },
                "cafeName": {
                  "type": "string",
                  "title": "카페 이름",
                  "description": "검색된 다음 카페 이름입니다."
                },
                "thumbnail": {
                  "type": "string",
                  "contentMediaType": "image/*",
                  "title": "썸네일 이미지 URL",
                  "description": "검색 시스템에서 추출한 대표 미리보기 이미지 URL."
                },
                "dateTime": {
                  "type": "string",
                  "title": "문서 작성 시간",
                  "description": "검색된 문서가 작성된 시간입니다."
                }
              },
              "required": [
                "title",
                "contents",
                "url",
                "cafeName",
                "thumbnail",
                "dateTime"
              ]
            }
          }
        },
        "required": [
          "meta",
          "documents"
        ],
        "title": "다음 카페 검색 결과"
      },
      "INaver.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 반드시 포함되어야 하는 키워드입니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "검색할 개수",
            "description": "검색 결과를 몇 개 받아올 것인지 설정합니다.\n최소 1개, 최대 100개, 기본 10개입니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim",
                "x-wrtn-placeholder": "sim"
              },
              {
                "const": "date",
                "x-wrtn-placeholder": "sim"
              }
            ],
            "title": "검색 결과 정렬 방법",
            "description": "검색 결과를 어떤 기준으로 정렬할 것인지 설정합니다."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "검색 조건"
      },
      "INaver.ICafeNaverOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lastBuildDate": {
                "type": "string",
                "title": "검색 결과를 생성한 시간.",
                "description": "검색 결과를 생성한 시간입니다."
              },
              "total": {
                "type": "number",
                "title": "총 검색 결과 개수.",
                "description": "검색 결과의 총 개수입니다."
              },
              "start": {
                "type": "number",
                "title": "검색 시작 위치.",
                "description": "검색 결과의 시작 위치입니다."
              },
              "display": {
                "type": "number",
                "title": "한 번에 표시할 검색 결과 개수.",
                "description": "한 번에 표시할 검색 결과의 개수입니다."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverItemOutput"
                },
                "title": "개별 검색 결과.",
                "description": "개별 검색 결과입니다."
              }
            },
            "required": [
              "lastBuildDate",
              "total",
              "start",
              "display",
              "items"
            ],
            "title": "네이버 카페 검색 결과물 데이터.",
            "description": "네이버 카페 검색 결과물 데이터."
          }
        },
        "required": [
          "data"
        ],
        "title": "네이버 카페 검색 결과"
      },
      "INaver.ICafeNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 카페 게시글의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 카페 게시글의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 카페 게시글의 요약 내용."
          },
          "cafename": {
            "type": "string",
            "title": "게시글이 있는 카페 이름.",
            "description": "네이버 카페 게시글이 있는 카페의 이름."
          },
          "cafeurl": {
            "type": "string",
            "title": "게시글이 있는 카페 링크.",
            "description": "네이버 카페 게시글이 있는 카페의 링크."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "cafename",
          "cafeurl"
        ],
        "title": "네이버 카페 검색 데이터"
      },
      "INaver.IBlogNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "검색 결과를 생성한 시간.",
            "description": "검색 결과를 생성한 시간입니다."
          },
          "total": {
            "type": "number",
            "title": "총 검색 결과 개수.",
            "description": "검색 결과의 총 개수입니다."
          },
          "start": {
            "type": "number",
            "title": "검색 시작 위치.",
            "description": "검색 결과의 시작 위치입니다."
          },
          "display": {
            "type": "number",
            "title": "한 번에 표시할 검색 결과 개수.",
            "description": "한 번에 표시할 검색 결과의 개수입니다."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.IBlogNaverItemOutput"
            },
            "title": "개별 검색 결과.",
            "description": "개별 검색 결과입니다."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ],
        "title": "네이버 블로그 검색 결과"
      },
      "INaver.IBlogNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 블로그 게시물의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 블로그 게시물의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 블로그 게시물의 요약 내용."
          },
          "bloggername": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 이름.",
            "description": "네이버 블로그 게시물이 있는 블로그의 이름."
          },
          "bloggerlink": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 주소.",
            "description": "네이버 블로그 게시물이 있는 블로그의 주소."
          },
          "postdate": {
            "type": "string",
            "title": "블로그 포스트가 작성된 날짜.",
            "description": "네이버 블로그 게시물이 작성된 날짜."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "bloggername",
          "bloggerlink",
          "postdate"
        ],
        "title": "네이버 블로그 검색 데이터"
      },
      "ISelectorLlmRequest": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {},
            "title": "선택지.",
            "description": "선택 후보군 리스트입니다."
          },
          "num_select": {
            "type": "number",
            "title": "선택 개수.",
            "description": "선택할 후보군의 개수입니다."
          },
          "context": {
            "title": "고려사항.",
            "description": "후보군을 선택할 때 고려해야할 내용들을 넣습니다."
          }
        },
        "required": [
          "candidates",
          "num_select",
          "context"
        ]
      },
      "ISelectorLlmResponse": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "title": "선택된 후보 인덱스 정보.",
            "description": "선택된 후보들의 인덱스 리스트입니다."
          }
        },
        "required": [
          "selection"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Daum",
      "description": "다음 포털 사이트"
    },
    {
      "name": "다음",
      "description": "블로그"
    },
    {
      "name": "블로그",
      "description": "작성"
    },
    {
      "name": "Blog",
      "description": "Writing"
    },
    {
      "name": "카페",
      "description": "멤버"
    },
    {
      "name": "포스트",
      "description": "작성"
    },
    {
      "name": "Cafe",
      "description": "Members"
    },
    {
      "name": "Post",
      "description": "Writing"
    },
    {
      "name": "Naver",
      "description": "네이버 포털 사이트"
    },
    {
      "name": "네이버",
      "description": "카페"
    },
    {
      "name": "Llm",
      "description": "selection 선택 추출"
    }
  ],
  "x-samchon-emended": true
}