{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "네이버",
    "version": "0.1.18",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/naver/cafe": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 카페 검색",
        "description": "네이버 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_cafe.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/blog": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 블로그 검색",
        "description": "네이버 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_blog.svg",
        "x-wrtn-standalone": true
      }
    }
  },
  "components": {
    "schemas": {
      "INaver.INaverKeywordInput": {
        "type": "object",
        "properties": {
          "andKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "뤼튼",
            "title": "꼭 들어가야하는 키워드",
            "description": "검색 결과에 반드시 포함되어야 하는 키워드입니다."
          },
          "orKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "스튜디오",
            "title": "들어가면 좋은 키워드",
            "description": "검색 결과에 포함되면 좋겠는 키워드입니다."
          },
          "notKeywords": {
            "type": "string",
            "x-wrtn-placeholder": "폭력",
            "title": "들어가면 안되는 키워드",
            "description": "검색 결과에 포함되면 안되는 키워드입니다."
          },
          "display": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "x-wrtn-placeholder": "10",
            "title": "검색할 개수",
            "description": "검색 결과를 몇 개 받아올 것인지 설정합니다.\n최소 1개, 최대 100개, 기본 10개입니다."
          },
          "sort": {
            "oneOf": [
              {
                "const": "sim",
                "x-wrtn-placeholder": "sim"
              },
              {
                "const": "date",
                "x-wrtn-placeholder": "sim"
              }
            ],
            "title": "검색 결과 정렬 방법",
            "description": "검색 결과를 어떤 기준으로 정렬할 것인지 설정합니다."
          }
        },
        "required": [
          "andKeywords"
        ],
        "title": "검색 조건"
      },
      "INaver.ICafeNaverOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lastBuildDate": {
                "type": "string",
                "title": "검색 결과를 생성한 시간.",
                "description": "검색 결과를 생성한 시간입니다."
              },
              "total": {
                "type": "number",
                "title": "총 검색 결과 개수.",
                "description": "검색 결과의 총 개수입니다."
              },
              "start": {
                "type": "number",
                "title": "검색 시작 위치.",
                "description": "검색 결과의 시작 위치입니다."
              },
              "display": {
                "type": "number",
                "title": "한 번에 표시할 검색 결과 개수.",
                "description": "한 번에 표시할 검색 결과의 개수입니다."
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverItemOutput"
                },
                "title": "개별 검색 결과.",
                "description": "개별 검색 결과입니다."
              }
            },
            "required": [
              "lastBuildDate",
              "total",
              "start",
              "display",
              "items"
            ],
            "title": "네이버 카페 검색 결과물 데이터.",
            "description": "네이버 카페 검색 결과물 데이터."
          }
        },
        "required": [
          "data"
        ],
        "title": "네이버 카페 검색 결과"
      },
      "INaver.ICafeNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 카페 게시글의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 카페 게시글의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 카페 게시글의 요약 내용."
          },
          "cafename": {
            "type": "string",
            "title": "게시글이 있는 카페 이름.",
            "description": "네이버 카페 게시글이 있는 카페의 이름."
          },
          "cafeurl": {
            "type": "string",
            "title": "게시글이 있는 카페 링크.",
            "description": "네이버 카페 게시글이 있는 카페의 링크."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "cafename",
          "cafeurl"
        ],
        "title": "네이버 카페 검색 데이터"
      },
      "INaver.IBlogNaverOutput": {
        "type": "object",
        "properties": {
          "lastBuildDate": {
            "type": "string",
            "title": "검색 결과를 생성한 시간.",
            "description": "검색 결과를 생성한 시간입니다."
          },
          "total": {
            "type": "number",
            "title": "총 검색 결과 개수.",
            "description": "검색 결과의 총 개수입니다."
          },
          "start": {
            "type": "number",
            "title": "검색 시작 위치.",
            "description": "검색 결과의 시작 위치입니다."
          },
          "display": {
            "type": "number",
            "title": "한 번에 표시할 검색 결과 개수.",
            "description": "한 번에 표시할 검색 결과의 개수입니다."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INaver.IBlogNaverItemOutput"
            },
            "title": "개별 검색 결과.",
            "description": "개별 검색 결과입니다."
          }
        },
        "required": [
          "lastBuildDate",
          "total",
          "start",
          "display",
          "items"
        ],
        "title": "네이버 블로그 검색 결과"
      },
      "INaver.IBlogNaverItemOutput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "게시글 제목.",
            "description": "네이버 블로그 게시물의 제목."
          },
          "link": {
            "type": "string",
            "title": "게시글 링크.",
            "description": "네이버 블로그 게시물의 링크."
          },
          "description": {
            "type": "string",
            "title": "게시글 요약 내용.",
            "description": "네이버 블로그 게시물의 요약 내용."
          },
          "bloggername": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 이름.",
            "description": "네이버 블로그 게시물이 있는 블로그의 이름."
          },
          "bloggerlink": {
            "type": "string",
            "title": "블로그 포스트가 있는 블로그의 주소.",
            "description": "네이버 블로그 게시물이 있는 블로그의 주소."
          },
          "postdate": {
            "type": "string",
            "title": "블로그 포스트가 작성된 날짜.",
            "description": "네이버 블로그 게시물이 작성된 날짜."
          }
        },
        "required": [
          "title",
          "link",
          "description",
          "bloggername",
          "bloggerlink",
          "postdate"
        ],
        "title": "네이버 블로그 검색 데이터"
      }
    }
  },
  "tags": [
    {
      "name": "Naver",
      "description": "네이버 포털 사이트"
    },
    {
      "name": "네이버",
      "description": "카페"
    },
    {
      "name": "카페",
      "description": "멤버"
    },
    {
      "name": "블로그",
      "description": "포스트"
    },
    {
      "name": "포스트",
      "description": "작성"
    },
    {
      "name": "Cafe",
      "description": "Members"
    },
    {
      "name": "Blog",
      "description": "Post"
    },
    {
      "name": "Post",
      "description": "Writing"
    }
  ],
  "x-samchon-emended": true
}