{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "공공데이터",
    "version": "0.1.20",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/open-data/getRTMSDataSvcSHRent": {
      "post": {
        "tags": [
          "주거",
          "단독주택",
          "다가구",
          "월세",
          "전세"
        ],
        "parameters": [],
        "requestBody": {
          "description": "조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회한 전세, 월세 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IgetRTMSDataSvcSHRentOutput"
                }
              }
            }
          }
        },
        "summary": "다가구 전세, 월세 정보 조회",
        "description": "[국토교통부] 단독 주택, 다가구 주택 전세, 월세 정보를 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcOffiRent": {
      "post": {
        "tags": [
          "주거",
          "오피스텔",
          "월세",
          "전세"
        ],
        "parameters": [],
        "requestBody": {
          "description": "조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회한 전세, 월세 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcOffiRentOutput"
                }
              }
            }
          }
        },
        "summary": "오피스텔 전세, 월세 정보 조회",
        "description": "[국토교통부] 오피스텔 전세, 월세 정보를 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getRTMSDataSvcAptRent": {
      "post": {
        "tags": [
          "공공 데이터",
          "주거",
          "아파트",
          "월세",
          "전세"
        ],
        "parameters": [],
        "requestBody": {
          "description": "조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회한 전세, 월세 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.IGetRTMSDataSvcAptRentOutput"
                }
              }
            }
          }
        },
        "summary": "아파트 전세, 월세 정보 조회",
        "description": "[국토교통부] 아파트 전세, 월세 정보를 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getLHLeaseInfo": {
      "post": {
        "tags": [
          "공공 데이터",
          "LH",
          "주거",
          "임대주택",
          "행복주택"
        ],
        "parameters": [],
        "requestBody": {
          "description": "조회할 임대주택 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ILH.IGetLHLeaseInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "LH 임대주택 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ILH.IGetLHLeaseInfoOutput"
                }
              }
            }
          }
        },
        "summary": "LH 임대주택 조회",
        "description": "[한국토지주택공사] LH 임대주택 단지를 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getParkingLot": {
      "post": {
        "tags": [
          "공공 데이터",
          "주차장",
          "주차"
        ],
        "parameters": [],
        "requestBody": {
          "description": "주차장 조회 조건",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IPaginationInputPickParkingLotrdnmadr"
                  },
                  {
                    "$ref": "#/components/schemas/IPaginationInputPickParkingLotlnmadr"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "주차장 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INIA.IGetParkingLotOutput"
                }
              }
            }
          }
        },
        "summary": "주차장 조회",
        "description": "[한국지능정보사회진흥원] 주차장 정보를 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getBuildingInfo": {
      "post": {
        "tags": [
          "공공 데이터",
          "건축물",
          "빌딩",
          "내진설계",
          "건축물대장정보"
        ],
        "parameters": [],
        "requestBody": {
          "description": "빌딩 정보를 조회하는 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMOLIT.GetBuildingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "빌딩 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMOLIT.GetBuildingInfoOutput"
                }
              }
            }
          }
        },
        "summary": "건축물대장정보 조회",
        "description": "[국토교통부] 건축물대장정보를 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getStandardRegionCodeList": {
      "post": {
        "tags": [
          "공공 데이터",
          "행정구역",
          "지역구",
          "읍면동",
          "시도",
          "시군구"
        ],
        "parameters": [],
        "requestBody": {
          "description": "조회할 지역 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "지역 코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListOutput"
                }
              }
            }
          }
        },
        "summary": "행정표준 코드 조회",
        "description": "[행정안전부] 국내 지역의 행정 표준 상 코드를 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getStockPriceInfo": {
      "post": {
        "tags": [
          "공공 데이터",
          "주식",
          "시가총액",
          "기업",
          "자본"
        ],
        "parameters": [],
        "requestBody": {
          "description": "시가총액 조회를 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120Placeholder삼성전자)undefinedbasDt(stringPlaceholder20220919)undefined"
                  },
                  {
                    "$ref": "#/components/schemas/IPaginationInputlikeItmsNm(stringMaxLength120Placeholder삼성전자)undefinedbeginBasDt(stringPlaceholder20220919)undefinedendBasDt(stringPlaceholder...)undefined"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "시가 총액 및 주식 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOpenData.FinancialServicesCommission.IGetStockPriceInfoOutput"
                }
              }
            }
          }
        },
        "summary": "시가총액 및 주식 정보 조회",
        "description": "[금융위원회] 시가총액과 주식 정보를 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getShortTermForecast": {
      "post": {
        "tags": [
          "공공 데이터",
          "날씨",
          "기상청",
          "오늘 날씨",
          "기후"
        ],
        "parameters": [],
        "requestBody": {
          "description": "날씨 조회를 위한 위치 정보 DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IOpenData.IKoreaMeteorologicalAdministration.IGetVillageForecastInformationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "해당 지역의 기상 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IOpenData.IKoreaMeteorologicalAdministration.IGetVillageForecastInformationOutput"
                }
              }
            }
          }
        },
        "summary": "기상청 오늘 날씨 조회",
        "description": "[기상청] 오늘 날씨를 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    },
    "/connector/open-data/getCopyRight": {
      "post": {
        "tags": [
          "저작권"
        ],
        "parameters": [],
        "requestBody": {
          "description": "저작권 조회를 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KoreaCopyrightCommission.IGetCopyRightInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "저작권 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KoreaCopyrightCommission.IGetCopyRightOutput"
                }
              }
            }
          }
        },
        "summary": "[저작권등록정보서비스(신규)",
        "description": "[한국저작권위원회] 저작권을 검색합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/open_data.svg"
      }
    }
  },
  "components": {
    "schemas": {
      "IMOLIT.IGetRTMSDataSvcAptRentInput": {
        "type": "object",
        "properties": {
          "LAWD_CD": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "array": "return response.rows",
              "value": "return elem.sigunguCd",
              "label": "return elem.sigunguNm"
            },
            "title": "시군구 코드"
          },
          "DEAL_YMD": {
            "type": "string",
            "x-wrtn-placeholder": "202201",
            "title": "실거래 자료의 계약년월(6자리)"
          }
        },
        "required": [
          "LAWD_CD",
          "DEAL_YMD"
        ]
      },
      "IMOLIT.IgetRTMSDataSvcSHRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIMOLIT.BuildingLentInfoapartmentexclusiveArealotNumberfloor"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "StrictOmitIMOLIT.BuildingLentInfoapartmentexclusiveArealotNumberfloor": {
        "type": "object",
        "properties": {
          "useOfRenewalRight": {
            "type": "string",
            "title": "갱신요구권사용"
          },
          "yearOfConstruction": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "건축년도"
          },
          "typeOfContract": {
            "type": "string",
            "title": "계약구분"
          },
          "contractPeriod": {
            "type": "string",
            "title": "계약기간"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "년"
          },
          "legalDistrict": {
            "type": "string",
            "title": "법정동"
          },
          "depositAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "보증금액"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "월"
          },
          "monthlyRentAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "월세금액"
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "일"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약보증금"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약월세"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지역코드"
          }
        },
        "required": [
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "depositAmount",
          "month",
          "monthlyRentAmount",
          "day",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "areaCode"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcOffiRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StrictOmitIMOLIT.BuildingLentInfoapartmentyearOfConstructiondepositAmountmonthlyRentAmount"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "StrictOmitIMOLIT.BuildingLentInfoapartmentyearOfConstructiondepositAmountmonthlyRentAmount": {
        "type": "object",
        "properties": {
          "exclusiveArea": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "전용면적"
          },
          "lotNumber": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "지번"
          },
          "floor": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "층"
          },
          "useOfRenewalRight": {
            "type": "string",
            "title": "갱신요구권사용"
          },
          "typeOfContract": {
            "type": "string",
            "title": "계약구분"
          },
          "contractPeriod": {
            "type": "string",
            "title": "계약기간"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "년"
          },
          "legalDistrict": {
            "type": "string",
            "title": "법정동"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "월"
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "일"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약보증금"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약월세"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지역코드"
          }
        },
        "required": [
          "exclusiveArea",
          "lotNumber",
          "floor",
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "month",
          "day",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "areaCode"
        ]
      },
      "IMOLIT.IGetRTMSDataSvcAptRentOutput": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IMOLIT.BuildingLentInfo"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "IMOLIT.BuildingLentInfo": {
        "type": "object",
        "properties": {
          "useOfRenewalRight": {
            "type": "string",
            "title": "갱신요구권사용"
          },
          "yearOfConstruction": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "건축년도"
          },
          "typeOfContract": {
            "type": "string",
            "title": "계약구분"
          },
          "contractPeriod": {
            "type": "string",
            "title": "계약기간"
          },
          "year": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "년"
          },
          "legalDistrict": {
            "type": "string",
            "title": "법정동"
          },
          "depositAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "보증금액"
          },
          "apartment": {
            "type": "string",
            "title": "아파트"
          },
          "month": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              }
            ],
            "title": "월"
          },
          "monthlyRentAmount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "월세금액"
          },
          "day": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            ],
            "title": "일"
          },
          "exclusiveArea": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "전용면적"
          },
          "previousContractDeposit": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약보증금"
          },
          "previousContractMonthlyRent": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "종전계약월세"
          },
          "lotNumber": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "지번"
          },
          "areaCode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지역코드"
          },
          "floor": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "title": "층"
          }
        },
        "required": [
          "useOfRenewalRight",
          "typeOfContract",
          "contractPeriod",
          "year",
          "legalDistrict",
          "depositAmount",
          "apartment",
          "month",
          "monthlyRentAmount",
          "day",
          "exclusiveArea",
          "previousContractDeposit",
          "previousContractMonthlyRent",
          "lotNumber",
          "areaCode",
          "floor"
        ]
      },
      "ILH.IGetLHLeaseInfoInput": {
        "type": "object",
        "properties": {
          "CNP_CD": {
            "oneOf": [
              {
                "const": 11,
                "title": "서울특별시"
              },
              {
                "const": 26,
                "title": "부산광역시"
              },
              {
                "const": 27,
                "title": "대구광역시"
              },
              {
                "const": 28,
                "title": "인천광역시"
              },
              {
                "const": 29,
                "title": "광주광역시"
              },
              {
                "const": 30,
                "title": "대전광역시"
              },
              {
                "const": 31,
                "title": "울산광역시"
              },
              {
                "const": 41,
                "title": "경기도"
              },
              {
                "const": 42,
                "title": "강원도"
              },
              {
                "const": 43,
                "title": "충청북도"
              },
              {
                "const": 44,
                "title": "충청남도"
              },
              {
                "const": 45,
                "title": "전라북도"
              },
              {
                "const": 46,
                "title": "전라남도"
              },
              {
                "const": 47,
                "title": "경상북도"
              },
              {
                "const": 48,
                "title": "경상남도"
              },
              {
                "const": 50,
                "title": "제주특별자치도"
              },
              {
                "const": 36110,
                "title": "세종특별자치시"
              }
            ],
            "title": "지역 코드"
          },
          "SPL_TP_CD": {
            "oneOf": [
              {
                "const": "07",
                "title": "국민임대"
              },
              {
                "const": "08",
                "title": "공공임대"
              },
              {
                "const": "09",
                "title": "영구임대"
              },
              {
                "const": "10",
                "title": "행복주택"
              },
              {
                "const": "11",
                "title": "장기전세"
              },
              {
                "const": "13",
                "title": "매입임대"
              },
              {
                "const": "17",
                "title": "전세임대"
              }
            ],
            "title": "공급유형코드"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          }
        },
        "required": [
          "CNP_CD"
        ],
        "title": "LH 임대주택 조회 조건"
      },
      "ILH.IGetLHLeaseInfoOutput": {
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "boolean",
            "title": "다음 페이지 유무"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "SUM_HSH_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "873",
                  "title": "총세대수"
                },
                "RFE": {
                  "type": "string",
                  "x-wrtn-placeholder": "373500",
                  "title": "월임대료(원)"
                },
                "RNUM": {
                  "type": "string",
                  "x-wrtn-placeholder": "1",
                  "title": "순번"
                },
                "HSH_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "72",
                  "title": "세대수"
                },
                "ARA_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "서울특별시 강남구",
                  "title": "지역명"
                },
                "LS_GMY": {
                  "type": "string",
                  "x-wrtn-placeholder": "45003000",
                  "title": "임대보증금"
                },
                "AIS_TP_CD_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "국민임대",
                  "title": "공급유형명"
                },
                "SBD_LGO_NM": {
                  "type": "string",
                  "x-wrtn-placeholder": "서울강남 3블록",
                  "title": "단지명"
                },
                "ALL_CNT": {
                  "type": "string",
                  "x-wrtn-placeholder": "157",
                  "title": "전체건수"
                },
                "DDO_AR": {
                  "type": "string",
                  "x-wrtn-placeholder": "46.71",
                  "title": "전용면적"
                },
                "MVIN_XPC_YM": {
                  "type": "string",
                  "x-wrtn-placeholder": "201311",
                  "title": "최초입주년월"
                }
              },
              "required": [
                "SUM_HSH_CNT",
                "RFE",
                "RNUM",
                "HSH_CNT",
                "ARA_NM",
                "LS_GMY",
                "AIS_TP_CD_NM",
                "SBD_LGO_NM",
                "ALL_CNT",
                "DDO_AR",
                "MVIN_XPC_YM"
              ]
            }
          }
        },
        "required": [
          "nextPage",
          "data"
        ],
        "title": "LH 임대주택 조회 응답"
      },
      "IPaginationInputPickParkingLotrdnmadr": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "rdnmadr": {
            "type": "string",
            "title": "소재지도로명주소"
          }
        }
      },
      "IPaginationInputPickParkingLotlnmadr": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "lnmadr": {
            "type": "string",
            "title": "소재지지번주소"
          }
        }
      },
      "INIA.IGetParkingLotOutput": {
        "type": "object",
        "properties": {
          "parkingLots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INIA.ParkingLot"
            },
            "title": "주차장 정보"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "totalCount": {
            "type": "number",
            "title": "전체 데이터 수"
          }
        },
        "required": [
          "parkingLots",
          "totalCount"
        ],
        "title": "주차장 조회 응답"
      },
      "INIA.ParkingLot": {
        "type": "object",
        "properties": {
          "prkplceNo": {
            "type": "string",
            "title": "주차장관리번호"
          },
          "prkplceNm": {
            "type": "string",
            "title": "주차장명"
          },
          "prkplceSe": {
            "type": "string",
            "title": "주차장구분"
          },
          "prkplceType": {
            "type": "string",
            "title": "주차장유형"
          },
          "rdnmadr": {
            "type": "string",
            "title": "소재지도로명주소"
          },
          "lnmadr": {
            "type": "string",
            "title": "소재지지번주소"
          },
          "prkcmprt": {
            "type": "string",
            "title": "주차구획수"
          },
          "feedingSe": {
            "type": "string",
            "title": "급지구분"
          },
          "enforceSe": {
            "type": "string",
            "title": "부제시행구분"
          },
          "operDay": {
            "type": "string",
            "title": "운영요일"
          },
          "weekdayOperOpenHhmm": {
            "type": "string",
            "title": "평일운영시작시각"
          },
          "weekdayOperColseHhmm": {
            "type": "string",
            "title": "평일운영종료시각"
          },
          "satOperOperOpenHhmm": {
            "type": "string",
            "title": "토요일운영시작시각"
          },
          "satOperCloseHhmm": {
            "type": "string",
            "title": "토요일운영종료시각"
          },
          "holidayOperOpenHhmm": {
            "type": "string",
            "title": "공휴일운영시작시각"
          },
          "holidayCloseOpenHhmm": {
            "type": "string",
            "title": "공휴일운영종료시각"
          },
          "parkingchrgeInfo": {
            "type": "string",
            "title": "요금정보"
          },
          "basicTime": {
            "type": "string",
            "title": "주차기본시간"
          },
          "basicCharge": {
            "type": "string",
            "title": "주차기본요금"
          },
          "addUnitTime": {
            "type": "string",
            "title": "추가단위시간"
          },
          "addUnitCharge": {
            "type": "string",
            "title": "추가단위요금"
          },
          "dayCmmtktAdjTime": {
            "type": "string",
            "title": "1일주차권요금적용시간"
          },
          "dayCmmtkt": {
            "type": "string",
            "title": "1일주차권요금"
          },
          "monthCmmtkt": {
            "type": "string",
            "title": "월정기권요금"
          },
          "metpay": {
            "type": "string",
            "title": "결제방법"
          },
          "spcmnt": {
            "type": "string",
            "title": "특기사항"
          },
          "institutionNm": {
            "type": "string",
            "title": "관리기관명"
          },
          "phoneNumber": {
            "type": "string",
            "title": "전화번호"
          },
          "latitude": {
            "type": "string",
            "title": "위도"
          },
          "longitude": {
            "type": "string",
            "title": "경도"
          },
          "pwdbsPpkZoneYn": {
            "type": "string",
            "title": "장애인전용주차구역보유여부"
          },
          "referenceDate": {
            "type": "string",
            "title": "데이터기준일자"
          },
          "instt_code": {
            "type": "string",
            "title": "제공기관코드"
          },
          "instt_nm": {
            "type": "string",
            "title": "제공기관기관명"
          }
        }
      },
      "IMOLIT.GetBuildingInfoInput": {
        "type": "object",
        "properties": {
          "sigunguCd": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "array": "return response.rows",
              "value": "return elem.sigunguCd",
              "label": "return elem.sigunguNm"
            },
            "title": "시군구 코드"
          },
          "bjdongCd": {
            "type": "string",
            "x-wrtn-prerequisite": {
              "method": "post",
              "path": "/connector/open-data/getStandardRegionCodeList",
              "array": "return response.rows",
              "value": "return elem.sigunguCd",
              "label": "return elem.locatadd_nm"
            },
            "title": "법정동 코드"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          }
        },
        "required": [
          "sigunguCd",
          "bjdongCd"
        ],
        "title": "빌딩 조회 조건"
      },
      "IMOLIT.GetBuildingInfoOutput": {
        "type": "object",
        "properties": {
          "bulidings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IMOLIT.Building"
            },
            "title": "빌딩 정보 목록"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "totalCount": {
            "type": "number",
            "title": "전체 데이터 수"
          }
        },
        "required": [
          "bulidings",
          "totalCount"
        ],
        "title": "빌딩 조회 응답"
      },
      "IMOLIT.Building": {
        "type": "object",
        "properties": {
          "mainPurpsCdNm": {
            "type": "string",
            "title": "주용도코드명"
          },
          "etcPurps": {
            "type": "string",
            "title": "기타용도"
          },
          "roofCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "지붕코드"
          },
          "roofCdNm": {
            "type": "string",
            "title": "지붕코드명"
          },
          "etcRoof": {
            "type": "string",
            "title": "기타지붕"
          },
          "hhldCnt": {
            "type": "number",
            "title": "세대수(세대)"
          },
          "fmlyCnt": {
            "type": "number",
            "title": "가구수(가구)"
          },
          "heit": {
            "type": "number",
            "title": "높이(m)"
          },
          "grndFlrCnt": {
            "type": "number",
            "title": "지상층수"
          },
          "ugrndFlrCnt": {
            "type": "number",
            "title": "지하층수"
          },
          "rideUseElvtCnt": {
            "type": "number",
            "title": "승용승강기수"
          },
          "emgenUseElvtCnt": {
            "type": "number",
            "title": "비상용승강기수"
          },
          "atchBldCnt": {
            "type": "number",
            "title": "부속건축물수"
          },
          "atchBldArea": {
            "type": "number",
            "title": "부속건축물면적(㎡)"
          },
          "totDongTotArea": {
            "type": "number",
            "title": "총동연면적(㎡)"
          },
          "indrMechUtcnt": {
            "type": "number",
            "title": "옥내기계식대수(대)"
          },
          "indrMechArea": {
            "type": "number",
            "title": "옥내기계식면적(㎡)"
          },
          "oudrMechUtcnt": {
            "type": "number",
            "title": "옥외기계식대수(대)"
          },
          "oudrMechArea": {
            "type": "number",
            "title": "옥외기계식면적(㎡)"
          },
          "indrAutoUtcnt": {
            "type": "number",
            "title": "옥내자주식대수(대)"
          },
          "indrAutoArea": {
            "type": "number",
            "title": "옥내자주식면적(㎡)"
          },
          "oudrAutoUtcnt": {
            "type": "number",
            "title": "옥외자주식대수(대)"
          },
          "oudrAutoArea": {
            "type": "number",
            "title": "옥외자주식면적(㎡)"
          },
          "pmsDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가일"
          },
          "stcnsDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "착공일"
          },
          "useAprDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "사용승인일"
          },
          "pmsnoYear": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가번호년"
          },
          "pmsnoKikCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가번호기관코드"
          },
          "pmsnoKikCdNm": {
            "type": "string",
            "title": "허가번호기관코드명"
          },
          "pmsnoGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "허가번호구분코드"
          },
          "pmsnoGbCdNm": {
            "type": "string",
            "title": "허가번호구분코드명"
          },
          "hoCnt": {
            "type": "number",
            "title": "호수(호)"
          },
          "engrGrade": {
            "type": "string",
            "title": "에너지효율등급"
          },
          "engrRat": {
            "type": "number",
            "title": "에너지절감율"
          },
          "engrEpi": {
            "type": "number",
            "title": "EPI점수"
          },
          "gnBldGrade": {
            "type": "string",
            "title": "친환경건축물등급"
          },
          "gnBldCert": {
            "type": "number",
            "title": "친환경건축물인증점수"
          },
          "itgBldGrade": {
            "type": "string",
            "title": "지능형건축물등급"
          },
          "itgBldCert": {
            "type": "number",
            "title": "지능형건축물인증점수"
          },
          "crtnDay": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "생성일자"
          },
          "rnum": {
            "type": "number",
            "title": "순번"
          },
          "platPlc": {
            "type": "string",
            "title": "대지위치"
          },
          "sigunguCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "시군구코드"
          },
          "bjdongCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "법정동코드"
          },
          "platGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "대지구분코드"
          },
          "bun": {
            "type": "string",
            "title": "번",
            "description": "한국 주소 명칭 중 하나"
          },
          "ji": {
            "type": "string",
            "title": "지",
            "description": "한국 주소 명칭 중 하나"
          },
          "mgmBldrgstPk": {
            "type": "string",
            "title": "관리건축물대장PK"
          },
          "regstrGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "대장구분코드"
          },
          "regstrGbCdNm": {
            "type": "string",
            "title": "대장구분코드명"
          },
          "regstrKindCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "대장종류코드"
          },
          "regstrKindCdNm": {
            "type": "string",
            "title": "대장종류코드명"
          },
          "newPlatPlc": {
            "type": "string",
            "title": "도로명대지위치"
          },
          "bldNm": {
            "type": "string",
            "title": "건물명"
          },
          "splotNm": {
            "type": "string",
            "title": "특수지명"
          },
          "block": {
            "type": "string",
            "title": "블록"
          },
          "lot": {
            "type": "string",
            "title": "로트"
          },
          "bylotCnt": {
            "type": "number",
            "title": "외필지수"
          },
          "naRoadCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "새주소도로코드"
          },
          "naBjdongCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "새주소법정동코드"
          },
          "naUgrndCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "새주소지상지하코드"
          },
          "naMainBun": {
            "type": "number",
            "title": "새주소본번"
          },
          "naSubBun": {
            "type": "number",
            "title": "새주소부번"
          },
          "dongNm": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "동명칭"
          },
          "mainAtchGbCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "주부속구분코드"
          },
          "mainAtchGbCdNm": {
            "type": "string",
            "title": "주부속구분코드명"
          },
          "platArea": {
            "type": "number",
            "title": "대지면적(㎡)"
          },
          "archArea": {
            "type": "number",
            "title": "건축면적(㎡)"
          },
          "bcRat": {
            "type": "number",
            "title": "건폐율(%)"
          },
          "totArea": {
            "type": "number",
            "title": "연면적(㎡)"
          },
          "vlRatEstmTotArea": {
            "type": "number",
            "title": "용적률산정연면적(㎡)"
          },
          "vlRat": {
            "type": "number",
            "title": "용적률(%)"
          },
          "strctCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "구조코드"
          },
          "strctCdNm": {
            "type": "string",
            "title": "구조코드명"
          },
          "etcStrct": {
            "type": "string",
            "title": "기타구조"
          },
          "mainPurpsCd": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "title": "주용도코드"
          },
          "rserthqkDsgnApplyYn": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Constant1__type"
              },
              {
                "$ref": "#/components/schemas/Constant0__type"
              },
              {
                "$ref": "#/components/schemas/Constant__type"
              }
            ],
            "title": "내진설계적용여부"
          },
          "rserthqkAblty": {
            "type": "string",
            "title": "내진능력"
          }
        },
        "required": [
          "crtnDay",
          "platPlc",
          "sigunguCd",
          "bjdongCd",
          "mgmBldrgstPk"
        ]
      },
      "Constant1__type": {
        "const": 1,
        "title": "적용"
      },
      "Constant0__type": {
        "const": 0,
        "title": "미적용"
      },
      "Constant__type": {
        "const": " ",
        "title": "알 수 없음"
      },
      "IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListInput": {
        "type": "object",
        "properties": {
          "locatadd_nm": {
            "type": "string",
            "x-wrtn-placeholder": "서울특별시",
            "title": "지역주소명"
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          }
        },
        "required": [
          "locatadd_nm"
        ],
        "title": "행정표준코드 조회 요청"
      },
      "IOpenData.MinistryOfTheInteriorAndSafety.IGetStandardRegionCodeListOutput": {
        "type": "object",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "region_cd": {
                  "type": "string",
                  "title": "지역코드"
                },
                "sido_cd": {
                  "type": "string",
                  "title": "시도코드"
                },
                "sgg_cd": {
                  "type": "string",
                  "title": "시군구코드"
                },
                "sigunguCd": {
                  "type": "string",
                  "title": "시도, 시군구 코드",
                  "description": "시도코드와 시군구코드의 합"
                },
                "sigunguNm": {
                  "type": "string",
                  "title": "시군구 이름"
                },
                "umd_cd": {
                  "type": "string",
                  "title": "읍면동코드"
                },
                "ri_cd": {
                  "type": "string",
                  "title": "리코드"
                },
                "bjdongCd": {
                  "type": "string",
                  "title": "법정동 코드"
                },
                "locatjumin_cd": {
                  "type": "string",
                  "title": "지역코드_주민"
                },
                "locatjijuk_cd": {
                  "type": "string",
                  "title": "지역코드_지적"
                },
                "locatadd_nm": {
                  "type": "string",
                  "title": "지역주소명"
                },
                "locat_order": {
                  "type": "integer",
                  "title": "서열"
                },
                "locat_rm": {
                  "type": "string",
                  "title": "비고"
                },
                "locathigh_cd": {
                  "type": "string",
                  "title": "상위지역코드"
                },
                "locallow_nm": {
                  "type": "string",
                  "title": "최하위지역명"
                },
                "adpt_de": {
                  "type": "string",
                  "title": "생성일"
                }
              },
              "required": [
                "region_cd",
                "sigunguNm"
              ]
            }
          },
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "totalCount": {
            "type": "number",
            "title": "전체 데이터 수"
          }
        },
        "required": [
          "rows",
          "totalCount"
        ],
        "title": "행정표준코드 조회 결과"
      },
      "IPaginationInputlikeItmsNm(stringMaxLength120Placeholder삼성전자)undefinedbasDt(stringPlaceholder20220919)undefined": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "likeItmsNm": {
            "type": "string",
            "maxLength": 120,
            "x-wrtn-placeholder": "삼성전자",
            "title": "종목명 검색 키워드"
          },
          "basDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "기준일자",
            "description": "검색값과 기준일자가 일치하는 데이터 검색"
          }
        }
      },
      "IPaginationInputlikeItmsNm(stringMaxLength120Placeholder삼성전자)undefinedbeginBasDt(stringPlaceholder20220919)undefinedendBasDt(stringPlaceholder...)undefined": {
        "type": "object",
        "properties": {
          "numOfRows": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "pageNo": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "likeItmsNm": {
            "type": "string",
            "maxLength": 120,
            "x-wrtn-placeholder": "삼성전자",
            "title": "종목명 검색 키워드"
          },
          "beginBasDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "기준일자(이상)",
            "description": "기준일자가 검색값보다 크거나 같은 데이터를 검색"
          },
          "endBasDt": {
            "type": "string",
            "x-wrtn-placeholder": "20220919",
            "title": "기준일자(미만)",
            "description": "기준일자가 검색값보다 작은 데이터를 검색"
          }
        }
      },
      "IOpenData.FinancialServicesCommission.IGetStockPriceInfoOutput": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "body": {
                "type": "object",
                "properties": {
                  "numOfRows": {
                    "type": "integer",
                    "default": 10,
                    "title": "한 페이지 당 결과 수"
                  },
                  "pageNo": {
                    "type": "integer",
                    "default": 1,
                    "title": "페이지 번호"
                  },
                  "totalCount": {
                    "type": "number",
                    "title": "전체 데이터 수"
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "item": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "basDt": {
                              "type": "string",
                              "x-wrtn-placeholder": "20220919",
                              "title": "기준 일자"
                            },
                            "srtnCd": {
                              "type": "string",
                              "title": "단축 코드",
                              "description": "종목 코드보다 짧으면서 유일성이 보장되는 6자리 코드"
                            },
                            "isinCd": {
                              "type": "string",
                              "title": "ISIN 코드",
                              "description": "국제 채권 식별 번호"
                            },
                            "itmsNm": {
                              "type": "string",
                              "title": "종목 명칭"
                            },
                            "mrktCtg": {
                              "oneOf": [
                                {
                                  "$ref": "#/components/schemas/ConstantKOSPI__type"
                                },
                                {
                                  "$ref": "#/components/schemas/ConstantKOSDAQ__type"
                                },
                                {
                                  "$ref": "#/components/schemas/ConstantKONEX__type"
                                }
                              ],
                              "title": "주식의 시장 구분"
                            },
                            "clpr": {
                              "type": "string",
                              "title": "종가",
                              "description": "정규시장의 매매시간 종료 시 형성되는 최종 가격"
                            },
                            "vs": {
                              "type": "string",
                              "title": "대비",
                              "description": "전일 대비 등락"
                            },
                            "fltRt": {
                              "type": "string",
                              "title": "등락률",
                              "description": "전일 대비 등락에 따른 비율"
                            },
                            "mkp": {
                              "type": "string",
                              "title": "정규 시간의 매매 시간",
                              "description": "개시 후 형성되는 최초 가격"
                            },
                            "hipr": {
                              "type": "string",
                              "title": "고가",
                              "description": "하루 중 가격의 최고치"
                            },
                            "lopr": {
                              "type": "string",
                              "title": "저가",
                              "description": "하루 중 가격의 최저치"
                            },
                            "trqu": {
                              "type": "string",
                              "title": "거래량",
                              "description": "체결수량의 누적합계"
                            },
                            "trPrc": {
                              "type": "string",
                              "title": "거래 대금",
                              "description": "거래건 별 체결가격 * 체결수량의 누적 합계"
                            },
                            "lstgStCnt": {
                              "type": "string",
                              "title": "상장주식수"
                            },
                            "mrktTotAmt": {
                              "type": "string",
                              "title": "시가총액",
                              "description": "종가 * 상장주식수"
                            }
                          },
                          "required": [
                            "basDt",
                            "srtnCd",
                            "isinCd",
                            "itmsNm",
                            "mrktCtg",
                            "clpr",
                            "vs",
                            "fltRt",
                            "mkp",
                            "hipr",
                            "lopr",
                            "trqu",
                            "trPrc",
                            "lstgStCnt",
                            "mrktTotAmt"
                          ]
                        }
                      }
                    },
                    "required": [
                      "item"
                    ],
                    "title": "조회된 기업 정보"
                  }
                },
                "required": [
                  "numOfRows",
                  "pageNo",
                  "totalCount",
                  "items"
                ]
              }
            },
            "required": [
              "body"
            ]
          }
        },
        "required": [
          "response"
        ],
        "title": "시가총액 및 주식 정보 조회 결과"
      },
      "ConstantKOSPI__type": {
        "const": "KOSPI",
        "title": "KOSPI"
      },
      "ConstantKOSDAQ__type": {
        "const": "KOSDAQ",
        "title": "KOSDAQ"
      },
      "ConstantKONEX__type": {
        "const": "KONEX",
        "title": "KONEX"
      },
      "IOpenData.IKoreaMeteorologicalAdministration.IGetVillageForecastInformationInput": {
        "type": "object",
        "properties": {
          "nx": {
            "type": "number",
            "title": "격자 좌표 값의 x 좌표."
          },
          "ny": {
            "type": "number",
            "title": "격자 좌표 값의 y 좌표."
          }
        },
        "required": [
          "nx",
          "ny"
        ],
        "title": "날씨 조회를 위한 요청 조건"
      },
      "IOpenData.IKoreaMeteorologicalAdministration.IGetVillageForecastInformationOutput": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "body": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "item": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "baseDate": {
                              "type": "string",
                              "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                              "title": "`20240619`와 같은 년,월,일자가 합성된 날짜 값."
                            },
                            "baseTime": {
                              "type": "string",
                              "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                              "title": "`1200`와 같이 정각 시간을 나타내는 시간 값."
                            },
                            "category": {
                              "$ref": "#/components/schemas/IOpenData.IKoreaMeteorologicalAdministration.CategoryType",
                              "title": "카테고리."
                            },
                            "nx": {
                              "type": "number",
                              "title": "격자 좌표 값의 x 좌표."
                            },
                            "ny": {
                              "type": "number",
                              "title": "격자 좌표 값의 y 좌표."
                            },
                            "obsrValue": {
                              "type": "string",
                              "pattern": "^([+-]?\\d+(?:\\.\\d+)?(?:[eE][+-]?\\d+)?)$",
                              "title": "카테고리에 해당하는 값."
                            }
                          },
                          "required": [
                            "baseDate",
                            "baseTime",
                            "category",
                            "nx",
                            "ny",
                            "obsrValue"
                          ]
                        }
                      }
                    },
                    "required": [
                      "item"
                    ]
                  }
                },
                "required": [
                  "items"
                ]
              }
            },
            "required": [
              "body"
            ]
          }
        },
        "required": [
          "response"
        ],
        "title": "날씨 조회 결과"
      },
      "IOpenData.IKoreaMeteorologicalAdministration.CategoryType": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ConstantPOP__type"
          },
          {
            "$ref": "#/components/schemas/ConstantPTY__type"
          },
          {
            "$ref": "#/components/schemas/ConstantPCP__type"
          },
          {
            "$ref": "#/components/schemas/ConstantREH__type"
          },
          {
            "$ref": "#/components/schemas/ConstantSNO__type"
          },
          {
            "$ref": "#/components/schemas/ConstantSKY__type"
          },
          {
            "$ref": "#/components/schemas/ConstantTMP__type"
          },
          {
            "$ref": "#/components/schemas/ConstantTMN__type"
          },
          {
            "$ref": "#/components/schemas/ConstantTMX__type"
          },
          {
            "$ref": "#/components/schemas/ConstantUUU__type"
          },
          {
            "$ref": "#/components/schemas/ConstantVVV__type"
          },
          {
            "$ref": "#/components/schemas/ConstantWAV__type"
          },
          {
            "$ref": "#/components/schemas/ConstantVEC__type"
          },
          {
            "$ref": "#/components/schemas/ConstantWSD__type"
          },
          {
            "$ref": "#/components/schemas/ConstantT1H__type"
          },
          {
            "$ref": "#/components/schemas/ConstantRN1__type"
          },
          {
            "$ref": "#/components/schemas/ConstantVEC__type.o1"
          },
          {
            "$ref": "#/components/schemas/ConstantT1H__type.o1"
          }
        ],
        "title": "단기 예보에서 표현되는 코드 값."
      },
      "ConstantPOP__type": {
        "const": "POP",
        "title": "강수확률",
        "description": "단위는 %"
      },
      "ConstantPTY__type": {
        "const": "PTY",
        "title": "강수형태",
        "description": "코드 값"
      },
      "ConstantPCP__type": {
        "const": "PCP",
        "title": "1시간 강수량",
        "description": "범주(1mm)"
      },
      "ConstantREH__type": {
        "const": "REH",
        "title": "습도",
        "description": "단위는 %"
      },
      "ConstantSNO__type": {
        "const": "SNO",
        "title": "1시간 신적설",
        "description": "범주(1cm)"
      },
      "ConstantSKY__type": {
        "const": "SKY",
        "title": "하늘 상태",
        "description": "코드 값"
      },
      "ConstantTMP__type": {
        "const": "TMP",
        "title": "1시간 기온",
        "description": "섭씨 온도"
      },
      "ConstantTMN__type": {
        "const": "TMN",
        "title": "일 최저기온",
        "description": "섭씨 온도"
      },
      "ConstantTMX__type": {
        "const": "TMX",
        "title": "일 최고기온",
        "description": "섭씨 온도"
      },
      "ConstantUUU__type": {
        "const": "UUU",
        "title": "풍속 (동서성분)",
        "description": "m/s"
      },
      "ConstantVVV__type": {
        "const": "VVV",
        "title": "풍속 (남북성분)",
        "description": "m/s"
      },
      "ConstantWAV__type": {
        "const": "WAV",
        "title": "파고 (파도높이)",
        "description": "M"
      },
      "ConstantVEC__type": {
        "const": "VEC",
        "title": "풍향",
        "description": "각도 (deg)"
      },
      "ConstantWSD__type": {
        "const": "WSD",
        "title": "풍속",
        "description": "m/s"
      },
      "ConstantT1H__type": {
        "const": "T1H",
        "title": "기온",
        "description": "섭씨 온도"
      },
      "ConstantRN1__type": {
        "const": "RN1",
        "title": "1시간 강수량",
        "description": "mm"
      },
      "ConstantVEC__type.o1": {
        "const": "VEC",
        "title": "풍향",
        "description": "deg"
      },
      "ConstantT1H__type.o1": {
        "const": "T1H",
        "title": "기온",
        "description": "섭씨 온도"
      },
      "KoreaCopyrightCommission.IGetCopyRightInput": {
        "type": "object",
        "properties": {
          "perPage": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "REG_ID": {
            "type": "string",
            "title": "저작권 등록번호",
            "description": "완전일치하는 저작권만 조회된다."
          },
          "CONT_TITLE": {
            "type": "string",
            "x-wrtn-placeholder": "제호 (명칭)",
            "title": "제호(명칭)"
          },
          "AUTHOR_NAME": {
            "type": "string",
            "x-wrtn-placeholder": "저작자 이름",
            "title": "저작권 이름"
          }
        },
        "title": "저작권 조회 조건"
      },
      "KoreaCopyrightCommission.IGetCopyRightOutput": {
        "type": "object",
        "properties": {
          "currentCount": {
            "type": "integer",
            "title": "현재 페이지 개수"
          },
          "matchCount": {
            "type": "integer",
            "title": "검색 조건에 일치하는 저작권 수"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PickIGetCopyRightInputREG_IDCONT_TITLEAUTHOR_NAMEREG_DATEstringFormatdate"
            },
            "title": "검색 결과"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "title": "페이지 번호"
          },
          "perPage": {
            "type": "integer",
            "default": 10,
            "title": "한 페이지 당 결과 수"
          }
        },
        "required": [
          "currentCount",
          "matchCount",
          "data"
        ],
        "title": "저작권 조회 결과"
      },
      "PickIGetCopyRightInputREG_IDCONT_TITLEAUTHOR_NAMEREG_DATEstringFormatdate": {
        "type": "object",
        "properties": {
          "REG_ID": {
            "type": "string",
            "title": "저작권 등록번호",
            "description": "완전일치하는 저작권만 조회된다."
          },
          "CONT_TITLE": {
            "type": "string",
            "x-wrtn-placeholder": "제호 (명칭)",
            "title": "제호(명칭)"
          },
          "AUTHOR_NAME": {
            "type": "string",
            "x-wrtn-placeholder": "저작자 이름",
            "title": "저작권 이름"
          },
          "REG_DATE": {
            "type": "string",
            "format": "date",
            "title": "저작권 등록일"
          }
        },
        "required": [
          "REG_DATE"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "주거"
    },
    {
      "name": "단독주택"
    },
    {
      "name": "다가구"
    },
    {
      "name": "월세"
    },
    {
      "name": "전세"
    },
    {
      "name": "오피스텔"
    },
    {
      "name": "공공 데이터"
    },
    {
      "name": "아파트"
    },
    {
      "name": "LH"
    },
    {
      "name": "임대주택"
    },
    {
      "name": "행복주택"
    },
    {
      "name": "주차장"
    },
    {
      "name": "주차"
    },
    {
      "name": "건축물"
    },
    {
      "name": "빌딩"
    },
    {
      "name": "내진설계"
    },
    {
      "name": "건축물대장정보"
    },
    {
      "name": "행정구역"
    },
    {
      "name": "지역구"
    },
    {
      "name": "읍면동"
    },
    {
      "name": "시도"
    },
    {
      "name": "시군구"
    },
    {
      "name": "주식"
    },
    {
      "name": "시가총액"
    },
    {
      "name": "기업"
    },
    {
      "name": "자본"
    },
    {
      "name": "날씨"
    },
    {
      "name": "기상청"
    },
    {
      "name": "오늘 날씨"
    },
    {
      "name": "기후"
    },
    {
      "name": "저작권"
    }
  ],
  "x-samchon-emended": true
}