{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "Production Server"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "Develop Server"
    },
    {
      "url": "http://localhost:3003",
      "description": "Local Server"
    }
  ],
  "info": {
    "title": "생산성",
    "version": "0.1.25",
    "description": "Starter kit of Nestia",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/connector/daum/blog": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.IBlogDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 블로그 검색",
        "description": "다음 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/daum/cafe": {
      "post": {
        "tags": [
          "Daum",
          "다음",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "다음 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDaum.ISearchDaumInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDaum.ICafeDaumOutput"
                }
              }
            }
          }
        },
        "summary": "다음 카페 검색",
        "description": "다음 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/daum.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/cafe": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "카페",
          "블로그",
          "포스트",
          "Cafe",
          "Blog",
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 카페 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.ICafeNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 카페 검색",
        "description": "네이버 카페 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_cafe.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/naver/blog": {
      "post": {
        "tags": [
          "Naver",
          "네이버",
          "블로그",
          "Blog"
        ],
        "parameters": [],
        "requestBody": {
          "description": "네이버 블로그 검색을 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INaver.INaverKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INaver.IBlogNaverOutput"
                }
              }
            }
          }
        },
        "summary": "네이버 블로그 검색",
        "description": "네이버 블로그 컨텐츠를 검색합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/naver_blog.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/csv/read": {
      "post": {
        "tags": [
          "CSV",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "엑셀",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "CSV 파일을 읽어 오기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICsv.IReadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CSV 파일 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICsv.IReadOutput"
                }
              }
            }
          }
        },
        "summary": "CSV 파일 읽기",
        "description": "CSV 파일 내용을 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/csv.svg"
      }
    },
    "/connector/csv/write": {
      "post": {
        "tags": [
          "CSV",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "엑셀",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "CSV 파일을 생성하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICsv.IWriteInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICsv.IWriteOutput"
                }
              }
            }
          }
        },
        "summary": "CSV 파일 생성",
        "description": "CSV 파일을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/csv.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/csv/csv-to-excel": {
      "post": {
        "tags": [
          "CSV",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "엑셀",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "CSV 파일을 엑셀 파일로 변환하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICsv.ICsvToExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "excel file url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICsv.ICsvToExcelOutput"
                }
              }
            }
          }
        },
        "summary": "CSV 파일 Excel 파일 변환",
        "description": "CSV 파일을 엑셀 파일로 변환합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/csv.svg"
      }
    },
    "/connector/notion/page": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "description": "페이지 생성에 필요한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreatePageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 페이지 고유 id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.ICreatePageOutput"
                }
              }
            }
          }
        },
        "summary": "페이지 생성",
        "description": "노션 페이지를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/page": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "페이지 정보들",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IReadPageOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "페이지 목록 조회",
        "description": "노션 워크스페이스에 존재하는 모든 페이지 목록을 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/users": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "유저 정보들",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IUserOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "유저 목록 조회",
        "description": "워크스페이스에 있는 유저 목록을 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/page/content/{pageId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/page",
                "jmesPath": "[].{value:pageId, label:title || ''}"
              }
            },
            "required": true,
            "title": "내용을 추가할 페이지",
            "description": "내용을 추가할 페이지를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "페이지에 추가할 내용 및 추가할 페이지 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IAppendPageToContentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "void"
          }
        },
        "summary": "페이지에 내용 추가",
        "description": "페이지 끝에 내용을 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/database-info": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "데이터베이스 정보 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IDatabaseInfo"
                  }
                }
              }
            }
          }
        },
        "summary": "데이터베이스 목록 조회",
        "description": "데이터베이스에 아이템을 생성하기 위해 데이터베이스 목록을 조회합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get/database-info/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "title": "정보를 받아올 데이터베이스",
            "description": "정보를 받아올 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "데이터베이스 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseInfo"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 정보 조회",
        "description": "데이터베이스에 아이템을 생성하기 위한 데이터베이스 정보를 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/database-item/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "title": "아이템을 추가할 데이터베이스",
            "description": "아이템을 추가할 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "데이터베이스 아이템 생성에 필요한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ICreateDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 데이터베이스 아이템 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 생성",
        "description": "노션 테이블 데이터베이스에 아이템을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      },
      "patch": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "title": "아이템을 수정할 데이터베이스",
            "description": "아이템을 수정할 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "수정할 데이터베이스 아이템 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IUpdateDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정된 데이터베이스 아이템 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 수정",
        "description": "데이터베이스에 있는 아이템 정보를 수정합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/get-page-by-title": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [],
        "requestBody": {
          "description": "페이지 제목",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IFindPageOrDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "검색된 페이지 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IFindPageByTitleOutput"
                }
              }
            }
          }
        },
        "summary": "제목으로 페이지 검색",
        "description": "제목으로 페이지를 검색합니다.",
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/find-item-list/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "title": "아이템 목록을 가져올 데이터베이스",
            "description": "아이템 목록을 가져올 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회된 데이터베이스 아이템 목록 정보",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 목록 조회",
        "description": "테이블 데이터베이스에 존재하는 아이템 목록을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/notion/find-item/{databaseId}": {
      "post": {
        "tags": [
          "Notion",
          "노션",
          "노트",
          "메모",
          "작업",
          "프로젝트",
          "할",
          "일정",
          "문서",
          "회의록",
          "체크리스트",
          "아이디어",
          "업무",
          "학습",
          "스터디",
          "제품기획",
          "이력서",
          "포트폴리오",
          "협업",
          "Note",
          "Memo",
          "Task",
          "Project",
          "To",
          "Schedule",
          "Document",
          "Meeting",
          "Checklist",
          "Idea",
          "Work",
          "Study",
          "Product",
          "Resume",
          "Portfolio",
          "Collaboration"
        ],
        "parameters": [
          {
            "name": "databaseId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/notion/get/database-info",
                "jmesPath": "[].{value:id, label:title || ''}"
              }
            },
            "required": true,
            "title": "아이템 정보를 가져올 데이터베이스",
            "description": "아이템 정보를 가져올 데이터베이스를 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "데이터베이스 아이템 조회에 필요한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/INotion.IFindDatabaseItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "조회된 데이터베이스 아이템 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/INotion.IDatabaseItemOutput"
                }
              }
            }
          }
        },
        "summary": "데이터베이스 아이템 조회",
        "description": "테이블 데이터베이스에 존재하는 아이템을 조회합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/notion.svg"
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "후보 선택을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "summary": "조건 선택",
        "description": "주어진 후보 중에서 조건에 맞는 것을 선택합니다."
      }
    },
    "/connector/hwp/parse": {
      "post": {
        "tags": [
          "Hwp",
          "한글",
          "한글과",
          "한컴오피스",
          "hwp",
          "문서",
          "파일",
          "표",
          "차트",
          "이미지",
          "페이지",
          "글꼴",
          "글자",
          "PDF",
          "서식",
          "보고서",
          "서류",
          "텍스트",
          "가정통신문",
          "학교",
          "공무원",
          "Hancom",
          "Hangul",
          "HWP",
          "Document",
          "Open",
          "Save",
          "Insert",
          "Create",
          "Page",
          "Change",
          "Adjust",
          "Convert",
          "File",
          "Share",
          "Merge",
          "Write",
          "Enter",
          "Parent",
          "School",
          "Government"
        ],
        "parameters": [],
        "requestBody": {
          "description": "파싱할 hwp 파일",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파싱된 hwp 파일 텍스트 데이터.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "summary": "Hwp 파일 파싱",
        "description": "hwp 파일을 파싱합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/hwp.svg"
      }
    },
    "/connector/excel/read": {
      "post": {
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "내용을 가져올 엑셀 파일 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IReadExcelOutput"
                }
              }
            }
          }
        },
        "summary": "엑셀 파일 안의 내용 가져오기",
        "description": "입력된 파일 정보를 바탕으로 해당 엑셀 파일의 내용을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/worksheet": {
      "post": {
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크 시트 목록을 가져올 엑셀 파일 url",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IGetWorksheetListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "엑셀 워크 시트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IWorksheetListOutput"
                }
              }
            }
          }
        },
        "summary": "액셀 워크 시트 목록 가져오기",
        "description": "입력된 파일 url에 존재하는 엑셀 워크 시트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows": {
      "post": {
        "tags": [
          "Excel",
          "엑셀",
          "파일",
          "내보내기",
          "다운로드",
          "추출",
          "추출하기",
          "스프레드시트",
          "데이터",
          "텍스트",
          "대량",
          "File",
          "Export",
          "Download",
          "Extract",
          "Spreadsheet",
          "Save",
          "Load",
          "Data",
          "Database",
          "Import",
          "Convert",
          "Text",
          "Large",
          "Edit",
          "Split",
          "Integrate",
          "Create",
          "Open",
          "Filter",
          "Merge"
        ],
        "parameters": [],
        "requestBody": {
          "description": "엑셀 파일에 새로운 데이터를 추가 하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IInsertExcelRowOutput"
                }
              }
            }
          }
        },
        "summary": "액셀 데이터 추가",
        "description": "데이터를 엑셀시트에 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/google-docs": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 생성.",
        "description": "구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 docs 권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 권한 부여.",
        "description": "구글 docs에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "가져올 docs 파일",
            "description": "가져올 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 읽기.",
        "description": "구글 docs의 내용을 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "description": "복사할 구글 docs 링크와 생성할 구글 docs 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 구글 docs 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 복사.",
        "description": "이미 존재하는 구글 docs를 복사하여 새로운 구글 docs를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 docs 파일",
            "description": "삭제할 docs 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 docs 삭제.",
        "description": "구글 docs를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 docs 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 docs 목록 가져오기.",
        "description": "구글 docs 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "tags": [
          "Google-Docs",
          "구글",
          "문서",
          "협업",
          "실시간",
          "클라우드",
          "텍스트",
          "파일",
          "워드파일",
          "PDF로",
          "이미지",
          "차트",
          "표",
          "Google",
          "Collaboration",
          "Real-time",
          "Share",
          "Cloud",
          "Save",
          "Document",
          "Text",
          "Download",
          "Upload",
          "Edit",
          "File",
          "Export",
          "Print",
          "Open",
          "Search",
          "Insert"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 docs 텍스트 추가.",
        "description": "구글 docs에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_docs.svg"
      }
    },
    "/connector/google-sheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 URL과 가져올 헤더 index.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 헤더 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 헤더 정보 가져오기.",
        "description": "구글 시트의 헤더 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 권한 부여.",
        "description": "구글 시트에 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "구글 시트 url과 추가할 헤더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 시트 헤더 추가.",
        "description": "구글 시트에 헤더를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "description": "워크시트 목록을 가져올 구글 시트 url.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 워크시트 목록 가져오기.",
        "description": "구글 워크시트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "tags": [
          "Google-Sheet",
          "구글",
          "스프레드",
          "엑셀",
          "데이터",
          "차트",
          "함수",
          "셀",
          "피벗",
          "조건부",
          "파일",
          "CSV",
          "통계",
          "매크로",
          "자동화",
          "시트",
          "Google",
          "Spreadsheet",
          "Excel",
          "Enter",
          "Analyze",
          "Create",
          "Cell",
          "Filter",
          "Pivot",
          "Visualize",
          "Conditional",
          "Export",
          "Import",
          "Load",
          "Sort",
          "Clean",
          "Statistics",
          "Calculate",
          "Macro",
          "Automation",
          "Duplicate",
          "Delete",
          "Rename",
          "Lock",
          "Share",
          "Extract",
          "Merge",
          "Add",
          "Manage"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 시트 Row 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "summary": "구글 시트 Row 정보 가져오기.",
        "description": "구글 시트의 Row 정보를 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_sheet.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 목록 가져오기.",
        "description": "구글 캘린더 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 캘린더 제목.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 고유 ID와 캘린더 제목.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 생성.",
        "description": "구글 캘린더를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "삭제할 캘린더",
            "description": "삭제할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 삭제.",
        "description": "캘린더를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트 목록을 가져올 캘린더",
            "description": "이벤트 목록을 가져올 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트 목록을 가져오기 위한 조건.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 캘린더 이벤트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 목록 가져오기.",
        "description": "구글 캘린더에 있는 이벤트 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더",
            "description": "빠른 이벤트를 추가할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트를 추가할 캘린더 고유 ID, 이벤트 명.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 빠른 이벤트 추가.",
        "description": "구글 캘린더에 빠른 이벤트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 추가할 캘린더",
            "description": "이벤트를 추가할 캘린더를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "이벤트 추가를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "추가한 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 추가.",
        "description": "구글 캘린더에 이벤트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 수정할 캘린더",
            "description": "이벤트를 수정할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "수정할 이벤트",
            "description": "수정할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "업데이트 할 이벤트 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "업데이트 된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 수정.",
        "description": "이벤트를 수정합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      },
      "delete": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "이벤트를 삭제할 캘린더",
            "description": "이벤트를 삭제할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "삭제할 이벤트",
            "description": "삭제할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 캘린더 이벤트 삭제.",
        "description": "이벤트를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "tags": [
          "Google-Calendar",
          "구글",
          "캘린더",
          "일정",
          "회의",
          "약속",
          "시간",
          "달력",
          "스케줄",
          "반복",
          "시간표",
          "스케줄러",
          "이번",
          "다음",
          "월간",
          "개인",
          "팀",
          "업무",
          "휴가",
          "Google",
          "Calendar",
          "Manage",
          "Add",
          "Create",
          "Share",
          "Event",
          "Time",
          "Schedule",
          "Adjust",
          "Recurring",
          "Sync",
          "Invite",
          "Timetable",
          "Scheduler",
          "This",
          "Next",
          "Monthly",
          "Personal",
          "Team",
          "Work",
          "Vacation"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "title": "참석자를 추가할 캘린더",
            "description": "참석자를 추가할 캘린더를 선택해주세요."
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "title": "참석자를 추가할 이벤트를 선택해주세요",
            "description": "참석자를 추가할 이벤트를 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "추가할 참석자 이메일 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "참석자가 추가된 이벤트 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "summary": "구글 캘린더 이벤트 참석자 추가.",
        "description": "이벤트에 참석자를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_calendar.svg"
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 폴더 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 목록 가져오기.",
        "description": "구글 드라이브에 있는 폴더 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "구글 드라이브 파일 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 목록 가져오기.",
        "description": "구글 드라이브에 있는 파일 목록을 가져옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 폴더 이름.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 폴더 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 폴더 생성.",
        "description": "구글 드라이브에 새로운 폴더를 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "생성할 파일명과 파일을 생성할 폴더 고유 ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성된 파일 고유 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 생성.",
        "description": "구글 드라이브에 새로운 파일을 생성합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 파일",
            "description": "삭제할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 삭제.",
        "description": "구글 드라이브에 있는 파일을 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "삭제할 폴더",
            "description": "삭제할 폴더를 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 폴더 삭제.",
        "description": "구글 드라이브에 있는 폴더를 삭제합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [],
        "requestBody": {
          "description": "권한 부여를 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 권한 부여.",
        "description": "파일 또는 폴더에 접근하기 위한 권한을 부여합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/file/{id}/text": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "텍스트를 추가할 파일",
            "description": "텍스트를 추가할 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "description": "추가할 텍스트.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IAppendTextGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "구글 드라이브 파일 텍스트 추가.",
        "description": "파일에 텍스트를 추가합니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "tags": [
          "Google-Drive",
          "구글",
          "드라이브",
          "저장",
          "파일",
          "클라우드",
          "파일명",
          "폴더",
          "폴더명",
          "문서",
          "사진",
          "동영상",
          "협업",
          "자료",
          "설문",
          "팀",
          "Google",
          "Drive",
          "Save",
          "Share",
          "Sync",
          "Update",
          "Download",
          "Create",
          "Rename",
          "Delete",
          "Manage",
          "Add",
          "Search",
          "Collaborate",
          "Set",
          "Encrypt",
          "Edit",
          "Move",
          "Resources",
          "Survey",
          "Team"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "title": "읽어올 파일",
            "description": "읽어올 파일을 선택해 주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "파일 텍스트 내용.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IReadFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "summary": "구글 드라이브 파일 텍스트 읽기.",
        "description": "파일에서 텍스트를 읽어옵니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/google_drive.svg"
      }
    },
    "/connector/gmail/send": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일을 보내기 위해 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "전송된 메일의 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 전송",
        "description": "메일을 전송합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [],
        "requestBody": {
          "description": "메일 초안을 생성하기 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 초안 생성",
        "description": "메일 초안을 생성 합니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "답장할 메일",
            "description": "답장할 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "description": "메일 답장에 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "GMAIL 답장",
        "description": "수신된 메일에 답장을 보냅니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.\n\n이 커넥터는 이메일 보내는 용도이며,\n단순 텍스트로 보낼 경우에는 문장이 한 줄로 길게 보여지기 때문에 줄바꿈 문자를 넣어주셔야 합니다.\n현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용하고 있습니다.\n경우에 따라 html 형식을 사용할 수도 있습니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
          "Business"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "가져올 메일",
            "description": "가져올 메일을 선택해주세요."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "해당 메일의 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "summary": "GMAIL 정보 가져오기",
        "description": "메일의 정보를 가져옵니다\n\n지메일(gmail)은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다.",
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/gmail.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "tags": [
          "Gmail",
          "지메일",
          "이메일",
          "메일",
          "스팸",
          "첨부파일",
          "필터",
          "자동",
          "답장",
          "중요",
          "구글",
          "메일함",
          "일정",
          "비즈니스",
          "Email",
          "Mail",
          "Send",
          "Check",
          "Manage",
          "Search",
          "Attachment",
          "Set",
          "Auto",
          "Reply",
          "Archive",
          "Mark",
          "Delete",
          "Google",
          "Mailbox",
          "Schedule",
[...]
