name: Version Bump

on:
  push:
    branches:
      - main
    paths:
      - "src/api/structures/**"
      - "src/controllers/**"
      - "src/executable/**"
      - "package.json"

jobs:
  version_bump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org/"

      # - name: Authenticate to npm registry
      #   run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc

      - name: Secrets to Env
        run: |
          rm .env
          jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]' <<< "$SECRETS_CONTEXT" > .env
        env:
          SECRETS_CONTEXT: ${{ toJson(secrets) }}

      - name: Root Install
        run: npm install

      - name: Build
        working-directory: website
        run: npm install && npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./website/out

      - name: Checkout repository for versioning
        uses: actions/checkout@v4
        with:
          branch: main

      - name: Bump version for swagger
        run: |
          git config --local user.email "studio@wrtn.io"
          git config --local user.name "studio-pro"
          git pull
          npm version patch -m "Bump swagger version to %s [skip ci]"
          git push --set-upstream origin main --follow-tags

      - name: Bump version for sdk
        working-directory: packages/api
        run: |
          git config --local user.email "studio@wrtn.io"
          git config --local user.name "studio-pro"
          git pull
          npm version patch
          git add *
          git commit --no-verify -m "Bump sdk version to %s [skip ci]"
          git push --set-upstream origin main
        #   npm run deploy
        # env:
        #   NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
